
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-comment-sent-like-followed-3-yxZ {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.page-home-comment-sent-like-followed-3-yxZ .component-6-variant2-h7s {
  width: 148.2rem;
  height: 14.1rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .component-6-variant2-h7s .rectangle-1-ckd {
  width: 144rem;
  height: 13.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #4682a9;
}
.page-home-comment-sent-like-followed-3-yxZ .component-6-variant2-h7s .component-3-component-2-variant2-YeH {
  box-sizing: border-box;
  padding: 1.341rem 1.571rem 1.403rem 40.4rem;
  width: 44.2rem;
  height: 5.6rem;
  position: absolute;
  left: 17.6rem;
  top: 4.3rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.page-home-comment-sent-like-followed-3-yxZ .component-6-variant2-h7s .component-3-component-2-variant2-YeH .frame-qdP {
  width: 2.2295rem;
  height: 2.8565rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-sent-like-followed-3-yxZ .component-6-variant2-h7s .component-4-ZJV {
  width: 52.85rem;
  height: 2.7rem;
  position: absolute;
  left: 89.45rem;
  top: 9.9rem;
  display: flex;
  align-items: flex-start;
}
.page-home-comment-sent-like-followed-3-yxZ .component-6-variant2-h7s .component-4-ZJV .home-4m3 {
  margin-right: 1.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .component-6-variant2-h7s .component-4-ZJV .notifications-yt1 {
  margin-right: 2.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .component-6-variant2-h7s .component-4-ZJV .jobs-umf {
  margin: 0.1rem 2.85rem 0rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .component-6-variant2-h7s .component-4-ZJV .my-network-RV7 {
  margin-right: 1.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .component-6-variant2-h7s .component-4-ZJV .messaging-9vu {
  margin-top: 0.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .component-6-variant2-h7s .icon-taskbar-t7o {
  width: 51.6rem;
  height: 7.3375rem;
  position: absolute;
  left: 89.1rem;
  top: 1.4rem;
  display: flex;
  align-items: flex-end;
}
.page-home-comment-sent-like-followed-3-yxZ .component-6-variant2-h7s .icon-taskbar-t7o .icon-home-1CR {
  margin: 0rem 3.9rem 0.9rem 0rem;
  width: 6.9rem;
  height: 6.0375rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .component-6-variant2-h7s .icon-taskbar-t7o .icon-bell-JxD {
  margin: 0rem 4.2rem 0.038rem 0rem;
  width: 6.9rem;
  height: 6.9rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .component-6-variant2-h7s .icon-taskbar-t7o .icon-briefcase-EL5 {
  margin: 0rem 2.691rem 0.438rem 0rem;
  width: 6.9086rem;
  height: 6.9rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .component-6-variant2-h7s .icon-taskbar-t7o .icon-people-kJR {
  margin: 0rem 6.309rem 0.038rem 0rem;
  width: 6.8914rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .component-6-variant2-h7s .icon-taskbar-t7o .icon-chat-GXf {
  width: 6.9rem;
  height: 6.0375rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .component-6-variant2-h7s .profile-1k9 {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 5.5rem;
  top: 9.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .component-6-variant2-h7s .image-2-Kkq {
  width: 6.5rem;
  height: 6.4rem;
  position: absolute;
  left: 5.3rem;
  top: 3rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-sent-like-followed-3-yxZ .component-6-variant2-h7s .profile-dFj {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 5.5rem;
  top: 9.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .component-6-variant2-h7s .image-15-WaR {
  width: 6.5rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 5.3rem;
  top: 3rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH {
  box-sizing: border-box;
  padding-top: 5.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 {
  margin: 0rem 6.2rem 8.1rem 3rem;
  width: calc(100% - 9.2rem);
  height: 86.6rem;
  display: flex;
  column-gap: 5.1rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-vokq-Q3X {
  width: 28.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-vokq-Q3X .auto-group-okzb-wp9 {
  margin-bottom: 2.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-vokq-Q3X .auto-group-okzb-wp9 .auto-group-5ezz-6BF {
  width: 100%;
  height: 14.7rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-vokq-Q3X .auto-group-okzb-wp9 .auto-group-5ezz-6BF .wallpaperflare-2-dgy {
  width: 28.2rem;
  height: 9.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-vokq-Q3X .auto-group-okzb-wp9 .auto-group-5ezz-6BF .vector-m2V {
  width: 12rem;
  height: 12rem;
  position: absolute;
  left: 8.1rem;
  top: 2.7rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-vokq-Q3X .auto-group-okzb-wp9 .auto-group-jt3x-VUH {
  box-sizing: border-box;
  padding: 0.3rem 3.5rem 2.2rem 2.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-vokq-Q3X .auto-group-okzb-wp9 .auto-group-jt3x-VUH .auto-group-xahj-CtV {
  margin: 0rem 3.3rem 3.6rem 4.7rem;
  width: calc(100% - 8rem);
  height: 6.2rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-vokq-Q3X .auto-group-okzb-wp9 .auto-group-jt3x-VUH .auto-group-xahj-CtV .jonathan-milos-LE1 {
  width: 14.5rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-vokq-Q3X .auto-group-okzb-wp9 .auto-group-jt3x-VUH .auto-group-xahj-CtV .data-architect-3eD {
  width: 8.6rem;
  height: 2.7rem;
  position: absolute;
  left: 2.95rem;
  top: 3.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-vokq-Q3X .auto-group-okzb-wp9 .auto-group-jt3x-VUH .line-1-Yqs {
  margin: 0rem 0rem 2.3rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-vokq-Q3X .auto-group-okzb-wp9 .auto-group-jt3x-VUH .connection-4pD {
  margin: 0rem 15.7rem 2.2rem 0rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-vokq-Q3X .auto-group-okzb-wp9 .auto-group-jt3x-VUH .line-2-nER {
  margin: 0rem 0rem 1.3rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-vokq-Q3X .auto-group-okzb-wp9 .auto-group-jt3x-VUH .try-premium-7Gh {
  margin-right: 14.8rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-vokq-Q3X .auto-group-dfob-28m {
  box-sizing: border-box;
  padding: 3.2rem 3.5rem 2.1rem 2.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-vokq-Q3X .auto-group-dfob-28m .group-wmX {
  margin-bottom: 1.3rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-vokq-Q3X .auto-group-dfob-28m .events-H4h {
  margin-bottom: 1.1rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-vokq-Q3X .auto-group-dfob-28m .followed-hashtags-ooj {
  margin-bottom: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-vokq-Q3X .auto-group-dfob-28m .line-3-L2y {
  margin: 0rem 0rem 1.5rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-vokq-Q3X .auto-group-dfob-28m .discover-more-GBX {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm {
  width: 63.3rem;
  height: 100%;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .frame-3-8jX {
  margin-bottom: 5.6rem;
  box-sizing: border-box;
  padding: 0.6rem 1.3rem 0.8rem 0.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .frame-3-8jX .auto-group-5zzx-ehs {
  margin-bottom: 1.7rem;
  width: 100%;
  height: 3.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .frame-3-8jX .auto-group-5zzx-ehs .vector-Bxh {
  margin-right: 1.1rem;
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .frame-3-8jX .auto-group-5zzx-ehs .auto-group-thkr-8d3 {
  margin: 0.1rem 0;
  width: 56.6rem;
  height: calc(100% - 0.2rem);
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .frame-3-8jX .auto-group-5zzx-ehs .auto-group-thkr-8d3 .start-a-post-GjF {
  width: 6.2rem;
  height: 1.4rem;
  position: absolute;
  left: 0.9rem;
  top: 0.9rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .frame-3-8jX .auto-group-5zzx-ehs .auto-group-thkr-8d3 .rectangle-29-mR7 {
  width: 56.6rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 1.5rem;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .frame-3-8jX .auto-group-opez-VM7 {
  margin: 0rem 3.1rem 0rem 5.5rem;
  width: calc(100% - 8.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .frame-3-8jX .auto-group-opez-VM7 .icon-media-image-Qiy {
  margin-right: 0.2rem;
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .frame-3-8jX .auto-group-opez-VM7 .media-Lcd {
  margin-right: 17.3rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .frame-3-8jX .auto-group-opez-VM7 .events-ThF {
  margin: 0rem 0.3rem 0.2rem 0rem;
  width: 1.7rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .frame-3-8jX .auto-group-opez-VM7 .events-Bt9 {
  margin-right: 16.2rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .frame-3-8jX .auto-group-opez-VM7 .article-j8y {
  margin-right: 0.2175rem;
  width: 2.1825rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .frame-3-8jX .auto-group-opez-VM7 .write-article-5Cq {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw {
  box-sizing: border-box;
  padding-top: 2rem;
  width: 63rem;
  border: solid 0.2rem #000000;
  border-radius: 3rem;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-dpym-jHP {
  margin: 0rem 36rem 0.5rem 2.5rem;
  width: calc(100% - 38.5rem);
  display: flex;
  align-items: center;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-dpym-jHP .ellipse-fgq {
  margin-right: 0.5rem;
  width: 4.5rem;
  height: 4.5rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 2.25rem;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-dpym-jHP .pt-mencari-cinta-sejati-zj7 {
  margin-top: 0.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .wallpaperflare-1-84d {
  width: 63rem;
  height: 27.7rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V {
  box-sizing: border-box;
  padding: 1.4rem 0rem 2.5rem 0rem;
  width: 100%;
  height: 37.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .group-19-zMj {
  margin: 0rem 4.142rem 1.4rem 6.5rem;
  width: calc(100% - 10.6418rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .group-19-zMj .icon-heart-Way {
  margin: 0.1rem 10.8rem 0rem 0rem;
  width: 3.1rem;
  height: 2.8rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .group-19-zMj .group-17-dfb {
  margin: 0.1rem 13.7rem 0rem 0rem;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .group-19-zMj .icon-repost-xhs {
  margin: 0rem 13.9rem 0.1rem 0rem;
  width: 4.3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .group-19-zMj .icon-share-Hk9 {
  margin-bottom: 0.11rem;
  width: 3.3582rem;
  height: 3.19rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .line-4-RLZ {
  margin: 0rem 0rem 1.4rem 0rem;
  width: calc(100% - 0rem);
  height: 0.2rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-7ked-xLV {
  margin: 0rem 2.5rem 6.7rem 1.8rem;
  width: calc(100% - 4.3rem);
  height: 4.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-7ked-xLV .vector-gnH {
  margin-right: 1.1rem;
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-7ked-xLV .auto-group-npbp-eDK {
  margin: 0.2rem 0;
  box-sizing: border-box;
  padding: 0.8rem 0.864rem 0.964rem 1rem;
  height: calc(100% - 0.4rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  border-radius: 2.7rem;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-7ked-xLV .auto-group-npbp-eDK .add-a-comment-MNd {
  margin: 0rem 34rem 0.136rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-7ked-xLV .auto-group-npbp-eDK .icon-send-s65 {
  margin-top: 0.1rem;
  width: 2.236rem;
  height: 2.236rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-jw4d-ZUh {
  margin: 0rem 2.3rem 1.8rem 1.8rem;
  width: calc(100% - 4.1rem);
  height: 7.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-jw4d-ZUh .vector-HQh {
  margin-right: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-jw4d-ZUh .auto-group-rjsm-pvR {
  box-sizing: border-box;
  padding: 0.8rem 0.6rem 0.9rem 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ececec;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-jw4d-ZUh .auto-group-rjsm-pvR .auto-group-zzgh-MQZ {
  margin-right: 43rem;
  width: 7.9rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-jw4d-ZUh .auto-group-rjsm-pvR .auto-group-zzgh-MQZ .jonathan-milos-5LZ {
  width: 7.8rem;
  height: 1.7rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-jw4d-ZUh .auto-group-rjsm-pvR .auto-group-zzgh-MQZ .data-architect-BuP {
  width: 4.1rem;
  height: 1.3rem;
  position: absolute;
  left: 0.1rem;
  top: 1.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-jw4d-ZUh .auto-group-rjsm-pvR .auto-group-zzgh-MQZ .like-HhX {
  width: 1.2rem;
  height: 1.3rem;
  position: absolute;
  left: 0.1rem;
  top: 4.2rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-jw4d-ZUh .auto-group-rjsm-pvR .auto-group-zzgh-MQZ .reply-17j {
  width: 1.6rem;
  height: 1.3rem;
  position: absolute;
  left: 2.6rem;
  top: 4.2rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-jw4d-ZUh .auto-group-rjsm-pvR .auto-group-zzgh-MQZ .item--vkV {
  width: 0.2rem;
  height: 1.3rem;
  position: absolute;
  left: 1.9rem;
  top: 4rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-jw4d-ZUh .auto-group-rjsm-pvR .auto-group-zzgh-MQZ .nice-3aD {
  width: 2.4rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 2.3rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-jw4d-ZUh .auto-group-rjsm-pvR .now-mFK {
  margin-bottom: 3.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-pvim-gt5 {
  margin: 0rem 2.3rem 0rem 1.8rem;
  width: calc(100% - 4.1rem);
  height: 7.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-pvim-gt5 .vector-R4y {
  margin-right: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-pvim-gt5 .auto-group-9apu-NF7 {
  box-sizing: border-box;
  padding: 0.8rem 1rem 0.9rem 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ececec;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-pvim-gt5 .auto-group-9apu-NF7 .auto-group-y4qv-hHP {
  margin-right: 44.8rem;
  width: 6.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-pvim-gt5 .auto-group-9apu-NF7 .auto-group-y4qv-hHP .joseph-felix-RjB {
  width: 6.2rem;
  height: 1.7rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-pvim-gt5 .auto-group-9apu-NF7 .auto-group-y4qv-hHP .ceo-of-pt-sern-Lr9 {
  width: 5.2rem;
  height: 1.3rem;
  position: absolute;
  left: 0.1rem;
  top: 1.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-pvim-gt5 .auto-group-9apu-NF7 .auto-group-y4qv-hHP .like-rJh {
  width: 1.2rem;
  height: 1.3rem;
  position: absolute;
  left: 0.1rem;
  top: 4.2rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-pvim-gt5 .auto-group-9apu-NF7 .auto-group-y4qv-hHP .reply-y8R {
  width: 1.6rem;
  height: 1.3rem;
  position: absolute;
  left: 2.6rem;
  top: 4.2rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-pvim-gt5 .auto-group-9apu-NF7 .auto-group-y4qv-hHP .item--Uqs {
  width: 0.2rem;
  height: 1.3rem;
  position: absolute;
  left: 1.9rem;
  top: 4rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-pvim-gt5 .auto-group-9apu-NF7 .auto-group-y4qv-hHP .nice-one-oNM {
  width: 4.7rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 2.3rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .auto-group-uupm-nQm .auto-group-zjs1-nsw .auto-group-3axf-U8V .auto-group-pvim-gt5 .auto-group-9apu-NF7 .d-XJM {
  margin-bottom: 3.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .frame-4-ECm {
  width: 33.1rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #213555;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .frame-4-ECm .auto-group-jdmo-myP {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 11.2rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .frame-4-ECm .auto-group-jdmo-myP .vector-7XT {
  width: 5.6rem;
  height: 5.6rem;
  position: absolute;
  left: 1.4rem;
  top: 1.5rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .frame-4-ECm .auto-group-jdmo-myP .richard-alya-xY5 {
  width: 6.6rem;
  height: 1.7rem;
  position: absolute;
  left: 7.7rem;
  top: 2.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #ffffff;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .frame-4-ECm .auto-group-jdmo-myP .co-founder-at-kawan-media-4b7 {
  width: 13rem;
  height: 2rem;
  position: absolute;
  left: 7.7rem;
  top: 4rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .frame-4-ECm .auto-group-jdmo-myP .rectangle-30-N61 {
  width: 8.2rem;
  height: 2.3rem;
  position: absolute;
  left: 7.7rem;
  top: 6rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .frame-4-ECm .auto-group-jdmo-myP .follow-gcV {
  width: 3.4rem;
  height: 2.4rem;
  position: absolute;
  left: 10rem;
  top: 5.8rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.81;
  color: #000000;
  font-family: Arya, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .frame-4-ECm .auto-group-jdmo-myP .rectangle-219-Cqj {
  width: 33.1rem;
  height: 11.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(81, 81, 81, 0.75);
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .frame-4-ECm .auto-group-jdmo-myP .followed-Lh3 {
  width: 8.9rem;
  height: 2.5rem;
  position: absolute;
  left: 11.4rem;
  top: 4.7rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .frame-4-ECm .auto-group-4vjk-q81 {
  width: 100%;
  height: 11.2rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .frame-4-ECm .auto-group-4vjk-q81 .vector-mXT {
  width: 5.6rem;
  height: 5.6rem;
  position: absolute;
  left: 1.4rem;
  top: 0.7rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .frame-4-ECm .auto-group-4vjk-q81 .joseph-felix-75X {
  width: 6.2rem;
  height: 1.7rem;
  position: absolute;
  left: 7.7rem;
  top: 1.6rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #ffffff;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .frame-4-ECm .auto-group-4vjk-q81 .ceo-of-pt-sern-d3s {
  width: 8.2rem;
  height: 2rem;
  position: absolute;
  left: 7.7rem;
  top: 3.2rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .frame-4-ECm .auto-group-4vjk-q81 .rectangle-31-KhP {
  width: 8.2rem;
  height: 2.3rem;
  position: absolute;
  left: 7.7rem;
  top: 4.8rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .frame-4-ECm .auto-group-4vjk-q81 .follow-EJZ {
  width: 3.4rem;
  height: 2.4rem;
  position: absolute;
  left: 9.8rem;
  top: 4.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.81;
  color: #000000;
  font-family: Arya, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .frame-4-ECm .auto-group-4vjk-q81 .rectangle-218-wim {
  width: 33.1rem;
  height: 11.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(81, 81, 81, 0.75);
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-yurj-ve9 .frame-4-ECm .auto-group-4vjk-q81 .followed-tP7 {
  width: 8.9rem;
  height: 2.5rem;
  position: absolute;
  left: 11.4rem;
  top: 4.7rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-ugj1-zBF {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-ugj1-zBF .followed-hashtags-Lku {
  margin-right: 66.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-ugj1-zBF .union-fYH {
  margin: 1.4rem 13.732rem 0rem 0rem;
  width: 3.5684rem;
  height: 2.8489rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-3-yxZ .auto-group-nbvf-1GH .auto-group-ugj1-zBF .vector-zaZ {
  margin-top: 0.6rem;
  width: 3.4344rem;
  height: 3.4344rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
