
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-comment-send-like-followed-3-WPF {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.page-home-comment-send-like-followed-3-WPF .component-6-variant2-EKF {
  width: 148.2rem;
  height: 14.1rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .component-6-variant2-EKF .rectangle-1-ZMX {
  width: 144rem;
  height: 13.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #4682a9;
}
.page-home-comment-send-like-followed-3-WPF .component-6-variant2-EKF .component-3-component-2-variant2-HYR {
  box-sizing: border-box;
  padding: 1.341rem 1.571rem 1.403rem 40.4rem;
  width: 44.2rem;
  height: 5.6rem;
  position: absolute;
  left: 17.6rem;
  top: 4.3rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.page-home-comment-send-like-followed-3-WPF .component-6-variant2-EKF .component-3-component-2-variant2-HYR .frame-myP {
  width: 2.2295rem;
  height: 2.8565rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-like-followed-3-WPF .component-6-variant2-EKF .component-4-6Vs {
  width: 52.85rem;
  height: 2.7rem;
  position: absolute;
  left: 89.45rem;
  top: 9.9rem;
  display: flex;
  align-items: flex-start;
}
.page-home-comment-send-like-followed-3-WPF .component-6-variant2-EKF .component-4-6Vs .home-1sj {
  margin-right: 1.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .component-6-variant2-EKF .component-4-6Vs .notifications-XbB {
  margin-right: 2.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .component-6-variant2-EKF .component-4-6Vs .jobs-rdT {
  margin: 0.1rem 2.85rem 0rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .component-6-variant2-EKF .component-4-6Vs .my-network-aJZ {
  margin-right: 1.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .component-6-variant2-EKF .component-4-6Vs .messaging-WT7 {
  margin-top: 0.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .component-6-variant2-EKF .icon-taskbar-2RT {
  width: 51.6rem;
  height: 7.3375rem;
  position: absolute;
  left: 89.1rem;
  top: 1.4rem;
  display: flex;
  align-items: flex-end;
}
.page-home-comment-send-like-followed-3-WPF .component-6-variant2-EKF .icon-taskbar-2RT .icon-home-woK {
  margin: 0rem 3.9rem 0.9rem 0rem;
  width: 6.9rem;
  height: 6.0375rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .component-6-variant2-EKF .icon-taskbar-2RT .icon-bell-xyK {
  margin: 0rem 4.2rem 0.038rem 0rem;
  width: 6.9rem;
  height: 6.9rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .component-6-variant2-EKF .icon-taskbar-2RT .icon-briefcase-tMB {
  margin: 0rem 2.691rem 0.438rem 0rem;
  width: 6.9086rem;
  height: 6.9rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .component-6-variant2-EKF .icon-taskbar-2RT .icon-people-D8Z {
  margin: 0rem 6.309rem 0.038rem 0rem;
  width: 6.8914rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .component-6-variant2-EKF .icon-taskbar-2RT .icon-chat-8mK {
  width: 6.9rem;
  height: 6.0375rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .component-6-variant2-EKF .profile-siu {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 5.5rem;
  top: 9.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-followed-3-WPF .component-6-variant2-EKF .image-2-Bjb {
  width: 6.5rem;
  height: 6.4rem;
  position: absolute;
  left: 5.3rem;
  top: 3rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-send-like-followed-3-WPF .component-6-variant2-EKF .profile-KL1 {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 5.5rem;
  top: 9.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-followed-3-WPF .component-6-variant2-EKF .image-15-Exm {
  width: 6.5rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 5.3rem;
  top: 3rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH {
  box-sizing: border-box;
  padding-top: 5.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u {
  margin: 0rem 6.2rem 18.3rem 3rem;
  width: calc(100% - 9.2rem);
  display: flex;
  column-gap: 5.1rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-qcxx-RnM {
  margin-top: 0.1rem;
  width: 28.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-qcxx-RnM .auto-group-zbdf-mbK {
  margin-bottom: 2.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-qcxx-RnM .auto-group-zbdf-mbK .auto-group-kt7f-KMw {
  width: 100%;
  height: 14.7rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-qcxx-RnM .auto-group-zbdf-mbK .auto-group-kt7f-KMw .wallpaperflare-2-Tj3 {
  width: 28.2rem;
  height: 9.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-qcxx-RnM .auto-group-zbdf-mbK .auto-group-kt7f-KMw .vector-bKT {
  width: 12rem;
  height: 12rem;
  position: absolute;
  left: 8.1rem;
  top: 2.7rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-qcxx-RnM .auto-group-zbdf-mbK .auto-group-n5xq-84V {
  box-sizing: border-box;
  padding: 0.3rem 3.5rem 2.2rem 2.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-qcxx-RnM .auto-group-zbdf-mbK .auto-group-n5xq-84V .auto-group-ookr-F97 {
  margin: 0rem 3.3rem 3.6rem 4.7rem;
  width: calc(100% - 8rem);
  height: 6.2rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-qcxx-RnM .auto-group-zbdf-mbK .auto-group-n5xq-84V .auto-group-ookr-F97 .jonathan-milos-NjX {
  width: 14.5rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-qcxx-RnM .auto-group-zbdf-mbK .auto-group-n5xq-84V .auto-group-ookr-F97 .data-architect-fid {
  width: 8.6rem;
  height: 2.7rem;
  position: absolute;
  left: 2.95rem;
  top: 3.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-qcxx-RnM .auto-group-zbdf-mbK .auto-group-n5xq-84V .line-1-BBB {
  margin: 0rem 0rem 2.3rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-qcxx-RnM .auto-group-zbdf-mbK .auto-group-n5xq-84V .connection-trH {
  margin: 0rem 15.7rem 2.2rem 0rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-qcxx-RnM .auto-group-zbdf-mbK .auto-group-n5xq-84V .line-2-1R7 {
  margin: 0rem 0rem 1.3rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-qcxx-RnM .auto-group-zbdf-mbK .auto-group-n5xq-84V .try-premium-wZf {
  margin-right: 14.8rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-qcxx-RnM .auto-group-x55f-4PP {
  box-sizing: border-box;
  padding: 3.2rem 3.5rem 2.1rem 2.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-qcxx-RnM .auto-group-x55f-4PP .group-Biu {
  margin-bottom: 1.3rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-qcxx-RnM .auto-group-x55f-4PP .events-XGy {
  margin-bottom: 1.1rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-qcxx-RnM .auto-group-x55f-4PP .followed-hashtags-ecV {
  margin-bottom: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-qcxx-RnM .auto-group-x55f-4PP .line-3-B6d {
  margin: 0rem 0rem 1.5rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-qcxx-RnM .auto-group-x55f-4PP .discover-more-6zH {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV {
  margin-top: 0.1rem;
  width: 63.3rem;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .frame-3-AjF {
  margin-bottom: 5.6rem;
  box-sizing: border-box;
  padding: 0.6rem 1.3rem 0.8rem 0.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .frame-3-AjF .auto-group-fiyb-ghb {
  margin-bottom: 1.7rem;
  width: 100%;
  height: 3.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .frame-3-AjF .auto-group-fiyb-ghb .vector-EDK {
  margin-right: 1.1rem;
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .frame-3-AjF .auto-group-fiyb-ghb .auto-group-yfdx-a2H {
  margin: 0.1rem 0;
  width: 56.6rem;
  height: calc(100% - 0.2rem);
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .frame-3-AjF .auto-group-fiyb-ghb .auto-group-yfdx-a2H .start-a-post-uaM {
  width: 6.2rem;
  height: 1.4rem;
  position: absolute;
  left: 0.9rem;
  top: 0.9rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .frame-3-AjF .auto-group-fiyb-ghb .auto-group-yfdx-a2H .rectangle-29-cjf {
  width: 56.6rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 1.5rem;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .frame-3-AjF .auto-group-zq5k-LvZ {
  margin: 0rem 3.1rem 0rem 5.5rem;
  width: calc(100% - 8.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .frame-3-AjF .auto-group-zq5k-LvZ .icon-media-image-U1B {
  margin-right: 0.2rem;
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .frame-3-AjF .auto-group-zq5k-LvZ .media-Q9j {
  margin-right: 17.3rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .frame-3-AjF .auto-group-zq5k-LvZ .events-WyT {
  margin: 0rem 0.3rem 0.2rem 0rem;
  width: 1.7rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .frame-3-AjF .auto-group-zq5k-LvZ .events-3Tb {
  margin-right: 16.2rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .frame-3-AjF .auto-group-zq5k-LvZ .article-BZo {
  margin-right: 0.2175rem;
  width: 2.1825rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .frame-3-AjF .auto-group-zq5k-LvZ .write-article-7yF {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D {
  width: 63rem;
  height: 62.1rem;
  position: relative;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D .vector-9uw {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 1.8rem;
  top: 52.6rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D .rectangle-gus {
  width: 63rem;
  height: 62.1rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  border-radius: 3rem;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D .line-4-Deu {
  width: 63rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 40.8rem;
  background-color: #000000;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D .ellipse-ZTs {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 2.5rem;
  top: 2rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 2.25rem;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D .pt-mencari-cinta-sejati-5h7 {
  width: 19.5rem;
  height: 3.6rem;
  position: absolute;
  left: 7.5rem;
  top: 2.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D .wallpaperflare-1-Nw7 {
  width: 63rem;
  height: 27.7rem;
  position: absolute;
  left: 0;
  top: 7rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D .vector-X3K {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 1.8rem;
  top: 42.4rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D .group-19-4J9 {
  width: 52.3582rem;
  height: 3.3rem;
  position: absolute;
  left: 6.5rem;
  top: 36.1rem;
  display: flex;
  align-items: center;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D .group-19-4J9 .icon-heart-P5X {
  margin: 0.1rem 10.8rem 0rem 0rem;
  width: 3.1rem;
  height: 2.8rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D .group-19-4J9 .group-17-6kd {
  margin: 0.1rem 13.7rem 0rem 0rem;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D .group-19-4J9 .icon-repost-cys {
  margin: 0rem 13.9rem 0.1rem 0rem;
  width: 4.3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D .group-19-4J9 .icon-share-9D7 {
  margin-bottom: 0.11rem;
  width: 3.3582rem;
  height: 3.19rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D .rectangle-215-V25 {
  width: 53.1rem;
  height: 4.1rem;
  position: absolute;
  left: 7.4rem;
  top: 42.6rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.7rem;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D .nice-Pt9 {
  width: 3.9rem;
  height: 2.2rem;
  position: absolute;
  left: 8.4rem;
  top: 43.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D .rectangle-216-Wxm {
  width: 53.4rem;
  height: 7.2rem;
  position: absolute;
  left: 7.3rem;
  top: 52.6rem;
  background-color: #ececec;
  border-radius: 0.8rem;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D .joseph-felix-FQZ {
  width: 6.2rem;
  height: 1.7rem;
  position: absolute;
  left: 7.9rem;
  top: 53.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D .ceo-of-pt-sern-mNu {
  width: 5.2rem;
  height: 1.3rem;
  position: absolute;
  left: 7.9rem;
  top: 55rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D .d-sRw {
  width: 0.8rem;
  height: 1.3rem;
  position: absolute;
  left: 58.9rem;
  top: 53.7rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D .like-PfB {
  width: 1.2rem;
  height: 1.3rem;
  position: absolute;
  left: 7.9rem;
  top: 57.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D .reply-WUu {
  width: 1.6rem;
  height: 1.3rem;
  position: absolute;
  left: 10.4rem;
  top: 57.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D .item--qGH {
  width: 0.2rem;
  height: 1.3rem;
  position: absolute;
  left: 9.7rem;
  top: 57.4rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D .nice-one-YgV {
  width: 4.7rem;
  height: 2.3rem;
  position: absolute;
  left: 7.8rem;
  top: 55.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ckb7-pQV .auto-group-nufx-36D .icon-send-G6h {
  width: 2.236rem;
  height: 2.236rem;
  cursor: pointer;
  position: absolute;
  left: 57.4rem;
  top: 43.5rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ufos-BzM {
  width: 33.1rem;
  height: 23.2rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ufos-BzM .frame-4-wTj {
  box-sizing: border-box;
  padding-top: 1.5rem;
  width: 33.1rem;
  height: 23.1rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  overflow: hidden;
  background-color: #213555;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ufos-BzM .frame-4-wTj .auto-group-uigm-fed {
  margin: 0rem 12.4rem 3.6rem 1.4rem;
  width: calc(100% - 13.8rem);
  display: flex;
  align-items: flex-start;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ufos-BzM .frame-4-wTj .auto-group-uigm-fed .vector-oF3 {
  margin-right: 0.7rem;
  width: 5.6rem;
  height: 5.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ufos-BzM .frame-4-wTj .auto-group-uigm-fed .auto-group-y2xw-9Ju {
  margin-top: 0.9rem;
  width: 13rem;
  height: 5.9rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ufos-BzM .frame-4-wTj .auto-group-uigm-fed .auto-group-y2xw-9Ju .richard-alya-5TT {
  width: 6.6rem;
  height: 1.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #ffffff;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ufos-BzM .frame-4-wTj .auto-group-uigm-fed .auto-group-y2xw-9Ju .co-founder-at-kawan-media-oPT {
  width: 13rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 1.6rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ufos-BzM .frame-4-wTj .auto-group-uigm-fed .auto-group-y2xw-9Ju .rectangle-30-uSV {
  width: 8.2rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 3.6rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ufos-BzM .frame-4-wTj .auto-group-uigm-fed .auto-group-y2xw-9Ju .follow-21K {
  width: 3.4rem;
  height: 2.4rem;
  position: absolute;
  left: 2.3rem;
  top: 3.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.81;
  color: #000000;
  font-family: Arya, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ufos-BzM .frame-4-wTj .auto-group-vkg9-v6h {
  width: 100%;
  height: 11.2rem;
  position: relative;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ufos-BzM .frame-4-wTj .auto-group-vkg9-v6h .vector-Fuf {
  width: 5.6rem;
  height: 5.6rem;
  position: absolute;
  left: 1.4rem;
  top: 0.7rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ufos-BzM .frame-4-wTj .auto-group-vkg9-v6h .joseph-felix-Pky {
  width: 6.2rem;
  height: 1.7rem;
  position: absolute;
  left: 7.7rem;
  top: 1.6rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #ffffff;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ufos-BzM .frame-4-wTj .auto-group-vkg9-v6h .ceo-of-pt-sern-HrM {
  width: 8.2rem;
  height: 2rem;
  position: absolute;
  left: 7.7rem;
  top: 3.2rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ufos-BzM .frame-4-wTj .auto-group-vkg9-v6h .rectangle-31-PuP {
  width: 8.2rem;
  height: 2.3rem;
  position: absolute;
  left: 7.7rem;
  top: 4.8rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ufos-BzM .frame-4-wTj .auto-group-vkg9-v6h .follow-iAy {
  width: 3.4rem;
  height: 2.4rem;
  position: absolute;
  left: 9.8rem;
  top: 4.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.81;
  color: #000000;
  font-family: Arya, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ufos-BzM .frame-4-wTj .auto-group-vkg9-v6h .rectangle-217-pjo {
  width: 33.1rem;
  height: 11.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(81, 81, 81, 0.75);
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ufos-BzM .frame-4-wTj .auto-group-vkg9-v6h .followed-y6u {
  width: 8.9rem;
  height: 2.5rem;
  position: absolute;
  left: 11.4rem;
  top: 4.7rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ufos-BzM .rectangle-218-fVX {
  width: 33.1rem;
  height: 11.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(81, 81, 81, 0.75);
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-k4u5-v4u .auto-group-ufos-BzM .followed-p7X {
  width: 8.9rem;
  height: 2.5rem;
  position: absolute;
  left: 11.4rem;
  top: 4.7rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-pmho-vRT {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-pmho-vRT .followed-hashtags-USy {
  margin-right: 66.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-pmho-vRT .union-Ctm {
  margin: 1.4rem 13.732rem 0rem 0rem;
  width: 3.5684rem;
  height: 2.8489rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-followed-3-WPF .auto-group-5kc9-NJH .auto-group-pmho-vRT .vector-w5f {
  margin-top: 0.6rem;
  width: 3.4344rem;
  height: 3.4344rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
