
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-send-h8h {
  width: 100%;
  height: 102.4rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.page-home-send-h8h .rectangle-28-NEq {
  width: 28.2rem;
  height: 37rem;
  position: absolute;
  left: 3rem;
  top: 19.9rem;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-send-h8h .rectangle-27-59F {
  width: 28.2rem;
  height: 19.3rem;
  position: absolute;
  left: 3rem;
  top: 59.3rem;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-send-h8h .group-zX7 {
  width: 3.8rem;
  height: 2rem;
  position: absolute;
  left: 5.2rem;
  top: 62.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-h8h .events-Fxq {
  width: 4.1rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  left: 5.2rem;
  top: 65.8rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-h8h .followed-hashtags-9YR {
  width: 11.4rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 114.6rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-h8h .discover-more-SGd {
  width: 8.6rem;
  height: 2rem;
  position: absolute;
  left: 12.85rem;
  top: 74.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-h8h .frame-3-YqT {
  box-sizing: border-box;
  padding: 0.6rem 1.3rem 0.8rem 0.7rem;
  width: 63.3rem;
  height: 8.7rem;
  position: absolute;
  left: 36.3rem;
  top: 19.9rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
}
.page-home-send-h8h .frame-3-YqT .auto-group-nz8z-EiH {
  margin-bottom: 1.7rem;
  width: 100%;
  height: 3.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-3-YqT .auto-group-nz8z-EiH .vector-a1T {
  margin-right: 1.1rem;
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-3-YqT .auto-group-nz8z-EiH .auto-group-etwx-WA1 {
  margin: 0.1rem 0;
  width: 56.6rem;
  height: calc(100% - 0.2rem);
  position: relative;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-3-YqT .auto-group-nz8z-EiH .auto-group-etwx-WA1 .start-a-post-S3f {
  width: 6.2rem;
  height: 1.4rem;
  position: absolute;
  left: 0.9rem;
  top: 0.9rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-h8h .frame-3-YqT .auto-group-nz8z-EiH .auto-group-etwx-WA1 .rectangle-29-VGq {
  width: 56.6rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 1.5rem;
}
.page-home-send-h8h .frame-3-YqT .auto-group-22h3-CS9 {
  margin: 0rem 3.1rem 0rem 5.5rem;
  width: calc(100% - 8.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-3-YqT .auto-group-22h3-CS9 .icon-media-image-hth {
  margin-right: 0.2rem;
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-3-YqT .auto-group-22h3-CS9 .media-2g5 {
  margin-right: 17.3rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-3-YqT .auto-group-22h3-CS9 .events-mNm {
  margin: 0rem 0.3rem 0.2rem 0rem;
  width: 1.7rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-3-YqT .auto-group-22h3-CS9 .events-Hc1 {
  margin-right: 16.2rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-3-YqT .auto-group-22h3-CS9 .article-2Zb {
  margin-right: 0.2175rem;
  width: 2.1825rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-3-YqT .auto-group-22h3-CS9 .write-article-mGH {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-4-eL5 {
  box-sizing: border-box;
  padding: 1.5rem 1.4rem 4.1rem 1.4rem;
  width: 33.1rem;
  height: 23.1rem;
  position: absolute;
  left: 104.7rem;
  top: 19.9rem;
  overflow: hidden;
  background-color: #213555;
}
.page-home-send-h8h .frame-4-eL5 .auto-group-dlh3-voP {
  margin: 0rem 11rem 4.3rem 0rem;
  width: calc(100% - 11rem);
  display: flex;
  align-items: flex-start;
}
.page-home-send-h8h .frame-4-eL5 .auto-group-dlh3-voP .vector-48u {
  margin-right: 0.7rem;
  width: 5.6rem;
  height: 5.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-4-eL5 .auto-group-dlh3-voP .auto-group-p4d3-zoF {
  margin-top: 0.9rem;
  width: 13rem;
  height: 5.9rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-4-eL5 .auto-group-dlh3-voP .auto-group-p4d3-zoF .richard-alya-LMK {
  width: 6.6rem;
  height: 1.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #ffffff;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-h8h .frame-4-eL5 .auto-group-dlh3-voP .auto-group-p4d3-zoF .co-founder-at-kawan-media-raZ {
  width: 13rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 1.6rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-h8h .frame-4-eL5 .auto-group-dlh3-voP .auto-group-p4d3-zoF .rectangle-30-kA9 {
  width: 8.2rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 3.6rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-send-h8h .frame-4-eL5 .auto-group-dlh3-voP .auto-group-p4d3-zoF .follow-Fch {
  width: 3.4rem;
  height: 2.4rem;
  position: absolute;
  left: 2.3rem;
  top: 3.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.81;
  color: #000000;
  font-family: Arya, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-h8h .frame-4-eL5 .auto-group-jaah-hjb {
  margin-right: 15.8rem;
  width: calc(100% - 15.8rem);
  display: flex;
  align-items: flex-end;
}
.page-home-send-h8h .frame-4-eL5 .auto-group-jaah-hjb .vector-dt9 {
  margin: 0rem 0.7rem 0.8rem 0rem;
  width: 5.6rem;
  height: 5.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-4-eL5 .auto-group-jaah-hjb .auto-group-ijgv-ANH {
  width: 8.2rem;
  height: 5.5rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-4-eL5 .auto-group-jaah-hjb .auto-group-ijgv-ANH .joseph-felix-ht1 {
  width: 6.2rem;
  height: 1.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #ffffff;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-h8h .frame-4-eL5 .auto-group-jaah-hjb .auto-group-ijgv-ANH .ceo-of-pt-sern-dFs {
  width: 8.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 1.6rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-h8h .frame-4-eL5 .auto-group-jaah-hjb .auto-group-ijgv-ANH .rectangle-31-8iR {
  width: 8.2rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 3.2rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-send-h8h .frame-4-eL5 .auto-group-jaah-hjb .auto-group-ijgv-ANH .follow-r8d {
  width: 3.4rem;
  height: 2.4rem;
  position: absolute;
  left: 2.1rem;
  top: 3.1rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.81;
  color: #000000;
  font-family: Arya, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-h8h .jonathan-milos-vPP {
  width: 14.5rem;
  height: 4.3rem;
  position: absolute;
  left: 9.9rem;
  top: 34.9rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-h8h .data-architect-zPF {
  width: 8.6rem;
  height: 2.7rem;
  position: absolute;
  left: 12.85rem;
  top: 38.4rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-h8h .connection-uFK {
  width: 6.8rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  left: 5.2rem;
  top: 47.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-h8h .try-premium-Qhs {
  width: 7.7rem;
  height: 2rem;
  position: absolute;
  left: 5.2rem;
  top: 52.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-h8h .frame-8ds {
  box-sizing: border-box;
  padding: 2rem 0rem 1.6rem 0rem;
  width: 63rem;
  height: 41rem;
  position: absolute;
  left: 36.3rem;
  top: 34.2rem;
  border: solid 0.2rem #000000;
  border-radius: 3rem;
}
.page-home-send-h8h .frame-8ds .auto-group-bg29-SeZ {
  margin: 0rem 36rem 0.5rem 2.5rem;
  width: calc(100% - 38.5rem);
  display: flex;
  align-items: center;
}
.page-home-send-h8h .frame-8ds .auto-group-bg29-SeZ .ellipse-k9T {
  margin-right: 0.5rem;
  width: 4.5rem;
  height: 4.5rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 2.25rem;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-8ds .auto-group-bg29-SeZ .pt-mencari-cinta-sejati-DYq {
  margin-top: 0.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-8ds .wallpaperflare-1-W29 {
  margin-bottom: 1.4rem;
  width: 63rem;
  height: 27.7rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-send-h8h .frame-8ds .group-19-poX {
  margin: 0rem 4.142rem 0rem 6.5rem;
  width: calc(100% - 10.6418rem);
  display: flex;
  align-items: center;
}
.page-home-send-h8h .frame-8ds .group-19-poX .icon-heart-MHf {
  margin: 0.1rem 10.8rem 0rem 0rem;
  width: 3.1rem;
  height: 2.8rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-8ds .group-19-poX .group-17-Tbb {
  margin: 0.1rem 13.7rem 0rem 0rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-8ds .group-19-poX .icon-repost-PVF {
  margin: 0rem 13.9rem 0.1rem 0rem;
  width: 4.3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-8ds .group-19-poX .icon-share-7RF {
  margin-bottom: 0.11rem;
  width: 3.3582rem;
  height: 3.19rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-2HK {
  box-sizing: border-box;
  padding: 2rem 0rem 2.251rem 0rem;
  width: 63rem;
  height: 41rem;
  position: absolute;
  left: 36.3rem;
  top: 80.1rem;
  border: solid 0.2rem #000000;
  border-radius: 3rem;
}
.page-home-send-h8h .frame-2HK .auto-group-ngwf-jxR {
  margin: 0rem 34.5rem 0.4rem 2.5rem;
  width: calc(100% - 37rem);
  display: flex;
  align-items: flex-end;
}
.page-home-send-h8h .frame-2HK .auto-group-ngwf-jxR .ellipse-qVf {
  margin: 0rem 0.5rem 0.1rem 0rem;
  width: 4.5rem;
  height: 4.5rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 2.25rem;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-2HK .auto-group-ngwf-jxR .pt-barokah-jaya-jaya-jaya-EgD {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-2HK .wallpaperflare-3-9oB {
  margin-bottom: 0rem;
  width: 63rem;
  height: 27.7rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-send-h8h .frame-2HK .auto-group-lec5-HeV {
  margin: 0rem 2.866rem 0rem 3rem;
  width: calc(100% - 5.8656rem);
  display: flex;
  align-items: flex-end;
}
.page-home-send-h8h .frame-2HK .auto-group-lec5-HeV .union-1Kb {
  margin: 0rem 13.421rem 0.07rem 0rem;
  width: 3.9793rem;
  height: 3.9793rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-2HK .auto-group-lec5-HeV .vector-teH {
  margin: 0rem 15.8rem 0.049rem 0rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-2HK .auto-group-lec5-HeV .union-Cus {
  margin-right: 13.7316rem;
  width: 3.5684rem;
  height: 2.8489rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-h8h .frame-2HK .auto-group-lec5-HeV .vector-YTw {
  margin-bottom: 0.2145rem;
  width: 3.4344rem;
  height: 3.4344rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-h8h .wallpaperflare-2-rjX {
  width: 28.2rem;
  height: 9.4rem;
  position: absolute;
  left: 3rem;
  top: 19.9rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-send-h8h .vector-Nxm {
  width: 12rem;
  height: 12rem;
  position: absolute;
  left: 11.1rem;
  top: 22.6rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-send-h8h .line-1-X4y {
  width: 21.1rem;
  height: 0.1rem;
  position: absolute;
  left: 6.6rem;
  top: 44.7rem;
  background-color: #000000;
}
.page-home-send-h8h .line-3-Sxd {
  width: 21.1rem;
  height: 0.1rem;
  position: absolute;
  left: 6.6rem;
  top: 72.9rem;
  background-color: #000000;
}
.page-home-send-h8h .line-2-CB7 {
  width: 21.1rem;
  height: 0.1rem;
  position: absolute;
  left: 6.6rem;
  top: 51.3rem;
  background-color: #000000;
}
.page-home-send-h8h .component-6-variant2-8qT {
  width: 148.2rem;
  height: 14.1rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}
.page-home-send-h8h .component-6-variant2-8qT .rectangle-1-eYu {
  width: 144rem;
  height: 13.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #4682a9;
}
.page-home-send-h8h .component-6-variant2-8qT .component-3-component-2-variant2-ZQy {
  box-sizing: border-box;
  padding: 1.341rem 1.571rem 1.403rem 40.4rem;
  width: 44.2rem;
  height: 5.6rem;
  position: absolute;
  left: 17.6rem;
  top: 4.3rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.page-home-send-h8h .component-6-variant2-8qT .component-3-component-2-variant2-ZQy .frame-SzZ {
  width: 2.2295rem;
  height: 2.8565rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-send-h8h .component-6-variant2-8qT .component-4-BBT {
  width: 52.85rem;
  height: 2.7rem;
  position: absolute;
  left: 89.45rem;
  top: 9.9rem;
  display: flex;
  align-items: flex-start;
}
.page-home-send-h8h .component-6-variant2-8qT .component-4-BBT .home-tLm {
  margin-right: 1.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-send-h8h .component-6-variant2-8qT .component-4-BBT .notifications-cGm {
  margin-right: 2.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-send-h8h .component-6-variant2-8qT .component-4-BBT .jobs-LTf {
  margin: 0.1rem 2.85rem 0rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-send-h8h .component-6-variant2-8qT .component-4-BBT .my-network-rS1 {
  margin-right: 1.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-send-h8h .component-6-variant2-8qT .component-4-BBT .messaging-Nv9 {
  margin-top: 0.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-send-h8h .component-6-variant2-8qT .icon-taskbar-Fyw {
  width: 51.6rem;
  height: 7.3375rem;
  position: absolute;
  left: 89.1rem;
  top: 1.4rem;
  display: flex;
  align-items: flex-end;
}
.page-home-send-h8h .component-6-variant2-8qT .icon-taskbar-Fyw .icon-home-yf3 {
  margin: 0rem 3.9rem 0.9rem 0rem;
  width: 6.9rem;
  height: 6.0375rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-h8h .component-6-variant2-8qT .icon-taskbar-Fyw .icon-bell-u2u {
  margin: 0rem 4.2rem 0.038rem 0rem;
  width: 6.9rem;
  height: 6.9rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-h8h .component-6-variant2-8qT .icon-taskbar-Fyw .icon-briefcase-DZP {
  margin: 0rem 2.691rem 0.438rem 0rem;
  width: 6.9086rem;
  height: 6.9rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-h8h .component-6-variant2-8qT .icon-taskbar-Fyw .icon-people-jXj {
  margin: 0rem 6.309rem 0.038rem 0rem;
  width: 6.8914rem;
  height: 6.9rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-h8h .component-6-variant2-8qT .icon-taskbar-Fyw .icon-chat-fAV {
  width: 6.9rem;
  height: 6.0375rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-h8h .component-6-variant2-8qT .profile-o1o {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 5.5rem;
  top: 9.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-h8h .component-6-variant2-8qT .image-2-V9X {
  width: 6.5rem;
  height: 6.4rem;
  position: absolute;
  left: 5.3rem;
  top: 3rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-send-h8h .component-6-variant2-8qT .profile-Pkh {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 5.5rem;
  top: 9.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-h8h .component-6-variant2-8qT .image-15-HbB {
  width: 6.5rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 5.3rem;
  top: 3rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-send-h8h .rectangle-220-Qvh {
  width: 144rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6000000238);
}
.page-home-send-h8h .rectangle-221-9tH {
  width: 75.4rem;
  height: 52.2rem;
  position: absolute;
  left: 34.3rem;
  top: 14rem;
  background-color: #ffffff;
  border-radius: 2rem;
}
.page-home-send-h8h .send-post-tL5 {
  width: 14.4rem;
  height: 3.7rem;
  position: absolute;
  left: 37rem;
  top: 15.9rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-h8h .dewi-rizki-s-Pnd {
  width: 12.1rem;
  height: 2.5rem;
  position: absolute;
  left: 45.9rem;
  top: 31.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-h8h .line-5-uky {
  width: 75.4rem;
  height: 0.1rem;
  position: absolute;
  left: 34.3rem;
  top: 21.4rem;
  background-color: #000000;
}
.page-home-send-h8h .line-6-eyT {
  width: 75.4rem;
  height: 0.1rem;
  position: absolute;
  left: 34.3rem;
  top: 59.4rem;
  background-color: #000000;
}
.page-home-send-h8h .rectangle-222-znR {
  width: 66.9rem;
  height: 3.4rem;
  position: absolute;
  left: 38.5rem;
  top: 24.9rem;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.page-home-send-h8h .type-a-name-5Yy {
  width: 6.7rem;
  height: 1.4rem;
  position: absolute;
  left: 39.5rem;
  top: 25.9rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-h8h .rectangle-B6D {
  width: 4.2rem;
  height: 4.2rem;
  position: absolute;
  left: 40.3rem;
  top: 30.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
}
.page-home-send-h8h .rectangle-223-h4Z {
  width: 2.8rem;
  height: 2.8rem;
  cursor: pointer;
  position: absolute;
  left: 100.2rem;
  top: 31.6rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.7rem;
}
.page-home-send-h8h .damar-nrh {
  width: 6.2rem;
  height: 2.5rem;
  position: absolute;
  left: 45.9rem;
  top: 37.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-h8h .rectangle-224-iEZ {
  width: 2.8rem;
  height: 2.8rem;
  cursor: pointer;
  position: absolute;
  left: 100.2rem;
  top: 37.6rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.7rem;
}
.page-home-send-h8h .rectangle-226-poP {
  width: 60.2rem;
  height: 3.2rem;
  position: absolute;
  left: 41.9rem;
  top: 61.3rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #dbdbdb;
  border-radius: 1.3rem;
}
.page-home-send-h8h .rafif-94y {
  width: 4.4rem;
  height: 2.5rem;
  position: absolute;
  left: 45.9rem;
  top: 43.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-h8h .rectangle-3AM {
  width: 4.2rem;
  height: 4.2rem;
  position: absolute;
  left: 40.3rem;
  top: 36.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
}
.page-home-send-h8h .send-vjw {
  width: 3.4rem;
  height: 1.7rem;
  position: absolute;
  left: 70.2rem;
  top: 62rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #6d6b6b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-h8h .rectangle-FGR {
  width: 4.2rem;
  height: 4.2rem;
  position: absolute;
  left: 40.3rem;
  top: 42.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
}
.page-home-send-h8h .rectangle-225-yy7 {
  width: 2.8rem;
  height: 2.8rem;
  cursor: pointer;
  position: absolute;
  left: 100.2rem;
  top: 43.6rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.7rem;
}
.page-home-send-h8h .followed-hashtags-WCM {
  width: 11.4rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  left: 5.2rem;
  top: 68.9rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
