
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-comment-send-followed-3-d2u {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.page-home-comment-send-followed-3-d2u .component-6-variant2-kdK {
  width: 148.2rem;
  height: 14.1rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .component-6-variant2-kdK .rectangle-1-sxq {
  width: 144rem;
  height: 13.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #4682a9;
}
.page-home-comment-send-followed-3-d2u .component-6-variant2-kdK .component-3-component-2-variant2-cfX {
  box-sizing: border-box;
  padding: 1.341rem 1.571rem 1.403rem 40.4rem;
  width: 44.2rem;
  height: 5.6rem;
  position: absolute;
  left: 17.6rem;
  top: 4.3rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.page-home-comment-send-followed-3-d2u .component-6-variant2-kdK .component-3-component-2-variant2-cfX .frame-ued {
  width: 2.2295rem;
  height: 2.8565rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-followed-3-d2u .component-6-variant2-kdK .component-4-q2V {
  width: 52.85rem;
  height: 2.7rem;
  position: absolute;
  left: 89.45rem;
  top: 9.9rem;
  display: flex;
  align-items: flex-start;
}
.page-home-comment-send-followed-3-d2u .component-6-variant2-kdK .component-4-q2V .home-Yhb {
  margin-right: 1.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .component-6-variant2-kdK .component-4-q2V .notifications-Fc1 {
  margin-right: 2.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .component-6-variant2-kdK .component-4-q2V .jobs-Aiy {
  margin: 0.1rem 2.85rem 0rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .component-6-variant2-kdK .component-4-q2V .my-network-GX7 {
  margin-right: 1.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .component-6-variant2-kdK .component-4-q2V .messaging-zi1 {
  margin-top: 0.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .component-6-variant2-kdK .icon-taskbar-vbf {
  width: 51.6rem;
  height: 7.3375rem;
  position: absolute;
  left: 89.1rem;
  top: 1.4rem;
  display: flex;
  align-items: flex-end;
}
.page-home-comment-send-followed-3-d2u .component-6-variant2-kdK .icon-taskbar-vbf .icon-home-3wB {
  margin: 0rem 3.9rem 0.9rem 0rem;
  width: 6.9rem;
  height: 6.0375rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .component-6-variant2-kdK .icon-taskbar-vbf .icon-bell-AW1 {
  margin: 0rem 4.2rem 0.038rem 0rem;
  width: 6.9rem;
  height: 6.9rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .component-6-variant2-kdK .icon-taskbar-vbf .icon-briefcase-Had {
  margin: 0rem 2.691rem 0.438rem 0rem;
  width: 6.9086rem;
  height: 6.9rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .component-6-variant2-kdK .icon-taskbar-vbf .icon-people-c77 {
  margin: 0rem 6.309rem 0.038rem 0rem;
  width: 6.8914rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .component-6-variant2-kdK .icon-taskbar-vbf .icon-chat-8r9 {
  width: 6.9rem;
  height: 6.0375rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .component-6-variant2-kdK .profile-HDF {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 5.5rem;
  top: 9.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-d2u .component-6-variant2-kdK .image-2-PGH {
  width: 6.5rem;
  height: 6.4rem;
  position: absolute;
  left: 5.3rem;
  top: 3rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-send-followed-3-d2u .component-6-variant2-kdK .profile-Kfj {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 5.5rem;
  top: 9.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-d2u .component-6-variant2-kdK .image-15-qPB {
  width: 6.5rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 5.3rem;
  top: 3rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb {
  box-sizing: border-box;
  padding-top: 5.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq {
  margin: 0rem 6.2rem 18.3rem 3rem;
  width: calc(100% - 9.2rem);
  height: 76.4rem;
  display: flex;
  column-gap: 5.1rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-d3xj-2Tf {
  width: 28.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-d3xj-2Tf .auto-group-l1ss-ydo {
  margin-bottom: 2.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-d3xj-2Tf .auto-group-l1ss-ydo .auto-group-mve9-Wdj {
  width: 100%;
  height: 14.7rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-d3xj-2Tf .auto-group-l1ss-ydo .auto-group-mve9-Wdj .wallpaperflare-2-SGV {
  width: 28.2rem;
  height: 9.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-d3xj-2Tf .auto-group-l1ss-ydo .auto-group-mve9-Wdj .vector-AyB {
  width: 12rem;
  height: 12rem;
  position: absolute;
  left: 8.1rem;
  top: 2.7rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-d3xj-2Tf .auto-group-l1ss-ydo .auto-group-lbvm-hy7 {
  box-sizing: border-box;
  padding: 0.3rem 3.5rem 2.2rem 2.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-d3xj-2Tf .auto-group-l1ss-ydo .auto-group-lbvm-hy7 .auto-group-pfxr-31P {
  margin: 0rem 3.3rem 3.6rem 4.7rem;
  width: calc(100% - 8rem);
  height: 6.2rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-d3xj-2Tf .auto-group-l1ss-ydo .auto-group-lbvm-hy7 .auto-group-pfxr-31P .jonathan-milos-mTB {
  width: 14.5rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-d3xj-2Tf .auto-group-l1ss-ydo .auto-group-lbvm-hy7 .auto-group-pfxr-31P .data-architect-Guj {
  width: 8.6rem;
  height: 2.7rem;
  position: absolute;
  left: 2.95rem;
  top: 3.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-d3xj-2Tf .auto-group-l1ss-ydo .auto-group-lbvm-hy7 .line-1-z53 {
  margin: 0rem 0rem 2.3rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-d3xj-2Tf .auto-group-l1ss-ydo .auto-group-lbvm-hy7 .connection-uho {
  margin: 0rem 15.7rem 2.2rem 0rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-d3xj-2Tf .auto-group-l1ss-ydo .auto-group-lbvm-hy7 .line-2-qLZ {
  margin: 0rem 0rem 1.3rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-d3xj-2Tf .auto-group-l1ss-ydo .auto-group-lbvm-hy7 .try-premium-mV7 {
  margin-right: 14.8rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-d3xj-2Tf .auto-group-faxu-t3w {
  box-sizing: border-box;
  padding: 3.2rem 3.5rem 2.1rem 2.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-d3xj-2Tf .auto-group-faxu-t3w .group-byw {
  margin-bottom: 1.3rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-d3xj-2Tf .auto-group-faxu-t3w .events-k69 {
  margin-bottom: 1.1rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-d3xj-2Tf .auto-group-faxu-t3w .followed-hashtags-GqB {
  margin-bottom: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-d3xj-2Tf .auto-group-faxu-t3w .line-3-oaD {
  margin: 0rem 0rem 1.5rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-d3xj-2Tf .auto-group-faxu-t3w .discover-more-jyf {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 {
  width: 63.3rem;
  height: 100%;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .frame-3-RLh {
  margin-bottom: 5.6rem;
  box-sizing: border-box;
  padding: 0.6rem 1.3rem 0.8rem 0.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .frame-3-RLh .auto-group-uhrp-LiZ {
  margin-bottom: 1.7rem;
  width: 100%;
  height: 3.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .frame-3-RLh .auto-group-uhrp-LiZ .vector-tEH {
  margin-right: 1.1rem;
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .frame-3-RLh .auto-group-uhrp-LiZ .auto-group-frnv-QyK {
  margin: 0.1rem 0;
  width: 56.6rem;
  height: calc(100% - 0.2rem);
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .frame-3-RLh .auto-group-uhrp-LiZ .auto-group-frnv-QyK .start-a-post-xE9 {
  width: 6.2rem;
  height: 1.4rem;
  position: absolute;
  left: 0.9rem;
  top: 0.9rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .frame-3-RLh .auto-group-uhrp-LiZ .auto-group-frnv-QyK .rectangle-29-4HB {
  width: 56.6rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 1.5rem;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .frame-3-RLh .auto-group-mmg9-nDB {
  margin: 0rem 3.1rem 0rem 5.5rem;
  width: calc(100% - 8.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .frame-3-RLh .auto-group-mmg9-nDB .icon-media-image-Hvd {
  margin-right: 0.2rem;
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .frame-3-RLh .auto-group-mmg9-nDB .media-2dK {
  margin-right: 17.3rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .frame-3-RLh .auto-group-mmg9-nDB .events-kJR {
  margin: 0rem 0.3rem 0.2rem 0rem;
  width: 1.7rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .frame-3-RLh .auto-group-mmg9-nDB .events-55o {
  margin-right: 16.2rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .frame-3-RLh .auto-group-mmg9-nDB .article-p3P {
  margin-right: 0.2175rem;
  width: 2.1825rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .frame-3-RLh .auto-group-mmg9-nDB .write-article-khj {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy {
  width: 63rem;
  height: 62.1rem;
  position: relative;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy .vector-QGV {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 1.8rem;
  top: 52.6rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy .rectangle-k5T {
  width: 63rem;
  height: 62.1rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  border-radius: 3rem;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy .line-4-fy7 {
  width: 63rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 40.8rem;
  background-color: #000000;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy .ellipse-p5K {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 2.5rem;
  top: 2rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 2.25rem;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy .pt-mencari-cinta-sejati-Knm {
  width: 19.5rem;
  height: 3.6rem;
  position: absolute;
  left: 7.5rem;
  top: 2.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy .wallpaperflare-1-pzR {
  width: 63rem;
  height: 27.7rem;
  position: absolute;
  left: 0;
  top: 7rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy .vector-ZSD {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 1.8rem;
  top: 42.4rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy .group-19-W6Z {
  width: 52.3582rem;
  height: 3.3rem;
  position: absolute;
  left: 6.5rem;
  top: 36.1rem;
  display: flex;
  align-items: center;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy .group-19-W6Z .icon-heart-2qb {
  margin: 0.1rem 10.8rem 0rem 0rem;
  width: 3.1rem;
  height: 2.8rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy .group-19-W6Z .group-17-Mcy {
  margin: 0.1rem 13.7rem 0rem 0rem;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy .group-19-W6Z .icon-repost-gfF {
  margin: 0rem 13.9rem 0.1rem 0rem;
  width: 4.3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy .group-19-W6Z .icon-share-1hX {
  margin-bottom: 0.11rem;
  width: 3.3582rem;
  height: 3.19rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy .rectangle-215-kQD {
  width: 53.1rem;
  height: 4.1rem;
  position: absolute;
  left: 7.4rem;
  top: 42.6rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.7rem;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy .nice-TZX {
  width: 3.9rem;
  height: 2.2rem;
  position: absolute;
  left: 8.4rem;
  top: 43.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy .rectangle-216-ZsT {
  width: 53.4rem;
  height: 7.2rem;
  position: absolute;
  left: 7.3rem;
  top: 52.6rem;
  background-color: #ececec;
  border-radius: 0.8rem;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy .joseph-felix-VFK {
  width: 6.2rem;
  height: 1.7rem;
  position: absolute;
  left: 7.9rem;
  top: 53.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy .ceo-of-pt-sern-zxm {
  width: 5.2rem;
  height: 1.3rem;
  position: absolute;
  left: 7.9rem;
  top: 55rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy .d-uK3 {
  width: 0.8rem;
  height: 1.3rem;
  position: absolute;
  left: 58.9rem;
  top: 53.7rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy .like-DqX {
  width: 1.2rem;
  height: 1.3rem;
  position: absolute;
  left: 7.9rem;
  top: 57.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy .reply-LfF {
  width: 1.6rem;
  height: 1.3rem;
  position: absolute;
  left: 10.4rem;
  top: 57.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy .item--rNh {
  width: 0.2rem;
  height: 1.3rem;
  position: absolute;
  left: 9.7rem;
  top: 57.4rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy .nice-one-sob {
  width: 4.7rem;
  height: 2.3rem;
  position: absolute;
  left: 7.8rem;
  top: 55.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .auto-group-as4q-4m3 .auto-group-sdy1-Gvy .icon-send-oBT {
  width: 2.236rem;
  height: 2.236rem;
  cursor: pointer;
  position: absolute;
  left: 57.4rem;
  top: 43.5rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .frame-4-Wbf {
  width: 33.1rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #213555;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .frame-4-Wbf .auto-group-qga1-TWu {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 11.2rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .frame-4-Wbf .auto-group-qga1-TWu .vector-CDb {
  width: 5.6rem;
  height: 5.6rem;
  position: absolute;
  left: 1.4rem;
  top: 1.5rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .frame-4-Wbf .auto-group-qga1-TWu .richard-alya-jUR {
  width: 6.6rem;
  height: 1.7rem;
  position: absolute;
  left: 7.7rem;
  top: 2.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #ffffff;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .frame-4-Wbf .auto-group-qga1-TWu .co-founder-at-kawan-media-eLV {
  width: 13rem;
  height: 2rem;
  position: absolute;
  left: 7.7rem;
  top: 4rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .frame-4-Wbf .auto-group-qga1-TWu .rectangle-30-Ywf {
  width: 8.2rem;
  height: 2.3rem;
  position: absolute;
  left: 7.7rem;
  top: 6rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .frame-4-Wbf .auto-group-qga1-TWu .follow-sU9 {
  width: 3.4rem;
  height: 2.4rem;
  position: absolute;
  left: 10rem;
  top: 5.8rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.81;
  color: #000000;
  font-family: Arya, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .frame-4-Wbf .auto-group-qga1-TWu .rectangle-217-atM {
  width: 33.1rem;
  height: 11.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(81, 81, 81, 0.75);
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .frame-4-Wbf .auto-group-qga1-TWu .followed-89B {
  width: 8.9rem;
  height: 2.5rem;
  position: absolute;
  left: 11.4rem;
  top: 4.7rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .frame-4-Wbf .auto-group-6b6m-drd {
  width: 100%;
  height: 11.2rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .frame-4-Wbf .auto-group-6b6m-drd .vector-yvV {
  width: 5.6rem;
  height: 5.6rem;
  position: absolute;
  left: 1.4rem;
  top: 0.7rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .frame-4-Wbf .auto-group-6b6m-drd .joseph-felix-vaq {
  width: 6.2rem;
  height: 1.7rem;
  position: absolute;
  left: 7.7rem;
  top: 1.6rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #ffffff;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .frame-4-Wbf .auto-group-6b6m-drd .ceo-of-pt-sern-qC1 {
  width: 8.2rem;
  height: 2rem;
  position: absolute;
  left: 7.7rem;
  top: 3.2rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .frame-4-Wbf .auto-group-6b6m-drd .rectangle-31-YMK {
  width: 8.2rem;
  height: 2.3rem;
  position: absolute;
  left: 7.7rem;
  top: 4.8rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .frame-4-Wbf .auto-group-6b6m-drd .follow-FmX {
  width: 3.4rem;
  height: 2.4rem;
  position: absolute;
  left: 9.8rem;
  top: 4.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.81;
  color: #000000;
  font-family: Arya, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .frame-4-Wbf .auto-group-6b6m-drd .rectangle-214-mUy {
  width: 33.1rem;
  height: 11.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(81, 81, 81, 0.75);
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-ag9t-utq .frame-4-Wbf .auto-group-6b6m-drd .followed-KFb {
  width: 8.9rem;
  height: 2.5rem;
  position: absolute;
  left: 11.4rem;
  top: 4.7rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-kpcq-cVb {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-kpcq-cVb .followed-hashtags-xpM {
  margin-right: 66.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-kpcq-cVb .union-VJV {
  margin: 1.4rem 13.732rem 0rem 0rem;
  width: 3.5684rem;
  height: 2.8489rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-d2u .auto-group-tus5-xyb .auto-group-kpcq-cVb .vector-pLm {
  margin-top: 0.6rem;
  width: 3.4344rem;
  height: 3.4344rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
