
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-job-5sb {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.page-job-5sb .component-6-variant2-du7 {
  box-sizing: border-box;
  padding: 1.4rem 1.7rem 0.6rem 5.3rem;
  width: 100%;
  height: 13.2rem;
  display: flex;
  align-items: center;
  background-color: #4682a9;
  flex-shrink: 0;
}
.page-job-5sb .component-6-variant2-du7 .auto-group-cpsf-wuo {
  margin: 1.4rem 5.8rem 0rem 0rem;
  width: 6.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-job-5sb .component-6-variant2-du7 .auto-group-cpsf-wuo .auto-group-yxdb-Ueq {
  margin-bottom: 0.5rem;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-2-bg-MVf.png');
  flex-shrink: 0;
}
.page-job-5sb .component-6-variant2-du7 .auto-group-cpsf-wuo .auto-group-yxdb-Ueq .image-15-EP7 {
  width: 6.5rem;
  height: 6.4rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
}
.page-job-5sb .component-6-variant2-du7 .auto-group-cpsf-wuo .auto-group-gk3j-9ky {
  margin: 0 0.2rem;
  width: calc(100% - 0.4rem);
  height: 2.5rem;
  position: relative;
  flex-shrink: 0;
}
.page-job-5sb .component-6-variant2-du7 .auto-group-cpsf-wuo .auto-group-gk3j-9ky .profile-gku {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-job-5sb .component-6-variant2-du7 .auto-group-cpsf-wuo .auto-group-gk3j-9ky .profile-CDT {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-job-5sb .component-6-variant2-du7 .component-3-component-2-variant2-try {
  margin: 2.9rem 27.3rem 2.7rem 0rem;
  box-sizing: border-box;
  padding: 1.341rem 1.571rem 1.403rem 40.4rem;
  height: calc(100% - 5.6rem);
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.page-job-5sb .component-6-variant2-du7 .component-3-component-2-variant2-try .frame-nxM {
  width: 2.2295rem;
  height: 2.8565rem;
  object-fit: contain;
  vertical-align: top;
}
.page-job-5sb .component-6-variant2-du7 .auto-group-bq25-ir1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-job-5sb .component-6-variant2-du7 .auto-group-bq25-ir1 .icon-taskbar-UqB {
  margin-bottom: 1.1625rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.page-job-5sb .component-6-variant2-du7 .auto-group-bq25-ir1 .icon-taskbar-UqB .icon-home-pe9 {
  margin: 0rem 3.9rem 0.9rem 0rem;
  width: 6.9rem;
  height: 6.0375rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-job-5sb .component-6-variant2-du7 .auto-group-bq25-ir1 .icon-taskbar-UqB .icon-bell-jWD {
  margin: 0rem 4.2rem 0.038rem 0rem;
  width: 6.9rem;
  height: 6.9rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-job-5sb .component-6-variant2-du7 .auto-group-bq25-ir1 .icon-taskbar-UqB .icon-briefcase-42h {
  margin: 0rem 2.691rem 0.438rem 0rem;
  width: 6.9086rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-job-5sb .component-6-variant2-du7 .auto-group-bq25-ir1 .icon-taskbar-UqB .icon-people-mxh {
  margin: 0rem 6.309rem 0.038rem 0rem;
  width: 6.8914rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-job-5sb .component-6-variant2-du7 .auto-group-bq25-ir1 .icon-taskbar-UqB .icon-chat-6k5 {
  width: 6.9rem;
  height: 6.0375rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-job-5sb .component-6-variant2-du7 .auto-group-bq25-ir1 .component-4-Sow {
  margin-left: 0.35rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-job-5sb .component-6-variant2-du7 .auto-group-bq25-ir1 .component-4-Sow .home-Pz5 {
  margin-right: 1.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-job-5sb .component-6-variant2-du7 .auto-group-bq25-ir1 .component-4-Sow .notifications-XaV {
  margin-right: 2.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-job-5sb .component-6-variant2-du7 .auto-group-bq25-ir1 .component-4-Sow .jobs-4KX {
  margin: 0.1rem 2.85rem 0rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-job-5sb .component-6-variant2-du7 .auto-group-bq25-ir1 .component-4-Sow .my-network-Nr1 {
  margin-right: 1.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-job-5sb .component-6-variant2-du7 .auto-group-bq25-ir1 .component-4-Sow .messaging-WxD {
  margin-top: 0.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-job-5sb .auto-group-tv9f-Sqs {
  box-sizing: border-box;
  padding: 2.5rem 5.3rem 7.2rem 5.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-jk3w-NzR {
  margin: 0rem 11rem 4.8rem 0rem;
  width: calc(100% - 11rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-jk3w-NzR .auto-group-mnr1-Wqj {
  margin: 0rem 9.4rem 0.1rem 0rem;
  width: 28.5rem;
  height: 37.3rem;
  position: relative;
  flex-shrink: 0;
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-jk3w-NzR .auto-group-mnr1-Wqj .rectangle-23-prR {
  width: 28.2rem;
  height: 37rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-jk3w-NzR .auto-group-mnr1-Wqj .rectangle-27-MLZ {
  width: 28.2rem;
  height: 37rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-jk3w-NzR .auto-group-mnr1-Wqj .c2dfca25bca10397666ae637f078a-1-gdj {
  width: 28.2rem;
  height: 37rem;
  position: absolute;
  left: 0.3rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-jk3w-NzR .auto-group-3jds-bVo {
  width: 84.5rem;
  row-gap: 2.2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-jk3w-NzR .auto-group-3jds-bVo .frame-1-91X {
  margin-left: 0.2rem;
  box-sizing: border-box;
  padding: 2.3rem 1.9rem 2.7rem 1.9rem;
  width: 84.3rem;
  overflow: hidden;
  position: relative;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  flex-shrink: 0;
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-jk3w-NzR .auto-group-3jds-bVo .auto-group-pzcv-CVb {
  box-sizing: border-box;
  padding: 4.2rem 2.1rem 4.5rem 2.1rem;
  width: 77.4rem;
  border: solid 0.1rem #000000;
  border-radius: 1rem;
  flex-shrink: 0;
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-jk3w-NzR .auto-group-3jds-bVo .auto-group-pzcv-CVb .dibutuhkan-4-orang-pelamar-jobdesk-masinis-security-vwP {
  max-width: 24.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-jk3w-NzR .auto-group-3jds-bVo .auto-group-2jpy-DvV {
  margin-right: 46.5rem;
  width: calc(100% - 46.5rem);
  height: 5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-jk3w-NzR .auto-group-3jds-bVo .auto-group-2jpy-DvV .auto-group-3ugm-kvR {
  margin-right: 2rem;
  width: 18rem;
  height: 100%;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #213555;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-jk3w-NzR .auto-group-3jds-bVo .auto-group-2jpy-DvV .auto-group-up5j-rCm {
  width: 18rem;
  height: 100%;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #213555;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-ihnd-L7w {
  margin-right: 10.8rem;
  width: calc(100% - 10.8rem);
  height: 37.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-ihnd-L7w .auto-group-4ypm-4Zj {
  margin-right: 9.6rem;
  width: 28.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-ihnd-L7w .auto-group-4ypm-4Zj .rectangle-22-onD {
  width: 28.2rem;
  height: 37rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-ihnd-L7w .auto-group-4ypm-4Zj .rectangle-26-Ln9 {
  width: 28.2rem;
  height: 37rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-ihnd-L7w .auto-group-4ypm-4Zj .site-1-5zd {
  width: 28.2rem;
  height: 37rem;
  position: absolute;
  left: 0.3rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-ihnd-L7w .auto-group-1fe5-czZ {
  margin: 1.3rem 0rem 0.8rem 0rem;
  width: 84.5rem;
  height: calc(100% - 2.1rem);
  flex-shrink: 0;
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-ihnd-L7w .auto-group-1fe5-czZ .frame-1-wmw {
  margin: 0rem 0rem 2.2rem 0.2rem;
  box-sizing: border-box;
  padding: 2.3rem 1.9rem 2.7rem 1.9rem;
  width: 84.3rem;
  overflow: hidden;
  position: relative;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-ihnd-L7w .auto-group-1fe5-czZ .auto-group-vakw-DDf {
  margin-bottom: 1.8rem;
  width: 77.4rem;
  height: 17.5rem;
  position: relative;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 1rem;
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-ihnd-L7w .auto-group-1fe5-czZ .auto-group-vakw-DDf .dibutuhkan-5-orang-pelamar-jobdesk-pengaduk-mandor-tumbal-kjP {
  width: 24.6rem;
  height: 11rem;
  position: absolute;
  left: 1.6rem;
  top: 3.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-ihnd-L7w .auto-group-1fe5-czZ .auto-group-vakw-DDf .rectangle-40-rGd {
  width: 77.4rem;
  height: 17.5rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 1rem;
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-ihnd-L7w .auto-group-1fe5-czZ .auto-group-gjbf-A2R {
  margin-right: 46.5rem;
  width: calc(100% - 46.5rem);
  height: 5rem;
  display: flex;
  align-items: center;
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-ihnd-L7w .auto-group-1fe5-czZ .auto-group-gjbf-A2R .auto-group-drwm-hHF {
  margin-right: 2rem;
  width: 18rem;
  height: 100%;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #213555;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.page-job-5sb .auto-group-tv9f-Sqs .auto-group-ihnd-L7w .auto-group-1fe5-czZ .auto-group-gjbf-A2R .auto-group-gbf3-Pfs {
  width: 18rem;
  height: 100%;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #213555;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
