
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.register-email-pass1-eye-pass2-eye-PVo {
  box-sizing: border-box;
  padding-bottom: 21.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.register-email-pass1-eye-pass2-eye-PVo .rectangle-130-i2H {
  margin-bottom: 7.4rem;
  width: 100%;
  height: 10rem;
  background-color: #4682a9;
  flex-shrink: 0;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF {
  box-sizing: border-box;
  padding: 5.6rem 9.9rem 8.6rem 12rem;
  width: 100%;
  height: 60rem;
  display: flex;
  align-items: center;
  background-color: #213555;
  flex-shrink: 0;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .auto-group-3cbx-yD7 {
  margin: 15.2rem 16.8rem 17.65rem 0rem;
  height: calc(100% - 32.85rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .auto-group-3cbx-yD7 .jobsearch-tqs {
  margin-bottom: 8.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15rem;
  font-weight: 400;
  line-height: 0.1280000051;
  color: #ffffff;
  font-family: Birthstone Bounce, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .auto-group-3cbx-yD7 .website-mencari-pekerjaan-1fb {
  margin-right: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.6400000254;
  color: #ffffff;
  font-family: Arya, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .group-14-8VK {
  box-sizing: border-box;
  padding: 3.287rem 2.1rem 3.338rem 2.1rem;
  width: 50rem;
  height: 100%;
  background-color: #4682a9;
  border-radius: 1rem;
  flex-shrink: 0;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .group-14-8VK .register-F49 {
  margin: 0rem 0rem 0.011rem 0.4rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 0.9600000381;
  color: #000000;
  font-family: Arya, 'Source Sans Pro';
  white-space: nowrap;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .group-14-8VK .auto-group-mkqz-m2V {
  margin: 0rem 0rem 0.229rem 0.4rem;
  box-sizing: border-box;
  padding-top: 1.9733rem;
  width: 14.6rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2800000509;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .group-14-8VK .auto-group-trch-ec5 {
  margin-bottom: 0.2506rem;
  width: 100%;
  height: 9.2494rem;
  position: relative;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .group-14-8VK .auto-group-trch-ec5 .rectangle-134-akd {
  width: 45rem;
  height: 5.725rem;
  position: absolute;
  left: 0.4rem;
  top: 3.5244rem;
  border: solid 0.2rem #4682a9;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .group-14-8VK .auto-group-trch-ec5 .password-Huw {
  width: 5.6rem;
  height: 2rem;
  position: absolute;
  left: 0.4rem;
  top: 6.1708rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2800000509;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .group-14-8VK .auto-group-trch-ec5 .rectangle-143-Cn1 {
  width: 45.8rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #4682a9;
  border-radius: 0.5rem;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .group-14-8VK .auto-group-trch-ec5 .jobsearchgmailcoid-vCD {
  width: 11.3rem;
  height: 2.3rem;
  position: absolute;
  left: 1rem;
  top: 0.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .group-14-8VK .auto-group-d6jq-1Df {
  margin-bottom: 0.0431rem;
  width: 100%;
  height: 4rem;
  position: relative;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .group-14-8VK .auto-group-d6jq-1Df .rectangle-144-9Ks {
  width: 45.8rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .group-14-8VK .auto-group-d6jq-1Df .rectangle-145-HBB {
  width: 45.8rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #4682a9;
  border-radius: 0.5rem;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .group-14-8VK .auto-group-d6jq-1Df .joblook12-QWh {
  width: 5.3rem;
  height: 2.3rem;
  position: absolute;
  left: 1rem;
  top: 0.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .group-14-8VK .auto-group-d6jq-1Df .icon-eye-off-outline-X5X {
  width: 2.7rem;
  height: 2.7rem;
  cursor: pointer;
  position: absolute;
  left: 42.7rem;
  top: 0.7rem;
  object-fit: contain;
  vertical-align: top;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .group-14-8VK .auto-group-wmvm-Rwb {
  margin-bottom: 0.2894rem;
  width: 100%;
  height: 9.1569rem;
  position: relative;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .group-14-8VK .auto-group-wmvm-Rwb .rectangle-135-Nrq {
  width: 45rem;
  height: 5.725rem;
  position: absolute;
  left: 0.4rem;
  top: 0;
  border: solid 0.2rem #4682a9;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .group-14-8VK .auto-group-wmvm-Rwb .confirm-password-JkV {
  width: 11.1rem;
  height: 2rem;
  position: absolute;
  left: 0.4rem;
  top: 1.9277rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2800000509;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .group-14-8VK .auto-group-wmvm-Rwb .rectangle-146-R4R {
  width: 45.8rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 5.1569rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #4682a9;
  border-radius: 0.5rem;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .group-14-8VK .auto-group-wmvm-Rwb .joblook12-jL1 {
  width: 5.3rem;
  height: 2.3rem;
  position: absolute;
  left: 1rem;
  top: 6.0569rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .group-14-8VK .auto-group-wmvm-Rwb .icon-eye-off-outline-TG1 {
  width: 2.7rem;
  height: 2.7rem;
  cursor: pointer;
  position: absolute;
  left: 42.7rem;
  top: 5.8569rem;
  object-fit: contain;
  vertical-align: top;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .group-14-8VK .auto-group-3hpk-yk9 {
  margin: 0 0.4rem;
  width: calc(100% - 0.8rem);
  height: 9.9731rem;
  position: relative;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .group-14-8VK .auto-group-3hpk-yk9 .rectangle-136-iBw {
  width: 45rem;
  height: 5.9625rem;
  position: absolute;
  left: 0;
  top: 4.0106rem;
  background-color: #fbeeac;
  border-radius: 0.5rem;
}
.register-email-pass1-eye-pass2-eye-PVo .auto-group-hefo-3qF .group-14-8VK .auto-group-3hpk-yk9 .ok-Evy {
  width: 2.7rem;
  height: 2rem;
  position: absolute;
  left: 20.4rem;
  top: 6.0503rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.1294118096;
  color: #000000;
  font-family: Aoboshi One, 'Source Sans Pro';
  white-space: nowrap;
}
