
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-comment-send-like-WmB {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.page-home-comment-send-like-WmB .component-6-variant2-qHf {
  box-sizing: border-box;
  padding: 1.4rem 1.7rem 0.6rem 5.3rem;
  width: 100%;
  height: 13.2rem;
  display: flex;
  align-items: center;
  background-color: #4682a9;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .component-6-variant2-qHf .auto-group-f75o-jdw {
  margin: 1.4rem 5.8rem 0rem 0rem;
  width: 6.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .component-6-variant2-qHf .auto-group-f75o-jdw .auto-group-z3em-3ed {
  margin-bottom: 0.5rem;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-2-bg-hrV.png');
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .component-6-variant2-qHf .auto-group-f75o-jdw .auto-group-z3em-3ed .image-15-zpm {
  width: 6.5rem;
  height: 6.4rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-send-like-WmB .component-6-variant2-qHf .auto-group-f75o-jdw .auto-group-qpz7-JqT {
  margin: 0 0.2rem;
  width: calc(100% - 0.4rem);
  height: 2.5rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .component-6-variant2-qHf .auto-group-f75o-jdw .auto-group-qpz7-JqT .profile-EUD {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-WmB .component-6-variant2-qHf .auto-group-f75o-jdw .auto-group-qpz7-JqT .profile-wNd {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-WmB .component-6-variant2-qHf .component-3-component-2-variant2-e29 {
  margin: 2.9rem 27.3rem 2.7rem 0rem;
  box-sizing: border-box;
  padding: 1.341rem 1.571rem 1.403rem 40.4rem;
  height: calc(100% - 5.6rem);
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .component-6-variant2-qHf .component-3-component-2-variant2-e29 .frame-vkM {
  width: 2.2295rem;
  height: 2.8565rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-like-WmB .component-6-variant2-qHf .auto-group-z5gq-FXj {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .component-6-variant2-qHf .auto-group-z5gq-FXj .icon-taskbar-Cxm {
  margin-bottom: 1.1625rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .component-6-variant2-qHf .auto-group-z5gq-FXj .icon-taskbar-Cxm .icon-home-xBF {
  margin: 0rem 3.9rem 0.9rem 0rem;
  width: 6.9rem;
  height: 6.0375rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .component-6-variant2-qHf .auto-group-z5gq-FXj .icon-taskbar-Cxm .icon-bell-f5f {
  margin: 0rem 4.2rem 0.038rem 0rem;
  width: 6.9rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .component-6-variant2-qHf .auto-group-z5gq-FXj .icon-taskbar-Cxm .icon-briefcase-aiR {
  margin: 0rem 2.691rem 0.438rem 0rem;
  width: 6.9086rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .component-6-variant2-qHf .auto-group-z5gq-FXj .icon-taskbar-Cxm .icon-people-uVo {
  margin: 0rem 6.309rem 0.038rem 0rem;
  width: 6.8914rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .component-6-variant2-qHf .auto-group-z5gq-FXj .icon-taskbar-Cxm .icon-chat-SEq {
  width: 6.9rem;
  height: 6.0375rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .component-6-variant2-qHf .auto-group-z5gq-FXj .component-4-PA5 {
  margin-left: 0.35rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .component-6-variant2-qHf .auto-group-z5gq-FXj .component-4-PA5 .home-XXB {
  margin-right: 1.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .component-6-variant2-qHf .auto-group-z5gq-FXj .component-4-PA5 .notifications-T9w {
  margin-right: 2.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .component-6-variant2-qHf .auto-group-z5gq-FXj .component-4-PA5 .jobs-z9s {
  margin: 0.1rem 2.85rem 0rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .component-6-variant2-qHf .auto-group-z5gq-FXj .component-4-PA5 .my-network-W8D {
  margin-right: 1.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .component-6-variant2-qHf .auto-group-z5gq-FXj .component-4-PA5 .messaging-did {
  margin-top: 0.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD {
  box-sizing: border-box;
  padding-top: 6.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh {
  margin: 0rem 6.2rem 18.3rem 3rem;
  width: calc(100% - 9.2rem);
  height: 76.4rem;
  display: flex;
  column-gap: 5.1rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-d3rm-Qcu {
  width: 28.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-d3rm-Qcu .auto-group-reaz-9Kb {
  margin-bottom: 2.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-d3rm-Qcu .auto-group-reaz-9Kb .auto-group-s8wq-5yw {
  width: 100%;
  height: 14.7rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-d3rm-Qcu .auto-group-reaz-9Kb .auto-group-s8wq-5yw .wallpaperflare-2-dkZ {
  width: 28.2rem;
  height: 9.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-d3rm-Qcu .auto-group-reaz-9Kb .auto-group-s8wq-5yw .vector-aA1 {
  width: 12rem;
  height: 12rem;
  position: absolute;
  left: 8.1rem;
  top: 2.7rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-d3rm-Qcu .auto-group-reaz-9Kb .auto-group-kcmb-uTB {
  box-sizing: border-box;
  padding: 0.3rem 3.5rem 2.2rem 2.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-d3rm-Qcu .auto-group-reaz-9Kb .auto-group-kcmb-uTB .auto-group-2gym-RgR {
  margin: 0rem 3.3rem 3.6rem 4.7rem;
  width: calc(100% - 8rem);
  height: 6.2rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-d3rm-Qcu .auto-group-reaz-9Kb .auto-group-kcmb-uTB .auto-group-2gym-RgR .jonathan-milos-Z1w {
  width: 14.5rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-d3rm-Qcu .auto-group-reaz-9Kb .auto-group-kcmb-uTB .auto-group-2gym-RgR .data-architect-fam {
  width: 8.6rem;
  height: 2.7rem;
  position: absolute;
  left: 2.95rem;
  top: 3.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-d3rm-Qcu .auto-group-reaz-9Kb .auto-group-kcmb-uTB .line-1-Zg9 {
  margin: 0rem 0rem 2.3rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-d3rm-Qcu .auto-group-reaz-9Kb .auto-group-kcmb-uTB .connection-gkm {
  margin: 0rem 15.7rem 2.2rem 0rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-d3rm-Qcu .auto-group-reaz-9Kb .auto-group-kcmb-uTB .line-2-12M {
  margin: 0rem 0rem 1.3rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-d3rm-Qcu .auto-group-reaz-9Kb .auto-group-kcmb-uTB .try-premium-LKX {
  margin-right: 14.8rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-d3rm-Qcu .auto-group-cr8z-rHs {
  box-sizing: border-box;
  padding: 3.2rem 3.5rem 2.1rem 2.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-d3rm-Qcu .auto-group-cr8z-rHs .group-aDs {
  margin-bottom: 1.3rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-d3rm-Qcu .auto-group-cr8z-rHs .events-vHj {
  margin-bottom: 1.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-d3rm-Qcu .auto-group-cr8z-rHs .followed-hashtags-sCy {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-d3rm-Qcu .auto-group-cr8z-rHs .line-3-1KB {
  margin: 0rem 0rem 1.5rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-d3rm-Qcu .auto-group-cr8z-rHs .discover-more-wTj {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT {
  width: 63.3rem;
  height: 100%;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .frame-3-yvD {
  margin-bottom: 5.6rem;
  box-sizing: border-box;
  padding: 0.6rem 1.3rem 0.8rem 0.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .frame-3-yvD .auto-group-bwzz-hbK {
  margin-bottom: 1.7rem;
  width: 100%;
  height: 3.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .frame-3-yvD .auto-group-bwzz-hbK .vector-F73 {
  margin-right: 1.1rem;
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .frame-3-yvD .auto-group-bwzz-hbK .auto-group-trox-nMs {
  margin: 0.1rem 0;
  width: 56.6rem;
  height: calc(100% - 0.2rem);
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .frame-3-yvD .auto-group-bwzz-hbK .auto-group-trox-nMs .start-a-post-7uw {
  width: 6.2rem;
  height: 1.4rem;
  position: absolute;
  left: 0.9rem;
  top: 0.9rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .frame-3-yvD .auto-group-bwzz-hbK .auto-group-trox-nMs .rectangle-29-q5F {
  width: 56.6rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 1.5rem;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .frame-3-yvD .auto-group-mnx5-kT7 {
  margin: 0rem 3.1rem 0rem 5.5rem;
  width: calc(100% - 8.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .frame-3-yvD .auto-group-mnx5-kT7 .icon-media-image-eoP {
  margin-right: 0.2rem;
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .frame-3-yvD .auto-group-mnx5-kT7 .media-ah3 {
  margin-right: 17.3rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .frame-3-yvD .auto-group-mnx5-kT7 .events-i2Z {
  margin: 0rem 0.3rem 0.2rem 0rem;
  width: 1.7rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .frame-3-yvD .auto-group-mnx5-kT7 .events-EWh {
  margin-right: 16.2rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .frame-3-yvD .auto-group-mnx5-kT7 .article-aKf {
  margin-right: 0.2175rem;
  width: 2.1825rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .frame-3-yvD .auto-group-mnx5-kT7 .write-article-Ko3 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR {
  width: 63rem;
  height: 62.1rem;
  position: relative;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR .vector-BKT {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 1.8rem;
  top: 52.6rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR .rectangle-vXw {
  width: 63rem;
  height: 62.1rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  border-radius: 3rem;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR .line-4-4PF {
  width: 63rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 40.8rem;
  background-color: #000000;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR .ellipse-bty {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 2.5rem;
  top: 2rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 2.25rem;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR .pt-mencari-cinta-sejati-Wm3 {
  width: 19.5rem;
  height: 3.6rem;
  position: absolute;
  left: 7.5rem;
  top: 2.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR .wallpaperflare-1-2UV {
  width: 63rem;
  height: 27.7rem;
  position: absolute;
  left: 0;
  top: 7rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR .vector-xd3 {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 1.8rem;
  top: 42.4rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR .group-19-6UM {
  width: 52.3582rem;
  height: 3.3rem;
  position: absolute;
  left: 6.5rem;
  top: 36.1rem;
  display: flex;
  align-items: center;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR .group-19-6UM .icon-heart-RmX {
  margin: 0.1rem 10.8rem 0rem 0rem;
  width: 3.1rem;
  height: 2.8rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR .group-19-6UM .group-17-jnD {
  margin: 0.1rem 13.7rem 0rem 0rem;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR .group-19-6UM .icon-repost-fvm {
  margin: 0rem 13.9rem 0.1rem 0rem;
  width: 4.3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR .group-19-6UM .icon-share-zi9 {
  margin-bottom: 0.11rem;
  width: 3.3582rem;
  height: 3.19rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR .rectangle-215-jQq {
  width: 53.1rem;
  height: 4.1rem;
  position: absolute;
  left: 7.4rem;
  top: 42.6rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.7rem;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR .nice-F8H {
  width: 3.9rem;
  height: 2.2rem;
  position: absolute;
  left: 8.4rem;
  top: 43.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR .rectangle-216-ZPs {
  width: 53.4rem;
  height: 7.2rem;
  position: absolute;
  left: 7.3rem;
  top: 52.6rem;
  background-color: #ececec;
  border-radius: 0.8rem;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR .joseph-felix-Hqf {
  width: 6.2rem;
  height: 1.7rem;
  position: absolute;
  left: 7.9rem;
  top: 53.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR .ceo-of-pt-sern-p4u {
  width: 5.2rem;
  height: 1.3rem;
  position: absolute;
  left: 7.9rem;
  top: 55rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR .d-iRB {
  width: 0.8rem;
  height: 1.3rem;
  position: absolute;
  left: 58.9rem;
  top: 53.7rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR .like-ohX {
  width: 1.2rem;
  height: 1.3rem;
  position: absolute;
  left: 7.9rem;
  top: 57.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR .reply-sxH {
  width: 1.6rem;
  height: 1.3rem;
  position: absolute;
  left: 10.4rem;
  top: 57.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR .item--YYd {
  width: 0.2rem;
  height: 1.3rem;
  position: absolute;
  left: 9.7rem;
  top: 57.4rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR .nice-one-r3X {
  width: 4.7rem;
  height: 2.3rem;
  position: absolute;
  left: 7.8rem;
  top: 55.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .auto-group-whev-dbT .auto-group-uqzu-eaR .icon-send-AK7 {
  width: 2.236rem;
  height: 2.236rem;
  cursor: pointer;
  position: absolute;
  left: 57.4rem;
  top: 43.5rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .frame-4-goF {
  box-sizing: border-box;
  padding: 1.5rem 1.4rem 4.1rem 1.4rem;
  width: 33.1rem;
  overflow: hidden;
  position: relative;
  background-color: #213555;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .frame-4-goF .auto-group-v9zu-1ad {
  margin: 0rem 11rem 4.3rem 0rem;
  width: calc(100% - 11rem);
  display: flex;
  align-items: flex-start;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .frame-4-goF .auto-group-v9zu-1ad .vector-YKf {
  margin-right: 0.7rem;
  width: 5.6rem;
  height: 5.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .frame-4-goF .auto-group-v9zu-1ad .auto-group-qgv3-Uz1 {
  margin-top: 0.9rem;
  width: 13rem;
  height: 5.9rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .frame-4-goF .auto-group-v9zu-1ad .auto-group-qgv3-Uz1 .richard-alya-2Vj {
  width: 6.6rem;
  height: 1.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #ffffff;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .frame-4-goF .auto-group-v9zu-1ad .auto-group-qgv3-Uz1 .co-founder-at-kawan-media-Yiy {
  width: 13rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 1.6rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .frame-4-goF .auto-group-v9zu-1ad .auto-group-qgv3-Uz1 .rectangle-30-rDs {
  width: 8.2rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 3.6rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .frame-4-goF .auto-group-v9zu-1ad .auto-group-qgv3-Uz1 .follow-MwK {
  width: 3.4rem;
  height: 2.4rem;
  position: absolute;
  left: 2.3rem;
  top: 3.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.81;
  color: #000000;
  font-family: Arya, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .frame-4-goF .auto-group-cyj3-UFF {
  margin-right: 15.8rem;
  width: calc(100% - 15.8rem);
  display: flex;
  align-items: flex-end;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .frame-4-goF .auto-group-cyj3-UFF .vector-Qeh {
  margin: 0rem 0.7rem 0.8rem 0rem;
  width: 5.6rem;
  height: 5.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .frame-4-goF .auto-group-cyj3-UFF .auto-group-rirj-96V {
  width: 8.2rem;
  height: 5.5rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .frame-4-goF .auto-group-cyj3-UFF .auto-group-rirj-96V .joseph-felix-gMK {
  width: 6.2rem;
  height: 1.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #ffffff;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .frame-4-goF .auto-group-cyj3-UFF .auto-group-rirj-96V .ceo-of-pt-sern-QYD {
  width: 8.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 1.6rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .frame-4-goF .auto-group-cyj3-UFF .auto-group-rirj-96V .rectangle-31-j4h {
  width: 8.2rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 3.2rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-53zw-hCh .frame-4-goF .auto-group-cyj3-UFF .auto-group-rirj-96V .follow-eBf {
  width: 3.4rem;
  height: 2.4rem;
  position: absolute;
  left: 2.1rem;
  top: 3.1rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.81;
  color: #000000;
  font-family: Arya, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-ciq3-kEh {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-ciq3-kEh .followed-hashtags-uNV {
  margin-right: 66.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-ciq3-kEh .union-S7X {
  margin: 1.4rem 13.732rem 0rem 0rem;
  width: 3.5684rem;
  height: 2.8489rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-like-WmB .auto-group-psff-wzD .auto-group-ciq3-kEh .vector-MkH {
  margin-top: 0.6rem;
  width: 3.4344rem;
  height: 3.4344rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
