
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-comment-like-44m {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.page-home-comment-like-44m .component-6-variant2-zDK {
  box-sizing: border-box;
  padding: 1.4rem 1.7rem 0.6rem 5.3rem;
  width: 100%;
  height: 13.2rem;
  display: flex;
  align-items: center;
  background-color: #4682a9;
  flex-shrink: 0;
}
.page-home-comment-like-44m .component-6-variant2-zDK .auto-group-tjgy-tZb {
  margin: 1.4rem 5.8rem 0rem 0rem;
  width: 6.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-like-44m .component-6-variant2-zDK .auto-group-tjgy-tZb .auto-group-eggu-pCM {
  margin-bottom: 0.5rem;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-2-bg-cC5.png');
  flex-shrink: 0;
}
.page-home-comment-like-44m .component-6-variant2-zDK .auto-group-tjgy-tZb .auto-group-eggu-pCM .image-15-y5F {
  width: 6.5rem;
  height: 6.4rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-like-44m .component-6-variant2-zDK .auto-group-tjgy-tZb .auto-group-frfb-tCD {
  margin: 0 0.2rem;
  width: calc(100% - 0.4rem);
  height: 2.5rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-like-44m .component-6-variant2-zDK .auto-group-tjgy-tZb .auto-group-frfb-tCD .profile-QwF {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-like-44m .component-6-variant2-zDK .auto-group-tjgy-tZb .auto-group-frfb-tCD .profile-XFB {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-like-44m .component-6-variant2-zDK .component-3-component-2-variant2-2Sq {
  margin: 2.9rem 27.3rem 2.7rem 0rem;
  box-sizing: border-box;
  padding: 1.341rem 1.571rem 1.403rem 40.4rem;
  height: calc(100% - 5.6rem);
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.page-home-comment-like-44m .component-6-variant2-zDK .component-3-component-2-variant2-2Sq .frame-Wso {
  width: 2.2295rem;
  height: 2.8565rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-like-44m .component-6-variant2-zDK .auto-group-hkxm-SFf {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-like-44m .component-6-variant2-zDK .auto-group-hkxm-SFf .icon-taskbar-zHB {
  margin-bottom: 1.1625rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.page-home-comment-like-44m .component-6-variant2-zDK .auto-group-hkxm-SFf .icon-taskbar-zHB .icon-home-jEm {
  margin: 0rem 3.9rem 0.9rem 0rem;
  width: 6.9rem;
  height: 6.0375rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-like-44m .component-6-variant2-zDK .auto-group-hkxm-SFf .icon-taskbar-zHB .icon-bell-3WM {
  margin: 0rem 4.2rem 0.038rem 0rem;
  width: 6.9rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-like-44m .component-6-variant2-zDK .auto-group-hkxm-SFf .icon-taskbar-zHB .icon-briefcase-Aqs {
  margin: 0rem 2.691rem 0.438rem 0rem;
  width: 6.9086rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-like-44m .component-6-variant2-zDK .auto-group-hkxm-SFf .icon-taskbar-zHB .icon-people-HvV {
  margin: 0rem 6.309rem 0.038rem 0rem;
  width: 6.8914rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-like-44m .component-6-variant2-zDK .auto-group-hkxm-SFf .icon-taskbar-zHB .icon-chat-DZF {
  width: 6.9rem;
  height: 6.0375rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-like-44m .component-6-variant2-zDK .auto-group-hkxm-SFf .component-4-mKs {
  margin-left: 0.35rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-like-44m .component-6-variant2-zDK .auto-group-hkxm-SFf .component-4-mKs .home-QNq {
  margin-right: 1.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-like-44m .component-6-variant2-zDK .auto-group-hkxm-SFf .component-4-mKs .notifications-jAD {
  margin-right: 2.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-like-44m .component-6-variant2-zDK .auto-group-hkxm-SFf .component-4-mKs .jobs-4iH {
  margin: 0.1rem 2.85rem 0rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-like-44m .component-6-variant2-zDK .auto-group-hkxm-SFf .component-4-mKs .my-network-bCR {
  margin-right: 1.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-like-44m .component-6-variant2-zDK .auto-group-hkxm-SFf .component-4-mKs .messaging-w1P {
  margin-top: 0.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs {
  box-sizing: border-box;
  padding-top: 6.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s {
  margin: 0rem 6.2rem 18.3rem 3rem;
  width: calc(100% - 9.2rem);
  height: 76.4rem;
  display: flex;
  column-gap: 5.1rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-7941-igM {
  width: 28.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-7941-igM .auto-group-kvdb-rnZ {
  margin-bottom: 2.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-7941-igM .auto-group-kvdb-rnZ .auto-group-rrfj-oSu {
  width: 100%;
  height: 14.7rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-7941-igM .auto-group-kvdb-rnZ .auto-group-rrfj-oSu .wallpaperflare-2-x4u {
  width: 28.2rem;
  height: 9.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-7941-igM .auto-group-kvdb-rnZ .auto-group-rrfj-oSu .vector-5vD {
  width: 12rem;
  height: 12rem;
  position: absolute;
  left: 8.1rem;
  top: 2.7rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-7941-igM .auto-group-kvdb-rnZ .auto-group-4jud-pcu {
  box-sizing: border-box;
  padding: 0.3rem 3.5rem 2.2rem 2.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-7941-igM .auto-group-kvdb-rnZ .auto-group-4jud-pcu .auto-group-oysm-whX {
  margin: 0rem 3.3rem 3.6rem 4.7rem;
  width: calc(100% - 8rem);
  height: 6.2rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-7941-igM .auto-group-kvdb-rnZ .auto-group-4jud-pcu .auto-group-oysm-whX .jonathan-milos-Tvm {
  width: 14.5rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-7941-igM .auto-group-kvdb-rnZ .auto-group-4jud-pcu .auto-group-oysm-whX .data-architect-akV {
  width: 8.6rem;
  height: 2.7rem;
  position: absolute;
  left: 2.95rem;
  top: 3.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-7941-igM .auto-group-kvdb-rnZ .auto-group-4jud-pcu .line-1-tFP {
  margin: 0rem 0rem 2.3rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-7941-igM .auto-group-kvdb-rnZ .auto-group-4jud-pcu .connection-QjX {
  margin: 0rem 15.7rem 2.2rem 0rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-7941-igM .auto-group-kvdb-rnZ .auto-group-4jud-pcu .line-2-vxm {
  margin: 0rem 0rem 1.3rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-7941-igM .auto-group-kvdb-rnZ .auto-group-4jud-pcu .try-premium-Txh {
  margin-right: 14.8rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-7941-igM .auto-group-jw4u-a1j {
  box-sizing: border-box;
  padding: 3.2rem 3.5rem 2.1rem 2.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-7941-igM .auto-group-jw4u-a1j .group-T5X {
  margin-bottom: 1.3rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-7941-igM .auto-group-jw4u-a1j .events-Ycm {
  margin-bottom: 1.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-7941-igM .auto-group-jw4u-a1j .followed-hashtags-5sb {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-7941-igM .auto-group-jw4u-a1j .line-3-csX {
  margin: 0rem 0rem 1.5rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-7941-igM .auto-group-jw4u-a1j .discover-more-MaD {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ {
  width: 63.3rem;
  height: 100%;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .frame-3-Rpy {
  margin-bottom: 5.6rem;
  box-sizing: border-box;
  padding: 0.6rem 1.3rem 0.8rem 0.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .frame-3-Rpy .auto-group-notz-YPo {
  margin-bottom: 1.7rem;
  width: 100%;
  height: 3.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .frame-3-Rpy .auto-group-notz-YPo .vector-UoF {
  margin-right: 1.1rem;
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .frame-3-Rpy .auto-group-notz-YPo .auto-group-9wjs-pMK {
  margin: 0.1rem 0;
  width: 56.6rem;
  height: calc(100% - 0.2rem);
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .frame-3-Rpy .auto-group-notz-YPo .auto-group-9wjs-pMK .start-a-post-2iH {
  width: 6.2rem;
  height: 1.4rem;
  position: absolute;
  left: 0.9rem;
  top: 0.9rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .frame-3-Rpy .auto-group-notz-YPo .auto-group-9wjs-pMK .rectangle-29-w4Z {
  width: 56.6rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 1.5rem;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .frame-3-Rpy .auto-group-3str-ejf {
  margin: 0rem 3.1rem 0rem 5.5rem;
  width: calc(100% - 8.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .frame-3-Rpy .auto-group-3str-ejf .icon-media-image-knh {
  margin-right: 0.2rem;
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .frame-3-Rpy .auto-group-3str-ejf .media-sMX {
  margin-right: 17.3rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .frame-3-Rpy .auto-group-3str-ejf .events-oky {
  margin: 0rem 0.3rem 0.2rem 0rem;
  width: 1.7rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .frame-3-Rpy .auto-group-3str-ejf .events-w6V {
  margin-right: 16.2rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .frame-3-Rpy .auto-group-3str-ejf .article-5Tb {
  margin-right: 0.2175rem;
  width: 2.1825rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .frame-3-Rpy .auto-group-3str-ejf .write-article-cyK {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh {
  width: 63rem;
  height: 62.1rem;
  position: relative;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh .vector-4qK {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 1.8rem;
  top: 52.6rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh .rectangle-p3o {
  width: 63rem;
  height: 62.1rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  border-radius: 3rem;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh .line-4-M3j {
  width: 63rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 40.8rem;
  background-color: #000000;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh .ellipse-VQq {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 2.5rem;
  top: 2rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 2.25rem;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh .pt-mencari-cinta-sejati-bim {
  width: 19.5rem;
  height: 3.6rem;
  position: absolute;
  left: 7.5rem;
  top: 2.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh .wallpaperflare-1-ujT {
  width: 63rem;
  height: 27.7rem;
  position: absolute;
  left: 0;
  top: 7rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh .vector-FHX {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 1.8rem;
  top: 42.4rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh .group-19-zW1 {
  width: 52.3582rem;
  height: 3.3rem;
  position: absolute;
  left: 6.5rem;
  top: 36.1rem;
  display: flex;
  align-items: center;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh .group-19-zW1 .icon-heart-WjF {
  margin: 0.1rem 10.8rem 0rem 0rem;
  width: 3.1rem;
  height: 2.8rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh .group-19-zW1 .group-17-E9T {
  margin: 0.1rem 13.7rem 0rem 0rem;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh .group-19-zW1 .icon-repost-ME5 {
  margin: 0rem 13.9rem 0.1rem 0rem;
  width: 4.3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh .group-19-zW1 .icon-share-5Qy {
  margin-bottom: 0.11rem;
  width: 3.3582rem;
  height: 3.19rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh .rectangle-215-1pR {
  width: 53.1rem;
  height: 4.1rem;
  cursor: pointer;
  position: absolute;
  left: 7.4rem;
  top: 42.6rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.7rem;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh .icon-send-7sT {
  width: 2.236rem;
  height: 2.236rem;
  position: absolute;
  left: 57.2rem;
  top: 43.5rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh .add-a-comment-rKF {
  width: 15rem;
  height: 2.2rem;
  position: absolute;
  left: 8.4rem;
  top: 43.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh .rectangle-216-mBK {
  width: 53.4rem;
  height: 7.2rem;
  position: absolute;
  left: 7.3rem;
  top: 52.6rem;
  background-color: #ececec;
  border-radius: 0.8rem;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh .joseph-felix-hKs {
  width: 6.2rem;
  height: 1.7rem;
  position: absolute;
  left: 7.9rem;
  top: 53.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh .ceo-of-pt-sern-RFs {
  width: 5.2rem;
  height: 1.3rem;
  position: absolute;
  left: 7.9rem;
  top: 55rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh .d-j1f {
  width: 0.8rem;
  height: 1.3rem;
  position: absolute;
  left: 58.9rem;
  top: 53.7rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh .like-3o3 {
  width: 1.2rem;
  height: 1.3rem;
  position: absolute;
  left: 7.9rem;
  top: 57.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh .reply-yAu {
  width: 1.6rem;
  height: 1.3rem;
  position: absolute;
  left: 10.4rem;
  top: 57.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh .item--HSV {
  width: 0.2rem;
  height: 1.3rem;
  position: absolute;
  left: 9.7rem;
  top: 57.4rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .auto-group-cbkt-sYZ .auto-group-nlrz-wkh .nice-one-o9w {
  width: 4.7rem;
  height: 2.3rem;
  position: absolute;
  left: 7.8rem;
  top: 55.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .frame-4-tx5 {
  box-sizing: border-box;
  padding: 1.5rem 1.4rem 4.1rem 1.4rem;
  width: 33.1rem;
  overflow: hidden;
  position: relative;
  background-color: #213555;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .frame-4-tx5 .auto-group-tmav-DjT {
  margin: 0rem 11rem 4.3rem 0rem;
  width: calc(100% - 11rem);
  display: flex;
  align-items: flex-start;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .frame-4-tx5 .auto-group-tmav-DjT .vector-9d7 {
  margin-right: 0.7rem;
  width: 5.6rem;
  height: 5.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .frame-4-tx5 .auto-group-tmav-DjT .auto-group-w5ws-6HT {
  margin-top: 0.9rem;
  width: 13rem;
  height: 5.9rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .frame-4-tx5 .auto-group-tmav-DjT .auto-group-w5ws-6HT .richard-alya-E8m {
  width: 6.6rem;
  height: 1.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #ffffff;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .frame-4-tx5 .auto-group-tmav-DjT .auto-group-w5ws-6HT .co-founder-at-kawan-media-LxV {
  width: 13rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 1.6rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .frame-4-tx5 .auto-group-tmav-DjT .auto-group-w5ws-6HT .rectangle-30-F3s {
  width: 8.2rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 3.6rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .frame-4-tx5 .auto-group-tmav-DjT .auto-group-w5ws-6HT .follow-xiy {
  width: 3.4rem;
  height: 2.4rem;
  position: absolute;
  left: 2.3rem;
  top: 3.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.81;
  color: #000000;
  font-family: Arya, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .frame-4-tx5 .auto-group-gbzu-4GD {
  margin-right: 15.8rem;
  width: calc(100% - 15.8rem);
  display: flex;
  align-items: flex-end;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .frame-4-tx5 .auto-group-gbzu-4GD .vector-QL5 {
  margin: 0rem 0.7rem 0.8rem 0rem;
  width: 5.6rem;
  height: 5.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .frame-4-tx5 .auto-group-gbzu-4GD .auto-group-fl77-vZK {
  width: 8.2rem;
  height: 5.5rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .frame-4-tx5 .auto-group-gbzu-4GD .auto-group-fl77-vZK .joseph-felix-sUZ {
  width: 6.2rem;
  height: 1.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #ffffff;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .frame-4-tx5 .auto-group-gbzu-4GD .auto-group-fl77-vZK .ceo-of-pt-sern-zZB {
  width: 8.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 1.6rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .frame-4-tx5 .auto-group-gbzu-4GD .auto-group-fl77-vZK .rectangle-31-6s7 {
  width: 8.2rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 3.2rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-gmvx-Q9s .frame-4-tx5 .auto-group-gbzu-4GD .auto-group-fl77-vZK .follow-caZ {
  width: 3.4rem;
  height: 2.4rem;
  position: absolute;
  left: 2.1rem;
  top: 3.1rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.81;
  color: #000000;
  font-family: Arya, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-x82y-hru {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-x82y-hru .followed-hashtags-Tr5 {
  margin-right: 66.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-x82y-hru .union-o9F {
  margin: 1.4rem 13.732rem 0rem 0rem;
  width: 3.5684rem;
  height: 2.8489rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-like-44m .auto-group-ws3f-FXs .auto-group-x82y-hru .vector-j2u {
  margin-top: 0.6rem;
  width: 3.4344rem;
  height: 3.4344rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
