
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-send-5-Fpy {
  width: 100%;
  height: 102.4rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.page-home-send-5-Fpy .rectangle-28-jk9 {
  width: 28.2rem;
  height: 37rem;
  position: absolute;
  left: 3rem;
  top: 19.9rem;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-send-5-Fpy .rectangle-27-dad {
  width: 28.2rem;
  height: 19.3rem;
  position: absolute;
  left: 3rem;
  top: 59.3rem;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-send-5-Fpy .group-xcu {
  width: 3.8rem;
  height: 2rem;
  position: absolute;
  left: 5.2rem;
  top: 62.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-5-Fpy .events-ryB {
  width: 4.1rem;
  height: 2rem;
  position: absolute;
  left: 5.2rem;
  top: 65.8rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-5-Fpy .followed-hashtags-PCR {
  width: 11.4rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 114.6rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-5-Fpy .discover-more-uRf {
  width: 8.6rem;
  height: 2rem;
  position: absolute;
  left: 12.85rem;
  top: 74.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-5-Fpy .frame-3-poX {
  box-sizing: border-box;
  padding: 0.6rem 1.3rem 0.8rem 0.7rem;
  width: 63.3rem;
  height: 8.7rem;
  position: absolute;
  left: 36.3rem;
  top: 19.9rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
}
.page-home-send-5-Fpy .frame-3-poX .auto-group-9akv-v5s {
  margin-bottom: 1.7rem;
  width: 100%;
  height: 3.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-3-poX .auto-group-9akv-v5s .vector-rkD {
  margin-right: 1.1rem;
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-3-poX .auto-group-9akv-v5s .auto-group-vjbo-bxh {
  margin: 0.1rem 0;
  width: 56.6rem;
  height: calc(100% - 0.2rem);
  position: relative;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-3-poX .auto-group-9akv-v5s .auto-group-vjbo-bxh .start-a-post-Y7F {
  width: 6.2rem;
  height: 1.4rem;
  position: absolute;
  left: 0.9rem;
  top: 0.9rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-5-Fpy .frame-3-poX .auto-group-9akv-v5s .auto-group-vjbo-bxh .rectangle-29-eg5 {
  width: 56.6rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 1.5rem;
}
.page-home-send-5-Fpy .frame-3-poX .auto-group-qeez-xgm {
  margin: 0rem 3.1rem 0rem 5.5rem;
  width: calc(100% - 8.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-3-poX .auto-group-qeez-xgm .icon-media-image-Uv1 {
  margin-right: 0.2rem;
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-3-poX .auto-group-qeez-xgm .media-1Q9 {
  margin-right: 17.3rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-3-poX .auto-group-qeez-xgm .events-YQ5 {
  margin: 0rem 0.3rem 0.2rem 0rem;
  width: 1.7rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-3-poX .auto-group-qeez-xgm .events-fzV {
  margin-right: 16.2rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-3-poX .auto-group-qeez-xgm .article-Dm7 {
  margin-right: 0.2175rem;
  width: 2.1825rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-3-poX .auto-group-qeez-xgm .write-article-a5s {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-4-HFB {
  box-sizing: border-box;
  padding: 1.5rem 1.4rem 4.1rem 1.4rem;
  width: 33.1rem;
  height: 23.1rem;
  position: absolute;
  left: 104.7rem;
  top: 19.9rem;
  overflow: hidden;
  background-color: #213555;
}
.page-home-send-5-Fpy .frame-4-HFB .auto-group-xw2v-zfP {
  margin: 0rem 11rem 4.3rem 0rem;
  width: calc(100% - 11rem);
  display: flex;
  align-items: flex-start;
}
.page-home-send-5-Fpy .frame-4-HFB .auto-group-xw2v-zfP .vector-w4q {
  margin-right: 0.7rem;
  width: 5.6rem;
  height: 5.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-4-HFB .auto-group-xw2v-zfP .auto-group-br9t-UaZ {
  margin-top: 0.9rem;
  width: 13rem;
  height: 5.9rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-4-HFB .auto-group-xw2v-zfP .auto-group-br9t-UaZ .richard-alya-26H {
  width: 6.6rem;
  height: 1.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #ffffff;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-5-Fpy .frame-4-HFB .auto-group-xw2v-zfP .auto-group-br9t-UaZ .co-founder-at-kawan-media-Xoj {
  width: 13rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 1.6rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-5-Fpy .frame-4-HFB .auto-group-xw2v-zfP .auto-group-br9t-UaZ .rectangle-30-juo {
  width: 8.2rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 3.6rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-send-5-Fpy .frame-4-HFB .auto-group-xw2v-zfP .auto-group-br9t-UaZ .follow-T57 {
  width: 3.4rem;
  height: 2.4rem;
  position: absolute;
  left: 2.3rem;
  top: 3.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.81;
  color: #000000;
  font-family: Arya, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-5-Fpy .frame-4-HFB .auto-group-djyw-kpu {
  margin-right: 15.8rem;
  width: calc(100% - 15.8rem);
  display: flex;
  align-items: flex-end;
}
.page-home-send-5-Fpy .frame-4-HFB .auto-group-djyw-kpu .vector-JLd {
  margin: 0rem 0.7rem 0.8rem 0rem;
  width: 5.6rem;
  height: 5.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-4-HFB .auto-group-djyw-kpu .auto-group-xg8v-EVB {
  width: 8.2rem;
  height: 5.5rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-4-HFB .auto-group-djyw-kpu .auto-group-xg8v-EVB .joseph-felix-BQR {
  width: 6.2rem;
  height: 1.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #ffffff;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-5-Fpy .frame-4-HFB .auto-group-djyw-kpu .auto-group-xg8v-EVB .ceo-of-pt-sern-htZ {
  width: 8.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 1.6rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-5-Fpy .frame-4-HFB .auto-group-djyw-kpu .auto-group-xg8v-EVB .rectangle-31-2A9 {
  width: 8.2rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 3.2rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-send-5-Fpy .frame-4-HFB .auto-group-djyw-kpu .auto-group-xg8v-EVB .follow-LRj {
  width: 3.4rem;
  height: 2.4rem;
  position: absolute;
  left: 2.1rem;
  top: 3.1rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.81;
  color: #000000;
  font-family: Arya, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-5-Fpy .jonathan-milos-Rxy {
  width: 14.5rem;
  height: 4.3rem;
  position: absolute;
  left: 9.9rem;
  top: 34.9rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-5-Fpy .data-architect-jim {
  width: 8.6rem;
  height: 2.7rem;
  position: absolute;
  left: 12.85rem;
  top: 38.4rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-5-Fpy .connection-EvR {
  width: 6.8rem;
  height: 2rem;
  position: absolute;
  left: 5.2rem;
  top: 47.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-5-Fpy .try-premium-A3P {
  width: 7.7rem;
  height: 2rem;
  position: absolute;
  left: 5.2rem;
  top: 52.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-5-Fpy .frame-fkq {
  box-sizing: border-box;
  padding: 2rem 0rem 1.6rem 0rem;
  width: 63rem;
  height: 41rem;
  position: absolute;
  left: 36.3rem;
  top: 34.2rem;
  border: solid 0.2rem #000000;
  border-radius: 3rem;
}
.page-home-send-5-Fpy .frame-fkq .auto-group-cdc9-Bz5 {
  margin: 0rem 36rem 0.5rem 2.5rem;
  width: calc(100% - 38.5rem);
  display: flex;
  align-items: center;
}
.page-home-send-5-Fpy .frame-fkq .auto-group-cdc9-Bz5 .ellipse-L6H {
  margin-right: 0.5rem;
  width: 4.5rem;
  height: 4.5rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 2.25rem;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-fkq .auto-group-cdc9-Bz5 .pt-mencari-cinta-sejati-Tgh {
  margin-top: 0.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-fkq .wallpaperflare-1-PKT {
  margin-bottom: 1.4rem;
  width: 63rem;
  height: 27.7rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-send-5-Fpy .frame-fkq .group-19-829 {
  margin: 0rem 4.142rem 0rem 6.5rem;
  width: calc(100% - 10.6418rem);
  display: flex;
  align-items: center;
}
.page-home-send-5-Fpy .frame-fkq .group-19-829 .icon-heart-FcZ {
  margin: 0.1rem 10.8rem 0rem 0rem;
  width: 3.1rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-fkq .group-19-829 .group-17-a93 {
  margin: 0.1rem 13.7rem 0rem 0rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-fkq .group-19-829 .icon-repost-W2h {
  margin: 0rem 13.9rem 0.1rem 0rem;
  width: 4.3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-fkq .group-19-829 .icon-share-213 {
  margin-bottom: 0.11rem;
  width: 3.3582rem;
  height: 3.19rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-KVw {
  box-sizing: border-box;
  padding: 2rem 0rem 2.251rem 0rem;
  width: 63rem;
  height: 41rem;
  position: absolute;
  left: 36.3rem;
  top: 80.1rem;
  border: solid 0.2rem #000000;
  border-radius: 3rem;
}
.page-home-send-5-Fpy .frame-KVw .auto-group-y2eh-qUH {
  margin: 0rem 34.5rem 0.4rem 2.5rem;
  width: calc(100% - 37rem);
  display: flex;
  align-items: flex-end;
}
.page-home-send-5-Fpy .frame-KVw .auto-group-y2eh-qUH .ellipse-B2M {
  margin: 0rem 0.5rem 0.1rem 0rem;
  width: 4.5rem;
  height: 4.5rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 2.25rem;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-KVw .auto-group-y2eh-qUH .pt-barokah-jaya-jaya-jaya-GpV {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-KVw .wallpaperflare-3-QA1 {
  margin-bottom: 0rem;
  width: 63rem;
  height: 27.7rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-send-5-Fpy .frame-KVw .auto-group-srj7-ji5 {
  margin: 0rem 2.866rem 0rem 3rem;
  width: calc(100% - 5.8656rem);
  display: flex;
  align-items: flex-end;
}
.page-home-send-5-Fpy .frame-KVw .auto-group-srj7-ji5 .union-fbj {
  margin: 0rem 13.421rem 0.07rem 0rem;
  width: 3.9793rem;
  height: 3.9793rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-KVw .auto-group-srj7-ji5 .vector-Cbf {
  margin: 0rem 15.8rem 0.049rem 0rem;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-KVw .auto-group-srj7-ji5 .union-ipu {
  margin-right: 13.7316rem;
  width: 3.5684rem;
  height: 2.8489rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .frame-KVw .auto-group-srj7-ji5 .vector-GLd {
  margin-bottom: 0.2145rem;
  width: 3.4344rem;
  height: 3.4344rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .wallpaperflare-2-PRF {
  width: 28.2rem;
  height: 9.4rem;
  position: absolute;
  left: 3rem;
  top: 19.9rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-send-5-Fpy .vector-jED {
  width: 12rem;
  height: 12rem;
  position: absolute;
  left: 11.1rem;
  top: 22.6rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-send-5-Fpy .line-1-5J5 {
  width: 21.1rem;
  height: 0.1rem;
  position: absolute;
  left: 6.6rem;
  top: 44.7rem;
  background-color: #000000;
}
.page-home-send-5-Fpy .line-3-CtV {
  width: 21.1rem;
  height: 0.1rem;
  position: absolute;
  left: 6.6rem;
  top: 72.9rem;
  background-color: #000000;
}
.page-home-send-5-Fpy .line-2-kQD {
  width: 21.1rem;
  height: 0.1rem;
  position: absolute;
  left: 6.6rem;
  top: 51.3rem;
  background-color: #000000;
}
.page-home-send-5-Fpy .component-6-variant2-6U5 {
  box-sizing: border-box;
  padding: 1.4rem 1.7rem 0.6rem 5.3rem;
  width: 144rem;
  height: 13.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #4682a9;
}
.page-home-send-5-Fpy .component-6-variant2-6U5 .auto-group-kddp-CGD {
  margin: 1.4rem 5.8rem 0rem 0rem;
  width: 6.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .component-6-variant2-6U5 .auto-group-kddp-CGD .auto-group-ynl5-wDo {
  margin-bottom: 0.5rem;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-2-bg-gwf.png');
  flex-shrink: 0;
}
.page-home-send-5-Fpy .component-6-variant2-6U5 .auto-group-kddp-CGD .auto-group-ynl5-wDo .image-15-hTs {
  width: 6.5rem;
  height: 6.4rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-send-5-Fpy .component-6-variant2-6U5 .auto-group-kddp-CGD .auto-group-mxts-2FF {
  margin: 0 0.2rem;
  width: calc(100% - 0.4rem);
  height: 2.5rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .component-6-variant2-6U5 .auto-group-kddp-CGD .auto-group-mxts-2FF .profile-N4D {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-5-Fpy .component-6-variant2-6U5 .auto-group-kddp-CGD .auto-group-mxts-2FF .profile-V8q {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-5-Fpy .component-6-variant2-6U5 .component-3-component-2-variant2-bSm {
  margin: 2.9rem 27.3rem 2.7rem 0rem;
  box-sizing: border-box;
  padding: 1.341rem 1.571rem 1.403rem 40.4rem;
  height: calc(100% - 5.6rem);
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .component-6-variant2-6U5 .component-3-component-2-variant2-bSm .frame-68d {
  width: 2.2295rem;
  height: 2.8565rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-send-5-Fpy .component-6-variant2-6U5 .auto-group-prff-Dyw {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .component-6-variant2-6U5 .auto-group-prff-Dyw .icon-taskbar-Bvm {
  margin-bottom: 1.1625rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .component-6-variant2-6U5 .auto-group-prff-Dyw .icon-taskbar-Bvm .icon-home-Kn5 {
  margin: 0rem 3.9rem 0.9rem 0rem;
  width: 6.9rem;
  height: 6.0375rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .component-6-variant2-6U5 .auto-group-prff-Dyw .icon-taskbar-Bvm .icon-bell-dnm {
  margin: 0rem 4.2rem 0.038rem 0rem;
  width: 6.9rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .component-6-variant2-6U5 .auto-group-prff-Dyw .icon-taskbar-Bvm .icon-briefcase-AGu {
  margin: 0rem 2.691rem 0.438rem 0rem;
  width: 6.9086rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .component-6-variant2-6U5 .auto-group-prff-Dyw .icon-taskbar-Bvm .icon-people-H6d {
  margin: 0rem 6.309rem 0.038rem 0rem;
  width: 6.8914rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .component-6-variant2-6U5 .auto-group-prff-Dyw .icon-taskbar-Bvm .icon-chat-Qh3 {
  width: 6.9rem;
  height: 6.0375rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .component-6-variant2-6U5 .auto-group-prff-Dyw .component-4-AAR {
  margin-left: 0.35rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .component-6-variant2-6U5 .auto-group-prff-Dyw .component-4-AAR .home-hw3 {
  margin-right: 1.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .component-6-variant2-6U5 .auto-group-prff-Dyw .component-4-AAR .notifications-e5b {
  margin-right: 2.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .component-6-variant2-6U5 .auto-group-prff-Dyw .component-4-AAR .jobs-ZyF {
  margin: 0.1rem 2.85rem 0rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .component-6-variant2-6U5 .auto-group-prff-Dyw .component-4-AAR .my-network-gny {
  margin-right: 1.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .component-6-variant2-6U5 .auto-group-prff-Dyw .component-4-AAR .messaging-REm {
  margin-top: 0.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-send-5-Fpy .rectangle-220-LsX {
  width: 144rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6000000238);
}
.page-home-send-5-Fpy .rectangle-221-tPF {
  width: 75.4rem;
  height: 52.2rem;
  position: absolute;
  left: 34.3rem;
  top: 14.1rem;
  background-color: #ffffff;
  border-radius: 2rem;
}
.page-home-send-5-Fpy .send-post-RPB {
  width: 14.4rem;
  height: 3.7rem;
  position: absolute;
  left: 37rem;
  top: 15.9rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-5-Fpy .dewi-rizki-s-8oP {
  width: 12.1rem;
  height: 2.5rem;
  position: absolute;
  left: 45.9rem;
  top: 31.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-5-Fpy .line-5-rjP {
  width: 75.4rem;
  height: 0.1rem;
  position: absolute;
  left: 34.3rem;
  top: 21.4rem;
  background-color: #000000;
}
.page-home-send-5-Fpy .line-6-16V {
  width: 75.4rem;
  height: 0.1rem;
  position: absolute;
  left: 34.3rem;
  top: 59.4rem;
  background-color: #000000;
}
.page-home-send-5-Fpy .rectangle-222-9iV {
  width: 66.9rem;
  height: 3.4rem;
  position: absolute;
  left: 38.5rem;
  top: 24.9rem;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.page-home-send-5-Fpy .type-a-name-fwj {
  width: 6.7rem;
  height: 1.4rem;
  position: absolute;
  left: 39.5rem;
  top: 25.9rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-5-Fpy .rectangle-nWZ {
  width: 4.2rem;
  height: 4.2rem;
  position: absolute;
  left: 40.3rem;
  top: 30.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
}
.page-home-send-5-Fpy .damar-if7 {
  width: 6.2rem;
  height: 2.5rem;
  position: absolute;
  left: 45.9rem;
  top: 37.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-5-Fpy .rectangle-224-3Bb {
  width: 2.8rem;
  height: 2.8rem;
  cursor: pointer;
  position: absolute;
  left: 100.2rem;
  top: 31.7rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.7rem;
}
.page-home-send-5-Fpy .rectangle-227-9kR {
  width: 2.8rem;
  height: 2.8rem;
  cursor: pointer;
  position: absolute;
  left: 100.2rem;
  top: 43.7rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.7rem;
}
.page-home-send-5-Fpy .rectangle-226-fim {
  width: 60.2rem;
  height: 3.2rem;
  cursor: pointer;
  position: absolute;
  left: 41.9rem;
  top: 61.3rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #1034f1;
  border-radius: 1.3rem;
}
.page-home-send-5-Fpy .rafif-P8y {
  width: 4.4rem;
  height: 2.5rem;
  position: absolute;
  left: 45.9rem;
  top: 43.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-5-Fpy .rectangle-ud7 {
  width: 4.2rem;
  height: 4.2rem;
  position: absolute;
  left: 40.3rem;
  top: 36.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
}
.page-home-send-5-Fpy .send-eKo {
  width: 3.4rem;
  height: 1.7rem;
  position: absolute;
  left: 70.2rem;
  top: 62rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-send-5-Fpy .rectangle-AJ9 {
  width: 4.2rem;
  height: 4.2rem;
  position: absolute;
  left: 40.3rem;
  top: 42.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
}
.page-home-send-5-Fpy .group-20-h3B {
  width: 3.4288rem;
  height: 3.4288rem;
  cursor: pointer;
  position: absolute;
  left: 99.9rem;
  top: 37.4rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-send-5-Fpy .followed-hashtags-buF {
  width: 11.4rem;
  height: 2rem;
  position: absolute;
  left: 5.2rem;
  top: 68.9rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
