
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-comment-sent-like-followed-2-QsP {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.page-home-comment-sent-like-followed-2-QsP .component-6-variant2-j8y {
  box-sizing: border-box;
  padding: 1.4rem 1.7rem 0.6rem 5.3rem;
  width: 100%;
  height: 13.2rem;
  display: flex;
  align-items: center;
  background-color: #4682a9;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .component-6-variant2-j8y .auto-group-gk3f-2ds {
  margin: 1.4rem 5.8rem 0rem 0rem;
  width: 6.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .component-6-variant2-j8y .auto-group-gk3f-2ds .auto-group-ngt7-k45 {
  margin-bottom: 0.5rem;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-2-bg-A21.png');
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .component-6-variant2-j8y .auto-group-gk3f-2ds .auto-group-ngt7-k45 .image-15-JLV {
  width: 6.5rem;
  height: 6.4rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-sent-like-followed-2-QsP .component-6-variant2-j8y .auto-group-gk3f-2ds .auto-group-v3hf-1Vo {
  margin: 0 0.2rem;
  width: calc(100% - 0.4rem);
  height: 2.5rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .component-6-variant2-j8y .auto-group-gk3f-2ds .auto-group-v3hf-1Vo .profile-jgh {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .component-6-variant2-j8y .auto-group-gk3f-2ds .auto-group-v3hf-1Vo .profile-SLD {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .component-6-variant2-j8y .component-3-component-2-variant2-MCH {
  margin: 2.9rem 27.3rem 2.7rem 0rem;
  box-sizing: border-box;
  padding: 1.341rem 1.571rem 1.403rem 40.4rem;
  height: calc(100% - 5.6rem);
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .component-6-variant2-j8y .component-3-component-2-variant2-MCH .frame-eSH {
  width: 2.2295rem;
  height: 2.8565rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-sent-like-followed-2-QsP .component-6-variant2-j8y .auto-group-nysd-n2h {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .component-6-variant2-j8y .auto-group-nysd-n2h .icon-taskbar-8MT {
  margin-bottom: 1.1625rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .component-6-variant2-j8y .auto-group-nysd-n2h .icon-taskbar-8MT .icon-home-UAR {
  margin: 0rem 3.9rem 0.9rem 0rem;
  width: 6.9rem;
  height: 6.0375rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .component-6-variant2-j8y .auto-group-nysd-n2h .icon-taskbar-8MT .icon-bell-ycy {
  margin: 0rem 4.2rem 0.038rem 0rem;
  width: 6.9rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .component-6-variant2-j8y .auto-group-nysd-n2h .icon-taskbar-8MT .icon-briefcase-HtZ {
  margin: 0rem 2.691rem 0.438rem 0rem;
  width: 6.9086rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .component-6-variant2-j8y .auto-group-nysd-n2h .icon-taskbar-8MT .icon-people-1Jm {
  margin: 0rem 6.309rem 0.038rem 0rem;
  width: 6.8914rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .component-6-variant2-j8y .auto-group-nysd-n2h .icon-taskbar-8MT .icon-chat-88V {
  width: 6.9rem;
  height: 6.0375rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .component-6-variant2-j8y .auto-group-nysd-n2h .component-4-TgZ {
  margin-left: 0.35rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .component-6-variant2-j8y .auto-group-nysd-n2h .component-4-TgZ .home-QLu {
  margin-right: 1.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .component-6-variant2-j8y .auto-group-nysd-n2h .component-4-TgZ .notifications-icV {
  margin-right: 2.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .component-6-variant2-j8y .auto-group-nysd-n2h .component-4-TgZ .jobs-FcR {
  margin: 0.1rem 2.85rem 0rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .component-6-variant2-j8y .auto-group-nysd-n2h .component-4-TgZ .my-network-NS9 {
  margin-right: 1.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .component-6-variant2-j8y .auto-group-nysd-n2h .component-4-TgZ .messaging-78q {
  margin-top: 0.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj {
  box-sizing: border-box;
  padding-top: 6.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj {
  margin: 0rem 6.2rem 8.1rem 3rem;
  width: calc(100% - 9.2rem);
  height: 86.6rem;
  display: flex;
  column-gap: 5.1rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-cjfs-uKb {
  width: 28.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-cjfs-uKb .auto-group-zuts-3Au {
  margin-bottom: 2.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-cjfs-uKb .auto-group-zuts-3Au .auto-group-y1mo-aRj {
  width: 100%;
  height: 14.7rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-cjfs-uKb .auto-group-zuts-3Au .auto-group-y1mo-aRj .wallpaperflare-2-8TF {
  width: 28.2rem;
  height: 9.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-cjfs-uKb .auto-group-zuts-3Au .auto-group-y1mo-aRj .vector-4rh {
  width: 12rem;
  height: 12rem;
  position: absolute;
  left: 8.1rem;
  top: 2.7rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-cjfs-uKb .auto-group-zuts-3Au .auto-group-9u6v-bbj {
  box-sizing: border-box;
  padding: 0.3rem 3.5rem 2.2rem 2.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-cjfs-uKb .auto-group-zuts-3Au .auto-group-9u6v-bbj .auto-group-2nmt-vP7 {
  margin: 0rem 3.3rem 3.6rem 4.7rem;
  width: calc(100% - 8rem);
  height: 6.2rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-cjfs-uKb .auto-group-zuts-3Au .auto-group-9u6v-bbj .auto-group-2nmt-vP7 .jonathan-milos-3yX {
  width: 14.5rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-cjfs-uKb .auto-group-zuts-3Au .auto-group-9u6v-bbj .auto-group-2nmt-vP7 .data-architect-ZBB {
  width: 8.6rem;
  height: 2.7rem;
  position: absolute;
  left: 2.95rem;
  top: 3.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-cjfs-uKb .auto-group-zuts-3Au .auto-group-9u6v-bbj .line-1-Fph {
  margin: 0rem 0rem 2.3rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-cjfs-uKb .auto-group-zuts-3Au .auto-group-9u6v-bbj .connection-ary {
  margin: 0rem 15.7rem 2.2rem 0rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-cjfs-uKb .auto-group-zuts-3Au .auto-group-9u6v-bbj .line-2-Vyw {
  margin: 0rem 0rem 1.3rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-cjfs-uKb .auto-group-zuts-3Au .auto-group-9u6v-bbj .try-premium-dqF {
  margin-right: 14.8rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-cjfs-uKb .auto-group-c6wf-MWM {
  box-sizing: border-box;
  padding: 3.2rem 3.5rem 2.1rem 2.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-cjfs-uKb .auto-group-c6wf-MWM .group-Uay {
  margin-bottom: 1.3rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-cjfs-uKb .auto-group-c6wf-MWM .events-QzR {
  margin-bottom: 1.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-cjfs-uKb .auto-group-c6wf-MWM .followed-hashtags-ZMX {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-cjfs-uKb .auto-group-c6wf-MWM .line-3-6cM {
  margin: 0rem 0rem 1.5rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-cjfs-uKb .auto-group-c6wf-MWM .discover-more-SAR {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX {
  width: 63.3rem;
  height: 100%;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .frame-3-7GZ {
  margin-bottom: 5.6rem;
  box-sizing: border-box;
  padding: 0.6rem 1.3rem 0.8rem 0.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .frame-3-7GZ .auto-group-gnso-2eR {
  margin-bottom: 1.7rem;
  width: 100%;
  height: 3.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .frame-3-7GZ .auto-group-gnso-2eR .vector-yJm {
  margin-right: 1.1rem;
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .frame-3-7GZ .auto-group-gnso-2eR .auto-group-77qp-WpV {
  margin: 0.1rem 0;
  width: 56.6rem;
  height: calc(100% - 0.2rem);
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .frame-3-7GZ .auto-group-gnso-2eR .auto-group-77qp-WpV .start-a-post-FXB {
  width: 6.2rem;
  height: 1.4rem;
  position: absolute;
  left: 0.9rem;
  top: 0.9rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .frame-3-7GZ .auto-group-gnso-2eR .auto-group-77qp-WpV .rectangle-29-APF {
  width: 56.6rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 1.5rem;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .frame-3-7GZ .auto-group-tfgh-VAd {
  margin: 0rem 3.1rem 0rem 5.5rem;
  width: calc(100% - 8.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .frame-3-7GZ .auto-group-tfgh-VAd .icon-media-image-C53 {
  margin-right: 0.2rem;
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .frame-3-7GZ .auto-group-tfgh-VAd .media-KfT {
  margin-right: 17.3rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .frame-3-7GZ .auto-group-tfgh-VAd .events-47F {
  margin: 0rem 0.3rem 0.2rem 0rem;
  width: 1.7rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .frame-3-7GZ .auto-group-tfgh-VAd .events-b7B {
  margin-right: 16.2rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .frame-3-7GZ .auto-group-tfgh-VAd .article-jUH {
  margin-right: 0.2175rem;
  width: 2.1825rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .frame-3-7GZ .auto-group-tfgh-VAd .write-article-Ugm {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV {
  box-sizing: border-box;
  padding-top: 2rem;
  width: 63rem;
  border: solid 0.2rem #000000;
  border-radius: 3rem;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-amly-YRj {
  margin: 0rem 36rem 0.5rem 2.5rem;
  width: calc(100% - 38.5rem);
  display: flex;
  align-items: center;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-amly-YRj .ellipse-gH3 {
  margin-right: 0.5rem;
  width: 4.5rem;
  height: 4.5rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 2.25rem;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-amly-YRj .pt-mencari-cinta-sejati-CFP {
  margin-top: 0.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .wallpaperflare-1-ttu {
  width: 63rem;
  height: 27.7rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id {
  box-sizing: border-box;
  padding: 1.4rem 0rem 2.5rem 0rem;
  width: 100%;
  height: 37.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .group-19-6VB {
  margin: 0rem 4.142rem 1.4rem 6.5rem;
  width: calc(100% - 10.6418rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .group-19-6VB .icon-heart-ncu {
  margin: 0.1rem 10.8rem 0rem 0rem;
  width: 3.1rem;
  height: 2.8rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .group-19-6VB .group-17-fwb {
  margin: 0.1rem 13.7rem 0rem 0rem;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .group-19-6VB .icon-repost-mUq {
  margin: 0rem 13.9rem 0.1rem 0rem;
  width: 4.3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .group-19-6VB .icon-share-Feu {
  margin-bottom: 0.11rem;
  width: 3.3582rem;
  height: 3.19rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .line-4-Zfb {
  margin: 0rem 0rem 1.4rem 0rem;
  width: calc(100% - 0rem);
  height: 0.2rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-vsq1-HrV {
  margin: 0rem 2.5rem 6.7rem 1.8rem;
  width: calc(100% - 4.3rem);
  height: 4.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-vsq1-HrV .vector-Qw7 {
  margin-right: 1.1rem;
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-vsq1-HrV .auto-group-4a3x-ww3 {
  margin: 0.2rem 0;
  box-sizing: border-box;
  padding: 0.8rem 0.864rem 0.964rem 1rem;
  height: calc(100% - 0.4rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  border-radius: 2.7rem;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-vsq1-HrV .auto-group-4a3x-ww3 .add-a-comment-ro7 {
  margin: 0rem 34rem 0.136rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-vsq1-HrV .auto-group-4a3x-ww3 .icon-send-B4h {
  margin-top: 0.1rem;
  width: 2.236rem;
  height: 2.236rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-ju8u-g1T {
  margin: 0rem 2.3rem 1.8rem 1.8rem;
  width: calc(100% - 4.1rem);
  height: 7.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-ju8u-g1T .vector-zXw {
  margin-right: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-ju8u-g1T .auto-group-wwrh-Lbo {
  box-sizing: border-box;
  padding: 0.8rem 0.6rem 0.9rem 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ececec;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-ju8u-g1T .auto-group-wwrh-Lbo .auto-group-9pc5-UT7 {
  margin-right: 43rem;
  width: 7.9rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-ju8u-g1T .auto-group-wwrh-Lbo .auto-group-9pc5-UT7 .jonathan-milos-pG5 {
  width: 7.8rem;
  height: 1.7rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-ju8u-g1T .auto-group-wwrh-Lbo .auto-group-9pc5-UT7 .data-architect-XgH {
  width: 4.1rem;
  height: 1.3rem;
  position: absolute;
  left: 0.1rem;
  top: 1.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-ju8u-g1T .auto-group-wwrh-Lbo .auto-group-9pc5-UT7 .like-Eah {
  width: 1.2rem;
  height: 1.3rem;
  position: absolute;
  left: 0.1rem;
  top: 4.2rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-ju8u-g1T .auto-group-wwrh-Lbo .auto-group-9pc5-UT7 .reply-9Sm {
  width: 1.6rem;
  height: 1.3rem;
  position: absolute;
  left: 2.6rem;
  top: 4.2rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-ju8u-g1T .auto-group-wwrh-Lbo .auto-group-9pc5-UT7 .item--r6H {
  width: 0.2rem;
  height: 1.3rem;
  position: absolute;
  left: 1.9rem;
  top: 4rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-ju8u-g1T .auto-group-wwrh-Lbo .auto-group-9pc5-UT7 .nice-MYq {
  width: 2.4rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 2.3rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-ju8u-g1T .auto-group-wwrh-Lbo .now-5Dw {
  margin-bottom: 3.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-uod7-Q1K {
  margin: 0rem 2.3rem 0rem 1.8rem;
  width: calc(100% - 4.1rem);
  height: 7.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-uod7-Q1K .vector-X5w {
  margin-right: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-uod7-Q1K .auto-group-f5gr-s9o {
  box-sizing: border-box;
  padding: 0.8rem 1rem 0.9rem 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ececec;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-uod7-Q1K .auto-group-f5gr-s9o .auto-group-hpx1-bbb {
  margin-right: 44.8rem;
  width: 6.3rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-uod7-Q1K .auto-group-f5gr-s9o .auto-group-hpx1-bbb .joseph-felix-LZB {
  width: 6.2rem;
  height: 1.7rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-uod7-Q1K .auto-group-f5gr-s9o .auto-group-hpx1-bbb .ceo-of-pt-sern-TNu {
  width: 5.2rem;
  height: 1.3rem;
  position: absolute;
  left: 0.1rem;
  top: 1.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-uod7-Q1K .auto-group-f5gr-s9o .auto-group-hpx1-bbb .like-ZRw {
  width: 1.2rem;
  height: 1.3rem;
  position: absolute;
  left: 0.1rem;
  top: 4.2rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-uod7-Q1K .auto-group-f5gr-s9o .auto-group-hpx1-bbb .reply-fzm {
  width: 1.6rem;
  height: 1.3rem;
  position: absolute;
  left: 2.6rem;
  top: 4.2rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-uod7-Q1K .auto-group-f5gr-s9o .auto-group-hpx1-bbb .item--zXF {
  width: 0.2rem;
  height: 1.3rem;
  position: absolute;
  left: 1.9rem;
  top: 4rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-uod7-Q1K .auto-group-f5gr-s9o .auto-group-hpx1-bbb .nice-one-Jnq {
  width: 4.7rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 2.3rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .auto-group-c9yz-9qX .auto-group-2cff-bWV .auto-group-ykvy-1id .auto-group-uod7-Q1K .auto-group-f5gr-s9o .d-dKK {
  margin-bottom: 3.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .frame-4-KC9 {
  box-sizing: border-box;
  padding-top: 1.5rem;
  width: 33.1rem;
  overflow: hidden;
  position: relative;
  background-color: #213555;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .frame-4-KC9 .auto-group-xjkm-Tp9 {
  margin: 0rem 12.4rem 3.6rem 1.4rem;
  width: calc(100% - 13.8rem);
  display: flex;
  align-items: flex-start;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .frame-4-KC9 .auto-group-xjkm-Tp9 .vector-zp5 {
  margin-right: 0.7rem;
  width: 5.6rem;
  height: 5.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .frame-4-KC9 .auto-group-xjkm-Tp9 .auto-group-epz1-YKo {
  margin-top: 0.9rem;
  width: 13rem;
  height: 5.9rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .frame-4-KC9 .auto-group-xjkm-Tp9 .auto-group-epz1-YKo .richard-alya-5ad {
  width: 6.6rem;
  height: 1.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #ffffff;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .frame-4-KC9 .auto-group-xjkm-Tp9 .auto-group-epz1-YKo .co-founder-at-kawan-media-QN1 {
  width: 13rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 1.6rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .frame-4-KC9 .auto-group-xjkm-Tp9 .auto-group-epz1-YKo .rectangle-30-Wfw {
  width: 8.2rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 3.6rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .frame-4-KC9 .auto-group-xjkm-Tp9 .auto-group-epz1-YKo .follow-QWR {
  width: 3.4rem;
  height: 2.4rem;
  position: absolute;
  left: 2.3rem;
  top: 3.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.81;
  color: #000000;
  font-family: Arya, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .frame-4-KC9 .auto-group-zw33-KNV {
  width: 100%;
  height: 11.2rem;
  position: relative;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .frame-4-KC9 .auto-group-zw33-KNV .vector-Fmw {
  width: 5.6rem;
  height: 5.6rem;
  position: absolute;
  left: 1.4rem;
  top: 0.7rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .frame-4-KC9 .auto-group-zw33-KNV .joseph-felix-Nbf {
  width: 6.2rem;
  height: 1.7rem;
  position: absolute;
  left: 7.7rem;
  top: 1.6rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #ffffff;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .frame-4-KC9 .auto-group-zw33-KNV .ceo-of-pt-sern-Uub {
  width: 8.2rem;
  height: 2rem;
  position: absolute;
  left: 7.7rem;
  top: 3.2rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .frame-4-KC9 .auto-group-zw33-KNV .rectangle-31-aBw {
  width: 8.2rem;
  height: 2.3rem;
  position: absolute;
  left: 7.7rem;
  top: 4.8rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .frame-4-KC9 .auto-group-zw33-KNV .follow-gkm {
  width: 3.4rem;
  height: 2.4rem;
  position: absolute;
  left: 9.8rem;
  top: 4.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.81;
  color: #000000;
  font-family: Arya, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .frame-4-KC9 .auto-group-zw33-KNV .rectangle-218-Qgm {
  width: 33.1rem;
  height: 11.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(81, 81, 81, 0.75);
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-cq5s-ywj .frame-4-KC9 .auto-group-zw33-KNV .followed-xTP {
  width: 8.9rem;
  height: 2.5rem;
  position: absolute;
  left: 11.4rem;
  top: 4.7rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-lwsm-s4Z {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-lwsm-s4Z .followed-hashtags-2CM {
  margin-right: 66.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-lwsm-s4Z .union-Zi5 {
  margin: 1.4rem 13.732rem 0rem 0rem;
  width: 3.5684rem;
  height: 2.8489rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-sent-like-followed-2-QsP .auto-group-kebf-qKj .auto-group-lwsm-s4Z .vector-u1F {
  margin-top: 0.6rem;
  width: 3.4344rem;
  height: 3.4344rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
