
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-comment-send-followed-3-vEy {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.page-home-comment-send-followed-3-vEy .component-6-variant2-34h {
  box-sizing: border-box;
  padding: 1.4rem 1.7rem 0.6rem 5.3rem;
  width: 100%;
  height: 13.2rem;
  display: flex;
  align-items: center;
  background-color: #4682a9;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .component-6-variant2-34h .auto-group-5li9-Y1T {
  margin: 1.4rem 5.8rem 0rem 0rem;
  width: 6.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .component-6-variant2-34h .auto-group-5li9-Y1T .auto-group-ygrh-fLy {
  margin-bottom: 0.5rem;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-2-bg-6nZ.png');
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .component-6-variant2-34h .auto-group-5li9-Y1T .auto-group-ygrh-fLy .image-15-pDs {
  width: 6.5rem;
  height: 6.4rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-send-followed-3-vEy .component-6-variant2-34h .auto-group-5li9-Y1T .auto-group-zsfp-KwK {
  margin: 0 0.2rem;
  width: calc(100% - 0.4rem);
  height: 2.5rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .component-6-variant2-34h .auto-group-5li9-Y1T .auto-group-zsfp-KwK .profile-Tnd {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-vEy .component-6-variant2-34h .auto-group-5li9-Y1T .auto-group-zsfp-KwK .profile-Mt1 {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-vEy .component-6-variant2-34h .component-3-component-2-variant2-fdo {
  margin: 2.9rem 27.3rem 2.7rem 0rem;
  box-sizing: border-box;
  padding: 1.341rem 1.571rem 1.403rem 40.4rem;
  height: calc(100% - 5.6rem);
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .component-6-variant2-34h .component-3-component-2-variant2-fdo .frame-xso {
  width: 2.2295rem;
  height: 2.8565rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-followed-3-vEy .component-6-variant2-34h .auto-group-mzau-HQH {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .component-6-variant2-34h .auto-group-mzau-HQH .icon-taskbar-S2H {
  margin-bottom: 1.1625rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .component-6-variant2-34h .auto-group-mzau-HQH .icon-taskbar-S2H .icon-home-Ays {
  margin: 0rem 3.9rem 0.9rem 0rem;
  width: 6.9rem;
  height: 6.0375rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .component-6-variant2-34h .auto-group-mzau-HQH .icon-taskbar-S2H .icon-bell-t9B {
  margin: 0rem 4.2rem 0.038rem 0rem;
  width: 6.9rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .component-6-variant2-34h .auto-group-mzau-HQH .icon-taskbar-S2H .icon-briefcase-Q7X {
  margin: 0rem 2.691rem 0.438rem 0rem;
  width: 6.9086rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .component-6-variant2-34h .auto-group-mzau-HQH .icon-taskbar-S2H .icon-people-ie1 {
  margin: 0rem 6.309rem 0.038rem 0rem;
  width: 6.8914rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .component-6-variant2-34h .auto-group-mzau-HQH .icon-taskbar-S2H .icon-chat-TLh {
  width: 6.9rem;
  height: 6.0375rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .component-6-variant2-34h .auto-group-mzau-HQH .component-4-bxh {
  margin-left: 0.35rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .component-6-variant2-34h .auto-group-mzau-HQH .component-4-bxh .home-jZ7 {
  margin-right: 1.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .component-6-variant2-34h .auto-group-mzau-HQH .component-4-bxh .notifications-rtd {
  margin-right: 2.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .component-6-variant2-34h .auto-group-mzau-HQH .component-4-bxh .jobs-nXP {
  margin: 0.1rem 2.85rem 0rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .component-6-variant2-34h .auto-group-mzau-HQH .component-4-bxh .my-network-JEq {
  margin-right: 1.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .component-6-variant2-34h .auto-group-mzau-HQH .component-4-bxh .messaging-2gd {
  margin-top: 0.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF {
  box-sizing: border-box;
  padding-top: 6.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs {
  margin: 0rem 6.2rem 18.3rem 3rem;
  width: calc(100% - 9.2rem);
  height: 76.4rem;
  display: flex;
  column-gap: 5.1rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-zev9-Qx5 {
  width: 28.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-zev9-Qx5 .auto-group-r2ld-wh7 {
  margin-bottom: 2.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-zev9-Qx5 .auto-group-r2ld-wh7 .auto-group-rkq7-VCq {
  width: 100%;
  height: 14.7rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-zev9-Qx5 .auto-group-r2ld-wh7 .auto-group-rkq7-VCq .wallpaperflare-2-2yT {
  width: 28.2rem;
  height: 9.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-zev9-Qx5 .auto-group-r2ld-wh7 .auto-group-rkq7-VCq .vector-NGd {
  width: 12rem;
  height: 12rem;
  position: absolute;
  left: 8.1rem;
  top: 2.7rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-zev9-Qx5 .auto-group-r2ld-wh7 .auto-group-gokh-6iR {
  box-sizing: border-box;
  padding: 0.3rem 3.5rem 2.2rem 2.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-zev9-Qx5 .auto-group-r2ld-wh7 .auto-group-gokh-6iR .auto-group-2ui1-puK {
  margin: 0rem 3.3rem 3.6rem 4.7rem;
  width: calc(100% - 8rem);
  height: 6.2rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-zev9-Qx5 .auto-group-r2ld-wh7 .auto-group-gokh-6iR .auto-group-2ui1-puK .jonathan-milos-9Ro {
  width: 14.5rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-zev9-Qx5 .auto-group-r2ld-wh7 .auto-group-gokh-6iR .auto-group-2ui1-puK .data-architect-etM {
  width: 8.6rem;
  height: 2.7rem;
  position: absolute;
  left: 2.95rem;
  top: 3.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-zev9-Qx5 .auto-group-r2ld-wh7 .auto-group-gokh-6iR .line-1-Yyj {
  margin: 0rem 0rem 2.3rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-zev9-Qx5 .auto-group-r2ld-wh7 .auto-group-gokh-6iR .connection-gKF {
  margin: 0rem 15.7rem 2.2rem 0rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-zev9-Qx5 .auto-group-r2ld-wh7 .auto-group-gokh-6iR .line-2-QFF {
  margin: 0rem 0rem 1.3rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-zev9-Qx5 .auto-group-r2ld-wh7 .auto-group-gokh-6iR .try-premium-joK {
  margin-right: 14.8rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-zev9-Qx5 .auto-group-3p9b-Fmf {
  box-sizing: border-box;
  padding: 3.2rem 3.5rem 2.1rem 2.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-zev9-Qx5 .auto-group-3p9b-Fmf .group-nFo {
  margin-bottom: 1.3rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-zev9-Qx5 .auto-group-3p9b-Fmf .events-iv9 {
  margin-bottom: 1.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-zev9-Qx5 .auto-group-3p9b-Fmf .followed-hashtags-sHF {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-zev9-Qx5 .auto-group-3p9b-Fmf .line-3-CqK {
  margin: 0rem 0rem 1.5rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-zev9-Qx5 .auto-group-3p9b-Fmf .discover-more-Y8V {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey {
  width: 63.3rem;
  height: 100%;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .frame-3-QwP {
  margin-bottom: 5.6rem;
  box-sizing: border-box;
  padding: 0.6rem 1.3rem 0.8rem 0.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .frame-3-QwP .auto-group-uwry-ix5 {
  margin-bottom: 1.7rem;
  width: 100%;
  height: 3.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .frame-3-QwP .auto-group-uwry-ix5 .vector-s4H {
  margin-right: 1.1rem;
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .frame-3-QwP .auto-group-uwry-ix5 .auto-group-vfjm-Qa1 {
  margin: 0.1rem 0;
  width: 56.6rem;
  height: calc(100% - 0.2rem);
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .frame-3-QwP .auto-group-uwry-ix5 .auto-group-vfjm-Qa1 .start-a-post-wZw {
  width: 6.2rem;
  height: 1.4rem;
  position: absolute;
  left: 0.9rem;
  top: 0.9rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .frame-3-QwP .auto-group-uwry-ix5 .auto-group-vfjm-Qa1 .rectangle-29-Smb {
  width: 56.6rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 1.5rem;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .frame-3-QwP .auto-group-wabw-ZrD {
  margin: 0rem 3.1rem 0rem 5.5rem;
  width: calc(100% - 8.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .frame-3-QwP .auto-group-wabw-ZrD .icon-media-image-UiH {
  margin-right: 0.2rem;
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .frame-3-QwP .auto-group-wabw-ZrD .media-Qbw {
  margin-right: 17.3rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .frame-3-QwP .auto-group-wabw-ZrD .events-9Jd {
  margin: 0rem 0.3rem 0.2rem 0rem;
  width: 1.7rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .frame-3-QwP .auto-group-wabw-ZrD .events-sEd {
  margin-right: 16.2rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .frame-3-QwP .auto-group-wabw-ZrD .article-QkM {
  margin-right: 0.2175rem;
  width: 2.1825rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .frame-3-QwP .auto-group-wabw-ZrD .write-article-kJR {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh {
  width: 63rem;
  height: 62.1rem;
  position: relative;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh .vector-CgD {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 1.8rem;
  top: 52.6rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh .rectangle-YVB {
  width: 63rem;
  height: 62.1rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  border-radius: 3rem;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh .line-4-fph {
  width: 63rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 40.8rem;
  background-color: #000000;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh .ellipse-DbK {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 2.5rem;
  top: 2rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 2.25rem;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh .pt-mencari-cinta-sejati-8iH {
  width: 19.5rem;
  height: 3.6rem;
  position: absolute;
  left: 7.5rem;
  top: 2.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh .wallpaperflare-1-duw {
  width: 63rem;
  height: 27.7rem;
  position: absolute;
  left: 0;
  top: 7rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh .vector-yU1 {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 1.8rem;
  top: 42.4rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh .group-19-7q7 {
  width: 52.3582rem;
  height: 3.3rem;
  position: absolute;
  left: 6.5rem;
  top: 36.1rem;
  display: flex;
  align-items: center;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh .group-19-7q7 .icon-heart-FRX {
  margin: 0.1rem 10.8rem 0rem 0rem;
  width: 3.1rem;
  height: 2.8rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh .group-19-7q7 .group-17-Zx1 {
  margin: 0.1rem 13.7rem 0rem 0rem;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh .group-19-7q7 .icon-repost-tzH {
  margin: 0rem 13.9rem 0.1rem 0rem;
  width: 4.3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh .group-19-7q7 .icon-share-RUR {
  margin-bottom: 0.11rem;
  width: 3.3582rem;
  height: 3.19rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh .rectangle-215-N8m {
  width: 53.1rem;
  height: 4.1rem;
  position: absolute;
  left: 7.4rem;
  top: 42.6rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.7rem;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh .nice-5Yy {
  width: 3.9rem;
  height: 2.2rem;
  position: absolute;
  left: 8.4rem;
  top: 43.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh .rectangle-216-c37 {
  width: 53.4rem;
  height: 7.2rem;
  position: absolute;
  left: 7.3rem;
  top: 52.6rem;
  background-color: #ececec;
  border-radius: 0.8rem;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh .joseph-felix-jdX {
  width: 6.2rem;
  height: 1.7rem;
  position: absolute;
  left: 7.9rem;
  top: 53.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh .ceo-of-pt-sern-ekV {
  width: 5.2rem;
  height: 1.3rem;
  position: absolute;
  left: 7.9rem;
  top: 55rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh .d-Muo {
  width: 0.8rem;
  height: 1.3rem;
  position: absolute;
  left: 58.9rem;
  top: 53.7rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh .like-gx5 {
  width: 1.2rem;
  height: 1.3rem;
  position: absolute;
  left: 7.9rem;
  top: 57.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh .reply-CvR {
  width: 1.6rem;
  height: 1.3rem;
  position: absolute;
  left: 10.4rem;
  top: 57.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh .item--7Xb {
  width: 0.2rem;
  height: 1.3rem;
  position: absolute;
  left: 9.7rem;
  top: 57.4rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh .nice-one-RoB {
  width: 4.7rem;
  height: 2.3rem;
  position: absolute;
  left: 7.8rem;
  top: 55.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .auto-group-7ukt-rey .auto-group-zr8d-5Lh .icon-send-YN1 {
  width: 2.236rem;
  height: 2.236rem;
  cursor: pointer;
  position: absolute;
  left: 57.4rem;
  top: 43.5rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .frame-4-Tzm {
  width: 33.1rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #213555;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .frame-4-Tzm .auto-group-khdw-1mP {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 11.2rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .frame-4-Tzm .auto-group-khdw-1mP .vector-ZH7 {
  width: 5.6rem;
  height: 5.6rem;
  position: absolute;
  left: 1.4rem;
  top: 1.5rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .frame-4-Tzm .auto-group-khdw-1mP .richard-alya-tqB {
  width: 6.6rem;
  height: 1.7rem;
  position: absolute;
  left: 7.7rem;
  top: 2.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #ffffff;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .frame-4-Tzm .auto-group-khdw-1mP .co-founder-at-kawan-media-QYd {
  width: 13rem;
  height: 2rem;
  position: absolute;
  left: 7.7rem;
  top: 4rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .frame-4-Tzm .auto-group-khdw-1mP .rectangle-30-uVP {
  width: 8.2rem;
  height: 2.3rem;
  position: absolute;
  left: 7.7rem;
  top: 6rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .frame-4-Tzm .auto-group-khdw-1mP .follow-Dky {
  width: 3.4rem;
  height: 2.4rem;
  position: absolute;
  left: 10rem;
  top: 5.8rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.81;
  color: #000000;
  font-family: Arya, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .frame-4-Tzm .auto-group-khdw-1mP .rectangle-217-8sw {
  width: 33.1rem;
  height: 11.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(81, 81, 81, 0.75);
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .frame-4-Tzm .auto-group-khdw-1mP .followed-Fhf {
  width: 8.9rem;
  height: 2.5rem;
  position: absolute;
  left: 11.4rem;
  top: 4.7rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .frame-4-Tzm .auto-group-bc4u-AJq {
  width: 100%;
  height: 11.2rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .frame-4-Tzm .auto-group-bc4u-AJq .vector-hJm {
  width: 5.6rem;
  height: 5.6rem;
  position: absolute;
  left: 1.4rem;
  top: 0.7rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .frame-4-Tzm .auto-group-bc4u-AJq .joseph-felix-dy7 {
  width: 6.2rem;
  height: 1.7rem;
  position: absolute;
  left: 7.7rem;
  top: 1.6rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #ffffff;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .frame-4-Tzm .auto-group-bc4u-AJq .ceo-of-pt-sern-kXw {
  width: 8.2rem;
  height: 2rem;
  position: absolute;
  left: 7.7rem;
  top: 3.2rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .frame-4-Tzm .auto-group-bc4u-AJq .rectangle-31-GWH {
  width: 8.2rem;
  height: 2.3rem;
  position: absolute;
  left: 7.7rem;
  top: 4.8rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .frame-4-Tzm .auto-group-bc4u-AJq .follow-PL1 {
  width: 3.4rem;
  height: 2.4rem;
  position: absolute;
  left: 9.8rem;
  top: 4.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.81;
  color: #000000;
  font-family: Arya, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .frame-4-Tzm .auto-group-bc4u-AJq .rectangle-214-Jhs {
  width: 33.1rem;
  height: 11.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(81, 81, 81, 0.75);
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-oeox-hXs .frame-4-Tzm .auto-group-bc4u-AJq .followed-rjP {
  width: 8.9rem;
  height: 2.5rem;
  position: absolute;
  left: 11.4rem;
  top: 4.7rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-uzmt-NBw {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-uzmt-NBw .followed-hashtags-Kss {
  margin-right: 66.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-uzmt-NBw .union-TUH {
  margin: 1.4rem 13.732rem 0rem 0rem;
  width: 3.5684rem;
  height: 2.8489rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-send-followed-3-vEy .auto-group-yutr-9mF .auto-group-uzmt-NBw .vector-ySd {
  margin-top: 0.6rem;
  width: 3.4344rem;
  height: 3.4344rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
