
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-comment-followed-2-yt9 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.page-home-comment-followed-2-yt9 .component-6-variant2-i53 {
  box-sizing: border-box;
  padding: 1.4rem 1.7rem 0.6rem 5.3rem;
  width: 100%;
  height: 13.2rem;
  display: flex;
  align-items: center;
  background-color: #4682a9;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .component-6-variant2-i53 .auto-group-8a3o-DXb {
  margin: 1.4rem 5.8rem 0rem 0rem;
  width: 6.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .component-6-variant2-i53 .auto-group-8a3o-DXb .auto-group-nu65-k1j {
  margin-bottom: 0.5rem;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-2-bg-YeR.png');
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .component-6-variant2-i53 .auto-group-8a3o-DXb .auto-group-nu65-k1j .image-15-hSm {
  width: 6.5rem;
  height: 6.4rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-followed-2-yt9 .component-6-variant2-i53 .auto-group-8a3o-DXb .auto-group-c4ds-1TT {
  margin: 0 0.2rem;
  width: calc(100% - 0.4rem);
  height: 2.5rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .component-6-variant2-i53 .auto-group-8a3o-DXb .auto-group-c4ds-1TT .profile-kA9 {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-followed-2-yt9 .component-6-variant2-i53 .auto-group-8a3o-DXb .auto-group-c4ds-1TT .profile-Fch {
  width: 6.1rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-followed-2-yt9 .component-6-variant2-i53 .component-3-component-2-variant2-xn1 {
  margin: 2.9rem 27.3rem 2.7rem 0rem;
  box-sizing: border-box;
  padding: 1.341rem 1.571rem 1.403rem 40.4rem;
  height: calc(100% - 5.6rem);
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .component-6-variant2-i53 .component-3-component-2-variant2-xn1 .frame-euj {
  width: 2.2295rem;
  height: 2.8565rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-followed-2-yt9 .component-6-variant2-i53 .auto-group-nn9s-yh7 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .component-6-variant2-i53 .auto-group-nn9s-yh7 .icon-taskbar-8pu {
  margin-bottom: 1.1625rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .component-6-variant2-i53 .auto-group-nn9s-yh7 .icon-taskbar-8pu .icon-home-HC1 {
  margin: 0rem 3.9rem 0.9rem 0rem;
  width: 6.9rem;
  height: 6.0375rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .component-6-variant2-i53 .auto-group-nn9s-yh7 .icon-taskbar-8pu .icon-bell-awo {
  margin: 0rem 4.2rem 0.038rem 0rem;
  width: 6.9rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .component-6-variant2-i53 .auto-group-nn9s-yh7 .icon-taskbar-8pu .icon-briefcase-6fF {
  margin: 0rem 2.691rem 0.438rem 0rem;
  width: 6.9086rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .component-6-variant2-i53 .auto-group-nn9s-yh7 .icon-taskbar-8pu .icon-people-RSd {
  margin: 0rem 6.309rem 0.038rem 0rem;
  width: 6.8914rem;
  height: 6.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .component-6-variant2-i53 .auto-group-nn9s-yh7 .icon-taskbar-8pu .icon-chat-kUu {
  width: 6.9rem;
  height: 6.0375rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .component-6-variant2-i53 .auto-group-nn9s-yh7 .component-4-gdT {
  margin-left: 0.35rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .component-6-variant2-i53 .auto-group-nn9s-yh7 .component-4-gdT .home-dHo {
  margin-right: 1.9rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .component-6-variant2-i53 .auto-group-nn9s-yh7 .component-4-gdT .notifications-xL5 {
  margin-right: 2.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .component-6-variant2-i53 .auto-group-nn9s-yh7 .component-4-gdT .jobs-Ht9 {
  margin: 0.1rem 2.85rem 0rem 0rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .component-6-variant2-i53 .auto-group-nn9s-yh7 .component-4-gdT .my-network-Qxm {
  margin-right: 1.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .component-6-variant2-i53 .auto-group-nn9s-yh7 .component-4-gdT .messaging-9QZ {
  margin-top: 0.2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ {
  box-sizing: border-box;
  padding-top: 6.7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B {
  margin: 0rem 6.2rem 18.3rem 3rem;
  width: calc(100% - 9.2rem);
  height: 76.4rem;
  display: flex;
  column-gap: 5.1rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-ydyw-XAD {
  width: 28.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-ydyw-XAD .auto-group-bzi1-ryB {
  margin-bottom: 2.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-ydyw-XAD .auto-group-bzi1-ryB .auto-group-fut5-QUu {
  width: 100%;
  height: 14.7rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-ydyw-XAD .auto-group-bzi1-ryB .auto-group-fut5-QUu .wallpaperflare-2-ADB {
  width: 28.2rem;
  height: 9.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.5rem 1.5rem 0 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-ydyw-XAD .auto-group-bzi1-ryB .auto-group-fut5-QUu .vector-5b3 {
  width: 12rem;
  height: 12rem;
  position: absolute;
  left: 8.1rem;
  top: 2.7rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-ydyw-XAD .auto-group-bzi1-ryB .auto-group-gwjy-cay {
  box-sizing: border-box;
  padding: 0.3rem 3.5rem 2.2rem 2.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-ydyw-XAD .auto-group-bzi1-ryB .auto-group-gwjy-cay .auto-group-jpww-jvV {
  margin: 0rem 3.3rem 3.6rem 4.7rem;
  width: calc(100% - 8rem);
  height: 6.2rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-ydyw-XAD .auto-group-bzi1-ryB .auto-group-gwjy-cay .auto-group-jpww-jvV .jonathan-milos-TrV {
  width: 14.5rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-ydyw-XAD .auto-group-bzi1-ryB .auto-group-gwjy-cay .auto-group-jpww-jvV .data-architect-NiZ {
  width: 8.6rem;
  height: 2.7rem;
  position: absolute;
  left: 2.95rem;
  top: 3.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-ydyw-XAD .auto-group-bzi1-ryB .auto-group-gwjy-cay .line-1-57B {
  margin: 0rem 0rem 2.3rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-ydyw-XAD .auto-group-bzi1-ryB .auto-group-gwjy-cay .connection-CSh {
  margin: 0rem 15.7rem 2.2rem 0rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-ydyw-XAD .auto-group-bzi1-ryB .auto-group-gwjy-cay .line-2-WTP {
  margin: 0rem 0rem 1.3rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-ydyw-XAD .auto-group-bzi1-ryB .auto-group-gwjy-cay .try-premium-2Rj {
  margin-right: 14.8rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-ydyw-XAD .auto-group-acwr-9FT {
  box-sizing: border-box;
  padding: 3.2rem 3.5rem 2.1rem 2.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-ydyw-XAD .auto-group-acwr-9FT .group-sBT {
  margin-bottom: 1.3rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-ydyw-XAD .auto-group-acwr-9FT .events-oL1 {
  margin-bottom: 1.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-ydyw-XAD .auto-group-acwr-9FT .followed-hashtags-wh7 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-ydyw-XAD .auto-group-acwr-9FT .line-3-GzH {
  margin: 0rem 0rem 1.5rem 1.4rem;
  width: 21.1rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-ydyw-XAD .auto-group-acwr-9FT .discover-more-cHT {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH {
  width: 63.3rem;
  height: 100%;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .frame-3-sjB {
  margin-bottom: 5.6rem;
  box-sizing: border-box;
  padding: 0.6rem 1.3rem 0.8rem 0.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  border-radius: 2rem;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .frame-3-sjB .auto-group-n2e1-PxR {
  margin-bottom: 1.7rem;
  width: 100%;
  height: 3.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .frame-3-sjB .auto-group-n2e1-PxR .vector-YKX {
  margin-right: 1.1rem;
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .frame-3-sjB .auto-group-n2e1-PxR .auto-group-2mgh-5aM {
  margin: 0.1rem 0;
  width: 56.6rem;
  height: calc(100% - 0.2rem);
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .frame-3-sjB .auto-group-n2e1-PxR .auto-group-2mgh-5aM .start-a-post-pXw {
  width: 6.2rem;
  height: 1.4rem;
  position: absolute;
  left: 0.9rem;
  top: 0.9rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .frame-3-sjB .auto-group-n2e1-PxR .auto-group-2mgh-5aM .rectangle-29-XhF {
  width: 56.6rem;
  height: 3.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  border-radius: 1.5rem;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .frame-3-sjB .auto-group-pv1o-FNM {
  margin: 0rem 3.1rem 0rem 5.5rem;
  width: calc(100% - 8.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .frame-3-sjB .auto-group-pv1o-FNM .icon-media-image-MRP {
  margin-right: 0.2rem;
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .frame-3-sjB .auto-group-pv1o-FNM .media-H49 {
  margin-right: 17.3rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .frame-3-sjB .auto-group-pv1o-FNM .events-1kq {
  margin: 0rem 0.3rem 0.2rem 0rem;
  width: 1.7rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .frame-3-sjB .auto-group-pv1o-FNM .events-wPb {
  margin-right: 16.2rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .frame-3-sjB .auto-group-pv1o-FNM .article-UuK {
  margin-right: 0.2175rem;
  width: 2.1825rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .frame-3-sjB .auto-group-pv1o-FNM .write-article-ENh {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 {
  width: 63rem;
  height: 62.1rem;
  position: relative;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 .vector-sRf {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 1.8rem;
  top: 52.6rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 .rectangle-CD3 {
  width: 63rem;
  height: 62.1rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  border-radius: 3rem;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 .line-4-jCy {
  width: 63rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 40.8rem;
  background-color: #000000;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 .ellipse-spy {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 2.5rem;
  top: 2rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 2.25rem;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 .pt-mencari-cinta-sejati-oCq {
  width: 19.5rem;
  height: 3.6rem;
  position: absolute;
  left: 7.5rem;
  top: 2.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 .wallpaperflare-1-JvH {
  width: 63rem;
  height: 27.7rem;
  position: absolute;
  left: 0;
  top: 7rem;
  object-fit: cover;
  vertical-align: top;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 .vector-3ss {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  left: 1.8rem;
  top: 42.4rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 .group-19-Bz5 {
  width: 52.3582rem;
  height: 3.3rem;
  position: absolute;
  left: 6.5rem;
  top: 36.1rem;
  display: flex;
  align-items: center;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 .group-19-Bz5 .icon-heart-KaV {
  margin: 0.1rem 10.8rem 0rem 0rem;
  width: 3.1rem;
  height: 2.8rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 .group-19-Bz5 .group-17-EhT {
  margin: 0.1rem 13.7rem 0rem 0rem;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 .group-19-Bz5 .icon-repost-Zjj {
  margin: 0rem 13.9rem 0.1rem 0rem;
  width: 4.3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 .group-19-Bz5 .icon-share-gpM {
  margin-bottom: 0.11rem;
  width: 3.3582rem;
  height: 3.19rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 .rectangle-215-EL5 {
  width: 53.1rem;
  height: 4.1rem;
  cursor: pointer;
  position: absolute;
  left: 7.4rem;
  top: 42.6rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2.7rem;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 .icon-send-8wF {
  width: 2.236rem;
  height: 2.236rem;
  position: absolute;
  left: 57.2rem;
  top: 43.5rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 .add-a-comment-4pu {
  width: 15rem;
  height: 2.2rem;
  position: absolute;
  left: 8.4rem;
  top: 43.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #757575;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 .rectangle-216-yS5 {
  width: 53.4rem;
  height: 7.2rem;
  position: absolute;
  left: 7.3rem;
  top: 52.6rem;
  background-color: #ececec;
  border-radius: 0.8rem;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 .joseph-felix-u4q {
  width: 6.2rem;
  height: 1.7rem;
  position: absolute;
  left: 7.9rem;
  top: 53.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 .ceo-of-pt-sern-DLR {
  width: 5.2rem;
  height: 1.3rem;
  position: absolute;
  left: 7.9rem;
  top: 55rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 .d-vVj {
  width: 0.8rem;
  height: 1.3rem;
  position: absolute;
  left: 58.9rem;
  top: 53.7rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 .like-SU5 {
  width: 1.2rem;
  height: 1.3rem;
  position: absolute;
  left: 7.9rem;
  top: 57.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 .reply-A9B {
  width: 1.6rem;
  height: 1.3rem;
  position: absolute;
  left: 10.4rem;
  top: 57.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 .item--sZP {
  width: 0.2rem;
  height: 1.3rem;
  position: absolute;
  left: 9.7rem;
  top: 57.4rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .auto-group-j4fw-irH .auto-group-5cff-wY1 .nice-one-ngM {
  width: 4.7rem;
  height: 2.3rem;
  position: absolute;
  left: 7.8rem;
  top: 55.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .frame-4-GLd {
  box-sizing: border-box;
  padding-top: 1.5rem;
  width: 33.1rem;
  overflow: hidden;
  position: relative;
  background-color: #213555;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .frame-4-GLd .auto-group-36um-Awo {
  margin: 0rem 12.4rem 3.6rem 1.4rem;
  width: calc(100% - 13.8rem);
  display: flex;
  align-items: flex-start;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .frame-4-GLd .auto-group-36um-Awo .vector-hgq {
  margin-right: 0.7rem;
  width: 5.6rem;
  height: 5.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .frame-4-GLd .auto-group-36um-Awo .auto-group-nd3b-e6H {
  margin-top: 0.9rem;
  width: 13rem;
  height: 5.9rem;
  position: relative;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .frame-4-GLd .auto-group-36um-Awo .auto-group-nd3b-e6H .richard-alya-P3s {
  width: 6.6rem;
  height: 1.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #ffffff;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .frame-4-GLd .auto-group-36um-Awo .auto-group-nd3b-e6H .co-founder-at-kawan-media-6iy {
  width: 13rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 1.6rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .frame-4-GLd .auto-group-36um-Awo .auto-group-nd3b-e6H .rectangle-30-1L9 {
  width: 8.2rem;
  height: 2.3rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 3.6rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .frame-4-GLd .auto-group-36um-Awo .auto-group-nd3b-e6H .follow-ikM {
  width: 3.4rem;
  height: 2.4rem;
  position: absolute;
  left: 2.3rem;
  top: 3.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.81;
  color: #000000;
  font-family: Arya, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .frame-4-GLd .auto-group-shzf-dMX {
  width: 100%;
  height: 11.2rem;
  position: relative;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .frame-4-GLd .auto-group-shzf-dMX .vector-Zky {
  width: 5.6rem;
  height: 5.6rem;
  position: absolute;
  left: 1.4rem;
  top: 0.7rem;
  object-fit: contain;
  vertical-align: top;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .frame-4-GLd .auto-group-shzf-dMX .joseph-felix-WRK {
  width: 6.2rem;
  height: 1.7rem;
  position: absolute;
  left: 7.7rem;
  top: 1.6rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #ffffff;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .frame-4-GLd .auto-group-shzf-dMX .ceo-of-pt-sern-28m {
  width: 8.2rem;
  height: 2rem;
  position: absolute;
  left: 7.7rem;
  top: 3.2rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .frame-4-GLd .auto-group-shzf-dMX .rectangle-31-KtZ {
  width: 8.2rem;
  height: 2.3rem;
  position: absolute;
  left: 7.7rem;
  top: 4.8rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
  border-radius: 1.5rem;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .frame-4-GLd .auto-group-shzf-dMX .follow-qru {
  width: 3.4rem;
  height: 2.4rem;
  position: absolute;
  left: 9.8rem;
  top: 4.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.81;
  color: #000000;
  font-family: Arya, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .frame-4-GLd .auto-group-shzf-dMX .rectangle-214-AeH {
  width: 33.1rem;
  height: 11.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(81, 81, 81, 0.75);
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-krgm-R7B .frame-4-GLd .auto-group-shzf-dMX .followed-iQu {
  width: 8.9rem;
  height: 2.5rem;
  position: absolute;
  left: 11.4rem;
  top: 4.7rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-zfup-cmB {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-zfup-cmB .followed-hashtags-aT7 {
  margin-right: 66.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-zfup-cmB .union-v1B {
  margin: 1.4rem 13.732rem 0rem 0rem;
  width: 3.5684rem;
  height: 2.8489rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.page-home-comment-followed-2-yt9 .auto-group-kxoo-sLZ .auto-group-zfup-cmB .vector-dwB {
  margin-top: 0.6rem;
  width: 3.4344rem;
  height: 3.4344rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
