
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.acara-FQ1 {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-wee1-bCy {
    position: absolute;
    left: 5.3rem;
    top: 16.7rem;
    width: 40.9rem;
    height: 85.7rem;

    .koneksi-ujT {
      position: absolute;
      left: 8rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.1199999809;
      font-family: Acme, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.3rem;
      top: 6.9rem;
      display: flex;
      color: #ffffff;
      height: 2.3rem;
    }
    .followers-opq {
      position: absolute;
      left: 8rem;
      top: 12.8rem;
      display: flex;
      height: 2.3rem;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.1199999809;
      color: #ffffff;
      font-family: Acme, 'Source Sans Pro';
      white-space: nowrap;
      width: 8rem;
    }
    .frame-2-7qX {
      padding: 5.3rem 0rem 56.8rem 0rem;
      width: 40.9rem;
      left: 0;
      top: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      height: 85.7rem;
      position: absolute;
      overflow: hidden;
      background-color: #213555;

      .auto-group-8xyh-RrD {
        white-space: nowrap;
        background-color: #213555;
        flex-shrink: 0;
        box-sizing: border-box;
        font-family: Acme, 'Source Sans Pro';
        display: flex;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1199999809;
        color: #ffffff;
        border: solid 0.1rem #419197;
        padding: 2rem 7.4rem 1.6rem 7.4rem;
        width: 100%;
      }
      .auto-group-mgfp-Jv1 {
        white-space: nowrap;
        flex-shrink: 0;
        width: 100%;
        font-size: 2rem;
        line-height: 1.1199999809;
        color: #ffffff;
        font-family: Acme, 'Source Sans Pro';
        background-color: #213555;
        box-sizing: border-box;
        padding: 1.6rem 7.4rem 2rem 7.4rem;
        display: flex;
        font-weight: 400;
        border: solid 0.1rem #419197;
      }
      .auto-group-qcq3-oLy {
        width: 100%;
        font-size: 2rem;
        line-height: 1.1199999809;
        white-space: nowrap;
        background-color: #419197;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.6rem 7.4rem 2rem 7.4rem;
        display: flex;
        font-weight: 400;
        color: #000000;
        font-family: Acme, 'Source Sans Pro';
      }
      .auto-group-gnjr-u97 {
        white-space: nowrap;
        background-color: #213555;
        box-sizing: border-box;
        display: flex;
        font-size: 2rem;
        color: #ffffff;
        font-family: Acme, 'Source Sans Pro';
        border: solid 0.1rem #419197;
        flex-shrink: 0;
        padding: 1.6rem 7.4rem 2rem 7.4rem;
        width: 100%;
        font-weight: 400;
        line-height: 1.1199999809;
      }
    }
  }
  .frame-89-tmj {
    top: 16.7rem;
    box-sizing: border-box;
    padding-top: 5.4rem;
    width: 84.6rem;
    height: 85.7rem;
    position: absolute;
    left: 53rem;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;

    .auto-group-u79x-bw3 {
      margin: 0rem 1rem 5rem 2.1rem;
      width: calc(100% - 3.1rem);
      height: 53.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .image-24-XJu {
        flex-shrink: 0;
        margin: 1.5rem 4.9rem 0rem 0rem;
        width: 10rem;
        height: 10rem;
        cursor: pointer;
        object-fit: cover;
        vertical-align: top;
      }
      .calendar-dark-Ez1 {
        border-radius: 0.8rem;
        flex-shrink: 0;
        margin-right: 4.4373rem;
        box-sizing: border-box;
        padding: 5.55rem 5.6rem 5.55rem 5.6rem;
        width: 52.1627rem;
        height: 100%;
        background-color: #213555;

        .frame-10-khT {
          flex-direction: column;
          width: 100%;
          height: 100%;
          align-items: center;
          display: flex;

          .title-72D {
            margin-bottom: 5.5rem;
            width: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .previous-f3j {
              height: 2.2627rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 12.2186rem;
              width: 2.2627rem;
            }
            .november-nu3 {
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              font-weight: 600;
              justify-content: center;
              font-size: 2.4rem;
              flex-shrink: 0;
              margin-right: 12.2186rem;
              align-items: center;
            }
            .next-uTs {
              width: 2.2627rem;
              height: 2.2627rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .dates-dem {
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 0.0627rem;
            width: 40.9rem;
            align-items: flex-end;
            display: flex;

            .frame-9-Mqf {
              align-items: center;
              flex-shrink: 0;
              margin-bottom: 3.1rem;
              width: 100%;
              display: flex;
              column-gap: 3.2rem;

              .mo-4zy {
                align-items: center;
                font-weight: 500;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                display: flex;
                font-size: 2.4rem;
                line-height: 1.2125;
                white-space: nowrap;
                justify-content: center;
              }
              .tu-CbP {
                justify-content: center;
                font-weight: 500;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                display: flex;
                align-items: center;
                white-space: nowrap;
                font-size: 2.4rem;
                color: #ffffff;
              }
              .we-8zq {
                display: flex;
                font-size: 2.4rem;
                line-height: 1.2125;
                white-space: nowrap;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
              }
              .th-gFf {
                font-weight: 500;
                line-height: 1.2125;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2.4rem;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .fr-Rj3 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .sa-yVf {
                display: flex;
                align-items: center;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                justify-content: center;
                font-size: 2.4rem;
                font-weight: 500;
                color: #ffffff;
                flex-shrink: 0;
              }
              .su-WkV {
                display: flex;
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                color: #ffffff;
                white-space: nowrap;
              }
            }
            .auto-group-5s2d-f7b {
              margin-right: 0.0313rem;
              height: 27.4rem;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .auto-group-wlwp-zff {
                box-sizing: border-box;
                padding: 6.1rem 2.1rem 0rem 0rem;
                height: 100%;
                display: flex;
                align-items: flex-end;
                flex-shrink: 0;

                .frame-2-LDj {
                  align-items: center;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  margin-right: 3.2rem;
                  height: 100%;
                  row-gap: 3.1rem;

                  .item-5-sjT {
                    display: flex;
                    align-items: center;
                    white-space: nowrap;
                    flex-shrink: 0;
                    justify-content: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                  }
                  .item-12-1am {
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 2.4rem;
                    line-height: 1.2125;
                  }
                  .item-19-Lsw {
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;
                    font-weight: 400;
                    line-height: 1.2125;
                    align-items: center;
                    font-size: 2.4rem;
                    flex-shrink: 0;
                  }
                  .item-26-H2V {
                    font-size: 2.4rem;
                    font-weight: 400;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    align-items: center;
                    justify-content: center;
                    line-height: 1.2125;
                    color: #cccccc;
                    display: flex;
                  }
                }
                .frame-3-pHK {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  margin-right: 3.7rem;
                  height: 100%;
                  row-gap: 3.1rem;
                  align-items: center;

                  .item-6-Mo3 {
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    justify-content: center;
                    align-items: center;
                    color: #cccccc;
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                  }
                  .item-13-WA9 {
                    justify-content: center;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                  }
                  .item-20-qTK {
                    display: flex;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #cccccc;
                    align-items: center;
                    justify-content: center;
                    font-size: 2.4rem;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .item-27-B1P {
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    white-space: nowrap;
                    justify-content: center;
                    line-height: 1.2125;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                  }
                }
                .frame-4-uxy {
                  flex-shrink: 0;
                  height: 100%;
                  row-gap: 3.1rem;
                  align-items: center;
                  display: flex;
                  flex-direction: column;

                  .item-7-fBT {
                    font-weight: 400;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    align-items: center;
                    justify-content: center;
                    line-height: 1.2125;
                    color: #cccccc;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 2.4rem;
                  }
                  .item-14-oHf {
                    justify-content: center;
                    font-weight: 400;
                    line-height: 1.2125;
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    font-family: Inter, 'Source Sans Pro';
                    font-size: 2.4rem;
                    color: #cccccc;
                  }
                  .item-21-YW9 {
                    white-space: nowrap;
                    align-items: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    color: #cccccc;
                    flex-shrink: 0;
                    display: flex;
                    justify-content: center;
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                  }
                  .item-28-tK7 {
                    font-size: 2.4rem;
                    font-weight: 400;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;
                    line-height: 1.2125;
                    flex-shrink: 0;
                    align-items: center;
                  }
                }
              }
              .group-1-G4m {
                margin-right: 1.7rem;
                width: 5.6rem;
                height: 100%;
                position: relative;
                flex-shrink: 0;

                .current-day-1Y9 {
                  width: 5.6rem;
                  height: 5.6rem;
                  position: absolute;
                  left: 0;
                  top: 4.75rem;
                  background-color: #52c41a;
                  border-radius: 2.8rem;
                }
                .frame-5-LaR {
                  width: 3rem;
                  height: 27.4rem;
                  left: 1.3rem;
                  top: 0;
                  row-gap: 3.1rem;
                  align-items: center;
                  display: flex;
                  position: absolute;
                  flex-direction: column;

                  .item-1-Tf3 {
                    font-weight: 400;
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 2.4rem;
                    align-items: center;
                    justify-content: center;
                    color: #cccccc;
                    flex-shrink: 0;
                    display: flex;
                  }
                  .item-8-QKP {
                    align-items: center;
                    line-height: 1.2125;
                    flex-shrink: 0;
                    display: flex;
                    justify-content: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    color: #1e1f25;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .item-15-k8M {
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    align-items: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    color: #cccccc;
                    display: flex;
                    justify-content: center;
                  }
                  .item-22-H8H {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2.4rem;
                    flex-shrink: 0;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .item-29-cwF {
                    justify-content: center;
                    font-weight: 400;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    align-items: center;
                    font-size: 2.4rem;
                    line-height: 1.2125;
                    display: flex;
                  }
                }
              }
              .frame-6-YK7 {
                margin-right: 3.2rem;
                height: 100%;
                row-gap: 3.1rem;
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .item-2-Gku {
                  justify-content: center;
                  font-weight: 400;
                  line-height: 1.2125;
                  display: flex;
                  font-size: 2.4rem;
                  color: #cccccc;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  align-items: center;
                }
                .item-9-1Ch {
                  white-space: nowrap;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: #cccccc;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.2125;
                }
                .item-16-KjB {
                  align-items: center;
                  font-weight: 400;
                  font-size: 2.4rem;
                  line-height: 1.2125;
                  color: #cccccc;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  justify-content: center;
                }
                .item-23-fHF {
                  justify-content: center;
                  font-size: 2.4rem;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  align-items: center;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #cccccc;
                  white-space: nowrap;
                  display: flex;
                }
                .item-30-ouF {
                  align-items: center;
                  font-weight: 400;
                  line-height: 1.2125;
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 2.4rem;
                  color: #cccccc;
                  font-family: Inter, 'Source Sans Pro';
                  justify-content: center;
                }
              }
              .frame-7-MQy {
                height: 100%;
                row-gap: 3.1rem;
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin-right: 3rem;

                .item-3-uBb {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  line-height: 1.2125;
                  align-items: center;
                  justify-content: center;
                  font-size: 2.4rem;
                  font-weight: 400;
                  color: #cccccc;
                  flex-shrink: 0;
                  display: flex;
                }
                .item-10-eey {
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  align-items: center;
                  font-size: 2.4rem;
                  line-height: 1.2125;
                  font-family: Inter, 'Source Sans Pro';
                  justify-content: center;
                  font-weight: 400;
                  color: #cccccc;
                }
                .item-17-o25 {
                  font-size: 2.4rem;
                  color: #cccccc;
                  font-family: Inter, 'Source Sans Pro';
                  display: flex;
                  justify-content: center;
                  line-height: 1.2125;
                  white-space: nowrap;
                  flex-shrink: 0;
                  align-items: center;
                  font-weight: 400;
                }
                .item-24-95w {
                  justify-content: center;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #cccccc;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;
                  font-size: 2.4rem;
                }
                .item-31-V9o {
                  align-items: center;
                  font-size: 2.4rem;
                  line-height: 1.2125;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  justify-content: center;
                  font-weight: 400;
                  color: #cccccc;
                  flex-shrink: 0;
                }
              }
              .frame-8-dG1 {
                row-gap: 3.1rem;
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .item-4-NzH {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  justify-content: center;
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #cccccc;
                  align-items: center;
                }
                .item-11-8Tf {
                  align-items: center;
                  justify-content: center;
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  flex-shrink: 0;
                  display: flex;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  color: #cccccc;
                }
                .item-18-UXX {
                  font-size: 2.4rem;
                  font-weight: 400;
                  color: #cccccc;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  display: flex;
                  align-items: center;
                  white-space: nowrap;
                  justify-content: center;
                  line-height: 1.2125;
                }
                .item-25-Qvy {
                  line-height: 1.2125;
                  color: #cccccc;
                  white-space: nowrap;
                  display: flex;
                  font-weight: 400;
                  font-size: 2.4rem;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  align-items: center;
                  justify-content: center;
                }
              }
            }
          }
        }
      }
      .image-23-XVo {
        height: 10rem;
        cursor: pointer;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 1.5rem;
        width: 10rem;
      }
    }
    .frame-90-s3s {
      background-color: #223355;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.7rem 2.5rem;
      width: 100%;
      height: 22.2rem;
      overflow: hidden;
      position: relative;

      .noted-8-november-webinar-briliant-bVf {
        max-width: 31.3rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';

        .noted-8-november-webinar-briliant-bVf-sub-0 {
          font-weight: 400;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Irish Grover, 'Source Sans Pro';
          font-size: 2.4rem;
        }
        .noted-8-november-webinar-briliant-bVf-sub-1 {
        }
        .noted-8-november-webinar-briliant-bVf-sub-2 {
          font-weight: 400;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Jacques Francois, 'Source Sans Pro';
          font-size: 2.4rem;
        }
      }
    }
  }
  .component-6-variant2-Q5j {
    height: 14.1rem;
    position: absolute;
    left: 0;
    top: 0;
    width: 148.2rem;

    .rectangle-1-WuT {
      background-color: #4682a9;
      width: 144rem;
      height: 13.2rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .component-3-component-2-variant2-Tph {
      width: 44.2rem;
      height: 5.6rem;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;
      position: absolute;
      left: 17.6rem;
      top: 4.3rem;
      background-color: #ffffff;
      border-radius: 0.5rem;
      box-sizing: border-box;

      .frame-MQH {
        object-fit: contain;
        vertical-align: top;
        width: 2.2295rem;
        height: 2.8565rem;
      }
    }
    .component-4-5r5 {
      width: 52.85rem;
      height: 2.7rem;
      position: absolute;
      left: 89.45rem;
      top: 9.9rem;
      display: flex;
      align-items: flex-start;

      .home-Prm {
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 1.9rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
      }
      .notifications-7Xs {
        margin-right: 2.8rem;
        text-align: center;
        line-height: 1.2125;
        color: #000000;
        font-size: 2rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .jobs-Sq3 {
        margin: 0.1rem 2.85rem 0rem 0rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 2rem;
        color: #000000;
        white-space: nowrap;
      }
      .my-network-Zem {
        margin-right: 1.3rem;
        text-align: center;
        font-size: 2rem;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .messaging-JcM {
        flex-shrink: 0;
        margin-top: 0.2rem;
        text-align: center;
        font-size: 2rem;
        font-family: Inter, 'Source Sans Pro';
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
      }
    }
    .icon-taskbar-SiZ {
      width: 51.6rem;
      height: 7.3375rem;
      position: absolute;
      left: 89.1rem;
      top: 1.4rem;
      display: flex;
      align-items: flex-end;

      .icon-home-ZoB {
        width: 6.9rem;
        height: 6.0375rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3.9rem 0.9rem 0rem;
      }
      .icon-bell-Hz5 {
        margin: 0rem 4.2rem 0.038rem 0rem;
        width: 6.9rem;
        height: 6.9rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icon-briefcase-RKb {
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.691rem 0.438rem 0rem;
        width: 6.9086rem;
        height: 6.9rem;
      }
      .icon-people-8zh {
        width: 6.8914rem;
        height: 6.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 6.309rem 0.038rem 0rem;
      }
      .icon-chat-rvh {
        width: 6.9rem;
        height: 6.0375rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .profile-DFT {
      height: 2.5rem;
      white-space: nowrap;
      font-weight: 400;
      line-height: 1.2125;
      width: 6.1rem;
      position: absolute;
      left: 5.5rem;
      top: 9.9rem;
      text-align: center;
      font-size: 2rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .image-2-Xmw {
      left: 5.3rem;
      top: 3rem;
      object-fit: cover;
      vertical-align: top;
      width: 6.5rem;
      height: 6.4rem;
      position: absolute;
    }
    .profile-5Hf {
      position: absolute;
      left: 5.5rem;
      text-align: center;
      font-size: 2rem;
      color: #000000;
      white-space: nowrap;
      width: 6.1rem;
      top: 9.9rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      height: 2.5rem;
    }
    .image-15-bmo {
      object-fit: cover;
      vertical-align: top;
      width: 6.5rem;
      height: 6.4rem;
      cursor: pointer;
      position: absolute;
      left: 5.3rem;
      top: 3rem;
    }
  }
}
