
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.acara-4Mj {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .component-6-variant2-oKK {
    height: 13.2rem;
    display: flex;
    margin-bottom: 3.5rem;
    padding: 1.4rem 1.7rem 0.6rem 5.3rem;
    align-items: center;
    background-color: #4682a9;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;

    .auto-group-rghb-tbf {
      margin: 1.4rem 5.8rem 0rem 0rem;
      width: 6.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-aond-oyX {
        margin-bottom: 0.5rem;
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:3ca1b12fd5d3de42211f78bb83137f2f2c7657e1');
        flex-shrink: 0;

        .image-15-AZB {
          width: 6.5rem;
          height: 6.4rem;
          cursor: pointer;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-rzfb-Gs7 {
        margin: 0 0.2rem;
        width: calc(100% - 0.4rem);
        height: 2.5rem;
        position: relative;
        flex-shrink: 0;

        .profile-141 {
          position: absolute;
          left: 0;
          top: 0;
          text-align: center;
          line-height: 1.2125;
          width: 6.1rem;
          height: 2.5rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2rem;
          font-weight: 400;
        }
        .profile-65T {
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2rem;
          height: 2.5rem;
          position: absolute;
          left: 0;
          top: 0;
          text-align: center;
          color: #000000;
          white-space: nowrap;
          width: 6.1rem;
        }
      }
    }
    .component-3-component-2-variant2-Bch {
      box-sizing: border-box;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;
      height: calc(100% - 5.6rem);
      background-color: #ffffff;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin: 2.9rem 27.3rem 2.7rem 0rem;

      .frame-H9w {
        height: 2.8565rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.2295rem;
      }
    }
    .auto-group-3sxb-o8H {
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;
      display: flex;

      .icon-taskbar-kJR {
        align-items: flex-end;
        flex-shrink: 0;
        margin-bottom: 1.1625rem;
        display: flex;

        .icon-home-tfX {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3.9rem 0.9rem 0rem;
          width: 6.9rem;
          height: 6.0375rem;
          object-fit: contain;
        }
        .icon-bell-Q85 {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.2rem 0.038rem 0rem;
          width: 6.9rem;
          height: 6.9rem;
          cursor: pointer;
          object-fit: contain;
        }
        .icon-briefcase-iuT {
          margin: 0rem 2.691rem 0.438rem 0rem;
          width: 6.9086rem;
          height: 6.9rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icon-people-3gq {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 6.309rem 0.038rem 0rem;
          width: 6.8914rem;
          height: 6.9rem;
          object-fit: contain;
        }
        .icon-chat-n8d {
          width: 6.9rem;
          height: 6.0375rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .component-4-KuF {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin-left: 0.35rem;

        .home-sA5 {
          flex-shrink: 0;
          text-align: center;
          font-weight: 400;
          line-height: 1.2125;
          white-space: nowrap;
          margin-right: 1.9rem;
          font-size: 2rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .notifications-zVb {
          font-weight: 400;
          line-height: 1.2125;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.8rem;
          text-align: center;
          font-size: 2rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .jobs-XEd {
          font-weight: 400;
          flex-shrink: 0;
          margin: 0.1rem 2.85rem 0rem 0rem;
          text-align: center;
          font-size: 2rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .my-network-SMb {
          font-size: 2rem;
          line-height: 1.2125;
          color: #000000;
          text-align: center;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.3rem;
        }
        .messaging-B4H {
          text-align: center;
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.2rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
  }
  .auto-group-82u5-5QZ {
    flex-shrink: 0;
    margin: 0rem 6.4rem 0rem 5.3rem;
    width: calc(100% - 11.7rem);
    height: 85.7rem;
    display: flex;
    align-items: center;

    .auto-group-pwqw-Pg9 {
      position: relative;
      flex-shrink: 0;
      margin-right: 6.8rem;
      width: 40.9rem;
      height: 100%;

      .koneksi-8Nq {
        white-space: nowrap;
        position: absolute;
        left: 8rem;
        top: 6.9rem;
        display: flex;
        color: #ffffff;
        font-family: Acme, 'Source Sans Pro';
        width: 6.3rem;
        height: 2.3rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1199999809;
      }
      .followers-Rcq {
        width: 8rem;
        position: absolute;
        left: 8rem;
        line-height: 1.1199999809;
        color: #ffffff;
        font-family: Acme, 'Source Sans Pro';
        height: 2.3rem;
        top: 12.8rem;
        display: flex;
        font-size: 2rem;
        font-weight: 400;
        white-space: nowrap;
      }
      .frame-2-KiD {
        background-color: #213555;
        padding: 5.3rem 0rem 56.8rem 0rem;
        height: 85.7rem;
        top: 0;
        overflow: hidden;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        width: 40.9rem;
        position: absolute;
        left: 0;
        display: flex;

        .auto-group-pppw-dD7 {
          font-size: 2rem;
          line-height: 1.1199999809;
          color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 100%;
          display: flex;
          white-space: nowrap;
          border: solid 0.1rem #419197;
          background-color: #213555;
          padding: 2rem 7.4rem 1.6rem 7.4rem;
          font-weight: 400;
          font-family: Acme, 'Source Sans Pro';
        }
        .auto-group-axm3-teq {
          line-height: 1.1199999809;
          color: #ffffff;
          font-family: Acme, 'Source Sans Pro';
          background-color: #213555;
          flex-shrink: 0;
          width: 100%;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          white-space: nowrap;
          border: solid 0.1rem #419197;
          box-sizing: border-box;
          padding: 1.6rem 7.4rem 2rem 7.4rem;
        }
        .auto-group-sk5o-aXf {
          color: #000000;
          font-family: Acme, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #419197;
          padding: 1.6rem 7.4rem 2rem 7.4rem;
          display: flex;
          line-height: 1.1199999809;
          font-weight: 400;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 100%;
          font-size: 2rem;
        }
        .auto-group-utxh-5jK {
          font-size: 2rem;
          font-weight: 400;
          color: #ffffff;
          font-family: Acme, 'Source Sans Pro';
          white-space: nowrap;
          box-sizing: border-box;
          padding: 1.6rem 7.4rem 2rem 7.4rem;
          width: 100%;
          flex-shrink: 0;
          background-color: #213555;
          display: flex;
          line-height: 1.1199999809;
          border: solid 0.1rem #419197;
        }
      }
    }
    .frame-89-ZuP {
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-top: 5.4rem;
      width: 84.6rem;
      height: 100%;
      align-items: center;
      background-color: #d9d9d9;

      .auto-group-ho9p-6PX {
        width: calc(100% - 3.1rem);
        height: 53.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 1rem 5rem 2.1rem;

        .image-24-1mP {
          flex-shrink: 0;
          margin: 1.5rem 4.9rem 0rem 0rem;
          width: 10rem;
          height: 10rem;
          object-fit: cover;
          vertical-align: top;
        }
        .calendar-dark-96u {
          margin-right: 4.4373rem;
          box-sizing: border-box;
          padding: 5.55rem 5.6rem 5.55rem 5.6rem;
          width: 52.1627rem;
          height: 100%;
          background-color: #213555;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .frame-10-s2u {
            width: 100%;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .title-DsT {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-bottom: 5.5rem;
              width: 100%;

              .previous-B3b {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 12.2186rem;
                width: 2.2627rem;
                height: 2.2627rem;
              }
              .desember-Wbf {
                align-items: center;
                justify-content: center;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2125;
                flex-shrink: 0;
                display: flex;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-right: 12.2186rem;
              }
              .next-EnZ {
                width: 2.2627rem;
                height: 2.2627rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .dates-n3P {
              margin-right: 0.0627rem;
              width: 40.9rem;
              align-items: flex-end;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .frame-9-Wk5 {
                margin-bottom: 3.1rem;
                width: 100%;
                display: flex;
                column-gap: 3.2rem;
                align-items: center;
                flex-shrink: 0;

                .mo-r3F {
                  color: #ffffff;
                  display: flex;
                  justify-content: center;
                  font-size: 2.4rem;
                  line-height: 1.2125;
                  flex-shrink: 0;
                  align-items: center;
                  font-weight: 500;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .tu-NXP {
                  justify-content: center;
                  font-size: 2.4rem;
                  font-weight: 500;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;
                  line-height: 1.2125;
                }
                .we-unD {
                  flex-shrink: 0;
                  font-size: 2.4rem;
                  align-items: center;
                  justify-content: center;
                  font-weight: 500;
                  line-height: 1.2125;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                }
                .th-49K {
                  white-space: nowrap;
                  align-items: center;
                  justify-content: center;
                  line-height: 1.2125;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  display: flex;
                  font-size: 2.4rem;
                  font-weight: 500;
                  flex-shrink: 0;
                }
                .fr-oMo {
                  font-weight: 500;
                  line-height: 1.2125;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 2.4rem;
                }
                .sa-jWM {
                  align-items: center;
                  line-height: 1.2125;
                  color: #ffffff;
                  font-weight: 500;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  justify-content: center;
                  font-size: 2.4rem;
                }
                .su-5aD {
                  line-height: 1.2125;
                  flex-shrink: 0;
                  justify-content: center;
                  font-size: 2.4rem;
                  font-weight: 500;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  align-items: center;
                  color: #ffffff;
                }
              }
              .auto-group-wajz-R8H {
                margin-right: 0.0314rem;
                height: 27.4rem;
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;

                .auto-group-urwy-MGq {
                  box-sizing: border-box;
                  padding: 6.1rem 3.4rem 0rem 0rem;
                  height: 100%;
                  display: flex;
                  align-items: flex-end;
                  flex-shrink: 0;

                  .frame-2-FND {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    margin-right: 3.2rem;
                    height: 100%;
                    row-gap: 3.1rem;

                    .item-5-yp1 {
                      display: flex;
                      justify-content: center;
                      font-weight: 400;
                      line-height: 1.2125;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      align-items: center;
                      font-size: 2.4rem;
                    }
                    .item-12-WJ9 {
                      font-weight: 400;
                      font-family: Inter, 'Source Sans Pro';
                      color: #cccccc;
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-size: 2.4rem;
                      line-height: 1.2125;
                    }
                    .item-19-dtZ {
                      line-height: 1.2125;
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-weight: 400;
                      font-size: 2.4rem;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                    }
                    .item-26-B9P {
                      align-items: center;
                      line-height: 1.2125;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      display: flex;
                      font-size: 2.4rem;
                      font-weight: 400;
                      white-space: nowrap;
                      flex-shrink: 0;
                      justify-content: center;
                    }
                  }
                  .frame-3-XDF {
                    margin-right: 3.7rem;
                    height: 100%;
                    row-gap: 3.1rem;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;

                    .item-6-rWR {
                      display: flex;
                      line-height: 1.2125;
                      color: #cccccc;
                      flex-shrink: 0;
                      align-items: center;
                      justify-content: center;
                      font-size: 2.4rem;
                      font-weight: 400;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                    .item-13-QH3 {
                      align-items: center;
                      font-weight: 400;
                      font-family: Inter, 'Source Sans Pro';
                      display: flex;
                      font-size: 2.4rem;
                      line-height: 1.2125;
                      color: #cccccc;
                      white-space: nowrap;
                      flex-shrink: 0;
                      justify-content: center;
                    }
                    .item-20-xJZ {
                      line-height: 1.2125;
                      color: #cccccc;
                      flex-shrink: 0;
                      display: flex;
                      justify-content: center;
                      font-weight: 400;
                      white-space: nowrap;
                      align-items: center;
                      font-size: 2.4rem;
                      font-family: Inter, 'Source Sans Pro';
                    }
                    .item-27-6vZ {
                      align-items: center;
                      font-size: 2.4rem;
                      font-weight: 400;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      line-height: 1.2125;
                      color: #cccccc;
                      justify-content: center;
                    }
                  }
                  .frame-4-3L1 {
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    height: 100%;
                    row-gap: 3.1rem;
                    align-items: center;

                    .item-7-zFF {
                      font-size: 2.4rem;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-weight: 400;
                      line-height: 1.2125;
                      color: #cccccc;
                      flex-shrink: 0;
                    }
                    .item-14-XFB {
                      font-weight: 400;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      display: flex;
                      justify-content: center;
                      font-size: 2.4rem;
                      line-height: 1.2125;
                      flex-shrink: 0;
                      align-items: center;
                    }
                    .item-21-TuX {
                      line-height: 1.2125;
                      color: #cccccc;
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 2.4rem;
                      font-weight: 400;
                      justify-content: center;
                      font-family: Inter, 'Source Sans Pro';
                      display: flex;
                      align-items: center;
                    }
                    .item-28-oiV {
                      font-weight: 400;
                      white-space: nowrap;
                      flex-shrink: 0;
                      align-items: center;
                      justify-content: center;
                      font-size: 2.4rem;
                      line-height: 1.2125;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      display: flex;
                    }
                  }
                }
                .frame-5-wph {
                  row-gap: 3.1rem;
                  align-items: center;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  margin-right: 2.9999rem;
                  height: 100%;

                  .item-1-VLR {
                    font-size: 2.4rem;
                    line-height: 1.2125;
                    color: #cccccc;
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    font-family: Inter, 'Source Sans Pro';
                    justify-content: center;
                    font-weight: 400;
                  }
                  .item-8-dxR {
                    font-size: 2.4rem;
                    line-height: 1.2125;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    display: flex;
                    justify-content: center;
                    white-space: nowrap;
                    flex-shrink: 0;
                    align-items: center;
                    font-weight: 400;
                  }
                  .item-15-ymP {
                    font-family: Inter, 'Source Sans Pro';
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #cccccc;
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 2.4rem;
                  }
                  .item-22-iU5 {
                    font-size: 2.4rem;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                    line-height: 1.2125;
                  }
                  .item-29-Fiu {
                    align-items: center;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #cccccc;
                    flex-shrink: 0;
                  }
                }
                .frame-6-zRb {
                  height: 100%;
                  row-gap: 3.1rem;
                  align-items: center;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  margin-right: 3.2rem;

                  .item-2-LVT {
                    justify-content: center;
                    line-height: 1.2125;
                    display: flex;
                    align-items: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .item-9-UrZ {
                    font-size: 2.4rem;
                    display: flex;
                    align-items: center;
                    line-height: 1.2125;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    justify-content: center;
                    font-weight: 400;
                  }
                  .item-16-2NH {
                    font-weight: 400;
                    color: #cccccc;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 2.4rem;
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                  }
                  .item-23-mKs {
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    justify-content: center;
                    align-items: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #cccccc;
                    display: flex;
                  }
                  .item-30-78q {
                    color: #cccccc;
                    display: flex;
                    align-items: center;
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    justify-content: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                  }
                }
                .frame-7-ePf {
                  margin-right: 3rem;
                  height: 100%;
                  row-gap: 3.1rem;
                  align-items: center;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .item-3-aHK {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .item-10-7o3 {
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2.4rem;
                    white-space: nowrap;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                  }
                  .item-17-Tc1 {
                    justify-content: center;
                    line-height: 1.2125;
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .item-24-biD {
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                    color: #cccccc;
                    white-space: nowrap;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                  }
                  .item-31-wXB {
                    font-weight: 400;
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 2.4rem;
                    align-items: center;
                    justify-content: center;
                    line-height: 1.2125;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    display: flex;
                  }
                }
                .frame-8-gDs {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  row-gap: 3.1rem;
                  align-items: center;

                  .item-4-DzV {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 1.2125;
                    flex-shrink: 0;
                    font-size: 2.4rem;
                    font-weight: 400;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .item-11-Auj {
                    flex-shrink: 0;
                    justify-content: center;
                    line-height: 1.2125;
                    font-size: 2.4rem;
                    font-weight: 400;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    align-items: center;
                  }
                  .item-18-85s {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2.4rem;
                    line-height: 1.2125;
                    font-weight: 400;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .item-25-Ghs {
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    font-size: 2.4rem;
                    font-weight: 400;
                    flex-shrink: 0;
                    align-items: center;
                    justify-content: center;
                    color: #cccccc;
                  }
                }
              }
            }
          }
        }
        .image-23-Bpq {
          height: 10rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 1.5rem;
          width: 10rem;
        }
      }
      .frame-90-8EH {
        padding: 2.7rem 2.5rem;
        color: #ffffff;
        align-items: baseline;
        background-color: #223355;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        height: 22.2rem;
        font-weight: 400;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;
        position: relative;
        font-size: 2.4rem;
        line-height: 1.2125;

        .frame-90-8EH-sub-0 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Irish Grover, 'Source Sans Pro';
        }
        .frame-90-8EH-sub-1 {
        }
      }
    }
  }
}
