
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.acara-3Uq {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .component-6-variant2-BL9 {
    margin-bottom: 3.5rem;
    box-sizing: border-box;
    height: 13.2rem;
    align-items: center;
    flex-shrink: 0;
    padding: 1.4rem 1.7rem 0.6rem 5.3rem;
    width: 100%;
    display: flex;
    background-color: #4682a9;

    .auto-group-1f1f-g21 {
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.4rem 5.8rem 0rem 0rem;
      width: 6.5rem;
      align-items: center;
      display: flex;

      .auto-group-qyy9-zYV {
        margin-bottom: 0.5rem;
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:3ca1b12fd5d3de42211f78bb83137f2f2c7657e1');
        flex-shrink: 0;

        .image-15-9AV {
          object-fit: cover;
          vertical-align: top;
          width: 6.5rem;
          height: 6.4rem;
          cursor: pointer;
        }
      }
      .auto-group-1xzf-TBB {
        margin: 0 0.2rem;
        width: calc(100% - 0.4rem);
        height: 2.5rem;
        position: relative;
        flex-shrink: 0;

        .profile-Bss {
          left: 0;
          font-size: 2rem;
          font-weight: 400;
          width: 6.1rem;
          height: 2.5rem;
          text-align: center;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          top: 0;
        }
        .profile-tGV {
          height: 2.5rem;
          top: 0;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 6.1rem;
          position: absolute;
          left: 0;
          text-align: center;
          font-size: 2rem;
          white-space: nowrap;
        }
      }
    }
    .component-3-component-2-variant2-PDF {
      height: calc(100% - 5.6rem);
      background-color: #ffffff;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin: 2.9rem 27.3rem 2.7rem 0rem;
      box-sizing: border-box;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;

      .frame-gCM {
        width: 2.2295rem;
        height: 2.8565rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-3rm3-CAh {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .icon-taskbar-9bj {
        margin-bottom: 1.1625rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .icon-home-Hxq {
          height: 6.0375rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3.9rem 0.9rem 0rem;
          width: 6.9rem;
        }
        .icon-bell-nub {
          margin: 0rem 4.2rem 0.038rem 0rem;
          width: 6.9rem;
          height: 6.9rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icon-briefcase-i2Z {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.691rem 0.438rem 0rem;
          width: 6.9086rem;
          height: 6.9rem;
          cursor: pointer;
          object-fit: contain;
        }
        .icon-people-2ow {
          margin: 0rem 6.309rem 0.038rem 0rem;
          width: 6.8914rem;
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icon-chat-ZYy {
          flex-shrink: 0;
          width: 6.9rem;
          height: 6.0375rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .component-4-JmT {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin-left: 0.35rem;

        .home-TPT {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.9rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
        .notifications-z8V {
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          flex-shrink: 0;
          margin-right: 2.8rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .jobs-iqB {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 2.85rem 0rem 0rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          color: #000000;
        }
        .my-network-T25 {
          margin-right: 1.3rem;
          font-weight: 400;
          line-height: 1.2125;
          flex-shrink: 0;
          text-align: center;
          font-size: 2rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .messaging-na9 {
          margin-top: 0.2rem;
          flex-shrink: 0;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
    }
  }
  .auto-group-k9wd-JYV {
    margin: 0rem 6.4rem 0rem 5.3rem;
    width: calc(100% - 11.7rem);
    height: 85.7rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-vrvq-2UV {
      margin-right: 6.8rem;
      width: 40.9rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .koneksi-y8q {
        position: absolute;
        left: 8rem;
        display: flex;
        font-size: 2rem;
        font-family: Acme, 'Source Sans Pro';
        width: 6.3rem;
        height: 2.3rem;
        line-height: 1.1199999809;
        color: #ffffff;
        white-space: nowrap;
        top: 6.9rem;
        font-weight: 400;
      }
      .followers-riR {
        font-family: Acme, 'Source Sans Pro';
        position: absolute;
        display: flex;
        font-size: 2rem;
        line-height: 1.1199999809;
        color: #ffffff;
        white-space: nowrap;
        width: 8rem;
        height: 2.3rem;
        left: 8rem;
        top: 12.8rem;
        font-weight: 400;
      }
      .frame-2-AUD {
        left: 0;
        top: 0;
        flex-direction: column;
        background-color: #213555;
        box-sizing: border-box;
        padding: 5.3rem 0rem 56.8rem 0rem;
        width: 40.9rem;
        height: 85.7rem;
        position: absolute;
        overflow: hidden;
        align-items: center;
        display: flex;

        .auto-group-nlr1-sNd {
          background-color: #213555;
          box-sizing: border-box;
          width: 100%;
          font-size: 2rem;
          font-weight: 400;
          font-family: Acme, 'Source Sans Pro';
          white-space: nowrap;
          border: solid 0.1rem #419197;
          flex-shrink: 0;
          padding: 2rem 7.4rem 1.6rem 7.4rem;
          display: flex;
          line-height: 1.1199999809;
          color: #ffffff;
        }
        .auto-group-6hwm-kBX {
          white-space: nowrap;
          background-color: #213555;
          flex-shrink: 0;
          display: flex;
          font-size: 2rem;
          line-height: 1.1199999809;
          color: #ffffff;
          font-family: Acme, 'Source Sans Pro';
          box-sizing: border-box;
          padding: 1.6rem 7.4rem 2rem 7.4rem;
          width: 100%;
          font-weight: 400;
          border: solid 0.1rem #419197;
        }
        .auto-group-pegv-EMb {
          font-size: 2rem;
          line-height: 1.1199999809;
          color: #000000;
          font-family: Acme, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #419197;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 100%;
          display: flex;
          font-weight: 400;
          padding: 1.6rem 7.4rem 2rem 7.4rem;
        }
        .auto-group-lbbj-L9j {
          border: solid 0.1rem #419197;
          background-color: #213555;
          flex-shrink: 0;
          padding: 1.6rem 7.4rem 2rem 7.4rem;
          display: flex;
          color: #ffffff;
          font-family: Acme, 'Source Sans Pro';
          white-space: nowrap;
          box-sizing: border-box;
          width: 100%;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.1199999809;
        }
      }
    }
    .frame-89-DDX {
      padding-top: 5.4rem;
      width: 84.6rem;
      height: 100%;
      overflow: hidden;
      background-color: #d9d9d9;
      box-sizing: border-box;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      position: relative;

      .auto-group-kvhj-jxZ {
        margin: 0rem 1rem 5rem 2.1rem;
        width: calc(100% - 3.1rem);
        height: 53.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .image-24-4jw {
          margin: 1.5rem 4.9rem 0rem 0rem;
          width: 10rem;
          height: 10rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .calendar-dark-PnD {
          width: 52.1627rem;
          height: 100%;
          background-color: #213555;
          border-radius: 0.8rem;
          flex-shrink: 0;
          margin-right: 4.4373rem;
          box-sizing: border-box;
          padding: 5.55rem 5.6rem 5.55rem 5.6rem;

          .frame-10-v1T {
            width: 100%;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .title-Gr1 {
              margin-bottom: 5.5rem;
              width: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .previous-q8R {
                margin-right: 13.4686rem;
                width: 2.2627rem;
                height: 2.2627rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .oktober-Zq7 {
                justify-content: center;
                font-size: 2.4rem;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                line-height: 1.2125;
                color: #ffffff;
                white-space: nowrap;
                margin-right: 13.4686rem;
                display: flex;
                align-items: center;
                font-weight: 600;
              }
              .next-tsP {
                flex-shrink: 0;
                width: 2.2627rem;
                height: 2.2627rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .dates-eLm {
              width: 40.9rem;
              align-items: flex-end;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 0.0627rem;

              .frame-9-b17 {
                margin-bottom: 3.1rem;
                width: 100%;
                display: flex;
                column-gap: 3.2rem;
                align-items: center;
                flex-shrink: 0;

                .mo-8Fw {
                  line-height: 1.2125;
                  color: #ffffff;
                  white-space: nowrap;
                  display: flex;
                  justify-content: center;
                  font-weight: 500;
                  flex-shrink: 0;
                  align-items: center;
                  font-size: 2.4rem;
                  font-family: Inter, 'Source Sans Pro';
                }
                .tu-FbT {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-weight: 500;
                  line-height: 1.2125;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 2.4rem;
                }
                .we-nrH {
                  display: flex;
                  justify-content: center;
                  font-weight: 500;
                  line-height: 1.2125;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  align-items: center;
                  font-size: 2.4rem;
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .th-jWd {
                  justify-content: center;
                  font-weight: 500;
                  flex-shrink: 0;
                  display: flex;
                  align-items: center;
                  font-size: 2.4rem;
                  line-height: 1.2125;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .fr-gAy {
                  justify-content: center;
                  font-weight: 500;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  align-items: center;
                  font-size: 2.4rem;
                  line-height: 1.2125;
                }
                .sa-ECV {
                  display: flex;
                  justify-content: center;
                  font-weight: 500;
                  color: #ffffff;
                  white-space: nowrap;
                  flex-shrink: 0;
                  align-items: center;
                  font-size: 2.4rem;
                  line-height: 1.2125;
                  font-family: Inter, 'Source Sans Pro';
                }
                .su-BNd {
                  align-items: center;
                  justify-content: center;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  font-size: 2.4rem;
                  font-weight: 500;
                  line-height: 1.2125;
                  flex-shrink: 0;
                }
              }
              .auto-group-k7gr-82y {
                margin-right: 0.0314rem;
                height: 27.4rem;
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;

                .auto-group-vpjj-4BX {
                  box-sizing: border-box;
                  padding: 6.1rem 3.4rem 0rem 0rem;
                  height: 100%;
                  display: flex;
                  align-items: flex-end;
                  flex-shrink: 0;

                  .frame-2-mrd {
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    margin-right: 3.2rem;
                    height: 100%;
                    row-gap: 3.1rem;
                    align-items: center;

                    .item-5-6e1 {
                      justify-content: center;
                      font-size: 2.4rem;
                      line-height: 1.2125;
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      align-items: center;
                      font-weight: 400;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                    }
                    .item-12-ppu {
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 1.2125;
                      flex-shrink: 0;
                      display: flex;
                      align-items: center;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      justify-content: center;
                      color: #cccccc;
                    }
                    .item-19-Z1o {
                      font-size: 2.4rem;
                      font-weight: 400;
                      color: #cccccc;
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      align-items: center;
                      font-family: Inter, 'Source Sans Pro';
                      justify-content: center;
                      line-height: 1.2125;
                    }
                    .item-26-VRF {
                      align-items: center;
                      justify-content: center;
                      font-size: 2.4rem;
                      line-height: 1.2125;
                      color: #cccccc;
                      flex-shrink: 0;
                      display: flex;
                      font-weight: 400;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                  }
                  .frame-3-S5b {
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    margin-right: 3.7rem;
                    height: 100%;
                    row-gap: 3.1rem;
                    align-items: center;

                    .item-6-aBo {
                      display: flex;
                      font-size: 2.4rem;
                      font-family: Inter, 'Source Sans Pro';
                      flex-shrink: 0;
                      align-items: center;
                      justify-content: center;
                      font-weight: 400;
                      line-height: 1.2125;
                      color: #cccccc;
                      white-space: nowrap;
                    }
                    .item-13-K9P {
                      display: flex;
                      line-height: 1.2125;
                      flex-shrink: 0;
                      align-items: center;
                      justify-content: center;
                      font-size: 2.4rem;
                      font-weight: 400;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                    .item-20-TFb {
                      align-items: center;
                      font-size: 2.4rem;
                      color: #cccccc;
                      white-space: nowrap;
                      font-family: Inter, 'Source Sans Pro';
                      flex-shrink: 0;
                      display: flex;
                      justify-content: center;
                      font-weight: 400;
                      line-height: 1.2125;
                    }
                    .item-27-bMo {
                      display: flex;
                      font-size: 2.4rem;
                      line-height: 1.2125;
                      color: #cccccc;
                      flex-shrink: 0;
                      align-items: center;
                      justify-content: center;
                      font-weight: 400;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                  }
                  .frame-4-LKP {
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    height: 100%;
                    row-gap: 3.1rem;
                    align-items: center;

                    .item-7-5nm {
                      font-size: 2.4rem;
                      font-weight: 400;
                      font-family: Inter, 'Source Sans Pro';
                      line-height: 1.2125;
                      color: #cccccc;
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }
                    .item-14-2i1 {
                      align-items: center;
                      justify-content: center;
                      font-size: 2.4rem;
                      line-height: 1.2125;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      font-weight: 400;
                    }
                    .item-21-Nms {
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-size: 2.4rem;
                      font-weight: 400;
                      color: #cccccc;
                      line-height: 1.2125;
                      font-family: Inter, 'Source Sans Pro';
                    }
                    .item-28-X8y {
                      justify-content: center;
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 1.2125;
                      color: #cccccc;
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      align-items: center;
                      font-family: Inter, 'Source Sans Pro';
                    }
                  }
                }
                .frame-5-rh3 {
                  flex-shrink: 0;
                  margin-right: 3rem;
                  height: 100%;
                  row-gap: 3.1rem;
                  align-items: center;
                  display: flex;
                  flex-direction: column;

                  .item-1-149 {
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                    color: #cccccc;
                    white-space: nowrap;
                    display: flex;
                    font-size: 2.4rem;
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                  }
                  .item-8-wyP {
                    font-size: 2.4rem;
                    line-height: 1.2125;
                    color: #cccccc;
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .item-15-VV7 {
                    align-items: center;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #cccccc;
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;
                    font-size: 2.4rem;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                  }
                  .item-22-S9T {
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    font-weight: 400;
                    color: #cccccc;
                    white-space: nowrap;
                    justify-content: center;
                    font-size: 2.4rem;
                  }
                  .item-29-aFf {
                    font-size: 2.4rem;
                    color: #cccccc;
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                  }
                }
                .frame-6-6jo {
                  margin-right: 3.2rem;
                  height: 100%;
                  row-gap: 3.1rem;
                  align-items: center;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .item-2-qxH {
                    font-weight: 400;
                    line-height: 1.2125;
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    font-size: 2.4rem;
                    white-space: nowrap;
                    justify-content: center;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                  }
                  .item-9-ncd {
                    display: flex;
                    flex-shrink: 0;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    align-items: center;
                    justify-content: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #cccccc;
                  }
                  .item-16-L8M {
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    font-size: 2.4rem;
                    color: #cccccc;
                  }
                  .item-23-fgR {
                    justify-content: center;
                    flex-shrink: 0;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    align-items: center;
                  }
                  .item-30-c5s {
                    font-family: Inter, 'Source Sans Pro';
                    align-items: center;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #cccccc;
                    flex-shrink: 0;
                    display: flex;
                    justify-content: center;
                    font-size: 2.4rem;
                    white-space: nowrap;
                  }
                }
                .frame-7-M3T {
                  flex-shrink: 0;
                  margin-right: 3rem;
                  height: 100%;
                  row-gap: 3.1rem;
                  align-items: center;
                  display: flex;
                  flex-direction: column;

                  .item-3-6Wq {
                    align-items: center;
                    justify-content: center;
                    line-height: 1.2125;
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 2.4rem;
                    font-weight: 400;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                  }
                  .item-10-qjK {
                    line-height: 1.2125;
                    color: #cccccc;
                    white-space: nowrap;
                    display: flex;
                    font-size: 2.4rem;
                    font-weight: 400;
                    flex-shrink: 0;
                    align-items: center;
                    justify-content: center;
                    font-family: Inter, 'Source Sans Pro';
                  }
                  .item-17-Pkq {
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                    align-items: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;
                  }
                  .item-24-Lvy {
                    font-family: Inter, 'Source Sans Pro';
                    align-items: center;
                    line-height: 1.2125;
                    color: #cccccc;
                    font-weight: 400;
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    justify-content: center;
                    font-size: 2.4rem;
                  }
                  .item-31-J77 {
                    justify-content: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    align-items: center;
                    color: #cccccc;
                    flex-shrink: 0;
                  }
                }
                .frame-8-3Kb {
                  align-items: center;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  row-gap: 3.1rem;

                  .item-4-zVj {
                    font-size: 2.4rem;
                    font-weight: 400;
                    white-space: nowrap;
                    display: flex;
                    align-items: center;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                    justify-content: center;
                    line-height: 1.2125;
                  }
                  .item-11-LZb {
                    display: flex;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    white-space: nowrap;
                    align-items: center;
                    justify-content: center;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                  }
                  .item-18-Hjj {
                    display: flex;
                    align-items: center;
                    font-weight: 400;
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    justify-content: center;
                    font-size: 2.4rem;
                    color: #cccccc;
                    flex-shrink: 0;
                  }
                  .item-25-qmF {
                    font-family: Inter, 'Source Sans Pro';
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                    color: #cccccc;
                    font-size: 2.4rem;
                    line-height: 1.2125;
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
              }
            }
          }
        }
        .image-23-x5B {
          width: 10rem;
          height: 10rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 1.5rem;
        }
      }
      .frame-90-tjX {
        box-sizing: border-box;
        font-family: Inter, 'Source Sans Pro';
        background-color: #223355;
        height: 22.2rem;
        font-size: 2.4rem;
        position: relative;
        color: #ffffff;
        display: flex;
        flex-shrink: 0;
        padding: 2.7rem 2.5rem;
        overflow: hidden;
        line-height: 1.2125;
        white-space: nowrap;
        align-items: baseline;
        width: 100%;
        font-weight: 400;

        .frame-90-tjX-sub-0 {
          line-height: 1.2575;
          color: #ffffff;
          font-family: Irish Grover, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 400;
        }
        .frame-90-tjX-sub-1 {
        }
      }
    }
  }
}
