
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.followers-v3F {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .frame-88-Epd {
    align-items: center;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    left: 53rem;
    top: 17.6rem;
    overflow: hidden;
    row-gap: 1.7rem;
    flex-direction: column;
    background-color: #d9d9d9;
    padding: 3.6rem 4.7rem 49.3rem 3.2rem;
    width: 84.7rem;
    height: 84.8rem;

    .group-JZb {
      padding: 1.3rem 2.4rem 1.2rem 1.7rem;
      display: flex;
      align-items: center;
      border-radius: 3rem;
      box-sizing: border-box;
      width: 100%;
      height: 9.5rem;
      border: solid 0.2rem #000000;
      flex-shrink: 0;

      .rectangle-pXw {
        vertical-align: top;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-right: 0.9rem;
        width: 7.8rem;
        height: 7rem;
        object-fit: cover;
      }
      .auto-group-4k2u-YTw {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 12.9rem 1.1rem 0rem;
        display: flex;

        .dewi-rizki-s-5Ts {
          margin-bottom: 0.5rem;
          font-size: 2rem;
          flex-shrink: 0;
          display: flex;
          font-weight: 400;
          line-height: 1.1199999809;
          color: #000000;
          font-family: Acme, 'Source Sans Pro';
          white-space: nowrap;
        }
        .dewirizkis-Nxm {
          margin-left: 0.1rem;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          font-family: Actor, 'Source Sans Pro';
          flex-shrink: 0;
          line-height: 1.1199999809;
          color: #000000;
          white-space: nowrap;
        }
      }
      .auto-group-h3jb-6Ny {
        height: calc(100% - 2.7rem);
        justify-content: center;
        font-family: Alatsi, 'Source Sans Pro';
        white-space: nowrap;
        width: 19.4rem;
        align-items: center;
        font-size: 2rem;
        line-height: 1.1199999809;
        border-radius: 0.5rem;
        margin: 1.3rem 2.1rem 1.4rem 0rem;
        font-weight: 400;
        color: #ffffff;
        flex-shrink: 0;
        display: flex;
        background-color: #419197;
      }
      .auto-group-uc6h-iv9 {
        align-items: center;
        font-family: Alatsi, 'Source Sans Pro';
        white-space: nowrap;
        margin: 1.3rem 0rem 1.4rem 0rem;
        height: calc(100% - 2.7rem);
        display: flex;
        font-weight: 400;
        background-color: #419197;
        line-height: 1.1199999809;
        border-radius: 0.5rem;
        width: 19.4rem;
        justify-content: center;
        font-size: 2rem;
        color: #ffffff;
        flex-shrink: 0;
      }
    }
    .group-9Em {
      width: 100%;
      height: 9.5rem;
      align-items: center;
      border-radius: 3rem;
      flex-shrink: 0;
      box-sizing: border-box;
      display: flex;
      border: solid 0.2rem #000000;
      padding: 1.1rem 2.4rem 1.2rem 1.7rem;

      .rectangle-sAm {
        flex-shrink: 0;
        margin: 0.2rem 0.9rem 0rem 0rem;
        width: 7.8rem;
        height: 7rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2rem;
      }
      .auto-group-xrem-aqs {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 13.5rem 2.4rem 0rem;

        .damar-ihB {
          line-height: 1.1199999809;
          color: #000000;
          margin-bottom: 0.2rem;
          display: flex;
          font-weight: 400;
          flex-shrink: 0;
          font-size: 2rem;
          font-family: Acme, 'Source Sans Pro';
          white-space: nowrap;
        }
        .damarws-dp9 {
          font-size: 2rem;
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 0.1rem;
          display: flex;
          font-weight: 400;
          line-height: 1.1199999809;
          color: #000000;
          font-family: Actor, 'Source Sans Pro';
        }
      }
      .auto-group-xypm-Zho {
        line-height: 1.1199999809;
        font-family: Alatsi, 'Source Sans Pro';
        margin: 1.5rem 2.1rem 1.4rem 0rem;
        align-items: center;
        justify-content: center;
        background-color: #419197;
        flex-shrink: 0;
        font-size: 2rem;
        color: #ffffff;
        white-space: nowrap;
        width: 19.4rem;
        font-weight: 400;
        height: calc(100% - 2.9rem);
        display: flex;
        border-radius: 0.5rem;
      }
      .auto-group-v6bp-SFo {
        margin: 1.5rem 0rem 1.4rem 0rem;
        color: #ffffff;
        height: calc(100% - 2.9rem);
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        white-space: nowrap;
        width: 19.4rem;
        justify-content: center;
        font-size: 2rem;
        line-height: 1.1199999809;
        font-weight: 400;
        font-family: Alatsi, 'Source Sans Pro';
        background-color: #419197;
        flex-shrink: 0;
      }
    }
    .group-HXK {
      align-items: center;
      border-radius: 3rem;
      box-sizing: border-box;
      padding: 1.1rem 2.4rem 1.2rem 1.7rem;
      height: 9.5rem;
      display: flex;
      width: 100%;
      border: solid 0.2rem #000000;
      flex-shrink: 0;

      .rectangle-cpV {
        flex-shrink: 0;
        margin: 0.2rem 0.9rem 0rem 0rem;
        width: 7.8rem;
        height: 7rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2rem;
      }
      .auto-group-jj8z-M1P {
        flex-shrink: 0;
        margin: 0rem 17rem 2.4rem 0rem;
        display: flex;
        flex-direction: column;

        .rafif-V7b {
          display: flex;
          font-size: 2rem;
          color: #000000;
          font-family: Acme, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-weight: 400;
          line-height: 1.1199999809;
        }
        .rafiff-D3b {
          flex-shrink: 0;
          margin-left: 0.1rem;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          white-space: nowrap;
          line-height: 1.1199999809;
          color: #000000;
          font-family: Actor, 'Source Sans Pro';
        }
      }
      .auto-group-vsvf-wkH {
        white-space: nowrap;
        flex-shrink: 0;
        height: calc(100% - 2.9rem);
        display: flex;
        color: #ffffff;
        align-items: center;
        border-radius: 0.5rem;
        font-size: 2rem;
        font-weight: 400;
        background-color: #419197;
        line-height: 1.1199999809;
        font-family: Alatsi, 'Source Sans Pro';
        margin: 1.5rem 2.1rem 1.4rem 0rem;
        width: 19.4rem;
        justify-content: center;
      }
      .auto-group-81rm-R9f {
        line-height: 1.1199999809;
        color: #ffffff;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: 400;
        font-family: Alatsi, 'Source Sans Pro';
        background-color: #419197;
        margin: 1.5rem 0rem 1.4rem 0rem;
        width: 19.4rem;
        height: calc(100% - 2.9rem);
      }
    }
  }
  .component-6-variant2-FuP {
    position: absolute;
    left: 0;
    top: 0;
    width: 148.2rem;
    height: 14.1rem;

    .rectangle-1-BHF {
      left: 0;
      top: 0;
      background-color: #4682a9;
      width: 144rem;
      height: 13.2rem;
      position: absolute;
    }
    .component-3-component-2-variant2-iHB {
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;
      background-color: #ffffff;
      position: absolute;
      left: 17.6rem;
      top: 4.3rem;
      border-radius: 0.5rem;
      box-sizing: border-box;
      width: 44.2rem;
      height: 5.6rem;

      .frame-Pu7 {
        width: 2.2295rem;
        height: 2.8565rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .component-4-vPF {
      left: 89.45rem;
      top: 9.9rem;
      display: flex;
      align-items: flex-start;
      width: 52.85rem;
      height: 2.7rem;
      position: absolute;

      .home-ScV {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
        font-size: 2rem;
        line-height: 1.2125;
        color: #000000;
        flex-shrink: 0;
        margin-right: 1.9rem;
        font-weight: 400;
      }
      .notifications-mem {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        margin-right: 2.8rem;
        text-align: center;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .jobs-uFB {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        margin: 0.1rem 2.85rem 0rem 0rem;
        text-align: center;
      }
      .my-network-RDX {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        text-align: center;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.3rem;
        font-size: 2rem;
      }
      .messaging-m2V {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        color: #000000;
        margin-top: 0.2rem;
        text-align: center;
        line-height: 1.2125;
      }
    }
    .icon-taskbar-VUH {
      align-items: flex-end;
      width: 51.6rem;
      height: 7.3375rem;
      position: absolute;
      left: 89.1rem;
      top: 1.4rem;
      display: flex;

      .icon-home-d4h {
        margin: 0rem 3.9rem 0.9rem 0rem;
        width: 6.9rem;
        height: 6.0375rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icon-bell-jtR {
        width: 6.9rem;
        height: 6.9rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 4.2rem 0.038rem 0rem;
      }
      .icon-briefcase-rTF {
        margin: 0rem 2.691rem 0.438rem 0rem;
        width: 6.9086rem;
        height: 6.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icon-people-NgV {
        margin: 0rem 6.309rem 0.038rem 0rem;
        width: 6.8914rem;
        height: 6.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icon-chat-78H {
        width: 6.9rem;
        height: 6.0375rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .profile-43X {
      text-align: center;
      font-size: 2rem;
      width: 6.1rem;
      top: 9.9rem;
      left: 5.5rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.5rem;
      position: absolute;
    }
    .image-2-NK7 {
      width: 6.5rem;
      height: 6.4rem;
      position: absolute;
      left: 5.3rem;
      top: 3rem;
      object-fit: cover;
      vertical-align: top;
    }
    .profile-hcH {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.1rem;
      left: 5.5rem;
      top: 9.9rem;
      color: #000000;
      font-weight: 400;
      line-height: 1.2125;
      height: 2.5rem;
      position: absolute;
      text-align: center;
      font-size: 2rem;
    }
    .image-15-R2V {
      position: absolute;
      left: 5.3rem;
      top: 3rem;
      object-fit: cover;
      vertical-align: top;
      width: 6.5rem;
      height: 6.4rem;
      cursor: pointer;
    }
  }
  .frame-2-wmX {
    background-color: #213555;
    padding: 5.3rem 0rem 56.8rem 0rem;
    width: 40.9rem;
    height: 85.7rem;
    left: 5.3rem;
    top: 16.7rem;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .auto-group-hczy-FGR {
      color: #ffffff;
      font-family: Acme, 'Source Sans Pro';
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2rem 7.4rem 1.6rem 7.4rem;
      display: flex;
      font-size: 2rem;
      font-weight: 400;
      width: 100%;
      line-height: 1.1199999809;
      white-space: nowrap;
      border: solid 0.1rem #419197;
      background-color: #213555;
    }
    .auto-group-gm7b-ivh {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.6rem 7.4rem 2rem 7.4rem;
      white-space: nowrap;
      background-color: #419197;
      line-height: 1.1199999809;
      color: #000000;
      font-family: Acme, 'Source Sans Pro';
      width: 100%;
      display: flex;
      font-size: 2rem;
      font-weight: 400;
    }
    .auto-group-y7rw-2Rb {
      color: #ffffff;
      font-family: Acme, 'Source Sans Pro';
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;
      font-size: 2rem;
      line-height: 1.1199999809;
      border: solid 0.1rem #419197;
      background-color: #213555;
      padding: 1.6rem 7.4rem 2rem 7.4rem;
      display: flex;
      font-weight: 400;
      white-space: nowrap;
    }
    .auto-group-ftkh-iJR {
      background-color: #213555;
      box-sizing: border-box;
      width: 100%;
      font-size: 2rem;
      line-height: 1.1199999809;
      white-space: nowrap;
      border: solid 0.1rem #419197;
      flex-shrink: 0;
      padding: 1.6rem 7.4rem 2rem 7.4rem;
      display: flex;
      font-weight: 400;
      color: #ffffff;
      font-family: Acme, 'Source Sans Pro';
    }
  }
}
