
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.hastag-5p1 {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-rwq5-dad {
    width: 40.9rem;
    height: 85.7rem;
    position: absolute;
    left: 5.3rem;
    top: 16.7rem;

    .koneksi-kfF {
      width: 6.3rem;
      height: 2.3rem;
      position: absolute;
      font-size: 2rem;
      color: #ffffff;
      font-family: Acme, 'Source Sans Pro';
      white-space: nowrap;
      left: 8rem;
      top: 6.9rem;
      display: flex;
      font-weight: 400;
      line-height: 1.1199999809;
    }
    .followers-4R3 {
      line-height: 1.1199999809;
      color: #ffffff;
      height: 2.3rem;
      position: absolute;
      left: 8rem;
      top: 12.8rem;
      display: flex;
      font-weight: 400;
      font-family: Acme, 'Source Sans Pro';
      white-space: nowrap;
      width: 8rem;
      font-size: 2rem;
    }
    .frame-2-mKT {
      box-sizing: border-box;
      width: 40.9rem;
      position: absolute;
      top: 0;
      overflow: hidden;
      flex-direction: column;
      padding: 5.3rem 0rem 56.8rem 0rem;
      height: 85.7rem;
      left: 0;
      align-items: center;
      display: flex;
      background-color: #213555;

      .auto-group-eyyz-fvd {
        line-height: 1.1199999809;
        color: #ffffff;
        background-color: #213555;
        box-sizing: border-box;
        padding: 2rem 7.4rem 1.6rem 7.4rem;
        width: 100%;
        font-family: Acme, 'Source Sans Pro';
        white-space: nowrap;
        border: solid 0.1rem #419197;
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        font-weight: 400;
      }
      .auto-group-e7em-kSH {
        font-size: 2rem;
        font-weight: 400;
        white-space: nowrap;
        box-sizing: border-box;
        padding: 1.6rem 7.4rem 2rem 7.4rem;
        line-height: 1.1199999809;
        color: #ffffff;
        font-family: Acme, 'Source Sans Pro';
        border: solid 0.1rem #419197;
        background-color: #213555;
        flex-shrink: 0;
        width: 100%;
        display: flex;
      }
      .auto-group-qg1s-3AV {
        font-size: 2rem;
        font-weight: 400;
        font-family: Acme, 'Source Sans Pro';
        white-space: nowrap;
        border: solid 0.1rem #419197;
        background-color: #213555;
        box-sizing: border-box;
        padding: 1.6rem 7.4rem 2rem 7.4rem;
        width: 100%;
        display: flex;
        line-height: 1.1199999809;
        color: #ffffff;
        flex-shrink: 0;
      }
      .auto-group-t1k9-vEH {
        background-color: #419197;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.6rem 7.4rem 2rem 7.4rem;
        width: 100%;
        font-weight: 400;
        line-height: 1.1199999809;
        white-space: nowrap;
        display: flex;
        font-size: 2rem;
        color: #000000;
        font-family: Acme, 'Source Sans Pro';
      }
    }
  }
  .frame-88-DjB {
    box-sizing: border-box;
    padding: 3.6rem 4.7rem 49.3rem 3.2rem;
    width: 84.7rem;
    position: absolute;
    left: 53rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    height: 84.8rem;
    top: 17.6rem;
    row-gap: 1.7rem;
    align-items: center;

    .group-WTP {
      align-items: center;
      border: solid 0.2rem #000000;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.7rem 3.8rem 2.5rem 2.7rem;
      display: flex;
      border-radius: 3rem;
      width: 100%;
      height: 9.5rem;

      .desainvisual-dnu {
        font-size: 2.5rem;
        font-weight: 400;
        margin-right: 36.8rem;
        display: flex;
        font-family: Acme, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        line-height: 0.8959999847;
        color: #000000;
      }
      .auto-group-ar8v-LxD {
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        width: 19.4rem;
        font-weight: 400;
        color: #ffffff;
        flex-shrink: 0;
        height: 100%;
        font-family: Alatsi, 'Source Sans Pro';
        background-color: #419197;
        display: flex;
        font-size: 2rem;
        line-height: 1.1199999809;
        white-space: nowrap;
      }
    }
    .auto-group-5m73-12m {
      height: 9.5rem;
      position: relative;
      flex-shrink: 0;
      width: 100%;

      .programmer-xTo {
        left: 2.7rem;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 0.8959999847;
        color: #000000;
        height: 2.3rem;
        position: absolute;
        display: flex;
        font-family: Acme, 'Source Sans Pro';
        white-space: nowrap;
        width: 13.8rem;
        top: 3.4rem;
      }
      .group-fND {
        width: 76.8rem;
        height: 9.5rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.2rem #000000;
        box-sizing: border-box;
        border-radius: 3rem;

        .rectangle-192-1gy {
          width: 19.4rem;
          height: 4.3rem;
          position: absolute;
          left: 53.6rem;
          top: 2.6rem;
          background-color: #419197;
          border-radius: 0.5rem;
        }
        .delete-jss {
          display: flex;
          justify-content: center;
          font-weight: 400;
          color: #ffffff;
          width: 5.6rem;
          top: 3.6rem;
          line-height: 1.1199999809;
          font-family: Alatsi, 'Source Sans Pro';
          height: 2.3rem;
          align-items: center;
          font-size: 2rem;
          white-space: nowrap;
          position: absolute;
          left: 60.45rem;
        }
      }
    }
    .group-p8d {
      padding: 2.8rem 3.8rem 2.4rem 2.7rem;
      border: solid 0.2rem #000000;
      border-radius: 3rem;
      box-sizing: border-box;
      width: 100%;
      height: 9.5rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .manajemen-wyw {
        display: flex;
        line-height: 0.8959999847;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 38.1rem 0.4rem 0rem;
        font-size: 2.5rem;
        font-weight: 400;
        color: #000000;
        font-family: Acme, 'Source Sans Pro';
      }
      .auto-group-2kxs-GFX {
        width: 19.4rem;
        height: 100%;
        justify-content: center;
        font-weight: 400;
        color: #ffffff;
        background-color: #419197;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        font-size: 2rem;
        font-family: Alatsi, 'Source Sans Pro';
        white-space: nowrap;
        line-height: 1.1199999809;
        flex-shrink: 0;
      }
    }
  }
  .component-6-variant2-KzV {
    width: 148.2rem;
    height: 14.1rem;
    position: absolute;
    left: 0;
    top: 0;

    .rectangle-1-Tau {
      height: 13.2rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #4682a9;
      width: 144rem;
    }
    .component-3-component-2-variant2-D4H {
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;
      width: 44.2rem;
      position: absolute;
      box-sizing: border-box;
      height: 5.6rem;
      left: 17.6rem;
      top: 4.3rem;
      background-color: #ffffff;
      border-radius: 0.5rem;

      .frame-uSu {
        object-fit: contain;
        vertical-align: top;
        width: 2.2295rem;
        height: 2.8565rem;
      }
    }
    .component-4-q5f {
      top: 9.9rem;
      display: flex;
      align-items: flex-start;
      width: 52.85rem;
      height: 2.7rem;
      position: absolute;
      left: 89.45rem;

      .home-96M {
        margin-right: 1.9rem;
        font-weight: 400;
        white-space: nowrap;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        line-height: 1.2125;
      }
      .notifications-s2M {
        font-size: 2rem;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        margin-right: 2.8rem;
        line-height: 1.2125;
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
      .jobs-PmP {
        flex-shrink: 0;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        margin: 0.1rem 2.85rem 0rem 0rem;
        text-align: center;
      }
      .my-network-Wr1 {
        font-size: 2rem;
        line-height: 1.2125;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.3rem;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        text-align: center;
      }
      .messaging-fD7 {
        font-size: 2rem;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.2rem;
        text-align: center;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .icon-taskbar-Puo {
      width: 51.6rem;
      height: 7.3375rem;
      position: absolute;
      left: 89.1rem;
      top: 1.4rem;
      display: flex;
      align-items: flex-end;

      .icon-home-KoT {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3.9rem 0.9rem 0rem;
        width: 6.9rem;
        height: 6.0375rem;
        object-fit: contain;
      }
      .icon-bell-eaq {
        height: 6.9rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 4.2rem 0.038rem 0rem;
        width: 6.9rem;
      }
      .icon-briefcase-yND {
        flex-shrink: 0;
        margin: 0rem 2.691rem 0.438rem 0rem;
        width: 6.9086rem;
        height: 6.9rem;
        object-fit: contain;
        vertical-align: top;
      }
      .icon-people-tVB {
        height: 6.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 6.309rem 0.038rem 0rem;
        width: 6.8914rem;
      }
      .icon-chat-pdj {
        height: 6.0375rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 6.9rem;
      }
    }
    .profile-yFj {
      height: 2.5rem;
      position: absolute;
      left: 5.5rem;
      text-align: center;
      font-size: 2rem;
      font-family: Inter, 'Source Sans Pro';
      width: 6.1rem;
      top: 9.9rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
    }
    .image-2-VUy {
      vertical-align: top;
      width: 6.5rem;
      height: 6.4rem;
      position: absolute;
      left: 5.3rem;
      top: 3rem;
      object-fit: cover;
    }
    .profile-S9K {
      font-size: 2rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.1rem;
      height: 2.5rem;
      top: 9.9rem;
      font-weight: 400;
      color: #000000;
      position: absolute;
      left: 5.5rem;
      text-align: center;
    }
    .image-15-MXB {
      object-fit: cover;
      vertical-align: top;
      width: 6.5rem;
      height: 6.4rem;
      position: absolute;
      left: 5.3rem;
      top: 3rem;
    }
  }
}
