
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-email-password-Ye1 {
  padding-bottom: 25rem;
  width: 100%;
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .rectangle-130-ths {
    margin-bottom: 7.4rem;
    width: 100%;
    height: 10rem;
    background-color: #4682a9;
    flex-shrink: 0;
  }
  .auto-group-8d8h-Emj {
    padding: 12.5rem 9.8rem 15.5rem 12rem;
    width: 100%;
    height: 60rem;
    display: flex;
    align-items: center;
    background-color: #213555;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-zywf-Zp1 {
      flex-shrink: 0;
      margin: 8.3rem 16.9rem 10.75rem 0rem;
      height: calc(100% - 19.05rem);
      align-items: center;
      display: flex;
      flex-direction: column;

      .jobsearch-hQR {
        justify-content: center;
        font-size: 15rem;
        font-weight: 400;
        color: #ffffff;
        display: flex;
        align-items: center;
        line-height: 0.1280000051;
        font-family: Birthstone Bounce, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 8.95rem;
      }
      .website-mencari-pekerjaan-R5X {
        display: flex;
        font-weight: 400;
        line-height: 0.6400000254;
        flex-shrink: 0;
        font-family: Arya, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 1.7rem;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        color: #ffffff;
      }
    }
    .group-14-XeM {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.4rem 2.5rem 4.6rem 2.5rem;
      width: 50rem;
      height: 100%;
      background-color: #4682a9;
      border-radius: 1rem;

      .welcome-F4Z {
        font-family: Arya, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.35rem;
        display: flex;
        font-size: 2rem;
        font-weight: 400;
        line-height: 0.9600000381;
        color: #000000;
      }
      .username-email-mYh {
        margin-bottom: 0.35rem;
        display: flex;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2800000509;
        color: #000000;
        font-family: Amiri, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-tebo-hBT {
        background-color: #4682a9;
        width: 100%;
        font-size: 1.3rem;
        line-height: 1.76;
        white-space: nowrap;
        border: solid 0.2rem #fbeeac;
        font-family: Amiri, 'Source Sans Pro';
        border-radius: 0.5rem;
        margin-bottom: 0.45rem;
        box-sizing: border-box;
        padding: 0.9rem 1rem 0.8rem 1rem;
        font-weight: 400;
        color: #000000;
      }
      .auto-group-2vkx-N2h {
        margin-bottom: 0.55rem;
        width: 5.6rem;
        height: 2rem;
        position: relative;

        .password-uoK {
          width: 5.6rem;
          height: 2rem;
          left: 0;
          display: flex;
          font-size: 1.5rem;
          font-weight: 400;
          position: absolute;
          top: 0;
          line-height: 1.2800000509;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
        }
        .password-qS5 {
          top: 0;
          font-weight: 400;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
          height: 2rem;
          left: 0;
          display: flex;
          font-size: 1.5rem;
          line-height: 1.2800000509;
          color: #000000;
          width: 5.6rem;
          position: absolute;
        }
      }
      .auto-group-teld-Z7B {
        background-color: #4682a9;
        border-radius: 0.5rem;
        width: 100%;
        display: flex;
        align-items: center;
        border: solid 0.2rem #fbeeac;
        margin-bottom: 0.4rem;
        box-sizing: border-box;
        padding: 0.7rem 0.7rem 0.5rem 1rem;

        .item--Uzq {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.76;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.5rem 35.5rem 0rem 0rem;
        }
        .icon-eye-outline-zyB {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          width: 2.7rem;
          height: 2.7rem;
          cursor: pointer;
        }
      }
      .auto-group-fy61-tHs {
        width: 100%;
        height: 6.9rem;
        position: relative;

        .rectangle-136-2ey {
          height: 4rem;
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 2.9rem;
          background-color: #fbeeac;
          border-radius: 0.5rem;
          width: 45rem;
        }
        .login-Zeu {
          top: 3.9rem;
          line-height: 1.1294118096;
          white-space: nowrap;
          width: 5.7rem;
          height: 2rem;
          align-items: center;
          justify-content: center;
          color: #000000;
          display: flex;
          font-weight: 400;
          font-family: Aoboshi One, 'Source Sans Pro';
          position: absolute;
          left: 19.7rem;
          font-size: 1.7rem;
        }
        .register-GJR {
          line-height: 1.6000000636;
          justify-content: center;
          font-weight: 400;
          color: #000000;
          width: 4.7rem;
          left: 16.45rem;
          top: 0;
          display: flex;
          align-items: center;
          font-size: 1.2rem;
          white-space: nowrap;
          height: 2rem;
          cursor: pointer;
          position: absolute;
          font-family: Aoboshi One, 'Source Sans Pro';
        }
        .dont-have-an-account-yet-mW5 {
          position: absolute;
          left: 0;
          display: flex;
          font-weight: 400;
          line-height: 1.2800000509;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          height: 2rem;
          white-space: nowrap;
          top: 0.25rem;
          font-size: 1.5rem;
          width: 15.7rem;
        }
      }
    }
  }
}
