
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-L7X {
  background-color: #ffffff;
  padding-bottom: 25rem;
  width: 100%;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  display: flex;

  .rectangle-130-ee1 {
    width: 100%;
    height: 10rem;
    background-color: #4682a9;
    flex-shrink: 0;
    margin-bottom: 7.4rem;
  }
  .auto-group-qblz-aXf {
    width: 100%;
    height: 60rem;
    display: flex;
    align-items: center;
    background-color: #213555;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 12.5rem 9.8rem 15.5rem 12rem;

    .auto-group-ixzu-6F7 {
      flex-shrink: 0;
      margin: 8.3rem 16.9rem 10.75rem 0rem;
      height: calc(100% - 19.05rem);
      align-items: center;
      display: flex;
      flex-direction: column;

      .jobsearch-pB7 {
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        line-height: 0.1280000051;
        color: #ffffff;
        font-family: Birthstone Bounce, 'Source Sans Pro';
        margin-bottom: 8.95rem;
        display: flex;
        font-size: 15rem;
        font-weight: 400;
        flex-shrink: 0;
      }
      .website-mencari-pekerjaan-j3B {
        line-height: 0.6400000254;
        color: #ffffff;
        font-family: Arya, 'Source Sans Pro';
        display: flex;
        align-items: center;
        font-size: 3rem;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.7rem;
        justify-content: center;
        font-weight: 400;
      }
    }
    .group-14-duF {
      box-sizing: border-box;
      padding: 3.4rem 2.5rem 4.6rem 2.5rem;
      width: 50rem;
      height: 100%;
      background-color: #4682a9;
      border-radius: 1rem;
      flex-shrink: 0;

      .welcome-kys {
        margin-bottom: 1.35rem;
        display: flex;
        font-size: 2rem;
        font-weight: 400;
        line-height: 0.9600000381;
        color: #000000;
        font-family: Arya, 'Source Sans Pro';
        white-space: nowrap;
      }
      .username-email-gcd {
        font-family: Amiri, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.35rem;
        display: flex;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2800000509;
        color: #000000;
      }
      .rectangle-134-D6m {
        margin-bottom: 0.45rem;
        width: 100%;
        height: 4rem;
        cursor: pointer;
        border: solid 0.2rem #fbeeac;
        box-sizing: border-box;
        background-color: #4682a9;
        border-radius: 0.5rem;
      }
      .auto-group-ytys-KQh {
        margin-bottom: 0.55rem;
        width: 5.6rem;
        height: 2rem;
        position: relative;

        .password-rQd {
          top: 0;
          font-size: 1.5rem;
          line-height: 1.2800000509;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          height: 2rem;
          position: absolute;
          display: flex;
          font-weight: 400;
          white-space: nowrap;
          width: 5.6rem;
          left: 0;
        }
        .password-xTf {
          display: flex;
          font-size: 1.5rem;
          white-space: nowrap;
          height: 2rem;
          position: absolute;
          top: 0;
          line-height: 1.2800000509;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          width: 5.6rem;
          left: 0;
          font-weight: 400;
        }
      }
      .rectangle-135-US1 {
        box-sizing: border-box;
        background-color: #4682a9;
        border-radius: 0.5rem;
        margin-bottom: 0.4rem;
        width: 100%;
        height: 4rem;
        border: solid 0.2rem #fbeeac;
      }
      .auto-group-gzgd-1B3 {
        width: 100%;
        height: 6.9rem;
        position: relative;

        .rectangle-136-wqP {
          position: absolute;
          left: 0;
          top: 2.9rem;
          background-color: #fbeeac;
          border-radius: 0.5rem;
          width: 45rem;
          height: 4rem;
        }
        .login-Gsf {
          font-family: Aoboshi One, 'Source Sans Pro';
          align-items: center;
          font-weight: 400;
          justify-content: center;
          height: 2rem;
          top: 3.9rem;
          color: #000000;
          white-space: nowrap;
          display: flex;
          line-height: 1.1294118096;
          left: 19.7rem;
          font-size: 1.7rem;
          width: 5.7rem;
          position: absolute;
        }
        .register-Ay3 {
          justify-content: center;
          font-size: 1.2rem;
          font-weight: 400;
          width: 4.7rem;
          height: 2rem;
          display: flex;
          align-items: center;
          line-height: 1.6000000636;
          color: #000000;
          position: absolute;
          left: 16.45rem;
          white-space: nowrap;
          cursor: pointer;
          top: 0;
          font-family: Aoboshi One, 'Source Sans Pro';
        }
        .dont-have-an-account-yet-UD3 {
          font-family: Amiri, 'Source Sans Pro';
          left: 0;
          top: 0.25rem;
          font-weight: 400;
          color: #000000;
          font-size: 1.5rem;
          line-height: 1.2800000509;
          white-space: nowrap;
          width: 15.7rem;
          height: 2rem;
          position: absolute;
          display: flex;
        }
      }
    }
  }
}
