
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-email-password-eye-UHK {
  overflow: hidden;
  position: relative;
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-bottom: 25rem;
  width: 100%;
  display: flex;
  flex-direction: column;

  .rectangle-130-Cz1 {
    margin-bottom: 7.4rem;
    width: 100%;
    height: 10rem;
    background-color: #4682a9;
    flex-shrink: 0;
  }
  .auto-group-tbwb-MM7 {
    box-sizing: border-box;
    padding: 12.5rem 9.8rem 15.5rem 12rem;
    width: 100%;
    height: 60rem;
    display: flex;
    align-items: center;
    background-color: #213555;
    flex-shrink: 0;

    .auto-group-rjcr-Ugd {
      flex-direction: column;
      flex-shrink: 0;
      margin: 8.3rem 16.9rem 10.75rem 0rem;
      height: calc(100% - 19.05rem);
      align-items: center;
      display: flex;

      .jobsearch-1Rf {
        margin-bottom: 8.95rem;
        justify-content: center;
        font-weight: 400;
        line-height: 0.1280000051;
        color: #ffffff;
        display: flex;
        align-items: center;
        font-size: 15rem;
        font-family: Birthstone Bounce, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .website-mencari-pekerjaan-voX {
        display: flex;
        line-height: 0.6400000254;
        color: #ffffff;
        font-family: Arya, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 1.7rem;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        font-weight: 400;
        flex-shrink: 0;
      }
    }
    .group-14-3t9 {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.4rem 2.5rem 4.6rem 2.5rem;
      width: 50rem;
      height: 100%;
      background-color: #4682a9;
      border-radius: 1rem;

      .welcome-ZrV {
        font-weight: 400;
        line-height: 0.9600000381;
        color: #000000;
        font-family: Arya, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.35rem;
        display: flex;
        font-size: 2rem;
      }
      .username-email-ttm {
        margin-bottom: 0.35rem;
        display: flex;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2800000509;
        color: #000000;
        font-family: Amiri, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-w7im-Rth {
        font-family: Amiri, 'Source Sans Pro';
        background-color: #4682a9;
        border-radius: 0.5rem;
        padding: 0.9rem 1rem 0.8rem 1rem;
        font-weight: 400;
        line-height: 1.76;
        color: #000000;
        white-space: nowrap;
        border: solid 0.2rem #fbeeac;
        margin-bottom: 0.45rem;
        box-sizing: border-box;
        width: 100%;
        font-size: 1.3rem;
      }
      .auto-group-7q8y-Hvu {
        margin-bottom: 0.55rem;
        width: 5.6rem;
        height: 2rem;
        position: relative;

        .password-dUy {
          font-family: Amiri, 'Source Sans Pro';
          width: 5.6rem;
          top: 0;
          display: flex;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.2800000509;
          color: #000000;
          white-space: nowrap;
          height: 2rem;
          position: absolute;
          left: 0;
        }
        .password-k3o {
          font-size: 1.5rem;
          line-height: 1.2800000509;
          font-family: Amiri, 'Source Sans Pro';
          display: flex;
          height: 2rem;
          position: absolute;
          left: 0;
          top: 0;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          width: 5.6rem;
        }
      }
      .auto-group-x9ft-GH3 {
        margin-bottom: 0.4rem;
        width: 100%;
        display: flex;
        background-color: #4682a9;
        border-radius: 0.5rem;
        box-sizing: border-box;
        padding: 0.7rem 1rem 0.6rem 1rem;
        align-items: center;
        border: solid 0.2rem #fbeeac;

        .joblook12-Buo {
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 35rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.76;
          color: #000000;
        }
        .icon-eye-off-outline-iuj {
          flex-shrink: 0;
          width: 2.7rem;
          height: 2.7rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-ffnu-dWu {
        width: 100%;
        height: 6.9rem;
        position: relative;

        .rectangle-136-aBF {
          height: 4rem;
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 2.9rem;
          background-color: #fbeeac;
          border-radius: 0.5rem;
          width: 45rem;
        }
        .login-hmf {
          white-space: nowrap;
          width: 5.7rem;
          justify-content: center;
          font-family: Aoboshi One, 'Source Sans Pro';
          top: 3.9rem;
          line-height: 1.1294118096;
          color: #000000;
          height: 2rem;
          display: flex;
          align-items: center;
          font-weight: 400;
          position: absolute;
          left: 19.7rem;
          font-size: 1.7rem;
        }
        .register-1GZ {
          font-size: 1.2rem;
          line-height: 1.6000000636;
          width: 4.7rem;
          display: flex;
          align-items: center;
          font-weight: 400;
          font-family: Aoboshi One, 'Source Sans Pro';
          cursor: pointer;
          position: absolute;
          left: 16.45rem;
          color: #000000;
          white-space: nowrap;
          height: 2rem;
          top: 0;
          justify-content: center;
        }
        .dont-have-an-account-yet-74h {
          top: 0.25rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.2800000509;
          white-space: nowrap;
          position: absolute;
          height: 2rem;
          left: 0;
          display: flex;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          width: 15.7rem;
        }
      }
    }
  }
}
