
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.messaging-page-hjb {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .page-home-R9o {
    width: 144rem;
    height: 89.9rem;
    position: absolute;
    left: 0.3rem;
    top: 12.5rem;
    overflow: hidden;
    background-color: #ffffff;

    .group-uqf {
      background-position: center;
      background-image: url('REPLACE_IMAGE:59:73');
      height: 69.971rem;
      position: absolute;
      left: 2.7rem;
      top: 11.5009rem;
      background-size: cover;
      background-repeat: no-repeat;
      width: 32.4rem;

      .vector-agu {
        object-fit: contain;
        vertical-align: top;
        width: 4.8rem;
        height: 4.1983rem;
        position: absolute;
        left: 2.4rem;
        top: 9.8834rem;
      }
      .vector-iHK {
        width: 1.2rem;
        height: 1.0496rem;
        position: absolute;
        left: 5.75rem;
        top: 13.0758rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-egm {
        object-fit: contain;
        vertical-align: top;
        width: 1.9rem;
        height: 0.8746rem;
        position: absolute;
        left: 14.6rem;
        top: 10.8455rem;
      }
      .vector-aaR {
        position: absolute;
        left: 8.8rem;
        top: 12.4198rem;
        object-fit: contain;
        vertical-align: top;
        width: 7.7rem;
        height: 0.6997rem;
      }
      .vector-XVf {
        height: 0.6997rem;
        position: absolute;
        left: 17.1rem;
        top: 12.4198rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.8rem;
      }
      .vector-GTF {
        object-fit: contain;
        vertical-align: top;
        width: 5.6rem;
        height: 0.6997rem;
        position: absolute;
        left: 20.5rem;
        top: 12.4198rem;
      }
      .vector-QpM {
        vertical-align: top;
        width: 4.8rem;
        height: 4.1983rem;
        position: absolute;
        left: 2.4rem;
        top: 17.5802rem;
        object-fit: contain;
      }
      .vector-xL5 {
        object-fit: contain;
        vertical-align: top;
        width: 1.2rem;
        height: 1.0496rem;
        position: absolute;
        left: 5.75rem;
        top: 20.7726rem;
      }
      .vector-WMb {
        position: absolute;
        left: 8.8rem;
        top: 18.5423rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.7rem;
        height: 0.8746rem;
      }
      .vector-Fa5 {
        object-fit: contain;
        vertical-align: top;
        width: 5.1rem;
        height: 0.8746rem;
        position: absolute;
        left: 12.3rem;
        top: 18.5423rem;
      }
      .vector-zGm {
        height: 0.8746rem;
        position: absolute;
        left: 9rem;
        top: 10.7985rem;
        object-fit: contain;
        vertical-align: top;
        width: 5.1rem;
      }
      .vector-LbX {
        top: 20.1167rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.7rem;
        height: 0.6997rem;
        position: absolute;
        left: 8.8rem;
      }
      .vector-t7F {
        height: 0.6997rem;
        position: absolute;
        left: 12.1rem;
        top: 20.1167rem;
        object-fit: contain;
        vertical-align: top;
        width: 6.5rem;
      }
      .vector-2jF {
        vertical-align: top;
        width: 2.9rem;
        height: 0.6997rem;
        position: absolute;
        left: 19.2rem;
        top: 20.1167rem;
        object-fit: contain;
      }
      .vector-Zz5 {
        position: absolute;
        left: 0;
        top: 23.5278rem;
        object-fit: contain;
        vertical-align: top;
        width: 32.4rem;
        height: 7.6968rem;
      }
      .vector-vJq {
        width: 4.8rem;
        height: 4.1983rem;
        position: absolute;
        left: 2.4rem;
        top: 25.2771rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-ULM {
        object-fit: contain;
        vertical-align: top;
        width: 1.2rem;
        height: 1.0496rem;
        position: absolute;
        left: 5.75rem;
        top: 28.4695rem;
      }
      .vector-chT {
        width: 4.8rem;
        height: 4.1983rem;
        position: absolute;
        left: 2.4rem;
        top: 32.9738rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-AU5 {
        left: 8.8rem;
        top: 33.9359rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.7rem;
        height: 0.8746rem;
        position: absolute;
      }
      .vector-JKP {
        height: 0.6997rem;
        position: absolute;
        left: 8.8rem;
        top: 35.5103rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.3rem;
      }
      .vector-ee9 {
        width: 3.4rem;
        height: 0.6997rem;
        position: absolute;
        left: 10.7rem;
        top: 35.5103rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-Q7X {
        object-fit: contain;
        vertical-align: top;
        width: 8.2rem;
        height: 0.6997rem;
        position: absolute;
        left: 14.7rem;
        top: 35.5103rem;
      }
      .vector-MHf {
        vertical-align: top;
        width: 2.8rem;
        height: 0.6997rem;
        position: absolute;
        left: 23.5rem;
        top: 35.5103rem;
        object-fit: contain;
      }
      .vector-gqj {
        vertical-align: top;
        width: 4.8rem;
        height: 4.1983rem;
        position: absolute;
        left: 2.4rem;
        top: 40.6706rem;
        object-fit: contain;
      }
      .vector-dFB {
        object-fit: contain;
        vertical-align: top;
        width: 4.4rem;
        height: 0.8746rem;
        position: absolute;
        left: 8.8rem;
        top: 41.6327rem;
      }
      .vector-B1o {
        position: absolute;
        left: 14rem;
        top: 41.6327rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.3rem;
        height: 0.8746rem;
      }
      .vector-Wpm {
        height: 0.6997rem;
        position: absolute;
        left: 8.8rem;
        top: 43.2071rem;
        object-fit: contain;
        vertical-align: top;
        width: 4.8rem;
      }
      .vector-FnM {
        width: 3.7rem;
        height: 0.6997rem;
        position: absolute;
        left: 14.2rem;
        top: 43.2071rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-Chb {
        width: 1.4rem;
        height: 0.6997rem;
        position: absolute;
        left: 18.5rem;
        top: 43.2071rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-kj7 {
        height: 4.1983rem;
        position: absolute;
        left: 2.4rem;
        top: 48.3674rem;
        object-fit: contain;
        vertical-align: top;
        width: 4.8rem;
      }
      .vector-WCV {
        position: absolute;
        left: 5.75rem;
        top: 51.5599rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.2rem;
        height: 1.0496rem;
      }
      .vector-eZb {
        height: 0.8746rem;
        position: absolute;
        left: 8.8rem;
        top: 49.3295rem;
        object-fit: contain;
        vertical-align: top;
        width: 5rem;
      }
      .vector-Q2y {
        height: 0.8746rem;
        position: absolute;
        left: 14.6rem;
        top: 49.3295rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.5rem;
      }
      .vector-Yey {
        position: absolute;
        left: 8.8rem;
        top: 50.9039rem;
        object-fit: contain;
        vertical-align: top;
        width: 6.3rem;
        height: 0.6997rem;
      }
      .vector-tyj {
        object-fit: contain;
        vertical-align: top;
        width: 3.1rem;
        height: 0.6997rem;
        position: absolute;
        left: 15.7rem;
        top: 50.9039rem;
      }
      .vector-qty {
        top: 50.9039rem;
        object-fit: contain;
        vertical-align: top;
        width: 5rem;
        height: 0.6997rem;
        position: absolute;
        left: 19.4rem;
      }
      .vector-zWy {
        object-fit: contain;
        vertical-align: top;
        width: 4.8rem;
        height: 4.1983rem;
        position: absolute;
        left: 2.4rem;
        top: 56.0643rem;
      }
      .vector-Y2h {
        left: 8.8rem;
        top: 57.0264rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.9rem;
        height: 0.8746rem;
        position: absolute;
      }
      .vector-g8u {
        width: 5.7rem;
        height: 0.8746rem;
        position: absolute;
        left: 11.5rem;
        top: 57.0264rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-EAR {
        object-fit: contain;
        vertical-align: top;
        width: 5.6rem;
        height: 0.6997rem;
        position: absolute;
        left: 8.8rem;
        top: 58.6007rem;
      }
      .vector-aVB {
        position: absolute;
        left: 15rem;
        top: 58.6007rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.2rem;
        height: 0.6997rem;
      }
      .vector-ibP {
        top: 63.7611rem;
        object-fit: contain;
        vertical-align: top;
        width: 4.8rem;
        height: 4.1983rem;
        position: absolute;
        left: 2.4rem;
      }
      .vector-4v9 {
        vertical-align: top;
        width: 1.2rem;
        height: 1.0496rem;
        position: absolute;
        left: 5.75rem;
        top: 66.9535rem;
        object-fit: contain;
      }
      .vector-DY9 {
        height: 0.8746rem;
        position: absolute;
        left: 8.8rem;
        top: 64.7232rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.5rem;
      }
      .vector-yGR {
        position: absolute;
        left: 11.1rem;
        top: 64.7232rem;
        object-fit: contain;
        vertical-align: top;
        width: 4rem;
        height: 0.8746rem;
      }
      .vector-vBf {
        width: 4.9rem;
        height: 0.6997rem;
        position: absolute;
        left: 8.8rem;
        top: 66.2975rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-ff3 {
        width: 2.9rem;
        height: 0.6997rem;
        position: absolute;
        left: 14.3rem;
        top: 66.2975rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-DAm {
        position: absolute;
        left: 17.8rem;
        top: 66.2975rem;
        object-fit: contain;
        vertical-align: top;
        width: 5.3rem;
        height: 0.6997rem;
      }
      .vector-ZVX {
        left: 23.7rem;
        top: 66.2975rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.8rem;
        height: 0.6997rem;
        position: absolute;
      }
      .vector-Ve5 {
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 0;
        height: 69.971rem;
        position: absolute;
        left: 32.35rem;
      }
      .vector-FdF {
        height: 4.2141rem;
        position: absolute;
        left: 2.4rem;
        top: 25.2844rem;
        object-fit: contain;
        vertical-align: top;
        width: 4.8rem;
      }
      .component-2-variant2-C2h {
        position: absolute;
        border-radius: 0.5rem;
        box-sizing: border-box;
        width: 24.4rem;
        height: 2.7rem;
        background-color: #ffffff;
        padding: 0.646rem 0.867rem 0.676rem 22.302rem;
        left: 2.4rem;
        top: 6.4991rem;

        .frame-6Ny {
          height: 1.3772rem;
          object-fit: contain;
          vertical-align: top;
          width: 1.2307rem;
        }
      }
      .jonathan-milos-QuT {
        width: 17.3rem;
        height: 3rem;
        position: absolute;
        text-align: center;
        font-size: 2.4rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        left: 8.1rem;
        top: 25.6991rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
      }
    }
    .rectangle-29-t3w {
      position: absolute;
      left: 36.3rem;
      top: 22.7rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1.5rem;
      width: 63.3rem;
      height: 57.4rem;
    }
    .vector-1eM {
      width: 96.5rem;
      height: 55.3096rem;
      position: absolute;
      left: 33.5rem;
      top: 11.5009rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-9kZ {
      top: 10.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 64.8rem;
      height: 7.3rem;
      position: absolute;
      left: 69.9rem;
    }
    .vector-VpR {
      width: 3.6rem;
      height: 3.3361rem;
      position: absolute;
      left: 72.9rem;
      top: 12.73rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-3L9 {
      object-fit: contain;
      vertical-align: top;
      width: 4.8rem;
      height: 3.8629rem;
      position: absolute;
      left: 72rem;
      top: 12.73rem;
    }
    .vector-NtD {
      height: 0.7901rem;
      position: absolute;
      left: 75.4rem;
      top: 15.276rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.9rem;
    }
    .vector-KYZ {
      width: 1.2rem;
      height: 0.2634rem;
      position: absolute;
      left: 130.2rem;
      top: 14.2225rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-GCu {
      top: 17.6464rem;
      object-fit: contain;
      vertical-align: top;
      width: 64.8rem;
      height: 0;
      position: absolute;
      left: 69.9rem;
    }
    .vector-D89 {
      position: absolute;
      left: 72.9rem;
      top: 28.7083rem;
      object-fit: contain;
      vertical-align: top;
      width: 3.6rem;
      height: 3.3361rem;
    }
    .vector-xbX {
      height: 3.2483rem;
      position: absolute;
      left: 72.9rem;
      top: 56.4509rem;
      object-fit: contain;
      vertical-align: top;
      width: 3.6rem;
    }
    .group-Wd3 {
      width: 26.6883rem;
      height: 9.5409rem;
      position: absolute;
      left: 78.3078rem;
      top: 19.9115rem;
      object-fit: contain;
      vertical-align: top;
    }
    .group-FqX {
      width: 10.8563rem;
      height: 2.9038rem;
      position: absolute;
      left: 78.3078rem;
      top: 55.1713rem;
      object-fit: contain;
      vertical-align: top;
    }
    .group-beV {
      left: 78.3078rem;
      top: 48.6724rem;
      object-fit: contain;
      vertical-align: top;
      width: 26.6883rem;
      height: 5.3927rem;
      position: absolute;
    }
    .group-kXP {
      height: 2.9038rem;
      position: absolute;
      left: 78.3078rem;
      top: 44.6625rem;
      object-fit: contain;
      vertical-align: top;
      width: 23.2203rem;
    }
    .group-773 {
      position: absolute;
      left: 115.7rem;
      top: 33.8881rem;
      object-fit: contain;
      vertical-align: top;
      width: 12.8918rem;
      height: 2.9038rem;
    }
    .vector-raR {
      top: 37.4876rem;
      object-fit: contain;
      vertical-align: top;
      width: 26.7rem;
      height: 5.2676rem;
      position: absolute;
      left: 102.3rem;
    }
    .vector-oEm {
      vertical-align: top;
      width: 64.8rem;
      height: 4.3896rem;
      position: absolute;
      left: 69.9rem;
      top: 61.9818rem;
      object-fit: contain;
    }
    .vector-9Jd {
      vertical-align: top;
      width: 1.5rem;
      height: 1.1413rem;
      position: absolute;
      left: 130rem;
      top: 63.5621rem;
      object-fit: contain;
    }
    .vector-6Ds {
      width: 5.3rem;
      height: 0.7023rem;
      position: absolute;
      left: 72.9rem;
      top: 63.8255rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-Rmw {
      width: 1.3rem;
      height: 0.7023rem;
      position: absolute;
      left: 78.8rem;
      top: 63.8255rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-aPw {
      position: absolute;
      left: 80.7rem;
      top: 63.8255rem;
      object-fit: contain;
      vertical-align: top;
      width: 3.6rem;
      height: 0.7023rem;
    }
    .vector-j1w {
      height: 0;
      position: absolute;
      left: 69.9rem;
      top: 61.9818rem;
      object-fit: contain;
      vertical-align: top;
      width: 64.8rem;
    }
    .tentu-selamat-pagi-semoga-harimu-menyenangkan-bagaimana-kabarmu-hari-ini-ada-rencana-menarik-apa-yang-akan-kamu-lakukan-hari-ini-5Lh {
      font-family: Inter, 'Source Sans Pro';
      width: 21.4rem;
      top: 20.5rem;
      line-height: 1.2125;
      color: #000000;
      font-weight: 400;
      height: 7.9rem;
      position: absolute;
      left: 81.8rem;
      font-size: 1.3rem;
    }
    .vector-jw3 {
      height: 3.8629rem;
      position: absolute;
      left: 72.3rem;
      top: 28.1815rem;
      object-fit: contain;
      vertical-align: top;
      width: 4.8rem;
    }
    .vector-5k1 {
      width: 4.8rem;
      height: 3.8629rem;
      position: absolute;
      left: 72.9rem;
      top: 55.3974rem;
      object-fit: contain;
      vertical-align: top;
    }
    .jonathan-milos-2QM {
      top: 11.5rem;
      font-size: 2.4rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 17.3rem;
      cursor: pointer;
      left: 81rem;
      text-align: center;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      height: 3rem;
      position: absolute;
    }
  }
  .component-6-variant2-vVj {
    width: 148.2rem;
    height: 14.1rem;
    position: absolute;
    left: 0;
    top: 0;

    .rectangle-1-Fnu {
      width: 144rem;
      height: 13.2rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #4682a9;
    }
    .component-3-component-2-variant2-CTF {
      left: 17.6rem;
      top: 4.3rem;
      background-color: #ffffff;
      border-radius: 0.5rem;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;
      width: 44.2rem;
      position: absolute;
      box-sizing: border-box;
      height: 5.6rem;

      .frame-gNR {
        width: 2.2295rem;
        height: 2.8565rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .component-4-D7T {
      width: 52.85rem;
      height: 2.7rem;
      position: absolute;
      left: 89.45rem;
      top: 9.9rem;
      display: flex;
      align-items: flex-start;

      .home-w3T {
        margin-right: 1.9rem;
        font-size: 2rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        text-align: center;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .notifications-Fpq {
        margin-right: 2.8rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        color: #000000;
        flex-shrink: 0;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .jobs-b81 {
        margin: 0.1rem 2.85rem 0rem 0rem;
        text-align: center;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2rem;
        line-height: 1.2125;
        flex-shrink: 0;
      }
      .my-network-uPb {
        text-align: center;
        font-size: 2rem;
        line-height: 1.2125;
        flex-shrink: 0;
        margin-right: 1.3rem;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .messaging-qY9 {
        margin-top: 0.2rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        font-size: 2rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .icon-taskbar-yeM {
      align-items: flex-end;
      width: 51.6rem;
      height: 7.3375rem;
      position: absolute;
      left: 89.1rem;
      top: 1.4rem;
      display: flex;

      .icon-home-W8V {
        margin: 0rem 3.9rem 0.9rem 0rem;
        width: 6.9rem;
        height: 6.0375rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icon-bell-LNR {
        margin: 0rem 4.2rem 0.038rem 0rem;
        width: 6.9rem;
        height: 6.9rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icon-briefcase-43X {
        height: 6.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.691rem 0.438rem 0rem;
        width: 6.9086rem;
      }
      .icon-people-mid {
        height: 6.9rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 6.309rem 0.038rem 0rem;
        width: 6.8914rem;
      }
      .icon-chat-uK3 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 6.9rem;
        height: 6.0375rem;
      }
    }
    .profile-rEH {
      height: 2.5rem;
      position: absolute;
      left: 5.5rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.1rem;
      top: 9.9rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2125;
    }
    .image-2-m6M {
      object-fit: cover;
      vertical-align: top;
      width: 6.5rem;
      height: 6.4rem;
      position: absolute;
      left: 5.3rem;
      top: 3rem;
    }
    .profile-tgm {
      width: 6.1rem;
      left: 5.5rem;
      top: 9.9rem;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      height: 2.5rem;
      position: absolute;
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .image-15-ooj {
      cursor: pointer;
      position: absolute;
      left: 5.3rem;
      top: 3rem;
      object-fit: cover;
      vertical-align: top;
      width: 6.5rem;
      height: 6.4rem;
    }
  }
}
