
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-comment-send-neR {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .component-6-variant2-uyw {
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
    width: 148.2rem;
    height: 14.1rem;

    .rectangle-1-2Hs {
      width: 144rem;
      height: 13.2rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #4682a9;
    }
    .component-3-component-2-variant2-kzZ {
      border-radius: 0.5rem;
      width: 44.2rem;
      left: 17.6rem;
      top: 4.3rem;
      position: absolute;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;
      height: 5.6rem;

      .frame-eq3 {
        width: 2.2295rem;
        height: 2.8565rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .component-4-nAZ {
      display: flex;
      align-items: flex-start;
      width: 52.85rem;
      height: 2.7rem;
      position: absolute;
      left: 89.45rem;
      top: 9.9rem;

      .home-6S9 {
        margin-right: 1.9rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.2125;
        flex-shrink: 0;
        font-size: 2rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .notifications-p7F {
        margin-right: 2.8rem;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .jobs-wSm {
        margin: 0.1rem 2.85rem 0rem 0rem;
        text-align: center;
        line-height: 1.2125;
        white-space: nowrap;
        font-size: 2rem;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .my-network-TAD {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        margin-right: 1.3rem;
        font-size: 2rem;
        line-height: 1.2125;
      }
      .messaging-P3s {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        margin-top: 0.2rem;
      }
    }
    .icon-taskbar-v3o {
      width: 51.6rem;
      height: 7.3375rem;
      position: absolute;
      left: 89.1rem;
      top: 1.4rem;
      display: flex;
      align-items: flex-end;

      .icon-home-3PK {
        height: 6.0375rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3.9rem 0.9rem 0rem;
        width: 6.9rem;
      }
      .icon-bell-9SM {
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 4.2rem 0.038rem 0rem;
        width: 6.9rem;
        height: 6.9rem;
      }
      .icon-briefcase-4pD {
        width: 6.9086rem;
        height: 6.9rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.691rem 0.438rem 0rem;
      }
      .icon-people-nVK {
        height: 6.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 6.309rem 0.038rem 0rem;
        width: 6.8914rem;
      }
      .icon-chat-JiZ {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 6.9rem;
        height: 6.0375rem;
        cursor: pointer;
      }
    }
    .profile-3RF {
      height: 2.5rem;
      position: absolute;
      left: 5.5rem;
      text-align: center;
      font-size: 2rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.1rem;
      top: 9.9rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
    }
    .image-2-kKf {
      height: 6.4rem;
      position: absolute;
      left: 5.3rem;
      top: 3rem;
      object-fit: cover;
      vertical-align: top;
      width: 6.5rem;
    }
    .profile-HaV {
      height: 2.5rem;
      position: absolute;
      left: 5.5rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      width: 6.1rem;
      top: 9.9rem;
      font-size: 2rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .image-15-CSZ {
      object-fit: cover;
      vertical-align: top;
      width: 6.5rem;
      height: 6.4rem;
      cursor: pointer;
      position: absolute;
      left: 5.3rem;
      top: 3rem;
    }
  }
  .auto-group-tp5j-8LD {
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 5.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    .auto-group-jns9-fqw {
      column-gap: 5.1rem;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 6.2rem 18.3rem 3rem;
      width: calc(100% - 9.2rem);
      height: 76.4rem;
      display: flex;

      .auto-group-nm6u-P1F {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 28.2rem;

        .auto-group-ujxq-Xt9 {
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #d9d9d9;
          border-radius: 1.5rem;

          .auto-group-v3tj-sSD {
            width: 100%;
            height: 14.7rem;
            position: relative;
            flex-shrink: 0;

            .wallpaperflare-2-Qh3 {
              width: 28.2rem;
              height: 9.4rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
            }
            .vector-wgy {
              position: absolute;
              left: 8.1rem;
              top: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              width: 12rem;
              height: 12rem;
            }
          }
          .auto-group-ukam-US1 {
            box-sizing: border-box;
            padding: 0.3rem 3.5rem 2.2rem 2.2rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-kc5j-oDP {
              height: 6.2rem;
              position: relative;
              flex-shrink: 0;
              margin: 0rem 3.3rem 3.6rem 4.7rem;
              width: calc(100% - 8rem);

              .jonathan-milos-8Ff {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.76;
                height: 4.3rem;
                position: absolute;
                left: 0;
                top: 0;
                white-space: nowrap;
                width: 14.5rem;
                text-align: center;
                color: #000000;
                font-family: Amiri, 'Source Sans Pro';
              }
              .data-architect-SXF {
                position: absolute;
                left: 2.95rem;
                top: 3.5rem;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.76;
                width: 8.6rem;
                font-family: Amiri, 'Source Sans Pro';
                white-space: nowrap;
                color: #000000;
                height: 2.7rem;
              }
            }
            .line-1-YqB {
              height: 0.1rem;
              background-color: #000000;
              flex-shrink: 0;
              margin: 0rem 0rem 2.3rem 1.4rem;
              width: 21.1rem;
            }
            .connection-sMf {
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2675;
              color: #000000;
              font-family: Acme, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 15.7rem 2.2rem 0rem;
            }
            .line-2-aWy {
              background-color: #000000;
              flex-shrink: 0;
              margin: 0rem 0rem 1.3rem 1.4rem;
              width: 21.1rem;
              height: 0.1rem;
            }
            .try-premium-W9j {
              flex-shrink: 0;
              margin-right: 14.8rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2675;
              color: #000000;
              font-family: Acme, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .auto-group-qk3s-1sB {
          box-sizing: border-box;
          padding: 3.2rem 3.5rem 2.1rem 2.2rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          flex-shrink: 0;

          .group-joB {
            margin-bottom: 1.3rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2675;
            color: #000000;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .events-gCd {
            color: #000000;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2675;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.1rem;
            cursor: pointer;
          }
          .followed-hashtags-Cgm {
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            font-weight: 400;
            line-height: 1.2675;
            font-family: Acme, 'Source Sans Pro';
            margin-bottom: 2rem;
            font-size: 1.5rem;
            color: #000000;
          }
          .line-3-jAu {
            margin: 0rem 0rem 1.5rem 1.4rem;
            width: 21.1rem;
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .discover-more-s2D {
            width: 100%;
            text-align: center;
            font-weight: 400;
            color: #000000;
            font-family: Acme, 'Source Sans Pro';
            font-size: 1.5rem;
            line-height: 1.2675;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-3nrz-n9B {
        height: 100%;
        flex-shrink: 0;
        width: 63.3rem;

        .frame-3-LAh {
          display: flex;
          flex-direction: column;
          overflow: hidden;
          box-sizing: border-box;
          padding: 0.6rem 1.3rem 0.8rem 0.7rem;
          width: 100%;
          position: relative;
          align-items: center;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          margin-bottom: 5.6rem;

          .auto-group-m6nh-TFK {
            margin-bottom: 1.7rem;
            width: 100%;
            height: 3.6rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .vector-bcR {
              flex-shrink: 0;
              margin-right: 1.1rem;
              width: 3.6rem;
              height: 3.6rem;
              object-fit: contain;
              vertical-align: top;
            }
            .auto-group-xf9o-wAV {
              margin: 0.1rem 0;
              width: 56.6rem;
              height: calc(100% - 0.2rem);
              position: relative;
              flex-shrink: 0;

              .start-a-post-51o {
                width: 6.2rem;
                top: 0.9rem;
                color: #757575;
                font-family: Inter, 'Source Sans Pro';
                font-weight: 400;
                line-height: 1.2125;
                white-space: nowrap;
                height: 1.4rem;
                position: absolute;
                left: 0.9rem;
                font-size: 1.1rem;
              }
              .rectangle-29-Nmb {
                position: absolute;
                left: 0;
                top: 0;
                border: solid 0.1rem #000000;
                box-sizing: border-box;
                border-radius: 1.5rem;
                width: 56.6rem;
                height: 3.4rem;
              }
            }
          }
          .auto-group-azrp-JQM {
            margin: 0rem 3.1rem 0rem 5.5rem;
            width: calc(100% - 8.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icon-media-image-ptV {
              margin-right: 0.2rem;
              width: 1.6rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .media-m33 {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 17.3rem;
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #757575;
              font-family: Inter, 'Source Sans Pro';
            }
            .events-gA1 {
              flex-shrink: 0;
              margin: 0rem 0.3rem 0.2rem 0rem;
              width: 1.7rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
            }
            .events-QLu {
              font-weight: 400;
              line-height: 1.2125;
              color: #757575;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 16.2rem;
              font-size: 1.1rem;
            }
            .article-jty {
              margin-right: 0.2175rem;
              width: 2.1825rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .write-article-Ubf {
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #757575;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-cfyy-za1 {
          width: 63rem;
          height: 62.1rem;
          position: relative;

          .vector-uS5 {
            left: 1.8rem;
            top: 52.6rem;
            object-fit: contain;
            vertical-align: top;
            width: 4.5rem;
            height: 4.5rem;
            position: absolute;
          }
          .rectangle-Swo {
            position: absolute;
            left: 0;
            top: 0;
            border: solid 0.2rem #000000;
            box-sizing: border-box;
            border-radius: 3rem;
            width: 63rem;
            height: 62.1rem;
          }
          .line-4-ygq {
            width: 63rem;
            height: 0.2rem;
            position: absolute;
            left: 0;
            top: 40.8rem;
            background-color: #000000;
          }
          .ellipse-Kkh {
            top: 2rem;
            background-color: #000000;
            box-sizing: border-box;
            border-radius: 2.25rem;
            width: 4.5rem;
            height: 4.5rem;
            position: absolute;
            left: 2.5rem;
            border: solid 0.1rem #000000;
          }
          .pt-mencari-cinta-sejati-3Ro {
            position: absolute;
            top: 2.6rem;
            font-size: 2rem;
            line-height: 1.76;
            white-space: nowrap;
            width: 19.5rem;
            height: 3.6rem;
            left: 7.5rem;
            font-weight: 400;
            color: #000000;
            font-family: Amiri, 'Source Sans Pro';
          }
          .wallpaperflare-1-xHs {
            object-fit: cover;
            vertical-align: top;
            width: 63rem;
            height: 27.7rem;
            position: absolute;
            left: 0;
            top: 7rem;
          }
          .vector-6Q5 {
            left: 1.8rem;
            top: 42.4rem;
            object-fit: contain;
            vertical-align: top;
            width: 4.5rem;
            height: 4.5rem;
            position: absolute;
          }
          .group-19-SD3 {
            align-items: center;
            width: 52.3582rem;
            height: 3.3rem;
            position: absolute;
            left: 6.5rem;
            top: 36.1rem;
            display: flex;

            .icon-heart-ZYZ {
              margin: 0.1rem 10.8rem 0rem 0rem;
              width: 3.1rem;
              height: 2.8rem;
              cursor: pointer;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .group-17-UvR {
              height: 3.2rem;
              cursor: pointer;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.1rem 13.7rem 0rem 0rem;
              width: 3.2rem;
            }
            .icon-repost-CrR {
              margin: 0rem 13.9rem 0.1rem 0rem;
              width: 4.3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .icon-share-Xdo {
              height: 3.19rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.11rem;
              width: 3.3582rem;
            }
          }
          .rectangle-215-sBs {
            border-radius: 2.7rem;
            width: 53.1rem;
            position: absolute;
            left: 7.4rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            height: 4.1rem;
            top: 42.6rem;
            background-color: #ffffff;
          }
          .nice-ykh {
            height: 2.2rem;
            position: absolute;
            top: 43.4rem;
            font-size: 1.8rem;
            color: #000000;
            width: 3.9rem;
            left: 8.4rem;
            font-weight: 400;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rectangle-216-6KX {
            border-radius: 0.8rem;
            width: 53.4rem;
            height: 7.2rem;
            position: absolute;
            left: 7.3rem;
            top: 52.6rem;
            background-color: #ececec;
          }
          .joseph-felix-ozd {
            left: 7.9rem;
            top: 53.4rem;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.2675;
            font-family: Acme, 'Source Sans Pro';
            width: 6.2rem;
            position: absolute;
            white-space: nowrap;
            height: 1.7rem;
            color: #000000;
          }
          .ceo-of-pt-sern-irh {
            width: 5.2rem;
            height: 1.3rem;
            position: absolute;
            top: 55rem;
            font-size: 0.7rem;
            color: rgba(82, 82, 82, 0.6000000238);
            left: 7.9rem;
            font-weight: 400;
            line-height: 1.76;
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
          }
          .d-Rm7 {
            white-space: nowrap;
            width: 0.8rem;
            height: 1.3rem;
            left: 58.9rem;
            top: 53.7rem;
            font-weight: 400;
            line-height: 1.76;
            font-family: Amiri, 'Source Sans Pro';
            position: absolute;
            font-size: 0.7rem;
            color: #000000;
          }
          .like-xFF {
            line-height: 1.76;
            width: 1.2rem;
            height: 1.3rem;
            position: absolute;
            left: 7.9rem;
            top: 57.6rem;
            font-size: 0.7rem;
            font-weight: 400;
            color: rgba(82, 82, 82, 0.6000000238);
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
          }
          .reply-Gmj {
            font-weight: 400;
            color: rgba(82, 82, 82, 0.6000000238);
            height: 1.3rem;
            left: 10.4rem;
            top: 57.6rem;
            line-height: 1.76;
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
            width: 1.6rem;
            position: absolute;
            font-size: 0.7rem;
          }
          .item--PrM {
            left: 9.7rem;
            top: 57.4rem;
            font-size: 0.7rem;
            line-height: 1.76;
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
            width: 0.2rem;
            position: absolute;
            font-weight: 400;
            color: rgba(82, 82, 82, 0.6000000238);
            height: 1.3rem;
          }
          .nice-one-71f {
            width: 4.7rem;
            height: 2.3rem;
            position: absolute;
            color: #000000;
            font-family: Amiri, 'Source Sans Pro';
            left: 7.8rem;
            top: 55.7rem;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.76;
            white-space: nowrap;
          }
          .icon-send-2eR {
            left: 57.4rem;
            top: 43.5rem;
            object-fit: contain;
            vertical-align: top;
            width: 2.236rem;
            height: 2.236rem;
            cursor: pointer;
            position: absolute;
          }
        }
      }
      .frame-4-xY5 {
        background-color: #213555;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.5rem 1.4rem 4.1rem 1.4rem;
        width: 33.1rem;
        overflow: hidden;
        position: relative;

        .auto-group-hvud-HKT {
          margin: 0rem 11rem 4.3rem 0rem;
          width: calc(100% - 11rem);
          display: flex;
          align-items: flex-start;

          .vector-DU1 {
            width: 5.6rem;
            height: 5.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.7rem;
          }
          .auto-group-xfwv-ZGy {
            margin-top: 0.9rem;
            width: 13rem;
            height: 5.9rem;
            position: relative;
            flex-shrink: 0;

            .richard-alya-HTs {
              line-height: 1.2675;
              color: #ffffff;
              font-family: Acme, 'Source Sans Pro';
              width: 6.6rem;
              height: 1.7rem;
              position: absolute;
              left: 0;
              top: 0;
              font-size: 1.3rem;
              font-weight: 400;
              white-space: nowrap;
            }
            .co-founder-at-kawan-media-1Ps {
              left: 0;
              top: 1.6rem;
              font-size: 1.1rem;
              white-space: nowrap;
              width: 13rem;
              height: 2rem;
              position: absolute;
              font-weight: 400;
              line-height: 1.76;
              color: rgba(255, 255, 255, 0.6000000238);
              font-family: Amiri, 'Source Sans Pro';
            }
            .rectangle-30-uk9 {
              background-color: #d9d9d9;
              width: 8.2rem;
              position: absolute;
              top: 3.6rem;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              border-radius: 1.5rem;
              height: 2.3rem;
              cursor: pointer;
              left: 0;
            }
            .follow-ps7 {
              height: 2.4rem;
              position: absolute;
              left: 2.3rem;
              font-weight: 400;
              line-height: 1.81;
              color: #000000;
              font-family: Arya, 'Source Sans Pro';
              width: 3.4rem;
              top: 3.4rem;
              font-size: 1.3rem;
              white-space: nowrap;
            }
          }
        }
        .auto-group-qki9-wB3 {
          margin-right: 15.8rem;
          width: calc(100% - 15.8rem);
          display: flex;
          align-items: flex-end;

          .vector-Uwf {
            flex-shrink: 0;
            margin: 0rem 0.7rem 0.8rem 0rem;
            width: 5.6rem;
            height: 5.6rem;
            object-fit: contain;
            vertical-align: top;
          }
          .auto-group-i6x7-pEq {
            height: 5.5rem;
            position: relative;
            flex-shrink: 0;
            width: 8.2rem;

            .joseph-felix-NGM {
              left: 0;
              top: 0;
              font-weight: 400;
              color: #ffffff;
              font-family: Acme, 'Source Sans Pro';
              width: 6.2rem;
              height: 1.7rem;
              position: absolute;
              white-space: nowrap;
              font-size: 1.3rem;
              line-height: 1.2675;
            }
            .ceo-of-pt-sern-VLy {
              font-weight: 400;
              line-height: 1.76;
              color: rgba(255, 255, 255, 0.6000000238);
              width: 8.2rem;
              left: 0;
              top: 1.6rem;
              font-size: 1.1rem;
              height: 2rem;
              position: absolute;
              font-family: Amiri, 'Source Sans Pro';
              white-space: nowrap;
            }
            .rectangle-31-QTw {
              position: absolute;
              left: 0;
              top: 3.2rem;
              box-sizing: border-box;
              background-color: #d9d9d9;
              border-radius: 1.5rem;
              cursor: pointer;
              height: 2.3rem;
              border: solid 0.1rem #000000;
              width: 8.2rem;
            }
            .follow-ijX {
              width: 3.4rem;
              position: absolute;
              left: 2.1rem;
              font-size: 1.3rem;
              white-space: nowrap;
              font-family: Arya, 'Source Sans Pro';
              height: 2.4rem;
              top: 3.1rem;
              font-weight: 400;
              line-height: 1.81;
              color: #000000;
            }
          }
        }
      }
    }
    .auto-group-v6vr-DwB {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .followed-hashtags-nDb {
        cursor: pointer;
        font-weight: 400;
        line-height: 1.2675;
        color: #000000;
        flex-shrink: 0;
        margin-right: 66.5rem;
        font-size: 1.5rem;
        font-family: Acme, 'Source Sans Pro';
        white-space: nowrap;
      }
      .union-WQV {
        height: 2.8489rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 1.4rem 13.732rem 0rem 0rem;
        width: 3.5684rem;
      }
      .vector-qhf {
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.6rem;
        width: 3.4344rem;
        height: 3.4344rem;
        object-fit: contain;
      }
    }
  }
}
