
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-like-followed-1-uNV {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-vuc1-qG9 {
    margin-bottom: 1.5rem;
    width: 148.2rem;
    height: 78.6rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-28-9Gq {
      background-color: #d9d9d9;
      border-radius: 1.5rem;
      width: 28.2rem;
      height: 37rem;
      position: absolute;
      left: 3rem;
      top: 19.9rem;
    }
    .rectangle-27-rww {
      top: 59.3rem;
      background-color: #d9d9d9;
      border-radius: 1.5rem;
      width: 28.2rem;
      height: 19.3rem;
      position: absolute;
      left: 3rem;
    }
    .group-BjK {
      white-space: nowrap;
      width: 3.8rem;
      left: 5.2rem;
      font-family: Acme, 'Source Sans Pro';
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2675;
      color: #000000;
      height: 2rem;
      position: absolute;
      top: 62.5rem;
    }
    .events-VED {
      line-height: 1.2675;
      color: #000000;
      height: 2rem;
      cursor: pointer;
      position: absolute;
      top: 65.8rem;
      font-size: 1.5rem;
      font-weight: 400;
      font-family: Acme, 'Source Sans Pro';
      width: 4.1rem;
      left: 5.2rem;
      white-space: nowrap;
    }
    .followed-hashtags-okh {
      width: 11.4rem;
      cursor: pointer;
      left: 5.2rem;
      line-height: 1.2675;
      font-family: Acme, 'Source Sans Pro';
      white-space: nowrap;
      height: 2rem;
      position: absolute;
      top: 68.9rem;
      font-size: 1.5rem;
      font-weight: 400;
      color: #000000;
    }
    .discover-more-uoj {
      height: 2rem;
      position: absolute;
      left: 12.85rem;
      text-align: center;
      font-size: 1.5rem;
      font-family: Acme, 'Source Sans Pro';
      white-space: nowrap;
      width: 8.6rem;
      font-weight: 400;
      line-height: 1.2675;
      color: #000000;
      top: 74.5rem;
    }
    .frame-3-pvh {
      box-sizing: border-box;
      height: 8.7rem;
      overflow: hidden;
      align-items: center;
      display: flex;
      flex-direction: column;
      border: solid 0.1rem #000000;
      padding: 0.6rem 1.3rem 0.8rem 0.7rem;
      width: 63.3rem;
      position: absolute;
      left: 36.3rem;
      top: 19.9rem;
      background-color: #ffffff;

      .auto-group-gmid-7uo {
        margin-bottom: 1.7rem;
        width: 100%;
        height: 3.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .vector-GGu {
          margin-right: 1.1rem;
          width: 3.6rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-u6qu-CwF {
          margin: 0.1rem 0;
          width: 56.6rem;
          height: calc(100% - 0.2rem);
          position: relative;
          flex-shrink: 0;

          .start-a-post-kC5 {
            height: 1.4rem;
            font-size: 1.1rem;
            color: #757575;
            font-family: Inter, 'Source Sans Pro';
            width: 6.2rem;
            left: 0.9rem;
            top: 0.9rem;
            font-weight: 400;
            line-height: 1.2125;
            white-space: nowrap;
            position: absolute;
          }
          .rectangle-29-eHT {
            width: 56.6rem;
            height: 3.4rem;
            position: absolute;
            left: 0;
            top: 0;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            border-radius: 1.5rem;
          }
        }
      }
      .auto-group-b1nm-kbP {
        margin: 0rem 3.1rem 0rem 5.5rem;
        width: calc(100% - 8.6rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .icon-media-image-GZj {
          flex-shrink: 0;
          margin-right: 0.2rem;
          width: 1.6rem;
          height: 1.6rem;
          object-fit: contain;
          vertical-align: top;
        }
        .media-zkd {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 17.3rem;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #757575;
          font-family: Inter, 'Source Sans Pro';
        }
        .events-XEm {
          margin: 0rem 0.3rem 0.2rem 0rem;
          width: 1.7rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .events-eKP {
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #757575;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 16.2rem;
        }
        .article-ayj {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.2175rem;
          width: 2.1825rem;
          height: 2rem;
        }
        .write-article-jbj {
          color: #757575;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
    }
    .frame-4-TXj {
      overflow: hidden;
      width: 33.1rem;
      position: absolute;
      left: 104.7rem;
      top: 19.9rem;
      background-color: #213555;
      box-sizing: border-box;
      padding-bottom: 4.1rem;
      height: 23.1rem;

      .auto-group-ghp1-asF {
        margin-bottom: 1.4rem;
        width: 100%;
        height: 11.2rem;
        position: relative;

        .vector-vAR {
          object-fit: contain;
          vertical-align: top;
          width: 5.6rem;
          height: 5.6rem;
          position: absolute;
          left: 1.4rem;
          top: 1.5rem;
        }
        .co-founder-at-kawan-media-rZs {
          color: rgba(255, 255, 255, 0.6000000238);
          width: 13rem;
          height: 2rem;
          position: absolute;
          left: 7.7rem;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.76;
          font-family: Amiri, 'Source Sans Pro';
          top: 4rem;
          white-space: nowrap;
        }
        .richard-alya-jdf {
          position: absolute;
          top: 2.4rem;
          line-height: 1.2675;
          font-family: Acme, 'Source Sans Pro';
          height: 1.7rem;
          left: 7.7rem;
          font-size: 1.3rem;
          font-weight: 400;
          color: #ffffff;
          white-space: nowrap;
          width: 6.6rem;
        }
        .rectangle-30-SHB {
          box-sizing: border-box;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          width: 8.2rem;
          height: 2.3rem;
          border: solid 0.1rem #000000;
          position: absolute;
          left: 7.7rem;
          top: 6rem;
        }
        .follow-vi9 {
          left: 10rem;
          font-weight: 400;
          font-family: Arya, 'Source Sans Pro';
          white-space: nowrap;
          width: 3.4rem;
          height: 2.4rem;
          position: absolute;
          color: #000000;
          top: 5.8rem;
          font-size: 1.3rem;
          line-height: 1.81;
        }
        .rectangle-214-SRb {
          height: 11.2rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(81, 81, 81, 0.75);
          width: 33.1rem;
        }
        .followed-aGu {
          left: 11.4rem;
          font-size: 2rem;
          font-weight: 800;
          color: #ffffff;
          width: 8.9rem;
          height: 2.5rem;
          position: absolute;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          top: 4.7rem;
          text-align: center;
          line-height: 1.2125;
        }
      }
      .auto-group-4zyd-gqj {
        width: calc(100% - 18.6rem);
        display: flex;
        align-items: flex-end;
        margin: 0rem 17.2rem 0rem 1.4rem;

        .vector-RYR {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.7rem 0.8rem 0rem;
          width: 5.6rem;
          height: 5.6rem;
        }
        .auto-group-luv5-MBB {
          position: relative;
          flex-shrink: 0;
          width: 8.2rem;
          height: 5.5rem;

          .joseph-felix-6eZ {
            color: #ffffff;
            white-space: nowrap;
            width: 6.2rem;
            height: 1.7rem;
            left: 0;
            font-size: 1.3rem;
            line-height: 1.2675;
            position: absolute;
            top: 0;
            font-weight: 400;
            font-family: Acme, 'Source Sans Pro';
          }
          .ceo-of-pt-sern-p4m {
            left: 0;
            font-weight: 400;
            line-height: 1.76;
            width: 8.2rem;
            position: absolute;
            font-size: 1.1rem;
            color: rgba(255, 255, 255, 0.6000000238);
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
            height: 2rem;
            top: 1.6rem;
          }
          .rectangle-31-XE5 {
            height: 2.3rem;
            position: absolute;
            left: 0;
            background-color: #d9d9d9;
            border-radius: 1.5rem;
            width: 8.2rem;
            top: 3.2rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
          }
          .follow-3TK {
            width: 3.4rem;
            height: 2.4rem;
            position: absolute;
            font-weight: 400;
            color: #000000;
            font-family: Arya, 'Source Sans Pro';
            white-space: nowrap;
            left: 2.1rem;
            top: 3.1rem;
            font-size: 1.3rem;
            line-height: 1.81;
          }
        }
      }
    }
    .jonathan-milos-j5F {
      position: absolute;
      left: 9.9rem;
      text-align: center;
      font-size: 2.4rem;
      line-height: 1.76;
      font-family: Amiri, 'Source Sans Pro';
      white-space: nowrap;
      width: 14.5rem;
      height: 4.3rem;
      top: 34.9rem;
      font-weight: 400;
      color: #000000;
    }
    .data-architect-3Lq {
      width: 8.6rem;
      position: absolute;
      top: 38.4rem;
      font-size: 1.5rem;
      line-height: 1.76;
      height: 2.7rem;
      left: 12.85rem;
      text-align: center;
      font-weight: 400;
      color: #000000;
      font-family: Amiri, 'Source Sans Pro';
      white-space: nowrap;
    }
    .connection-kW9 {
      height: 2rem;
      position: absolute;
      font-size: 1.5rem;
      font-weight: 400;
      color: #000000;
      font-family: Acme, 'Source Sans Pro';
      width: 6.8rem;
      top: 47.1rem;
      line-height: 1.2675;
      white-space: nowrap;
      left: 5.2rem;
    }
    .try-premium-GUV {
      font-weight: 400;
      position: absolute;
      font-size: 1.5rem;
      left: 5.2rem;
      top: 52.7rem;
      line-height: 1.2675;
      color: #000000;
      font-family: Acme, 'Source Sans Pro';
      white-space: nowrap;
      width: 7.7rem;
      height: 2rem;
    }
    .frame-yth {
      box-sizing: border-box;
      width: 63rem;
      border: solid 0.2rem #000000;
      border-radius: 3rem;
      padding: 2rem 0rem 1.6rem 0rem;
      height: 41rem;
      position: absolute;
      left: 36.3rem;
      top: 34.2rem;

      .auto-group-5397-HuP {
        margin: 0rem 36rem 0.5rem 2.5rem;
        width: calc(100% - 38.5rem);
        display: flex;
        align-items: center;

        .ellipse-2c5 {
          width: 4.5rem;
          height: 4.5rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #000000;
          border-radius: 2.25rem;
          flex-shrink: 0;
          margin-right: 0.5rem;
        }
        .pt-mencari-cinta-sejati-xEq {
          margin-top: 0.3rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.76;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .wallpaperflare-1-gRj {
        vertical-align: top;
        margin-bottom: 1.4rem;
        width: 63rem;
        height: 27.7rem;
        object-fit: cover;
      }
      .auto-group-sml1-caH {
        vertical-align: top;
        margin-left: 3.1rem;
        width: 55.7582rem;
        height: 3.3rem;
        position: relative;
        object-fit: contain;
      }
    }
    .wallpaperflare-2-vqs {
      width: 28.2rem;
      height: 9.4rem;
      position: absolute;
      left: 3rem;
      top: 19.9rem;
      object-fit: cover;
      vertical-align: top;
    }
    .vector-rjX {
      position: absolute;
      left: 11.1rem;
      top: 22.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 12rem;
      height: 12rem;
    }
    .line-1-oPs {
      width: 21.1rem;
      height: 0.1rem;
      position: absolute;
      left: 6.6rem;
      top: 44.7rem;
      background-color: #000000;
    }
    .line-3-joK {
      background-color: #000000;
      width: 21.1rem;
      height: 0.1rem;
      position: absolute;
      left: 6.6rem;
      top: 72.9rem;
    }
    .line-2-5MP {
      height: 0.1rem;
      position: absolute;
      left: 6.6rem;
      top: 51.3rem;
      background-color: #000000;
      width: 21.1rem;
    }
    .component-6-variant2-QPf {
      width: 148.2rem;
      height: 14.1rem;
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0;

      .rectangle-1-8aZ {
        width: 144rem;
        height: 13.2rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #4682a9;
      }
      .component-3-component-2-variant2-4z1 {
        box-sizing: border-box;
        left: 17.6rem;
        background-color: #ffffff;
        border-radius: 0.5rem;
        padding: 1.341rem 1.571rem 1.403rem 40.4rem;
        width: 44.2rem;
        height: 5.6rem;
        position: absolute;
        top: 4.3rem;

        .frame-krq {
          width: 2.2295rem;
          height: 2.8565rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .component-4-tCM {
        position: absolute;
        left: 89.45rem;
        top: 9.9rem;
        display: flex;
        align-items: flex-start;
        width: 52.85rem;
        height: 2.7rem;

        .home-1Gy {
          font-size: 2rem;
          font-weight: 400;
          flex-shrink: 0;
          margin-right: 1.9rem;
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          line-height: 1.2125;
          color: #000000;
        }
        .notifications-8cV {
          margin-right: 2.8rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          line-height: 1.2125;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .jobs-s4H {
          margin: 0.1rem 2.85rem 0rem 0rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          text-align: center;
          font-size: 2rem;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .my-network-nS9 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          margin-right: 1.3rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
        }
        .messaging-XPj {
          margin-top: 0.2rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .icon-taskbar-GMK {
        display: flex;
        align-items: flex-end;
        width: 51.6rem;
        height: 7.3375rem;
        position: absolute;
        left: 89.1rem;
        top: 1.4rem;

        .icon-home-beV {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3.9rem 0.9rem 0rem;
          width: 6.9rem;
          height: 6.0375rem;
          object-fit: contain;
        }
        .icon-bell-XY9 {
          width: 6.9rem;
          height: 6.9rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.2rem 0.038rem 0rem;
        }
        .icon-briefcase-raR {
          flex-shrink: 0;
          margin: 0rem 2.691rem 0.438rem 0rem;
          width: 6.9086rem;
          height: 6.9rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
        }
        .icon-people-amK {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 6.309rem 0.038rem 0rem;
          width: 6.8914rem;
          height: 6.9rem;
        }
        .icon-chat-Wey {
          width: 6.9rem;
          height: 6.0375rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .profile-f25 {
        left: 5.5rem;
        top: 9.9rem;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        height: 2.5rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        width: 6.1rem;
      }
      .image-2-mqo {
        left: 5.3rem;
        top: 3rem;
        object-fit: cover;
        vertical-align: top;
        width: 6.5rem;
        height: 6.4rem;
        position: absolute;
      }
      .profile-iW9 {
        top: 9.9rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        color: #000000;
        height: 2.5rem;
        position: absolute;
        left: 5.5rem;
        font-family: Inter, 'Source Sans Pro';
        width: 6.1rem;
        line-height: 1.2125;
        white-space: nowrap;
      }
      .image-15-e8u {
        height: 6.4rem;
        cursor: pointer;
        position: absolute;
        left: 5.3rem;
        top: 3rem;
        object-fit: cover;
        vertical-align: top;
        width: 6.5rem;
      }
    }
    .frame-91-nF7 {
      width: 14.5rem;
      height: 24.7rem;
      position: absolute;
      left: 57.5rem;
      top: 0;
      overflow: hidden;
    }
  }
  .frame-Kkq {
    height: 41rem;
    border-radius: 3rem;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2rem 0rem 2.251rem 0rem;
    width: calc(100% - 81rem);
    display: flex;
    flex-direction: column;
    border: solid 0.2rem #000000;
    margin: 0rem 44.7rem 0rem 36.3rem;

    .auto-group-a81t-RYy {
      margin: 0rem 34.5rem 0.4rem 2.5rem;
      width: calc(100% - 37rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .ellipse-ZQH {
        margin: 0rem 0.5rem 0.1rem 0rem;
        width: 4.5rem;
        height: 4.5rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #000000;
        border-radius: 2.25rem;
        flex-shrink: 0;
      }
      .pt-barokah-jaya-jaya-jaya-U1T {
        font-family: Amiri, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.76;
        color: #000000;
      }
    }
    .wallpaperflare-3-o3j {
      margin-bottom: 0rem;
      width: 63rem;
      height: 27.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-ctjd-861 {
      margin: 0rem 2.866rem 0rem 3rem;
      width: calc(100% - 5.8656rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .union-rXo {
        margin: 0rem 13.421rem 0.07rem 0rem;
        width: 3.9793rem;
        height: 3.9793rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-P1w {
        margin: 0rem 15.8rem 0.049rem 0rem;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .union-uky {
        flex-shrink: 0;
        margin-right: 13.7316rem;
        width: 3.5684rem;
        height: 2.8489rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-FZw {
        height: 3.4344rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.2145rem;
        width: 3.4344rem;
      }
    }
  }
}
