
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-comment-sent-like-fBK {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .component-6-variant2-ap5 {
    width: 148.2rem;
    height: 14.1rem;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;

    .rectangle-1-WSq {
      width: 144rem;
      height: 13.2rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #4682a9;
    }
    .component-3-component-2-variant2-qzu {
      left: 17.6rem;
      background-color: #ffffff;
      border-radius: 0.5rem;
      height: 5.6rem;
      position: absolute;
      width: 44.2rem;
      top: 4.3rem;
      box-sizing: border-box;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;

      .frame-LRs {
        vertical-align: top;
        width: 2.2295rem;
        height: 2.8565rem;
        object-fit: contain;
      }
    }
    .component-4-En9 {
      display: flex;
      align-items: flex-start;
      width: 52.85rem;
      height: 2.7rem;
      position: absolute;
      left: 89.45rem;
      top: 9.9rem;

      .home-ZJd {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        text-align: center;
        font-weight: 400;
        margin-right: 1.9rem;
      }
      .notifications-Tuo {
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        white-space: nowrap;
        margin-right: 2.8rem;
      }
      .jobs-PHf {
        margin: 0.1rem 2.85rem 0rem 0rem;
        line-height: 1.2125;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .my-network-6Sy {
        margin-right: 1.3rem;
        text-align: center;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2rem;
        font-weight: 400;
        flex-shrink: 0;
      }
      .messaging-dSu {
        white-space: nowrap;
        margin-top: 0.2rem;
        text-align: center;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        flex-shrink: 0;
      }
    }
    .icon-taskbar-Z5f {
      position: absolute;
      left: 89.1rem;
      top: 1.4rem;
      display: flex;
      align-items: flex-end;
      width: 51.6rem;
      height: 7.3375rem;

      .icon-home-ss3 {
        flex-shrink: 0;
        margin: 0rem 3.9rem 0.9rem 0rem;
        width: 6.9rem;
        height: 6.0375rem;
        object-fit: contain;
        vertical-align: top;
      }
      .icon-bell-C8d {
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 4.2rem 0.038rem 0rem;
        width: 6.9rem;
        height: 6.9rem;
      }
      .icon-briefcase-7WV {
        height: 6.9rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.691rem 0.438rem 0rem;
        width: 6.9086rem;
      }
      .icon-people-dzd {
        flex-shrink: 0;
        margin: 0rem 6.309rem 0.038rem 0rem;
        width: 6.8914rem;
        height: 6.9rem;
        object-fit: contain;
        vertical-align: top;
      }
      .icon-chat-y2u {
        height: 6.0375rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 6.9rem;
      }
    }
    .profile-ux9 {
      font-size: 2rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.1rem;
      position: absolute;
      top: 9.9rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #000000;
      height: 2.5rem;
      left: 5.5rem;
    }
    .image-2-dNM {
      height: 6.4rem;
      position: absolute;
      left: 5.3rem;
      top: 3rem;
      object-fit: cover;
      vertical-align: top;
      width: 6.5rem;
    }
    .profile-A7P {
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 6.1rem;
      height: 2.5rem;
      left: 5.5rem;
      top: 9.9rem;
      text-align: center;
      font-weight: 400;
      position: absolute;
      font-size: 2rem;
      color: #000000;
      white-space: nowrap;
    }
    .image-15-GAR {
      object-fit: cover;
      vertical-align: top;
      width: 6.5rem;
      height: 6.4rem;
      cursor: pointer;
      position: absolute;
      left: 5.3rem;
      top: 3rem;
    }
  }
  .auto-group-zsyu-Pkq {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 5.8rem;

    .auto-group-oebw-8Cd {
      margin: 0rem 6.2rem 8.1rem 3rem;
      width: calc(100% - 9.2rem);
      height: 86.6rem;
      display: flex;
      column-gap: 5.1rem;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-wnvb-dfB {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 28.2rem;
        align-items: center;

        .auto-group-n8xm-Nsf {
          margin-bottom: 2.4rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          flex-shrink: 0;

          .auto-group-vqey-KY1 {
            width: 100%;
            height: 14.7rem;
            position: relative;
            flex-shrink: 0;

            .wallpaperflare-2-4Vb {
              width: 28.2rem;
              height: 9.4rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
            }
            .vector-bVX {
              vertical-align: top;
              width: 12rem;
              height: 12rem;
              position: absolute;
              left: 8.1rem;
              top: 2.7rem;
              object-fit: contain;
            }
          }
          .auto-group-efl1-7yf {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.3rem 3.5rem 2.2rem 2.2rem;
            width: 100%;
            align-items: center;

            .auto-group-nktw-3cR {
              margin: 0rem 3.3rem 3.6rem 4.7rem;
              width: calc(100% - 8rem);
              height: 6.2rem;
              position: relative;
              flex-shrink: 0;

              .jonathan-milos-yW5 {
                left: 0;
                top: 0;
                text-align: center;
                font-size: 2.4rem;
                line-height: 1.76;
                width: 14.5rem;
                height: 4.3rem;
                position: absolute;
                font-weight: 400;
                color: #000000;
                font-family: Amiri, 'Source Sans Pro';
                white-space: nowrap;
              }
              .data-architect-HWm {
                height: 2.7rem;
                left: 2.95rem;
                top: 3.5rem;
                color: #000000;
                white-space: nowrap;
                width: 8.6rem;
                position: absolute;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.76;
                font-family: Amiri, 'Source Sans Pro';
              }
            }
            .line-1-b1f {
              height: 0.1rem;
              background-color: #000000;
              flex-shrink: 0;
              margin: 0rem 0rem 2.3rem 1.4rem;
              width: 21.1rem;
            }
            .connection-iMB {
              margin: 0rem 15.7rem 2.2rem 0rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2675;
              color: #000000;
              font-family: Acme, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .line-2-S2H {
              margin: 0rem 0rem 1.3rem 1.4rem;
              width: 21.1rem;
              height: 0.1rem;
              background-color: #000000;
              flex-shrink: 0;
            }
            .try-premium-Zsb {
              font-family: Acme, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 14.8rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2675;
              color: #000000;
            }
          }
        }
        .auto-group-4qth-tey {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.2rem 3.5rem 2.1rem 2.2rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          background-color: #d9d9d9;
          border-radius: 1.5rem;

          .group-DhF {
            margin-bottom: 1.3rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2675;
            color: #000000;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .events-mCy {
            margin-bottom: 1.1rem;
            line-height: 1.2675;
            font-family: Acme, 'Source Sans Pro';
            flex-shrink: 0;
            cursor: pointer;
            font-size: 1.5rem;
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
          }
          .followed-hashtags-Hx1 {
            margin-bottom: 2rem;
            cursor: pointer;
            font-size: 1.5rem;
            flex-shrink: 0;
            font-weight: 400;
            line-height: 1.2675;
            color: #000000;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
          }
          .line-3-pBF {
            margin: 0rem 0rem 1.5rem 1.4rem;
            width: 21.1rem;
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .discover-more-xHT {
            color: #000000;
            flex-shrink: 0;
            width: 100%;
            text-align: center;
            font-weight: 400;
            line-height: 1.2675;
            font-size: 1.5rem;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .auto-group-63th-GZ3 {
        height: 100%;
        flex-shrink: 0;
        width: 63.3rem;

        .frame-3-RRw {
          box-sizing: border-box;
          width: 100%;
          display: flex;
          margin-bottom: 5.6rem;
          overflow: hidden;
          position: relative;
          align-items: center;
          flex-direction: column;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          padding: 0.6rem 1.3rem 0.8rem 0.7rem;

          .auto-group-1cjo-YWZ {
            flex-shrink: 0;
            margin-bottom: 1.7rem;
            width: 100%;
            height: 3.6rem;
            display: flex;
            align-items: center;

            .vector-Hj3 {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.1rem;
              width: 3.6rem;
              height: 3.6rem;
              object-fit: contain;
            }
            .auto-group-8juq-2Aq {
              margin: 0.1rem 0;
              width: 56.6rem;
              height: calc(100% - 0.2rem);
              position: relative;
              flex-shrink: 0;

              .start-a-post-MD7 {
                height: 1.4rem;
                left: 0.9rem;
                top: 0.9rem;
                font-size: 1.1rem;
                font-weight: 400;
                width: 6.2rem;
                position: absolute;
                line-height: 1.2125;
                color: #757575;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .rectangle-29-T1F {
                width: 56.6rem;
                height: 3.4rem;
                position: absolute;
                left: 0;
                top: 0;
                border: solid 0.1rem #000000;
                box-sizing: border-box;
                border-radius: 1.5rem;
              }
            }
          }
          .auto-group-b4gd-xyb {
            margin: 0rem 3.1rem 0rem 5.5rem;
            width: calc(100% - 8.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icon-media-image-hAV {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.2rem;
              width: 1.6rem;
              height: 1.6rem;
            }
            .media-d49 {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 17.3rem;
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #757575;
            }
            .events-92V {
              margin: 0rem 0.3rem 0.2rem 0rem;
              width: 1.7rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .events-GN1 {
              font-weight: 400;
              line-height: 1.2125;
              color: #757575;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 16.2rem;
              font-size: 1.1rem;
            }
            .article-bfB {
              margin-right: 0.2175rem;
              width: 2.1825rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .write-article-Lsf {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #757575;
            }
          }
        }
        .auto-group-9ham-r5K {
          padding-top: 2rem;
          width: 63rem;
          border: solid 0.2rem #000000;
          border-radius: 3rem;
          box-sizing: border-box;

          .auto-group-j1kz-Pb3 {
            display: flex;
            align-items: center;
            margin: 0rem 36rem 0.5rem 2.5rem;
            width: calc(100% - 38.5rem);

            .ellipse-idK {
              background-color: #000000;
              border-radius: 2.25rem;
              flex-shrink: 0;
              margin-right: 0.5rem;
              width: 4.5rem;
              height: 4.5rem;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
            }
            .pt-mencari-cinta-sejati-ErZ {
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.76;
              color: #000000;
              font-family: Amiri, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.3rem;
            }
          }
          .wallpaperflare-1-Zdw {
            object-fit: cover;
            vertical-align: top;
            width: 63rem;
            height: 27.7rem;
          }
          .auto-group-4rfb-JrR {
            width: 100%;
            height: 37.6rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 1.4rem 0rem 2.5rem 0rem;

            .group-19-ddo {
              flex-shrink: 0;
              margin: 0rem 4.142rem 1.4rem 6.5rem;
              width: calc(100% - 10.6418rem);
              display: flex;
              align-items: center;

              .icon-heart-xRB {
                flex-shrink: 0;
                margin: 0.1rem 10.8rem 0rem 0rem;
                width: 3.1rem;
                height: 2.8rem;
                cursor: pointer;
                object-fit: contain;
                vertical-align: top;
              }
              .group-17-so3 {
                height: 3.2rem;
                cursor: pointer;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.1rem 13.7rem 0rem 0rem;
                width: 3.2rem;
              }
              .icon-repost-ogh {
                flex-shrink: 0;
                margin: 0rem 13.9rem 0.1rem 0rem;
                width: 4.3rem;
                height: 3rem;
                object-fit: contain;
                vertical-align: top;
              }
              .icon-share-jKT {
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.11rem;
                width: 3.3582rem;
                height: 3.19rem;
                object-fit: contain;
              }
            }
            .line-4-sRf {
              margin: 0rem 0rem 1.4rem 0rem;
              width: calc(100% - 0rem);
              height: 0.2rem;
              background-color: #000000;
              flex-shrink: 0;
            }
            .auto-group-xjzz-Cyj {
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 2.5rem 6.7rem 1.8rem;
              width: calc(100% - 4.3rem);
              height: 4.5rem;
              display: flex;

              .vector-LKF {
                margin-right: 1.1rem;
                width: 4.5rem;
                height: 4.5rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .auto-group-kcez-ge1 {
                box-sizing: border-box;
                padding: 0.8rem 0.864rem 0.964rem 1rem;
                background-color: #ffffff;
                border-radius: 2.7rem;
                border: solid 0.1rem #000000;
                flex-shrink: 0;
                margin: 0.2rem 0;
                height: calc(100% - 0.4rem);
                display: flex;
                align-items: center;

                .add-a-comment-1AV {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin: 0rem 34rem 0.136rem 0rem;
                  font-size: 1.8rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #757575;
                  font-family: Inter, 'Source Sans Pro';
                }
                .icon-send-X8q {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.1rem;
                  width: 2.236rem;
                  height: 2.236rem;
                }
              }
            }
            .auto-group-rhbb-dBs {
              margin: 0rem 2.3rem 1.8rem 1.8rem;
              width: calc(100% - 4.1rem);
              height: 7.2rem;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .vector-8uK {
                margin-right: 1rem;
                width: 4.5rem;
                height: 4.5rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .auto-group-qjch-HXK {
                background-color: #ececec;
                border-radius: 0.8rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 0.8rem 0.6rem 0.9rem 0.5rem;
                height: 100%;
                display: flex;
                align-items: center;

                .auto-group-e2sh-cpV {
                  height: 100%;
                  position: relative;
                  flex-shrink: 0;
                  margin-right: 43rem;
                  width: 7.9rem;

                  .jonathan-milos-N2y {
                    top: 0;
                    font-size: 1.3rem;
                    line-height: 1.2675;
                    font-family: Acme, 'Source Sans Pro';
                    white-space: nowrap;
                    height: 1.7rem;
                    position: absolute;
                    left: 0.1rem;
                    font-weight: 400;
                    color: #000000;
                    width: 7.8rem;
                  }
                  .data-architect-5CH {
                    font-size: 0.7rem;
                    font-family: Amiri, 'Source Sans Pro';
                    width: 4.1rem;
                    height: 1.3rem;
                    position: absolute;
                    left: 0.1rem;
                    top: 1.6rem;
                    font-weight: 400;
                    line-height: 1.76;
                    color: rgba(82, 82, 82, 0.6000000238);
                    white-space: nowrap;
                  }
                  .like-mau {
                    position: absolute;
                    font-weight: 400;
                    white-space: nowrap;
                    width: 1.2rem;
                    height: 1.3rem;
                    font-size: 0.7rem;
                    line-height: 1.76;
                    color: rgba(82, 82, 82, 0.6000000238);
                    font-family: Amiri, 'Source Sans Pro';
                    left: 0.1rem;
                    top: 4.2rem;
                  }
                  .reply-UVK {
                    position: absolute;
                    left: 2.6rem;
                    top: 4.2rem;
                    font-size: 0.7rem;
                    font-weight: 400;
                    line-height: 1.76;
                    width: 1.6rem;
                    height: 1.3rem;
                    color: rgba(82, 82, 82, 0.6000000238);
                    font-family: Amiri, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .item--zTf {
                    width: 0.2rem;
                    position: absolute;
                    left: 1.9rem;
                    font-size: 0.7rem;
                    font-weight: 400;
                    line-height: 1.76;
                    height: 1.3rem;
                    top: 4rem;
                    color: rgba(82, 82, 82, 0.6000000238);
                    font-family: Amiri, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .nice-JjF {
                    left: 0;
                    font-size: 1.3rem;
                    font-weight: 400;
                    color: #000000;
                    height: 2.3rem;
                    position: absolute;
                    line-height: 1.76;
                    font-family: Amiri, 'Source Sans Pro';
                    white-space: nowrap;
                    width: 2.4rem;
                    top: 2.3rem;
                  }
                }
                .now-2fF {
                  flex-shrink: 0;
                  margin-bottom: 3.6rem;
                  font-size: 0.7rem;
                  font-weight: 400;
                  line-height: 1.76;
                  color: #000000;
                  font-family: Amiri, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
            .auto-group-uwxy-MBj {
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              margin: 0rem 2.3rem 0rem 1.8rem;
              width: calc(100% - 4.1rem);
              height: 7.2rem;

              .vector-UXF {
                height: 4.5rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1rem;
                width: 4.5rem;
              }
              .auto-group-4p1b-Dzd {
                border-radius: 0.8rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 0.8rem 1rem 0.9rem 0.5rem;
                height: 100%;
                display: flex;
                align-items: center;
                background-color: #ececec;

                .auto-group-iicm-9tH {
                  margin-right: 44.8rem;
                  width: 6.3rem;
                  height: 100%;
                  position: relative;
                  flex-shrink: 0;

                  .joseph-felix-gtD {
                    width: 6.2rem;
                    height: 1.7rem;
                    top: 0;
                    font-size: 1.3rem;
                    font-family: Acme, 'Source Sans Pro';
                    white-space: nowrap;
                    position: absolute;
                    left: 0.1rem;
                    font-weight: 400;
                    line-height: 1.2675;
                    color: #000000;
                  }
                  .ceo-of-pt-sern-CrZ {
                    position: absolute;
                    left: 0.1rem;
                    white-space: nowrap;
                    color: rgba(82, 82, 82, 0.6000000238);
                    font-family: Amiri, 'Source Sans Pro';
                    width: 5.2rem;
                    height: 1.3rem;
                    top: 1.6rem;
                    font-size: 0.7rem;
                    font-weight: 400;
                    line-height: 1.76;
                  }
                  .like-uky {
                    line-height: 1.76;
                    color: rgba(82, 82, 82, 0.6000000238);
                    font-family: Amiri, 'Source Sans Pro';
                    height: 1.3rem;
                    font-weight: 400;
                    left: 0.1rem;
                    top: 4.2rem;
                    font-size: 0.7rem;
                    white-space: nowrap;
                    width: 1.2rem;
                    position: absolute;
                  }
                  .reply-psw {
                    width: 1.6rem;
                    left: 2.6rem;
                    top: 4.2rem;
                    font-size: 0.7rem;
                    line-height: 1.76;
                    color: rgba(82, 82, 82, 0.6000000238);
                    white-space: nowrap;
                    height: 1.3rem;
                    position: absolute;
                    font-weight: 400;
                    font-family: Amiri, 'Source Sans Pro';
                  }
                  .item--8dj {
                    line-height: 1.76;
                    color: rgba(82, 82, 82, 0.6000000238);
                    white-space: nowrap;
                    width: 0.2rem;
                    height: 1.3rem;
                    position: absolute;
                    left: 1.9rem;
                    top: 4rem;
                    font-size: 0.7rem;
                    font-weight: 400;
                    font-family: Amiri, 'Source Sans Pro';
                  }
                  .nice-one-rJq {
                    position: absolute;
                    top: 2.3rem;
                    font-size: 1.3rem;
                    font-weight: 400;
                    font-family: Amiri, 'Source Sans Pro';
                    width: 4.7rem;
                    height: 2.3rem;
                    color: #000000;
                    white-space: nowrap;
                    left: 0;
                    line-height: 1.76;
                  }
                }
                .d-aVj {
                  margin-bottom: 3.6rem;
                  font-size: 0.7rem;
                  font-weight: 400;
                  line-height: 1.76;
                  color: #000000;
                  font-family: Amiri, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
          }
        }
      }
      .frame-4-Ub7 {
        background-color: #213555;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.5rem 1.4rem 4.1rem 1.4rem;
        width: 33.1rem;
        overflow: hidden;
        position: relative;

        .auto-group-zpkv-QUm {
          margin: 0rem 11rem 4.3rem 0rem;
          width: calc(100% - 11rem);
          display: flex;
          align-items: flex-start;

          .vector-L7X {
            width: 5.6rem;
            height: 5.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.7rem;
          }
          .auto-group-wliq-H2m {
            flex-shrink: 0;
            margin-top: 0.9rem;
            width: 13rem;
            height: 5.9rem;
            position: relative;

            .richard-alya-c53 {
              color: #ffffff;
              font-family: Acme, 'Source Sans Pro';
              position: absolute;
              left: 0;
              font-weight: 400;
              line-height: 1.2675;
              white-space: nowrap;
              width: 6.6rem;
              height: 1.7rem;
              top: 0;
              font-size: 1.3rem;
            }
            .co-founder-at-kawan-media-XSu {
              top: 1.6rem;
              font-size: 1.1rem;
              line-height: 1.76;
              color: rgba(255, 255, 255, 0.6000000238);
              white-space: nowrap;
              height: 2rem;
              position: absolute;
              left: 0;
              font-weight: 400;
              font-family: Amiri, 'Source Sans Pro';
              width: 13rem;
            }
            .rectangle-30-2Pf {
              position: absolute;
              left: 0;
              box-sizing: border-box;
              background-color: #d9d9d9;
              width: 8.2rem;
              cursor: pointer;
              border: solid 0.1rem #000000;
              border-radius: 1.5rem;
              height: 2.3rem;
              top: 3.6rem;
            }
            .follow-L9T {
              height: 2.4rem;
              font-size: 1.3rem;
              font-weight: 400;
              white-space: nowrap;
              width: 3.4rem;
              position: absolute;
              left: 2.3rem;
              top: 3.4rem;
              line-height: 1.81;
              color: #000000;
              font-family: Arya, 'Source Sans Pro';
            }
          }
        }
        .auto-group-yezk-SCV {
          margin-right: 15.8rem;
          width: calc(100% - 15.8rem);
          display: flex;
          align-items: flex-end;

          .vector-MKT {
            margin: 0rem 0.7rem 0.8rem 0rem;
            width: 5.6rem;
            height: 5.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .auto-group-easy-5WM {
            width: 8.2rem;
            height: 5.5rem;
            position: relative;
            flex-shrink: 0;

            .joseph-felix-RKK {
              line-height: 1.2675;
              color: #ffffff;
              font-family: Acme, 'Source Sans Pro';
              white-space: nowrap;
              width: 6.2rem;
              position: absolute;
              left: 0;
              top: 0;
              font-size: 1.3rem;
              font-weight: 400;
              height: 1.7rem;
            }
            .ceo-of-pt-sern-Y93 {
              font-size: 1.1rem;
              line-height: 1.76;
              width: 8.2rem;
              height: 2rem;
              position: absolute;
              color: rgba(255, 255, 255, 0.6000000238);
              font-family: Amiri, 'Source Sans Pro';
              white-space: nowrap;
              left: 0;
              top: 1.6rem;
              font-weight: 400;
            }
            .rectangle-31-r9j {
              position: absolute;
              left: 0;
              box-sizing: border-box;
              cursor: pointer;
              height: 2.3rem;
              top: 3.2rem;
              border: solid 0.1rem #000000;
              background-color: #d9d9d9;
              border-radius: 1.5rem;
              width: 8.2rem;
            }
            .follow-mGh {
              font-weight: 400;
              color: #000000;
              font-family: Arya, 'Source Sans Pro';
              width: 3.4rem;
              position: absolute;
              left: 2.1rem;
              top: 3.1rem;
              font-size: 1.3rem;
              line-height: 1.81;
              white-space: nowrap;
              height: 2.4rem;
            }
          }
        }
      }
    }
    .auto-group-tw6m-TvD {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .followed-hashtags-DuP {
        margin-right: 66.5rem;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2675;
        color: #000000;
        font-family: Acme, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .union-keR {
        margin: 1.4rem 13.732rem 0rem 0rem;
        width: 3.5684rem;
        height: 2.8489rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-UqK {
        margin-top: 0.6rem;
        width: 3.4344rem;
        height: 3.4344rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
