
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-like-followed-2-BZw {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-pofk-WcD {
    margin-bottom: 1.5rem;
    width: 148.2rem;
    height: 78.6rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-28-pcu {
      width: 28.2rem;
      height: 37rem;
      position: absolute;
      left: 3rem;
      top: 19.9rem;
      background-color: #d9d9d9;
      border-radius: 1.5rem;
    }
    .rectangle-27-YJ1 {
      left: 3rem;
      top: 59.3rem;
      background-color: #d9d9d9;
      border-radius: 1.5rem;
      width: 28.2rem;
      height: 19.3rem;
      position: absolute;
    }
    .group-USZ {
      height: 2rem;
      top: 62.5rem;
      font-size: 1.5rem;
      line-height: 1.2675;
      font-family: Acme, 'Source Sans Pro';
      white-space: nowrap;
      width: 3.8rem;
      position: absolute;
      left: 5.2rem;
      font-weight: 400;
      color: #000000;
    }
    .events-mwT {
      cursor: pointer;
      position: absolute;
      font-weight: 400;
      font-family: Acme, 'Source Sans Pro';
      white-space: nowrap;
      width: 4.1rem;
      height: 2rem;
      left: 5.2rem;
      top: 65.8rem;
      font-size: 1.5rem;
      line-height: 1.2675;
      color: #000000;
    }
    .followed-hashtags-tWH {
      font-family: Acme, 'Source Sans Pro';
      cursor: pointer;
      left: 5.2rem;
      top: 68.9rem;
      line-height: 1.2675;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      width: 11.4rem;
      height: 2rem;
      position: absolute;
      font-size: 1.5rem;
    }
    .discover-more-nrZ {
      text-align: center;
      font-size: 1.5rem;
      color: #000000;
      white-space: nowrap;
      height: 2rem;
      position: absolute;
      left: 12.85rem;
      line-height: 1.2675;
      font-family: Acme, 'Source Sans Pro';
      width: 8.6rem;
      top: 74.5rem;
      font-weight: 400;
    }
    .frame-3-789 {
      border: solid 0.1rem #000000;
      background-color: #ffffff;
      box-sizing: border-box;
      height: 8.7rem;
      left: 36.3rem;
      overflow: hidden;
      align-items: center;
      flex-direction: column;
      padding: 0.6rem 1.3rem 0.8rem 0.7rem;
      width: 63.3rem;
      position: absolute;
      top: 19.9rem;
      display: flex;

      .auto-group-6u65-bZ7 {
        height: 3.6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 1.7rem;
        width: 100%;

        .vector-wN5 {
          width: 3.6rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.1rem;
        }
        .auto-group-g2gv-5DP {
          margin: 0.1rem 0;
          width: 56.6rem;
          height: calc(100% - 0.2rem);
          position: relative;
          flex-shrink: 0;

          .start-a-post-1cq {
            width: 6.2rem;
            left: 0.9rem;
            font-weight: 400;
            height: 1.4rem;
            position: absolute;
            top: 0.9rem;
            font-size: 1.1rem;
            line-height: 1.2125;
            color: #757575;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rectangle-29-V2D {
            box-sizing: border-box;
            border-radius: 1.5rem;
            width: 56.6rem;
            height: 3.4rem;
            position: absolute;
            left: 0;
            top: 0;
            border: solid 0.1rem #000000;
          }
        }
      }
      .auto-group-rk6h-zjf {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 3.1rem 0rem 5.5rem;
        width: calc(100% - 8.6rem);

        .icon-media-image-iQm {
          margin-right: 0.2rem;
          width: 1.6rem;
          height: 1.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .media-Sbf {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 17.3rem;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #757575;
          font-family: Inter, 'Source Sans Pro';
        }
        .events-ybb {
          width: 1.7rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.3rem 0.2rem 0rem;
        }
        .events-6w7 {
          line-height: 1.2125;
          color: #757575;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 16.2rem;
          font-size: 1.1rem;
          font-weight: 400;
        }
        .article-FJD {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.2175rem;
          width: 2.1825rem;
          height: 2rem;
          object-fit: contain;
        }
        .write-article-er9 {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #757575;
        }
      }
    }
    .frame-4-yNd {
      padding: 1.5rem 0rem 0.1rem 0rem;
      position: absolute;
      left: 104.7rem;
      top: 19.9rem;
      box-sizing: border-box;
      width: 33.1rem;
      height: 23.1rem;
      overflow: hidden;
      background-color: #213555;

      .auto-group-c2ir-H8R {
        margin: 0rem 12.4rem 3.5rem 1.4rem;
        width: calc(100% - 13.8rem);
        display: flex;
        align-items: flex-start;

        .vector-cAh {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.7rem;
          width: 5.6rem;
          height: 5.6rem;
          object-fit: contain;
        }
        .auto-group-plud-wim {
          position: relative;
          flex-shrink: 0;
          margin-top: 0.9rem;
          width: 13rem;
          height: 5.9rem;

          .co-founder-at-kawan-media-t8D {
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 1.76;
            color: rgba(255, 255, 255, 0.6000000238);
            white-space: nowrap;
            width: 13rem;
            height: 2rem;
            position: absolute;
            left: 0;
            top: 1.6rem;
            font-family: Amiri, 'Source Sans Pro';
          }
          .richard-alya-y9f {
            color: #ffffff;
            font-family: Acme, 'Source Sans Pro';
            width: 6.6rem;
            position: absolute;
            left: 0;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.2675;
            white-space: nowrap;
            height: 1.7rem;
            top: 0;
          }
          .rectangle-30-HRF {
            cursor: pointer;
            position: absolute;
            top: 3.6rem;
            background-color: #d9d9d9;
            border-radius: 1.5rem;
            width: 8.2rem;
            height: 2.3rem;
            left: 0;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
          }
          .follow-CHK {
            white-space: nowrap;
            width: 3.4rem;
            height: 2.4rem;
            position: absolute;
            font-size: 1.3rem;
            font-weight: 400;
            color: #000000;
            font-family: Arya, 'Source Sans Pro';
            left: 2.3rem;
            top: 3.4rem;
            line-height: 1.81;
          }
        }
      }
      .auto-group-fosb-tvq {
        width: 100%;
        height: 11.2rem;
        position: relative;

        .vector-3Yq {
          width: 5.6rem;
          height: 5.6rem;
          position: absolute;
          left: 1.4rem;
          top: 0.8rem;
          object-fit: contain;
          vertical-align: top;
        }
        .joseph-felix-P6u {
          left: 7.7rem;
          font-weight: 400;
          line-height: 1.2675;
          font-family: Acme, 'Source Sans Pro';
          white-space: nowrap;
          width: 6.2rem;
          position: absolute;
          top: 1.7rem;
          font-size: 1.3rem;
          color: #ffffff;
          height: 1.7rem;
        }
        .ceo-of-pt-sern-h7b {
          font-size: 1.1rem;
          color: rgba(255, 255, 255, 0.6000000238);
          white-space: nowrap;
          height: 2rem;
          left: 7.7rem;
          top: 3.3rem;
          line-height: 1.76;
          font-family: Amiri, 'Source Sans Pro';
          width: 8.2rem;
          position: absolute;
          font-weight: 400;
        }
        .rectangle-31-bTs {
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #d9d9d9;
          height: 2.3rem;
          position: absolute;
          top: 4.9rem;
          width: 8.2rem;
          left: 7.7rem;
          border-radius: 1.5rem;
        }
        .follow-6vR {
          color: #000000;
          white-space: nowrap;
          width: 3.4rem;
          top: 4.8rem;
          font-size: 1.3rem;
          line-height: 1.81;
          font-family: Arya, 'Source Sans Pro';
          height: 2.4rem;
          position: absolute;
          left: 9.8rem;
          font-weight: 400;
        }
        .rectangle-214-ctm {
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(81, 81, 81, 0.75);
          width: 33.1rem;
          height: 11.2rem;
        }
        .followed-kzy {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          width: 8.9rem;
          height: 2.5rem;
          position: absolute;
          left: 11.4rem;
          font-weight: 800;
          line-height: 1.2125;
          top: 4.7rem;
          text-align: center;
          font-size: 2rem;
          white-space: nowrap;
        }
      }
    }
    .jonathan-milos-eqT {
      left: 9.9rem;
      top: 34.9rem;
      font-weight: 400;
      color: #000000;
      font-family: Amiri, 'Source Sans Pro';
      white-space: nowrap;
      width: 14.5rem;
      height: 4.3rem;
      position: absolute;
      text-align: center;
      font-size: 2.4rem;
      line-height: 1.76;
    }
    .data-architect-9XK {
      white-space: nowrap;
      width: 8.6rem;
      height: 2.7rem;
      top: 38.4rem;
      font-size: 1.5rem;
      font-weight: 400;
      color: #000000;
      font-family: Amiri, 'Source Sans Pro';
      position: absolute;
      left: 12.85rem;
      text-align: center;
      line-height: 1.76;
    }
    .connection-TY1 {
      left: 5.2rem;
      font-size: 1.5rem;
      color: #000000;
      height: 2rem;
      position: absolute;
      top: 47.1rem;
      font-weight: 400;
      line-height: 1.2675;
      font-family: Acme, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.8rem;
    }
    .try-premium-NQ5 {
      width: 7.7rem;
      position: absolute;
      left: 5.2rem;
      font-weight: 400;
      line-height: 1.2675;
      color: #000000;
      height: 2rem;
      top: 52.7rem;
      font-size: 1.5rem;
      font-family: Acme, 'Source Sans Pro';
      white-space: nowrap;
    }
    .frame-HG9 {
      padding: 2rem 0rem 1.6rem 0rem;
      height: 41rem;
      position: absolute;
      left: 36.3rem;
      top: 34.2rem;
      border: solid 0.2rem #000000;
      box-sizing: border-box;
      width: 63rem;
      border-radius: 3rem;

      .auto-group-s8op-zRT {
        align-items: center;
        margin: 0rem 36rem 0.5rem 2.5rem;
        width: calc(100% - 38.5rem);
        display: flex;

        .ellipse-vK7 {
          width: 4.5rem;
          height: 4.5rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #000000;
          border-radius: 2.25rem;
          flex-shrink: 0;
          margin-right: 0.5rem;
        }
        .pt-mencari-cinta-sejati-F6V {
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.3rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.76;
        }
      }
      .wallpaperflare-1-Az9 {
        object-fit: cover;
        vertical-align: top;
        margin-bottom: 1.4rem;
        width: 63rem;
        height: 27.7rem;
      }
      .auto-group-y5cq-78h {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        margin-left: 3.1rem;
        width: 55.7582rem;
        height: 3.3rem;
      }
    }
    .wallpaperflare-2-DSd {
      vertical-align: top;
      width: 28.2rem;
      height: 9.4rem;
      position: absolute;
      left: 3rem;
      top: 19.9rem;
      object-fit: cover;
    }
    .vector-fJd {
      top: 22.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 12rem;
      height: 12rem;
      position: absolute;
      left: 11.1rem;
    }
    .line-1-17b {
      background-color: #000000;
      width: 21.1rem;
      height: 0.1rem;
      position: absolute;
      left: 6.6rem;
      top: 44.7rem;
    }
    .line-3-YNR {
      width: 21.1rem;
      height: 0.1rem;
      position: absolute;
      left: 6.6rem;
      top: 72.9rem;
      background-color: #000000;
    }
    .line-2-gUd {
      background-color: #000000;
      width: 21.1rem;
      height: 0.1rem;
      position: absolute;
      left: 6.6rem;
      top: 51.3rem;
    }
    .component-6-variant2-DDf {
      position: absolute;
      left: 0;
      top: 0;
      width: 148.2rem;
      height: 14.1rem;
      cursor: pointer;

      .rectangle-1-8rR {
        top: 0;
        background-color: #4682a9;
        width: 144rem;
        height: 13.2rem;
        position: absolute;
        left: 0;
      }
      .component-3-component-2-variant2-sp1 {
        width: 44.2rem;
        top: 4.3rem;
        background-color: #ffffff;
        border-radius: 0.5rem;
        padding: 1.341rem 1.571rem 1.403rem 40.4rem;
        height: 5.6rem;
        position: absolute;
        left: 17.6rem;
        box-sizing: border-box;

        .frame-muP {
          object-fit: contain;
          vertical-align: top;
          width: 2.2295rem;
          height: 2.8565rem;
        }
      }
      .component-4-uEu {
        width: 52.85rem;
        height: 2.7rem;
        position: absolute;
        left: 89.45rem;
        top: 9.9rem;
        display: flex;
        align-items: flex-start;

        .home-RDF {
          margin-right: 1.9rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .notifications-wSV {
          margin-right: 2.8rem;
          font-family: Inter, 'Source Sans Pro';
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
        }
        .jobs-ftH {
          margin: 0.1rem 2.85rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .my-network-b1F {
          flex-shrink: 0;
          text-align: center;
          font-size: 2rem;
          line-height: 1.2125;
          white-space: nowrap;
          margin-right: 1.3rem;
          font-weight: 400;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .messaging-LDj {
          font-size: 2rem;
          line-height: 1.2125;
          flex-shrink: 0;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-top: 0.2rem;
          text-align: center;
          font-weight: 400;
        }
      }
      .icon-taskbar-fmo {
        width: 51.6rem;
        height: 7.3375rem;
        position: absolute;
        left: 89.1rem;
        top: 1.4rem;
        display: flex;
        align-items: flex-end;

        .icon-home-QDb {
          margin: 0rem 3.9rem 0.9rem 0rem;
          width: 6.9rem;
          height: 6.0375rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icon-bell-izy {
          height: 6.9rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.2rem 0.038rem 0rem;
          width: 6.9rem;
        }
        .icon-briefcase-Fk1 {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.691rem 0.438rem 0rem;
          width: 6.9086rem;
          height: 6.9rem;
          cursor: pointer;
          object-fit: contain;
        }
        .icon-people-PLR {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 6.309rem 0.038rem 0rem;
          width: 6.8914rem;
          height: 6.9rem;
          object-fit: contain;
        }
        .icon-chat-v5T {
          width: 6.9rem;
          height: 6.0375rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .profile-fHw {
        top: 9.9rem;
        text-align: center;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        height: 2.5rem;
        left: 5.5rem;
        font-size: 2rem;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        width: 6.1rem;
      }
      .image-2-aA1 {
        position: absolute;
        left: 5.3rem;
        top: 3rem;
        object-fit: cover;
        vertical-align: top;
        width: 6.5rem;
        height: 6.4rem;
      }
      .profile-WpM {
        width: 6.1rem;
        position: absolute;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        height: 2.5rem;
        left: 5.5rem;
        top: 9.9rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .image-15-qbj {
        width: 6.5rem;
        height: 6.4rem;
        cursor: pointer;
        position: absolute;
        left: 5.3rem;
        top: 3rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .frame-91-a3X {
      width: 14.5rem;
      height: 24.7rem;
      position: absolute;
      left: 57.5rem;
      top: 0;
      overflow: hidden;
    }
  }
  .frame-urV {
    border: solid 0.2rem #000000;
    flex-shrink: 0;
    margin: 0rem 44.7rem 0rem 36.3rem;
    box-sizing: border-box;
    height: 41rem;
    display: flex;
    flex-direction: column;
    border-radius: 3rem;
    padding: 2rem 0rem 2.251rem 0rem;
    width: calc(100% - 81rem);

    .auto-group-rhgh-d1o {
      width: calc(100% - 37rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 34.5rem 0.4rem 2.5rem;

      .ellipse-ZAM {
        width: 4.5rem;
        height: 4.5rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #000000;
        border-radius: 2.25rem;
        flex-shrink: 0;
        margin: 0rem 0.5rem 0.1rem 0rem;
      }
      .pt-barokah-jaya-jaya-jaya-UHK {
        font-family: Amiri, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.76;
        color: #000000;
      }
    }
    .wallpaperflare-3-bcq {
      margin-bottom: 0rem;
      width: 63rem;
      height: 27.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-51xy-Y2H {
      margin: 0rem 2.866rem 0rem 3rem;
      width: calc(100% - 5.8656rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .union-GDB {
        height: 3.9793rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 13.421rem 0.07rem 0rem;
        width: 3.9793rem;
      }
      .vector-Pob {
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 15.8rem 0.049rem 0rem;
        width: 3.2rem;
      }
      .union-XQ1 {
        margin-right: 13.7316rem;
        width: 3.5684rem;
        height: 2.8489rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-UKF {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.2145rem;
        width: 3.4344rem;
        height: 3.4344rem;
      }
    }
  }
}
