
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-job-CdB {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .component-6-variant2-9HX {
    background-color: #4682a9;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.4rem 1.7rem 0.6rem 5.3rem;
    width: 100%;
    height: 13.2rem;
    display: flex;
    align-items: center;

    .auto-group-uxky-SnR {
      flex-shrink: 0;
      margin: 1.4rem 5.8rem 0rem 0rem;
      width: 6.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .auto-group-9rof-mZo {
        margin-bottom: 0.5rem;
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:3ca1b12fd5d3de42211f78bb83137f2f2c7657e1');
        flex-shrink: 0;

        .image-15-vSh {
          width: 6.5rem;
          height: 6.4rem;
          cursor: pointer;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-rddo-31X {
        width: calc(100% - 0.4rem);
        height: 2.5rem;
        position: relative;
        flex-shrink: 0;
        margin: 0 0.2rem;

        .profile-N3o {
          line-height: 1.2125;
          white-space: nowrap;
          height: 2.5rem;
          position: absolute;
          left: 0;
          text-align: center;
          font-weight: 400;
          width: 6.1rem;
          top: 0;
          font-size: 2rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .profile-U6q {
          height: 2.5rem;
          position: absolute;
          top: 0;
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
          color: #000000;
          white-space: nowrap;
          width: 6.1rem;
          left: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
    }
    .component-3-component-2-variant2-Nxu {
      margin: 2.9rem 27.3rem 2.7rem 0rem;
      box-sizing: border-box;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;
      height: calc(100% - 5.6rem);
      background-color: #ffffff;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .frame-fh7 {
        width: 2.2295rem;
        height: 2.8565rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-mjc9-zjP {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .icon-taskbar-MZw {
        margin-bottom: 1.1625rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .icon-home-6XX {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3.9rem 0.9rem 0rem;
          width: 6.9rem;
          height: 6.0375rem;
          cursor: pointer;
          object-fit: contain;
        }
        .icon-bell-bz5 {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.2rem 0.038rem 0rem;
          width: 6.9rem;
          height: 6.9rem;
          cursor: pointer;
          object-fit: contain;
        }
        .icon-briefcase-vWZ {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.691rem 0.438rem 0rem;
          width: 6.9086rem;
          height: 6.9rem;
        }
        .icon-people-SUu {
          width: 6.8914rem;
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 6.309rem 0.038rem 0rem;
        }
        .icon-chat-mn5 {
          height: 6.0375rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 6.9rem;
        }
      }
      .component-4-7b3 {
        margin-left: 0.35rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .home-GD3 {
          margin-right: 1.9rem;
          white-space: nowrap;
          flex-shrink: 0;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .notifications-zeq {
          font-size: 2rem;
          font-family: Inter, 'Source Sans Pro';
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.8rem;
          text-align: center;
        }
        .jobs-7zM {
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          text-align: center;
          font-weight: 400;
          color: #000000;
          margin: 0.1rem 2.85rem 0rem 0rem;
        }
        .my-network-dxh {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          margin-right: 1.3rem;
          flex-shrink: 0;
        }
        .messaging-yWm {
          font-size: 2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          margin-top: 0.2rem;
          text-align: center;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
  }
  .auto-group-7sp5-J3F {
    box-sizing: border-box;
    padding: 2.5rem 5.3rem 7.2rem 5.3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-nrft-2V3 {
      margin: 0rem 11rem 4.8rem 0rem;
      width: calc(100% - 11rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .auto-group-xhsb-mBj {
        position: relative;
        flex-shrink: 0;
        margin: 0rem 9.4rem 0.1rem 0rem;
        width: 28.5rem;
        height: 37.3rem;

        .rectangle-23-HA5 {
          position: absolute;
          left: 0;
          top: 0.3rem;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          width: 28.2rem;
          height: 37rem;
        }
        .rectangle-27-oPK {
          top: 0.3rem;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          width: 28.2rem;
          height: 37rem;
          position: absolute;
          left: 0;
        }
        .c2dfca25bca10397666ae637f078a-1-jnm {
          object-fit: cover;
          vertical-align: top;
          width: 28.2rem;
          height: 37rem;
          position: absolute;
          left: 0.3rem;
          top: 0;
        }
      }
      .auto-group-fe6r-rsP {
        width: 84.5rem;
        row-gap: 2.2rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frame-1-c5s {
          box-sizing: border-box;
          padding: 2.3rem 1.9rem 2.7rem 1.9rem;
          overflow: hidden;
          position: relative;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-left: 0.2rem;
          font-weight: 400;
          color: #000000;
          font-size: 3rem;
          white-space: nowrap;
          width: 84.3rem;
          border: solid 0.1rem #000000;
        }
        .auto-group-fy77-5EM {
          border-radius: 1rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 4.2rem 2.1rem 4.5rem 2.1rem;
          width: 77.4rem;
          border: solid 0.1rem #000000;

          .dibutuhkan-4-orang-pelamar-jobdesk-masinis-security-D5f {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            max-width: 24.7rem;
            font-size: 1.8rem;
            font-weight: 400;
          }
        }
        .auto-group-xsv5-WKf {
          flex-shrink: 0;
          margin-right: 46.5rem;
          width: calc(100% - 46.5rem);
          height: 5rem;
          display: flex;
          align-items: center;

          .auto-group-fqf7-qcq {
            border-radius: 0.8rem;
            height: 100%;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            background-color: #638fd4;
            width: 18rem;
            font-weight: 400;
            line-height: 1.2125;
            align-items: center;
            flex-shrink: 0;
            display: flex;
            margin-right: 2rem;
            font-size: 3rem;
            justify-content: center;
          }
          .auto-group-pmqf-869 {
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            border-radius: 0.8rem;
            height: 100%;
            font-size: 3rem;
            color: #ffffff;
            background-color: #213555;
            width: 18rem;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            line-height: 1.2125;
            white-space: nowrap;
          }
        }
      }
    }
    .auto-group-qser-bkR {
      margin-right: 10.8rem;
      width: calc(100% - 10.8rem);
      height: 37.3rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-4unu-jbj {
        margin-right: 9.6rem;
        width: 28.5rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-22-5fb {
          border-radius: 1.5rem;
          width: 28.2rem;
          height: 37rem;
          position: absolute;
          left: 0;
          top: 0.3rem;
          background-color: #d9d9d9;
        }
        .rectangle-26-1p9 {
          width: 28.2rem;
          height: 37rem;
          position: absolute;
          left: 0;
          top: 0.3rem;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
        }
        .site-1-MND {
          width: 28.2rem;
          height: 37rem;
          position: absolute;
          left: 0.3rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-nrc9-Uxd {
        margin: 1.3rem 0rem 0.8rem 0rem;
        width: 84.5rem;
        height: calc(100% - 2.1rem);
        flex-shrink: 0;

        .frame-1-D9X {
          line-height: 1.2125;
          white-space: nowrap;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          padding: 2.3rem 1.9rem 2.7rem 1.9rem;
          width: 84.3rem;
          font-size: 3rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          margin: 0rem 0rem 2.2rem 0.2rem;
          overflow: hidden;
          position: relative;
          font-weight: 400;
        }
        .auto-group-z8wz-Ur9 {
          box-sizing: border-box;
          border-radius: 1rem;
          margin-bottom: 1.8rem;
          width: 77.4rem;
          height: 17.5rem;
          position: relative;
          border: solid 0.1rem #000000;

          .dibutuhkan-5-orang-pelamar-jobdesk-pengaduk-mandor-tumbal-dDF {
            width: 24.6rem;
            position: absolute;
            left: 1.6rem;
            font-weight: 400;
            height: 11rem;
            top: 3.1rem;
            font-size: 1.8rem;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .rectangle-40-7u7 {
            box-sizing: border-box;
            border-radius: 1rem;
            width: 77.4rem;
            height: 17.5rem;
            position: absolute;
            left: 0;
            top: 0;
            border: solid 0.1rem #000000;
          }
        }
        .auto-group-ygcm-ED3 {
          margin-right: 46.5rem;
          width: calc(100% - 46.5rem);
          height: 5rem;
          display: flex;
          align-items: center;

          .auto-group-fomo-yRX {
            font-weight: 400;
            line-height: 1.2125;
            justify-content: center;
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin-right: 2rem;
            font-family: Inter, 'Source Sans Pro';
            align-items: center;
            background-color: #213555;
            width: 18rem;
            color: #ffffff;
            display: flex;
            height: 100%;
            font-size: 3rem;
            white-space: nowrap;
          }
          .auto-group-wyqb-UNH {
            white-space: nowrap;
            display: flex;
            align-items: center;
            font-size: 3rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            height: 100%;
            background-color: #213555;
            flex-shrink: 0;
            line-height: 1.2125;
            justify-content: center;
            border-radius: 0.8rem;
            width: 18rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}
