
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-send-6-M3K {
  width: 100%;
  height: 102.4rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .rectangle-28-pBo {
    left: 3rem;
    top: 19.9rem;
    background-color: #d9d9d9;
    border-radius: 1.5rem;
    width: 28.2rem;
    height: 37rem;
    position: absolute;
  }
  .rectangle-27-X6D {
    position: absolute;
    left: 3rem;
    top: 59.3rem;
    background-color: #d9d9d9;
    border-radius: 1.5rem;
    width: 28.2rem;
    height: 19.3rem;
  }
  .group-3aM {
    position: absolute;
    top: 62.5rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.2675;
    color: #000000;
    font-family: Acme, 'Source Sans Pro';
    white-space: nowrap;
    width: 3.8rem;
    height: 2rem;
    left: 5.2rem;
  }
  .events-YGD {
    line-height: 1.2675;
    color: #000000;
    font-family: Acme, 'Source Sans Pro';
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 400;
    left: 5.2rem;
    top: 65.8rem;
    white-space: nowrap;
    width: 4.1rem;
    height: 2rem;
    position: absolute;
  }
  .followed-hashtags-FAd {
    line-height: 1.2675;
    color: #000000;
    font-family: Acme, 'Source Sans Pro';
    width: 11.4rem;
    height: 2rem;
    position: absolute;
    left: 0;
    font-weight: 400;
    cursor: pointer;
    top: 114.6rem;
    font-size: 1.5rem;
    white-space: nowrap;
  }
  .discover-more-kdB {
    white-space: nowrap;
    height: 2rem;
    position: absolute;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2675;
    width: 8.6rem;
    left: 12.85rem;
    top: 74.5rem;
    color: #000000;
    font-family: Acme, 'Source Sans Pro';
  }
  .frame-3-4ds {
    flex-direction: column;
    border: solid 0.1rem #000000;
    background-color: #ffffff;
    left: 36.3rem;
    overflow: hidden;
    align-items: center;
    height: 8.7rem;
    position: absolute;
    top: 19.9rem;
    display: flex;
    box-sizing: border-box;
    padding: 0.6rem 1.3rem 0.8rem 0.7rem;
    width: 63.3rem;

    .auto-group-dwwt-9QR {
      height: 3.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 1.7rem;
      width: 100%;

      .vector-UxV {
        margin-right: 1.1rem;
        width: 3.6rem;
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-rh9w-ojs {
        flex-shrink: 0;
        margin: 0.1rem 0;
        width: 56.6rem;
        height: calc(100% - 0.2rem);
        position: relative;

        .start-a-post-LUu {
          font-size: 1.1rem;
          font-weight: 400;
          color: #757575;
          font-family: Inter, 'Source Sans Pro';
          height: 1.4rem;
          position: absolute;
          left: 0.9rem;
          top: 0.9rem;
          line-height: 1.2125;
          white-space: nowrap;
          width: 6.2rem;
        }
        .rectangle-29-38R {
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          border-radius: 1.5rem;
          width: 56.6rem;
          height: 3.4rem;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
    .auto-group-tr5w-dsK {
      margin: 0rem 3.1rem 0rem 5.5rem;
      width: calc(100% - 8.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .icon-media-image-94y {
        margin-right: 0.2rem;
        width: 1.6rem;
        height: 1.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .media-sFs {
        color: #757575;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 17.3rem;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .events-avy {
        width: 1.7rem;
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.3rem 0.2rem 0rem;
      }
      .events-iGV {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 16.2rem;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #757575;
      }
      .article-r7o {
        margin-right: 0.2175rem;
        width: 2.1825rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .write-article-aZb {
        font-weight: 400;
        line-height: 1.2125;
        color: #757575;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.1rem;
      }
    }
  }
  .frame-4-JEh {
    padding: 1.5rem 1.4rem 4.1rem 1.4rem;
    width: 33.1rem;
    top: 19.9rem;
    background-color: #213555;
    box-sizing: border-box;
    height: 23.1rem;
    position: absolute;
    left: 104.7rem;
    overflow: hidden;

    .auto-group-jwtb-ohF {
      margin: 0rem 11rem 4.3rem 0rem;
      width: calc(100% - 11rem);
      display: flex;
      align-items: flex-start;

      .vector-8zR {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 5.6rem;
        height: 5.6rem;
        object-fit: contain;
      }
      .auto-group-lfpb-Gqj {
        margin-top: 0.9rem;
        width: 13rem;
        height: 5.9rem;
        position: relative;
        flex-shrink: 0;

        .richard-alya-DFB {
          position: absolute;
          font-size: 1.3rem;
          line-height: 1.2675;
          white-space: nowrap;
          width: 6.6rem;
          height: 1.7rem;
          left: 0;
          top: 0;
          font-weight: 400;
          color: #ffffff;
          font-family: Acme, 'Source Sans Pro';
        }
        .co-founder-at-kawan-media-KZ7 {
          line-height: 1.76;
          font-family: Amiri, 'Source Sans Pro';
          width: 13rem;
          left: 0;
          font-weight: 400;
          font-size: 1.1rem;
          color: rgba(255, 255, 255, 0.6000000238);
          white-space: nowrap;
          height: 2rem;
          position: absolute;
          top: 1.6rem;
        }
        .rectangle-30-zQM {
          width: 8.2rem;
          left: 0;
          box-sizing: border-box;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          height: 2.3rem;
          position: absolute;
          top: 3.6rem;
          border: solid 0.1rem #000000;
        }
        .follow-hJm {
          width: 3.4rem;
          font-weight: 400;
          line-height: 1.81;
          white-space: nowrap;
          color: #000000;
          font-family: Arya, 'Source Sans Pro';
          height: 2.4rem;
          position: absolute;
          left: 2.3rem;
          top: 3.4rem;
          font-size: 1.3rem;
        }
      }
    }
    .auto-group-pa5t-PSV {
      margin-right: 15.8rem;
      width: calc(100% - 15.8rem);
      display: flex;
      align-items: flex-end;

      .vector-Xob {
        width: 5.6rem;
        height: 5.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.7rem 0.8rem 0rem;
      }
      .auto-group-v6uu-4Hj {
        width: 8.2rem;
        height: 5.5rem;
        position: relative;
        flex-shrink: 0;

        .joseph-felix-zhB {
          width: 6.2rem;
          position: absolute;
          font-weight: 400;
          line-height: 1.2675;
          color: #ffffff;
          font-family: Acme, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.7rem;
          left: 0;
          top: 0;
          font-size: 1.3rem;
        }
        .ceo-of-pt-sern-7mo {
          color: rgba(255, 255, 255, 0.6000000238);
          font-family: Amiri, 'Source Sans Pro';
          width: 8.2rem;
          position: absolute;
          top: 1.6rem;
          font-weight: 400;
          white-space: nowrap;
          height: 2rem;
          left: 0;
          font-size: 1.1rem;
          line-height: 1.76;
        }
        .rectangle-31-cCm {
          position: absolute;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          width: 8.2rem;
          left: 0;
          top: 3.2rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          height: 2.3rem;
        }
        .follow-iWh {
          left: 2.1rem;
          top: 3.1rem;
          font-weight: 400;
          white-space: nowrap;
          width: 3.4rem;
          height: 2.4rem;
          position: absolute;
          font-size: 1.3rem;
          line-height: 1.81;
          color: #000000;
          font-family: Arya, 'Source Sans Pro';
        }
      }
    }
  }
  .jonathan-milos-cc5 {
    line-height: 1.76;
    color: #000000;
    width: 14.5rem;
    height: 4.3rem;
    position: absolute;
    left: 9.9rem;
    font-weight: 400;
    top: 34.9rem;
    text-align: center;
    font-size: 2.4rem;
    font-family: Amiri, 'Source Sans Pro';
    white-space: nowrap;
  }
  .data-architect-jAu {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.76;
    color: #000000;
    font-family: Amiri, 'Source Sans Pro';
    white-space: nowrap;
    width: 8.6rem;
    position: absolute;
    top: 38.4rem;
    text-align: center;
    height: 2.7rem;
    left: 12.85rem;
  }
  .connection-EtM {
    color: #000000;
    white-space: nowrap;
    width: 6.8rem;
    height: 2rem;
    position: absolute;
    top: 47.1rem;
    font-weight: 400;
    line-height: 1.2675;
    left: 5.2rem;
    font-size: 1.5rem;
    font-family: Acme, 'Source Sans Pro';
  }
  .try-premium-Z9w {
    font-weight: 400;
    left: 5.2rem;
    font-size: 1.5rem;
    position: absolute;
    top: 52.7rem;
    line-height: 1.2675;
    color: #000000;
    font-family: Acme, 'Source Sans Pro';
    white-space: nowrap;
    width: 7.7rem;
    height: 2rem;
  }
  .frame-fim {
    height: 41rem;
    left: 36.3rem;
    border-radius: 3rem;
    box-sizing: border-box;
    padding: 2rem 0rem 1.6rem 0rem;
    width: 63rem;
    position: absolute;
    top: 34.2rem;
    border: solid 0.2rem #000000;

    .auto-group-wg21-NNH {
      margin: 0rem 36rem 0.5rem 2.5rem;
      width: calc(100% - 38.5rem);
      display: flex;
      align-items: center;

      .ellipse-gNy {
        width: 4.5rem;
        height: 4.5rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #000000;
        border-radius: 2.25rem;
        flex-shrink: 0;
        margin-right: 0.5rem;
      }
      .pt-mencari-cinta-sejati-oTb {
        color: #000000;
        font-family: Amiri, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.3rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.76;
      }
    }
    .wallpaperflare-1-8Vs {
      height: 27.7rem;
      object-fit: cover;
      vertical-align: top;
      margin-bottom: 1.4rem;
      width: 63rem;
    }
    .group-19-GMB {
      margin: 0rem 4.142rem 0rem 6.5rem;
      width: calc(100% - 10.6418rem);
      display: flex;
      align-items: center;

      .icon-heart-nqK {
        flex-shrink: 0;
        margin: 0.1rem 10.8rem 0rem 0rem;
        width: 3.1rem;
        height: 2.8rem;
        object-fit: contain;
        vertical-align: top;
      }
      .group-17-K4Z {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 13.7rem 0rem 0rem;
        width: 3.2rem;
        height: 3.2rem;
      }
      .icon-repost-3WM {
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 13.9rem 0.1rem 0rem;
        width: 4.3rem;
      }
      .icon-share-y97 {
        margin-bottom: 0.11rem;
        width: 3.3582rem;
        height: 3.19rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .frame-skH {
    border-radius: 3rem;
    padding: 2rem 0rem 2.251rem 0rem;
    width: 63rem;
    height: 41rem;
    position: absolute;
    top: 80.1rem;
    box-sizing: border-box;
    left: 36.3rem;
    border: solid 0.2rem #000000;

    .auto-group-zv9f-z4D {
      width: calc(100% - 37rem);
      display: flex;
      align-items: flex-end;
      margin: 0rem 34.5rem 0.4rem 2.5rem;

      .ellipse-7ed {
        height: 4.5rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #000000;
        border-radius: 2.25rem;
        flex-shrink: 0;
        margin: 0rem 0.5rem 0.1rem 0rem;
        width: 4.5rem;
      }
      .pt-barokah-jaya-jaya-jaya-cLV {
        font-family: Amiri, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.76;
        color: #000000;
      }
    }
    .wallpaperflare-3-w7s {
      margin-bottom: 0rem;
      width: 63rem;
      height: 27.7rem;
      object-fit: cover;
      vertical-align: top;
    }
    .auto-group-6rz7-sGR {
      margin: 0rem 2.866rem 0rem 3rem;
      width: calc(100% - 5.8656rem);
      display: flex;
      align-items: flex-end;

      .union-PkZ {
        margin: 0rem 13.421rem 0.07rem 0rem;
        width: 3.9793rem;
        height: 3.9793rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-7gZ {
        margin: 0rem 15.8rem 0.049rem 0rem;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .union-qcZ {
        flex-shrink: 0;
        margin-right: 13.7316rem;
        width: 3.5684rem;
        height: 2.8489rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-P8H {
        margin-bottom: 0.2145rem;
        width: 3.4344rem;
        height: 3.4344rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .wallpaperflare-2-HjT {
    top: 19.9rem;
    object-fit: cover;
    vertical-align: top;
    width: 28.2rem;
    height: 9.4rem;
    position: absolute;
    left: 3rem;
  }
  .vector-2S9 {
    width: 12rem;
    height: 12rem;
    position: absolute;
    left: 11.1rem;
    top: 22.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .line-1-MzD {
    background-color: #000000;
    width: 21.1rem;
    height: 0.1rem;
    position: absolute;
    left: 6.6rem;
    top: 44.7rem;
  }
  .line-3-tjF {
    width: 21.1rem;
    height: 0.1rem;
    position: absolute;
    left: 6.6rem;
    top: 72.9rem;
    background-color: #000000;
  }
  .line-2-dgq {
    top: 51.3rem;
    background-color: #000000;
    width: 21.1rem;
    height: 0.1rem;
    position: absolute;
    left: 6.6rem;
  }
  .component-6-variant2-NeR {
    width: 148.2rem;
    height: 14.1rem;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;

    .rectangle-1-Vyw {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #4682a9;
      width: 144rem;
      height: 13.2rem;
    }
    .component-3-component-2-variant2-qnu {
      height: 5.6rem;
      position: absolute;
      top: 4.3rem;
      background-color: #ffffff;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;
      width: 44.2rem;
      border-radius: 0.5rem;
      box-sizing: border-box;
      left: 17.6rem;

      .frame-YSR {
        width: 2.2295rem;
        height: 2.8565rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .component-4-sDo {
      display: flex;
      align-items: flex-start;
      width: 52.85rem;
      height: 2.7rem;
      position: absolute;
      left: 89.45rem;
      top: 9.9rem;

      .home-n5s {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        margin-right: 1.9rem;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        color: #000000;
      }
      .notifications-J4D {
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        margin-right: 2.8rem;
        text-align: center;
        font-size: 2rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .jobs-cqb {
        line-height: 1.2125;
        color: #000000;
        flex-shrink: 0;
        text-align: center;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0.1rem 2.85rem 0rem 0rem;
        font-size: 2rem;
      }
      .my-network-Lmb {
        text-align: center;
        line-height: 1.2125;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.3rem;
        font-size: 2rem;
      }
      .messaging-Gv9 {
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-top: 0.2rem;
        text-align: center;
        font-size: 2rem;
        line-height: 1.2125;
        white-space: nowrap;
      }
    }
    .icon-taskbar-pAy {
      display: flex;
      align-items: flex-end;
      width: 51.6rem;
      height: 7.3375rem;
      position: absolute;
      left: 89.1rem;
      top: 1.4rem;

      .icon-home-Lf7 {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3.9rem 0.9rem 0rem;
        width: 6.9rem;
        height: 6.0375rem;
        object-fit: contain;
      }
      .icon-bell-rtM {
        height: 6.9rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 4.2rem 0.038rem 0rem;
        width: 6.9rem;
      }
      .icon-briefcase-nGD {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.691rem 0.438rem 0rem;
        width: 6.9086rem;
        height: 6.9rem;
        cursor: pointer;
        object-fit: contain;
      }
      .icon-people-uLq {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 6.309rem 0.038rem 0rem;
        width: 6.8914rem;
        height: 6.9rem;
        object-fit: contain;
      }
      .icon-chat-dnd {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 6.9rem;
        height: 6.0375rem;
        cursor: pointer;
      }
    }
    .profile-P17 {
      height: 2.5rem;
      top: 9.9rem;
      text-align: center;
      line-height: 1.2125;
      color: #000000;
      width: 6.1rem;
      left: 5.5rem;
      font-size: 2rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
    }
    .image-2-hGh {
      vertical-align: top;
      width: 6.5rem;
      height: 6.4rem;
      position: absolute;
      left: 5.3rem;
      top: 3rem;
      object-fit: cover;
    }
    .profile-dg9 {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.1rem;
      height: 2.5rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      position: absolute;
      left: 5.5rem;
      top: 9.9rem;
      font-size: 2rem;
    }
    .image-15-m1f {
      object-fit: cover;
      vertical-align: top;
      width: 6.5rem;
      height: 6.4rem;
      cursor: pointer;
      position: absolute;
      left: 5.3rem;
      top: 3rem;
    }
  }
  .rectangle-220-JXP {
    width: 144rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6000000238);
  }
  .rectangle-221-StV {
    border-radius: 2rem;
    width: 75.4rem;
    height: 52.2rem;
    position: absolute;
    left: 34.3rem;
    top: 14.1rem;
    background-color: #ffffff;
  }
  .send-post-ajo {
    height: 3.7rem;
    position: absolute;
    font-size: 3rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 14.4rem;
    top: 15.9rem;
    font-weight: 400;
    white-space: nowrap;
    left: 37rem;
  }
  .dewi-rizki-s-WNZ {
    width: 12.1rem;
    font-size: 2rem;
    font-weight: 400;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    height: 2.5rem;
    position: absolute;
    left: 45.9rem;
    top: 31.9rem;
    line-height: 1.2125;
    white-space: nowrap;
  }
  .line-5-RkR {
    top: 21.4rem;
    background-color: #000000;
    width: 75.4rem;
    height: 0.1rem;
    position: absolute;
    left: 34.3rem;
  }
  .line-6-a7X {
    height: 0.1rem;
    position: absolute;
    left: 34.3rem;
    top: 59.4rem;
    background-color: #000000;
    width: 75.4rem;
  }
  .rectangle-222-X2m {
    top: 24.9rem;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 1.2rem;
    width: 66.9rem;
    left: 38.5rem;
    border: solid 0.2rem #000000;
    height: 3.4rem;
    position: absolute;
  }
  .type-a-name-Exm {
    line-height: 1.2125;
    white-space: nowrap;
    width: 6.7rem;
    height: 1.4rem;
    font-size: 1.1rem;
    font-weight: 400;
    color: #757575;
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
    left: 39.5rem;
    top: 25.9rem;
  }
  .rectangle-xtm {
    top: 30.9rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 2rem;
    width: 4.2rem;
    height: 4.2rem;
    position: absolute;
    left: 40.3rem;
  }
  .damar-Hw3 {
    font-family: Inter, 'Source Sans Pro';
    left: 45.9rem;
    font-weight: 400;
    color: #000000;
    top: 37.9rem;
    font-size: 2rem;
    line-height: 1.2125;
    white-space: nowrap;
    width: 6.2rem;
    height: 2.5rem;
    position: absolute;
  }
  .rectangle-224-D41 {
    cursor: pointer;
    position: absolute;
    left: 100.2rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    width: 2.8rem;
    height: 2.8rem;
    top: 31.7rem;
    background-color: #ffffff;
    border-radius: 0.7rem;
  }
  .rectangle-227-uhX {
    border: solid 0.1rem #000000;
    height: 2.8rem;
    position: absolute;
    left: 100.2rem;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 0.7rem;
    width: 2.8rem;
    cursor: pointer;
    top: 37.7rem;
  }
  .rectangle-226-21T {
    left: 41.9rem;
    background-color: #1034f1;
    top: 61.3rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    border-radius: 1.3rem;
    width: 60.2rem;
    height: 3.2rem;
    cursor: pointer;
    position: absolute;
  }
  .rafif-vsX {
    position: absolute;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 400;
    color: #000000;
    white-space: nowrap;
    width: 4.4rem;
    height: 2.5rem;
    left: 45.9rem;
    top: 43.9rem;
  }
  .rectangle-qjb {
    width: 4.2rem;
    height: 4.2rem;
    position: absolute;
    left: 40.3rem;
    top: 36.9rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 2rem;
  }
  .send-aSH {
    font-family: Inter, 'Source Sans Pro';
    width: 3.4rem;
    height: 1.7rem;
    position: absolute;
    left: 70.2rem;
    top: 62rem;
    font-size: 1.4rem;
    line-height: 1.2125;
    font-weight: 400;
    color: #ffffff;
    white-space: nowrap;
  }
  .rectangle-6fX {
    top: 42.9rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 2rem;
    width: 4.2rem;
    height: 4.2rem;
    position: absolute;
    left: 40.3rem;
  }
  .group-20-2p5 {
    object-fit: contain;
    vertical-align: top;
    width: 3.4288rem;
    height: 3.4288rem;
    cursor: pointer;
    position: absolute;
    left: 99.9rem;
    top: 43.4rem;
  }
  .followed-hashtags-AfP {
    color: #000000;
    white-space: nowrap;
    height: 2rem;
    cursor: pointer;
    line-height: 1.2675;
    top: 68.9rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: Acme, 'Source Sans Pro';
    width: 11.4rem;
    position: absolute;
    left: 5.2rem;
  }
}
