
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-send-1-CiZ {
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  .rectangle-28-TPb {
    width: 28.2rem;
    height: 37rem;
    position: absolute;
    left: 3rem;
    top: 19.9rem;
    background-color: #d9d9d9;
    border-radius: 1.5rem;
  }
  .rectangle-27-m9P {
    height: 19.3rem;
    position: absolute;
    left: 3rem;
    top: 59.3rem;
    background-color: #d9d9d9;
    border-radius: 1.5rem;
    width: 28.2rem;
  }
  .group-FaM {
    width: 3.8rem;
    height: 2rem;
    position: absolute;
    top: 62.5rem;
    line-height: 1.2675;
    font-family: Acme, 'Source Sans Pro';
    white-space: nowrap;
    left: 5.2rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #000000;
  }
  .events-vAh {
    white-space: nowrap;
    width: 4.1rem;
    cursor: pointer;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 400;
    color: #000000;
    height: 2rem;
    left: 5.2rem;
    top: 65.8rem;
    line-height: 1.2675;
    font-family: Acme, 'Source Sans Pro';
  }
  .followed-hashtags-Dfb {
    color: #000000;
    font-family: Acme, 'Source Sans Pro';
    white-space: nowrap;
    width: 11.4rem;
    position: absolute;
    left: 0;
    top: 114.6rem;
    font-weight: 400;
    height: 2rem;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 1.2675;
  }
  .discover-more-XRP {
    position: absolute;
    text-align: center;
    line-height: 1.2675;
    font-family: Acme, 'Source Sans Pro';
    white-space: nowrap;
    font-weight: 400;
    color: #000000;
    width: 8.6rem;
    height: 2rem;
    left: 12.85rem;
    top: 74.5rem;
    font-size: 1.5rem;
  }
  .frame-3-Eqb {
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    width: 63.3rem;
    height: 8.7rem;
    position: absolute;
    overflow: hidden;
    flex-direction: column;
    background-color: #ffffff;
    padding: 0.6rem 1.3rem 0.8rem 0.7rem;
    left: 36.3rem;
    top: 19.9rem;
    align-items: center;
    display: flex;

    .auto-group-yccm-uwj {
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 1.7rem;
      width: 100%;
      height: 3.6rem;
      display: flex;

      .vector-3HF {
        margin-right: 1.1rem;
        width: 3.6rem;
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-awrf-MHw {
        margin: 0.1rem 0;
        width: 56.6rem;
        height: calc(100% - 0.2rem);
        position: relative;
        flex-shrink: 0;

        .start-a-post-Gfo {
          line-height: 1.2125;
          font-size: 1.1rem;
          font-weight: 400;
          position: absolute;
          left: 0.9rem;
          top: 0.9rem;
          color: #757575;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 6.2rem;
          height: 1.4rem;
        }
        .rectangle-29-xYd {
          width: 56.6rem;
          height: 3.4rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          border-radius: 1.5rem;
        }
      }
    }
    .auto-group-rsju-ZHX {
      flex-shrink: 0;
      margin: 0rem 3.1rem 0rem 5.5rem;
      width: calc(100% - 8.6rem);
      display: flex;
      align-items: center;

      .icon-media-image-fbT {
        height: 1.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.2rem;
        width: 1.6rem;
      }
      .media-PXT {
        margin-right: 17.3rem;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #757575;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .events-i3w {
        width: 1.7rem;
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.3rem 0.2rem 0rem;
      }
      .events-CE1 {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 16.2rem;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #757575;
        font-family: Inter, 'Source Sans Pro';
      }
      .article-jDw {
        margin-right: 0.2175rem;
        width: 2.1825rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .write-article-GzZ {
        line-height: 1.2125;
        color: #757575;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.1rem;
        font-weight: 400;
      }
    }
  }
  .frame-4-bmw {
    box-sizing: border-box;
    left: 104.7rem;
    overflow: hidden;
    background-color: #213555;
    padding: 1.5rem 1.4rem 4.1rem 1.4rem;
    width: 33.1rem;
    height: 23.1rem;
    position: absolute;
    top: 19.9rem;

    .auto-group-nzh3-und {
      align-items: flex-start;
      margin: 0rem 11rem 4.3rem 0rem;
      width: calc(100% - 11rem);
      display: flex;

      .vector-did {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 5.6rem;
        height: 5.6rem;
        object-fit: contain;
      }
      .auto-group-x7st-ynV {
        width: 13rem;
        height: 5.9rem;
        position: relative;
        flex-shrink: 0;
        margin-top: 0.9rem;

        .richard-alya-iEH {
          width: 6.6rem;
          top: 0;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.2675;
          height: 1.7rem;
          position: absolute;
          left: 0;
          color: #ffffff;
          font-family: Acme, 'Source Sans Pro';
          white-space: nowrap;
        }
        .co-founder-at-kawan-media-RuP {
          font-size: 1.1rem;
          font-family: Amiri, 'Source Sans Pro';
          height: 2rem;
          position: absolute;
          left: 0;
          line-height: 1.76;
          color: rgba(255, 255, 255, 0.6000000238);
          white-space: nowrap;
          width: 13rem;
          top: 1.6rem;
          font-weight: 400;
        }
        .rectangle-30-FdX {
          top: 3.6rem;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          height: 2.3rem;
          position: absolute;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          width: 8.2rem;
          left: 0;
        }
        .follow-Z8R {
          color: #000000;
          white-space: nowrap;
          height: 2.4rem;
          font-size: 1.3rem;
          line-height: 1.81;
          top: 3.4rem;
          font-weight: 400;
          font-family: Arya, 'Source Sans Pro';
          width: 3.4rem;
          position: absolute;
          left: 2.3rem;
        }
      }
    }
    .auto-group-vq2m-4L5 {
      align-items: flex-end;
      margin-right: 15.8rem;
      width: calc(100% - 15.8rem);
      display: flex;

      .vector-oHf {
        margin: 0rem 0.7rem 0.8rem 0rem;
        width: 5.6rem;
        height: 5.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-wzuz-jh7 {
        width: 8.2rem;
        height: 5.5rem;
        position: relative;
        flex-shrink: 0;

        .joseph-felix-t4D {
          line-height: 1.2675;
          color: #ffffff;
          white-space: nowrap;
          top: 0;
          font-weight: 400;
          position: absolute;
          left: 0;
          font-size: 1.3rem;
          font-family: Acme, 'Source Sans Pro';
          width: 6.2rem;
          height: 1.7rem;
        }
        .ceo-of-pt-sern-cF7 {
          left: 0;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.76;
          width: 8.2rem;
          height: 2rem;
          position: absolute;
          white-space: nowrap;
          top: 1.6rem;
          color: rgba(255, 255, 255, 0.6000000238);
          font-family: Amiri, 'Source Sans Pro';
        }
        .rectangle-31-Jdj {
          border-radius: 1.5rem;
          height: 2.3rem;
          position: absolute;
          left: 0;
          background-color: #d9d9d9;
          width: 8.2rem;
          top: 3.2rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
        }
        .follow-BSd {
          height: 2.4rem;
          left: 2.1rem;
          font-weight: 400;
          color: #000000;
          line-height: 1.81;
          font-family: Arya, 'Source Sans Pro';
          white-space: nowrap;
          width: 3.4rem;
          position: absolute;
          top: 3.1rem;
          font-size: 1.3rem;
        }
      }
    }
  }
  .jonathan-milos-g8V {
    position: absolute;
    color: #000000;
    top: 34.9rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.76;
    width: 14.5rem;
    height: 4.3rem;
    left: 9.9rem;
    font-family: Amiri, 'Source Sans Pro';
    white-space: nowrap;
  }
  .data-architect-ajf {
    left: 12.85rem;
    top: 38.4rem;
    font-family: Amiri, 'Source Sans Pro';
    white-space: nowrap;
    font-weight: 400;
    line-height: 1.76;
    color: #000000;
    width: 8.6rem;
    height: 2.7rem;
    position: absolute;
    text-align: center;
    font-size: 1.5rem;
  }
  .connection-u1F {
    color: #000000;
    font-family: Acme, 'Source Sans Pro';
    position: absolute;
    top: 47.1rem;
    font-size: 1.5rem;
    line-height: 1.2675;
    white-space: nowrap;
    width: 6.8rem;
    height: 2rem;
    left: 5.2rem;
    font-weight: 400;
  }
  .try-premium-Dnd {
    width: 7.7rem;
    height: 2rem;
    left: 5.2rem;
    white-space: nowrap;
    position: absolute;
    top: 52.7rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2675;
    color: #000000;
    font-family: Acme, 'Source Sans Pro';
  }
  .frame-Y4D {
    width: 63rem;
    height: 41rem;
    border-radius: 3rem;
    left: 36.3rem;
    top: 34.2rem;
    border: solid 0.2rem #000000;
    box-sizing: border-box;
    padding: 2rem 0rem 1.6rem 0rem;
    position: absolute;

    .auto-group-w8g5-Exd {
      margin: 0rem 36rem 0.5rem 2.5rem;
      width: calc(100% - 38.5rem);
      display: flex;
      align-items: center;

      .ellipse-aFo {
        width: 4.5rem;
        height: 4.5rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #000000;
        border-radius: 2.25rem;
        flex-shrink: 0;
        margin-right: 0.5rem;
      }
      .pt-mencari-cinta-sejati-hbK {
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.3rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.76;
        color: #000000;
        font-family: Amiri, 'Source Sans Pro';
      }
    }
    .wallpaperflare-1-27o {
      margin-bottom: 1.4rem;
      width: 63rem;
      height: 27.7rem;
      object-fit: cover;
      vertical-align: top;
    }
    .group-19-vDB {
      margin: 0rem 4.142rem 0rem 6.5rem;
      width: calc(100% - 10.6418rem);
      display: flex;
      align-items: center;

      .icon-heart-dtH {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 10.8rem 0rem 0rem;
        width: 3.1rem;
        height: 2.8rem;
      }
      .group-17-kxu {
        width: 3.2rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 13.7rem 0rem 0rem;
      }
      .icon-repost-gLm {
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 13.9rem 0.1rem 0rem;
        width: 4.3rem;
      }
      .icon-share-bid {
        margin-bottom: 0.11rem;
        width: 3.3582rem;
        height: 3.19rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .frame-HLZ {
    border: solid 0.2rem #000000;
    border-radius: 3rem;
    box-sizing: border-box;
    width: 63rem;
    height: 41rem;
    left: 36.3rem;
    padding: 2rem 0rem 2.251rem 0rem;
    position: absolute;
    top: 80.1rem;

    .auto-group-pwnd-no7 {
      margin: 0rem 34.5rem 0.4rem 2.5rem;
      width: calc(100% - 37rem);
      display: flex;
      align-items: flex-end;

      .ellipse-XVo {
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #000000;
        border-radius: 2.25rem;
        flex-shrink: 0;
        margin: 0rem 0.5rem 0.1rem 0rem;
        width: 4.5rem;
        height: 4.5rem;
      }
      .pt-barokah-jaya-jaya-jaya-RbB {
        font-weight: 400;
        line-height: 1.76;
        color: #000000;
        font-family: Amiri, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
      }
    }
    .wallpaperflare-3-9XB {
      object-fit: cover;
      vertical-align: top;
      margin-bottom: 0rem;
      width: 63rem;
      height: 27.7rem;
    }
    .auto-group-2gb7-5vd {
      width: calc(100% - 5.8656rem);
      display: flex;
      align-items: flex-end;
      margin: 0rem 2.866rem 0rem 3rem;

      .union-13b {
        margin: 0rem 13.421rem 0.07rem 0rem;
        width: 3.9793rem;
        height: 3.9793rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-88D {
        flex-shrink: 0;
        margin: 0rem 15.8rem 0.049rem 0rem;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
      }
      .union-ra1 {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 13.7316rem;
        width: 3.5684rem;
        height: 2.8489rem;
        object-fit: contain;
      }
      .vector-nyT {
        width: 3.4344rem;
        height: 3.4344rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.2145rem;
      }
    }
  }
  .wallpaperflare-2-Fs3 {
    width: 28.2rem;
    height: 9.4rem;
    position: absolute;
    left: 3rem;
    top: 19.9rem;
    object-fit: cover;
    vertical-align: top;
  }
  .vector-nc5 {
    object-fit: contain;
    vertical-align: top;
    width: 12rem;
    height: 12rem;
    position: absolute;
    left: 11.1rem;
    top: 22.6rem;
  }
  .line-1-L7o {
    width: 21.1rem;
    height: 0.1rem;
    position: absolute;
    left: 6.6rem;
    top: 44.7rem;
    background-color: #000000;
  }
  .line-3-s7j {
    top: 72.9rem;
    background-color: #000000;
    width: 21.1rem;
    height: 0.1rem;
    position: absolute;
    left: 6.6rem;
  }
  .line-2-oXB {
    left: 6.6rem;
    top: 51.3rem;
    background-color: #000000;
    width: 21.1rem;
    height: 0.1rem;
    position: absolute;
  }
  .component-6-variant2-wdP {
    height: 14.1rem;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: 148.2rem;

    .rectangle-1-s1F {
      width: 144rem;
      height: 13.2rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #4682a9;
    }
    .component-3-component-2-variant2-QWy {
      box-sizing: border-box;
      position: absolute;
      background-color: #ffffff;
      top: 4.3rem;
      border-radius: 0.5rem;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;
      width: 44.2rem;
      height: 5.6rem;
      left: 17.6rem;

      .frame-hky {
        object-fit: contain;
        vertical-align: top;
        width: 2.2295rem;
        height: 2.8565rem;
      }
    }
    .component-4-Rgy {
      height: 2.7rem;
      position: absolute;
      left: 89.45rem;
      top: 9.9rem;
      display: flex;
      align-items: flex-start;
      width: 52.85rem;

      .home-Ymb {
        margin-right: 1.9rem;
        text-align: center;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        line-height: 1.2125;
      }
      .notifications-GSh {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 2.8rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        flex-shrink: 0;
      }
      .jobs-bzm {
        margin: 0.1rem 2.85rem 0rem 0rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
      }
      .my-network-Kfs {
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 2rem;
        text-align: center;
        line-height: 1.2125;
        flex-shrink: 0;
        margin-right: 1.3rem;
      }
      .messaging-Tn5 {
        text-align: center;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-top: 0.2rem;
        font-size: 2rem;
        line-height: 1.2125;
        white-space: nowrap;
      }
    }
    .icon-taskbar-QBX {
      width: 51.6rem;
      height: 7.3375rem;
      position: absolute;
      left: 89.1rem;
      top: 1.4rem;
      display: flex;
      align-items: flex-end;

      .icon-home-KZP {
        height: 6.0375rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3.9rem 0.9rem 0rem;
        width: 6.9rem;
      }
      .icon-bell-3kH {
        flex-shrink: 0;
        margin: 0rem 4.2rem 0.038rem 0rem;
        width: 6.9rem;
        height: 6.9rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
      }
      .icon-briefcase-Aa1 {
        height: 6.9rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.691rem 0.438rem 0rem;
        width: 6.9086rem;
      }
      .icon-people-tku {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 6.309rem 0.038rem 0rem;
        width: 6.8914rem;
        height: 6.9rem;
        object-fit: contain;
      }
      .icon-chat-peZ {
        width: 6.9rem;
        height: 6.0375rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .profile-MuP {
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      height: 2.5rem;
      top: 9.9rem;
      text-align: center;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      width: 6.1rem;
      position: absolute;
      left: 5.5rem;
      font-size: 2rem;
    }
    .image-2-ffB {
      width: 6.5rem;
      height: 6.4rem;
      position: absolute;
      left: 5.3rem;
      top: 3rem;
      object-fit: cover;
      vertical-align: top;
    }
    .profile-p2H {
      line-height: 1.2125;
      top: 9.9rem;
      font-size: 2rem;
      font-weight: 400;
      left: 5.5rem;
      text-align: center;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.1rem;
      height: 2.5rem;
      position: absolute;
    }
    .image-15-jQ9 {
      object-fit: cover;
      vertical-align: top;
      width: 6.5rem;
      height: 6.4rem;
      cursor: pointer;
      position: absolute;
      left: 5.3rem;
      top: 3rem;
    }
  }
  .rectangle-220-4SR {
    height: 102.4rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6000000238);
    width: 144rem;
  }
  .rectangle-221-yJV {
    width: 75.4rem;
    height: 52.2rem;
    position: absolute;
    left: 34.3rem;
    top: 14rem;
    background-color: #ffffff;
    border-radius: 2rem;
  }
  .send-post-tAZ {
    height: 3.7rem;
    top: 15.9rem;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 14.4rem;
    position: absolute;
    left: 37rem;
    color: #000000;
  }
  .dewi-rizki-s-CBF {
    position: absolute;
    left: 45.9rem;
    top: 31.9rem;
    font-weight: 400;
    line-height: 1.2125;
    white-space: nowrap;
    height: 2.5rem;
    font-size: 2rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 12.1rem;
  }
  .line-5-7JD {
    width: 75.4rem;
    height: 0.1rem;
    position: absolute;
    left: 34.3rem;
    top: 21.4rem;
    background-color: #000000;
  }
  .line-6-T7B {
    width: 75.4rem;
    height: 0.1rem;
    position: absolute;
    left: 34.3rem;
    top: 59.4rem;
    background-color: #000000;
  }
  .rectangle-222-zcu {
    height: 3.4rem;
    position: absolute;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 1.2rem;
    width: 66.9rem;
    left: 38.5rem;
    top: 24.9rem;
    border: solid 0.2rem #000000;
  }
  .type-a-name-hnD {
    font-family: Inter, 'Source Sans Pro';
    left: 39.5rem;
    font-size: 1.1rem;
    color: #757575;
    top: 25.9rem;
    font-weight: 400;
    line-height: 1.2125;
    white-space: nowrap;
    width: 6.7rem;
    height: 1.4rem;
    position: absolute;
  }
  .rectangle-oqF {
    height: 4.2rem;
    position: absolute;
    left: 40.3rem;
    top: 30.9rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 2rem;
    width: 4.2rem;
  }
  .damar-ixD {
    left: 45.9rem;
    top: 37.9rem;
    font-weight: 400;
    line-height: 1.2125;
    white-space: nowrap;
    width: 6.2rem;
    height: 2.5rem;
    position: absolute;
    font-size: 2rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .rectangle-224-3Do {
    background-color: #ffffff;
    height: 2.8rem;
    cursor: pointer;
    position: absolute;
    left: 100.2rem;
    border-radius: 0.7rem;
    width: 2.8rem;
    top: 37.6rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
  }
  .rectangle-226-MVP {
    background-color: #1034f1;
    border-radius: 1.3rem;
    height: 3.2rem;
    cursor: pointer;
    position: absolute;
    left: 41.9rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    width: 60.2rem;
    top: 61.3rem;
  }
  .rafif-fW5 {
    width: 4.4rem;
    left: 45.9rem;
    top: 43.9rem;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.5rem;
    position: absolute;
    font-size: 2rem;
    line-height: 1.2125;
    color: #000000;
  }
  .rectangle-mp1 {
    left: 40.3rem;
    top: 36.9rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 2rem;
    width: 4.2rem;
    height: 4.2rem;
    position: absolute;
  }
  .send-uQR {
    left: 70.2rem;
    top: 62rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    height: 1.7rem;
    position: absolute;
    font-size: 1.4rem;
    white-space: nowrap;
    width: 3.4rem;
  }
  .rectangle-pnH {
    position: absolute;
    left: 40.3rem;
    top: 42.9rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 2rem;
    width: 4.2rem;
    height: 4.2rem;
  }
  .rectangle-223-ZUy {
    width: 2.8rem;
    left: 100.2rem;
    top: 31.6rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #0c8e0a;
    border-radius: 0.7rem;
    height: 2.8rem;
    position: absolute;
  }
  .rectangle-225-gZb {
    position: absolute;
    top: 43.6rem;
    width: 2.8rem;
    cursor: pointer;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 0.7rem;
    height: 2.8rem;
    left: 100.2rem;
  }
  .icon-checkmark-bgZ {
    object-fit: contain;
    vertical-align: top;
    width: 3.4288rem;
    height: 3.4288rem;
    cursor: pointer;
    position: absolute;
    left: 99.9rem;
    top: 31.4rem;
  }
  .followed-hashtags-KMf {
    height: 2rem;
    cursor: pointer;
    position: absolute;
    left: 5.2rem;
    top: 68.9rem;
    font-size: 1.5rem;
    white-space: nowrap;
    width: 11.4rem;
    font-weight: 400;
    line-height: 1.2675;
    color: #000000;
    font-family: Acme, 'Source Sans Pro';
  }
}
