
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-job-feV {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .component-6-variant2-cZj {
    height: 14.1rem;
    position: relative;
    flex-shrink: 0;
    width: 148.2rem;

    .rectangle-1-kA9 {
      height: 13.2rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #4682a9;
      width: 144rem;
    }
    .component-3-component-2-variant2-V7j {
      box-sizing: border-box;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;
      width: 44.2rem;
      height: 5.6rem;
      position: absolute;
      border-radius: 0.5rem;
      left: 17.6rem;
      top: 4.3rem;
      background-color: #ffffff;

      .frame-yYh {
        height: 2.8565rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.2295rem;
      }
    }
    .component-4-uBT {
      position: absolute;
      left: 89.45rem;
      top: 9.9rem;
      display: flex;
      align-items: flex-start;
      width: 52.85rem;
      height: 2.7rem;

      .home-crZ {
        font-size: 2rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.9rem;
        text-align: center;
        line-height: 1.2125;
        color: #000000;
      }
      .notifications-LnZ {
        text-align: center;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 2.8rem;
        font-size: 2rem;
        line-height: 1.2125;
        color: #000000;
        flex-shrink: 0;
      }
      .jobs-fpq {
        text-align: center;
        color: #000000;
        white-space: nowrap;
        margin: 0.1rem 2.85rem 0rem 0rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .my-network-zMK {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.3rem;
        text-align: center;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
      }
      .messaging-j41 {
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        flex-shrink: 0;
        margin-top: 0.2rem;
        text-align: center;
        font-size: 2rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .icon-taskbar-reR {
      position: absolute;
      left: 89.1rem;
      top: 1.4rem;
      display: flex;
      align-items: flex-end;
      width: 51.6rem;
      height: 7.3375rem;

      .icon-home-PPT {
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3.9rem 0.9rem 0rem;
        width: 6.9rem;
        height: 6.0375rem;
      }
      .icon-bell-62y {
        height: 6.9rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 4.2rem 0.038rem 0rem;
        width: 6.9rem;
      }
      .icon-briefcase-pDs {
        margin: 0rem 2.691rem 0.438rem 0rem;
        width: 6.9086rem;
        height: 6.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icon-people-KgR {
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 6.309rem 0.038rem 0rem;
        width: 6.8914rem;
        height: 6.9rem;
      }
      .icon-chat-F4H {
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 6.9rem;
        height: 6.0375rem;
      }
    }
    .profile-BTj {
      width: 6.1rem;
      position: absolute;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.5rem;
      left: 5.5rem;
      top: 9.9rem;
      text-align: center;
      color: #000000;
    }
    .image-2-VUR {
      vertical-align: top;
      width: 6.5rem;
      height: 6.4rem;
      position: absolute;
      left: 5.3rem;
      top: 3rem;
      object-fit: cover;
    }
    .profile-dad {
      height: 2.5rem;
      position: absolute;
      left: 5.5rem;
      font-size: 2rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.1rem;
      text-align: center;
      line-height: 1.2125;
      color: #000000;
      top: 9.9rem;
    }
    .image-15-kQM {
      position: absolute;
      left: 5.3rem;
      top: 3rem;
      object-fit: cover;
      vertical-align: top;
      width: 6.5rem;
      height: 6.4rem;
      cursor: pointer;
    }
  }
  .auto-group-kqdt-GtV {
    padding: 1.6rem 5.6rem 7.5rem 5.6rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-fs8u-bvm {
      width: calc(100% - 10.7rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 10.7rem 4.8rem 0rem;

      .auto-group-85sm-dsT {
        background-color: #d9d9d9;
        border-radius: 2rem;
        flex-shrink: 0;
        margin: 0rem 9.4rem 0.4rem 0rem;
        width: 28.2rem;

        .c2dfca25bca10397666ae637f078a-1-mCy {
          object-fit: cover;
          vertical-align: top;
          border-radius: 2rem;
          width: 28.2rem;
          height: 37rem;
        }
      }
      .auto-group-vcnh-rkD {
        width: 84.5rem;
        row-gap: 2.2rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frame-1-n85 {
          box-sizing: border-box;
          position: relative;
          margin-left: 0.2rem;
          color: #000000;
          border-radius: 2rem;
          flex-shrink: 0;
          padding: 2.3rem 1.9rem 2.7rem 1.9rem;
          line-height: 1.2125;
          border: solid 0.1rem #000000;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 84.3rem;
          overflow: hidden;
          font-size: 3rem;
        }
        .auto-group-2k6d-cso {
          border-radius: 2rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 4.2rem 2.1rem 4.5rem 2.1rem;
          width: 77.4rem;
          border: solid 0.1rem #000000;

          .dibutuhkan-4-orang-pelamar-jobdesk-masinis-security-9cq {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            max-width: 24.7rem;
          }
        }
        .auto-group-mr69-qEm {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 46.5rem;
          width: calc(100% - 46.5rem);
          height: 5rem;

          .auto-group-tnvb-Anq {
            font-size: 3rem;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            display: flex;
            background-color: #213555;
            flex-shrink: 0;
            width: 18rem;
            height: 100%;
            font-weight: 400;
            white-space: nowrap;
            border-radius: 2rem;
            margin-right: 2rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
          }
          .auto-group-gwdp-pMb {
            font-size: 3rem;
            line-height: 1.2125;
            display: flex;
            align-items: center;
            border-radius: 2rem;
            width: 18rem;
            font-weight: 400;
            color: #ffffff;
            white-space: nowrap;
            background-color: #213555;
            justify-content: center;
            height: 100%;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-92ym-TQZ {
      height: 37rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: 10.5rem;
      width: calc(100% - 10.5rem);

      .auto-group-tsyy-zQV {
        margin-right: 9.6rem;
        width: 28.2rem;
        height: 100%;
        background-color: #d9d9d9;
        border-radius: 2rem;
        flex-shrink: 0;

        .site-1-j7B {
          vertical-align: top;
          border-radius: 2rem;
          width: 28.2rem;
          height: 37rem;
          object-fit: cover;
        }
      }
      .auto-group-pq37-3tZ {
        margin: 1.3rem 0rem 0.5rem 0rem;
        width: 84.5rem;
        height: calc(100% - 1.8rem);
        flex-shrink: 0;

        .frame-1-aNh {
          font-size: 3rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          border: solid 0.1rem #000000;
          position: relative;
          white-space: nowrap;
          line-height: 1.2125;
          box-sizing: border-box;
          color: #000000;
          border-radius: 2rem;
          margin: 0rem 0rem 2.2rem 0.2rem;
          width: 84.3rem;
          overflow: hidden;
          padding: 2.3rem 1.9rem 2.7rem 1.9rem;
        }
        .auto-group-stdb-dbs {
          height: 17.5rem;
          position: relative;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          border-radius: 2rem;
          margin-bottom: 1.8rem;
          width: 77.4rem;

          .dibutuhkan-5-orang-pelamar-jobdesk-pengaduk-mandor-tumbal-mi5 {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            width: 24.6rem;
            height: 11rem;
            position: absolute;
            left: 1.6rem;
            font-family: Inter, 'Source Sans Pro';
            top: 3.1rem;
          }
          .rectangle-40-ErZ {
            left: 0;
            top: 0;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            border-radius: 2rem;
            width: 77.4rem;
            height: 17.5rem;
            position: absolute;
          }
        }
        .auto-group-tcey-x1s {
          display: flex;
          align-items: center;
          margin-right: 46.5rem;
          width: calc(100% - 46.5rem);
          height: 5rem;

          .auto-group-nyox-685 {
            background-color: #213555;
            font-weight: 400;
            align-items: center;
            white-space: nowrap;
            margin-right: 2rem;
            color: #ffffff;
            line-height: 1.2125;
            display: flex;
            flex-shrink: 0;
            width: 18rem;
            height: 100%;
            justify-content: center;
            border-radius: 2rem;
            font-size: 3rem;
            font-family: Inter, 'Source Sans Pro';
          }
          .auto-group-4u8h-CB7 {
            white-space: nowrap;
            display: flex;
            justify-content: center;
            border-radius: 2rem;
            flex-shrink: 0;
            font-size: 3rem;
            font-weight: 400;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            background-color: #213555;
            width: 18rem;
            line-height: 1.2125;
            height: 100%;
            align-items: center;
          }
        }
      }
    }
  }
}
