
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-comment-like-followed-2-9dX {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .component-6-variant2-UQu {
    flex-shrink: 0;
    width: 148.2rem;
    height: 14.1rem;
    cursor: pointer;
    position: relative;

    .rectangle-1-nwP {
      width: 144rem;
      height: 13.2rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #4682a9;
    }
    .component-3-component-2-variant2-vXo {
      width: 44.2rem;
      position: absolute;
      top: 4.3rem;
      border-radius: 0.5rem;
      box-sizing: border-box;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;
      height: 5.6rem;
      left: 17.6rem;
      background-color: #ffffff;

      .frame-Qxm {
        width: 2.2295rem;
        height: 2.8565rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .component-4-LbX {
      height: 2.7rem;
      position: absolute;
      left: 89.45rem;
      top: 9.9rem;
      display: flex;
      align-items: flex-start;
      width: 52.85rem;

      .home-TRF {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        margin-right: 1.9rem;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .notifications-AKf {
        font-weight: 400;
        flex-shrink: 0;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 2.8rem;
        text-align: center;
        font-size: 2rem;
      }
      .jobs-Hv5 {
        margin: 0.1rem 2.85rem 0rem 0rem;
        color: #000000;
        white-space: nowrap;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
      }
      .my-network-D33 {
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.3rem;
        text-align: center;
      }
      .messaging-YLD {
        text-align: center;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.2rem;
        font-size: 2rem;
        font-weight: 400;
      }
    }
    .icon-taskbar-Gn1 {
      align-items: flex-end;
      width: 51.6rem;
      height: 7.3375rem;
      position: absolute;
      left: 89.1rem;
      top: 1.4rem;
      display: flex;

      .icon-home-QNR {
        width: 6.9rem;
        height: 6.0375rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3.9rem 0.9rem 0rem;
      }
      .icon-bell-uKB {
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 4.2rem 0.038rem 0rem;
        width: 6.9rem;
        height: 6.9rem;
      }
      .icon-briefcase-cjP {
        width: 6.9086rem;
        height: 6.9rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.691rem 0.438rem 0rem;
      }
      .icon-people-LfP {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 6.309rem 0.038rem 0rem;
        width: 6.8914rem;
        height: 6.9rem;
        object-fit: contain;
      }
      .icon-chat-GZ3 {
        width: 6.9rem;
        height: 6.0375rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .profile-Qv9 {
      top: 9.9rem;
      text-align: center;
      font-size: 2rem;
      line-height: 1.2125;
      color: #000000;
      position: absolute;
      height: 2.5rem;
      left: 5.5rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.1rem;
    }
    .image-2-v7o {
      position: absolute;
      left: 5.3rem;
      top: 3rem;
      object-fit: cover;
      vertical-align: top;
      width: 6.5rem;
      height: 6.4rem;
    }
    .profile-epV {
      position: absolute;
      top: 9.9rem;
      text-align: center;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 6.1rem;
      height: 2.5rem;
      left: 5.5rem;
      font-size: 2rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .image-15-mu7 {
      position: absolute;
      left: 5.3rem;
      top: 3rem;
      object-fit: cover;
      vertical-align: top;
      width: 6.5rem;
      height: 6.4rem;
      cursor: pointer;
    }
  }
  .auto-group-svd3-7TB {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 5.8rem;
    width: 100%;

    .auto-group-xd1w-fDo {
      display: flex;
      column-gap: 5.1rem;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 6.2rem 18.3rem 3rem;
      width: calc(100% - 9.2rem);
      height: 76.4rem;

      .auto-group-gcny-Zpy {
        flex-shrink: 0;
        width: 28.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-zayd-WkD {
          flex-direction: column;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          width: 100%;
          align-items: center;
          display: flex;

          .auto-group-4fa5-Fxh {
            width: 100%;
            height: 14.7rem;
            position: relative;
            flex-shrink: 0;

            .wallpaperflare-2-bmf {
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 28.2rem;
              height: 9.4rem;
            }
            .vector-jcy {
              position: absolute;
              left: 8.1rem;
              top: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              width: 12rem;
              height: 12rem;
            }
          }
          .auto-group-ex6v-sUH {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.3rem 3.5rem 2.2rem 2.2rem;
            width: 100%;

            .auto-group-w1p3-PxR {
              margin: 0rem 3.3rem 3.6rem 4.7rem;
              width: calc(100% - 8rem);
              height: 6.2rem;
              position: relative;
              flex-shrink: 0;

              .jonathan-milos-X33 {
                position: absolute;
                top: 0;
                font-size: 2.4rem;
                font-weight: 400;
                white-space: nowrap;
                width: 14.5rem;
                height: 4.3rem;
                left: 0;
                text-align: center;
                line-height: 1.76;
                color: #000000;
                font-family: Amiri, 'Source Sans Pro';
              }
              .data-architect-SA1 {
                white-space: nowrap;
                position: absolute;
                top: 3.5rem;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.76;
                color: #000000;
                font-family: Amiri, 'Source Sans Pro';
                width: 8.6rem;
                height: 2.7rem;
                left: 2.95rem;
              }
            }
            .line-1-juo {
              margin: 0rem 0rem 2.3rem 1.4rem;
              width: 21.1rem;
              height: 0.1rem;
              background-color: #000000;
              flex-shrink: 0;
            }
            .connection-fHf {
              line-height: 1.2675;
              color: #000000;
              font-family: Acme, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 15.7rem 2.2rem 0rem;
              font-size: 1.5rem;
              font-weight: 400;
            }
            .line-2-Hpq {
              width: 21.1rem;
              height: 0.1rem;
              background-color: #000000;
              flex-shrink: 0;
              margin: 0rem 0rem 1.3rem 1.4rem;
            }
            .try-premium-DiV {
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2675;
              color: #000000;
              font-family: Acme, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 14.8rem;
            }
          }
        }
        .auto-group-eh9p-w8h {
          box-sizing: border-box;
          padding: 3.2rem 3.5rem 2.1rem 2.2rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          flex-shrink: 0;

          .group-f4h {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2675;
            color: #000000;
            font-family: Acme, 'Source Sans Pro';
          }
          .events-bDF {
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            cursor: pointer;
            font-weight: 400;
            line-height: 1.2675;
            color: #000000;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.5rem;
          }
          .followed-hashtags-Kf3 {
            font-weight: 400;
            line-height: 1.2675;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2rem;
            cursor: pointer;
            font-size: 1.5rem;
            color: #000000;
            flex-shrink: 0;
          }
          .line-3-exD {
            width: 21.1rem;
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
            margin: 0rem 0rem 1.5rem 1.4rem;
          }
          .discover-more-CD3 {
            white-space: nowrap;
            flex-shrink: 0;
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2675;
            color: #000000;
            font-family: Acme, 'Source Sans Pro';
          }
        }
      }
      .auto-group-my3x-ut9 {
        width: 63.3rem;
        height: 100%;
        flex-shrink: 0;

        .frame-3-Tuf {
          margin-bottom: 5.6rem;
          box-sizing: border-box;
          padding: 0.6rem 1.3rem 0.8rem 0.7rem;
          width: 100%;
          flex-direction: column;
          overflow: hidden;
          position: relative;
          align-items: center;
          display: flex;
          border: solid 0.1rem #000000;
          background-color: #ffffff;

          .auto-group-ppsh-nS9 {
            margin-bottom: 1.7rem;
            width: 100%;
            height: 3.6rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .vector-Xed {
              margin-right: 1.1rem;
              width: 3.6rem;
              height: 3.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-59uz-sTb {
              width: 56.6rem;
              height: calc(100% - 0.2rem);
              position: relative;
              flex-shrink: 0;
              margin: 0.1rem 0;

              .start-a-post-cRB {
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                width: 6.2rem;
                position: absolute;
                left: 0.9rem;
                top: 0.9rem;
                font-weight: 400;
                height: 1.4rem;
                font-size: 1.1rem;
                color: #757575;
              }
              .rectangle-29-vRs {
                box-sizing: border-box;
                border-radius: 1.5rem;
                width: 56.6rem;
                height: 3.4rem;
                position: absolute;
                left: 0;
                top: 0;
                border: solid 0.1rem #000000;
              }
            }
          }
          .auto-group-uu13-FDF {
            margin: 0rem 3.1rem 0rem 5.5rem;
            width: calc(100% - 8.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icon-media-image-Ab7 {
              margin-right: 0.2rem;
              width: 1.6rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .media-JBX {
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #757575;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 17.3rem;
            }
            .events-p9s {
              margin: 0rem 0.3rem 0.2rem 0rem;
              width: 1.7rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .events-8wF {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 16.2rem;
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #757575;
            }
            .article-stq {
              margin-right: 0.2175rem;
              width: 2.1825rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .write-article-pZB {
              line-height: 1.2125;
              color: #757575;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.1rem;
              font-weight: 400;
            }
          }
        }
        .auto-group-kfs3-LnR {
          width: 63rem;
          height: 62.1rem;
          position: relative;

          .vector-GAH {
            position: absolute;
            left: 1.8rem;
            top: 52.6rem;
            object-fit: contain;
            vertical-align: top;
            width: 4.5rem;
            height: 4.5rem;
          }
          .rectangle-1Nm {
            left: 0;
            top: 0;
            border: solid 0.2rem #000000;
            box-sizing: border-box;
            border-radius: 3rem;
            width: 63rem;
            height: 62.1rem;
            position: absolute;
          }
          .line-4-vVj {
            background-color: #000000;
            width: 63rem;
            height: 0.2rem;
            position: absolute;
            left: 0;
            top: 40.8rem;
          }
          .ellipse-Fnu {
            width: 4.5rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #000000;
            border-radius: 2.25rem;
            height: 4.5rem;
            position: absolute;
            left: 2.5rem;
            top: 2rem;
          }
          .pt-mencari-cinta-sejati-mFT {
            line-height: 1.76;
            color: #000000;
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            left: 7.5rem;
            top: 2.6rem;
            font-weight: 400;
            width: 19.5rem;
            height: 3.6rem;
            font-size: 2rem;
          }
          .wallpaperflare-1-frd {
            top: 7rem;
            object-fit: cover;
            vertical-align: top;
            width: 63rem;
            height: 27.7rem;
            position: absolute;
            left: 0;
          }
          .vector-ohw {
            width: 4.5rem;
            height: 4.5rem;
            position: absolute;
            left: 1.8rem;
            top: 42.4rem;
            object-fit: contain;
            vertical-align: top;
          }
          .group-19-x53 {
            position: absolute;
            left: 6.5rem;
            top: 36.1rem;
            display: flex;
            align-items: center;
            width: 52.3582rem;
            height: 3.3rem;

            .icon-heart-5vM {
              margin: 0.1rem 10.8rem 0rem 0rem;
              width: 3.1rem;
              height: 2.8rem;
              cursor: pointer;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .group-17-EAy {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.1rem 13.7rem 0rem 0rem;
              width: 3.2rem;
              height: 3.2rem;
              cursor: pointer;
              object-fit: contain;
            }
            .icon-repost-xcm {
              margin: 0rem 13.9rem 0.1rem 0rem;
              width: 4.3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .icon-share-szd {
              margin-bottom: 0.11rem;
              width: 3.3582rem;
              height: 3.19rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .rectangle-215-1L9 {
            left: 7.4rem;
            box-sizing: border-box;
            cursor: pointer;
            position: absolute;
            top: 42.6rem;
            border: solid 0.1rem #000000;
            background-color: #ffffff;
            border-radius: 2.7rem;
            width: 53.1rem;
            height: 4.1rem;
          }
          .icon-send-Wnh {
            width: 2.236rem;
            height: 2.236rem;
            position: absolute;
            left: 57.2rem;
            top: 43.5rem;
            object-fit: contain;
            vertical-align: top;
          }
          .add-a-comment-rLm {
            font-weight: 400;
            line-height: 1.2125;
            color: #757575;
            white-space: nowrap;
            height: 2.2rem;
            left: 8.4rem;
            top: 43.4rem;
            font-size: 1.8rem;
            width: 15rem;
            position: absolute;
            font-family: Inter, 'Source Sans Pro';
          }
          .rectangle-216-kww {
            height: 7.2rem;
            position: absolute;
            left: 7.3rem;
            top: 52.6rem;
            background-color: #ececec;
            border-radius: 0.8rem;
            width: 53.4rem;
          }
          .joseph-felix-Ved {
            left: 7.9rem;
            top: 53.4rem;
            font-family: Acme, 'Source Sans Pro';
            font-weight: 400;
            line-height: 1.2675;
            color: #000000;
            white-space: nowrap;
            width: 6.2rem;
            height: 1.7rem;
            position: absolute;
            font-size: 1.3rem;
          }
          .ceo-of-pt-sern-1cy {
            white-space: nowrap;
            width: 5.2rem;
            height: 1.3rem;
            left: 7.9rem;
            font-size: 0.7rem;
            color: rgba(82, 82, 82, 0.6000000238);
            font-family: Amiri, 'Source Sans Pro';
            position: absolute;
            top: 55rem;
            font-weight: 400;
            line-height: 1.76;
          }
          .d-Wpd {
            line-height: 1.76;
            white-space: nowrap;
            top: 53.7rem;
            font-size: 0.7rem;
            font-weight: 400;
            color: #000000;
            width: 0.8rem;
            height: 1.3rem;
            position: absolute;
            left: 58.9rem;
            font-family: Amiri, 'Source Sans Pro';
          }
          .like-eA9 {
            font-weight: 400;
            line-height: 1.76;
            color: rgba(82, 82, 82, 0.6000000238);
            width: 1.2rem;
            height: 1.3rem;
            left: 7.9rem;
            top: 57.6rem;
            position: absolute;
            font-size: 0.7rem;
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
          }
          .reply-Znu {
            font-size: 0.7rem;
            line-height: 1.76;
            color: rgba(82, 82, 82, 0.6000000238);
            font-family: Amiri, 'Source Sans Pro';
            width: 1.6rem;
            position: absolute;
            top: 57.6rem;
            white-space: nowrap;
            height: 1.3rem;
            left: 10.4rem;
            font-weight: 400;
          }
          .item--t4V {
            font-size: 0.7rem;
            font-weight: 400;
            color: rgba(82, 82, 82, 0.6000000238);
            font-family: Amiri, 'Source Sans Pro';
            height: 1.3rem;
            position: absolute;
            left: 9.7rem;
            top: 57.4rem;
            white-space: nowrap;
            width: 0.2rem;
            line-height: 1.76;
          }
          .nice-one-z7X {
            height: 2.3rem;
            position: absolute;
            left: 7.8rem;
            line-height: 1.76;
            font-family: Amiri, 'Source Sans Pro';
            width: 4.7rem;
            top: 55.7rem;
            font-size: 1.3rem;
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
          }
        }
      }
      .frame-4-tyb {
        padding-top: 1.5rem;
        width: 33.1rem;
        overflow: hidden;
        position: relative;
        background-color: #213555;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-j1yw-eC5 {
          margin: 0rem 12.4rem 3.6rem 1.4rem;
          width: calc(100% - 13.8rem);
          display: flex;
          align-items: flex-start;

          .vector-xiZ {
            height: 5.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.7rem;
            width: 5.6rem;
          }
          .auto-group-oxxh-u81 {
            height: 5.9rem;
            position: relative;
            flex-shrink: 0;
            margin-top: 0.9rem;
            width: 13rem;

            .richard-alya-e5b {
              width: 6.6rem;
              font-size: 1.3rem;
              font-weight: 400;
              color: #ffffff;
              white-space: nowrap;
              height: 1.7rem;
              position: absolute;
              left: 0;
              top: 0;
              line-height: 1.2675;
              font-family: Acme, 'Source Sans Pro';
            }
            .co-founder-at-kawan-media-AJq {
              height: 2rem;
              position: absolute;
              left: 0;
              font-size: 1.1rem;
              font-weight: 400;
              font-family: Amiri, 'Source Sans Pro';
              width: 13rem;
              top: 1.6rem;
              line-height: 1.76;
              color: rgba(255, 255, 255, 0.6000000238);
              white-space: nowrap;
            }
            .rectangle-30-fWV {
              width: 8.2rem;
              position: absolute;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              background-color: #d9d9d9;
              border-radius: 1.5rem;
              height: 2.3rem;
              cursor: pointer;
              left: 0;
              top: 3.6rem;
            }
            .follow-yn5 {
              height: 2.4rem;
              left: 2.3rem;
              font-size: 1.3rem;
              line-height: 1.81;
              font-family: Arya, 'Source Sans Pro';
              white-space: nowrap;
              width: 3.4rem;
              position: absolute;
              top: 3.4rem;
              font-weight: 400;
              color: #000000;
            }
          }
        }
        .auto-group-vdkr-tPF {
          width: 100%;
          height: 11.2rem;
          position: relative;

          .vector-q3b {
            left: 1.4rem;
            top: 0.7rem;
            object-fit: contain;
            vertical-align: top;
            width: 5.6rem;
            height: 5.6rem;
            position: absolute;
          }
          .joseph-felix-y9o {
            white-space: nowrap;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.2675;
            font-family: Acme, 'Source Sans Pro';
            top: 1.6rem;
            color: #ffffff;
            width: 6.2rem;
            height: 1.7rem;
            position: absolute;
            left: 7.7rem;
          }
          .ceo-of-pt-sern-V89 {
            height: 2rem;
            left: 7.7rem;
            font-size: 1.1rem;
            color: rgba(255, 255, 255, 0.6000000238);
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
            width: 8.2rem;
            position: absolute;
            top: 3.2rem;
            font-weight: 400;
            line-height: 1.76;
          }
          .rectangle-31-nN9 {
            border-radius: 1.5rem;
            position: absolute;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #d9d9d9;
            width: 8.2rem;
            height: 2.3rem;
            left: 7.7rem;
            top: 4.8rem;
          }
          .follow-6td {
            position: absolute;
            left: 9.8rem;
            top: 4.7rem;
            line-height: 1.81;
            font-family: Arya, 'Source Sans Pro';
            width: 3.4rem;
            height: 2.4rem;
            font-size: 1.3rem;
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
          }
          .rectangle-217-d7s {
            width: 33.1rem;
            height: 11.2rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(81, 81, 81, 0.75);
          }
          .followed-MpZ {
            top: 4.7rem;
            font-size: 2rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 8.9rem;
            position: absolute;
            left: 11.4rem;
            text-align: center;
            font-weight: 800;
            line-height: 1.2125;
            color: #ffffff;
            height: 2.5rem;
          }
        }
      }
    }
    .auto-group-fcsf-s2D {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .followed-hashtags-1u7 {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2675;
        color: #000000;
        margin-right: 66.5rem;
        cursor: pointer;
        font-family: Acme, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .union-LgV {
        height: 2.8489rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 1.4rem 13.732rem 0rem 0rem;
        width: 3.5684rem;
      }
      .vector-sAd {
        height: 3.4344rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.6rem;
        width: 3.4344rem;
      }
    }
  }
}
