
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-comment-send-like-followed-2-tv1 {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .component-6-variant2-W4D {
    width: 148.2rem;
    height: 14.1rem;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;

    .rectangle-1-1mf {
      width: 144rem;
      height: 13.2rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #4682a9;
    }
    .component-3-component-2-variant2-wQR {
      width: 44.2rem;
      height: 5.6rem;
      left: 17.6rem;
      background-color: #ffffff;
      border-radius: 0.5rem;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;
      position: absolute;
      top: 4.3rem;
      box-sizing: border-box;

      .frame-dY9 {
        width: 2.2295rem;
        height: 2.8565rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .component-4-k6y {
      display: flex;
      align-items: flex-start;
      width: 52.85rem;
      height: 2.7rem;
      position: absolute;
      left: 89.45rem;
      top: 9.9rem;

      .home-ey3 {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.9rem;
        font-size: 2rem;
        font-weight: 400;
        color: #000000;
        text-align: center;
      }
      .notifications-xTw {
        text-align: center;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2.8rem;
        font-size: 2rem;
        font-weight: 400;
      }
      .jobs-GzR {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 2.85rem 0rem 0rem;
        font-size: 2rem;
        color: #000000;
        text-align: center;
        font-weight: 400;
      }
      .my-network-CNH {
        text-align: center;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 1.3rem;
        font-size: 2rem;
        color: #000000;
        white-space: nowrap;
      }
      .messaging-XfT {
        margin-top: 0.2rem;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        text-align: center;
        font-size: 2rem;
        line-height: 1.2125;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .icon-taskbar-rxd {
      height: 7.3375rem;
      position: absolute;
      left: 89.1rem;
      top: 1.4rem;
      display: flex;
      align-items: flex-end;
      width: 51.6rem;

      .icon-home-z3F {
        flex-shrink: 0;
        margin: 0rem 3.9rem 0.9rem 0rem;
        width: 6.9rem;
        height: 6.0375rem;
        object-fit: contain;
        vertical-align: top;
      }
      .icon-bell-W1b {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 4.2rem 0.038rem 0rem;
        width: 6.9rem;
        height: 6.9rem;
        cursor: pointer;
        object-fit: contain;
      }
      .icon-briefcase-zhT {
        width: 6.9086rem;
        height: 6.9rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.691rem 0.438rem 0rem;
      }
      .icon-people-KUq {
        flex-shrink: 0;
        margin: 0rem 6.309rem 0.038rem 0rem;
        width: 6.8914rem;
        height: 6.9rem;
        object-fit: contain;
        vertical-align: top;
      }
      .icon-chat-Erh {
        vertical-align: top;
        flex-shrink: 0;
        width: 6.9rem;
        height: 6.0375rem;
        cursor: pointer;
        object-fit: contain;
      }
    }
    .profile-Nxu {
      position: absolute;
      top: 9.9rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.1rem;
      height: 2.5rem;
      left: 5.5rem;
      line-height: 1.2125;
      color: #000000;
    }
    .image-2-Um3 {
      left: 5.3rem;
      top: 3rem;
      object-fit: cover;
      vertical-align: top;
      width: 6.5rem;
      height: 6.4rem;
      position: absolute;
    }
    .profile-ccM {
      line-height: 1.2125;
      white-space: nowrap;
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      left: 5.5rem;
      top: 9.9rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 6.1rem;
      height: 2.5rem;
      position: absolute;
    }
    .image-15-4z9 {
      cursor: pointer;
      position: absolute;
      left: 5.3rem;
      top: 3rem;
      object-fit: cover;
      vertical-align: top;
      width: 6.5rem;
      height: 6.4rem;
    }
  }
  .auto-group-4w4d-zN1 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 5.8rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    .auto-group-wwnq-w2M {
      column-gap: 5.1rem;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 6.2rem 18.3rem 3rem;
      width: calc(100% - 9.2rem);
      height: 76.4rem;
      display: flex;

      .auto-group-67w3-dA5 {
        flex-shrink: 0;
        width: 28.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-d6ny-mXB {
          flex-direction: column;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          width: 100%;
          align-items: center;
          display: flex;

          .auto-group-icfx-iBX {
            width: 100%;
            height: 14.7rem;
            position: relative;
            flex-shrink: 0;

            .wallpaperflare-2-4FP {
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 28.2rem;
              height: 9.4rem;
              position: absolute;
              left: 0;
            }
            .vector-y7T {
              vertical-align: top;
              width: 12rem;
              height: 12rem;
              position: absolute;
              left: 8.1rem;
              top: 2.7rem;
              object-fit: contain;
            }
          }
          .auto-group-a6ah-fFB {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.3rem 3.5rem 2.2rem 2.2rem;
            width: 100%;
            align-items: center;
            display: flex;

            .auto-group-szrf-NvH {
              width: calc(100% - 8rem);
              height: 6.2rem;
              position: relative;
              flex-shrink: 0;
              margin: 0rem 3.3rem 3.6rem 4.7rem;

              .jonathan-milos-6rH {
                width: 14.5rem;
                height: 4.3rem;
                text-align: center;
                font-size: 2.4rem;
                color: #000000;
                white-space: nowrap;
                position: absolute;
                left: 0;
                top: 0;
                font-weight: 400;
                line-height: 1.76;
                font-family: Amiri, 'Source Sans Pro';
              }
              .data-architect-Qry {
                height: 2.7rem;
                position: absolute;
                left: 2.95rem;
                top: 3.5rem;
                font-weight: 400;
                line-height: 1.76;
                color: #000000;
                width: 8.6rem;
                white-space: nowrap;
                font-family: Amiri, 'Source Sans Pro';
                font-size: 1.5rem;
                text-align: center;
              }
            }
            .line-1-Wv1 {
              margin: 0rem 0rem 2.3rem 1.4rem;
              width: 21.1rem;
              height: 0.1rem;
              background-color: #000000;
              flex-shrink: 0;
            }
            .connection-SYm {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 15.7rem 2.2rem 0rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2675;
              color: #000000;
              font-family: Acme, 'Source Sans Pro';
            }
            .line-2-m5F {
              margin: 0rem 0rem 1.3rem 1.4rem;
              width: 21.1rem;
              height: 0.1rem;
              background-color: #000000;
              flex-shrink: 0;
            }
            .try-premium-gT7 {
              line-height: 1.2675;
              color: #000000;
              font-family: Acme, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 14.8rem;
              font-size: 1.5rem;
              font-weight: 400;
            }
          }
        }
        .auto-group-sjxf-Buf {
          flex-direction: column;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.2rem 3.5rem 2.1rem 2.2rem;
          width: 100%;
          display: flex;

          .group-JzH {
            margin-bottom: 1.3rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2675;
            color: #000000;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .events-Fed {
            cursor: pointer;
            font-size: 1.5rem;
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            line-height: 1.2675;
            font-family: Acme, 'Source Sans Pro';
          }
          .followed-hashtags-Nz9 {
            line-height: 1.2675;
            font-family: Acme, 'Source Sans Pro';
            margin-bottom: 2rem;
            cursor: pointer;
            font-size: 1.5rem;
            flex-shrink: 0;
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
          }
          .line-3-WaZ {
            background-color: #000000;
            flex-shrink: 0;
            margin: 0rem 0rem 1.5rem 1.4rem;
            width: 21.1rem;
            height: 0.1rem;
          }
          .discover-more-egm {
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 400;
            color: #000000;
            line-height: 1.2675;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-dbuy-Ncm {
        width: 63.3rem;
        height: 100%;
        flex-shrink: 0;

        .frame-3-L3o {
          margin-bottom: 5.6rem;
          box-sizing: border-box;
          width: 100%;
          display: flex;
          background-color: #ffffff;
          padding: 0.6rem 1.3rem 0.8rem 0.7rem;
          overflow: hidden;
          position: relative;
          align-items: center;
          flex-direction: column;
          border: solid 0.1rem #000000;

          .auto-group-pp7b-3yo {
            margin-bottom: 1.7rem;
            width: 100%;
            height: 3.6rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .vector-zu3 {
              height: 3.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.1rem;
              width: 3.6rem;
            }
            .auto-group-tjb3-wJV {
              height: calc(100% - 0.2rem);
              position: relative;
              flex-shrink: 0;
              margin: 0.1rem 0;
              width: 56.6rem;

              .start-a-post-59o {
                height: 1.4rem;
                left: 0.9rem;
                top: 0.9rem;
                line-height: 1.2125;
                white-space: nowrap;
                width: 6.2rem;
                position: absolute;
                font-size: 1.1rem;
                font-weight: 400;
                color: #757575;
                font-family: Inter, 'Source Sans Pro';
              }
              .rectangle-29-a6Z {
                width: 56.6rem;
                height: 3.4rem;
                position: absolute;
                left: 0;
                top: 0;
                border: solid 0.1rem #000000;
                box-sizing: border-box;
                border-radius: 1.5rem;
              }
            }
          }
          .auto-group-1grs-6ah {
            margin: 0rem 3.1rem 0rem 5.5rem;
            width: calc(100% - 8.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icon-media-image-cZ3 {
              margin-right: 0.2rem;
              width: 1.6rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .media-nM3 {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 17.3rem;
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #757575;
            }
            .events-t9B {
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.3rem 0.2rem 0rem;
              width: 1.7rem;
            }
            .events-omw {
              flex-shrink: 0;
              margin-right: 16.2rem;
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #757575;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .article-YDj {
              margin-right: 0.2175rem;
              width: 2.1825rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .write-article-tHb {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #757575;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .auto-group-zkuh-oQZ {
          width: 63rem;
          height: 62.1rem;
          position: relative;

          .vector-K81 {
            height: 4.5rem;
            position: absolute;
            left: 1.8rem;
            top: 52.6rem;
            object-fit: contain;
            vertical-align: top;
            width: 4.5rem;
          }
          .rectangle-r7w {
            top: 0;
            border: solid 0.2rem #000000;
            box-sizing: border-box;
            border-radius: 3rem;
            width: 63rem;
            height: 62.1rem;
            position: absolute;
            left: 0;
          }
          .line-4-yiM {
            left: 0;
            top: 40.8rem;
            background-color: #000000;
            width: 63rem;
            height: 0.2rem;
            position: absolute;
          }
          .ellipse-iR3 {
            left: 2.5rem;
            top: 2rem;
            border: solid 0.1rem #000000;
            width: 4.5rem;
            position: absolute;
            box-sizing: border-box;
            background-color: #000000;
            border-radius: 2.25rem;
            height: 4.5rem;
          }
          .pt-mencari-cinta-sejati-EPP {
            width: 19.5rem;
            left: 7.5rem;
            line-height: 1.76;
            color: #000000;
            height: 3.6rem;
            position: absolute;
            top: 2.6rem;
            font-size: 2rem;
            font-weight: 400;
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
          }
          .wallpaperflare-1-jL9 {
            object-fit: cover;
            vertical-align: top;
            width: 63rem;
            height: 27.7rem;
            position: absolute;
            left: 0;
            top: 7rem;
          }
          .vector-U2q {
            object-fit: contain;
            vertical-align: top;
            width: 4.5rem;
            height: 4.5rem;
            position: absolute;
            left: 1.8rem;
            top: 42.4rem;
          }
          .group-19-QSH {
            height: 3.3rem;
            position: absolute;
            left: 6.5rem;
            top: 36.1rem;
            display: flex;
            align-items: center;
            width: 52.3582rem;

            .icon-heart-LKw {
              margin: 0.1rem 10.8rem 0rem 0rem;
              width: 3.1rem;
              height: 2.8rem;
              cursor: pointer;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .group-17-4Fw {
              margin: 0.1rem 13.7rem 0rem 0rem;
              width: 3.2rem;
              height: 3.2rem;
              cursor: pointer;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .icon-repost-nSq {
              flex-shrink: 0;
              margin: 0rem 13.9rem 0.1rem 0rem;
              width: 4.3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
            }
            .icon-share-7ED {
              flex-shrink: 0;
              margin-bottom: 0.11rem;
              width: 3.3582rem;
              height: 3.19rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .rectangle-215-ejw {
            left: 7.4rem;
            top: 42.6rem;
            box-sizing: border-box;
            border-radius: 2.7rem;
            width: 53.1rem;
            height: 4.1rem;
            position: absolute;
            border: solid 0.1rem #000000;
            background-color: #ffffff;
          }
          .nice-MuF {
            font-weight: 400;
            line-height: 1.2125;
            white-space: nowrap;
            top: 43.4rem;
            font-size: 1.8rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            width: 3.9rem;
            height: 2.2rem;
            position: absolute;
            left: 8.4rem;
          }
          .rectangle-216-5aM {
            position: absolute;
            left: 7.3rem;
            top: 52.6rem;
            background-color: #ececec;
            border-radius: 0.8rem;
            width: 53.4rem;
            height: 7.2rem;
          }
          .joseph-felix-pH3 {
            position: absolute;
            top: 53.4rem;
            font-size: 1.3rem;
            line-height: 1.2675;
            color: #000000;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            width: 6.2rem;
            height: 1.7rem;
            left: 7.9rem;
            font-weight: 400;
          }
          .ceo-of-pt-sern-Xx9 {
            color: rgba(82, 82, 82, 0.6000000238);
            height: 1.3rem;
            left: 7.9rem;
            font-size: 0.7rem;
            font-weight: 400;
            line-height: 1.76;
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
            width: 5.2rem;
            position: absolute;
            top: 55rem;
          }
          .d-ErZ {
            left: 58.9rem;
            font-size: 0.7rem;
            font-weight: 400;
            color: #000000;
            font-family: Amiri, 'Source Sans Pro';
            width: 0.8rem;
            height: 1.3rem;
            position: absolute;
            white-space: nowrap;
            top: 53.7rem;
            line-height: 1.76;
          }
          .like-xnZ {
            height: 1.3rem;
            font-size: 0.7rem;
            line-height: 1.76;
            color: rgba(82, 82, 82, 0.6000000238);
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
            width: 1.2rem;
            position: absolute;
            left: 7.9rem;
            top: 57.6rem;
            font-weight: 400;
          }
          .reply-tAR {
            white-space: nowrap;
            height: 1.3rem;
            top: 57.6rem;
            font-weight: 400;
            color: rgba(82, 82, 82, 0.6000000238);
            line-height: 1.76;
            font-family: Amiri, 'Source Sans Pro';
            width: 1.6rem;
            position: absolute;
            left: 10.4rem;
            font-size: 0.7rem;
          }
          .item--c6R {
            height: 1.3rem;
            position: absolute;
            top: 57.4rem;
            font-size: 0.7rem;
            width: 0.2rem;
            font-weight: 400;
            line-height: 1.76;
            color: rgba(82, 82, 82, 0.6000000238);
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
            left: 9.7rem;
          }
          .nice-one-i9T {
            position: absolute;
            left: 7.8rem;
            font-weight: 400;
            font-family: Amiri, 'Source Sans Pro';
            width: 4.7rem;
            height: 2.3rem;
            top: 55.7rem;
            font-size: 1.3rem;
            line-height: 1.76;
            color: #000000;
            white-space: nowrap;
          }
          .icon-send-E7o {
            cursor: pointer;
            position: absolute;
            left: 57.4rem;
            top: 43.5rem;
            object-fit: contain;
            vertical-align: top;
            width: 2.236rem;
            height: 2.236rem;
          }
        }
      }
      .frame-4-kM3 {
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 1.5rem;
        width: 33.1rem;
        overflow: hidden;
        position: relative;
        background-color: #213555;

        .auto-group-cyyz-6Qu {
          margin: 0rem 12.4rem 3.6rem 1.4rem;
          width: calc(100% - 13.8rem);
          display: flex;
          align-items: flex-start;

          .vector-pbo {
            flex-shrink: 0;
            margin-right: 0.7rem;
            width: 5.6rem;
            height: 5.6rem;
            object-fit: contain;
            vertical-align: top;
          }
          .auto-group-wvg1-NNR {
            margin-top: 0.9rem;
            width: 13rem;
            height: 5.9rem;
            position: relative;
            flex-shrink: 0;

            .richard-alya-hvV {
              white-space: nowrap;
              height: 1.7rem;
              position: absolute;
              left: 0;
              font-size: 1.3rem;
              line-height: 1.2675;
              color: #ffffff;
              font-family: Acme, 'Source Sans Pro';
              width: 6.6rem;
              top: 0;
              font-weight: 400;
            }
            .co-founder-at-kawan-media-RrV {
              width: 13rem;
              height: 2rem;
              position: absolute;
              left: 0;
              color: rgba(255, 255, 255, 0.6000000238);
              font-family: Amiri, 'Source Sans Pro';
              top: 1.6rem;
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 1.76;
              white-space: nowrap;
            }
            .rectangle-30-8ku {
              border: solid 0.1rem #000000;
              border-radius: 1.5rem;
              height: 2.3rem;
              position: absolute;
              top: 3.6rem;
              box-sizing: border-box;
              background-color: #d9d9d9;
              width: 8.2rem;
              cursor: pointer;
              left: 0;
            }
            .follow-Eow {
              width: 3.4rem;
              height: 2.4rem;
              line-height: 1.81;
              white-space: nowrap;
              font-family: Arya, 'Source Sans Pro';
              position: absolute;
              left: 2.3rem;
              top: 3.4rem;
              font-size: 1.3rem;
              font-weight: 400;
              color: #000000;
            }
          }
        }
        .auto-group-sbed-kXP {
          width: 100%;
          height: 11.2rem;
          position: relative;

          .vector-tdb {
            vertical-align: top;
            width: 5.6rem;
            height: 5.6rem;
            position: absolute;
            left: 1.4rem;
            top: 0.7rem;
            object-fit: contain;
          }
          .joseph-felix-RdX {
            color: #ffffff;
            width: 6.2rem;
            height: 1.7rem;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.2675;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            left: 7.7rem;
            top: 1.6rem;
          }
          .ceo-of-pt-sern-isX {
            width: 8.2rem;
            position: absolute;
            left: 7.7rem;
            font-size: 1.1rem;
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
            height: 2rem;
            top: 3.2rem;
            font-weight: 400;
            line-height: 1.76;
            color: rgba(255, 255, 255, 0.6000000238);
          }
          .rectangle-31-EL5 {
            position: absolute;
            border: solid 0.1rem #000000;
            background-color: #d9d9d9;
            border-radius: 1.5rem;
            width: 8.2rem;
            height: 2.3rem;
            left: 7.7rem;
            top: 4.8rem;
            box-sizing: border-box;
          }
          .follow-Le1 {
            color: #000000;
            white-space: nowrap;
            height: 2.4rem;
            position: absolute;
            left: 9.8rem;
            top: 4.7rem;
            font-size: 1.3rem;
            font-weight: 400;
            width: 3.4rem;
            line-height: 1.81;
            font-family: Arya, 'Source Sans Pro';
          }
          .rectangle-217-rMT {
            width: 33.1rem;
            height: 11.2rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(81, 81, 81, 0.75);
          }
          .followed-nku {
            height: 2.5rem;
            top: 4.7rem;
            font-weight: 800;
            line-height: 1.2125;
            color: #ffffff;
            white-space: nowrap;
            width: 8.9rem;
            position: absolute;
            left: 11.4rem;
            text-align: center;
            font-size: 2rem;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
    }
    .auto-group-kzmb-grH {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .followed-hashtags-3Rw {
        flex-shrink: 0;
        font-size: 1.5rem;
        line-height: 1.2675;
        font-family: Acme, 'Source Sans Pro';
        color: #000000;
        white-space: nowrap;
        margin-right: 66.5rem;
        cursor: pointer;
        font-weight: 400;
      }
      .union-mMw {
        margin: 1.4rem 13.732rem 0rem 0rem;
        width: 3.5684rem;
        height: 2.8489rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-HLH {
        margin-top: 0.6rem;
        width: 3.4344rem;
        height: 3.4344rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
