
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-followed-1-DQH {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .component-6-variant2-MWV {
    width: 148.2rem;
    height: 14.1rem;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;

    .rectangle-1-gHs {
      left: 0;
      top: 0;
      background-color: #4682a9;
      width: 144rem;
      height: 13.2rem;
      position: absolute;
    }
    .component-3-component-2-variant2-odP {
      height: 5.6rem;
      left: 17.6rem;
      top: 4.3rem;
      border-radius: 0.5rem;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;
      width: 44.2rem;
      position: absolute;

      .frame-JKF {
        width: 2.2295rem;
        height: 2.8565rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .component-4-Dh7 {
      top: 9.9rem;
      display: flex;
      align-items: flex-start;
      width: 52.85rem;
      height: 2.7rem;
      position: absolute;
      left: 89.45rem;

      .home-YDb {
        margin-right: 1.9rem;
        white-space: nowrap;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
      }
      .notifications-f3K {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 2.8rem;
        line-height: 1.2125;
        white-space: nowrap;
      }
      .jobs-n7w {
        text-align: center;
        font-size: 2rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 2.85rem 0rem 0rem;
        line-height: 1.2125;
        color: #000000;
        font-weight: 400;
      }
      .my-network-HqP {
        text-align: center;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.3rem;
        font-size: 2rem;
        line-height: 1.2125;
        color: #000000;
      }
      .messaging-2HB {
        margin-top: 0.2rem;
        text-align: center;
        white-space: nowrap;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .icon-taskbar-Z2D {
      align-items: flex-end;
      width: 51.6rem;
      height: 7.3375rem;
      position: absolute;
      left: 89.1rem;
      top: 1.4rem;
      display: flex;

      .icon-home-5WM {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3.9rem 0.9rem 0rem;
        width: 6.9rem;
        height: 6.0375rem;
        object-fit: contain;
      }
      .icon-bell-nff {
        margin: 0rem 4.2rem 0.038rem 0rem;
        width: 6.9rem;
        height: 6.9rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icon-briefcase-uEV {
        width: 6.9086rem;
        height: 6.9rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 2.691rem 0.438rem 0rem;
      }
      .icon-people-psF {
        margin: 0rem 6.309rem 0.038rem 0rem;
        width: 6.8914rem;
        height: 6.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icon-chat-kF7 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 6.9rem;
        height: 6.0375rem;
        cursor: pointer;
      }
    }
    .profile-geZ {
      left: 5.5rem;
      top: 9.9rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2125;
      width: 6.1rem;
      height: 2.5rem;
      color: #000000;
      white-space: nowrap;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
    }
    .image-2-mvu {
      top: 3rem;
      object-fit: cover;
      vertical-align: top;
      width: 6.5rem;
      height: 6.4rem;
      position: absolute;
      left: 5.3rem;
    }
    .profile-WNh {
      left: 5.5rem;
      text-align: center;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 6.1rem;
      position: absolute;
      top: 9.9rem;
      color: #000000;
      white-space: nowrap;
      height: 2.5rem;
    }
    .image-15-peH {
      position: absolute;
      left: 5.3rem;
      top: 3rem;
      object-fit: cover;
      vertical-align: top;
      width: 6.5rem;
      height: 6.4rem;
      cursor: pointer;
    }
  }
  .auto-group-cofs-YqB {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5.8rem 3rem 0rem 3rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-q5wb-Uyj {
      margin: 0rem 3.2rem 1.5rem 0rem;
      width: calc(100% - 3.2rem);
      height: 58.7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-3zkh-zSH {
        width: 28.2rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-3job-YCu {
          border-radius: 1.5rem;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #d9d9d9;

          .auto-group-7dyf-UsF {
            width: 100%;
            height: 14.7rem;
            position: relative;
            flex-shrink: 0;

            .wallpaperflare-2-RnV {
              width: 28.2rem;
              height: 9.4rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
            }
            .vector-AVB {
              top: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              width: 12rem;
              height: 12rem;
              position: absolute;
              left: 8.1rem;
            }
          }
          .auto-group-h5vf-hV7 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.3rem 3.5rem 2.2rem 2.2rem;
            width: 100%;
            align-items: center;

            .auto-group-radb-pZj {
              margin: 0rem 3.3rem 3.6rem 4.7rem;
              width: calc(100% - 8rem);
              height: 6.2rem;
              position: relative;
              flex-shrink: 0;

              .data-architect-MJm {
                font-family: Amiri, 'Source Sans Pro';
                white-space: nowrap;
                width: 8.6rem;
                left: 2.95rem;
                font-weight: 400;
                text-align: center;
                font-size: 1.5rem;
                line-height: 1.76;
                color: #000000;
                height: 2.7rem;
                position: absolute;
                top: 3.5rem;
              }
              .jonathan-milos-Ff3 {
                height: 4.3rem;
                position: absolute;
                text-align: center;
                font-size: 2.4rem;
                color: #000000;
                width: 14.5rem;
                left: 0;
                top: 0;
                font-weight: 400;
                line-height: 1.76;
                font-family: Amiri, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .line-1-NDs {
              height: 0.1rem;
              background-color: #000000;
              flex-shrink: 0;
              margin: 0rem 0rem 2.3rem 1.4rem;
              width: 21.1rem;
            }
            .connection-69s {
              margin: 0rem 15.7rem 2.2rem 0rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2675;
              color: #000000;
              font-family: Acme, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .line-2-QwF {
              background-color: #000000;
              flex-shrink: 0;
              margin: 0rem 0rem 1.3rem 1.4rem;
              width: 21.1rem;
              height: 0.1rem;
            }
            .try-premium-kER {
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2675;
              color: #000000;
              font-family: Acme, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 14.8rem;
            }
          }
        }
        .auto-group-c46h-Fgy {
          flex-direction: column;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.2rem 3.5rem 2.1rem 2.2rem;
          width: 100%;
          display: flex;

          .group-Nmb {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2675;
            color: #000000;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
          }
          .events-7jB {
            font-weight: 400;
            line-height: 1.2675;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            cursor: pointer;
            font-size: 1.5rem;
            color: #000000;
          }
          .followed-hashtags-FKb {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2675;
            font-family: Acme, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 2rem;
            cursor: pointer;
            color: #000000;
            white-space: nowrap;
          }
          .line-3-Nf7 {
            margin: 0rem 0rem 1.5rem 1.4rem;
            width: 21.1rem;
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .discover-more-JYm {
            width: 100%;
            text-align: center;
            font-weight: 400;
            font-family: Acme, 'Source Sans Pro';
            font-size: 1.5rem;
            line-height: 1.2675;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-hstw-pn1 {
        box-sizing: border-box;
        padding-left: 5.1rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-bnfo-B6m {
          margin-right: 5.1rem;
          width: 63.3rem;
          flex-shrink: 0;

          .frame-3-vq3 {
            margin-bottom: 5.6rem;
            padding: 0.6rem 1.3rem 0.8rem 0.7rem;
            width: 100%;
            overflow: hidden;
            align-items: center;
            border: solid 0.1rem #000000;
            background-color: #ffffff;
            box-sizing: border-box;
            position: relative;
            display: flex;
            flex-direction: column;

            .auto-group-qzny-3Ps {
              align-items: center;
              flex-shrink: 0;
              margin-bottom: 1.7rem;
              width: 100%;
              height: 3.6rem;
              display: flex;

              .vector-yoK {
                margin-right: 1.1rem;
                width: 3.6rem;
                height: 3.6rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .auto-group-jvwx-KsB {
                flex-shrink: 0;
                margin: 0.1rem 0;
                width: 56.6rem;
                height: calc(100% - 0.2rem);
                position: relative;

                .start-a-post-fAM {
                  line-height: 1.2125;
                  width: 6.2rem;
                  left: 0.9rem;
                  top: 0.9rem;
                  font-size: 1.1rem;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  height: 1.4rem;
                  position: absolute;
                  font-weight: 400;
                  color: #757575;
                }
                .rectangle-29-Acu {
                  left: 0;
                  top: 0;
                  border: solid 0.1rem #000000;
                  box-sizing: border-box;
                  border-radius: 1.5rem;
                  width: 56.6rem;
                  height: 3.4rem;
                  position: absolute;
                }
              }
            }
            .auto-group-fsus-tJ1 {
              margin: 0rem 3.1rem 0rem 5.5rem;
              width: calc(100% - 8.6rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .icon-media-image-oA5 {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 0.2rem;
                width: 1.6rem;
                height: 1.6rem;
                object-fit: contain;
              }
              .media-K8R {
                font-size: 1.1rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #757575;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 17.3rem;
              }
              .events-r8M {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 0.3rem 0.2rem 0rem;
                width: 1.7rem;
                height: 1.8rem;
              }
              .events-NcV {
                margin-right: 16.2rem;
                font-size: 1.1rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #757575;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .article-Wyb {
                margin-right: 0.2175rem;
                width: 2.1825rem;
                height: 2rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .write-article-FwB {
                flex-shrink: 0;
                font-size: 1.1rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #757575;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .frame-nAR {
            padding: 2rem 0rem 1.6rem 0rem;
            width: 63rem;
            border: solid 0.2rem #000000;
            border-radius: 3rem;
            box-sizing: border-box;

            .auto-group-mzpu-iZs {
              margin: 0rem 36rem 0.5rem 2.5rem;
              width: calc(100% - 38.5rem);
              display: flex;
              align-items: center;

              .ellipse-T1f {
                margin-right: 0.5rem;
                width: 4.5rem;
                height: 4.5rem;
                border: solid 0.1rem #000000;
                box-sizing: border-box;
                background-color: #000000;
                border-radius: 2.25rem;
                flex-shrink: 0;
              }
              .pt-mencari-cinta-sejati-BTT {
                font-family: Amiri, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.3rem;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.76;
                color: #000000;
              }
            }
            .wallpaperflare-1-7c1 {
              margin-bottom: 1.4rem;
              width: 63rem;
              height: 27.7rem;
              object-fit: cover;
              vertical-align: top;
            }
            .group-19-TA5 {
              margin: 0rem 4.142rem 0rem 3.2rem;
              width: calc(100% - 7.3418rem);
              display: flex;
              align-items: center;

              .icon-heart-mgZ {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.1rem 14.1rem 0rem 0rem;
                width: 3.1rem;
                height: 2.8rem;
                cursor: pointer;
                object-fit: contain;
              }
              .group-17-Heu {
                cursor: pointer;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.1rem 13.7rem 0rem 0rem;
                width: 3.2rem;
                height: 3.2rem;
              }
              .icon-repost-cSH {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 13.9rem 0.1rem 0rem;
                width: 4.3rem;
                height: 3rem;
              }
              .icon-share-jmo {
                margin-bottom: 0.11rem;
                width: 3.3582rem;
                height: 3.19rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
        .auto-group-7qkj-rLd {
          width: 33.1rem;
          height: 23.1rem;
          position: relative;
          flex-shrink: 0;

          .frame-4-PrM {
            padding: 1.5rem 12.4rem 1.5rem 0rem;
            height: 23.1rem;
            left: 0;
            top: 0;
            display: flex;
            background-color: #213555;
            box-sizing: border-box;
            width: 33.1rem;
            position: absolute;
            overflow: hidden;
            align-items: center;

            .jonathan-milos-u41 {
              text-align: center;
              font-size: 2.4rem;
              line-height: 1.76;
              font-family: Amiri, 'Source Sans Pro';
              white-space: nowrap;
              margin: 11.2rem 81.7rem 0rem 0rem;
              font-weight: 400;
              color: #000000;
              flex-shrink: 0;
            }
            .auto-group-sglm-ov5 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 0rem 0.7rem 3.4rem 0rem;
              align-items: center;

              .vector-9DF {
                margin-bottom: 5.5rem;
                width: 5.6rem;
                height: 5.6rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .vector-tAq {
                height: 5.6rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 5.6rem;
              }
            }
            .auto-group-tqn9-deD {
              margin-bottom: 12.4rem;
              width: 13rem;
              height: 5.9rem;
              position: relative;
              flex-shrink: 0;

              .richard-alya-Nbo {
                height: 1.7rem;
                font-size: 1.3rem;
                font-family: Acme, 'Source Sans Pro';
                white-space: nowrap;
                font-weight: 400;
                line-height: 1.2675;
                color: #ffffff;
                width: 6.6rem;
                position: absolute;
                left: 0;
                top: 0;
              }
              .co-founder-at-kawan-media-6Xo {
                position: absolute;
                left: 0;
                top: 1.6rem;
                font-weight: 400;
                color: rgba(255, 255, 255, 0.6000000238);
                font-family: Amiri, 'Source Sans Pro';
                white-space: nowrap;
                width: 13rem;
                height: 2rem;
                font-size: 1.1rem;
                line-height: 1.76;
              }
              .rectangle-30-oBK {
                height: 2.3rem;
                position: absolute;
                top: 3.6rem;
                box-sizing: border-box;
                background-color: #d9d9d9;
                width: 8.2rem;
                left: 0;
                border: solid 0.1rem #000000;
                border-radius: 1.5rem;
              }
              .follow-vFw {
                left: 2.3rem;
                font-weight: 400;
                color: #000000;
                width: 3.4rem;
                position: absolute;
                top: 3.4rem;
                font-size: 1.3rem;
                line-height: 1.81;
                font-family: Arya, 'Source Sans Pro';
                white-space: nowrap;
                height: 2.4rem;
              }
            }
          }
          .rectangle-214-p6R {
            width: 33.1rem;
            height: 11.2rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(81, 81, 81, 0.75);
          }
          .followed-xTX {
            font-size: 2rem;
            font-weight: 800;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 2.5rem;
            left: 11.4rem;
            top: 4.7rem;
            text-align: center;
            line-height: 1.2125;
            color: #ffffff;
            width: 8.9rem;
            position: absolute;
          }
          .joseph-felix-g8d {
            white-space: nowrap;
            width: 6.2rem;
            font-size: 1.3rem;
            font-weight: 400;
            top: 13.5rem;
            line-height: 1.2675;
            color: #ffffff;
            font-family: Acme, 'Source Sans Pro';
            height: 1.7rem;
            position: absolute;
            left: 7.7rem;
          }
          .ceo-of-pt-sern-PHw {
            font-weight: 400;
            top: 15.1rem;
            font-size: 1.1rem;
            line-height: 1.76;
            color: rgba(255, 255, 255, 0.6000000238);
            width: 8.2rem;
            height: 2rem;
            position: absolute;
            left: 7.7rem;
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rectangle-31-Vbs {
            box-sizing: border-box;
            background-color: #d9d9d9;
            border-radius: 1.5rem;
            cursor: pointer;
            top: 16.7rem;
            position: absolute;
            left: 7.7rem;
            border: solid 0.1rem #000000;
            width: 8.2rem;
            height: 2.3rem;
          }
          .follow-osT {
            font-weight: 400;
            line-height: 1.81;
            font-family: Arya, 'Source Sans Pro';
            white-space: nowrap;
            width: 3.4rem;
            height: 2.4rem;
            left: 9.8rem;
            font-size: 1.3rem;
            position: absolute;
            top: 16.6rem;
            color: #000000;
          }
        }
      }
    }
    .frame-izR {
      flex-shrink: 0;
      margin: 0rem 41.7rem 0rem 33.3rem;
      box-sizing: border-box;
      width: calc(100% - 75rem);
      height: 41rem;
      display: flex;
      padding: 2rem 0rem 2.251rem 0rem;
      flex-direction: column;
      border: solid 0.2rem #000000;
      border-radius: 3rem;

      .auto-group-bb7b-Rdw {
        margin: 0rem 34.5rem 0.4rem 2.5rem;
        width: calc(100% - 37rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .ellipse-YiZ {
          height: 4.5rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #000000;
          border-radius: 2.25rem;
          flex-shrink: 0;
          margin: 0rem 0.5rem 0.1rem 0rem;
          width: 4.5rem;
        }
        .pt-barokah-jaya-jaya-jaya-TKj {
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.76;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .wallpaperflare-3-BFj {
        margin-bottom: 0rem;
        width: 63rem;
        height: 27.7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-yish-KMw {
        width: calc(100% - 5.8656rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 2.866rem 0rem 3rem;

        .union-ShT {
          margin: 0rem 13.421rem 0.07rem 0rem;
          width: 3.9793rem;
          height: 3.9793rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-mzd {
          margin: 0rem 15.8rem 0.049rem 0rem;
          width: 3.2rem;
          height: 3.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .union-h7b {
          margin-right: 13.7316rem;
          width: 3.5684rem;
          height: 2.8489rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .vector-qUh {
          flex-shrink: 0;
          margin-bottom: 0.2145rem;
          width: 3.4344rem;
          height: 3.4344rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
}
