
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-search-Yt5 {
  box-sizing: border-box;
  padding: 3.6rem 6rem 20.8rem 8rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  background-color: #ffffff;

  .icon-home-57K {
    margin: 0rem 2.1rem 13.463rem 0rem;
    width: 6.9rem;
    height: 6.0375rem;
    cursor: pointer;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .auto-group-m3c9-PNu {
    margin: 0rem 25rem 8.8rem 19rem;
    padding: 1rem 2.2rem 1rem 32.65rem;
    display: flex;
    flex-shrink: 0;
    border-radius: 2rem;
    box-sizing: border-box;
    width: calc(100% - 44rem);
    align-items: center;
    background-color: #9cceef;

    .search-gso {
      font-weight: 400;
      margin: 0.2rem 30.15rem 0rem 0rem;
      justify-content: center;
      font-size: 5rem;
      line-height: 0.4479999924;
      color: #ffffff;
      font-family: Abyssinica SIL, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      align-items: center;
    }
    .frame-ayB {
      vertical-align: top;
      border-radius: 2rem;
      flex-shrink: 0;
      width: 6.2rem;
      height: 5.9rem;
      object-fit: contain;
    }
  }
  .group-2-i3o {
    display: flex;
    column-gap: 5rem;
    align-items: center;
    border-radius: 2rem;
    flex-shrink: 0;
    margin-bottom: 10.1rem;
    width: 100%;
    height: 25rem;

    .auto-group-afmw-eCM {
      flex-shrink: 0;
      width: 40rem;
      height: 100%;
      background-color: #d9d9d9;
      border-radius: 2rem;

      .th-39-CDs {
        width: 40rem;
        height: 25rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2rem;
      }
    }
    .auto-group-drwd-WkM {
      flex-shrink: 0;
      width: 40rem;
      height: 100%;
      background-color: #d9d9d9;
      border-radius: 2rem;

      .th-40-GUd {
        object-fit: cover;
        vertical-align: top;
        border-radius: 2rem;
        width: 40rem;
        height: 25rem;
      }
    }
    .auto-group-nyxj-PZF {
      width: 40rem;
      height: 100%;
      background-color: #d9d9d9;
      border-radius: 2rem;
      flex-shrink: 0;

      .th-41-x6Z {
        width: 40rem;
        height: 25rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2rem;
      }
    }
  }
  .auto-group-2xz1-U4u {
    flex-shrink: 0;
    margin: 0rem 40.5rem 0rem 38.4rem;
    width: calc(100% - 78.9rem);
    height: 6.7rem;
    position: relative;

    .designvisual-AyK {
      height: 2.3rem;
      top: 2.2rem;
      display: flex;
      line-height: 0.8959999847;
      white-space: nowrap;
      font-family: Acme, 'Source Sans Pro';
      width: 14.2rem;
      position: absolute;
      left: 4.5rem;
      font-size: 2.5rem;
      font-weight: 400;
      color: #ffffff;
    }
    .programmer-fv5 {
      white-space: nowrap;
      height: 2.3rem;
      display: flex;
      font-weight: 400;
      color: #ffffff;
      font-family: Acme, 'Source Sans Pro';
      line-height: 0.8959999847;
      width: 13.8rem;
      position: absolute;
      left: 33.3rem;
      top: 2.2rem;
      font-size: 2.5rem;
    }
    .hastag-search-aXF {
      top: 0;
      display: flex;
      align-items: center;
      border-radius: 2rem;
      width: 51.1rem;
      height: 6.7rem;
      position: absolute;
      left: 0;

      .auto-group-dgqd-82y {
        height: 100%;
        font-size: 2.5rem;
        font-weight: 400;
        white-space: nowrap;
        align-items: center;
        font-family: Acme, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 4.9rem;
        display: flex;
        color: #ffffff;
        background-color: #223355;
        border-radius: 0.5rem;
        width: 23.1rem;
        line-height: 0.8959999847;
        justify-content: center;
      }
      .auto-group-i2ys-DKK {
        line-height: 0.8959999847;
        color: #ffffff;
        font-family: Acme, 'Source Sans Pro';
        align-items: center;
        border-radius: 0.5rem;
        font-size: 2.5rem;
        justify-content: center;
        display: flex;
        height: 100%;
        font-weight: 400;
        white-space: nowrap;
        background-color: #223355;
        flex-shrink: 0;
        width: 23.1rem;
      }
    }
  }
}
