
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-job-27X {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .component-6-variant2-NSH {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.4rem 1.7rem 0.6rem 5.3rem;
    width: 100%;
    height: 13.2rem;
    display: flex;
    align-items: center;
    background-color: #4682a9;

    .auto-group-d9pb-H3T {
      margin: 1.4rem 5.8rem 0rem 0rem;
      width: 6.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-1sav-oGh {
        background-image: url('REPLACE_IMAGE:3ca1b12fd5d3de42211f78bb83137f2f2c7657e1');
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;

        .image-15-xQV {
          vertical-align: top;
          width: 6.5rem;
          height: 6.4rem;
          cursor: pointer;
          object-fit: cover;
        }
      }
      .auto-group-wq1x-fph {
        flex-shrink: 0;
        margin: 0 0.2rem;
        width: calc(100% - 0.4rem);
        height: 2.5rem;
        position: relative;

        .profile-QnH {
          white-space: nowrap;
          position: absolute;
          top: 0;
          font-size: 2rem;
          font-family: Inter, 'Source Sans Pro';
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          width: 6.1rem;
          height: 2.5rem;
          left: 0;
          text-align: center;
        }
        .profile-KeM {
          width: 6.1rem;
          position: absolute;
          left: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          white-space: nowrap;
          height: 2.5rem;
          top: 0;
          text-align: center;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .component-3-component-2-variant2-EmK {
      margin: 2.9rem 27.3rem 2.7rem 0rem;
      box-sizing: border-box;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;
      height: calc(100% - 5.6rem);
      background-color: #ffffff;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .frame-L3f {
        width: 2.2295rem;
        height: 2.8565rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-jxm3-GCD {
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;
      display: flex;

      .icon-taskbar-1Qh {
        align-items: flex-end;
        flex-shrink: 0;
        margin-bottom: 1.1625rem;
        display: flex;

        .icon-home-9G1 {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3.9rem 0.9rem 0rem;
          width: 6.9rem;
          height: 6.0375rem;
          cursor: pointer;
          object-fit: contain;
        }
        .icon-bell-eiZ {
          margin: 0rem 4.2rem 0.038rem 0rem;
          width: 6.9rem;
          height: 6.9rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icon-briefcase-BCh {
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.691rem 0.438rem 0rem;
          width: 6.9086rem;
        }
        .icon-people-JHK {
          margin: 0rem 6.309rem 0.038rem 0rem;
          width: 6.8914rem;
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icon-chat-d4h {
          width: 6.9rem;
          height: 6.0375rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .component-4-mgh {
        margin-left: 0.35rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .home-ibw {
          font-size: 2rem;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          margin-right: 1.9rem;
          text-align: center;
          flex-shrink: 0;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
        }
        .notifications-qRf {
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          margin-right: 2.8rem;
          font-size: 2rem;
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
        }
        .jobs-Ayj {
          text-align: center;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.1rem 2.85rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          white-space: nowrap;
        }
        .my-network-6Mb {
          margin-right: 1.3rem;
          font-size: 2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-weight: 400;
          color: #000000;
        }
        .messaging-qKB {
          flex-shrink: 0;
          text-align: center;
          font-size: 2rem;
          line-height: 1.2125;
          color: #000000;
          margin-top: 0.2rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
  .auto-group-13vu-kh3 {
    box-sizing: border-box;
    padding: 2.5rem 5.3rem 7.2rem 5.3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-m6sw-tHT {
      align-items: flex-end;
      flex-shrink: 0;
      margin: 0rem 11rem 4.8rem 0rem;
      width: calc(100% - 11rem);
      display: flex;

      .auto-group-n8pd-DqX {
        margin: 0rem 9.4rem 0.1rem 0rem;
        width: 28.5rem;
        height: 37.3rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-23-LfF {
          width: 28.2rem;
          height: 37rem;
          position: absolute;
          left: 0;
          top: 0.3rem;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
        }
        .rectangle-27-sQH {
          border-radius: 1.5rem;
          width: 28.2rem;
          height: 37rem;
          position: absolute;
          left: 0;
          top: 0.3rem;
          background-color: #d9d9d9;
        }
        .c2dfca25bca10397666ae637f078a-1-Qf7 {
          position: absolute;
          left: 0.3rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 28.2rem;
          height: 37rem;
        }
      }
      .auto-group-heny-L2y {
        width: 84.5rem;
        row-gap: 2.2rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frame-1-GhK {
          overflow: hidden;
          font-size: 3rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          box-sizing: border-box;
          font-weight: 400;
          position: relative;
          line-height: 1.2125;
          margin-left: 0.2rem;
          width: 84.3rem;
          border: solid 0.1rem #000000;
          padding: 2.3rem 1.9rem 2.7rem 1.9rem;
        }
        .auto-group-ckr1-wHf {
          border: solid 0.1rem #000000;
          border-radius: 1rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 4.2rem 2.1rem 4.5rem 2.1rem;
          width: 77.4rem;

          .dibutuhkan-4-orang-pelamar-jobdesk-masinis-security-fjT {
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            max-width: 24.7rem;
            font-size: 1.8rem;
          }
        }
        .auto-group-fw4v-ZZw {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 46.5rem;
          width: calc(100% - 46.5rem);
          height: 5rem;

          .auto-group-uemb-tcD {
            font-weight: 400;
            justify-content: center;
            flex-shrink: 0;
            font-size: 3rem;
            line-height: 1.2125;
            background-color: #213555;
            margin-right: 2rem;
            width: 18rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 100%;
            display: flex;
            align-items: center;
            border-radius: 0.8rem;
          }
          .auto-group-izkm-P3B {
            width: 18rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            justify-content: center;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            border-radius: 0.8rem;
            height: 100%;
            align-items: center;
            background-color: rgba(100, 143, 212, 0.9921568632);
            flex-shrink: 0;
            font-size: 3rem;
            white-space: nowrap;
          }
        }
      }
    }
    .auto-group-neyk-GMs {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: 10.8rem;
      width: calc(100% - 10.8rem);
      height: 37.3rem;

      .auto-group-c7c1-1KT {
        width: 28.5rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;
        margin-right: 9.6rem;

        .rectangle-22-MPK {
          width: 28.2rem;
          height: 37rem;
          position: absolute;
          left: 0;
          top: 0.3rem;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
        }
        .rectangle-26-Hnm {
          width: 28.2rem;
          height: 37rem;
          position: absolute;
          left: 0;
          top: 0.3rem;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
        }
        .site-1-Rty {
          vertical-align: top;
          width: 28.2rem;
          height: 37rem;
          position: absolute;
          left: 0.3rem;
          top: 0;
          object-fit: cover;
        }
      }
      .auto-group-g2iy-xe1 {
        margin: 1.3rem 0rem 0.8rem 0rem;
        width: 84.5rem;
        height: calc(100% - 2.1rem);
        flex-shrink: 0;

        .frame-1-gpu {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          margin: 0rem 0rem 2.2rem 0.2rem;
          box-sizing: border-box;
          padding: 2.3rem 1.9rem 2.7rem 1.9rem;
          width: 84.3rem;
          overflow: hidden;
          line-height: 1.2125;
          border: solid 0.1rem #000000;
          position: relative;
          font-size: 3rem;
          font-weight: 400;
          white-space: nowrap;
        }
        .auto-group-ejnv-kZs {
          height: 17.5rem;
          position: relative;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          border-radius: 1rem;
          margin-bottom: 1.8rem;
          width: 77.4rem;

          .dibutuhkan-5-orang-pelamar-jobdesk-pengaduk-mandor-tumbal-gyK {
            width: 24.6rem;
            height: 11rem;
            top: 3.1rem;
            line-height: 1.2125;
            color: #000000;
            position: absolute;
            left: 1.6rem;
            font-size: 1.8rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
          }
          .rectangle-40-yhX {
            top: 0;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            border-radius: 1rem;
            width: 77.4rem;
            height: 17.5rem;
            position: absolute;
            left: 0;
          }
        }
        .auto-group-ful5-HTK {
          width: calc(100% - 46.5rem);
          height: 5rem;
          display: flex;
          align-items: center;
          margin-right: 46.5rem;

          .auto-group-kot9-ckV {
            height: 100%;
            background-color: #213555;
            margin-right: 2rem;
            width: 18rem;
            font-size: 3rem;
            color: #ffffff;
            justify-content: center;
            flex-shrink: 0;
            font-weight: 400;
            white-space: nowrap;
            align-items: center;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            border-radius: 0.8rem;
          }
          .auto-group-5mps-7SM {
            display: flex;
            background-color: #213555;
            border-radius: 0.8rem;
            flex-shrink: 0;
            width: 18rem;
            height: 100%;
            font-size: 3rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            line-height: 1.2125;
            color: #ffffff;
            white-space: nowrap;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
