
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-job-5sb {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .component-6-variant2-du7 {
    display: flex;
    align-items: center;
    background-color: #4682a9;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.4rem 1.7rem 0.6rem 5.3rem;
    width: 100%;
    height: 13.2rem;

    .auto-group-cpsf-wuo {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.4rem 5.8rem 0rem 0rem;
      width: 6.5rem;

      .auto-group-yxdb-Ueq {
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:3ca1b12fd5d3de42211f78bb83137f2f2c7657e1');
        flex-shrink: 0;
        margin-bottom: 0.5rem;

        .image-15-EP7 {
          width: 6.5rem;
          height: 6.4rem;
          cursor: pointer;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-gk3j-9ky {
        flex-shrink: 0;
        margin: 0 0.2rem;
        width: calc(100% - 0.4rem);
        height: 2.5rem;
        position: relative;

        .profile-gku {
          white-space: nowrap;
          left: 0;
          top: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 6.1rem;
          height: 2.5rem;
          position: absolute;
          text-align: center;
        }
        .profile-CDT {
          width: 6.1rem;
          height: 2.5rem;
          position: absolute;
          font-size: 2rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          left: 0;
          top: 0;
          text-align: center;
          font-weight: 400;
          line-height: 1.2125;
          white-space: nowrap;
        }
      }
    }
    .component-3-component-2-variant2-try {
      margin: 2.9rem 27.3rem 2.7rem 0rem;
      box-sizing: border-box;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;
      height: calc(100% - 5.6rem);
      background-color: #ffffff;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .frame-nxM {
        vertical-align: top;
        width: 2.2295rem;
        height: 2.8565rem;
        object-fit: contain;
      }
    }
    .auto-group-bq25-ir1 {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .icon-taskbar-UqB {
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin-bottom: 1.1625rem;

        .icon-home-pe9 {
          height: 6.0375rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3.9rem 0.9rem 0rem;
          width: 6.9rem;
        }
        .icon-bell-jWD {
          width: 6.9rem;
          height: 6.9rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.2rem 0.038rem 0rem;
        }
        .icon-briefcase-42h {
          width: 6.9086rem;
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.691rem 0.438rem 0rem;
        }
        .icon-people-mxh {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 6.309rem 0.038rem 0rem;
          width: 6.8914rem;
          height: 6.9rem;
          object-fit: contain;
        }
        .icon-chat-6k5 {
          flex-shrink: 0;
          width: 6.9rem;
          height: 6.0375rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .component-4-Sow {
        margin-left: 0.35rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .home-Pz5 {
          margin-right: 1.9rem;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
        }
        .notifications-XaV {
          color: #000000;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.8rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
        }
        .jobs-4KX {
          margin: 0.1rem 2.85rem 0rem 0rem;
          font-size: 2rem;
          font-family: Inter, 'Source Sans Pro';
          text-align: center;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .my-network-Nr1 {
          margin-right: 1.3rem;
          text-align: center;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-size: 2rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .messaging-WxD {
          font-size: 2rem;
          font-family: Inter, 'Source Sans Pro';
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.2rem;
          text-align: center;
          font-weight: 400;
        }
      }
    }
  }
  .auto-group-tv9f-Sqs {
    box-sizing: border-box;
    padding: 2.5rem 5.3rem 7.2rem 5.3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-jk3w-NzR {
      margin: 0rem 11rem 4.8rem 0rem;
      width: calc(100% - 11rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .auto-group-mnr1-Wqj {
        margin: 0rem 9.4rem 0.1rem 0rem;
        width: 28.5rem;
        height: 37.3rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-23-prR {
          left: 0;
          top: 0.3rem;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          width: 28.2rem;
          height: 37rem;
          position: absolute;
        }
        .rectangle-27-MLZ {
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          width: 28.2rem;
          height: 37rem;
          position: absolute;
          left: 0;
          top: 0.3rem;
        }
        .c2dfca25bca10397666ae637f078a-1-gdj {
          height: 37rem;
          position: absolute;
          left: 0.3rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 28.2rem;
        }
      }
      .auto-group-3jds-bVo {
        width: 84.5rem;
        row-gap: 2.2rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frame-1-91X {
          padding: 2.3rem 1.9rem 2.7rem 1.9rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          position: relative;
          font-size: 3rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 84.3rem;
          overflow: hidden;
          line-height: 1.2125;
          margin-left: 0.2rem;
          color: #000000;
          flex-shrink: 0;
        }
        .auto-group-pzcv-CVb {
          box-sizing: border-box;
          padding: 4.2rem 2.1rem 4.5rem 2.1rem;
          width: 77.4rem;
          border: solid 0.1rem #000000;
          border-radius: 1rem;
          flex-shrink: 0;

          .dibutuhkan-4-orang-pelamar-jobdesk-masinis-security-vwP {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            max-width: 24.7rem;
          }
        }
        .auto-group-2jpy-DvV {
          align-items: center;
          flex-shrink: 0;
          margin-right: 46.5rem;
          width: calc(100% - 46.5rem);
          height: 5rem;
          display: flex;

          .auto-group-3ugm-kvR {
            display: flex;
            flex-shrink: 0;
            margin-right: 2rem;
            width: 18rem;
            font-size: 3rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            background-color: #213555;
            font-weight: 400;
            color: #ffffff;
            border-radius: 0.8rem;
            height: 100%;
            align-items: center;
            justify-content: center;
          }
          .auto-group-up5j-rCm {
            font-size: 3rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            width: 18rem;
            font-weight: 400;
            background-color: #213555;
            border-radius: 0.8rem;
            flex-shrink: 0;
            justify-content: center;
            height: 100%;
            line-height: 1.2125;
            white-space: nowrap;
            display: flex;
            align-items: center;
          }
        }
      }
    }
    .auto-group-ihnd-L7w {
      height: 37.3rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-right: 10.8rem;
      width: calc(100% - 10.8rem);

      .auto-group-4ypm-4Zj {
        margin-right: 9.6rem;
        width: 28.5rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-22-onD {
          height: 37rem;
          position: absolute;
          left: 0;
          top: 0.3rem;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          width: 28.2rem;
        }
        .rectangle-26-Ln9 {
          width: 28.2rem;
          height: 37rem;
          position: absolute;
          left: 0;
          top: 0.3rem;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
        }
        .site-1-5zd {
          width: 28.2rem;
          height: 37rem;
          position: absolute;
          left: 0.3rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-1fe5-czZ {
        height: calc(100% - 2.1rem);
        flex-shrink: 0;
        margin: 1.3rem 0rem 0.8rem 0rem;
        width: 84.5rem;

        .frame-1-wmw {
          padding: 2.3rem 1.9rem 2.7rem 1.9rem;
          overflow: hidden;
          position: relative;
          font-size: 3rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          border: solid 0.1rem #000000;
          margin: 0rem 0rem 2.2rem 0.2rem;
          box-sizing: border-box;
          width: 84.3rem;
          font-weight: 400;
        }
        .auto-group-vakw-DDf {
          height: 17.5rem;
          position: relative;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          border-radius: 1rem;
          margin-bottom: 1.8rem;
          width: 77.4rem;

          .dibutuhkan-5-orang-pelamar-jobdesk-pengaduk-mandor-tumbal-kjP {
            position: absolute;
            top: 3.1rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            height: 11rem;
            left: 1.6rem;
            font-family: Inter, 'Source Sans Pro';
            width: 24.6rem;
          }
          .rectangle-40-rGd {
            height: 17.5rem;
            position: absolute;
            left: 0;
            top: 0;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            border-radius: 1rem;
            width: 77.4rem;
          }
        }
        .auto-group-gjbf-A2R {
          width: calc(100% - 46.5rem);
          height: 5rem;
          display: flex;
          align-items: center;
          margin-right: 46.5rem;

          .auto-group-drwm-hHF {
            font-size: 3rem;
            height: 100%;
            color: #ffffff;
            white-space: nowrap;
            display: flex;
            align-items: center;
            border-radius: 0.8rem;
            flex-shrink: 0;
            font-weight: 400;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            justify-content: center;
            background-color: #213555;
            margin-right: 2rem;
            width: 18rem;
          }
          .auto-group-gbf3-Pfs {
            flex-shrink: 0;
            width: 18rem;
            font-size: 3rem;
            display: flex;
            align-items: center;
            height: 100%;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            border-radius: 0.8rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            justify-content: center;
            background-color: #213555;
          }
        }
      }
    }
  }
}
