
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 77.4rem;
}.rectangle-21-b6D {
  border-radius: 2rem;
  width: 100%;
  height: 17.5rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
}
