
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.register-email-pass1-pass2-eye-5k9 {
  flex-direction: column;
  background-color: #ffffff;
  padding-bottom: 21.7rem;
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;

  .rectangle-130-3Kb {
    margin-bottom: 7.4rem;
    width: 100%;
    height: 10rem;
    background-color: #4682a9;
    flex-shrink: 0;
  }
  .auto-group-i3au-9dX {
    padding: 5.6rem 9.9rem 8.6rem 12rem;
    width: 100%;
    height: 60rem;
    display: flex;
    align-items: center;
    background-color: #213555;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-3aaq-Rb3 {
      flex-shrink: 0;
      margin: 15.2rem 16.8rem 17.65rem 0rem;
      height: calc(100% - 32.85rem);
      align-items: center;
      display: flex;
      flex-direction: column;

      .jobsearch-Xty {
        margin-bottom: 8.95rem;
        justify-content: center;
        font-size: 15rem;
        font-weight: 400;
        line-height: 0.1280000051;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        color: #ffffff;
        font-family: Birthstone Bounce, 'Source Sans Pro';
        white-space: nowrap;
      }
      .website-mencari-pekerjaan-Sm3 {
        flex-shrink: 0;
        margin-right: 1.7rem;
        display: flex;
        line-height: 0.6400000254;
        font-family: Arya, 'Source Sans Pro';
        color: #ffffff;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        font-weight: 400;
      }
    }
    .group-14-9fT {
      height: 100%;
      background-color: #4682a9;
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.287rem 2.1rem 3.338rem 2.1rem;
      width: 50rem;

      .register-GEH {
        font-weight: 400;
        line-height: 0.9600000381;
        color: #000000;
        font-family: Arya, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 0.011rem 0.4rem;
        display: flex;
        font-size: 2rem;
      }
      .auto-group-zzgy-BMF {
        font-size: 1.5rem;
        line-height: 1.2800000509;
        font-family: Amiri, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 0.229rem 0.4rem;
        box-sizing: border-box;
        width: 14.6rem;
        color: #000000;
        padding-top: 1.9733rem;
        display: flex;
        font-weight: 400;
      }
      .auto-group-edfj-f1X {
        margin-bottom: 0.2506rem;
        width: 100%;
        height: 9.2494rem;
        position: relative;

        .rectangle-134-bfs {
          position: absolute;
          left: 0.4rem;
          top: 3.5244rem;
          border: solid 0.2rem #4682a9;
          box-sizing: border-box;
          border-radius: 0.5rem;
          width: 45rem;
          height: 5.725rem;
        }
        .password-JqB {
          height: 2rem;
          position: absolute;
          left: 0.4rem;
          top: 6.1708rem;
          display: flex;
          font-weight: 400;
          line-height: 1.2800000509;
          width: 5.6rem;
          font-family: Amiri, 'Source Sans Pro';
          color: #000000;
          white-space: nowrap;
          font-size: 1.5rem;
        }
        .rectangle-143-1jb {
          left: 0;
          top: 0;
          border: solid 0.1rem #000000;
          background-color: #4682a9;
          border-radius: 0.5rem;
          width: 45.8rem;
          height: 4rem;
          position: absolute;
          box-sizing: border-box;
        }
        .jobsearchgmailcoid-ie1 {
          top: 0.9rem;
          font-weight: 400;
          line-height: 1.76;
          color: #000000;
          width: 11.3rem;
          height: 2.3rem;
          position: absolute;
          left: 1rem;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.3rem;
        }
      }
      .auto-group-xtms-DKs {
        width: 100%;
        height: 4rem;
        position: relative;
        margin-bottom: 0.0431rem;

        .rectangle-144-k4u {
          border-radius: 0.5rem;
          width: 45.8rem;
          height: 4rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
        }
        .rectangle-145-5N5 {
          width: 45.8rem;
          left: 0;
          box-sizing: border-box;
          background-color: #4682a9;
          border-radius: 0.5rem;
          height: 4rem;
          position: absolute;
          top: 0;
          border: solid 0.1rem #000000;
        }
        .item--c77 {
          top: 1.2rem;
          font-size: 1.3rem;
          font-weight: 400;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          width: 5.1rem;
          height: 2.3rem;
          left: 1rem;
          position: absolute;
          line-height: 1.76;
          white-space: nowrap;
        }
        .icon-eye-outline-K1X {
          width: 2.7rem;
          height: 2.7rem;
          cursor: pointer;
          position: absolute;
          left: 42.7rem;
          top: 0.7rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-typk-qVf {
        width: 100%;
        height: 9.1569rem;
        position: relative;
        margin-bottom: 0.2894rem;

        .rectangle-135-P1P {
          height: 5.725rem;
          position: absolute;
          left: 0.4rem;
          top: 0;
          border: solid 0.2rem #4682a9;
          box-sizing: border-box;
          border-radius: 0.5rem;
          width: 45rem;
        }
        .confirm-password-Wbo {
          font-weight: 400;
          line-height: 1.2800000509;
          height: 2rem;
          position: absolute;
          top: 1.9277rem;
          font-size: 1.5rem;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
          width: 11.1rem;
          left: 0.4rem;
          display: flex;
          color: #000000;
        }
        .rectangle-146-Rim {
          width: 45.8rem;
          position: absolute;
          box-sizing: border-box;
          border: solid 0.1rem #000000;
          background-color: #4682a9;
          border-radius: 0.5rem;
          height: 4rem;
          left: 0;
          top: 5.1569rem;
        }
        .joblook12-98y {
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.3rem;
          left: 1rem;
          top: 5.9569rem;
          font-size: 1.3rem;
          line-height: 1.76;
          width: 5.3rem;
          position: absolute;
          font-weight: 400;
        }
        .icon-eye-off-outline-413 {
          left: 42.7rem;
          top: 5.8569rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.7rem;
          height: 2.7rem;
          cursor: pointer;
          position: absolute;
        }
      }
      .auto-group-9ul5-ZTb {
        height: 9.9731rem;
        position: relative;
        margin: 0 0.4rem;
        width: calc(100% - 0.8rem);

        .rectangle-136-5gq {
          position: absolute;
          left: 0;
          top: 4.0106rem;
          background-color: #fbeeac;
          border-radius: 0.5rem;
          width: 45rem;
          height: 5.9625rem;
          cursor: pointer;
        }
        .ok-cRs {
          align-items: center;
          font-weight: 400;
          color: #000000;
          position: absolute;
          left: 20.4rem;
          justify-content: center;
          font-family: Aoboshi One, 'Source Sans Pro';
          white-space: nowrap;
          width: 2.7rem;
          top: 6.0503rem;
          display: flex;
          line-height: 1.1294118096;
          height: 2rem;
          font-size: 1.7rem;
        }
      }
    }
  }
}
