
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.register-email-pass1-eye-UTF {
  box-sizing: border-box;
  padding-bottom: 21.7rem;
  align-items: center;
  display: flex;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-direction: column;

  .rectangle-130-oVX {
    width: 100%;
    height: 10rem;
    background-color: #4682a9;
    flex-shrink: 0;
    margin-bottom: 7.4rem;
  }
  .auto-group-xpxj-wLq {
    width: 100%;
    height: 60rem;
    display: flex;
    align-items: center;
    background-color: #213555;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5.6rem 9.9rem 8.6rem 12rem;

    .auto-group-bj5o-Ta5 {
      flex-direction: column;
      flex-shrink: 0;
      margin: 15.2rem 16.8rem 17.65rem 0rem;
      height: calc(100% - 32.85rem);
      align-items: center;
      display: flex;

      .jobsearch-BW5 {
        display: flex;
        color: #ffffff;
        flex-shrink: 0;
        white-space: nowrap;
        margin-bottom: 8.95rem;
        align-items: center;
        justify-content: center;
        font-size: 15rem;
        font-weight: 400;
        line-height: 0.1280000051;
        font-family: Birthstone Bounce, 'Source Sans Pro';
      }
      .website-mencari-pekerjaan-tfP {
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        font-weight: 400;
        line-height: 0.6400000254;
        color: #ffffff;
        white-space: nowrap;
        margin-right: 1.7rem;
        display: flex;
        font-family: Arya, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .group-14-Qdj {
      padding: 3.287rem 2.1rem 3.338rem 2.1rem;
      width: 50rem;
      height: 100%;
      background-color: #4682a9;
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;

      .register-L1b {
        white-space: nowrap;
        margin: 0rem 0rem 0.011rem 0.4rem;
        display: flex;
        font-size: 2rem;
        font-weight: 400;
        line-height: 0.9600000381;
        color: #000000;
        font-family: Arya, 'Source Sans Pro';
      }
      .auto-group-lhmx-e2H {
        margin: 0rem 0rem 0.229rem 0.4rem;
        padding-top: 1.9733rem;
        display: flex;
        font-family: Amiri, 'Source Sans Pro';
        box-sizing: border-box;
        width: 14.6rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2800000509;
        color: #000000;
        white-space: nowrap;
      }
      .auto-group-zcnh-KeD {
        margin-bottom: 0.2506rem;
        width: 100%;
        height: 9.2494rem;
        position: relative;

        .rectangle-134-fi5 {
          border-radius: 0.5rem;
          width: 45rem;
          height: 5.725rem;
          position: absolute;
          left: 0.4rem;
          top: 3.5244rem;
          border: solid 0.2rem #4682a9;
          box-sizing: border-box;
        }
        .password-aa9 {
          height: 2rem;
          position: absolute;
          display: flex;
          font-size: 1.5rem;
          color: #000000;
          width: 5.6rem;
          top: 6.1708rem;
          font-weight: 400;
          line-height: 1.2800000509;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
          left: 0.4rem;
        }
        .rectangle-143-5Wu {
          border-radius: 0.5rem;
          width: 45.8rem;
          height: 4rem;
          position: absolute;
          left: 0;
          border: solid 0.1rem #000000;
          top: 0;
          box-sizing: border-box;
          background-color: #4682a9;
        }
        .jobsearchgmailcoid-nw7 {
          width: 11.3rem;
          height: 2.3rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          position: absolute;
          left: 1rem;
          top: 0.9rem;
          font-size: 1.3rem;
          line-height: 1.76;
          font-family: Amiri, 'Source Sans Pro';
        }
      }
      .auto-group-aur1-h2V {
        margin-bottom: 0.0431rem;
        width: 100%;
        height: 4rem;
        position: relative;

        .rectangle-144-qeV {
          left: 0;
          top: 0;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          border-radius: 0.5rem;
          width: 45.8rem;
          height: 4rem;
          position: absolute;
        }
        .rectangle-145-yVo {
          width: 45.8rem;
          position: absolute;
          border: solid 0.1rem #000000;
          border-radius: 0.5rem;
          height: 4rem;
          left: 0;
          top: 0;
          box-sizing: border-box;
          background-color: #4682a9;
        }
        .joblook12-6aR {
          position: absolute;
          top: 0.9rem;
          font-weight: 400;
          line-height: 1.76;
          font-family: Amiri, 'Source Sans Pro';
          width: 5.3rem;
          height: 2.3rem;
          left: 1rem;
          font-size: 1.3rem;
          color: #000000;
          white-space: nowrap;
        }
        .icon-eye-off-outline-ozd {
          vertical-align: top;
          width: 2.7rem;
          height: 2.7rem;
          cursor: pointer;
          position: absolute;
          left: 42.7rem;
          top: 0.7rem;
          object-fit: contain;
        }
      }
      .auto-group-cpch-8n1 {
        margin-bottom: 0.2894rem;
        width: 100%;
        height: 9.1569rem;
        position: relative;

        .rectangle-135-gYd {
          position: absolute;
          left: 0.4rem;
          top: 0;
          border: solid 0.2rem #4682a9;
          box-sizing: border-box;
          border-radius: 0.5rem;
          width: 45rem;
          height: 5.725rem;
        }
        .confirm-password-1au {
          position: absolute;
          font-size: 1.5rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          font-family: Amiri, 'Source Sans Pro';
          width: 11.1rem;
          height: 2rem;
          left: 0.4rem;
          top: 1.9277rem;
          display: flex;
          line-height: 1.2800000509;
        }
        .rectangle-146-iER {
          width: 45.8rem;
          cursor: pointer;
          left: 0;
          border: solid 0.1rem #000000;
          height: 4rem;
          position: absolute;
          top: 5.1569rem;
          box-sizing: border-box;
          background-color: #4682a9;
          border-radius: 0.5rem;
        }
      }
      .auto-group-ehyf-d6V {
        height: 9.9731rem;
        position: relative;
        margin: 0 0.4rem;
        width: calc(100% - 0.8rem);

        .rectangle-136-xPf {
          width: 45rem;
          height: 5.9625rem;
          position: absolute;
          left: 0;
          top: 4.0106rem;
          background-color: #fbeeac;
          border-radius: 0.5rem;
        }
        .ok-Hgq {
          left: 20.4rem;
          line-height: 1.1294118096;
          position: absolute;
          top: 6.0503rem;
          display: flex;
          align-items: center;
          font-size: 1.7rem;
          font-weight: 400;
          white-space: nowrap;
          width: 2.7rem;
          height: 2rem;
          justify-content: center;
          color: #000000;
          font-family: Aoboshi One, 'Source Sans Pro';
        }
      }
    }
  }
}
