
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.register-email-pass1-pass2-yUR {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 21.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  box-sizing: border-box;

  .rectangle-130-hQR {
    margin-bottom: 7.4rem;
    width: 100%;
    height: 10rem;
    background-color: #4682a9;
    flex-shrink: 0;
  }
  .auto-group-evgz-S77 {
    padding: 5.6rem 9.9rem 8.6rem 12rem;
    width: 100%;
    height: 60rem;
    display: flex;
    align-items: center;
    background-color: #213555;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-qe3f-xLM {
      margin: 15.2rem 16.8rem 17.65rem 0rem;
      height: calc(100% - 32.85rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .jobsearch-gXF {
        justify-content: center;
        font-weight: 400;
        font-family: Birthstone Bounce, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        align-items: center;
        display: flex;
        font-size: 15rem;
        line-height: 0.1280000051;
        color: #ffffff;
        margin-bottom: 8.95rem;
      }
      .website-mencari-pekerjaan-bu7 {
        display: flex;
        font-size: 3rem;
        line-height: 0.6400000254;
        color: #ffffff;
        font-family: Arya, 'Source Sans Pro';
        margin-right: 1.7rem;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .group-14-vAh {
      background-color: #4682a9;
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.287rem 2.1rem 3.338rem 2.1rem;
      width: 50rem;
      height: 100%;

      .register-2zR {
        white-space: nowrap;
        margin: 0rem 0rem 0.011rem 0.4rem;
        display: flex;
        font-size: 2rem;
        font-weight: 400;
        line-height: 0.9600000381;
        color: #000000;
        font-family: Arya, 'Source Sans Pro';
      }
      .auto-group-gz49-MG1 {
        line-height: 1.2800000509;
        white-space: nowrap;
        padding-top: 1.9733rem;
        display: flex;
        font-size: 1.5rem;
        font-weight: 400;
        color: #000000;
        font-family: Amiri, 'Source Sans Pro';
        margin: 0rem 0rem 0.229rem 0.4rem;
        box-sizing: border-box;
        width: 14.6rem;
      }
      .auto-group-rfbs-SYM {
        margin-bottom: 0.2506rem;
        width: 100%;
        height: 9.2494rem;
        position: relative;

        .rectangle-134-z45 {
          border-radius: 0.5rem;
          width: 45rem;
          height: 5.725rem;
          position: absolute;
          left: 0.4rem;
          top: 3.5244rem;
          border: solid 0.2rem #4682a9;
          box-sizing: border-box;
        }
        .password-J4m {
          top: 6.1708rem;
          font-size: 1.5rem;
          font-weight: 400;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          width: 5.6rem;
          position: absolute;
          display: flex;
          line-height: 1.2800000509;
          white-space: nowrap;
          height: 2rem;
          left: 0.4rem;
        }
        .rectangle-143-1E5 {
          top: 0;
          border-radius: 0.5rem;
          height: 4rem;
          position: absolute;
          left: 0;
          background-color: #4682a9;
          width: 45.8rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
        }
        .jobsearchgmailcoid-Jys {
          width: 11.3rem;
          position: absolute;
          left: 1rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.76;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.3rem;
          top: 0.9rem;
        }
      }
      .auto-group-wvyu-cDs {
        margin-bottom: 0.0431rem;
        width: 100%;
        height: 4rem;
        position: relative;

        .rectangle-144-kay {
          box-sizing: border-box;
          border-radius: 0.5rem;
          width: 45.8rem;
          height: 4rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #000000;
        }
        .rectangle-145-5t9 {
          box-sizing: border-box;
          width: 45.8rem;
          height: 4rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #000000;
          background-color: #4682a9;
          border-radius: 0.5rem;
        }
        .item--DDf {
          font-size: 1.3rem;
          line-height: 1.76;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          position: absolute;
          top: 1.2rem;
          left: 1rem;
          font-weight: 400;
          white-space: nowrap;
          width: 5.1rem;
          height: 2.3rem;
        }
        .icon-eye-outline-uMP {
          position: absolute;
          left: 42.7rem;
          top: 0.7rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.7rem;
          height: 2.7rem;
          cursor: pointer;
        }
      }
      .auto-group-rrem-pjF {
        height: 9.1569rem;
        position: relative;
        margin-bottom: 0.2894rem;
        width: 100%;

        .rectangle-135-m8h {
          border-radius: 0.5rem;
          width: 45rem;
          height: 5.725rem;
          position: absolute;
          left: 0.4rem;
          top: 0;
          border: solid 0.2rem #4682a9;
          box-sizing: border-box;
        }
        .confirm-password-VaV {
          width: 11.1rem;
          left: 0.4rem;
          top: 1.9277rem;
          font-weight: 400;
          color: #000000;
          height: 2rem;
          position: absolute;
          display: flex;
          font-size: 1.5rem;
          line-height: 1.2800000509;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rectangle-146-133 {
          height: 4rem;
          left: 0;
          background-color: #4682a9;
          width: 45.8rem;
          top: 5.1569rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          border-radius: 0.5rem;
          position: absolute;
        }
        .item--ii9 {
          color: #000000;
          width: 5.1rem;
          height: 2.3rem;
          position: absolute;
          left: 1rem;
          top: 6.1569rem;
          font-weight: 400;
          line-height: 1.76;
          white-space: nowrap;
          font-size: 1.3rem;
          font-family: Amiri, 'Source Sans Pro';
        }
        .icon-eye-outline-dKK {
          cursor: pointer;
          position: absolute;
          left: 42.7rem;
          top: 5.6569rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.7rem;
          height: 2.7rem;
        }
      }
      .auto-group-wvhk-LzR {
        height: 9.9731rem;
        position: relative;
        margin: 0 0.4rem;
        width: calc(100% - 0.8rem);

        .rectangle-136-PSu {
          border-radius: 0.5rem;
          width: 45rem;
          height: 5.9625rem;
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 4.0106rem;
          background-color: #fbeeac;
        }
        .ok-ik5 {
          line-height: 1.1294118096;
          font-family: Aoboshi One, 'Source Sans Pro';
          white-space: nowrap;
          left: 20.4rem;
          font-size: 1.7rem;
          font-weight: 400;
          color: #000000;
          width: 2.7rem;
          height: 2rem;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 6.0503rem;
        }
      }
    }
  }
}
