
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.acara-6rR {
  display: flex;
  align-items: flex-end;
  background-color: #4682a9;
  box-sizing: border-box;
  padding-right: 2.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-2ftq-2zy {
    flex-shrink: 0;
    margin: 0rem 2.8rem 0.2rem 0rem;
    width: 11.2rem;
    height: 102.4rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
  }
  .frame-2-juP {
    flex-shrink: 0;
    margin-right: 2.9rem;
    flex-direction: column;
    width: 40.9rem;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    background-color: #213555;
    box-sizing: border-box;
    padding: 5.3rem 0rem 62.7rem 0rem;

    .auto-group-ddd7-Fcq {
      font-family: Acme, 'Source Sans Pro';
      flex-shrink: 0;
      width: 100%;
      display: flex;
      font-size: 2rem;
      line-height: 1.1199999809;
      color: #ffffff;
      white-space: nowrap;
      border: solid 0.1rem #419197;
      background-color: #213555;
      box-sizing: border-box;
      padding: 2rem 7.4rem 1.6rem 7.4rem;
      font-weight: 400;
    }
    .auto-group-9b49-iFX {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.1199999809;
      color: #ffffff;
      white-space: nowrap;
      background-color: #213555;
      padding: 1.6rem 7.4rem 2rem 7.4rem;
      width: 100%;
      display: flex;
      font-family: Acme, 'Source Sans Pro';
      border: solid 0.1rem #419197;
      flex-shrink: 0;
      box-sizing: border-box;
    }
    .auto-group-w9rm-Q8M {
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;
      font-size: 2rem;
      color: #000000;
      font-family: Acme, 'Source Sans Pro';
      background-color: #419197;
      padding: 1.6rem 7.4rem 2rem 7.4rem;
      display: flex;
      font-weight: 400;
      line-height: 1.1199999809;
      white-space: nowrap;
    }
  }
  .auto-group-ycp5-HT3 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 84.6rem;
    align-items: flex-end;

    .auto-group-ax2z-dWu {
      margin: 0rem 2.6rem 7.3rem 63.75rem;
      width: calc(100% - 66.35rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .welcome-dilla-kLd {
        margin-right: 1.85rem;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2800000509;
        display: flex;
        justify-content: center;
        color: #ffffff;
        font-family: Aoboshi One, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .vector-4cD {
        vertical-align: top;
        flex-shrink: 0;
        width: 5.7rem;
        height: 5.8rem;
        object-fit: contain;
      }
    }
    .frame-89-11f {
      box-sizing: border-box;
      padding-top: 6.1rem;
      align-items: center;
      flex-shrink: 0;
      background-color: #d9d9d9;
      width: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;

      .auto-group-es9x-wvu {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 1rem 4.3rem 2.1rem;
        width: calc(100% - 3.1rem);
        height: 53.1rem;
        display: flex;

        .image-24-fM7 {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 4.7rem 0rem 0rem;
          width: 10rem;
          height: 10rem;
          cursor: pointer;
          object-fit: cover;
        }
        .kalender-acara-muw {
          border-radius: 0.8rem;
          flex-shrink: 0;
          margin-right: 4.6373rem;
          box-sizing: border-box;
          padding: 5.55rem 5.6rem;
          width: 52.1627rem;
          height: 100%;
          background-color: #213555;

          .frame-10-uFT {
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .title-TXs {
              flex-shrink: 0;
              margin-bottom: 5.5rem;
              width: 100%;
              display: flex;
              align-items: center;

              .previous-cQm {
                margin-right: 12.2186rem;
                width: 2.2627rem;
                height: 2.2627rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .november-YpD {
                margin-right: 12.2186rem;
                justify-content: center;
                font-size: 2.4rem;
                line-height: 1.2125;
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                align-items: center;
                font-weight: 600;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
              }
              .next-53T {
                width: 2.2627rem;
                height: 2.2627rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .dates-1xh {
              align-items: flex-end;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 0.0627rem;
              width: 40.9rem;

              .frame-9-A4u {
                align-items: center;
                flex-shrink: 0;
                margin-bottom: 3.1rem;
                width: 100%;
                display: flex;
                column-gap: 3.2rem;

                .mo-VN5 {
                  font-size: 2.4rem;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-weight: 500;
                  line-height: 1.2125;
                }
                .tu-Dos {
                  justify-content: center;
                  line-height: 1.2125;
                  font-weight: 500;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  align-items: center;
                  font-size: 2.4rem;
                }
                .we-Mv5 {
                  font-weight: 500;
                  line-height: 1.2125;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  justify-content: center;
                  color: #ffffff;
                  align-items: center;
                  font-size: 2.4rem;
                }
                .th-hU9 {
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  display: flex;
                  justify-content: center;
                  font-size: 2.4rem;
                  font-weight: 500;
                  color: #ffffff;
                  align-items: center;
                  line-height: 1.2125;
                  white-space: nowrap;
                }
                .fr-SwX {
                  color: #ffffff;
                  flex-shrink: 0;
                  display: flex;
                  align-items: center;
                  font-size: 2.4rem;
                  font-weight: 500;
                  line-height: 1.2125;
                  justify-content: center;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .sa-BPK {
                  display: flex;
                  justify-content: center;
                  font-size: 2.4rem;
                  line-height: 1.2125;
                  font-family: Inter, 'Source Sans Pro';
                  align-items: center;
                  font-weight: 500;
                  color: #ffffff;
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .su-w7b {
                  justify-content: center;
                  font-size: 2.4rem;
                  font-weight: 500;
                  white-space: nowrap;
                  display: flex;
                  align-items: center;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  line-height: 1.2125;
                  color: #ffffff;
                }
              }
              .auto-group-dsrq-HBT {
                margin-right: 0.0314rem;
                height: 27.4rem;
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;

                .auto-group-tlxd-cjX {
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 6.1rem 2.1rem 0rem 0rem;
                  height: 100%;
                  display: flex;
                  align-items: flex-end;

                  .frame-2-wmo {
                    flex-direction: column;
                    flex-shrink: 0;
                    margin-right: 3.2rem;
                    height: 100%;
                    row-gap: 3.1rem;
                    align-items: center;
                    display: flex;

                    .item-5-Ham {
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      justify-content: center;
                      font-size: 2.4rem;
                      line-height: 1.2125;
                      color: #cccccc;
                      display: flex;
                      align-items: center;
                      font-weight: 400;
                      flex-shrink: 0;
                    }
                    .item-12-RBB {
                      align-items: center;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      display: flex;
                      justify-content: center;
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 1.2125;
                      flex-shrink: 0;
                    }
                    .item-19-9cy {
                      align-items: center;
                      font-size: 2.4rem;
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      justify-content: center;
                      font-weight: 400;
                      line-height: 1.2125;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                    }
                    .item-26-5mX {
                      font-family: Inter, 'Source Sans Pro';
                      align-items: center;
                      font-weight: 400;
                      color: #cccccc;
                      line-height: 1.2125;
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      justify-content: center;
                      font-size: 2.4rem;
                    }
                  }
                  .frame-3-DMw {
                    flex-direction: column;
                    flex-shrink: 0;
                    margin-right: 3.7rem;
                    height: 100%;
                    row-gap: 3.1rem;
                    align-items: center;
                    display: flex;

                    .item-6-Zgh {
                      display: flex;
                      align-items: center;
                      line-height: 1.2125;
                      white-space: nowrap;
                      flex-shrink: 0;
                      justify-content: center;
                      font-size: 2.4rem;
                      font-weight: 400;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                    }
                    .item-13-6gd {
                      flex-shrink: 0;
                      align-items: center;
                      font-size: 2.4rem;
                      font-weight: 400;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      display: flex;
                      justify-content: center;
                      line-height: 1.2125;
                      color: #cccccc;
                    }
                    .item-20-dgZ {
                      line-height: 1.2125;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      display: flex;
                      align-items: center;
                      font-size: 2.4rem;
                      flex-shrink: 0;
                      justify-content: center;
                      font-weight: 400;
                      white-space: nowrap;
                    }
                    .item-27-yVX {
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      font-weight: 400;
                      font-size: 2.4rem;
                      line-height: 1.2125;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      align-items: center;
                      justify-content: center;
                    }
                  }
                  .frame-4-7bj {
                    height: 100%;
                    row-gap: 3.1rem;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;

                    .item-7-GDj {
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      display: flex;
                      justify-content: center;
                      font-weight: 400;
                      line-height: 1.2125;
                      align-items: center;
                      font-size: 2.4rem;
                      color: #cccccc;
                      flex-shrink: 0;
                    }
                    .item-14-1BK {
                      align-items: center;
                      line-height: 1.2125;
                      flex-shrink: 0;
                      display: flex;
                      justify-content: center;
                      font-size: 2.4rem;
                      font-weight: 400;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                    .item-21-jND {
                      line-height: 1.2125;
                      font-family: Inter, 'Source Sans Pro';
                      flex-shrink: 0;
                      align-items: center;
                      justify-content: center;
                      font-size: 2.4rem;
                      font-weight: 400;
                      display: flex;
                      color: #cccccc;
                      white-space: nowrap;
                    }
                    .item-28-Gd3 {
                      font-size: 2.4rem;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-weight: 400;
                      line-height: 1.2125;
                      color: #cccccc;
                    }
                  }
                }
                .group-1-QUM {
                  padding: 0 1.3rem;
                  width: 5.6rem;
                  height: 100%;
                  flex-shrink: 0;
                  margin-right: 1.7rem;
                  box-sizing: border-box;

                  .frame-5-YaZ {
                    width: 100%;
                    height: 100%;
                    row-gap: 3.1rem;
                    align-items: center;
                    display: flex;
                    flex-direction: column;

                    .item-1-VVo {
                      flex-shrink: 0;
                      justify-content: center;
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 1.2125;
                      font-family: Inter, 'Source Sans Pro';
                      display: flex;
                      align-items: center;
                      color: #cccccc;
                      white-space: nowrap;
                    }
                    .item-8-31X {
                      white-space: nowrap;
                      display: flex;
                      align-items: center;
                      font-weight: 400;
                      font-family: Inter, 'Source Sans Pro';
                      flex-shrink: 0;
                      justify-content: center;
                      font-size: 2.4rem;
                      line-height: 1.2125;
                      color: #cccccc;
                    }
                    .item-15-yA5 {
                      font-weight: 400;
                      line-height: 1.2125;
                      color: #cccccc;
                      flex-shrink: 0;
                      align-items: center;
                      font-size: 2.4rem;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      display: flex;
                      justify-content: center;
                    }
                    .item-22-i7f {
                      align-items: center;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      justify-content: center;
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 1.2125;
                    }
                    .item-29-TL9 {
                      font-weight: 400;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      font-size: 2.4rem;
                      line-height: 1.2125;
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }
                  }
                }
                .frame-6-aQm {
                  align-items: center;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  margin-right: 3.2rem;
                  height: 100%;
                  row-gap: 3.1rem;

                  .item-2-Jbf {
                    align-items: center;
                    justify-content: center;
                    font-size: 2.4rem;
                    line-height: 1.2125;
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-weight: 400;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                  }
                  .item-9-FG1 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2.4rem;
                    white-space: nowrap;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                  }
                  .item-16-nFw {
                    font-weight: 400;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;
                    font-size: 2.4rem;
                    align-items: center;
                    line-height: 1.2125;
                    flex-shrink: 0;
                  }
                  .item-23-XDX {
                    font-weight: 400;
                    font-family: Inter, 'Source Sans Pro';
                    display: flex;
                    font-size: 2.4rem;
                    line-height: 1.2125;
                    color: #cccccc;
                    white-space: nowrap;
                    flex-shrink: 0;
                    align-items: center;
                    justify-content: center;
                  }
                  .item-30-GB7 {
                    line-height: 1.2125;
                    color: #cccccc;
                    flex-shrink: 0;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    font-size: 2.4rem;
                  }
                }
                .frame-7-CKf {
                  margin-right: 3rem;
                  height: 100%;
                  row-gap: 3.1rem;
                  align-items: center;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .item-3-wY9 {
                    font-weight: 400;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2.4rem;
                    line-height: 1.2125;
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .item-10-Hc1 {
                    font-weight: 400;
                    color: #cccccc;
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;
                    font-size: 2.4rem;
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                    align-items: center;
                  }
                  .item-17-2pV {
                    display: flex;
                    font-weight: 400;
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                    align-items: center;
                    justify-content: center;
                    font-size: 2.4rem;
                    color: #cccccc;
                    white-space: nowrap;
                  }
                  .item-24-Avh {
                    display: flex;
                    align-items: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    flex-shrink: 0;
                    justify-content: center;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .item-31-hvd {
                    display: flex;
                    font-size: 2.4rem;
                    font-family: Inter, 'Source Sans Pro';
                    line-height: 1.2125;
                    color: #cccccc;
                    white-space: nowrap;
                    flex-shrink: 0;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                  }
                }
                .frame-8-dpH {
                  align-items: center;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  row-gap: 3.1rem;

                  .item-4-zPw {
                    flex-shrink: 0;
                    align-items: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    white-space: nowrap;
                    font-family: Inter, 'Source Sans Pro';
                    display: flex;
                    justify-content: center;
                    line-height: 1.2125;
                    color: #cccccc;
                  }
                  .item-11-LTo {
                    justify-content: center;
                    font-size: 2.4rem;
                    line-height: 1.2125;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                    display: flex;
                    font-weight: 400;
                    white-space: nowrap;
                    align-items: center;
                  }
                  .item-18-Ua1 {
                    font-size: 2.4rem;
                    font-weight: 400;
                    white-space: nowrap;
                    flex-shrink: 0;
                    justify-content: center;
                    align-items: center;
                    line-height: 1.2125;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    display: flex;
                  }
                  .item-25-1Zw {
                    display: flex;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                    align-items: center;
                    justify-content: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    white-space: nowrap;
                  }
                }
              }
            }
          }
        }
        .image-23-ijF {
          width: 10rem;
          height: 10rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.1rem;
        }
      }
      .frame-90-TRw {
        box-sizing: border-box;
        color: #ffffff;
        display: flex;
        padding: 2.7rem 2.5rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 400;
        align-items: baseline;
        background-color: #223355;
        width: 100%;
        height: 22.2rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;

        .frame-90-TRw-sub-0 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Irish Grover, 'Source Sans Pro';
        }
        .frame-90-TRw-sub-1 {
        }
      }
    }
  }
}
