
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.acara-j8y {
  display: flex;
  align-items: flex-end;
  background-color: #4682a9;
  box-sizing: border-box;
  padding-right: 2.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-husx-4S9 {
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 2.8rem 0.2rem 0rem;
    width: 11.2rem;
    height: 102.4rem;
    position: relative;
  }
  .frame-2-Azy {
    box-sizing: border-box;
    padding: 5.3rem 0rem 62.7rem 0rem;
    width: 40.9rem;
    position: relative;
    display: flex;
    flex-shrink: 0;
    margin-right: 2.9rem;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    background-color: #213555;

    .auto-group-nvft-Go7 {
      padding: 2rem 7.4rem 1.6rem 7.4rem;
      display: flex;
      font-size: 2rem;
      font-family: Acme, 'Source Sans Pro';
      background-color: #213555;
      border: solid 0.1rem #419197;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;
      font-weight: 400;
      line-height: 1.1199999809;
      color: #ffffff;
      white-space: nowrap;
    }
    .auto-group-a3xs-Xyw {
      white-space: nowrap;
      background-color: #213555;
      padding: 1.6rem 7.4rem 2rem 7.4rem;
      width: 100%;
      font-weight: 400;
      line-height: 1.1199999809;
      font-family: Acme, 'Source Sans Pro';
      border: solid 0.1rem #419197;
      flex-shrink: 0;
      box-sizing: border-box;
      display: flex;
      font-size: 2rem;
      color: #ffffff;
    }
    .auto-group-bcvz-owT {
      color: #000000;
      width: 100%;
      padding: 1.6rem 7.4rem 2rem 7.4rem;
      display: flex;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.1199999809;
      font-family: Acme, 'Source Sans Pro';
      white-space: nowrap;
      box-sizing: border-box;
      flex-shrink: 0;
      background-color: #419197;
    }
  }
  .auto-group-le61-hmw {
    width: 84.6rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-xnt7-rPw {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 2.6rem 7.3rem 63.75rem;
      width: calc(100% - 66.35rem);

      .welcome-dilla-aaq {
        justify-content: center;
        font-size: 1.5rem;
        font-weight: 400;
        color: #ffffff;
        font-family: Aoboshi One, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 1.85rem;
        align-items: center;
        flex-shrink: 0;
        display: flex;
        line-height: 1.2800000509;
      }
      .vector-tbX {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 5.7rem;
        height: 5.8rem;
      }
    }
    .frame-89-2Sq {
      flex-shrink: 0;
      box-sizing: border-box;
      padding-top: 6.1rem;
      overflow: hidden;
      align-items: center;
      display: flex;
      width: 100%;
      position: relative;
      flex-direction: column;
      background-color: #d9d9d9;

      .auto-group-9gih-mvD {
        margin: 0rem 1rem 4.3rem 2.1rem;
        width: calc(100% - 3.1rem);
        height: 53.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .image-24-VLR {
          margin: 0.1rem 4.7rem 0rem 0rem;
          width: 10rem;
          height: 10rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .kalender-acara-bPT {
          border-radius: 0.8rem;
          flex-shrink: 0;
          margin-right: 4.6373rem;
          box-sizing: border-box;
          padding: 5.55rem 5.6rem;
          width: 52.1627rem;
          height: 100%;
          background-color: #213555;

          .frame-10-X2D {
            width: 100%;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .title-gA1 {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-bottom: 5.5rem;
              width: 100%;

              .previous-EBX {
                width: 2.2627rem;
                height: 2.2627rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 13.4686rem;
              }
              .november-mhF {
                justify-content: center;
                font-size: 2.4rem;
                white-space: nowrap;
                display: flex;
                align-items: center;
                font-weight: 600;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 13.4686rem;
              }
              .next-6Ud {
                width: 2.2627rem;
                height: 2.2627rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .dates-SYV {
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 0.0627rem;
              width: 40.9rem;
              align-items: flex-end;
              display: flex;

              .frame-9-PCq {
                margin-bottom: 3.1rem;
                width: 100%;
                display: flex;
                column-gap: 3.2rem;
                align-items: center;
                flex-shrink: 0;

                .mo-KcH {
                  font-weight: 500;
                  color: #ffffff;
                  white-space: nowrap;
                  justify-content: center;
                  align-items: center;
                  font-size: 2.4rem;
                  line-height: 1.2125;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  display: flex;
                }
                .tu-r6R {
                  font-size: 2.4rem;
                  font-weight: 500;
                  line-height: 1.2125;
                  flex-shrink: 0;
                  display: flex;
                  justify-content: center;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  align-items: center;
                }
                .we-BuP {
                  align-items: center;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  line-height: 1.2125;
                  color: #ffffff;
                  flex-shrink: 0;
                  display: flex;
                  justify-content: center;
                  font-size: 2.4rem;
                  font-weight: 500;
                }
                .th-vry {
                  display: flex;
                  font-size: 2.4rem;
                  font-weight: 500;
                  color: #ffffff;
                  white-space: nowrap;
                  align-items: center;
                  justify-content: center;
                  line-height: 1.2125;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                }
                .fr-fpZ {
                  align-items: center;
                  justify-content: center;
                  font-size: 2.4rem;
                  font-weight: 500;
                  line-height: 1.2125;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  color: #ffffff;
                  flex-shrink: 0;
                }
                .sa-CpV {
                  font-weight: 500;
                  font-family: Inter, 'Source Sans Pro';
                  align-items: center;
                  justify-content: center;
                  font-size: 2.4rem;
                  line-height: 1.2125;
                  color: #ffffff;
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                }
                .su-xHs {
                  align-items: center;
                  justify-content: center;
                  flex-shrink: 0;
                  display: flex;
                  font-size: 2.4rem;
                  font-weight: 500;
                  line-height: 1.2125;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .auto-group-ifvd-7Am {
                align-items: flex-start;
                flex-shrink: 0;
                margin-right: 0.0314rem;
                height: 27.4rem;
                display: flex;

                .auto-group-ewhf-FGy {
                  display: flex;
                  align-items: flex-end;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 6.1rem 2.1rem 0rem 0rem;
                  height: 100%;

                  .frame-2-aq3 {
                    margin-right: 3.2rem;
                    height: 100%;
                    row-gap: 3.1rem;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;

                    .item-5-vtu {
                      align-items: center;
                      font-size: 2.4rem;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      color: #cccccc;
                      flex-shrink: 0;
                      display: flex;
                      justify-content: center;
                      font-weight: 400;
                      line-height: 1.2125;
                    }
                    .item-12-sJM {
                      display: flex;
                      align-items: center;
                      font-weight: 400;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      justify-content: center;
                      font-size: 2.4rem;
                      line-height: 1.2125;
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                    .item-19-oC1 {
                      font-weight: 400;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      align-items: center;
                      font-size: 2.4rem;
                      justify-content: center;
                      line-height: 1.2125;
                      color: #cccccc;
                    }
                    .item-26-Kw3 {
                      align-items: center;
                      line-height: 1.2125;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      justify-content: center;
                      font-size: 2.4rem;
                      font-weight: 400;
                    }
                  }
                  .frame-3-rvy {
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    margin-right: 3.7rem;
                    height: 100%;
                    row-gap: 3.1rem;
                    align-items: center;

                    .item-6-btZ {
                      align-items: center;
                      line-height: 1.2125;
                      color: #cccccc;
                      flex-shrink: 0;
                      display: flex;
                      font-size: 2.4rem;
                      font-weight: 400;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      justify-content: center;
                    }
                    .item-13-YYu {
                      display: flex;
                      justify-content: center;
                      font-weight: 400;
                      color: #cccccc;
                      align-items: center;
                      font-size: 2.4rem;
                      line-height: 1.2125;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                    .item-20-gv1 {
                      justify-content: center;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      display: flex;
                      align-items: center;
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 1.2125;
                      flex-shrink: 0;
                    }
                    .item-27-RMo {
                      font-weight: 400;
                      white-space: nowrap;
                      justify-content: center;
                      font-size: 2.4rem;
                      line-height: 1.2125;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      flex-shrink: 0;
                      display: flex;
                      align-items: center;
                    }
                  }
                  .frame-4-MFT {
                    height: 100%;
                    row-gap: 3.1rem;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;

                    .item-7-hKK {
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      line-height: 1.2125;
                      font-size: 2.4rem;
                      font-weight: 400;
                    }
                    .item-14-3PB {
                      color: #cccccc;
                      white-space: nowrap;
                      display: flex;
                      font-weight: 400;
                      font-size: 2.4rem;
                      line-height: 1.2125;
                      font-family: Inter, 'Source Sans Pro';
                      flex-shrink: 0;
                      align-items: center;
                      justify-content: center;
                    }
                    .item-21-ynd {
                      display: flex;
                      align-items: center;
                      flex-shrink: 0;
                      white-space: nowrap;
                      justify-content: center;
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 1.2125;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                    }
                    .item-28-vC5 {
                      line-height: 1.2125;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-size: 2.4rem;
                      font-weight: 400;
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                  }
                }
                .group-1-FEM {
                  margin-right: 1.7rem;
                  box-sizing: border-box;
                  padding: 0 1.3rem;
                  width: 5.6rem;
                  height: 100%;
                  flex-shrink: 0;

                  .frame-5-b3K {
                    width: 100%;
                    height: 100%;
                    row-gap: 3.1rem;
                    align-items: center;
                    display: flex;
                    flex-direction: column;

                    .item-1-w7B {
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 1.2125;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                    }
                    .item-8-4xV {
                      justify-content: center;
                      font-weight: 400;
                      line-height: 1.2125;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      align-items: center;
                      font-size: 2.4rem;
                      flex-shrink: 0;
                      display: flex;
                    }
                    .item-15-QmT {
                      display: flex;
                      justify-content: center;
                      font-weight: 400;
                      white-space: nowrap;
                      flex-shrink: 0;
                      align-items: center;
                      font-size: 2.4rem;
                      line-height: 1.2125;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                    }
                    .item-22-xHB {
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      align-items: center;
                      justify-content: center;
                      font-size: 2.4rem;
                      line-height: 1.2125;
                      display: flex;
                      font-weight: 400;
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                    .item-29-6uB {
                      font-size: 2.4rem;
                      line-height: 1.2125;
                      font-family: Inter, 'Source Sans Pro';
                      flex-shrink: 0;
                      display: flex;
                      justify-content: center;
                      font-weight: 400;
                      color: #cccccc;
                      white-space: nowrap;
                      align-items: center;
                    }
                  }
                }
                .frame-6-2H3 {
                  flex-direction: column;
                  flex-shrink: 0;
                  margin-right: 3.2rem;
                  height: 100%;
                  row-gap: 3.1rem;
                  align-items: center;
                  display: flex;

                  .item-2-APF {
                    justify-content: center;
                    font-weight: 400;
                    color: #cccccc;
                    white-space: nowrap;
                    display: flex;
                    font-size: 2.4rem;
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                    align-items: center;
                  }
                  .item-9-uLq {
                    flex-shrink: 0;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    font-size: 2.4rem;
                    color: #cccccc;
                  }
                  .item-16-r1B {
                    align-items: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                    display: flex;
                    line-height: 1.2125;
                    color: #cccccc;
                    white-space: nowrap;
                    justify-content: center;
                  }
                  .item-23-ybb {
                    display: flex;
                    justify-content: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    white-space: nowrap;
                    align-items: center;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                  }
                  .item-30-vWq {
                    align-items: center;
                    justify-content: center;
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    font-size: 2.4rem;
                    font-weight: 400;
                    color: #cccccc;
                  }
                }
                .frame-7-4d3 {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  margin-right: 3rem;
                  height: 100%;
                  row-gap: 3.1rem;
                  align-items: center;

                  .item-3-1YH {
                    flex-shrink: 0;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    font-size: 2.4rem;
                    line-height: 1.2125;
                  }
                  .item-10-Z41 {
                    display: flex;
                    justify-content: center;
                    font-weight: 400;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                    align-items: center;
                    font-size: 2.4rem;
                    line-height: 1.2125;
                    white-space: nowrap;
                  }
                  .item-17-5Y9 {
                    align-items: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #cccccc;
                    flex-shrink: 0;
                    display: flex;
                    justify-content: center;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .item-24-D8Z {
                    flex-shrink: 0;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    white-space: nowrap;
                  }
                  .item-31-kPP {
                    font-size: 2.4rem;
                    font-weight: 400;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    display: flex;
                    align-items: center;
                    white-space: nowrap;
                    flex-shrink: 0;
                    justify-content: center;
                    line-height: 1.2125;
                  }
                }
                .frame-8-6CM {
                  row-gap: 3.1rem;
                  align-items: center;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .item-4-FL9 {
                    align-items: center;
                    justify-content: center;
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    display: flex;
                    font-weight: 400;
                    color: #cccccc;
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 2.4rem;
                  }
                  .item-11-CFP {
                    display: flex;
                    font-size: 2.4rem;
                    line-height: 1.2125;
                    flex-shrink: 0;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                    color: #cccccc;
                  }
                  .item-18-YKF {
                    line-height: 1.2125;
                    color: #cccccc;
                    flex-shrink: 0;
                    justify-content: center;
                    font-weight: 400;
                    font-size: 2.4rem;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    align-items: center;
                  }
                  .item-25-ssK {
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    font-weight: 400;
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    justify-content: center;
                    font-size: 2.4rem;
                    color: #cccccc;
                    white-space: nowrap;
                  }
                }
              }
            }
          }
        }
        .image-23-Pam {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.1rem;
          width: 10rem;
          height: 10rem;
          cursor: pointer;
        }
      }
      .frame-90-8HT {
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        flex-shrink: 0;
        box-sizing: border-box;
        height: 22.2rem;
        align-items: baseline;
        background-color: #223355;
        padding: 2.7rem 2.5rem;
        width: 100%;
        overflow: hidden;
        line-height: 1.2125;
        white-space: nowrap;
        position: relative;
        font-size: 2.4rem;
        color: #ffffff;

        .frame-90-8HT-sub-0 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #ffffff;
          font-family: Irish Grover, 'Source Sans Pro';
        }
        .frame-90-8HT-sub-1 {
        }
      }
    }
  }
}
