
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-email-password-eye-rtm {
  padding-bottom: 25rem;
  width: 100%;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  background-color: #ffffff;

  .rectangle-130-o3K {
    flex-shrink: 0;
    margin-bottom: 7.4rem;
    width: 100%;
    height: 10rem;
    background-color: #4682a9;
  }
  .auto-group-8t37-LJ9 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 12.5rem 9.8rem 15.5rem 12rem;
    width: 100%;
    height: 60rem;
    display: flex;
    align-items: center;
    background-color: #213555;

    .auto-group-bdmp-4E9 {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 8.3rem 16.9rem 10.75rem 0rem;
      height: calc(100% - 19.05rem);

      .jobsearch-z7o {
        font-weight: 400;
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 8.95rem;
        font-size: 15rem;
        justify-content: center;
        line-height: 0.1280000051;
        color: #ffffff;
        font-family: Birthstone Bounce, 'Source Sans Pro';
        display: flex;
        align-items: center;
      }
      .website-mencari-pekerjaan-6gd {
        font-size: 3rem;
        font-weight: 400;
        line-height: 0.6400000254;
        color: #ffffff;
        font-family: Arya, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 1.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
      }
    }
    .group-14-RD7 {
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.4rem 2.5rem 4.6rem 2.5rem;
      width: 50rem;
      height: 100%;
      background-color: #4682a9;

      .welcome-wSM {
        color: #000000;
        font-family: Arya, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.35rem;
        display: flex;
        font-size: 2rem;
        font-weight: 400;
        line-height: 0.9600000381;
      }
      .username-email-USH {
        color: #000000;
        font-family: Amiri, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.35rem;
        display: flex;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2800000509;
      }
      .auto-group-ldq1-oUZ {
        white-space: nowrap;
        box-sizing: border-box;
        padding: 0.9rem 1rem 0.8rem 1rem;
        width: 100%;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.76;
        font-family: Amiri, 'Source Sans Pro';
        border: solid 0.2rem #fbeeac;
        background-color: #4682a9;
        margin-bottom: 0.45rem;
        color: #000000;
        border-radius: 0.5rem;
      }
      .auto-group-7mfk-4fP {
        margin-bottom: 0.55rem;
        width: 5.6rem;
        height: 2rem;
        position: relative;

        .password-QUM {
          top: 0;
          display: flex;
          font-size: 1.5rem;
          line-height: 1.2800000509;
          color: #000000;
          white-space: nowrap;
          left: 0;
          height: 2rem;
          position: absolute;
          font-weight: 400;
          font-family: Amiri, 'Source Sans Pro';
          width: 5.6rem;
        }
        .password-KLR {
          white-space: nowrap;
          left: 0;
          top: 0;
          font-weight: 400;
          line-height: 1.2800000509;
          font-size: 1.5rem;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          width: 5.6rem;
          height: 2rem;
          position: absolute;
          display: flex;
        }
      }
      .auto-group-n6hb-pny {
        box-sizing: border-box;
        padding: 0.7rem 1rem 0.6rem 1rem;
        display: flex;
        border: solid 0.2rem #fbeeac;
        background-color: #4682a9;
        margin-bottom: 0.4rem;
        width: 100%;
        align-items: center;
        border-radius: 0.5rem;

        .joblook12-9aM {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 35rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.76;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
        }
        .icon-eye-off-outline-HgZ {
          vertical-align: top;
          flex-shrink: 0;
          width: 2.7rem;
          height: 2.7rem;
          cursor: pointer;
          object-fit: contain;
        }
      }
      .auto-group-xpdb-z5B {
        width: 100%;
        height: 6.9rem;
        position: relative;

        .rectangle-136-jYZ {
          left: 0;
          top: 2.9rem;
          background-color: #fbeeac;
          border-radius: 0.5rem;
          width: 45rem;
          height: 4rem;
          position: absolute;
        }
        .login-56d {
          line-height: 1.1294118096;
          color: #000000;
          font-family: Aoboshi One, 'Source Sans Pro';
          justify-content: center;
          top: 3.9rem;
          left: 19.7rem;
          font-weight: 400;
          white-space: nowrap;
          position: absolute;
          height: 2rem;
          display: flex;
          align-items: center;
          font-size: 1.7rem;
          width: 5.7rem;
        }
        .register-a3P {
          align-items: center;
          top: 0;
          display: flex;
          font-size: 1.2rem;
          white-space: nowrap;
          width: 4.7rem;
          justify-content: center;
          font-weight: 400;
          color: #000000;
          font-family: Aoboshi One, 'Source Sans Pro';
          height: 2rem;
          position: absolute;
          left: 16.45rem;
          line-height: 1.6000000636;
        }
        .dont-have-an-account-yet-tJy {
          font-weight: 400;
          position: absolute;
          left: 0;
          top: 0.25rem;
          display: flex;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
          width: 15.7rem;
          height: 2rem;
          font-size: 1.5rem;
          line-height: 1.2800000509;
        }
      }
    }
  }
}
