
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-email-981 {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding-bottom: 25rem;
  overflow: hidden;
  position: relative;
  align-items: center;

  .rectangle-130-5XT {
    background-color: #4682a9;
    flex-shrink: 0;
    margin-bottom: 7.4rem;
    width: 100%;
    height: 10rem;
  }
  .auto-group-im1w-2Bo {
    background-color: #213555;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 12.5rem 9.8rem 15.5rem 12rem;
    width: 100%;
    height: 60rem;
    display: flex;
    align-items: center;

    .auto-group-su3t-3sb {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 8.3rem 16.9rem 10.75rem 0rem;
      height: calc(100% - 19.05rem);

      .jobsearch-AhK {
        margin-bottom: 8.95rem;
        display: flex;
        font-weight: 400;
        color: #ffffff;
        font-family: Birthstone Bounce, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        font-size: 15rem;
        line-height: 0.1280000051;
      }
      .website-mencari-pekerjaan-Ui1 {
        color: #ffffff;
        flex-shrink: 0;
        margin-right: 1.7rem;
        display: flex;
        justify-content: center;
        font-weight: 400;
        line-height: 0.6400000254;
        align-items: center;
        font-size: 3rem;
        font-family: Arya, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-14-nih {
      height: 100%;
      background-color: #4682a9;
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.4rem 2.5rem 4.6rem 2.5rem;
      width: 50rem;

      .welcome-JS9 {
        font-weight: 400;
        line-height: 0.9600000381;
        color: #000000;
        font-family: Arya, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.35rem;
        display: flex;
        font-size: 2rem;
      }
      .username-email-Qzy {
        color: #000000;
        font-family: Amiri, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.35rem;
        display: flex;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2800000509;
      }
      .auto-group-eusm-Y5b {
        padding: 0.9rem 1rem 0.8rem 1rem;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.76;
        border: solid 0.2rem #fbeeac;
        background-color: #4682a9;
        margin-bottom: 0.45rem;
        box-sizing: border-box;
        width: 100%;
        color: #000000;
        font-family: Amiri, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 0.5rem;
      }
      .auto-group-zssh-Pc1 {
        margin-bottom: 0.55rem;
        width: 5.6rem;
        height: 2rem;
        position: relative;

        .password-jA5 {
          top: 0;
          display: flex;
          font-family: Amiri, 'Source Sans Pro';
          position: absolute;
          height: 2rem;
          left: 0;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.2800000509;
          color: #000000;
          white-space: nowrap;
          width: 5.6rem;
        }
        .password-3Am {
          left: 0;
          font-weight: 400;
          line-height: 1.2800000509;
          position: absolute;
          height: 2rem;
          top: 0;
          display: flex;
          font-size: 1.5rem;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
          width: 5.6rem;
        }
      }
      .rectangle-135-AFP {
        cursor: pointer;
        border: solid 0.2rem #fbeeac;
        box-sizing: border-box;
        background-color: #4682a9;
        border-radius: 0.5rem;
        margin-bottom: 0.4rem;
        width: 100%;
        height: 4rem;
      }
      .auto-group-2me5-5t9 {
        width: 100%;
        height: 6.9rem;
        position: relative;

        .rectangle-136-qMX {
          border-radius: 0.5rem;
          width: 45rem;
          height: 4rem;
          position: absolute;
          left: 0;
          top: 2.9rem;
          background-color: #fbeeac;
        }
        .login-mky {
          font-family: Aoboshi One, 'Source Sans Pro';
          white-space: nowrap;
          left: 19.7rem;
          top: 3.9rem;
          align-items: center;
          font-size: 1.7rem;
          width: 5.7rem;
          height: 2rem;
          font-weight: 400;
          cursor: pointer;
          display: flex;
          line-height: 1.1294118096;
          color: #000000;
          position: absolute;
          justify-content: center;
        }
        .register-Fw3 {
          display: flex;
          white-space: nowrap;
          width: 4.7rem;
          left: 16.45rem;
          line-height: 1.6000000636;
          font-family: Aoboshi One, 'Source Sans Pro';
          align-items: center;
          font-weight: 400;
          position: absolute;
          font-size: 1.2rem;
          justify-content: center;
          color: #000000;
          height: 2rem;
          top: 0;
        }
        .dont-have-an-account-yet-Zgq {
          left: 0;
          display: flex;
          font-size: 1.5rem;
          line-height: 1.2800000509;
          color: #000000;
          height: 2rem;
          position: absolute;
          top: 0.25rem;
          font-weight: 400;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
          width: 15.7rem;
        }
      }
    }
  }
}
