
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.post-E4m {
  align-items: center;
  background-color: #4682a9;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .auto-group-rrhb-yHF {
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    width: 11.2rem;
    height: 102.4rem;
  }
  .auto-group-cuob-tv1 {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.6rem 4.8rem 0rem 1.8rem;
    height: 102.4rem;
    display: flex;
    align-items: flex-start;

    .auto-group-ypy1-QtM {
      margin-top: 1.4rem;
      width: 121rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-q8vb-Yjf {
        flex-shrink: 0;
        margin: 0rem 1.85rem 6rem 0rem;
        width: calc(100% - 1.85rem);
        height: 4.3rem;
        display: flex;
        align-items: flex-start;

        .auto-group-mgn1-Fty {
          background-size: cover;
          margin-right: 88.35rem;
          color: #000000;
          align-items: center;
          justify-content: center;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.2800000509;
          font-family: Aoboshi One, 'Source Sans Pro';
          width: 20.1rem;
          height: 100%;
          background-position: center;
          background-image: url('REPLACE_IMAGE:301:3470');
          flex-shrink: 0;
          display: flex;
          white-space: nowrap;
          background-repeat: no-repeat;
        }
        .welcome-dilla-X5o {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffffff;
          font-family: Aoboshi One, 'Source Sans Pro';
          flex-shrink: 0;
          margin-top: 0.5rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.2800000509;
          white-space: nowrap;
        }
      }
      .frame-88-SCm {
        position: relative;
        overflow: hidden;
        background-color: #d9d9d9;
        flex-shrink: 0;
        width: 113.5rem;
        height: 88.4rem;

        .rectangle-wvD {
          border: solid 0.2rem #000000;
          box-sizing: border-box;
          border-radius: 3rem;
          width: 83.5rem;
          height: 72.3rem;
          position: absolute;
          left: 13rem;
          top: 8rem;
        }
        .line-4-f5X {
          top: 48.7974rem;
          background-color: #000000;
          width: 83.5rem;
          height: 0.2rem;
          position: absolute;
          left: 13rem;
        }
        .ellipse-bE5 {
          left: 16.3rem;
          top: 10rem;
          object-fit: contain;
          vertical-align: top;
          width: 5.9rem;
          height: 4.5rem;
          position: absolute;
        }
        .pt-mencari-cinta-sejati-vn9 {
          line-height: 1.76;
          color: #000000;
          width: 19.5rem;
          height: 3.6rem;
          left: 22.9rem;
          top: 10.6rem;
          font-size: 2rem;
          font-weight: 400;
          font-family: Amiri, 'Source Sans Pro';
          position: absolute;
          white-space: nowrap;
        }
        .wallpaperflare-1-24V {
          vertical-align: top;
          width: 83.5rem;
          height: 27.7rem;
          position: absolute;
          left: 13rem;
          top: 15rem;
          object-fit: cover;
        }
        .vector-KJV {
          vertical-align: top;
          width: 6rem;
          height: 4.5rem;
          position: absolute;
          left: 15.4rem;
          top: 50.4rem;
          object-fit: contain;
        }
        .vector-ebf {
          position: absolute;
          left: 15.4rem;
          top: 61.6rem;
          object-fit: contain;
          vertical-align: top;
          width: 6rem;
          height: 4.5rem;
        }
        .rectangle-216-PZF {
          top: 61.6rem;
          background-color: #ececec;
          border-radius: 0.8rem;
          width: 70.7rem;
          height: 7.2rem;
          position: absolute;
          left: 22.7rem;
        }
        .jonathan-milos-i5j {
          line-height: 1.2675;
          color: #000000;
          font-family: Acme, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.7rem;
          position: absolute;
          font-size: 1.3rem;
          font-weight: 400;
          width: 7.8rem;
          left: 23.5rem;
          top: 62.4rem;
        }
        .likes-DHP {
          font-family: Acme, 'Source Sans Pro';
          width: 6.6rem;
          height: 2.6rem;
          position: absolute;
          left: 25.3rem;
          font-size: 2rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          top: 51.1rem;
          line-height: 1.2675;
        }
        .data-architect-ijw {
          white-space: nowrap;
          height: 1.3rem;
          top: 64rem;
          font-size: 0.7rem;
          font-weight: 400;
          line-height: 1.76;
          font-family: Amiri, 'Source Sans Pro';
          width: 4.1rem;
          position: absolute;
          left: 23.5rem;
          color: rgba(82, 82, 82, 0.6000000238);
        }
        .now-ECV {
          height: 1.3rem;
          left: 90.8rem;
          font-size: 0.7rem;
          font-weight: 400;
          line-height: 1.76;
          white-space: nowrap;
          width: 1.4rem;
          top: 62.7rem;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          position: absolute;
        }
        .like-LmK {
          width: 1.2rem;
          height: 1.3rem;
          position: absolute;
          font-size: 0.7rem;
          line-height: 1.76;
          left: 23.5rem;
          top: 66.6rem;
          font-weight: 400;
          color: rgba(82, 82, 82, 0.6000000238);
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
        }
        .reply-Tb3 {
          left: 26.8rem;
          font-size: 0.7rem;
          color: rgba(82, 82, 82, 0.6000000238);
          white-space: nowrap;
          position: absolute;
          height: 1.3rem;
          top: 66.6rem;
          font-weight: 400;
          line-height: 1.76;
          font-family: Amiri, 'Source Sans Pro';
          width: 1.6rem;
        }
        .item--n7X {
          top: 66.4rem;
          font-size: 0.7rem;
          color: rgba(82, 82, 82, 0.6000000238);
          font-family: Amiri, 'Source Sans Pro';
          width: 0.2rem;
          height: 1.3rem;
          position: absolute;
          left: 25.9rem;
          font-weight: 400;
          line-height: 1.76;
          white-space: nowrap;
        }
        .nice-gih {
          width: 2.4rem;
          position: absolute;
          font-size: 1.3rem;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.3rem;
          left: 23.3rem;
          top: 64.7rem;
          font-weight: 400;
          line-height: 1.76;
          color: #000000;
        }
        .vector-oYR {
          height: 4.5rem;
          position: absolute;
          left: 17.3rem;
          top: 50.4rem;
          object-fit: contain;
          vertical-align: top;
          width: 6rem;
        }
        .vector-LoF {
          vertical-align: top;
          width: 6rem;
          height: 4.5rem;
          position: absolute;
          left: 15.6rem;
          top: 71.1rem;
          object-fit: contain;
        }
        .rectangle-217-5F3 {
          background-color: #ececec;
          border-radius: 0.8rem;
          width: 70.7rem;
          height: 7.2rem;
          position: absolute;
          left: 22.7rem;
          top: 70.6rem;
        }
        .joseph-felix-oB3 {
          position: absolute;
          top: 71.4rem;
          font-weight: 400;
          line-height: 1.2675;
          color: #000000;
          white-space: nowrap;
          width: 6.2rem;
          height: 1.7rem;
          left: 23.5rem;
          font-size: 1.3rem;
          font-family: Acme, 'Source Sans Pro';
        }
        .ceo-of-pt-sern-7Sd {
          width: 5.2rem;
          top: 73rem;
          font-size: 0.7rem;
          font-weight: 400;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.3rem;
          position: absolute;
          left: 23.5rem;
          line-height: 1.76;
          color: rgba(82, 82, 82, 0.6000000238);
        }
        .d-dQy {
          height: 1.3rem;
          top: 71.7rem;
          font-size: 0.7rem;
          font-weight: 400;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          width: 0.8rem;
          position: absolute;
          left: 91.1rem;
          line-height: 1.76;
          white-space: nowrap;
        }
        .like-kkV {
          left: 23.5rem;
          font-size: 0.7rem;
          white-space: nowrap;
          height: 1.3rem;
          position: absolute;
          font-weight: 400;
          line-height: 1.76;
          color: rgba(82, 82, 82, 0.6000000238);
          font-family: Amiri, 'Source Sans Pro';
          width: 1.2rem;
          top: 75.6rem;
        }
        .reply-s4R {
          white-space: nowrap;
          height: 1.3rem;
          position: absolute;
          top: 75.6rem;
          font-size: 0.7rem;
          line-height: 1.76;
          color: rgba(82, 82, 82, 0.6000000238);
          width: 1.6rem;
          left: 26.8rem;
          font-weight: 400;
          font-family: Amiri, 'Source Sans Pro';
        }
        .item--nSH {
          width: 0.2rem;
          left: 25.9rem;
          font-size: 0.7rem;
          font-family: Amiri, 'Source Sans Pro';
          line-height: 1.76;
          color: rgba(82, 82, 82, 0.6000000238);
          white-space: nowrap;
          height: 1.3rem;
          position: absolute;
          top: 75.4rem;
          font-weight: 400;
        }
        .nice-one-u17 {
          position: absolute;
          color: #000000;
          white-space: nowrap;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.76;
          font-family: Amiri, 'Source Sans Pro';
          width: 4.7rem;
          height: 2.3rem;
          left: 23.3rem;
          top: 73.7rem;
        }
        .button-hastag-QyT {
          height: 3.4rem;
          left: 74rem;
          font-weight: 400;
          line-height: 1.1199999809;
          color: #ffffff;
          white-space: nowrap;
          width: 19.4rem;
          position: absolute;
          display: flex;
          font-family: Alatsi, 'Source Sans Pro';
          border-radius: 0.5rem;
          top: 44.2rem;
          align-items: center;
          font-size: 2rem;
          background-color: #419197;
          justify-content: center;
        }
      }
    }
    .vector-ss3 {
      width: 5.7rem;
      height: 5.8rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
