
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.register-email-pass1-pass2-BGR {
  box-sizing: border-box;
  padding-bottom: 21.7rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .rectangle-130-WJh {
    margin-bottom: 7.4rem;
    width: 100%;
    height: 10rem;
    background-color: #4682a9;
    flex-shrink: 0;
  }
  .auto-group-ghch-FXB {
    background-color: #213555;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5.6rem 9.9rem 8.6rem 12rem;
    width: 100%;
    height: 60rem;
    display: flex;
    align-items: center;

    .auto-group-m3gz-mkR {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 15.2rem 16.8rem 17.65rem 0rem;
      height: calc(100% - 32.85rem);

      .jobsearch-h8H {
        margin-bottom: 8.95rem;
        display: flex;
        font-weight: 400;
        font-family: Birthstone Bounce, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        font-size: 15rem;
        line-height: 0.1280000051;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .website-mencari-pekerjaan-DMX {
        display: flex;
        justify-content: center;
        font-size: 3rem;
        line-height: 0.6400000254;
        white-space: nowrap;
        margin-right: 1.7rem;
        align-items: center;
        font-weight: 400;
        color: #ffffff;
        font-family: Arya, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .group-14-Xt1 {
      padding: 3.287rem 2.1rem 3.338rem 2.1rem;
      width: 50rem;
      height: 100%;
      background-color: #4682a9;
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;

      .register-eSq {
        color: #000000;
        font-family: Arya, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 0.011rem 0.4rem;
        display: flex;
        font-size: 2rem;
        font-weight: 400;
        line-height: 0.9600000381;
      }
      .auto-group-zpp3-Yo7 {
        display: flex;
        color: #000000;
        padding-top: 1.9733rem;
        width: 14.6rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2800000509;
        font-family: Amiri, 'Source Sans Pro';
        margin: 0rem 0rem 0.229rem 0.4rem;
        box-sizing: border-box;
        white-space: nowrap;
      }
      .auto-group-vump-e5T {
        width: 100%;
        height: 9.2494rem;
        position: relative;
        margin-bottom: 0.2506rem;

        .rectangle-134-Br5 {
          height: 5.725rem;
          position: absolute;
          left: 0.4rem;
          top: 3.5244rem;
          border: solid 0.2rem #4682a9;
          box-sizing: border-box;
          border-radius: 0.5rem;
          width: 45rem;
        }
        .password-tkV {
          white-space: nowrap;
          width: 5.6rem;
          height: 2rem;
          position: absolute;
          display: flex;
          font-weight: 400;
          line-height: 1.2800000509;
          font-family: Amiri, 'Source Sans Pro';
          left: 0.4rem;
          top: 6.1708rem;
          font-size: 1.5rem;
          color: #000000;
        }
        .rectangle-143-ocZ {
          top: 0;
          border-radius: 0.5rem;
          height: 4rem;
          position: absolute;
          left: 0;
          background-color: #4682a9;
          width: 45.8rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
        }
        .jobsearchgmailcoid-uvV {
          width: 11.3rem;
          height: 2.3rem;
          left: 1rem;
          top: 0.9rem;
          line-height: 1.76;
          font-family: Amiri, 'Source Sans Pro';
          position: absolute;
          font-size: 1.3rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
        }
      }
      .auto-group-jcbp-1Cq {
        width: 100%;
        height: 4rem;
        position: relative;
        margin-bottom: 0.0431rem;

        .rectangle-144-LW1 {
          height: 4rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          border-radius: 0.5rem;
          width: 45.8rem;
        }
        .rectangle-145-4wo {
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          width: 45.8rem;
          position: absolute;
          left: 0;
          top: 0;
          height: 4rem;
          background-color: #4682a9;
          border-radius: 0.5rem;
        }
        .item--bRw {
          line-height: 1.76;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          height: 2.3rem;
          position: absolute;
          left: 1rem;
          font-size: 1.3rem;
          font-weight: 400;
          width: 5.1rem;
          top: 1.2rem;
          white-space: nowrap;
        }
        .icon-eye-outline-HpZ {
          width: 2.7rem;
          height: 2.7rem;
          cursor: pointer;
          position: absolute;
          left: 42.7rem;
          top: 0.7rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-jw6h-zys {
        height: 9.1569rem;
        position: relative;
        margin-bottom: 0.2894rem;
        width: 100%;

        .rectangle-135-jwT {
          border-radius: 0.5rem;
          width: 45rem;
          height: 5.725rem;
          position: absolute;
          left: 0.4rem;
          top: 0;
          border: solid 0.2rem #4682a9;
          box-sizing: border-box;
        }
        .confirm-password-UPF {
          font-size: 1.5rem;
          font-weight: 400;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          width: 11.1rem;
          position: absolute;
          left: 0.4rem;
          top: 1.9277rem;
          height: 2rem;
          display: flex;
          line-height: 1.2800000509;
          white-space: nowrap;
        }
        .rectangle-146-ax5 {
          width: 45.8rem;
          position: absolute;
          left: 0;
          top: 5.1569rem;
          box-sizing: border-box;
          height: 4rem;
          border: solid 0.1rem #000000;
          background-color: #4682a9;
          border-radius: 0.5rem;
        }
        .item--Wqj {
          line-height: 1.76;
          white-space: nowrap;
          position: absolute;
          top: 6.1569rem;
          font-size: 1.3rem;
          font-weight: 400;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          width: 5.1rem;
          height: 2.3rem;
          left: 1rem;
        }
        .icon-eye-outline-p5j {
          vertical-align: top;
          width: 2.7rem;
          height: 2.7rem;
          cursor: pointer;
          position: absolute;
          left: 42.7rem;
          top: 5.6569rem;
          object-fit: contain;
        }
      }
      .auto-group-dc9k-6Z3 {
        height: 9.9731rem;
        position: relative;
        margin: 0 0.4rem;
        width: calc(100% - 0.8rem);

        .rectangle-136-yMw {
          background-color: #fbeeac;
          border-radius: 0.5rem;
          width: 45rem;
          height: 5.9625rem;
          position: absolute;
          left: 0;
          top: 4.0106rem;
        }
        .ok-tjo {
          display: flex;
          line-height: 1.1294118096;
          color: #000000;
          white-space: nowrap;
          font-size: 1.7rem;
          font-weight: 400;
          cursor: pointer;
          position: absolute;
          top: 6.0503rem;
          justify-content: center;
          width: 2.7rem;
          height: 2rem;
          align-items: center;
          font-family: Aoboshi One, 'Source Sans Pro';
          left: 20.4rem;
        }
      }
    }
  }
}
