
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.register-email-pas1-eye-pass2-qwB {
  box-sizing: border-box;
  overflow: hidden;
  background-color: #ffffff;
  padding-bottom: 21.7rem;
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .rectangle-130-mpq {
    flex-shrink: 0;
    margin-bottom: 7.4rem;
    width: 100%;
    height: 10rem;
    background-color: #4682a9;
  }
  .auto-group-dpo7-iEH {
    background-color: #213555;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5.6rem 9.9rem 8.6rem 12rem;
    width: 100%;
    height: 60rem;
    display: flex;
    align-items: center;

    .auto-group-onpd-q41 {
      margin: 15.2rem 16.8rem 17.65rem 0rem;
      height: calc(100% - 32.85rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .jobsearch-xPX {
        white-space: nowrap;
        margin-bottom: 8.95rem;
        display: flex;
        font-weight: 400;
        line-height: 0.1280000051;
        font-family: Birthstone Bounce, 'Source Sans Pro';
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        font-size: 15rem;
        color: #ffffff;
      }
      .website-mencari-pekerjaan-Gv1 {
        display: flex;
        font-weight: 400;
        line-height: 0.6400000254;
        flex-shrink: 0;
        white-space: nowrap;
        margin-right: 1.7rem;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        color: #ffffff;
        font-family: Arya, 'Source Sans Pro';
      }
    }
    .group-14-afo {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.287rem 2.1rem 3.338rem 2.1rem;
      width: 50rem;
      height: 100%;
      background-color: #4682a9;
      border-radius: 1rem;

      .register-VXs {
        color: #000000;
        font-family: Arya, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 0.011rem 0.4rem;
        display: flex;
        font-size: 2rem;
        font-weight: 400;
        line-height: 0.9600000381;
      }
      .auto-group-gk7b-Cx5 {
        margin: 0rem 0rem 0.229rem 0.4rem;
        box-sizing: border-box;
        width: 14.6rem;
        display: flex;
        font-weight: 400;
        line-height: 1.2800000509;
        padding-top: 1.9733rem;
        font-size: 1.5rem;
        color: #000000;
        font-family: Amiri, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-1rgr-VRP {
        height: 9.2494rem;
        position: relative;
        margin-bottom: 0.2506rem;
        width: 100%;

        .rectangle-134-RK3 {
          width: 45rem;
          height: 5.725rem;
          position: absolute;
          left: 0.4rem;
          top: 3.5244rem;
          border: solid 0.2rem #4682a9;
          box-sizing: border-box;
          border-radius: 0.5rem;
        }
        .password-jad {
          width: 5.6rem;
          display: flex;
          font-size: 1.5rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          height: 2rem;
          position: absolute;
          left: 0.4rem;
          top: 6.1708rem;
          line-height: 1.2800000509;
          font-family: Amiri, 'Source Sans Pro';
        }
        .rectangle-143-FJ5 {
          box-sizing: border-box;
          background-color: #4682a9;
          border-radius: 0.5rem;
          left: 0;
          top: 0;
          border: solid 0.1rem #000000;
          width: 45.8rem;
          height: 4rem;
          position: absolute;
        }
        .jobsearchgmailcoid-Afw {
          white-space: nowrap;
          position: absolute;
          left: 1rem;
          line-height: 1.76;
          font-size: 1.3rem;
          font-weight: 400;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          width: 11.3rem;
          height: 2.3rem;
          top: 0.9rem;
        }
      }
      .auto-group-3kwu-Tf3 {
        height: 4rem;
        position: relative;
        margin-bottom: 0.0431rem;
        width: 100%;

        .rectangle-144-CsX {
          box-sizing: border-box;
          border-radius: 0.5rem;
          width: 45.8rem;
          height: 4rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #000000;
        }
        .rectangle-145-LTw {
          height: 4rem;
          left: 0;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #4682a9;
          border-radius: 0.5rem;
          width: 45.8rem;
          position: absolute;
          top: 0;
        }
        .joblook12-fWD {
          font-size: 1.3rem;
          width: 5.3rem;
          height: 2.3rem;
          position: absolute;
          line-height: 1.76;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
          left: 1rem;
          top: 0.9rem;
          font-weight: 400;
        }
        .icon-eye-off-outline-N9j {
          width: 2.7rem;
          height: 2.7rem;
          cursor: pointer;
          position: absolute;
          left: 42.7rem;
          top: 0.7rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-he85-tNy {
        margin-bottom: 0.2894rem;
        width: 100%;
        height: 9.1569rem;
        position: relative;

        .rectangle-135-2k5 {
          width: 45rem;
          height: 5.725rem;
          position: absolute;
          left: 0.4rem;
          top: 0;
          border: solid 0.2rem #4682a9;
          box-sizing: border-box;
          border-radius: 0.5rem;
        }
        .confirm-password-MnM {
          position: absolute;
          top: 1.9277rem;
          line-height: 1.2800000509;
          color: #000000;
          white-space: nowrap;
          font-family: Amiri, 'Source Sans Pro';
          width: 11.1rem;
          height: 2rem;
          left: 0.4rem;
          display: flex;
          font-size: 1.5rem;
          font-weight: 400;
        }
        .rectangle-146-Fsj {
          box-sizing: border-box;
          width: 45.8rem;
          height: 4rem;
          left: 0;
          top: 5.1569rem;
          position: absolute;
          border: solid 0.1rem #000000;
          background-color: #4682a9;
          border-radius: 0.5rem;
        }
        .item--5rm {
          width: 5.1rem;
          font-size: 1.3rem;
          font-weight: 400;
          white-space: nowrap;
          height: 2.3rem;
          position: absolute;
          left: 1rem;
          top: 6.1569rem;
          line-height: 1.76;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
        }
        .icon-eye-outline-PMf {
          cursor: pointer;
          position: absolute;
          left: 42.7rem;
          top: 5.6569rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.7rem;
          height: 2.7rem;
        }
      }
      .auto-group-m9f3-WSH {
        margin: 0 0.4rem;
        width: calc(100% - 0.8rem);
        height: 9.9731rem;
        position: relative;

        .rectangle-136-Et5 {
          width: 45rem;
          height: 5.9625rem;
          position: absolute;
          left: 0;
          top: 4.0106rem;
          background-color: #fbeeac;
          border-radius: 0.5rem;
        }
        .ok-aS9 {
          position: absolute;
          font-weight: 400;
          cursor: pointer;
          left: 20.4rem;
          align-items: center;
          white-space: nowrap;
          height: 2rem;
          justify-content: center;
          font-size: 1.7rem;
          color: #000000;
          font-family: Aoboshi One, 'Source Sans Pro';
          width: 2.7rem;
          top: 6.0503rem;
          display: flex;
          line-height: 1.1294118096;
        }
      }
    }
  }
}
