
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.acara-8LM {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .component-6-variant2-g6y {
    align-items: center;
    background-color: #4682a9;
    flex-shrink: 0;
    padding: 1.4rem 1.7rem 0.6rem 5.3rem;
    box-sizing: border-box;
    width: 100%;
    height: 13.2rem;
    display: flex;
    margin-bottom: 3.5rem;

    .auto-group-tae9-mu7 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.4rem 5.8rem 0rem 0rem;
      width: 6.5rem;
      align-items: center;

      .auto-group-tu5w-hGy {
        margin-bottom: 0.5rem;
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:3ca1b12fd5d3de42211f78bb83137f2f2c7657e1');
        flex-shrink: 0;

        .image-15-r9s {
          width: 6.5rem;
          height: 6.4rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-afvv-xyb {
        width: calc(100% - 0.4rem);
        height: 2.5rem;
        position: relative;
        flex-shrink: 0;
        margin: 0 0.2rem;

        .profile-WVK {
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 6.1rem;
          left: 0;
          white-space: nowrap;
          top: 0;
          height: 2.5rem;
          position: absolute;
        }
        .profile-oDX {
          width: 6.1rem;
          position: absolute;
          top: 0;
          font-size: 2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          height: 2.5rem;
          left: 0;
          text-align: center;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
        }
      }
    }
    .component-3-component-2-variant2-uGZ {
      margin: 2.9rem 27.3rem 2.7rem 0rem;
      box-sizing: border-box;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;
      height: calc(100% - 5.6rem);
      background-color: #ffffff;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .frame-bfB {
        width: 2.2295rem;
        height: 2.8565rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-paxf-vhT {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .icon-taskbar-HY1 {
        align-items: flex-end;
        flex-shrink: 0;
        margin-bottom: 1.1625rem;
        display: flex;

        .icon-home-dbs {
          margin: 0rem 3.9rem 0.9rem 0rem;
          width: 6.9rem;
          height: 6.0375rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icon-bell-LFP {
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.2rem 0.038rem 0rem;
          width: 6.9rem;
        }
        .icon-briefcase-3vV {
          width: 6.9086rem;
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.691rem 0.438rem 0rem;
        }
        .icon-people-xnZ {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 6.309rem 0.038rem 0rem;
          width: 6.8914rem;
          height: 6.9rem;
          object-fit: contain;
        }
        .icon-chat-VGh {
          width: 6.9rem;
          height: 6.0375rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .component-4-pZs {
        margin-left: 0.35rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .home-N5b {
          margin-right: 1.9rem;
          font-size: 2rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
        .notifications-HiM {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.8rem;
          text-align: center;
          font-size: 2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          font-weight: 400;
          color: #000000;
        }
        .jobs-D6D {
          margin: 0.1rem 2.85rem 0rem 0rem;
          font-weight: 400;
          white-space: nowrap;
          text-align: center;
          font-size: 2rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .my-network-w2D {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          margin-right: 1.3rem;
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
        }
        .messaging-4cd {
          font-weight: 400;
          flex-shrink: 0;
          text-align: center;
          font-size: 2rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-top: 0.2rem;
        }
      }
    }
  }
  .auto-group-7ee9-yzV {
    margin: 0rem 6.4rem 0rem 5.9rem;
    width: calc(100% - 12.3rem);
    height: 85.7rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-wykd-JWy {
      margin-right: 6.15rem;
      width: 40.95rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .frame-2-St5 {
        height: 85.7rem;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        background-color: #213555;
        box-sizing: border-box;
        padding: 6.9rem 7.4rem 52.9rem 7.4rem;
        width: 40.9rem;

        .koneksi-MEM {
          font-weight: 400;
          line-height: 1.1199999809;
          color: #ffffff;
          font-family: Acme, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 3.6rem;
          display: flex;
          font-size: 2rem;
        }
        .followers-Upm {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.1199999809;
          color: #ffffff;
          font-family: Acme, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 9.5rem;
          display: flex;
        }
        .hastag-1ph {
          display: flex;
          font-size: 2rem;
          color: #ffffff;
          font-family: Acme, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 3.6rem;
          cursor: pointer;
          font-weight: 400;
          line-height: 1.1199999809;
        }
        .accept-job-M7s {
          font-weight: 400;
          line-height: 1.1199999809;
          color: #ffffff;
          font-family: Acme, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 2rem;
        }
      }
      .rectangle-207-sru {
        width: 40.9rem;
        height: 6.8rem;
        position: absolute;
        left: 0.05rem;
        top: 16.35rem;
        background-color: #419197;
      }
      .acara-1iD {
        color: #000000;
        white-space: nowrap;
        width: 4.7rem;
        left: 7.4rem;
        display: flex;
        font-size: 2rem;
        line-height: 1.1199999809;
        font-family: Acme, 'Source Sans Pro';
        height: 2.3rem;
        position: absolute;
        top: 18.7rem;
        font-weight: 400;
      }
    }
    .frame-89-vKP {
      display: flex;
      background-color: #d9d9d9;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      padding-top: 5.4rem;
      width: 84.6rem;
      height: 100%;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;

      .auto-group-mjkk-f25 {
        margin: 0rem 1rem 5rem 2.1rem;
        width: calc(100% - 3.1rem);
        height: 53.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .image-24-NhB {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 1.5rem 4.9rem 0rem 0rem;
          width: 10rem;
          height: 10rem;
        }
        .calendar-dark-uSD {
          padding: 5.55rem 5.6rem;
          width: 52.1627rem;
          height: 100%;
          background-color: #213555;
          border-radius: 0.8rem;
          flex-shrink: 0;
          margin-right: 4.4373rem;
          box-sizing: border-box;

          .frame-10-EjP {
            width: 100%;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .title-zyT {
              flex-shrink: 0;
              margin-bottom: 5.5rem;
              width: 100%;
              display: flex;
              align-items: center;

              .previous-Yk5 {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 12.2186rem;
                width: 2.2627rem;
                height: 2.2627rem;
                object-fit: contain;
              }
              .november-VQR {
                display: flex;
                justify-content: center;
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2125;
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 12.2186rem;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                align-items: center;
              }
              .next-ovu {
                width: 2.2627rem;
                height: 2.2627rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .dates-Ydb {
              flex-direction: column;
              flex-shrink: 0;
              margin-right: 0.0627rem;
              width: 40.9rem;
              align-items: flex-end;
              display: flex;

              .frame-9-hFb {
                margin-bottom: 3.1rem;
                width: 100%;
                display: flex;
                column-gap: 3.2rem;
                align-items: center;
                flex-shrink: 0;

                .mo-2Hs {
                  display: flex;
                  justify-content: center;
                  font-size: 2.4rem;
                  font-weight: 500;
                  color: #ffffff;
                  white-space: nowrap;
                  flex-shrink: 0;
                  align-items: center;
                  line-height: 1.2125;
                  font-family: Inter, 'Source Sans Pro';
                }
                .tu-Z2u {
                  font-size: 2.4rem;
                  color: #ffffff;
                  flex-shrink: 0;
                  display: flex;
                  justify-content: center;
                  line-height: 1.2125;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  align-items: center;
                  font-weight: 500;
                }
                .we-tqs {
                  font-weight: 500;
                  line-height: 1.2125;
                  color: #ffffff;
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 2.4rem;
                  font-family: Inter, 'Source Sans Pro';
                }
                .th-3Ts {
                  font-family: Inter, 'Source Sans Pro';
                  display: flex;
                  justify-content: center;
                  font-weight: 500;
                  line-height: 1.2125;
                  color: #ffffff;
                  white-space: nowrap;
                  flex-shrink: 0;
                  align-items: center;
                  font-size: 2.4rem;
                }
                .fr-bEV {
                  font-weight: 500;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  align-items: center;
                  justify-content: center;
                  font-size: 2.4rem;
                  line-height: 1.2125;
                  white-space: nowrap;
                  display: flex;
                }
                .sa-LC5 {
                  font-weight: 500;
                  display: flex;
                  align-items: center;
                  line-height: 1.2125;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  justify-content: center;
                  font-size: 2.4rem;
                }
                .su-H7K {
                  line-height: 1.2125;
                  flex-shrink: 0;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 2.4rem;
                  font-weight: 500;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .auto-group-pvho-cvH {
                margin-right: 0.0314rem;
                height: 27.4rem;
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;

                .auto-group-mmvd-N8m {
                  height: 100%;
                  display: flex;
                  align-items: flex-end;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  padding: 6.1rem 3.4rem 0rem 0rem;

                  .frame-2-VDP {
                    row-gap: 3.1rem;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    margin-right: 3.2rem;
                    height: 100%;

                    .item-5-2UD {
                      justify-content: center;
                      font-size: 2.4rem;
                      line-height: 1.2125;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      align-items: center;
                      font-weight: 400;
                    }
                    .item-12-mAu {
                      display: flex;
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 1.2125;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      flex-shrink: 0;
                      align-items: center;
                      justify-content: center;
                      white-space: nowrap;
                    }
                    .item-19-Vsb {
                      display: flex;
                      align-items: center;
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 1.2125;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      justify-content: center;
                      flex-shrink: 0;
                    }
                    .item-26-diu {
                      justify-content: center;
                      line-height: 1.2125;
                      flex-shrink: 0;
                      display: flex;
                      align-items: center;
                      font-size: 2.4rem;
                      font-weight: 400;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                  }
                  .frame-3-Aiq {
                    height: 100%;
                    row-gap: 3.1rem;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    flex-shrink: 0;
                    margin-right: 3.7rem;

                    .item-6-iVT {
                      display: flex;
                      font-size: 2.4rem;
                      flex-shrink: 0;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      align-items: center;
                      justify-content: center;
                      font-weight: 400;
                      line-height: 1.2125;
                    }
                    .item-13-4ZK {
                      justify-content: center;
                      color: #cccccc;
                      white-space: nowrap;
                      display: flex;
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 1.2125;
                      font-family: Inter, 'Source Sans Pro';
                      flex-shrink: 0;
                      align-items: center;
                    }
                    .item-20-1UZ {
                      color: #cccccc;
                      white-space: nowrap;
                      display: flex;
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 1.2125;
                      font-family: Inter, 'Source Sans Pro';
                      flex-shrink: 0;
                      align-items: center;
                      justify-content: center;
                    }
                    .item-27-xeh {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-weight: 400;
                      line-height: 1.2125;
                      flex-shrink: 0;
                      font-size: 2.4rem;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                    }
                  }
                  .frame-4-JyT {
                    flex-direction: column;
                    flex-shrink: 0;
                    height: 100%;
                    row-gap: 3.1rem;
                    align-items: center;
                    display: flex;

                    .item-7-GQV {
                      align-items: center;
                      justify-content: center;
                      font-size: 2.4rem;
                      color: #cccccc;
                      display: flex;
                      line-height: 1.2125;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-weight: 400;
                    }
                    .item-14-1cy {
                      align-items: center;
                      justify-content: center;
                      font-size: 2.4rem;
                      line-height: 1.2125;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      display: flex;
                      flex-shrink: 0;
                      font-weight: 400;
                    }
                    .item-21-ZeV {
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                      justify-content: center;
                      font-weight: 400;
                      line-height: 1.2125;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      align-items: center;
                      font-size: 2.4rem;
                    }
                    .item-28-Jry {
                      font-weight: 400;
                      justify-content: center;
                      align-items: center;
                      font-size: 2.4rem;
                      line-height: 1.2125;
                      color: #cccccc;
                      font-family: Inter, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      display: flex;
                    }
                  }
                }
                .frame-5-F1X {
                  margin-right: 3rem;
                  height: 100%;
                  row-gap: 3.1rem;
                  align-items: center;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .item-1-CBf {
                    line-height: 1.2125;
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    font-weight: 400;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    justify-content: center;
                    font-size: 2.4rem;
                  }
                  .item-8-9Mo {
                    white-space: nowrap;
                    flex-shrink: 0;
                    align-items: center;
                    justify-content: center;
                    font-size: 2.4rem;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    display: flex;
                    font-weight: 400;
                    line-height: 1.2125;
                  }
                  .item-15-gsX {
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    justify-content: center;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #cccccc;
                    align-items: center;
                    font-size: 2.4rem;
                  }
                  .item-22-S61 {
                    display: flex;
                    justify-content: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    align-items: center;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .item-29-n9s {
                    font-weight: 400;
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;
                    color: #cccccc;
                    flex-shrink: 0;
                    align-items: center;
                    font-size: 2.4rem;
                  }
                }
                .frame-6-Kfb {
                  flex-shrink: 0;
                  margin-right: 3.2rem;
                  height: 100%;
                  row-gap: 3.1rem;
                  align-items: center;
                  display: flex;
                  flex-direction: column;

                  .item-2-Gaq {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .item-9-p6Z {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: Inter, 'Source Sans Pro';
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    color: #cccccc;
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .item-16-xiZ {
                    color: #cccccc;
                    line-height: 1.2125;
                    align-items: center;
                    justify-content: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                  }
                  .item-23-hRF {
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                    display: flex;
                    font-size: 2.4rem;
                    line-height: 1.2125;
                    color: #cccccc;
                    white-space: nowrap;
                    align-items: center;
                    justify-content: center;
                    font-weight: 400;
                  }
                  .item-30-3ED {
                    color: #cccccc;
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-family: Inter, 'Source Sans Pro';
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                  }
                }
                .frame-7-ytZ {
                  margin-right: 3rem;
                  height: 100%;
                  row-gap: 3.1rem;
                  align-items: center;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .item-3-8Ff {
                    justify-content: center;
                    font-family: Inter, 'Source Sans Pro';
                    color: #cccccc;
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                  }
                  .item-10-UKX {
                    color: #cccccc;
                    white-space: nowrap;
                    flex-shrink: 0;
                    display: flex;
                    justify-content: center;
                    font-size: 2.4rem;
                    line-height: 1.2125;
                    align-items: center;
                    font-weight: 400;
                    font-family: Inter, 'Source Sans Pro';
                  }
                  .item-17-DY1 {
                    line-height: 1.2125;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    display: flex;
                    align-items: center;
                    font-weight: 400;
                    flex-shrink: 0;
                    justify-content: center;
                    font-size: 2.4rem;
                    white-space: nowrap;
                  }
                  .item-24-Zbs {
                    line-height: 1.2125;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                    font-size: 2.4rem;
                    font-weight: 400;
                    justify-content: center;
                    white-space: nowrap;
                    display: flex;
                    align-items: center;
                  }
                  .item-31-uQq {
                    display: flex;
                    justify-content: center;
                    font-size: 2.4rem;
                    color: #cccccc;
                    align-items: center;
                    font-weight: 400;
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .frame-8-SvZ {
                  row-gap: 3.1rem;
                  align-items: center;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .item-4-QMb {
                    flex-shrink: 0;
                    display: flex;
                    justify-content: center;
                    font-size: 2.4rem;
                    line-height: 1.2125;
                    color: #cccccc;
                    font-family: Inter, 'Source Sans Pro';
                    align-items: center;
                    font-weight: 400;
                    white-space: nowrap;
                  }
                  .item-11-MGq {
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    white-space: nowrap;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    font-size: 2.4rem;
                    font-weight: 400;
                    color: #cccccc;
                  }
                  .item-18-hbb {
                    align-items: center;
                    justify-content: center;
                    line-height: 1.2125;
                    color: #cccccc;
                    white-space: nowrap;
                    display: flex;
                    font-size: 2.4rem;
                    font-weight: 400;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                  }
                  .item-25-qxh {
                    white-space: nowrap;
                    justify-content: center;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2125;
                    font-family: Inter, 'Source Sans Pro';
                    display: flex;
                    align-items: center;
                    color: #cccccc;
                    flex-shrink: 0;
                  }
                }
              }
            }
          }
        }
        .image-23-xXX {
          height: 10rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 1.5rem;
          width: 10rem;
        }
      }
      .frame-90-V1f {
        overflow: hidden;
        position: relative;
        background-color: #223355;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.7rem 2.5rem;
        width: 100%;
        height: 22.2rem;

        .noted-tidak-ada-acara-DiM {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          max-width: 16.5rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2125;

          .noted-tidak-ada-acara-DiM-sub-0 {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Irish Grover, 'Source Sans Pro';
          }
          .noted-tidak-ada-acara-DiM-sub-1 {
          }
          .noted-tidak-ada-acara-DiM-sub-2 {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Jacques Francois, 'Source Sans Pro';
          }
        }
      }
    }
  }
}
