
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.login-email-password-eye-ka1 {
  padding-bottom: 25rem;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  background-color: #ffffff;

  .rectangle-130-gCm {
    margin-bottom: 7.4rem;
    width: 100%;
    height: 10rem;
    background-color: #4682a9;
    flex-shrink: 0;
  }
  .auto-group-ybdo-cs7 {
    align-items: center;
    background-color: #213555;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 12.5rem 9.8rem 15.5rem 12rem;
    width: 100%;
    height: 60rem;
    display: flex;

    .auto-group-2lx5-YVs {
      flex-direction: column;
      flex-shrink: 0;
      margin: 8.3rem 16.9rem 10.75rem 0rem;
      height: calc(100% - 19.05rem);
      align-items: center;
      display: flex;

      .jobsearch-4j7 {
        display: flex;
        align-items: center;
        font-weight: 400;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 8.95rem;
        justify-content: center;
        font-size: 15rem;
        line-height: 0.1280000051;
        font-family: Birthstone Bounce, 'Source Sans Pro';
      }
      .website-mencari-pekerjaan-9kZ {
        font-size: 3rem;
        line-height: 0.6400000254;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        color: #ffffff;
        font-family: Arya, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.7rem;
        display: flex;
      }
    }
    .group-14-EGD {
      width: 50rem;
      height: 100%;
      background-color: #4682a9;
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.4rem 2.5rem 4.6rem 2.5rem;

      .welcome-ut9 {
        font-weight: 400;
        line-height: 0.9600000381;
        color: #000000;
        font-family: Arya, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.35rem;
        display: flex;
        font-size: 2rem;
      }
      .username-email-q17 {
        white-space: nowrap;
        margin-bottom: 0.35rem;
        display: flex;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2800000509;
        color: #000000;
        font-family: Amiri, 'Source Sans Pro';
      }
      .auto-group-82tx-N13 {
        margin-bottom: 0.45rem;
        padding: 0.9rem 1rem 0.8rem 1rem;
        font-size: 1.3rem;
        color: #000000;
        font-family: Amiri, 'Source Sans Pro';
        border: solid 0.2rem #fbeeac;
        box-sizing: border-box;
        width: 100%;
        font-weight: 400;
        line-height: 1.76;
        white-space: nowrap;
        background-color: #4682a9;
        border-radius: 0.5rem;
      }
      .auto-group-v9o3-DGZ {
        width: 5.6rem;
        height: 2rem;
        position: relative;
        margin-bottom: 0.55rem;

        .password-xE9 {
          height: 2rem;
          font-size: 1.5rem;
          line-height: 1.2800000509;
          white-space: nowrap;
          width: 5.6rem;
          left: 0;
          top: 0;
          display: flex;
          font-weight: 400;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          position: absolute;
        }
        .password-sc1 {
          width: 5.6rem;
          height: 2rem;
          position: absolute;
          left: 0;
          display: flex;
          color: #000000;
          top: 0;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.2800000509;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-b5gh-nU5 {
        border-radius: 0.5rem;
        margin-bottom: 0.4rem;
        box-sizing: border-box;
        padding: 0.7rem 1rem 0.6rem 1rem;
        display: flex;
        border: solid 0.2rem #fbeeac;
        background-color: #4682a9;
        width: 100%;
        align-items: center;

        .joblook12-7WM {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.76;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 35rem;
        }
        .icon-eye-off-outline-SHj {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 2.7rem;
          height: 2.7rem;
          cursor: pointer;
        }
      }
      .auto-group-8cwr-L8D {
        width: 100%;
        height: 6.9rem;
        position: relative;

        .rectangle-136-Tid {
          top: 2.9rem;
          background-color: #fbeeac;
          border-radius: 0.5rem;
          width: 45rem;
          height: 4rem;
          cursor: pointer;
          position: absolute;
          left: 0;
        }
        .login-Ts3 {
          width: 5.7rem;
          display: flex;
          white-space: nowrap;
          top: 3.9rem;
          color: #000000;
          font-family: Aoboshi One, 'Source Sans Pro';
          height: 2rem;
          position: absolute;
          left: 19.7rem;
          align-items: center;
          font-size: 1.7rem;
          justify-content: center;
          font-weight: 400;
          line-height: 1.1294118096;
        }
        .register-9zm {
          width: 4.7rem;
          height: 2rem;
          cursor: pointer;
          font-size: 1.2rem;
          line-height: 1.6000000636;
          position: absolute;
          left: 16.45rem;
          color: #000000;
          white-space: nowrap;
          top: 0;
          display: flex;
          justify-content: center;
          font-family: Aoboshi One, 'Source Sans Pro';
          align-items: center;
          font-weight: 400;
        }
        .dont-have-an-account-yet-fCR {
          white-space: nowrap;
          width: 15.7rem;
          top: 0.25rem;
          font-size: 1.5rem;
          font-weight: 400;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          height: 2rem;
          position: absolute;
          left: 0;
          display: flex;
          line-height: 1.2800000509;
        }
      }
    }
  }
}
