
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.messaging-page-9MF {
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;

  .page-home-HyF {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;

    .group-2A9 {
      position: absolute;
      background-image: url('REPLACE_IMAGE:274:782');
      width: 32.4rem;
      height: 79.7rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      left: 2.7rem;
      top: 13.1rem;

      .vector-wnu {
        left: 28.1rem;
        top: 3.985rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.4rem;
        height: 1.3947rem;
        position: absolute;
      }
      .vector-UH3 {
        position: absolute;
        left: 2.4rem;
        top: 11.2576rem;
        object-fit: contain;
        vertical-align: top;
        width: 4.8rem;
        height: 4.782rem;
      }
      .vector-c8M {
        height: 1.1955rem;
        position: absolute;
        left: 5.75rem;
        top: 14.8939rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.2rem;
      }
      .vector-YXo {
        left: 2.4rem;
        top: 20.0246rem;
        object-fit: contain;
        vertical-align: top;
        width: 4.8rem;
        height: 4.782rem;
        position: absolute;
      }
      .vector-tbf {
        top: 23.6609rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.2rem;
        height: 1.1955rem;
        position: absolute;
        left: 5.75rem;
      }
      .vector-pVK {
        height: 8.767rem;
        position: absolute;
        left: 0;
        top: 26.7991rem;
        object-fit: contain;
        vertical-align: top;
        width: 32.4rem;
      }
      .vector-Zxh {
        width: 0;
        height: 79.7rem;
        position: absolute;
        left: 32.35rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
      }
      .terimakasih-X8q {
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        width: 10.2rem;
        height: 2.2rem;
        position: absolute;
        left: 7.9rem;
        top: 31.2rem;
        font-size: 1.8rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .carlos-chris-DXT {
        left: 7.8rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        top: 28.6rem;
        font-size: 2.4rem;
        line-height: 1.2125;
        color: #ffffff;
        white-space: nowrap;
        width: 13.9rem;
        height: 3rem;
        position: absolute;
      }
    }
    .rectangle-29-773 {
      height: 57.4rem;
      position: absolute;
      left: 36.3rem;
      top: 22.7rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1.5rem;
      width: 63.3rem;
    }
    .vector-q33 {
      top: 12.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 96.5rem;
      height: 75.6rem;
      position: absolute;
      left: 38.2rem;
    }
    .vector-aFX {
      position: absolute;
      left: 38.2rem;
      top: 12.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 96.5rem;
      height: 7.6rem;
    }
    .vector-JxD {
      object-fit: contain;
      vertical-align: top;
      width: 0.9rem;
      height: 0.9rem;
      position: absolute;
      left: 75.4rem;
      top: 17.4rem;
    }
    .vector-eWH {
      position: absolute;
      left: 130.2rem;
      top: 16.2rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.2rem;
      height: 0.3rem;
    }
    .vector-BFK {
      width: 64.8rem;
      height: 0;
      position: absolute;
      left: 69.9rem;
      top: 20.1rem;
      object-fit: contain;
      vertical-align: top;
    }
    .vector-8RT {
      object-fit: contain;
      vertical-align: top;
      width: 3.6rem;
      height: 3.8rem;
      position: absolute;
      left: 39.7rem;
      top: 30.8rem;
    }
    .vector-gC5 {
      height: 3.7rem;
      position: absolute;
      left: 39.7rem;
      top: 64.1275rem;
      object-fit: contain;
      vertical-align: top;
      width: 3.6rem;
    }
    .group-RfT {
      left: 45.1078rem;
      top: 62.67rem;
      object-fit: contain;
      vertical-align: top;
      width: 12.0922rem;
      height: 3.3075rem;
      position: absolute;
    }
    .group-Zmf {
      position: absolute;
      left: 45.1078rem;
      top: 55.2675rem;
      object-fit: contain;
      vertical-align: top;
      width: 26.6883rem;
      height: 6.1425rem;
    }
    .group-7HP {
      height: 3.3075rem;
      position: absolute;
      left: 45.1078rem;
      top: 50.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 13.9922rem;
    }
    .group-3wj {
      position: absolute;
      left: 122.5rem;
      top: 38.4rem;
      object-fit: contain;
      vertical-align: top;
      width: 9.2rem;
      height: 3.3rem;
    }
    .vector-CZj {
      height: 6rem;
      position: absolute;
      left: 105rem;
      top: 42.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 26.7rem;
    }
    .vector-YNh {
      height: 4.6rem;
      position: absolute;
      left: 38.2rem;
      top: 88.2rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 0.1rem;
      width: 96.5rem;
    }
    .vector-ruB {
      object-fit: contain;
      vertical-align: top;
      width: 1.5rem;
      height: 1.3rem;
      position: absolute;
      left: 130.2rem;
      top: 89.4rem;
    }
    .group-23-Ci9 {
      padding: 1.02rem 0.892rem 1.048rem 0.892rem;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:274:810');
      background-position: center;
      box-sizing: border-box;
      width: 26.6883rem;
      height: 10.8675rem;
      position: absolute;
      left: 45.3rem;
      top: 21.8rem;
      background-size: cover;

      .hii-kulo-badhe-tanglet-apakah-ada-persyaratan-khusus-untuk-mengajukan-pendaftaran-maturnuwun-usT {
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        max-width: 22.5rem;
        font-size: 1.8rem;
      }
    }
    .nggih-nAZ {
      height: 2.2rem;
      position: absolute;
      font-weight: 400;
      white-space: nowrap;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 6.6rem;
      left: 123.7rem;
      top: 38.7rem;
      font-size: 1.8rem;
    }
    .untuk-persyaratan-khusus-tidak-ada-tUV {
      width: 22.3rem;
      left: 105.9rem;
      top: 43.5rem;
      font-size: 1.8rem;
      font-weight: 400;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      height: 4.4rem;
      position: absolute;
      line-height: 1.2125;
    }
    .type-your-message-npm {
      font-size: 1.8rem;
      font-weight: 400;
      color: #747373;
      white-space: nowrap;
      width: 16.3rem;
      top: 89.5rem;
      left: 39.7rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      height: 2.2rem;
      position: absolute;
    }
    .ohhh-begituu-WVs {
      height: 2.2rem;
      top: 51.1rem;
      color: #000000;
      white-space: nowrap;
      width: 12.1rem;
      position: absolute;
      left: 46rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
    }
    .jadi-untuk-persyaratan-nya-sesuai-dengan-form-jobs-ya-Rcq {
      font-size: 1.8rem;
      font-weight: 400;
      height: 4.4rem;
      position: absolute;
      top: 56rem;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 24.3rem;
      left: 46rem;
    }
    .terimakasih-LE1 {
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 10.2rem;
      position: absolute;
      font-size: 1.8rem;
      line-height: 1.2125;
      color: #000000;
      height: 2.2rem;
      left: 46rem;
      top: 63.2rem;
    }
    .carlos-chris-Fbs {
      height: 3rem;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      width: 13.9rem;
      position: absolute;
      left: 44.7rem;
      top: 14.7rem;
      font-size: 2.4rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .component-6-variant2-Ayj {
      height: 13.2rem;
      left: 0;
      display: flex;
      background-color: #4682a9;
      box-sizing: border-box;
      padding: 1.4rem 1.7rem 0.6rem 5.3rem;
      width: 144rem;
      position: absolute;
      top: 0;
      align-items: center;

      .auto-group-dcbx-st9 {
        width: 6.5rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 1.4rem 5.8rem 0rem 0rem;

        .auto-group-m9lz-DBK {
          margin-bottom: 0.5rem;
          width: 100%;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:3ca1b12fd5d3de42211f78bb83137f2f2c7657e1');
          flex-shrink: 0;

          .image-15-mCq {
            object-fit: cover;
            vertical-align: top;
            width: 6.5rem;
            height: 6.4rem;
          }
        }
        .auto-group-ih7b-GfP {
          margin: 0 0.2rem;
          width: calc(100% - 0.4rem);
          height: 2.5rem;
          position: relative;
          flex-shrink: 0;

          .profile-Qmb {
            height: 2.5rem;
            position: absolute;
            left: 0;
            top: 0;
            font-weight: 400;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            width: 6.1rem;
            font-size: 2rem;
            color: #000000;
            white-space: nowrap;
            text-align: center;
          }
          .profile-vzq {
            font-weight: 400;
            color: #000000;
            position: absolute;
            left: 0;
            font-size: 2rem;
            text-align: center;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 6.1rem;
            height: 2.5rem;
            top: 0;
          }
        }
      }
      .component-3-component-2-variant2-eR3 {
        padding: 1.341rem 1.571rem 1.403rem 40.4rem;
        height: calc(100% - 5.6rem);
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin: 2.9rem 27.3rem 2.7rem 0rem;
        box-sizing: border-box;

        .frame-wQ9 {
          width: 2.2295rem;
          height: 2.8565rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-tog1-fqw {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .icon-taskbar-ox9 {
          flex-shrink: 0;
          margin-bottom: 1.1625rem;
          display: flex;
          align-items: flex-end;

          .icon-home-8Ud {
            width: 6.9rem;
            height: 6.0375rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 3.9rem 0.9rem 0rem;
          }
          .icon-bell-E1s {
            height: 6.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.2rem 0.038rem 0rem;
            width: 6.9rem;
          }
          .icon-briefcase-wws {
            width: 6.9086rem;
            height: 6.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 2.691rem 0.438rem 0rem;
          }
          .icon-people-GjF {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 6.309rem 0.038rem 0rem;
            width: 6.8914rem;
            height: 6.9rem;
          }
          .icon-chat-oUH {
            flex-shrink: 0;
            width: 6.9rem;
            height: 6.0375rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .component-4-ibF {
          margin-left: 0.35rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .home-G6y {
            flex-shrink: 0;
            margin-right: 1.9rem;
            font-weight: 400;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            font-size: 2rem;
            color: #000000;
          }
          .notifications-yn5 {
            margin-right: 2.8rem;
            text-align: center;
            font-size: 2rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
          }
          .jobs-K5F {
            color: #000000;
            flex-shrink: 0;
            margin: 0.1rem 2.85rem 0rem 0rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
          }
          .my-network-31F {
            font-size: 2rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-weight: 400;
            color: #000000;
            margin-right: 1.3rem;
          }
          .messaging-ZEV {
            font-size: 2rem;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.2rem;
            text-align: center;
            font-weight: 400;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
    }
  }
}
