
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.my-network-jHw {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-vnih-gU5 {
    height: 13.2rem;
    flex-shrink: 0;
    margin-bottom: 3.5rem;
    width: 100%;

    .component-6-variant2-RAm {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #4682a9;
      box-sizing: border-box;
      padding: 1.4rem 1.7rem 0.6rem 5.3rem;

      .auto-group-ma8m-jSM {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 1.4rem 5.8rem 0rem 0rem;
        width: 6.5rem;
        align-items: center;

        .auto-group-3w21-s2m {
          background-position: center;
          background-image: url('REPLACE_IMAGE:3ca1b12fd5d3de42211f78bb83137f2f2c7657e1');
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          width: 100%;
          background-size: 100% 100%;
          background-repeat: no-repeat;

          .image-15-RKB {
            width: 6.5rem;
            height: 6.4rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-d43x-jqf {
          position: relative;
          flex-shrink: 0;
          margin: 0 0.2rem;
          width: calc(100% - 0.4rem);
          height: 2.5rem;

          .profile-HMP {
            font-weight: 400;
            color: #000000;
            text-align: center;
            font-size: 2rem;
            position: absolute;
            left: 0;
            top: 0;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 6.1rem;
            height: 2.5rem;
          }
          .profile-now {
            font-weight: 400;
            line-height: 1.2125;
            white-space: nowrap;
            left: 0;
            top: 0;
            text-align: center;
            font-size: 2rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            width: 6.1rem;
            height: 2.5rem;
            position: absolute;
          }
        }
      }
      .component-3-component-2-variant2-uNm {
        height: calc(100% - 5.6rem);
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin: 2.9rem 27.3rem 2.7rem 0rem;
        box-sizing: border-box;
        padding: 1.341rem 1.571rem 1.403rem 40.4rem;

        .frame-QKX {
          width: 2.2295rem;
          height: 2.8565rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-ya6z-Xuw {
        flex-shrink: 0;
        height: 100%;
        display: flex;
        flex-direction: column;

        .icon-taskbar-VLy {
          margin-bottom: 1.1625rem;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .icon-home-DXs {
            flex-shrink: 0;
            margin: 0rem 3.9rem 0.9rem 0rem;
            width: 6.9rem;
            height: 6.0375rem;
            object-fit: contain;
            vertical-align: top;
          }
          .icon-bell-XYZ {
            margin: 0rem 4.2rem 0.038rem 0rem;
            width: 6.9rem;
            height: 6.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .icon-briefcase-qZF {
            height: 6.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 2.691rem 0.438rem 0rem;
            width: 6.9086rem;
          }
          .icon-people-mC1 {
            flex-shrink: 0;
            margin: 0rem 6.309rem 0.038rem 0rem;
            width: 6.8914rem;
            height: 6.9rem;
            object-fit: contain;
            vertical-align: top;
          }
          .icon-chat-tXX {
            width: 6.9rem;
            height: 6.0375rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .component-4-qSm {
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin-left: 0.35rem;

          .home-nN1 {
            font-size: 2rem;
            line-height: 1.2125;
            color: #000000;
            margin-right: 1.9rem;
            text-align: center;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .notifications-7QH {
            text-align: center;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 2.8rem;
            font-size: 2rem;
            font-family: Inter, 'Source Sans Pro';
          }
          .jobs-3Yq {
            flex-shrink: 0;
            margin: 0.1rem 2.85rem 0rem 0rem;
            color: #000000;
            font-weight: 400;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            font-size: 2rem;
          }
          .my-network-a2y {
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-weight: 400;
            line-height: 1.2125;
            margin-right: 1.3rem;
            font-size: 2rem;
            font-family: Inter, 'Source Sans Pro';
          }
          .messaging-WSR {
            flex-shrink: 0;
            text-align: center;
            font-weight: 400;
            line-height: 1.2125;
            white-space: nowrap;
            margin-top: 0.2rem;
            font-size: 2rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
    }
  }
  .auto-group-es61-2ff {
    margin: 0rem 4rem 0rem 5.9rem;
    width: calc(100% - 9.9rem);
    height: 85.7rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-lr6m-9kH {
      width: 40.9rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .rectangle-208-uDf {
        width: 40.9rem;
        height: 6.8rem;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 28.7rem;
        background-color: #213555;
      }
      .frame-2-q7K {
        box-sizing: border-box;
        top: 0;
        background-color: #213555;
        overflow: hidden;
        padding: 4.7rem 0rem 52.9rem 0rem;
        width: 40.9rem;
        height: 85.7rem;
        position: absolute;
        left: 0;

        .auto-group-b3dx-Lpm {
          color: #000000;
          font-family: Acme, 'Source Sans Pro';
          background-color: #419197;
          font-size: 2rem;
          font-weight: 400;
          padding: 2.2rem 7.4rem 2.3rem 7.4rem;
          width: 100%;
          display: flex;
          line-height: 1.1199999809;
          white-space: nowrap;
          margin-bottom: 1.3rem;
          box-sizing: border-box;
        }
        .followers-d3B {
          font-family: Acme, 'Source Sans Pro';
          white-space: nowrap;
          cursor: pointer;
          font-size: 2rem;
          line-height: 1.1199999809;
          color: #ffffff;
          margin: 0rem 0rem 3.6rem 7.4rem;
          display: flex;
          font-weight: 400;
        }
        .acara-LTP {
          line-height: 1.1199999809;
          color: #ffffff;
          font-family: Acme, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 3.6rem 7.4rem;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
        }
        .hastag-fVf {
          line-height: 1.1199999809;
          color: #ffffff;
          font-family: Acme, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 3.6rem 7.4rem;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
        }
        .accept-job-CVb {
          white-space: nowrap;
          margin-left: 7.4rem;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.1199999809;
          color: #ffffff;
          font-family: Acme, 'Source Sans Pro';
        }
      }
    }
    .auto-group-xyed-88M {
      box-sizing: border-box;
      padding-left: 7.7rem;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-hhxy-5JV {
        flex-shrink: 0;
        margin-right: 5.1rem;
        width: 40rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-4avh-1xq {
          border-radius: 1.5rem;
          margin-bottom: 3.4rem;
          padding-top: 3.5rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          background-color: #419197;
          flex-shrink: 0;

          .auto-group-63os-xdB {
            background-position: center;
            flex-shrink: 0;
            margin: 0rem 2.3rem 3.7rem 2.5rem;
            padding: 3.1rem 12.2rem 5.1rem 11.9rem;
            width: calc(100% - 4.8rem);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            box-sizing: border-box;
            background-image: url('REPLACE_IMAGE:5d9b553a8ce0fa0084d24bf4d895afad583b414c');

            .ellipse-3-sVF {
              width: 11.1rem;
              height: 9.6rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .auto-group-fbqh-bAM {
            flex-direction: column;
            background-color: #12486b;
            border-radius: 0 0 1.5rem 1.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.3rem 1.3rem 1.3rem 1.7rem;
            width: 100%;
            display: flex;

            .bank-rakyat-indonesia-iVs {
              font-family: Aoboshi One, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 0.5rem 0.8rem;
              line-height: 1.2800000509;
              font-weight: 400;
              color: #ffffff;
              display: flex;
              font-size: 1.5rem;
            }
            .auto-group-u5vf-1zm {
              margin-bottom: 1.2rem;
              width: 100%;
              height: 5.8rem;
              position: relative;
              flex-shrink: 0;

              .rectangle-184-Moj {
                width: 37rem;
                height: 5.6rem;
                position: absolute;
                left: 0;
                top: 0.1rem;
                background-color: #d9d9d9;
              }
              .most-wanted-mahasiswa-i-s1-semester-5-7-dengan-usia-maksimal-23-tahun-berciri-ciri-memiliki-dorongan-yang-tinggi-untuk-berinovasi-berprestasi-dan-siap-berkontribusi-memberi-makna-indonesia-hMo {
                height: 5.8rem;
                left: 0.8rem;
                display: flex;
                color: #000000;
                font-family: Antic, 'Source Sans Pro';
                line-height: 1.6000000636;
                width: 36.1rem;
                position: absolute;
                top: 0;
                font-size: 1.2rem;
                font-weight: 400;

                .most-wanted-mahasiswa-i-s1-semester-5-7-dengan-usia-maksimal-23-tahun-berciri-ciri-memiliki-dorongan-yang-tinggi-untuk-berinovasi-berprestasi-dan-siap-berkontribusi-memberi-makna-indonesia-hMo-sub-0 {
                }
                .most-wanted-mahasiswa-i-s1-semester-5-7-dengan-usia-maksimal-23-tahun-berciri-ciri-memiliki-dorongan-yang-tinggi-untuk-berinovasi-berprestasi-dan-siap-berkontribusi-memberi-makna-indonesia-hMo-sub-1 {
                  color: #2e5b5e;
                  font-family: Antic, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.6000000636;
                }
              }
            }
            .auto-group-ed1p-nRB {
              width: 100%;
              height: 2.9rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .auto-group-rkrh-LBo {
                margin-right: 0.4rem;
                background-color: #d9d9d9;
                height: 100%;
                font-weight: 800;
                line-height: 1.8666666349;
                color: #000000;
                font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
                white-space: nowrap;
                border-radius: 0.5rem;
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                width: 18.3rem;
              }
              .auto-group-puuh-QBf {
                color: #000000;
                justify-content: center;
                font-size: 1.2rem;
                font-weight: 800;
                display: flex;
                line-height: 1.8666666349;
                white-space: nowrap;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 18.3rem;
                height: 100%;
                font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
                align-items: center;
                background-color: #d9d9d9;
              }
            }
          }
        }
        .auto-group-92bw-eLu {
          box-sizing: border-box;
          width: 100%;
          flex-direction: column;
          background-color: #419197;
          border-radius: 1.5rem;
          padding-top: 3.5rem;
          align-items: center;
          display: flex;
          flex-shrink: 0;

          .auto-group-p6bo-PZP {
            margin: 0rem 2.3rem 3.7rem 2.5rem;
            width: calc(100% - 4.8rem);
            height: 17.8rem;
            position: relative;
            background-size: 100% 100%;
            background-position: center;
            background-image: url('REPLACE_IMAGE:5d9b553a8ce0fa0084d24bf4d895afad583b414c');
            background-repeat: no-repeat;
            flex-shrink: 0;

            .ellipse-5-JRT {
              left: 11.9rem;
              top: 3.1rem;
              object-fit: contain;
              vertical-align: top;
              width: 11.1rem;
              height: 9.6rem;
              position: absolute;
            }
            .vector-E4D {
              width: 6.1rem;
              height: 5.1rem;
              position: absolute;
              left: 14.4rem;
              top: 6rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .auto-group-4re5-8vH {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.3rem 1.3rem 1.3rem 1.7rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: #12486b;
            border-radius: 0 0 1.5rem 1.5rem;

            .nama-perusahaan-Fzu {
              display: flex;
              font-size: 1.5rem;
              font-family: Aoboshi One, 'Source Sans Pro';
              margin: 0rem 0rem 0.6rem 0.8rem;
              line-height: 1.2800000509;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 400;
            }
            .auto-group-tjof-MY9 {
              box-sizing: border-box;
              color: #000000;
              font-family: Antic, 'Source Sans Pro';
              background-color: #d9d9d9;
              margin-bottom: 1.3rem;
              width: 100%;
              height: 5.6rem;
              display: flex;
              font-size: 1.2rem;
              font-weight: 400;
              white-space: nowrap;
              padding: 0.6rem 0.8rem;
              line-height: 1.6000000636;
              flex-shrink: 0;
            }
            .auto-group-qfiu-dVf {
              align-items: center;
              flex-shrink: 0;
              width: 100%;
              height: 2.9rem;
              display: flex;

              .auto-group-jniq-Ni9 {
                border-radius: 0.5rem;
                margin-right: 0.4rem;
                font-weight: 800;
                white-space: nowrap;
                align-items: center;
                justify-content: center;
                font-size: 1.2rem;
                line-height: 1.8666666349;
                width: 18.3rem;
                height: 100%;
                display: flex;
                color: #000000;
                font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
                background-color: #d9d9d9;
                flex-shrink: 0;
              }
              .auto-group-skqm-TDo {
                height: 100%;
                display: flex;
                font-size: 1.2rem;
                white-space: nowrap;
                align-items: center;
                border-radius: 0.5rem;
                width: 18.3rem;
                flex-shrink: 0;
                font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
                line-height: 1.8666666349;
                color: #000000;
                justify-content: center;
                background-color: #d9d9d9;
                font-weight: 800;
              }
            }
          }
        }
      }
      .auto-group-wagd-tK7 {
        flex-shrink: 0;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-485s-eJH {
          align-items: center;
          flex-direction: column;
          margin: 0rem 0.4rem 3.4rem 0rem;
          padding-top: 3.5rem;
          display: flex;
          background-color: #419197;
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 40rem;

          .auto-group-kbzw-AXX {
            margin: 0rem 2.3rem 3.7rem 2.5rem;
            width: calc(100% - 4.8rem);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 3.1rem 12.2rem 5.1rem 11.9rem;
            background-image: url('REPLACE_IMAGE:5d9b553a8ce0fa0084d24bf4d895afad583b414c');

            .ellipse-4-5Pb {
              width: 11.1rem;
              height: 9.6rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .auto-group-d7iv-noo {
            display: flex;
            flex-direction: column;
            background-color: #12486b;
            border-radius: 0 0 1.5rem 1.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.3rem 1.3rem 1.3rem 1.7rem;
            width: 100%;

            .bank-rakyat-indonesia-K33 {
              white-space: nowrap;
              display: flex;
              font-weight: 400;
              line-height: 1.2800000509;
              color: #ffffff;
              margin: 0rem 0rem 0.5rem 0.8rem;
              font-size: 1.5rem;
              font-family: Aoboshi One, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .auto-group-mpn1-Rbs {
              flex-shrink: 0;
              margin-bottom: 1.2rem;
              width: 100%;
              height: 5.8rem;
              position: relative;

              .rectangle-192-y7b {
                position: absolute;
                left: 0;
                top: 0.1rem;
                background-color: #d9d9d9;
                width: 37rem;
                height: 5.6rem;
              }
              .hai-hai-generasi-brilian-nggak-ada-waktu-buat-ragu-ini-saatnya-kamu-menjemput-mimpimu-jadi-kenyataanpendaftaran-brilian-scholarship-program-sudah-dibuka-yuk-persiapkan-dirimu-sekarang-dan-jangan-sia-siakan-kesempatan-emas-bergabung-JvZ {
                left: 1.2rem;
                top: 0;
                font-size: 1rem;
                font-weight: 400;
                color: #000000;
                font-family: Antic, 'Source Sans Pro';
                width: 35.8rem;
                height: 5.8rem;
                line-height: 1.9200000763;
                position: absolute;
                display: flex;

                .hai-hai-generasi-brilian-nggak-ada-waktu-buat-ragu-ini-saatnya-kamu-menjemput-mimpimu-jadi-kenyataanpendaftaran-brilian-scholarship-program-sudah-dibuka-yuk-persiapkan-dirimu-sekarang-dan-jangan-sia-siakan-kesempatan-emas-bergabung-JvZ-sub-0 {
                }
                .hai-hai-generasi-brilian-nggak-ada-waktu-buat-ragu-ini-saatnya-kamu-menjemput-mimpimu-jadi-kenyataanpendaftaran-brilian-scholarship-program-sudah-dibuka-yuk-persiapkan-dirimu-sekarang-dan-jangan-sia-siakan-kesempatan-emas-bergabung-JvZ-sub-1 {
                  font-family: Antic, 'Source Sans Pro';
                  font-size: 1rem;
                  font-weight: 400;
                  line-height: 1.9200000763;
                  color: #042c2c;
                }
              }
            }
            .auto-group-skmt-GPX {
              width: 100%;
              height: 2.9rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .auto-group-l64d-R1X {
                display: flex;
                border-radius: 0.5rem;
                flex-shrink: 0;
                margin-right: 0.4rem;
                height: 100%;
                line-height: 1.8666666349;
                white-space: nowrap;
                background-color: #d9d9d9;
                width: 18.3rem;
                font-size: 1.2rem;
                color: #000000;
                font-weight: 800;
                font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
                align-items: center;
                justify-content: center;
              }
              .auto-group-ar3o-hUq {
                font-weight: 800;
                align-items: center;
                flex-shrink: 0;
                font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
                height: 100%;
                font-size: 1.2rem;
                line-height: 1.8666666349;
                white-space: nowrap;
                border-radius: 0.5rem;
                width: 18.3rem;
                color: #000000;
                justify-content: center;
                background-color: #d9d9d9;
                display: flex;
              }
            }
          }
        }
        .auto-group-n9x1-ki1 {
          margin-left: 0.4rem;
          background-color: #419197;
          display: flex;
          flex-direction: column;
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 3.5rem;
          width: 40rem;
          align-items: center;

          .auto-group-n2w1-gbf {
            background-position: center;
            background-image: url('REPLACE_IMAGE:5d9b553a8ce0fa0084d24bf4d895afad583b414c');
            flex-shrink: 0;
            background-repeat: no-repeat;
            margin: 0rem 2.3rem 3.7rem 2.5rem;
            width: calc(100% - 4.8rem);
            height: 17.8rem;
            position: relative;
            background-size: 100% 100%;

            .ellipse-6-189 {
              position: absolute;
              left: 11.9rem;
              top: 3.1rem;
              object-fit: contain;
              vertical-align: top;
              width: 11.1rem;
              height: 9.6rem;
            }
            .vector-vku {
              width: 6.1rem;
              height: 5.1rem;
              position: absolute;
              left: 14.4rem;
              top: 6rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .auto-group-3xpf-qss {
            box-sizing: border-box;
            padding: 1.3rem 1.3rem 1.3rem 1.7rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: #12486b;
            border-radius: 0 0 1.5rem 1.5rem;
            flex-shrink: 0;

            .nama-perusahaan-BB3 {
              font-size: 1.5rem;
              line-height: 1.2800000509;
              font-family: Aoboshi One, 'Source Sans Pro';
              margin: 0rem 0rem 0.6rem 0.8rem;
              font-weight: 400;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
            }
            .auto-group-gg9t-Hjs {
              width: 100%;
              font-weight: 400;
              line-height: 1.6000000636;
              margin-bottom: 1.3rem;
              display: flex;
              font-size: 1.2rem;
              box-sizing: border-box;
              padding: 0.2rem 0.8rem;
              height: 5.6rem;
              background-color: #d9d9d9;
              color: #000000;
              font-family: Antic, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .auto-group-nd4h-Aof {
              width: 100%;
              height: 2.9rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .auto-group-nwwv-KgZ {
                margin-right: 0.4rem;
                height: 100%;
                background-color: #d9d9d9;
                border-radius: 0.5rem;
                flex-shrink: 0;
                width: 18.3rem;
                font-size: 1.2rem;
                font-weight: 800;
                line-height: 1.8666666349;
                font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
                justify-content: center;
                align-items: center;
                display: flex;
                color: #000000;
                white-space: nowrap;
              }
              .auto-group-itwx-D1F {
                width: 18.3rem;
                display: flex;
                font-weight: 800;
                border-radius: 0.5rem;
                font-size: 1.2rem;
                align-items: center;
                justify-content: center;
                height: 100%;
                color: #000000;
                font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
                flex-shrink: 0;
                line-height: 1.8666666349;
                white-space: nowrap;
                background-color: #d9d9d9;
              }
            }
          }
        }
      }
    }
  }
}
