
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-comment-sent-like-followed-3-5cy {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .component-6-variant2-P7s {
    box-sizing: border-box;
    padding: 1.4rem 1.7rem 0.6rem 5.3rem;
    width: 100%;
    height: 13.2rem;
    display: flex;
    align-items: center;
    background-color: #4682a9;
    flex-shrink: 0;

    .auto-group-lnmt-t4d {
      margin: 1.4rem 5.8rem 0rem 0rem;
      width: 6.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-zx49-QHs {
        margin-bottom: 0.5rem;
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:3ca1b12fd5d3de42211f78bb83137f2f2c7657e1');
        flex-shrink: 0;

        .image-15-A29 {
          width: 6.5rem;
          height: 6.4rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-2hjd-shF {
        height: 2.5rem;
        position: relative;
        flex-shrink: 0;
        margin: 0 0.2rem;
        width: calc(100% - 0.4rem);

        .profile-ceq {
          white-space: nowrap;
          width: 6.1rem;
          height: 2.5rem;
          position: absolute;
          top: 0;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          left: 0;
          text-align: center;
          font-size: 2rem;
          color: #000000;
        }
        .profile-WkD {
          white-space: nowrap;
          left: 0;
          text-align: center;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          color: #000000;
          width: 6.1rem;
          height: 2.5rem;
          position: absolute;
          top: 0;
          font-size: 2rem;
        }
      }
    }
    .component-3-component-2-variant2-Qqb {
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin: 2.9rem 27.3rem 2.7rem 0rem;
      box-sizing: border-box;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;
      height: calc(100% - 5.6rem);
      background-color: #ffffff;

      .frame-i5b {
        object-fit: contain;
        vertical-align: top;
        width: 2.2295rem;
        height: 2.8565rem;
      }
    }
    .auto-group-mpj9-Epd {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .icon-taskbar-zYu {
        flex-shrink: 0;
        margin-bottom: 1.1625rem;
        display: flex;
        align-items: flex-end;

        .icon-home-YKX {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3.9rem 0.9rem 0rem;
          width: 6.9rem;
          height: 6.0375rem;
          object-fit: contain;
        }
        .icon-bell-ECM {
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.2rem 0.038rem 0rem;
          width: 6.9rem;
          height: 6.9rem;
        }
        .icon-briefcase-Yiq {
          height: 6.9rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.691rem 0.438rem 0rem;
          width: 6.9086rem;
        }
        .icon-people-UMb {
          margin: 0rem 6.309rem 0.038rem 0rem;
          width: 6.8914rem;
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icon-chat-CoP {
          width: 6.9rem;
          height: 6.0375rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .component-4-MRP {
        align-items: flex-start;
        flex-shrink: 0;
        margin-left: 0.35rem;
        display: flex;

        .home-gyT {
          margin-right: 1.9rem;
          font-size: 2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          text-align: center;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .notifications-1kq {
          text-align: center;
          font-size: 2rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 2.8rem;
          font-weight: 400;
          line-height: 1.2125;
          flex-shrink: 0;
        }
        .jobs-wuP {
          text-align: center;
          font-size: 2rem;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.1rem 2.85rem 0rem 0rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
        }
        .my-network-Tcq {
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.3rem;
          font-size: 2rem;
          text-align: center;
        }
        .messaging-PFb {
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-top: 0.2rem;
          line-height: 1.2125;
          color: #000000;
          flex-shrink: 0;
        }
      }
    }
  }
  .auto-group-m8ff-W5K {
    box-sizing: border-box;
    padding-top: 6.7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-rjrs-TFT {
      height: 86.6rem;
      display: flex;
      column-gap: 5.1rem;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 6.2rem 8.1rem 3rem;
      width: calc(100% - 9.2rem);

      .auto-group-edky-ZpH {
        flex-direction: column;
        flex-shrink: 0;
        width: 28.2rem;
        align-items: center;
        display: flex;

        .auto-group-hzzq-7au {
          display: flex;
          flex-direction: column;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          width: 100%;
          align-items: center;

          .auto-group-f7jm-Fh7 {
            width: 100%;
            height: 14.7rem;
            position: relative;
            flex-shrink: 0;

            .wallpaperflare-2-cGm {
              width: 28.2rem;
              height: 9.4rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
            }
            .vector-wpq {
              object-fit: contain;
              vertical-align: top;
              width: 12rem;
              height: 12rem;
              position: absolute;
              left: 8.1rem;
              top: 2.7rem;
            }
          }
          .auto-group-6bdw-Upm {
            box-sizing: border-box;
            padding: 0.3rem 3.5rem 2.2rem 2.2rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-jttr-oc9 {
              margin: 0rem 3.3rem 3.6rem 4.7rem;
              width: calc(100% - 8rem);
              height: 6.2rem;
              position: relative;
              flex-shrink: 0;

              .jonathan-milos-Y3w {
                top: 0;
                font-size: 2.4rem;
                font-weight: 400;
                color: #000000;
                white-space: nowrap;
                position: absolute;
                left: 0;
                text-align: center;
                line-height: 1.76;
                font-family: Amiri, 'Source Sans Pro';
                width: 14.5rem;
                height: 4.3rem;
              }
              .data-architect-eMs {
                line-height: 1.76;
                width: 8.6rem;
                height: 2.7rem;
                position: absolute;
                left: 2.95rem;
                top: 3.5rem;
                text-align: center;
                font-size: 1.5rem;
                white-space: nowrap;
                font-weight: 400;
                color: #000000;
                font-family: Amiri, 'Source Sans Pro';
              }
            }
            .line-1-wbs {
              width: 21.1rem;
              height: 0.1rem;
              background-color: #000000;
              flex-shrink: 0;
              margin: 0rem 0rem 2.3rem 1.4rem;
            }
            .connection-Tq7 {
              line-height: 1.2675;
              color: #000000;
              font-family: Acme, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 15.7rem 2.2rem 0rem;
              font-size: 1.5rem;
              font-weight: 400;
            }
            .line-2-nMb {
              width: 21.1rem;
              height: 0.1rem;
              background-color: #000000;
              flex-shrink: 0;
              margin: 0rem 0rem 1.3rem 1.4rem;
            }
            .try-premium-X4H {
              line-height: 1.2675;
              color: #000000;
              font-family: Acme, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 14.8rem;
              font-size: 1.5rem;
              font-weight: 400;
            }
          }
        }
        .auto-group-cqbp-qqf {
          width: 100%;
          display: flex;
          flex-direction: column;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.2rem 3.5rem 2.1rem 2.2rem;

          .group-a2Z {
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2675;
            color: #000000;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
          }
          .events-Jz9 {
            margin-bottom: 1.1rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2675;
            color: #000000;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .followed-hashtags-FeV {
            line-height: 1.2675;
            color: #000000;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2rem;
            font-size: 1.5rem;
            font-weight: 400;
          }
          .line-3-aAy {
            margin: 0rem 0rem 1.5rem 1.4rem;
            width: 21.1rem;
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .discover-more-uU9 {
            text-align: center;
            font-weight: 400;
            line-height: 1.2675;
            font-family: Acme, 'Source Sans Pro';
            width: 100%;
            font-size: 1.5rem;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-kf5x-pr1 {
        width: 63.3rem;
        height: 100%;
        flex-shrink: 0;

        .frame-3-aaH {
          margin-bottom: 5.6rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          box-sizing: border-box;
          padding: 0.6rem 1.3rem 0.8rem 0.7rem;
          overflow: hidden;
          position: relative;
          border: solid 0.1rem #000000;

          .auto-group-ufrx-HzV {
            height: 3.6rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 1.7rem;
            width: 100%;

            .vector-2x5 {
              margin-right: 1.1rem;
              width: 3.6rem;
              height: 3.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-tzp7-mPs {
              margin: 0.1rem 0;
              width: 56.6rem;
              height: calc(100% - 0.2rem);
              position: relative;
              flex-shrink: 0;

              .start-a-post-6ww {
                white-space: nowrap;
                top: 0.9rem;
                height: 1.4rem;
                position: absolute;
                left: 0.9rem;
                font-size: 1.1rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #757575;
                width: 6.2rem;
                font-family: Inter, 'Source Sans Pro';
              }
              .rectangle-29-cQV {
                border: solid 0.1rem #000000;
                box-sizing: border-box;
                border-radius: 1.5rem;
                width: 56.6rem;
                height: 3.4rem;
                position: absolute;
                left: 0;
                top: 0;
              }
            }
          }
          .auto-group-zkwb-LbP {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 3.1rem 0rem 5.5rem;
            width: calc(100% - 8.6rem);

            .icon-media-image-3Eu {
              flex-shrink: 0;
              margin-right: 0.2rem;
              width: 1.6rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
            }
            .media-AaR {
              line-height: 1.2125;
              color: #757575;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 17.3rem;
              font-size: 1.1rem;
              font-weight: 400;
            }
            .events-6iy {
              margin: 0rem 0.3rem 0.2rem 0rem;
              width: 1.7rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .events-pus {
              color: #757575;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 16.2rem;
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 1.2125;
            }
            .article-yGy {
              margin-right: 0.2175rem;
              width: 2.1825rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .write-article-Kbj {
              font-weight: 400;
              line-height: 1.2125;
              color: #757575;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.1rem;
            }
          }
        }
        .auto-group-hguj-SgM {
          box-sizing: border-box;
          padding-top: 2rem;
          width: 63rem;
          border: solid 0.2rem #000000;
          border-radius: 3rem;

          .auto-group-ld81-Bdw {
            margin: 0rem 36rem 0.5rem 2.5rem;
            width: calc(100% - 38.5rem);
            display: flex;
            align-items: center;

            .ellipse-XSu {
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              background-color: #000000;
              border-radius: 2.25rem;
              flex-shrink: 0;
              margin-right: 0.5rem;
              width: 4.5rem;
              height: 4.5rem;
            }
            .pt-mencari-cinta-sejati-4Bw {
              flex-shrink: 0;
              margin-top: 0.3rem;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.76;
              color: #000000;
              font-family: Amiri, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .wallpaperflare-1-ndj {
            width: 63rem;
            height: 27.7rem;
            object-fit: cover;
            vertical-align: top;
          }
          .auto-group-ici1-XbK {
            align-items: center;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 1.4rem 0rem 2.5rem 0rem;
            width: 100%;
            height: 37.6rem;

            .group-19-45T {
              margin: 0rem 4.142rem 1.4rem 6.5rem;
              width: calc(100% - 10.6418rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .icon-heart-BQy {
                flex-shrink: 0;
                margin: 0.1rem 10.8rem 0rem 0rem;
                width: 3.1rem;
                height: 2.8rem;
                cursor: pointer;
                object-fit: contain;
                vertical-align: top;
              }
              .group-17-1eu {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.1rem 13.7rem 0rem 0rem;
                width: 3.2rem;
                height: 3.2rem;
                cursor: pointer;
                object-fit: contain;
              }
              .icon-repost-Y93 {
                flex-shrink: 0;
                margin: 0rem 13.9rem 0.1rem 0rem;
                width: 4.3rem;
                height: 3rem;
                object-fit: contain;
                vertical-align: top;
              }
              .icon-share-rQd {
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.11rem;
                width: 3.3582rem;
                height: 3.19rem;
                object-fit: contain;
              }
            }
            .line-4-zWq {
              height: 0.2rem;
              background-color: #000000;
              flex-shrink: 0;
              margin: 0rem 0rem 1.4rem 0rem;
              width: calc(100% - 0rem);
            }
            .auto-group-s8az-vvH {
              height: 4.5rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 2.5rem 6.7rem 1.8rem;
              width: calc(100% - 4.3rem);

              .vector-row {
                margin-right: 1.1rem;
                width: 4.5rem;
                height: 4.5rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .auto-group-zenh-c2R {
                border: solid 0.1rem #000000;
                flex-shrink: 0;
                padding: 0.8rem 0.864rem 0.964rem 1rem;
                align-items: center;
                height: calc(100% - 0.4rem);
                display: flex;
                background-color: #ffffff;
                border-radius: 2.7rem;
                margin: 0.2rem 0;
                box-sizing: border-box;

                .add-a-comment-ir9 {
                  margin: 0rem 34rem 0.136rem 0rem;
                  font-size: 1.8rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #757575;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .icon-send-2rq {
                  flex-shrink: 0;
                  margin-top: 0.1rem;
                  width: 2.236rem;
                  height: 2.236rem;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
            }
            .auto-group-tlrj-XYh {
              align-items: flex-start;
              flex-shrink: 0;
              margin: 0rem 2.3rem 1.8rem 1.8rem;
              width: calc(100% - 4.1rem);
              height: 7.2rem;
              display: flex;

              .vector-3mw {
                height: 4.5rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1rem;
                width: 4.5rem;
              }
              .auto-group-uokk-bYZ {
                padding: 0.8rem 0.6rem 0.9rem 0.5rem;
                height: 100%;
                display: flex;
                align-items: center;
                background-color: #ececec;
                border-radius: 0.8rem;
                flex-shrink: 0;
                box-sizing: border-box;

                .auto-group-2u7t-j8y {
                  width: 7.9rem;
                  height: 100%;
                  position: relative;
                  flex-shrink: 0;
                  margin-right: 43rem;

                  .jonathan-milos-sFB {
                    width: 7.8rem;
                    position: absolute;
                    top: 0;
                    font-weight: 400;
                    color: #000000;
                    font-family: Acme, 'Source Sans Pro';
                    white-space: nowrap;
                    height: 1.7rem;
                    left: 0.1rem;
                    font-size: 1.3rem;
                    line-height: 1.2675;
                  }
                  .data-architect-mrM {
                    color: rgba(82, 82, 82, 0.6000000238);
                    font-family: Amiri, 'Source Sans Pro';
                    white-space: nowrap;
                    width: 4.1rem;
                    position: absolute;
                    font-size: 0.7rem;
                    font-weight: 400;
                    line-height: 1.76;
                    height: 1.3rem;
                    left: 0.1rem;
                    top: 1.6rem;
                  }
                  .like-gCd {
                    font-size: 0.7rem;
                    font-family: Amiri, 'Source Sans Pro';
                    white-space: nowrap;
                    width: 1.2rem;
                    height: 1.3rem;
                    position: absolute;
                    left: 0.1rem;
                    top: 4.2rem;
                    font-weight: 400;
                    line-height: 1.76;
                    color: rgba(82, 82, 82, 0.6000000238);
                  }
                  .reply-nFf {
                    left: 2.6rem;
                    font-weight: 400;
                    line-height: 1.76;
                    color: rgba(82, 82, 82, 0.6000000238);
                    font-family: Amiri, 'Source Sans Pro';
                    width: 1.6rem;
                    position: absolute;
                    font-size: 0.7rem;
                    white-space: nowrap;
                    height: 1.3rem;
                    top: 4.2rem;
                  }
                  .item--uLH {
                    line-height: 1.76;
                    font-family: Amiri, 'Source Sans Pro';
                    white-space: nowrap;
                    height: 1.3rem;
                    position: absolute;
                    top: 4rem;
                    font-weight: 400;
                    width: 0.2rem;
                    left: 1.9rem;
                    font-size: 0.7rem;
                    color: rgba(82, 82, 82, 0.6000000238);
                  }
                  .nice-1u7 {
                    height: 2.3rem;
                    font-size: 1.3rem;
                    font-weight: 400;
                    color: #000000;
                    white-space: nowrap;
                    width: 2.4rem;
                    position: absolute;
                    left: 0;
                    top: 2.3rem;
                    line-height: 1.76;
                    font-family: Amiri, 'Source Sans Pro';
                  }
                }
                .now-k61 {
                  margin-bottom: 3.6rem;
                  font-size: 0.7rem;
                  font-weight: 400;
                  line-height: 1.76;
                  color: #000000;
                  font-family: Amiri, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
            .auto-group-35am-H5w {
              margin: 0rem 2.3rem 0rem 1.8rem;
              width: calc(100% - 4.1rem);
              height: 7.2rem;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .vector-QwF {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1rem;
                width: 4.5rem;
                height: 4.5rem;
                object-fit: contain;
              }
              .auto-group-89g1-Zp9 {
                background-color: #ececec;
                border-radius: 0.8rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 0.8rem 1rem 0.9rem 0.5rem;
                height: 100%;
                display: flex;
                align-items: center;

                .auto-group-xucv-ud7 {
                  flex-shrink: 0;
                  margin-right: 44.8rem;
                  width: 6.3rem;
                  height: 100%;
                  position: relative;

                  .joseph-felix-rYM {
                    left: 0.1rem;
                    font-size: 1.3rem;
                    line-height: 1.2675;
                    white-space: nowrap;
                    width: 6.2rem;
                    height: 1.7rem;
                    position: absolute;
                    top: 0;
                    font-weight: 400;
                    color: #000000;
                    font-family: Acme, 'Source Sans Pro';
                  }
                  .ceo-of-pt-sern-ZxZ {
                    line-height: 1.76;
                    color: rgba(82, 82, 82, 0.6000000238);
                    font-family: Amiri, 'Source Sans Pro';
                    position: absolute;
                    left: 0.1rem;
                    top: 1.6rem;
                    font-weight: 400;
                    width: 5.2rem;
                    height: 1.3rem;
                    font-size: 0.7rem;
                    white-space: nowrap;
                  }
                  .like-5R7 {
                    width: 1.2rem;
                    height: 1.3rem;
                    position: absolute;
                    font-weight: 400;
                    color: rgba(82, 82, 82, 0.6000000238);
                    left: 0.1rem;
                    top: 4.2rem;
                    font-size: 0.7rem;
                    line-height: 1.76;
                    font-family: Amiri, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .reply-Pwb {
                    position: absolute;
                    left: 2.6rem;
                    font-size: 0.7rem;
                    font-weight: 400;
                    color: rgba(82, 82, 82, 0.6000000238);
                    font-family: Amiri, 'Source Sans Pro';
                    width: 1.6rem;
                    height: 1.3rem;
                    top: 4.2rem;
                    line-height: 1.76;
                    white-space: nowrap;
                  }
                  .item--XH7 {
                    position: absolute;
                    left: 1.9rem;
                    top: 4rem;
                    font-size: 0.7rem;
                    line-height: 1.76;
                    font-family: Amiri, 'Source Sans Pro';
                    white-space: nowrap;
                    width: 0.2rem;
                    height: 1.3rem;
                    font-weight: 400;
                    color: rgba(82, 82, 82, 0.6000000238);
                  }
                  .nice-one-3mF {
                    left: 0;
                    font-weight: 400;
                    line-height: 1.76;
                    font-size: 1.3rem;
                    color: #000000;
                    font-family: Amiri, 'Source Sans Pro';
                    white-space: nowrap;
                    width: 4.7rem;
                    height: 2.3rem;
                    position: absolute;
                    top: 2.3rem;
                  }
                }
                .d-BMf {
                  font-weight: 400;
                  line-height: 1.76;
                  color: #000000;
                  font-family: Amiri, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 3.6rem;
                  font-size: 0.7rem;
                }
              }
            }
          }
        }
      }
      .frame-4-tWy {
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #213555;
        flex-shrink: 0;
        width: 33.1rem;
        overflow: hidden;

        .auto-group-d7xq-3Ps {
          height: 11.2rem;
          position: relative;
          flex-shrink: 0;
          margin-bottom: 0.7rem;
          width: 100%;

          .vector-zK7 {
            object-fit: contain;
            vertical-align: top;
            width: 5.6rem;
            height: 5.6rem;
            position: absolute;
            left: 1.4rem;
            top: 1.5rem;
          }
          .richard-alya-jXb {
            white-space: nowrap;
            width: 6.6rem;
            height: 1.7rem;
            position: absolute;
            top: 2.4rem;
            font-weight: 400;
            color: #ffffff;
            left: 7.7rem;
            font-size: 1.3rem;
            line-height: 1.2675;
            font-family: Acme, 'Source Sans Pro';
          }
          .co-founder-at-kawan-media-TTb {
            height: 2rem;
            position: absolute;
            font-size: 1.1rem;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.6000000238);
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
            width: 13rem;
            left: 7.7rem;
            top: 4rem;
            line-height: 1.76;
          }
          .rectangle-30-khb {
            box-sizing: border-box;
            border-radius: 1.5rem;
            position: absolute;
            top: 6rem;
            border: solid 0.1rem #000000;
            background-color: #d9d9d9;
            width: 8.2rem;
            height: 2.3rem;
            left: 7.7rem;
          }
          .follow-U7o {
            white-space: nowrap;
            position: absolute;
            left: 10rem;
            top: 5.8rem;
            font-size: 1.3rem;
            color: #000000;
            font-family: Arya, 'Source Sans Pro';
            width: 3.4rem;
            height: 2.4rem;
            font-weight: 400;
            line-height: 1.81;
          }
          .rectangle-219-Z9F {
            top: 0;
            background-color: rgba(81, 81, 81, 0.75);
            width: 33.1rem;
            height: 11.2rem;
            position: absolute;
            left: 0;
          }
          .followed-gzZ {
            top: 4.7rem;
            font-size: 2rem;
            color: #ffffff;
            white-space: nowrap;
            left: 11.4rem;
            height: 2.5rem;
            position: absolute;
            text-align: center;
            font-weight: 800;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            width: 8.9rem;
          }
        }
        .auto-group-dqww-bbj {
          position: relative;
          flex-shrink: 0;
          width: 100%;
          height: 11.2rem;

          .vector-8bf {
            position: absolute;
            left: 1.4rem;
            top: 0.7rem;
            object-fit: contain;
            vertical-align: top;
            width: 5.6rem;
            height: 5.6rem;
          }
          .joseph-felix-s3T {
            left: 7.7rem;
            top: 1.6rem;
            line-height: 1.2675;
            font-family: Acme, 'Source Sans Pro';
            font-weight: 400;
            color: #ffffff;
            white-space: nowrap;
            width: 6.2rem;
            height: 1.7rem;
            position: absolute;
            font-size: 1.3rem;
          }
          .ceo-of-pt-sern-jLZ {
            top: 3.2rem;
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 1.76;
            font-family: Amiri, 'Source Sans Pro';
            width: 8.2rem;
            height: 2rem;
            left: 7.7rem;
            position: absolute;
            color: rgba(255, 255, 255, 0.6000000238);
            white-space: nowrap;
          }
          .rectangle-31-RjB {
            width: 8.2rem;
            height: 2.3rem;
            box-sizing: border-box;
            background-color: #d9d9d9;
            position: absolute;
            left: 7.7rem;
            top: 4.8rem;
            border: solid 0.1rem #000000;
            border-radius: 1.5rem;
          }
          .follow-Lr9 {
            top: 4.7rem;
            line-height: 1.81;
            font-family: Arya, 'Source Sans Pro';
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
            width: 3.4rem;
            height: 2.4rem;
            position: absolute;
            left: 9.8rem;
            font-size: 1.3rem;
          }
          .rectangle-218-fdX {
            background-color: rgba(81, 81, 81, 0.75);
            width: 33.1rem;
            height: 11.2rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .followed-pFX {
            text-align: center;
            font-size: 2rem;
            line-height: 1.2125;
            width: 8.9rem;
            height: 2.5rem;
            position: absolute;
            left: 11.4rem;
            top: 4.7rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 800;
          }
        }
      }
    }
    .auto-group-tcyd-irh {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .followed-hashtags-gHj {
        color: #000000;
        font-family: Acme, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 66.5rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2675;
      }
      .union-QUd {
        width: 3.5684rem;
        height: 2.8489rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 1.4rem 13.732rem 0rem 0rem;
      }
      .vector-89j {
        margin-top: 0.6rem;
        width: 3.4344rem;
        height: 3.4344rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
