
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-comment-sent-followed-1-txd {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .component-6-variant2-1XT {
    width: 100%;
    height: 13.2rem;
    display: flex;
    align-items: center;
    background-color: #4682a9;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.4rem 1.7rem 0.6rem 5.3rem;

    .auto-group-68jz-uMw {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.4rem 5.8rem 0rem 0rem;
      width: 6.5rem;
      align-items: center;

      .auto-group-ytbj-pUu {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:3ca1b12fd5d3de42211f78bb83137f2f2c7657e1');
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        width: 100%;

        .image-15-NWR {
          width: 6.5rem;
          height: 6.4rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-epsh-gX7 {
        margin: 0 0.2rem;
        width: calc(100% - 0.4rem);
        height: 2.5rem;
        position: relative;
        flex-shrink: 0;

        .profile-c9s {
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          left: 0;
          top: 0;
          font-size: 2rem;
          text-align: center;
          color: #000000;
          white-space: nowrap;
          width: 6.1rem;
          height: 2.5rem;
          position: absolute;
        }
        .profile-s5o {
          height: 2.5rem;
          text-align: center;
          color: #000000;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 6.1rem;
          position: absolute;
          left: 0;
          top: 0;
          font-size: 2rem;
          font-weight: 400;
          white-space: nowrap;
        }
      }
    }
    .component-3-component-2-variant2-y8q {
      flex-shrink: 0;
      margin: 2.9rem 27.3rem 2.7rem 0rem;
      box-sizing: border-box;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;
      height: calc(100% - 5.6rem);
      background-color: #ffffff;
      border-radius: 0.5rem;

      .frame-rTX {
        width: 2.2295rem;
        height: 2.8565rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-ik53-aPX {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;

      .icon-taskbar-jXK {
        margin-bottom: 1.1625rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .icon-home-H33 {
          height: 6.0375rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3.9rem 0.9rem 0rem;
          width: 6.9rem;
        }
        .icon-bell-BeD {
          width: 6.9rem;
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.2rem 0.038rem 0rem;
        }
        .icon-briefcase-7Gy {
          margin: 0rem 2.691rem 0.438rem 0rem;
          width: 6.9086rem;
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icon-people-SKF {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 6.309rem 0.038rem 0rem;
          width: 6.8914rem;
          height: 6.9rem;
          object-fit: contain;
        }
        .icon-chat-mcR {
          flex-shrink: 0;
          width: 6.9rem;
          height: 6.0375rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .component-4-7RP {
        margin-left: 0.35rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .home-rNy {
          margin-right: 1.9rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
        }
        .notifications-aJy {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 2.8rem;
          font-weight: 400;
          flex-shrink: 0;
          text-align: center;
          font-size: 2rem;
        }
        .jobs-741 {
          flex-shrink: 0;
          margin: 0.1rem 2.85rem 0rem 0rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .my-network-RqP {
          flex-shrink: 0;
          margin-right: 1.3rem;
          font-size: 2rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          text-align: center;
          font-weight: 400;
          line-height: 1.2125;
          white-space: nowrap;
        }
        .messaging-Zgh {
          font-size: 2rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          line-height: 1.2125;
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.2rem;
          text-align: center;
          font-weight: 400;
        }
      }
    }
  }
  .auto-group-mmdw-6Aq {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 6.7rem;
    width: 100%;

    .auto-group-geq3-SVb {
      height: 86.6rem;
      display: flex;
      column-gap: 5.1rem;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 6.2rem 8.1rem 3rem;
      width: calc(100% - 9.2rem);

      .auto-group-7mm7-MMf {
        width: 28.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-sjx9-64M {
          margin-bottom: 2.4rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          flex-shrink: 0;

          .auto-group-udnd-S8D {
            width: 100%;
            height: 14.7rem;
            position: relative;
            flex-shrink: 0;

            .wallpaperflare-2-z9j {
              object-fit: cover;
              vertical-align: top;
              width: 28.2rem;
              height: 9.4rem;
              position: absolute;
              left: 0;
              top: 0;
            }
            .vector-vJH {
              position: absolute;
              left: 8.1rem;
              top: 2.7rem;
              object-fit: contain;
              vertical-align: top;
              width: 12rem;
              height: 12rem;
            }
          }
          .auto-group-uwld-rSq {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.3rem 3.5rem 2.2rem 2.2rem;

            .auto-group-ebp9-mph {
              margin: 0rem 3.3rem 3.6rem 4.7rem;
              width: calc(100% - 8rem);
              height: 6.2rem;
              position: relative;
              flex-shrink: 0;

              .jonathan-milos-W1b {
                position: absolute;
                left: 0;
                text-align: center;
                font-weight: 400;
                font-family: Amiri, 'Source Sans Pro';
                white-space: nowrap;
                width: 14.5rem;
                height: 4.3rem;
                top: 0;
                font-size: 2.4rem;
                line-height: 1.76;
                color: #000000;
              }
              .data-architect-p2H {
                left: 2.95rem;
                text-align: center;
                color: #000000;
                width: 8.6rem;
                height: 2.7rem;
                position: absolute;
                top: 3.5rem;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.76;
                font-family: Amiri, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .line-1-XBb {
              flex-shrink: 0;
              margin: 0rem 0rem 2.3rem 1.4rem;
              width: 21.1rem;
              height: 0.1rem;
              background-color: #000000;
            }
            .connection-eX7 {
              font-family: Acme, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 15.7rem 2.2rem 0rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2675;
              color: #000000;
            }
            .line-2-mbj {
              background-color: #000000;
              flex-shrink: 0;
              margin: 0rem 0rem 1.3rem 1.4rem;
              width: 21.1rem;
              height: 0.1rem;
            }
            .try-premium-Jbf {
              line-height: 1.2675;
              color: #000000;
              font-family: Acme, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 14.8rem;
              font-size: 1.5rem;
              font-weight: 400;
            }
          }
        }
        .auto-group-dvqm-ppu {
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.2rem 3.5rem 2.1rem 2.2rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .group-MK3 {
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2675;
            color: #000000;
          }
          .events-HiV {
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2675;
            color: #000000;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
          }
          .followed-hashtags-dXT {
            color: #000000;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2675;
          }
          .line-3-AGV {
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
            margin: 0rem 0rem 1.5rem 1.4rem;
            width: 21.1rem;
          }
          .discover-more-VpZ {
            text-align: center;
            font-size: 1.5rem;
            flex-shrink: 0;
            color: #000000;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            font-weight: 400;
            line-height: 1.2675;
          }
        }
      }
      .auto-group-xbdo-QAq {
        width: 63.3rem;
        height: 100%;
        flex-shrink: 0;

        .frame-3-Mbs {
          margin-bottom: 5.6rem;
          overflow: hidden;
          flex-direction: column;
          border: solid 0.1rem #000000;
          background-color: #ffffff;
          box-sizing: border-box;
          padding: 0.6rem 1.3rem 0.8rem 0.7rem;
          width: 100%;
          position: relative;
          align-items: center;
          display: flex;

          .auto-group-7muh-Giq {
            height: 3.6rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 1.7rem;
            width: 100%;

            .vector-cXo {
              height: 3.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.1rem;
              width: 3.6rem;
            }
            .auto-group-etj7-YwF {
              margin: 0.1rem 0;
              width: 56.6rem;
              height: calc(100% - 0.2rem);
              position: relative;
              flex-shrink: 0;

              .start-a-post-Htq {
                width: 6.2rem;
                font-weight: 400;
                line-height: 1.2125;
                white-space: nowrap;
                color: #757575;
                font-family: Inter, 'Source Sans Pro';
                height: 1.4rem;
                position: absolute;
                left: 0.9rem;
                top: 0.9rem;
                font-size: 1.1rem;
              }
              .rectangle-29-ocH {
                border: solid 0.1rem #000000;
                box-sizing: border-box;
                border-radius: 1.5rem;
                width: 56.6rem;
                height: 3.4rem;
                position: absolute;
                left: 0;
                top: 0;
              }
            }
          }
          .auto-group-e2kx-vwo {
            flex-shrink: 0;
            margin: 0rem 3.1rem 0rem 5.5rem;
            width: calc(100% - 8.6rem);
            display: flex;
            align-items: center;

            .icon-media-image-FDP {
              margin-right: 0.2rem;
              width: 1.6rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .media-B73 {
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #757575;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 17.3rem;
            }
            .events-KDF {
              width: 1.7rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.3rem 0.2rem 0rem;
            }
            .events-qSV {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 16.2rem;
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #757575;
              font-family: Inter, 'Source Sans Pro';
            }
            .article-aQ5 {
              margin-right: 0.2175rem;
              width: 2.1825rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .write-article-viq {
              flex-shrink: 0;
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #757575;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .auto-group-je5b-EzR {
          border-radius: 3rem;
          box-sizing: border-box;
          padding-top: 2rem;
          width: 63rem;
          border: solid 0.2rem #000000;

          .auto-group-3mjj-nW9 {
            margin: 0rem 36rem 0.5rem 2.5rem;
            width: calc(100% - 38.5rem);
            display: flex;
            align-items: center;

            .ellipse-ieh {
              box-sizing: border-box;
              background-color: #000000;
              border-radius: 2.25rem;
              flex-shrink: 0;
              margin-right: 0.5rem;
              width: 4.5rem;
              height: 4.5rem;
              border: solid 0.1rem #000000;
            }
            .pt-mencari-cinta-sejati-F8q {
              font-weight: 400;
              line-height: 1.76;
              color: #000000;
              font-family: Amiri, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.3rem;
              font-size: 2rem;
            }
          }
          .wallpaperflare-1-aS1 {
            width: 63rem;
            height: 27.7rem;
            object-fit: cover;
            vertical-align: top;
          }
          .auto-group-88ah-7wj {
            width: 100%;
            height: 37.6rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 1.4rem 0rem 2.5rem 0rem;

            .group-19-3Kb {
              margin: 0rem 4.142rem 1.4rem 6.5rem;
              width: calc(100% - 10.6418rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .icon-heart-Af7 {
                margin: 0.1rem 10.8rem 0rem 0rem;
                width: 3.1rem;
                height: 2.8rem;
                cursor: pointer;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .group-17-Ufo {
                margin: 0.1rem 13.7rem 0rem 0rem;
                width: 3.2rem;
                height: 3.2rem;
                cursor: pointer;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .icon-repost-cGD {
                margin: 0rem 13.9rem 0.1rem 0rem;
                width: 4.3rem;
                height: 3rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .icon-share-w3b {
                margin-bottom: 0.11rem;
                width: 3.3582rem;
                height: 3.19rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .line-4-sC9 {
              width: calc(100% - 0rem);
              height: 0.2rem;
              background-color: #000000;
              flex-shrink: 0;
              margin: 0rem 0rem 1.4rem 0rem;
            }
            .auto-group-u5kr-CkD {
              margin: 0rem 2.5rem 6.7rem 1.8rem;
              width: calc(100% - 4.3rem);
              height: 4.5rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .vector-vgD {
                width: 4.5rem;
                height: 4.5rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.1rem;
              }
              .auto-group-obot-UBw {
                border-radius: 2.7rem;
                padding: 0.8rem 0.864rem 0.964rem 1rem;
                height: calc(100% - 0.4rem);
                align-items: center;
                border: solid 0.1rem #000000;
                flex-shrink: 0;
                margin: 0.2rem 0;
                box-sizing: border-box;
                display: flex;
                background-color: #ffffff;

                .add-a-comment-PJu {
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin: 0rem 34rem 0.136rem 0rem;
                  font-size: 1.8rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #757575;
                }
                .icon-send-W8d {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.1rem;
                  width: 2.236rem;
                  height: 2.236rem;
                  object-fit: contain;
                }
              }
            }
            .auto-group-punz-bA5 {
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              margin: 0rem 2.3rem 1.8rem 1.8rem;
              width: calc(100% - 4.1rem);
              height: 7.2rem;

              .vector-hyo {
                margin-right: 1rem;
                width: 4.5rem;
                height: 4.5rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .auto-group-ml45-rbo {
                align-items: center;
                background-color: #ececec;
                border-radius: 0.8rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 0.8rem 0.6rem 0.9rem 0.5rem;
                height: 100%;
                display: flex;

                .auto-group-gs77-b3b {
                  margin-right: 43rem;
                  width: 7.9rem;
                  height: 100%;
                  position: relative;
                  flex-shrink: 0;

                  .jonathan-milos-7Xj {
                    line-height: 1.2675;
                    font-family: Acme, 'Source Sans Pro';
                    white-space: nowrap;
                    width: 7.8rem;
                    font-size: 1.3rem;
                    left: 0.1rem;
                    top: 0;
                    font-weight: 400;
                    color: #000000;
                    height: 1.7rem;
                    position: absolute;
                  }
                  .data-architect-PVF {
                    white-space: nowrap;
                    height: 1.3rem;
                    position: absolute;
                    font-size: 0.7rem;
                    line-height: 1.76;
                    font-family: Amiri, 'Source Sans Pro';
                    width: 4.1rem;
                    left: 0.1rem;
                    top: 1.6rem;
                    font-weight: 400;
                    color: rgba(82, 82, 82, 0.6000000238);
                  }
                  .like-F1f {
                    height: 1.3rem;
                    position: absolute;
                    line-height: 1.76;
                    font-family: Amiri, 'Source Sans Pro';
                    white-space: nowrap;
                    width: 1.2rem;
                    left: 0.1rem;
                    top: 4.2rem;
                    font-size: 0.7rem;
                    font-weight: 400;
                    color: rgba(82, 82, 82, 0.6000000238);
                  }
                  .reply-v7o {
                    top: 4.2rem;
                    font-family: Amiri, 'Source Sans Pro';
                    white-space: nowrap;
                    height: 1.3rem;
                    position: absolute;
                    left: 2.6rem;
                    line-height: 1.76;
                    color: rgba(82, 82, 82, 0.6000000238);
                    width: 1.6rem;
                    font-size: 0.7rem;
                    font-weight: 400;
                  }
                  .item--RqF {
                    left: 1.9rem;
                    top: 4rem;
                    font-size: 0.7rem;
                    font-weight: 400;
                    color: rgba(82, 82, 82, 0.6000000238);
                    font-family: Amiri, 'Source Sans Pro';
                    white-space: nowrap;
                    width: 0.2rem;
                    height: 1.3rem;
                    position: absolute;
                    line-height: 1.76;
                  }
                  .nice-LxD {
                    font-weight: 400;
                    font-family: Amiri, 'Source Sans Pro';
                    width: 2.4rem;
                    position: absolute;
                    top: 2.3rem;
                    line-height: 1.76;
                    color: #000000;
                    white-space: nowrap;
                    height: 2.3rem;
                    left: 0;
                    font-size: 1.3rem;
                  }
                }
                .now-4tD {
                  font-weight: 400;
                  line-height: 1.76;
                  color: #000000;
                  font-family: Amiri, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 3.6rem;
                  font-size: 0.7rem;
                }
              }
            }
            .auto-group-easx-CUd {
              margin: 0rem 2.3rem 0rem 1.8rem;
              width: calc(100% - 4.1rem);
              height: 7.2rem;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .vector-8dB {
                margin-right: 1rem;
                width: 4.5rem;
                height: 4.5rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .auto-group-jfpb-52d {
                background-color: #ececec;
                border-radius: 0.8rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 0.8rem 1rem 0.9rem 0.5rem;
                height: 100%;
                display: flex;
                align-items: center;

                .auto-group-gmh7-1S5 {
                  height: 100%;
                  position: relative;
                  flex-shrink: 0;
                  margin-right: 44.8rem;
                  width: 6.3rem;

                  .joseph-felix-kPf {
                    line-height: 1.2675;
                    color: #000000;
                    width: 6.2rem;
                    top: 0;
                    left: 0.1rem;
                    font-size: 1.3rem;
                    font-weight: 400;
                    font-family: Acme, 'Source Sans Pro';
                    white-space: nowrap;
                    height: 1.7rem;
                    position: absolute;
                  }
                  .ceo-of-pt-sern-rhb {
                    font-weight: 400;
                    line-height: 1.76;
                    color: rgba(82, 82, 82, 0.6000000238);
                    font-family: Amiri, 'Source Sans Pro';
                    white-space: nowrap;
                    width: 5.2rem;
                    left: 0.1rem;
                    font-size: 0.7rem;
                    height: 1.3rem;
                    position: absolute;
                    top: 1.6rem;
                  }
                  .like-Zc1 {
                    font-family: Amiri, 'Source Sans Pro';
                    white-space: nowrap;
                    position: absolute;
                    top: 4.2rem;
                    font-size: 0.7rem;
                    font-weight: 400;
                    line-height: 1.76;
                    color: rgba(82, 82, 82, 0.6000000238);
                    width: 1.2rem;
                    height: 1.3rem;
                    left: 0.1rem;
                  }
                  .reply-gAq {
                    font-size: 0.7rem;
                    font-weight: 400;
                    line-height: 1.76;
                    font-family: Amiri, 'Source Sans Pro';
                    white-space: nowrap;
                    width: 1.6rem;
                    left: 2.6rem;
                    top: 4.2rem;
                    height: 1.3rem;
                    position: absolute;
                    color: rgba(82, 82, 82, 0.6000000238);
                  }
                  .item--yvd {
                    white-space: nowrap;
                    width: 0.2rem;
                    top: 4rem;
                    font-weight: 400;
                    font-family: Amiri, 'Source Sans Pro';
                    line-height: 1.76;
                    color: rgba(82, 82, 82, 0.6000000238);
                    height: 1.3rem;
                    position: absolute;
                    left: 1.9rem;
                    font-size: 0.7rem;
                  }
                  .nice-one-6EZ {
                    top: 2.3rem;
                    line-height: 1.76;
                    font-family: Amiri, 'Source Sans Pro';
                    white-space: nowrap;
                    width: 4.7rem;
                    height: 2.3rem;
                    position: absolute;
                    left: 0;
                    font-size: 1.3rem;
                    font-weight: 400;
                    color: #000000;
                  }
                }
                .d-1cR {
                  margin-bottom: 3.6rem;
                  font-size: 0.7rem;
                  font-weight: 400;
                  line-height: 1.76;
                  color: #000000;
                  font-family: Amiri, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
          }
        }
      }
      .frame-4-7fT {
        width: 33.1rem;
        overflow: hidden;
        position: relative;
        background-color: #213555;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-bottom: 4.1rem;

        .auto-group-y1o3-GHT {
          position: relative;
          margin-bottom: 1.4rem;
          width: 100%;
          height: 11.2rem;

          .vector-QPf {
            left: 1.4rem;
            top: 1.5rem;
            object-fit: contain;
            vertical-align: top;
            width: 5.6rem;
            height: 5.6rem;
            position: absolute;
          }
          .richard-alya-Xz5 {
            white-space: nowrap;
            width: 6.6rem;
            left: 7.7rem;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.2675;
            color: #ffffff;
            height: 1.7rem;
            position: absolute;
            top: 2.4rem;
            font-family: Acme, 'Source Sans Pro';
          }
          .co-founder-at-kawan-media-eYu {
            top: 4rem;
            font-size: 1.1rem;
            color: rgba(255, 255, 255, 0.6000000238);
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
            width: 13rem;
            height: 2rem;
            font-weight: 400;
            line-height: 1.76;
            position: absolute;
            left: 7.7rem;
          }
          .rectangle-30-YuB {
            width: 8.2rem;
            height: 2.3rem;
            top: 6rem;
            background-color: #d9d9d9;
            border-radius: 1.5rem;
            position: absolute;
            left: 7.7rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
          }
          .follow-UH3 {
            font-size: 1.3rem;
            font-weight: 400;
            color: #000000;
            font-family: Arya, 'Source Sans Pro';
            height: 2.4rem;
            position: absolute;
            top: 5.8rem;
            line-height: 1.81;
            white-space: nowrap;
            width: 3.4rem;
            left: 10rem;
          }
          .rectangle-214-kVT {
            top: 0;
            background-color: rgba(81, 81, 81, 0.75);
            width: 33.1rem;
            height: 11.2rem;
            position: absolute;
            left: 0;
          }
          .followed-gtu {
            width: 8.9rem;
            position: absolute;
            left: 11.4rem;
            top: 4.7rem;
            text-align: center;
            font-size: 2rem;
            line-height: 1.2125;
            color: #ffffff;
            height: 2.5rem;
            font-weight: 800;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-zjn9-PoK {
          width: calc(100% - 18.6rem);
          display: flex;
          align-items: flex-end;
          margin: 0rem 17.2rem 0rem 1.4rem;

          .vector-7zD {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.7rem 0.8rem 0rem;
            width: 5.6rem;
            height: 5.6rem;
            object-fit: contain;
          }
          .auto-group-ystm-3ss {
            flex-shrink: 0;
            width: 8.2rem;
            height: 5.5rem;
            position: relative;

            .joseph-felix-nqT {
              font-weight: 400;
              color: #ffffff;
              font-family: Acme, 'Source Sans Pro';
              left: 0;
              top: 0;
              position: absolute;
              font-size: 1.3rem;
              line-height: 1.2675;
              white-space: nowrap;
              width: 6.2rem;
              height: 1.7rem;
            }
            .ceo-of-pt-sern-uv5 {
              line-height: 1.76;
              font-family: Amiri, 'Source Sans Pro';
              width: 8.2rem;
              top: 1.6rem;
              font-weight: 400;
              font-size: 1.1rem;
              color: rgba(255, 255, 255, 0.6000000238);
              white-space: nowrap;
              height: 2rem;
              position: absolute;
              left: 0;
            }
            .rectangle-31-yuw {
              background-color: #d9d9d9;
              border-radius: 1.5rem;
              width: 8.2rem;
              height: 2.3rem;
              cursor: pointer;
              left: 0;
              box-sizing: border-box;
              position: absolute;
              top: 3.2rem;
              border: solid 0.1rem #000000;
            }
            .follow-4wP {
              font-size: 1.3rem;
              font-weight: 400;
              line-height: 1.81;
              font-family: Arya, 'Source Sans Pro';
              white-space: nowrap;
              height: 2.4rem;
              position: absolute;
              left: 2.1rem;
              top: 3.1rem;
              color: #000000;
              width: 3.4rem;
            }
          }
        }
      }
    }
    .auto-group-efl1-MQh {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .followed-hashtags-WHb {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 66.5rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2675;
        color: #000000;
        font-family: Acme, 'Source Sans Pro';
      }
      .union-EzH {
        height: 2.8489rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 1.4rem 13.732rem 0rem 0rem;
        width: 3.5684rem;
      }
      .vector-AN9 {
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.6rem;
        width: 3.4344rem;
        height: 3.4344rem;
        object-fit: contain;
      }
    }
  }
}
