
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-job-Z3s {
  box-sizing: border-box;
  position: relative;
  background-color: #ffffff;
  padding-bottom: 10.9rem;
  width: 100%;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;

  .rectangle-130-6pV {
    margin-bottom: 10.1rem;
    width: 100%;
    height: 10rem;
    background-color: #4682a9;
    flex-shrink: 0;
  }
  .post-job-FSV {
    margin: 0 39.5rem;
    width: calc(100% - 79rem);
    height: 71.4rem;
    position: relative;
    background-color: #4682a9;
    border-radius: 1.5rem;
    flex-shrink: 0;

    .group-18-nBX {
      width: 18rem;
      top: 61.9rem;
      font-weight: 400;
      line-height: 1.2125;
      background-color: #213555;
      border-radius: 0.8rem;
      left: 23.5rem;
      font-size: 3rem;
      color: #ffffff;
      align-items: center;
      height: 5rem;
      position: absolute;
      display: flex;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      justify-content: center;
    }
    .post-a-job-3t9 {
      left: 21.1rem;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 22.5rem;
      position: absolute;
      font-size: 4.5rem;
      font-weight: 400;
      white-space: nowrap;
      height: 5.5rem;
      top: 2.4rem;
    }
    .auto-group-slk5-N9j {
      height: 6rem;
      position: absolute;
      left: 4.8rem;
      top: 12.3rem;
      width: 55.3rem;

      .job-title-CuT {
        left: 0;
        top: 0;
        font-size: 2rem;
        font-weight: 400;
        width: 8.3rem;
        height: 2.5rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        line-height: 1.2125;
      }
      .rectangle-210-Xwj {
        left: 0;
        top: 2.6rem;
        background-color: #ffffff;
        width: 55.3rem;
        height: 3.3rem;
        position: absolute;
      }
      .mandor-TqP {
        position: absolute;
        left: 0.5rem;
        font-size: 3rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 10.9rem;
        height: 3.7rem;
        top: 2.3rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .job-title--a9K {
        white-space: nowrap;
        width: 9.8rem;
        height: 2.5rem;
        position: absolute;
        top: 0;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        left: 0;
        font-size: 2rem;
        line-height: 1.2125;
      }
    }
    .auto-group-tdjb-J5K {
      height: 6rem;
      position: absolute;
      left: 4.8rem;
      top: 19.1rem;
      width: 55.3rem;

      .company-32u {
        width: 9rem;
        height: 2.5rem;
        position: absolute;
        color: #000000;
        white-space: nowrap;
        left: 0;
        top: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .rectangle-211-yBT {
        background-color: #ffffff;
        width: 55.3rem;
        height: 3.3rem;
        position: absolute;
        left: 0;
        top: 2.6rem;
      }
      .pt-build-corp-hdF {
        line-height: 1.2125;
        color: #000000;
        position: absolute;
        left: 0.5rem;
        top: 2.3rem;
        font-size: 3rem;
        font-weight: 400;
        width: 20.2rem;
        height: 3.7rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .company--DLh {
        position: absolute;
        left: 0;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 10.6rem;
        height: 2.5rem;
        top: 0;
        font-size: 2rem;
        font-weight: 400;
        white-space: nowrap;
      }
    }
    .auto-group-twe5-k5j {
      top: 25.9rem;
      width: 55.3rem;
      height: 6rem;
      position: absolute;
      left: 4.8rem;

      .job-location-sg9 {
        font-size: 2rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        left: 0;
        top: 0;
        position: absolute;
        font-weight: 400;
        color: #000000;
        width: 12.3rem;
        height: 2.5rem;
      }
      .rectangle-212-CTX {
        top: 2.6rem;
        background-color: #ffffff;
        width: 55.3rem;
        height: 3.3rem;
        position: absolute;
        left: 0;
      }
      .surabaya-9Nm {
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 13.3rem;
        height: 3.7rem;
        position: absolute;
        left: 0.5rem;
        top: 2.3rem;
      }
      .job-location--TuF {
        width: 13.8rem;
        position: absolute;
        left: 0;
        font-size: 2rem;
        white-space: nowrap;
        font-family: Inter, 'Source Sans Pro';
        height: 2.5rem;
        top: 0;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
      }
    }
    .auto-group-eeeh-z8V {
      height: 2.5rem;
      position: absolute;
      left: 4.8rem;
      top: 32.7rem;
      width: 9.7rem;

      .jobdesk-8Eh {
        position: absolute;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        height: 2.5rem;
        left: 0;
        top: 0;
        color: #000000;
        white-space: nowrap;
        width: 8.1rem;
      }
      .jobdesk--FaD {
        line-height: 1.2125;
        color: #000000;
        width: 9.7rem;
        font-size: 2rem;
        font-weight: 400;
        top: 0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.5rem;
        position: absolute;
        left: 0;
      }
    }
    .rectangle-213-moT {
      width: 55.3rem;
      height: 3.3rem;
      cursor: pointer;
      position: absolute;
      left: 4.8rem;
      top: 35.3rem;
      background-color: #ffffff;
    }
    .auto-group-qca1-WW9 {
      width: 12.4rem;
      height: 2.5rem;
      position: absolute;
      left: 4.8rem;
      top: 39.5rem;

      .description-Sub {
        height: 2.5rem;
        font-size: 2rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        line-height: 1.2125;
        color: #000000;
        width: 10.8rem;
        position: absolute;
        left: 0;
        top: 0;
        font-weight: 400;
      }
      .description--ZjK {
        position: absolute;
        font-size: 2rem;
        font-weight: 400;
        width: 12.4rem;
        left: 0;
        top: 0;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.5rem;
      }
    }
    .rectangle-211-VN5 {
      top: 42.1rem;
      background-color: #ffffff;
      width: 55.3rem;
      height: 12.7rem;
      position: absolute;
      left: 4.8rem;
    }
  }
}
