
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-send-XLH {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;
  cursor: pointer;
  position: relative;

  .rectangle-28-Qey {
    position: absolute;
    left: 3rem;
    top: 19.9rem;
    background-color: #d9d9d9;
    border-radius: 1.5rem;
    width: 28.2rem;
    height: 37rem;
  }
  .rectangle-27-7pH {
    width: 28.2rem;
    height: 19.3rem;
    position: absolute;
    left: 3rem;
    top: 59.3rem;
    background-color: #d9d9d9;
    border-radius: 1.5rem;
  }
  .group-3xq {
    font-family: Acme, 'Source Sans Pro';
    width: 3.8rem;
    font-size: 1.5rem;
    line-height: 1.2675;
    color: #000000;
    font-weight: 400;
    white-space: nowrap;
    height: 2rem;
    position: absolute;
    left: 5.2rem;
    top: 62.5rem;
  }
  .events-ZAV {
    width: 4.1rem;
    height: 2rem;
    position: absolute;
    top: 65.8rem;
    line-height: 1.2675;
    font-family: Acme, 'Source Sans Pro';
    left: 5.2rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #000000;
    white-space: nowrap;
  }
  .followed-hashtags-gF7 {
    width: 11.4rem;
    height: 2rem;
    top: 114.6rem;
    font-weight: 400;
    color: #000000;
    position: absolute;
    left: 0;
    font-size: 1.5rem;
    line-height: 1.2675;
    font-family: Acme, 'Source Sans Pro';
    white-space: nowrap;
  }
  .discover-more-PvD {
    text-align: center;
    line-height: 1.2675;
    color: #000000;
    font-family: Acme, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    height: 2rem;
    left: 12.85rem;
    top: 74.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    width: 8.6rem;
  }
  .frame-3-VyF {
    top: 19.9rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0.6rem 1.3rem 0.8rem 0.7rem;
    height: 8.7rem;
    position: absolute;
    left: 36.3rem;
    overflow: hidden;
    border: solid 0.1rem #000000;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 63.3rem;

    .auto-group-cdt9-PYq {
      width: 100%;
      height: 3.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 1.7rem;

      .vector-w4Z {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.1rem;
        width: 3.6rem;
        height: 3.6rem;
      }
      .auto-group-wa2h-GMj {
        flex-shrink: 0;
        margin: 0.1rem 0;
        width: 56.6rem;
        height: calc(100% - 0.2rem);
        position: relative;

        .start-a-post-14R {
          font-weight: 400;
          color: #757575;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.4rem;
          top: 0.9rem;
          font-size: 1.1rem;
          line-height: 1.2125;
          width: 6.2rem;
          position: absolute;
          left: 0.9rem;
        }
        .rectangle-29-hhw {
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          border-radius: 1.5rem;
          width: 56.6rem;
          height: 3.4rem;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
    .auto-group-dgfw-QsF {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 3.1rem 0rem 5.5rem;
      width: calc(100% - 8.6rem);
      display: flex;

      .icon-media-image-wMP {
        height: 1.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.2rem;
        width: 1.6rem;
      }
      .media-rjF {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 17.3rem;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #757575;
        font-family: Inter, 'Source Sans Pro';
      }
      .events-bB3 {
        width: 1.7rem;
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.3rem 0.2rem 0rem;
      }
      .events-vDK {
        font-weight: 400;
        line-height: 1.2125;
        color: #757575;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 16.2rem;
        font-size: 1.1rem;
      }
      .article-GHB {
        margin-right: 0.2175rem;
        width: 2.1825rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .write-article-zU5 {
        flex-shrink: 0;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #757575;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .frame-4-5Ed {
    height: 23.1rem;
    left: 104.7rem;
    top: 19.9rem;
    overflow: hidden;
    background-color: #213555;
    box-sizing: border-box;
    padding: 1.5rem 1.4rem 4.1rem 1.4rem;
    width: 33.1rem;
    position: absolute;

    .auto-group-xxsf-ahB {
      margin: 0rem 11rem 4.3rem 0rem;
      width: calc(100% - 11rem);
      display: flex;
      align-items: flex-start;

      .vector-K8y {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 5.6rem;
        height: 5.6rem;
      }
      .auto-group-gub7-SUV {
        margin-top: 0.9rem;
        width: 13rem;
        height: 5.9rem;
        position: relative;
        flex-shrink: 0;

        .richard-alya-Nd3 {
          position: absolute;
          line-height: 1.2675;
          color: #ffffff;
          white-space: nowrap;
          width: 6.6rem;
          height: 1.7rem;
          left: 0;
          top: 0;
          font-size: 1.3rem;
          font-weight: 400;
          font-family: Acme, 'Source Sans Pro';
        }
        .co-founder-at-kawan-media-HV7 {
          color: rgba(255, 255, 255, 0.6000000238);
          white-space: nowrap;
          height: 2rem;
          position: absolute;
          top: 1.6rem;
          font-size: 1.1rem;
          font-weight: 400;
          width: 13rem;
          left: 0;
          line-height: 1.76;
          font-family: Amiri, 'Source Sans Pro';
        }
        .rectangle-30-y73 {
          height: 2.3rem;
          position: absolute;
          left: 0;
          top: 3.6rem;
          box-sizing: border-box;
          background-color: #d9d9d9;
          width: 8.2rem;
          border: solid 0.1rem #000000;
          border-radius: 1.5rem;
        }
        .follow-UpV {
          white-space: nowrap;
          width: 3.4rem;
          position: absolute;
          left: 2.3rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.81;
          height: 2.4rem;
          top: 3.4rem;
          color: #000000;
          font-family: Arya, 'Source Sans Pro';
        }
      }
    }
    .auto-group-ba8m-b8R {
      margin-right: 15.8rem;
      width: calc(100% - 15.8rem);
      display: flex;
      align-items: flex-end;

      .vector-Xnm {
        margin: 0rem 0.7rem 0.8rem 0rem;
        width: 5.6rem;
        height: 5.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-zjkf-Fim {
        width: 8.2rem;
        height: 5.5rem;
        position: relative;
        flex-shrink: 0;

        .joseph-felix-okH {
          font-family: Acme, 'Source Sans Pro';
          height: 1.7rem;
          position: absolute;
          left: 0;
          font-weight: 400;
          line-height: 1.2675;
          width: 6.2rem;
          top: 0;
          font-size: 1.3rem;
          color: #ffffff;
          white-space: nowrap;
        }
        .ceo-of-pt-sern-w5o {
          line-height: 1.76;
          color: rgba(255, 255, 255, 0.6000000238);
          top: 1.6rem;
          height: 2rem;
          position: absolute;
          left: 0;
          font-size: 1.1rem;
          font-weight: 400;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
          width: 8.2rem;
        }
        .rectangle-31-F6V {
          top: 3.2rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          left: 0;
          height: 2.3rem;
          position: absolute;
          width: 8.2rem;
        }
        .follow-MvD {
          font-weight: 400;
          line-height: 1.81;
          font-family: Arya, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.4rem;
          position: absolute;
          left: 2.1rem;
          top: 3.1rem;
          width: 3.4rem;
          font-size: 1.3rem;
          color: #000000;
        }
      }
    }
  }
  .jonathan-milos-rc5 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    color: #000000;
    font-family: Amiri, 'Source Sans Pro';
    width: 14.5rem;
    position: absolute;
    left: 9.9rem;
    white-space: nowrap;
    height: 4.3rem;
    top: 34.9rem;
    line-height: 1.76;
  }
  .data-architect-Asf {
    font-weight: 400;
    white-space: nowrap;
    width: 8.6rem;
    left: 12.85rem;
    top: 38.4rem;
    font-size: 1.5rem;
    line-height: 1.76;
    color: #000000;
    font-family: Amiri, 'Source Sans Pro';
    height: 2.7rem;
    position: absolute;
    text-align: center;
  }
  .connection-gLD {
    color: #000000;
    font-family: Acme, 'Source Sans Pro';
    width: 6.8rem;
    position: absolute;
    left: 5.2rem;
    top: 47.1rem;
    font-size: 1.5rem;
    line-height: 1.2675;
    white-space: nowrap;
    height: 2rem;
    font-weight: 400;
  }
  .try-premium-17b {
    line-height: 1.2675;
    color: #000000;
    position: absolute;
    left: 5.2rem;
    font-size: 1.5rem;
    font-weight: 400;
    white-space: nowrap;
    width: 7.7rem;
    height: 2rem;
    top: 52.7rem;
    font-family: Acme, 'Source Sans Pro';
  }
  .frame-KPB {
    box-sizing: border-box;
    padding: 2rem 0rem 1.6rem 0rem;
    border: solid 0.2rem #000000;
    width: 63rem;
    height: 41rem;
    position: absolute;
    left: 36.3rem;
    top: 34.2rem;
    border-radius: 3rem;

    .auto-group-sf81-q6d {
      margin: 0rem 36rem 0.5rem 2.5rem;
      width: calc(100% - 38.5rem);
      display: flex;
      align-items: center;

      .ellipse-mW5 {
        background-color: #000000;
        border-radius: 2.25rem;
        flex-shrink: 0;
        margin-right: 0.5rem;
        width: 4.5rem;
        height: 4.5rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
      }
      .pt-mencari-cinta-sejati-h8q {
        color: #000000;
        font-family: Amiri, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.3rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.76;
      }
    }
    .wallpaperflare-1-cWh {
      vertical-align: top;
      margin-bottom: 1.4rem;
      width: 63rem;
      height: 27.7rem;
      object-fit: cover;
    }
    .group-19-kN1 {
      display: flex;
      align-items: center;
      margin: 0rem 4.142rem 0rem 6.5rem;
      width: calc(100% - 10.6418rem);

      .icon-heart-UYu {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 10.8rem 0rem 0rem;
        width: 3.1rem;
        height: 2.8rem;
        cursor: pointer;
      }
      .group-17-zXF {
        margin: 0.1rem 13.7rem 0rem 0rem;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icon-repost-vQu {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 13.9rem 0.1rem 0rem;
        width: 4.3rem;
        height: 3rem;
        object-fit: contain;
      }
      .icon-share-Su3 {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.11rem;
        width: 3.3582rem;
        height: 3.19rem;
        object-fit: contain;
      }
    }
  }
  .frame-Zim {
    height: 41rem;
    left: 36.3rem;
    border: solid 0.2rem #000000;
    box-sizing: border-box;
    padding: 2rem 0rem 2.251rem 0rem;
    width: 63rem;
    position: absolute;
    top: 80.1rem;
    border-radius: 3rem;

    .auto-group-2ekd-goP {
      display: flex;
      align-items: flex-end;
      margin: 0rem 34.5rem 0.4rem 2.5rem;
      width: calc(100% - 37rem);

      .ellipse-dCq {
        width: 4.5rem;
        height: 4.5rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #000000;
        border-radius: 2.25rem;
        flex-shrink: 0;
        margin: 0rem 0.5rem 0.1rem 0rem;
      }
      .pt-barokah-jaya-jaya-jaya-KbT {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.76;
        color: #000000;
        font-family: Amiri, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .wallpaperflare-3-edj {
      vertical-align: top;
      margin-bottom: 0rem;
      width: 63rem;
      height: 27.7rem;
      object-fit: cover;
    }
    .auto-group-bmqf-PLR {
      margin: 0rem 2.866rem 0rem 3rem;
      width: calc(100% - 5.8656rem);
      display: flex;
      align-items: flex-end;

      .union-Wvq {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 13.421rem 0.07rem 0rem;
        width: 3.9793rem;
        height: 3.9793rem;
      }
      .vector-qiD {
        width: 3.2rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 15.8rem 0.049rem 0rem;
      }
      .union-mrm {
        height: 2.8489rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 13.7316rem;
        width: 3.5684rem;
      }
      .vector-vUm {
        margin-bottom: 0.2145rem;
        width: 3.4344rem;
        height: 3.4344rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .wallpaperflare-2-FG9 {
    width: 28.2rem;
    height: 9.4rem;
    position: absolute;
    left: 3rem;
    top: 19.9rem;
    object-fit: cover;
    vertical-align: top;
  }
  .vector-nWy {
    height: 12rem;
    position: absolute;
    left: 11.1rem;
    top: 22.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 12rem;
  }
  .line-1-853 {
    width: 21.1rem;
    height: 0.1rem;
    position: absolute;
    left: 6.6rem;
    top: 44.7rem;
    background-color: #000000;
  }
  .line-3-FvM {
    width: 21.1rem;
    height: 0.1rem;
    position: absolute;
    left: 6.6rem;
    top: 72.9rem;
    background-color: #000000;
  }
  .line-2-QHT {
    position: absolute;
    left: 6.6rem;
    top: 51.3rem;
    background-color: #000000;
    width: 21.1rem;
    height: 0.1rem;
  }
  .component-6-variant2-YuT {
    position: absolute;
    left: 0;
    background-color: #4682a9;
    box-sizing: border-box;
    padding: 1.4rem 1.7rem 0.6rem 5.3rem;
    width: 144rem;
    height: 13.2rem;
    top: 0;
    display: flex;
    align-items: center;

    .auto-group-jlbp-Ndb {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.4rem 5.8rem 0rem 0rem;
      width: 6.5rem;
      align-items: center;

      .auto-group-cgkw-6Zb {
        background-position: center;
        background-image: url('REPLACE_IMAGE:3ca1b12fd5d3de42211f78bb83137f2f2c7657e1');
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;

        .image-15-4FX {
          width: 6.5rem;
          height: 6.4rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-uceh-mvd {
        margin: 0 0.2rem;
        width: calc(100% - 0.4rem);
        height: 2.5rem;
        position: relative;
        flex-shrink: 0;

        .profile-7zV {
          width: 6.1rem;
          font-size: 2rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          color: #000000;
          height: 2.5rem;
          position: absolute;
          left: 0;
          top: 0;
          text-align: center;
          line-height: 1.2125;
        }
        .profile-qQh {
          line-height: 1.2125;
          width: 6.1rem;
          height: 2.5rem;
          position: absolute;
          left: 0;
          font-size: 2rem;
          font-weight: 400;
          top: 0;
          text-align: center;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .component-3-component-2-variant2-kXf {
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin: 2.9rem 27.3rem 2.7rem 0rem;
      box-sizing: border-box;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;
      height: calc(100% - 5.6rem);
      background-color: #ffffff;

      .frame-TBB {
        width: 2.2295rem;
        height: 2.8565rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-6vvh-PKj {
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;
      display: flex;

      .icon-taskbar-M1f {
        align-items: flex-end;
        flex-shrink: 0;
        margin-bottom: 1.1625rem;
        display: flex;

        .icon-home-Hvu {
          height: 6.0375rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3.9rem 0.9rem 0rem;
          width: 6.9rem;
        }
        .icon-bell-cyB {
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.2rem 0.038rem 0rem;
          width: 6.9rem;
        }
        .icon-briefcase-YM3 {
          width: 6.9086rem;
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.691rem 0.438rem 0rem;
        }
        .icon-people-fRf {
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 6.309rem 0.038rem 0rem;
          width: 6.8914rem;
        }
        .icon-chat-Buo {
          width: 6.9rem;
          height: 6.0375rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .component-4-8q3 {
        flex-shrink: 0;
        margin-left: 0.35rem;
        display: flex;
        align-items: flex-start;

        .home-5kH {
          margin-right: 1.9rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          line-height: 1.2125;
          white-space: nowrap;
        }
        .notifications-pC5 {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2rem;
          text-align: center;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          flex-shrink: 0;
          margin-right: 2.8rem;
        }
        .jobs-YNy {
          line-height: 1.2125;
          color: #000000;
          margin: 0.1rem 2.85rem 0rem 0rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .my-network-GJy {
          flex-shrink: 0;
          margin-right: 1.3rem;
          font-size: 2rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          line-height: 1.2125;
          color: #000000;
        }
        .messaging-CTX {
          margin-top: 0.2rem;
          font-size: 2rem;
          font-weight: 400;
          color: #000000;
          white-space: nowrap;
          text-align: center;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
  }
  .rectangle-220-KHF {
    width: 144rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6000000238);
  }
  .rectangle-221-eqK {
    position: absolute;
    left: 34.3rem;
    top: 14rem;
    background-color: #ffffff;
    border-radius: 2rem;
    width: 75.4rem;
    height: 52.2rem;
  }
  .send-post-PY1 {
    position: absolute;
    font-weight: 400;
    width: 14.4rem;
    height: 3.7rem;
    left: 37rem;
    top: 15.9rem;
    font-size: 3rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .dewi-rizki-s-hYh {
    height: 2.5rem;
    top: 31.9rem;
    color: #000000;
    white-space: nowrap;
    width: 12.1rem;
    position: absolute;
    left: 45.9rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
  }
  .line-5-DX3 {
    width: 75.4rem;
    height: 0.1rem;
    position: absolute;
    left: 34.3rem;
    top: 21.4rem;
    background-color: #000000;
  }
  .line-6-xUd {
    width: 75.4rem;
    height: 0.1rem;
    position: absolute;
    left: 34.3rem;
    top: 59.4rem;
    background-color: #000000;
  }
  .rectangle-222-tt5 {
    position: absolute;
    left: 38.5rem;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 66.9rem;
    height: 3.4rem;
    top: 24.9rem;
    border: solid 0.2rem #000000;
    border-radius: 1.2rem;
  }
  .type-a-name-ok9 {
    width: 6.7rem;
    height: 1.4rem;
    line-height: 1.2125;
    color: #757575;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 39.5rem;
    top: 25.9rem;
    font-size: 1.1rem;
    font-weight: 400;
  }
  .rectangle-XRF {
    top: 30.9rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 2rem;
    width: 4.2rem;
    height: 4.2rem;
    position: absolute;
    left: 40.3rem;
  }
  .rectangle-223-4RB {
    height: 2.8rem;
    top: 31.6rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 0.7rem;
    width: 2.8rem;
    cursor: pointer;
    position: absolute;
    left: 100.2rem;
  }
  .damar-yHF {
    position: absolute;
    left: 45.9rem;
    top: 37.9rem;
    font-weight: 400;
    width: 6.2rem;
    height: 2.5rem;
    font-size: 2rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .rectangle-224-Hoj {
    box-sizing: border-box;
    border-radius: 0.7rem;
    height: 2.8rem;
    cursor: pointer;
    position: absolute;
    left: 100.2rem;
    width: 2.8rem;
    top: 37.6rem;
    border: solid 0.1rem #000000;
    background-color: #ffffff;
  }
  .rectangle-226-MSD {
    height: 3.2rem;
    border: solid 0.1rem #000000;
    border-radius: 1.3rem;
    width: 60.2rem;
    position: absolute;
    left: 41.9rem;
    top: 61.3rem;
    box-sizing: border-box;
    background-color: #dbdbdb;
  }
  .rafif-3pq {
    position: absolute;
    top: 43.9rem;
    color: #000000;
    height: 2.5rem;
    left: 45.9rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 4.4rem;
  }
  .rectangle-Mad {
    vertical-align: top;
    border-radius: 2rem;
    width: 4.2rem;
    height: 4.2rem;
    position: absolute;
    left: 40.3rem;
    top: 36.9rem;
    object-fit: cover;
  }
  .send-HjB {
    position: absolute;
    left: 70.2rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #6d6b6b;
    white-space: nowrap;
    width: 3.4rem;
    height: 1.7rem;
    top: 62rem;
    font-family: Inter, 'Source Sans Pro';
  }
  .rectangle-19P {
    top: 42.9rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 2rem;
    width: 4.2rem;
    height: 4.2rem;
    position: absolute;
    left: 40.3rem;
  }
  .rectangle-225-jbB {
    height: 2.8rem;
    background-color: #ffffff;
    border-radius: 0.7rem;
    width: 2.8rem;
    cursor: pointer;
    position: absolute;
    left: 100.2rem;
    top: 43.6rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
  }
  .followed-hashtags-DWM {
    width: 11.4rem;
    top: 68.9rem;
    font-weight: 400;
    line-height: 1.2675;
    font-family: Acme, 'Source Sans Pro';
    height: 2rem;
    position: absolute;
    left: 5.2rem;
    font-size: 1.5rem;
    color: #000000;
    white-space: nowrap;
  }
}
