
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-comment-ggD {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .component-6-variant2-1yP {
    padding: 1.4rem 1.7rem 0.6rem 5.3rem;
    width: 100%;
    height: 13.2rem;
    display: flex;
    align-items: center;
    background-color: #4682a9;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-px1p-iso {
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.4rem 5.8rem 0rem 0rem;
      width: 6.5rem;
      align-items: center;
      display: flex;

      .auto-group-qftb-Soo {
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:3ca1b12fd5d3de42211f78bb83137f2f2c7657e1');
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        width: 100%;
        background-size: 100% 100%;

        .image-15-Pyw {
          width: 6.5rem;
          height: 6.4rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-zouh-hzd {
        margin: 0 0.2rem;
        width: calc(100% - 0.4rem);
        height: 2.5rem;
        position: relative;
        flex-shrink: 0;

        .profile-eQ5 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          position: absolute;
          text-align: center;
          left: 0;
          top: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          white-space: nowrap;
          width: 6.1rem;
          height: 2.5rem;
        }
        .profile-9bj {
          width: 6.1rem;
          position: absolute;
          text-align: center;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          height: 2.5rem;
          left: 0;
          top: 0;
          font-size: 2rem;
          color: #000000;
          white-space: nowrap;
        }
      }
    }
    .component-3-component-2-variant2-f4H {
      box-sizing: border-box;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;
      height: calc(100% - 5.6rem);
      background-color: #ffffff;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin: 2.9rem 27.3rem 2.7rem 0rem;

      .frame-xJH {
        width: 2.2295rem;
        height: 2.8565rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-dibf-4cD {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .icon-taskbar-ctd {
        margin-bottom: 1.1625rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .icon-home-mFj {
          flex-shrink: 0;
          margin: 0rem 3.9rem 0.9rem 0rem;
          width: 6.9rem;
          height: 6.0375rem;
          object-fit: contain;
          vertical-align: top;
        }
        .icon-bell-51X {
          flex-shrink: 0;
          margin: 0rem 4.2rem 0.038rem 0rem;
          width: 6.9rem;
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
        }
        .icon-briefcase-PH7 {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.691rem 0.438rem 0rem;
          width: 6.9086rem;
          height: 6.9rem;
          object-fit: contain;
        }
        .icon-people-WMj {
          width: 6.8914rem;
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 6.309rem 0.038rem 0rem;
        }
        .icon-chat-EoX {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 6.9rem;
          height: 6.0375rem;
        }
      }
      .component-4-na9 {
        margin-left: 0.35rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .home-XXj {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          line-height: 1.2125;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          margin-right: 1.9rem;
        }
        .notifications-Fid {
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          margin-right: 2.8rem;
          text-align: center;
          font-size: 2rem;
        }
        .jobs-nTf {
          text-align: center;
          font-weight: 400;
          flex-shrink: 0;
          white-space: nowrap;
          margin: 0.1rem 2.85rem 0rem 0rem;
          font-size: 2rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .my-network-W8m {
          font-weight: 400;
          color: #000000;
          font-size: 2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.3rem;
          text-align: center;
        }
        .messaging-eEy {
          white-space: nowrap;
          font-weight: 400;
          line-height: 1.2125;
          font-size: 2rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-top: 0.2rem;
          text-align: center;
        }
      }
    }
  }
  .auto-group-ihyq-y2M {
    padding-top: 6.7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-8mqf-KM7 {
      height: 76.4rem;
      display: flex;
      column-gap: 5.1rem;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 6.2rem 18.3rem 3rem;
      width: calc(100% - 9.2rem);

      .auto-group-p9uq-Rf3 {
        flex-shrink: 0;
        width: 28.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-u6yv-mD7 {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          flex-shrink: 0;
          margin-bottom: 2.4rem;

          .auto-group-pc5j-uKK {
            position: relative;
            flex-shrink: 0;
            width: 100%;
            height: 14.7rem;

            .wallpaperflare-2-FPB {
              width: 28.2rem;
              height: 9.4rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              border-radius: 1.5rem 1.5rem 0 0;
            }
            .vector-Am3 {
              vertical-align: top;
              width: 12rem;
              height: 12rem;
              position: absolute;
              left: 8.1rem;
              top: 2.7rem;
              object-fit: contain;
            }
          }
          .auto-group-necd-uTj {
            box-sizing: border-box;
            padding: 0.3rem 3.5rem 2.2rem 2.2rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-nlbw-Rgy {
              margin: 0rem 3.3rem 3.6rem 4.7rem;
              width: calc(100% - 8rem);
              height: 6.2rem;
              position: relative;
              flex-shrink: 0;

              .jonathan-milos-Ymb {
                width: 14.5rem;
                left: 0;
                top: 0;
                font-size: 2.4rem;
                font-family: Amiri, 'Source Sans Pro';
                white-space: nowrap;
                height: 4.3rem;
                position: absolute;
                text-align: center;
                font-weight: 400;
                line-height: 1.76;
                color: #000000;
              }
              .data-architect-4E9 {
                text-align: center;
                line-height: 1.76;
                color: #000000;
                left: 2.95rem;
                top: 3.5rem;
                font-size: 1.5rem;
                font-weight: 400;
                font-family: Amiri, 'Source Sans Pro';
                width: 8.6rem;
                height: 2.7rem;
                position: absolute;
                white-space: nowrap;
              }
            }
            .line-1-AY5 {
              width: 21.1rem;
              height: 0.1rem;
              background-color: #000000;
              flex-shrink: 0;
              margin: 0rem 0rem 2.3rem 1.4rem;
            }
            .connection-Hsb {
              line-height: 1.2675;
              color: #000000;
              font-family: Acme, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 15.7rem 2.2rem 0rem;
              font-size: 1.5rem;
              font-weight: 400;
            }
            .line-2-oqw {
              margin: 0rem 0rem 1.3rem 1.4rem;
              width: 21.1rem;
              height: 0.1rem;
              background-color: #000000;
              flex-shrink: 0;
            }
            .try-premium-Y2q {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 14.8rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2675;
              color: #000000;
              font-family: Acme, 'Source Sans Pro';
            }
          }
        }
        .auto-group-srmo-rJR {
          display: flex;
          flex-direction: column;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.2rem 3.5rem 2.1rem 2.2rem;
          width: 100%;

          .group-yP3 {
            margin-bottom: 1.3rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2675;
            color: #000000;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .events-7VF {
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2675;
            color: #000000;
          }
          .followed-hashtags-rSq {
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2675;
            color: #000000;
          }
          .line-3-Bzu {
            margin: 0rem 0rem 1.5rem 1.4rem;
            width: 21.1rem;
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .discover-more-XYy {
            line-height: 1.2675;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 400;
            color: #000000;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
          }
        }
      }
      .auto-group-ahgq-SR3 {
        width: 63.3rem;
        height: 100%;
        flex-shrink: 0;

        .frame-3-nzh {
          background-color: #ffffff;
          margin-bottom: 5.6rem;
          overflow: hidden;
          align-items: center;
          flex-direction: column;
          border: solid 0.1rem #000000;
          border-radius: 2rem;
          box-sizing: border-box;
          padding: 0.6rem 1.3rem 0.8rem 0.7rem;
          width: 100%;
          position: relative;
          display: flex;

          .auto-group-ju2z-KDw {
            flex-shrink: 0;
            margin-bottom: 1.7rem;
            width: 100%;
            height: 3.6rem;
            display: flex;
            align-items: center;

            .vector-4SR {
              width: 3.6rem;
              height: 3.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.1rem;
            }
            .auto-group-e12v-Pjb {
              flex-shrink: 0;
              margin: 0.1rem 0;
              width: 56.6rem;
              height: calc(100% - 0.2rem);
              position: relative;

              .start-a-post-Jbf {
                font-family: Inter, 'Source Sans Pro';
                width: 6.2rem;
                position: absolute;
                left: 0.9rem;
                font-size: 1.1rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #757575;
                white-space: nowrap;
                height: 1.4rem;
                top: 0.9rem;
              }
              .rectangle-29-P7K {
                top: 0;
                border: solid 0.1rem #000000;
                box-sizing: border-box;
                border-radius: 1.5rem;
                width: 56.6rem;
                height: 3.4rem;
                position: absolute;
                left: 0;
              }
            }
          }
          .auto-group-7vff-6nR {
            margin: 0rem 3.1rem 0rem 5.5rem;
            width: calc(100% - 8.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icon-media-image-ogq {
              width: 1.6rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.2rem;
            }
            .media-8z1 {
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #757575;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 17.3rem;
            }
            .events-GqK {
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.3rem 0.2rem 0rem;
              width: 1.7rem;
            }
            .events-zFX {
              flex-shrink: 0;
              margin-right: 16.2rem;
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #757575;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .article-86q {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.2175rem;
              width: 2.1825rem;
              height: 2rem;
            }
            .write-article-fcZ {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #757575;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .auto-group-l1mf-yt9 {
          width: 63rem;
          height: 62.1rem;
          position: relative;

          .vector-JfX {
            width: 4.5rem;
            height: 4.5rem;
            position: absolute;
            left: 1.8rem;
            top: 52.6rem;
            object-fit: contain;
            vertical-align: top;
          }
          .rectangle-Smj {
            border: solid 0.2rem #000000;
            box-sizing: border-box;
            border-radius: 3rem;
            width: 63rem;
            height: 62.1rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .line-4-NvH {
            width: 63rem;
            height: 0.2rem;
            position: absolute;
            left: 0;
            top: 40.8rem;
            background-color: #000000;
          }
          .ellipse-Kad {
            width: 4.5rem;
            height: 4.5rem;
            position: absolute;
            border-radius: 2.25rem;
            left: 2.5rem;
            top: 2rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #000000;
          }
          .pt-mencari-cinta-sejati-SQM {
            height: 3.6rem;
            position: absolute;
            left: 7.5rem;
            font-size: 2rem;
            color: #000000;
            font-family: Amiri, 'Source Sans Pro';
            width: 19.5rem;
            top: 2.6rem;
            font-weight: 400;
            line-height: 1.76;
            white-space: nowrap;
          }
          .wallpaperflare-1-kR3 {
            position: absolute;
            left: 0;
            top: 7rem;
            object-fit: cover;
            vertical-align: top;
            width: 63rem;
            height: 27.7rem;
          }
          .vector-Hvm {
            width: 4.5rem;
            height: 4.5rem;
            position: absolute;
            left: 1.8rem;
            top: 42.4rem;
            object-fit: contain;
            vertical-align: top;
          }
          .group-19-Eb7 {
            top: 36.1rem;
            display: flex;
            align-items: center;
            width: 52.3582rem;
            height: 3.3rem;
            position: absolute;
            left: 6.5rem;

            .icon-heart-ZtH {
              margin: 0.1rem 10.8rem 0rem 0rem;
              width: 3.1rem;
              height: 2.8rem;
              cursor: pointer;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .group-17-VX3 {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.1rem 13.7rem 0rem 0rem;
              width: 3.2rem;
              height: 3.2rem;
              cursor: pointer;
              object-fit: contain;
            }
            .icon-repost-crZ {
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 13.9rem 0.1rem 0rem;
              width: 4.3rem;
            }
            .icon-share-wdw {
              flex-shrink: 0;
              margin-bottom: 0.11rem;
              width: 3.3582rem;
              height: 3.19rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .rectangle-215-5k9 {
            width: 53.1rem;
            height: 4.1rem;
            left: 7.4rem;
            box-sizing: border-box;
            cursor: pointer;
            position: absolute;
            top: 42.6rem;
            border: solid 0.1rem #000000;
            background-color: #ffffff;
            border-radius: 2.7rem;
          }
          .icon-send-zMK {
            left: 57.2rem;
            top: 43.5rem;
            object-fit: contain;
            vertical-align: top;
            width: 2.236rem;
            height: 2.236rem;
            position: absolute;
          }
          .add-a-comment-8iR {
            position: absolute;
            left: 8.4rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 15rem;
            height: 2.2rem;
            top: 43.4rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #757575;
          }
          .rectangle-216-3aV {
            left: 7.3rem;
            top: 52.6rem;
            background-color: #ececec;
            border-radius: 0.8rem;
            width: 53.4rem;
            height: 7.2rem;
            position: absolute;
          }
          .joseph-felix-yU9 {
            left: 7.9rem;
            font-size: 1.3rem;
            font-weight: 400;
            width: 6.2rem;
            height: 1.7rem;
            line-height: 1.2675;
            color: #000000;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            top: 53.4rem;
          }
          .ceo-of-pt-sern-Uvh {
            width: 5.2rem;
            position: absolute;
            font-weight: 400;
            line-height: 1.76;
            color: rgba(82, 82, 82, 0.6000000238);
            font-family: Amiri, 'Source Sans Pro';
            height: 1.3rem;
            left: 7.9rem;
            top: 55rem;
            font-size: 0.7rem;
            white-space: nowrap;
          }
          .d-zPF {
            position: absolute;
            left: 58.9rem;
            top: 53.7rem;
            font-size: 0.7rem;
            font-weight: 400;
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
            height: 1.3rem;
            line-height: 1.76;
            color: #000000;
            width: 0.8rem;
          }
          .like-um7 {
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
            width: 1.2rem;
            height: 1.3rem;
            font-size: 0.7rem;
            font-weight: 400;
            line-height: 1.76;
            color: rgba(82, 82, 82, 0.6000000238);
            position: absolute;
            left: 7.9rem;
            top: 57.6rem;
          }
          .reply-RUZ {
            font-family: Amiri, 'Source Sans Pro';
            position: absolute;
            font-size: 0.7rem;
            font-weight: 400;
            top: 57.6rem;
            line-height: 1.76;
            color: rgba(82, 82, 82, 0.6000000238);
            white-space: nowrap;
            width: 1.6rem;
            height: 1.3rem;
            left: 10.4rem;
          }
          .item--Y3P {
            color: rgba(82, 82, 82, 0.6000000238);
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
            left: 9.7rem;
            height: 1.3rem;
            position: absolute;
            top: 57.4rem;
            font-size: 0.7rem;
            font-weight: 400;
            line-height: 1.76;
            width: 0.2rem;
          }
          .nice-one-FTb {
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
            width: 4.7rem;
            height: 2.3rem;
            top: 55.7rem;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.76;
            color: #000000;
            position: absolute;
            left: 7.8rem;
          }
        }
      }
      .frame-4-Zz5 {
        box-sizing: border-box;
        padding: 1.5rem 1.4rem 4.1rem 1.4rem;
        width: 33.1rem;
        overflow: hidden;
        position: relative;
        background-color: #213555;
        flex-shrink: 0;

        .auto-group-gtcz-W8d {
          align-items: flex-start;
          margin: 0rem 11rem 4.3rem 0rem;
          width: calc(100% - 11rem);
          display: flex;

          .vector-SHB {
            flex-shrink: 0;
            margin-right: 0.7rem;
            width: 5.6rem;
            height: 5.6rem;
            object-fit: contain;
            vertical-align: top;
          }
          .auto-group-6mdf-auB {
            margin-top: 0.9rem;
            width: 13rem;
            height: 5.9rem;
            position: relative;
            flex-shrink: 0;

            .richard-alya-j1P {
              position: absolute;
              font-weight: 400;
              line-height: 1.2675;
              white-space: nowrap;
              color: #ffffff;
              font-family: Acme, 'Source Sans Pro';
              width: 6.6rem;
              height: 1.7rem;
              left: 0;
              top: 0;
              font-size: 1.3rem;
            }
            .co-founder-at-kawan-media-qq7 {
              height: 2rem;
              font-size: 1.1rem;
              color: rgba(255, 255, 255, 0.6000000238);
              width: 13rem;
              left: 0;
              top: 1.6rem;
              font-weight: 400;
              line-height: 1.76;
              font-family: Amiri, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
            }
            .rectangle-30-9au {
              border: solid 0.1rem #000000;
              cursor: pointer;
              position: absolute;
              left: 0;
              box-sizing: border-box;
              background-color: #d9d9d9;
              border-radius: 1.5rem;
              width: 8.2rem;
              height: 2.3rem;
              top: 3.6rem;
            }
            .follow-rVK {
              position: absolute;
              left: 2.3rem;
              line-height: 1.81;
              font-family: Arya, 'Source Sans Pro';
              height: 2.4rem;
              top: 3.4rem;
              font-size: 1.3rem;
              font-weight: 400;
              color: #000000;
              white-space: nowrap;
              width: 3.4rem;
            }
          }
        }
        .auto-group-dsrp-Z8q {
          width: calc(100% - 15.8rem);
          display: flex;
          align-items: flex-end;
          margin-right: 15.8rem;

          .vector-hkq {
            width: 5.6rem;
            height: 5.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.7rem 0.8rem 0rem;
          }
          .auto-group-o11o-qMF {
            position: relative;
            flex-shrink: 0;
            width: 8.2rem;
            height: 5.5rem;

            .joseph-felix-Bg1 {
              height: 1.7rem;
              left: 0;
              line-height: 1.2675;
              font-family: Acme, 'Source Sans Pro';
              white-space: nowrap;
              width: 6.2rem;
              top: 0;
              font-size: 1.3rem;
              font-weight: 400;
              color: #ffffff;
              position: absolute;
            }
            .ceo-of-pt-sern-7Zf {
              position: absolute;
              font-size: 1.1rem;
              color: rgba(255, 255, 255, 0.6000000238);
              white-space: nowrap;
              width: 8.2rem;
              height: 2rem;
              left: 0;
              top: 1.6rem;
              font-weight: 400;
              line-height: 1.76;
              font-family: Amiri, 'Source Sans Pro';
            }
            .rectangle-31-qEm {
              cursor: pointer;
              left: 0;
              top: 3.2rem;
              background-color: #d9d9d9;
              height: 2.3rem;
              position: absolute;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              border-radius: 1.5rem;
              width: 8.2rem;
            }
            .follow-9mF {
              height: 2.4rem;
              position: absolute;
              top: 3.1rem;
              line-height: 1.81;
              font-family: Arya, 'Source Sans Pro';
              width: 3.4rem;
              font-size: 1.3rem;
              font-weight: 400;
              color: #000000;
              white-space: nowrap;
              left: 2.1rem;
            }
          }
        }
      }
    }
    .auto-group-iq3w-rQm {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .followed-hashtags-oau {
        line-height: 1.2675;
        color: #000000;
        font-family: Acme, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 66.5rem;
        font-size: 1.5rem;
        font-weight: 400;
      }
      .union-98y {
        flex-shrink: 0;
        margin: 1.4rem 13.732rem 0rem 0rem;
        width: 3.5684rem;
        height: 2.8489rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-TvM {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.6rem;
        width: 3.4344rem;
        height: 3.4344rem;
      }
    }
  }
}
