
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-like-followed-1-tRB {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-gctd-1kh {
    height: 78.6rem;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 1.5rem;
    width: 100%;

    .rectangle-28-vsf {
      top: 19.9rem;
      background-color: #d9d9d9;
      border-radius: 1.5rem;
      width: 28.2rem;
      height: 37rem;
      position: absolute;
      left: 3rem;
    }
    .rectangle-27-rFX {
      background-color: #d9d9d9;
      border-radius: 1.5rem;
      width: 28.2rem;
      height: 19.3rem;
      position: absolute;
      left: 3rem;
      top: 59.3rem;
    }
    .group-An1 {
      font-weight: 400;
      color: #000000;
      font-family: Acme, 'Source Sans Pro';
      white-space: nowrap;
      height: 2rem;
      top: 62.5rem;
      left: 5.2rem;
      font-size: 1.5rem;
      line-height: 1.2675;
      width: 3.8rem;
      position: absolute;
    }
    .events-4sP {
      position: absolute;
      left: 5.2rem;
      font-weight: 400;
      line-height: 1.2675;
      font-family: Acme, 'Source Sans Pro';
      width: 4.1rem;
      height: 2rem;
      top: 65.8rem;
      font-size: 1.5rem;
      color: #000000;
      white-space: nowrap;
    }
    .followed-hashtags-yzM {
      left: 5.2rem;
      top: 68.9rem;
      font-weight: 400;
      color: #000000;
      width: 11.4rem;
      position: absolute;
      line-height: 1.2675;
      font-family: Acme, 'Source Sans Pro';
      white-space: nowrap;
      height: 2rem;
      font-size: 1.5rem;
    }
    .discover-more-JFw {
      text-align: center;
      font-weight: 400;
      line-height: 1.2675;
      color: #000000;
      font-family: Acme, 'Source Sans Pro';
      white-space: nowrap;
      width: 8.6rem;
      height: 2rem;
      position: absolute;
      left: 12.85rem;
      top: 74.5rem;
      font-size: 1.5rem;
    }
    .frame-3-DNu {
      box-sizing: border-box;
      padding: 0.6rem 1.3rem 0.8rem 0.7rem;
      width: 63.3rem;
      height: 8.7rem;
      position: absolute;
      overflow: hidden;
      align-items: center;
      background-color: #ffffff;
      left: 36.3rem;
      top: 19.9rem;
      display: flex;
      flex-direction: column;
      border: solid 0.1rem #000000;

      .auto-group-56b7-uFj {
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 1.7rem;
        width: 100%;
        height: 3.6rem;
        display: flex;

        .vector-SWZ {
          margin-right: 1.1rem;
          width: 3.6rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-4ehk-z2H {
          flex-shrink: 0;
          margin: 0.1rem 0;
          width: 56.6rem;
          height: calc(100% - 0.2rem);
          position: relative;

          .start-a-post-WmK {
            height: 1.4rem;
            left: 0.9rem;
            font-weight: 400;
            color: #757575;
            width: 6.2rem;
            top: 0.9rem;
            font-size: 1.1rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
          }
          .rectangle-29-oVX {
            box-sizing: border-box;
            border-radius: 1.5rem;
            width: 56.6rem;
            height: 3.4rem;
            position: absolute;
            left: 0;
            top: 0;
            border: solid 0.1rem #000000;
          }
        }
      }
      .auto-group-xars-7m7 {
        width: calc(100% - 8.6rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 3.1rem 0rem 5.5rem;

        .icon-media-image-qh7 {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.2rem;
          width: 1.6rem;
          height: 1.6rem;
          object-fit: contain;
        }
        .media-a8u {
          margin-right: 17.3rem;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #757575;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .events-WHT {
          margin: 0rem 0.3rem 0.2rem 0rem;
          width: 1.7rem;
          height: 1.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .events-pZ3 {
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #757575;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 16.2rem;
        }
        .article-LXP {
          height: 2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.2175rem;
          width: 2.1825rem;
        }
        .write-article-3Ro {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #757575;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .frame-4-7gZ {
      width: 33.1rem;
      height: 23.1rem;
      position: absolute;
      left: 104.7rem;
      top: 19.9rem;
      background-color: #213555;
      box-sizing: border-box;
      padding-bottom: 4.1rem;
      overflow: hidden;

      .auto-group-fri1-EFP {
        margin-bottom: 1.4rem;
        width: 100%;
        height: 11.2rem;
        position: relative;

        .vector-Z2m {
          width: 5.6rem;
          height: 5.6rem;
          position: absolute;
          left: 1.4rem;
          top: 1.5rem;
          object-fit: contain;
          vertical-align: top;
        }
        .co-founder-at-kawan-media-Gxm {
          width: 13rem;
          height: 2rem;
          position: absolute;
          top: 4rem;
          font-weight: 400;
          line-height: 1.76;
          color: rgba(255, 255, 255, 0.6000000238);
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
          left: 7.7rem;
          font-size: 1.1rem;
        }
        .richard-alya-j5f {
          font-family: Acme, 'Source Sans Pro';
          width: 6.6rem;
          position: absolute;
          left: 7.7rem;
          top: 2.4rem;
          font-size: 1.3rem;
          line-height: 1.2675;
          height: 1.7rem;
          font-weight: 400;
          color: #ffffff;
          white-space: nowrap;
        }
        .rectangle-30-nJq {
          width: 8.2rem;
          height: 2.3rem;
          position: absolute;
          left: 7.7rem;
          top: 6rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
        }
        .follow-UxM {
          width: 3.4rem;
          height: 2.4rem;
          position: absolute;
          line-height: 1.81;
          color: #000000;
          white-space: nowrap;
          left: 10rem;
          top: 5.8rem;
          font-size: 1.3rem;
          font-weight: 400;
          font-family: Arya, 'Source Sans Pro';
        }
        .rectangle-214-nTF {
          height: 11.2rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(81, 81, 81, 0.75);
          width: 33.1rem;
        }
        .followed-j7b {
          width: 8.9rem;
          left: 11.4rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 800;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          height: 2.5rem;
          position: absolute;
          top: 4.7rem;
          color: #ffffff;
          white-space: nowrap;
        }
      }
      .auto-group-u9x1-qwK {
        margin: 0rem 17.2rem 0rem 1.4rem;
        width: calc(100% - 18.6rem);
        display: flex;
        align-items: flex-end;

        .vector-a8D {
          margin: 0rem 0.7rem 0.8rem 0rem;
          width: 5.6rem;
          height: 5.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-x5am-teh {
          width: 8.2rem;
          height: 5.5rem;
          position: relative;
          flex-shrink: 0;

          .joseph-felix-SAR {
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            width: 6.2rem;
            position: absolute;
            top: 0;
            font-weight: 400;
            color: #ffffff;
            height: 1.7rem;
            left: 0;
            font-size: 1.3rem;
            line-height: 1.2675;
          }
          .ceo-of-pt-sern-M2V {
            font-family: Amiri, 'Source Sans Pro';
            height: 2rem;
            position: absolute;
            left: 0;
            top: 1.6rem;
            font-size: 1.1rem;
            line-height: 1.76;
            color: rgba(255, 255, 255, 0.6000000238);
            white-space: nowrap;
            width: 8.2rem;
            font-weight: 400;
          }
          .rectangle-31-T5X {
            height: 2.3rem;
            position: absolute;
            background-color: #d9d9d9;
            width: 8.2rem;
            top: 3.2rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            border-radius: 1.5rem;
            left: 0;
          }
          .follow-ZeM {
            left: 2.1rem;
            top: 3.1rem;
            font-weight: 400;
            line-height: 1.81;
            color: #000000;
            font-family: Arya, 'Source Sans Pro';
            height: 2.4rem;
            position: absolute;
            font-size: 1.3rem;
            white-space: nowrap;
            width: 3.4rem;
          }
        }
      }
    }
    .jonathan-milos-fBb {
      width: 14.5rem;
      top: 34.9rem;
      font-weight: 400;
      line-height: 1.76;
      color: #000000;
      height: 4.3rem;
      position: absolute;
      left: 9.9rem;
      text-align: center;
      font-size: 2.4rem;
      font-family: Amiri, 'Source Sans Pro';
      white-space: nowrap;
    }
    .data-architect-aJZ {
      white-space: nowrap;
      width: 8.6rem;
      position: absolute;
      font-weight: 400;
      font-family: Amiri, 'Source Sans Pro';
      font-size: 1.5rem;
      line-height: 1.76;
      color: #000000;
      height: 2.7rem;
      left: 12.85rem;
      top: 38.4rem;
      text-align: center;
    }
    .connection-Hyf {
      font-weight: 400;
      color: #000000;
      width: 6.8rem;
      height: 2rem;
      position: absolute;
      left: 5.2rem;
      top: 47.1rem;
      font-size: 1.5rem;
      line-height: 1.2675;
      font-family: Acme, 'Source Sans Pro';
      white-space: nowrap;
    }
    .try-premium-bUZ {
      line-height: 1.2675;
      color: #000000;
      font-family: Acme, 'Source Sans Pro';
      white-space: nowrap;
      height: 2rem;
      position: absolute;
      top: 52.7rem;
      font-size: 1.5rem;
      font-weight: 400;
      width: 7.7rem;
      left: 5.2rem;
    }
    .frame-v13 {
      padding: 2rem 0rem 1.6rem 0rem;
      position: absolute;
      top: 34.2rem;
      border: solid 0.2rem #000000;
      border-radius: 3rem;
      box-sizing: border-box;
      width: 63rem;
      height: 41rem;
      left: 36.3rem;

      .auto-group-ecud-dRF {
        margin: 0rem 36rem 0.5rem 2.5rem;
        width: calc(100% - 38.5rem);
        display: flex;
        align-items: center;

        .ellipse-ARB {
          border-radius: 2.25rem;
          flex-shrink: 0;
          margin-right: 0.5rem;
          width: 4.5rem;
          height: 4.5rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #000000;
        }
        .pt-mencari-cinta-sejati-VCZ {
          flex-shrink: 0;
          margin-top: 0.3rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.76;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .wallpaperflare-1-R6D {
        margin-bottom: 1.4rem;
        width: 63rem;
        height: 27.7rem;
        object-fit: cover;
        vertical-align: top;
      }
      .auto-group-qkqk-Lys {
        margin-left: 3.1rem;
        width: 55.7582rem;
        height: 3.3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .wallpaperflare-2-EpM {
      height: 9.4rem;
      position: absolute;
      left: 3rem;
      top: 19.9rem;
      object-fit: cover;
      vertical-align: top;
      width: 28.2rem;
    }
    .vector-mJV {
      top: 22.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 12rem;
      height: 12rem;
      position: absolute;
      left: 11.1rem;
    }
    .line-1-uQh {
      top: 44.7rem;
      background-color: #000000;
      width: 21.1rem;
      height: 0.1rem;
      position: absolute;
      left: 6.6rem;
    }
    .line-3-qZF {
      top: 72.9rem;
      background-color: #000000;
      width: 21.1rem;
      height: 0.1rem;
      position: absolute;
      left: 6.6rem;
    }
    .line-2-B7K {
      height: 0.1rem;
      position: absolute;
      left: 6.6rem;
      top: 51.3rem;
      background-color: #000000;
      width: 21.1rem;
    }
    .component-6-variant2-W9b {
      padding: 1.4rem 1.7rem 0.6rem 5.3rem;
      width: 144rem;
      left: 0;
      align-items: center;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      display: flex;
      background-color: #4682a9;
      height: 13.2rem;

      .auto-group-fwxu-QVs {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 1.4rem 5.8rem 0rem 0rem;
        width: 6.5rem;

        .auto-group-msrz-jY9 {
          width: 100%;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:3ca1b12fd5d3de42211f78bb83137f2f2c7657e1');
          flex-shrink: 0;
          margin-bottom: 0.5rem;

          .image-15-gyB {
            width: 6.5rem;
            height: 6.4rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-w1ps-oY1 {
          margin: 0 0.2rem;
          width: calc(100% - 0.4rem);
          height: 2.5rem;
          position: relative;
          flex-shrink: 0;

          .profile-Lnq {
            width: 6.1rem;
            height: 2.5rem;
            position: absolute;
            text-align: center;
            font-size: 2rem;
            color: #000000;
            white-space: nowrap;
            left: 0;
            top: 0;
            font-weight: 400;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
          }
          .profile-Feu {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            left: 0;
            top: 0;
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            width: 6.1rem;
            height: 2.5rem;
            position: absolute;
            line-height: 1.2125;
            white-space: nowrap;
          }
        }
      }
      .component-3-component-2-variant2-mdF {
        margin: 2.9rem 27.3rem 2.7rem 0rem;
        box-sizing: border-box;
        padding: 1.341rem 1.571rem 1.403rem 40.4rem;
        height: calc(100% - 5.6rem);
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;

        .frame-eww {
          height: 2.8565rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.2295rem;
        }
      }
      .auto-group-jjam-zF7 {
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;
        display: flex;

        .icon-taskbar-ww3 {
          margin-bottom: 1.1625rem;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .icon-home-gtd {
            margin: 0rem 3.9rem 0.9rem 0rem;
            width: 6.9rem;
            height: 6.0375rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .icon-bell-c1b {
            flex-shrink: 0;
            margin: 0rem 4.2rem 0.038rem 0rem;
            width: 6.9rem;
            height: 6.9rem;
            object-fit: contain;
            vertical-align: top;
          }
          .icon-briefcase-XuF {
            margin: 0rem 2.691rem 0.438rem 0rem;
            width: 6.9086rem;
            height: 6.9rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .icon-people-FqF {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 6.309rem 0.038rem 0rem;
            width: 6.8914rem;
            height: 6.9rem;
            cursor: pointer;
          }
          .icon-chat-acd {
            vertical-align: top;
            flex-shrink: 0;
            width: 6.9rem;
            height: 6.0375rem;
            object-fit: contain;
          }
        }
        .component-4-iyj {
          align-items: flex-start;
          flex-shrink: 0;
          margin-left: 0.35rem;
          display: flex;

          .home-sLq {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 1.9rem;
            text-align: center;
            font-size: 2rem;
            color: #000000;
            font-weight: 400;
            line-height: 1.2125;
            flex-shrink: 0;
          }
          .notifications-CP7 {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-right: 2.8rem;
            font-size: 2rem;
            font-weight: 400;
            text-align: center;
            flex-shrink: 0;
          }
          .jobs-jP3 {
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 2rem;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin: 0.1rem 2.85rem 0rem 0rem;
            font-weight: 400;
          }
          .my-network-T49 {
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.3rem;
            text-align: center;
            font-size: 2rem;
            line-height: 1.2125;
          }
          .messaging-yoB {
            margin-top: 0.2rem;
            text-align: center;
            font-weight: 400;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2rem;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
    .frame-91-VmX {
      width: 14.5rem;
      height: 24.7rem;
      position: absolute;
      left: 57.5rem;
      top: 0;
      overflow: hidden;
    }
  }
  .frame-qKb {
    box-sizing: border-box;
    padding: 2rem 0rem 2.251rem 0rem;
    width: calc(100% - 81rem);
    border-radius: 3rem;
    flex-shrink: 0;
    margin: 0rem 44.7rem 0rem 36.3rem;
    height: 41rem;
    display: flex;
    flex-direction: column;
    border: solid 0.2rem #000000;

    .auto-group-uius-8pV {
      margin: 0rem 34.5rem 0.4rem 2.5rem;
      width: calc(100% - 37rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .ellipse-U7f {
        border-radius: 2.25rem;
        flex-shrink: 0;
        margin: 0rem 0.5rem 0.1rem 0rem;
        width: 4.5rem;
        height: 4.5rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #000000;
      }
      .pt-barokah-jaya-jaya-jaya-Nyj {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.76;
        color: #000000;
        font-family: Amiri, 'Source Sans Pro';
      }
    }
    .wallpaperflare-3-JMb {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0rem;
      width: 63rem;
      height: 27.7rem;
    }
    .auto-group-8tcz-dPs {
      margin: 0rem 2.866rem 0rem 3rem;
      width: calc(100% - 5.8656rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .union-Z2d {
        height: 3.9793rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 13.421rem 0.07rem 0rem;
        width: 3.9793rem;
      }
      .vector-62Z {
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 15.8rem 0.049rem 0rem;
        width: 3.2rem;
      }
      .union-1QR {
        width: 3.5684rem;
        height: 2.8489rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 13.7316rem;
      }
      .vector-ZB3 {
        margin-bottom: 0.2145rem;
        width: 3.4344rem;
        height: 3.4344rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
