
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-sent-Ae9 {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .rectangle-28-UPw {
    border-radius: 1.5rem;
    width: 28.2rem;
    height: 37rem;
    position: absolute;
    left: 3rem;
    top: 19.9rem;
    background-color: #d9d9d9;
  }
  .rectangle-27-CKw {
    width: 28.2rem;
    height: 19.3rem;
    position: absolute;
    left: 3rem;
    top: 59.3rem;
    background-color: #d9d9d9;
    border-radius: 1.5rem;
  }
  .group-j4y {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: Acme, 'Source Sans Pro';
    height: 2rem;
    top: 62.5rem;
    left: 5.2rem;
    line-height: 1.2675;
    color: #000000;
    white-space: nowrap;
    width: 3.8rem;
    position: absolute;
  }
  .events-qNu {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: Acme, 'Source Sans Pro';
    white-space: nowrap;
    width: 4.1rem;
    height: 2rem;
    left: 5.2rem;
    top: 65.8rem;
    line-height: 1.2675;
    color: #000000;
  }
  .followed-hashtags-m1f {
    font-weight: 400;
    line-height: 1.2675;
    font-family: Acme, 'Source Sans Pro';
    color: #000000;
    white-space: nowrap;
    width: 11.4rem;
    height: 2rem;
    position: absolute;
    left: 0;
    top: 114.6rem;
    font-size: 1.5rem;
  }
  .discover-more-Tv5 {
    width: 8.6rem;
    position: absolute;
    top: 74.5rem;
    font-family: Acme, 'Source Sans Pro';
    line-height: 1.2675;
    color: #000000;
    white-space: nowrap;
    height: 2rem;
    left: 12.85rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .frame-3-nBf {
    position: absolute;
    overflow: hidden;
    flex-direction: column;
    border: solid 0.1rem #000000;
    padding: 0.6rem 1.3rem 0.8rem 0.7rem;
    width: 63.3rem;
    height: 8.7rem;
    align-items: center;
    display: flex;
    background-color: #ffffff;
    box-sizing: border-box;
    left: 36.3rem;
    top: 19.9rem;

    .auto-group-jphx-sD7 {
      height: 3.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 1.7rem;
      width: 100%;

      .vector-ocZ {
        margin-right: 1.1rem;
        width: 3.6rem;
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-j8f7-wTs {
        margin: 0.1rem 0;
        width: 56.6rem;
        height: calc(100% - 0.2rem);
        position: relative;
        flex-shrink: 0;

        .start-a-post-SvR {
          height: 1.4rem;
          left: 0.9rem;
          top: 0.9rem;
          font-size: 1.1rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 6.2rem;
          font-weight: 400;
          color: #757575;
          white-space: nowrap;
          position: absolute;
        }
        .rectangle-29-7Wm {
          border-radius: 1.5rem;
          width: 56.6rem;
          height: 3.4rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
        }
      }
    }
    .auto-group-rez9-RGZ {
      flex-shrink: 0;
      margin: 0rem 3.1rem 0rem 5.5rem;
      width: calc(100% - 8.6rem);
      display: flex;
      align-items: center;

      .icon-media-image-wEu {
        flex-shrink: 0;
        margin-right: 0.2rem;
        width: 1.6rem;
        height: 1.6rem;
        object-fit: contain;
        vertical-align: top;
      }
      .media-fgh {
        line-height: 1.2125;
        color: #757575;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 17.3rem;
        font-size: 1.1rem;
        font-weight: 400;
      }
      .events-CwX {
        margin: 0rem 0.3rem 0.2rem 0rem;
        width: 1.7rem;
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .events-8KP {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 16.2rem;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #757575;
      }
      .article-4yj {
        margin-right: 0.2175rem;
        width: 2.1825rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .write-article-pT7 {
        color: #757575;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
  }
  .frame-4-jpy {
    top: 19.9rem;
    box-sizing: border-box;
    padding: 1.5rem 1.4rem 4.1rem 1.4rem;
    width: 33.1rem;
    height: 23.1rem;
    position: absolute;
    left: 104.7rem;
    overflow: hidden;
    background-color: #213555;

    .auto-group-fzdw-FoK {
      align-items: flex-start;
      margin: 0rem 11rem 4.3rem 0rem;
      width: calc(100% - 11rem);
      display: flex;

      .vector-zF7 {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 5.6rem;
        height: 5.6rem;
        object-fit: contain;
      }
      .auto-group-b5ch-LJy {
        width: 13rem;
        height: 5.9rem;
        position: relative;
        flex-shrink: 0;
        margin-top: 0.9rem;

        .richard-alya-51f {
          line-height: 1.2675;
          font-family: Acme, 'Source Sans Pro';
          height: 1.7rem;
          position: absolute;
          left: 0;
          top: 0;
          white-space: nowrap;
          width: 6.6rem;
          font-size: 1.3rem;
          font-weight: 400;
          color: #ffffff;
        }
        .co-founder-at-kawan-media-NmT {
          left: 0;
          top: 1.6rem;
          font-weight: 400;
          line-height: 1.76;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
          width: 13rem;
          height: 2rem;
          position: absolute;
          font-size: 1.1rem;
          color: rgba(255, 255, 255, 0.6000000238);
        }
        .rectangle-30-dBb {
          background-color: #d9d9d9;
          position: absolute;
          top: 3.6rem;
          left: 0;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          border-radius: 1.5rem;
          width: 8.2rem;
          height: 2.3rem;
        }
        .follow-jVX {
          font-size: 1.3rem;
          font-weight: 400;
          color: #000000;
          left: 2.3rem;
          height: 2.4rem;
          position: absolute;
          top: 3.4rem;
          line-height: 1.81;
          font-family: Arya, 'Source Sans Pro';
          white-space: nowrap;
          width: 3.4rem;
        }
      }
    }
    .auto-group-u9xq-dau {
      margin-right: 15.8rem;
      width: calc(100% - 15.8rem);
      display: flex;
      align-items: flex-end;

      .vector-xdB {
        margin: 0rem 0.7rem 0.8rem 0rem;
        width: 5.6rem;
        height: 5.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-bghs-gp5 {
        width: 8.2rem;
        height: 5.5rem;
        position: relative;
        flex-shrink: 0;

        .joseph-felix-E4u {
          line-height: 1.2675;
          width: 6.2rem;
          position: absolute;
          left: 0;
          font-size: 1.3rem;
          font-family: Acme, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.7rem;
          top: 0;
          font-weight: 400;
          color: #ffffff;
        }
        .ceo-of-pt-sern-Z7B {
          position: absolute;
          left: 0;
          font-weight: 400;
          line-height: 1.76;
          color: rgba(255, 255, 255, 0.6000000238);
          font-family: Amiri, 'Source Sans Pro';
          width: 8.2rem;
          top: 1.6rem;
          font-size: 1.1rem;
          white-space: nowrap;
          height: 2rem;
        }
        .rectangle-31-rry {
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          height: 2.3rem;
          position: absolute;
          left: 0;
          box-sizing: border-box;
          width: 8.2rem;
          top: 3.2rem;
          border: solid 0.1rem #000000;
        }
        .follow-NqK {
          height: 2.4rem;
          top: 3.1rem;
          font-size: 1.3rem;
          color: #000000;
          font-family: Arya, 'Source Sans Pro';
          width: 3.4rem;
          left: 2.1rem;
          font-weight: 400;
          line-height: 1.81;
          white-space: nowrap;
          position: absolute;
        }
      }
    }
  }
  .jonathan-milos-gLD {
    width: 14.5rem;
    height: 4.3rem;
    left: 9.9rem;
    font-size: 2.4rem;
    position: absolute;
    top: 34.9rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.76;
    color: #000000;
    font-family: Amiri, 'Source Sans Pro';
    white-space: nowrap;
  }
  .data-architect-BXs {
    left: 12.85rem;
    text-align: center;
    line-height: 1.76;
    color: #000000;
    width: 8.6rem;
    height: 2.7rem;
    position: absolute;
    top: 38.4rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: Amiri, 'Source Sans Pro';
    white-space: nowrap;
  }
  .connection-Hqo {
    top: 47.1rem;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    left: 5.2rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2675;
    font-family: Acme, 'Source Sans Pro';
    width: 6.8rem;
    height: 2rem;
  }
  .try-premium-cNH {
    font-family: Acme, 'Source Sans Pro';
    width: 7.7rem;
    height: 2rem;
    position: absolute;
    top: 52.7rem;
    font-weight: 400;
    line-height: 1.2675;
    color: #000000;
    white-space: nowrap;
    left: 5.2rem;
    font-size: 1.5rem;
  }
  .frame-f5f {
    box-sizing: border-box;
    padding: 2rem 0rem 1.6rem 0rem;
    width: 63rem;
    position: absolute;
    left: 36.3rem;
    border: solid 0.2rem #000000;
    height: 41rem;
    top: 34.2rem;
    border-radius: 3rem;

    .auto-group-t3b3-y6M {
      margin: 0rem 36rem 0.5rem 2.5rem;
      width: calc(100% - 38.5rem);
      display: flex;
      align-items: center;

      .ellipse-h2M {
        box-sizing: border-box;
        background-color: #000000;
        border-radius: 2.25rem;
        flex-shrink: 0;
        margin-right: 0.5rem;
        width: 4.5rem;
        height: 4.5rem;
        border: solid 0.1rem #000000;
      }
      .pt-mencari-cinta-sejati-DFb {
        line-height: 1.76;
        color: #000000;
        font-family: Amiri, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.3rem;
        font-size: 2rem;
        font-weight: 400;
      }
    }
    .wallpaperflare-1-wBb {
      margin-bottom: 1.4rem;
      width: 63rem;
      height: 27.7rem;
      object-fit: cover;
      vertical-align: top;
    }
    .group-19-rZT {
      margin: 0rem 4.142rem 0rem 6.5rem;
      width: calc(100% - 10.6418rem);
      display: flex;
      align-items: center;

      .icon-heart-aVT {
        margin: 0.1rem 10.8rem 0rem 0rem;
        width: 3.1rem;
        height: 2.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .group-17-VcR {
        margin: 0.1rem 13.7rem 0rem 0rem;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icon-repost-peh {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 13.9rem 0.1rem 0rem;
        width: 4.3rem;
        height: 3rem;
        object-fit: contain;
      }
      .icon-share-wjK {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.11rem;
        width: 3.3582rem;
        height: 3.19rem;
        object-fit: contain;
      }
    }
  }
  .frame-edj {
    left: 36.3rem;
    top: 80.1rem;
    box-sizing: border-box;
    height: 41rem;
    position: absolute;
    border-radius: 3rem;
    padding: 2rem 0rem 2.251rem 0rem;
    width: 63rem;
    border: solid 0.2rem #000000;

    .auto-group-5ewx-xuK {
      margin: 0rem 34.5rem 0.4rem 2.5rem;
      width: calc(100% - 37rem);
      display: flex;
      align-items: flex-end;

      .ellipse-tny {
        height: 4.5rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #000000;
        border-radius: 2.25rem;
        flex-shrink: 0;
        margin: 0rem 0.5rem 0.1rem 0rem;
        width: 4.5rem;
      }
      .pt-barokah-jaya-jaya-jaya-avh {
        font-weight: 400;
        line-height: 1.76;
        color: #000000;
        font-family: Amiri, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
      }
    }
    .wallpaperflare-3-ui5 {
      margin-bottom: 0rem;
      width: 63rem;
      height: 27.7rem;
      object-fit: cover;
      vertical-align: top;
    }
    .auto-group-kyyo-3ZP {
      margin: 0rem 2.866rem 0rem 3rem;
      width: calc(100% - 5.8656rem);
      display: flex;
      align-items: flex-end;

      .union-Znd {
        height: 3.9793rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 13.421rem 0.07rem 0rem;
        width: 3.9793rem;
      }
      .vector-h89 {
        width: 3.2rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 15.8rem 0.049rem 0rem;
      }
      .union-d1o {
        width: 3.5684rem;
        height: 2.8489rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 13.7316rem;
      }
      .vector-aBw {
        flex-shrink: 0;
        margin-bottom: 0.2145rem;
        width: 3.4344rem;
        height: 3.4344rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .wallpaperflare-2-tTX {
    vertical-align: top;
    width: 28.2rem;
    height: 9.4rem;
    position: absolute;
    left: 3rem;
    top: 19.9rem;
    object-fit: cover;
  }
  .vector-Cj7 {
    position: absolute;
    left: 11.1rem;
    top: 22.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 12rem;
    height: 12rem;
  }
  .line-1-LqK {
    height: 0.1rem;
    position: absolute;
    left: 6.6rem;
    top: 44.7rem;
    background-color: #000000;
    width: 21.1rem;
  }
  .line-3-5H7 {
    width: 21.1rem;
    height: 0.1rem;
    position: absolute;
    left: 6.6rem;
    top: 72.9rem;
    background-color: #000000;
  }
  .line-2-DeD {
    width: 21.1rem;
    height: 0.1rem;
    position: absolute;
    left: 6.6rem;
    top: 51.3rem;
    background-color: #000000;
  }
  .component-6-variant2-A3f {
    width: 144rem;
    position: absolute;
    align-items: center;
    background-color: #4682a9;
    box-sizing: border-box;
    height: 13.2rem;
    left: 0;
    top: 0;
    display: flex;
    padding: 1.4rem 1.7rem 0.6rem 5.3rem;

    .auto-group-zkdb-rx5 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.4rem 5.8rem 0rem 0rem;
      width: 6.5rem;
      align-items: center;

      .auto-group-fgwq-Ph7 {
        margin-bottom: 0.5rem;
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:3ca1b12fd5d3de42211f78bb83137f2f2c7657e1');
        flex-shrink: 0;

        .image-15-MP3 {
          width: 6.5rem;
          height: 6.4rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-bdws-gAR {
        margin: 0 0.2rem;
        width: calc(100% - 0.4rem);
        height: 2.5rem;
        position: relative;
        flex-shrink: 0;

        .profile-pXX {
          left: 0;
          text-align: center;
          font-weight: 400;
          color: #000000;
          height: 2.5rem;
          position: absolute;
          font-size: 2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 6.1rem;
          top: 0;
        }
        .profile-NBf {
          top: 0;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          width: 6.1rem;
          height: 2.5rem;
          position: absolute;
          white-space: nowrap;
          left: 0;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .component-3-component-2-variant2-SxD {
      margin: 2.9rem 27.3rem 2.7rem 0rem;
      box-sizing: border-box;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;
      height: calc(100% - 5.6rem);
      background-color: #ffffff;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .frame-w8H {
        object-fit: contain;
        vertical-align: top;
        width: 2.2295rem;
        height: 2.8565rem;
      }
    }
    .auto-group-8kmb-fKB {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .icon-taskbar-owB {
        flex-shrink: 0;
        margin-bottom: 1.1625rem;
        display: flex;
        align-items: flex-end;

        .icon-home-kbX {
          width: 6.9rem;
          height: 6.0375rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3.9rem 0.9rem 0rem;
        }
        .icon-bell-Gpm {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.2rem 0.038rem 0rem;
          width: 6.9rem;
          height: 6.9rem;
        }
        .icon-briefcase-zkm {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.691rem 0.438rem 0rem;
          width: 6.9086rem;
          height: 6.9rem;
          object-fit: contain;
        }
        .icon-people-Ko3 {
          flex-shrink: 0;
          margin: 0rem 6.309rem 0.038rem 0rem;
          width: 6.8914rem;
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
        }
        .icon-chat-TPT {
          width: 6.9rem;
          height: 6.0375rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .component-4-zuB {
        margin-left: 0.35rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .home-9GH {
          margin-right: 1.9rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          line-height: 1.2125;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .notifications-Grh {
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          white-space: nowrap;
          margin-right: 2.8rem;
          text-align: center;
          font-size: 2rem;
          color: #000000;
        }
        .jobs-QT7 {
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          color: #000000;
          margin: 0.1rem 2.85rem 0rem 0rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          line-height: 1.2125;
        }
        .my-network-XGq {
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          margin-right: 1.3rem;
          font-size: 2rem;
        }
        .messaging-TRP {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          margin-top: 0.2rem;
          text-align: center;
          font-weight: 400;
        }
      }
    }
  }
  .rectangle-220-NoF {
    top: 0;
    background-color: rgba(0, 0, 0, 0.6000000238);
    width: 144rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
  }
  .rectangle-221-XAM {
    width: 75.4rem;
    height: 52.2rem;
    position: absolute;
    left: 34.3rem;
    top: 14.1rem;
    background-color: #ffffff;
    border-radius: 2rem;
  }
  .post-success-rTX {
    left: 62.1rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    top: 50.3rem;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    width: 19.1rem;
    height: 3.7rem;
    position: absolute;
  }
  .line-5-NAy {
    top: 21.4rem;
    background-color: #000000;
    width: 75.4rem;
    height: 0.1rem;
    position: absolute;
    left: 34.3rem;
  }
  .line-6-uAu {
    width: 75.4rem;
    height: 0.1rem;
    position: absolute;
    left: 34.3rem;
    top: 59.4rem;
    background-color: #000000;
  }
  .rectangle-226-qqF {
    background-color: #52c41a;
    width: 60.2rem;
    top: 61.3rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    height: 3.2rem;
    position: absolute;
    left: 41.9rem;
    border-radius: 1.3rem;
  }
  .followed-hashtags-9b3 {
    top: 68.9rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: #000000;
    height: 2rem;
    position: absolute;
    left: 5.2rem;
    white-space: nowrap;
    width: 11.4rem;
    line-height: 1.2675;
    font-family: Acme, 'Source Sans Pro';
  }
  .sent-T5w {
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 70.2rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2125;
    width: 3.1rem;
    height: 1.7rem;
    top: 62rem;
  }
  .emoji-white-heavy-check-mark-ZPs {
    height: 21.5267rem;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:472:4723');
    padding: 4.305rem 3.229rem 4.305rem 3.229rem;
    width: 21.5267rem;
    top: 26.8rem;
    background-size: cover;
    box-sizing: border-box;
    left: 61.2rem;

    .vector-3K3 {
      width: 15.0687rem;
      height: 12.916rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
}
