
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-send-5-Fpy {
  width: 100%;
  height: 102.4rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .rectangle-28-jk9 {
    border-radius: 1.5rem;
    width: 28.2rem;
    height: 37rem;
    position: absolute;
    left: 3rem;
    top: 19.9rem;
    background-color: #d9d9d9;
  }
  .rectangle-27-dad {
    background-color: #d9d9d9;
    border-radius: 1.5rem;
    width: 28.2rem;
    height: 19.3rem;
    position: absolute;
    left: 3rem;
    top: 59.3rem;
  }
  .group-xcu {
    height: 2rem;
    position: absolute;
    font-family: Acme, 'Source Sans Pro';
    width: 3.8rem;
    left: 5.2rem;
    top: 62.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2675;
    color: #000000;
    white-space: nowrap;
  }
  .events-ryB {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2675;
    color: #000000;
    width: 4.1rem;
    height: 2rem;
    position: absolute;
    top: 65.8rem;
    left: 5.2rem;
    font-family: Acme, 'Source Sans Pro';
    white-space: nowrap;
  }
  .followed-hashtags-PCR {
    position: absolute;
    left: 0;
    top: 114.6rem;
    font-size: 1.5rem;
    line-height: 1.2675;
    color: #000000;
    width: 11.4rem;
    height: 2rem;
    font-family: Acme, 'Source Sans Pro';
    font-weight: 400;
    white-space: nowrap;
  }
  .discover-more-uRf {
    width: 8.6rem;
    top: 74.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: #000000;
    white-space: nowrap;
    height: 2rem;
    position: absolute;
    left: 12.85rem;
    line-height: 1.2675;
    font-family: Acme, 'Source Sans Pro';
  }
  .frame-3-poX {
    box-sizing: border-box;
    left: 36.3rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 0.6rem 1.3rem 0.8rem 0.7rem;
    width: 63.3rem;
    height: 8.7rem;
    position: absolute;
    top: 19.9rem;
    align-items: center;
    border: solid 0.1rem #000000;

    .auto-group-9akv-v5s {
      height: 3.6rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 1.7rem;
      width: 100%;

      .vector-rkD {
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.1rem;
        width: 3.6rem;
      }
      .auto-group-vjbo-bxh {
        margin: 0.1rem 0;
        width: 56.6rem;
        height: calc(100% - 0.2rem);
        position: relative;
        flex-shrink: 0;

        .start-a-post-Y7F {
          width: 6.2rem;
          height: 1.4rem;
          left: 0.9rem;
          top: 0.9rem;
          color: #757575;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .rectangle-29-eg5 {
          border-radius: 1.5rem;
          width: 56.6rem;
          height: 3.4rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
        }
      }
    }
    .auto-group-qeez-xgm {
      flex-shrink: 0;
      margin: 0rem 3.1rem 0rem 5.5rem;
      width: calc(100% - 8.6rem);
      display: flex;
      align-items: center;

      .icon-media-image-Uv1 {
        width: 1.6rem;
        height: 1.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.2rem;
      }
      .media-1Q9 {
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #757575;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 17.3rem;
      }
      .events-YQ5 {
        flex-shrink: 0;
        margin: 0rem 0.3rem 0.2rem 0rem;
        width: 1.7rem;
        height: 1.8rem;
        object-fit: contain;
        vertical-align: top;
      }
      .events-fzV {
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #757575;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 16.2rem;
      }
      .article-Dm7 {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.2175rem;
        width: 2.1825rem;
        height: 2rem;
        object-fit: contain;
      }
      .write-article-a5s {
        color: #757575;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
  }
  .frame-4-HFB {
    top: 19.9rem;
    overflow: hidden;
    box-sizing: border-box;
    width: 33.1rem;
    height: 23.1rem;
    position: absolute;
    left: 104.7rem;
    background-color: #213555;
    padding: 1.5rem 1.4rem 4.1rem 1.4rem;

    .auto-group-xw2v-zfP {
      width: calc(100% - 11rem);
      display: flex;
      align-items: flex-start;
      margin: 0rem 11rem 4.3rem 0rem;

      .vector-w4q {
        margin-right: 0.7rem;
        width: 5.6rem;
        height: 5.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-br9t-UaZ {
        margin-top: 0.9rem;
        width: 13rem;
        height: 5.9rem;
        position: relative;
        flex-shrink: 0;

        .richard-alya-26H {
          height: 1.7rem;
          top: 0;
          line-height: 1.2675;
          color: #ffffff;
          font-family: Acme, 'Source Sans Pro';
          white-space: nowrap;
          width: 6.6rem;
          left: 0;
          font-size: 1.3rem;
          font-weight: 400;
          position: absolute;
        }
        .co-founder-at-kawan-media-Xoj {
          white-space: nowrap;
          height: 2rem;
          position: absolute;
          left: 0;
          font-size: 1.1rem;
          line-height: 1.76;
          color: rgba(255, 255, 255, 0.6000000238);
          width: 13rem;
          top: 1.6rem;
          font-weight: 400;
          font-family: Amiri, 'Source Sans Pro';
        }
        .rectangle-30-juo {
          position: absolute;
          top: 3.6rem;
          box-sizing: border-box;
          border-radius: 1.5rem;
          width: 8.2rem;
          height: 2.3rem;
          background-color: #d9d9d9;
          left: 0;
          border: solid 0.1rem #000000;
        }
        .follow-T57 {
          font-family: Arya, 'Source Sans Pro';
          top: 3.4rem;
          font-size: 1.3rem;
          color: #000000;
          left: 2.3rem;
          font-weight: 400;
          line-height: 1.81;
          white-space: nowrap;
          width: 3.4rem;
          height: 2.4rem;
          position: absolute;
        }
      }
    }
    .auto-group-djyw-kpu {
      margin-right: 15.8rem;
      width: calc(100% - 15.8rem);
      display: flex;
      align-items: flex-end;

      .vector-JLd {
        margin: 0rem 0.7rem 0.8rem 0rem;
        width: 5.6rem;
        height: 5.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-xg8v-EVB {
        width: 8.2rem;
        height: 5.5rem;
        position: relative;
        flex-shrink: 0;

        .joseph-felix-BQR {
          font-weight: 400;
          line-height: 1.2675;
          color: #ffffff;
          top: 0;
          height: 1.7rem;
          position: absolute;
          left: 0;
          font-size: 1.3rem;
          font-family: Acme, 'Source Sans Pro';
          white-space: nowrap;
          width: 6.2rem;
        }
        .ceo-of-pt-sern-htZ {
          width: 8.2rem;
          position: absolute;
          top: 1.6rem;
          font-size: 1.1rem;
          color: rgba(255, 255, 255, 0.6000000238);
          white-space: nowrap;
          height: 2rem;
          left: 0;
          font-weight: 400;
          line-height: 1.76;
          font-family: Amiri, 'Source Sans Pro';
        }
        .rectangle-31-2A9 {
          height: 2.3rem;
          left: 0;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          width: 8.2rem;
          position: absolute;
          top: 3.2rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
        }
        .follow-LRj {
          top: 3.1rem;
          font-size: 1.3rem;
          font-family: Arya, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          left: 2.1rem;
          font-weight: 400;
          line-height: 1.81;
          color: #000000;
          width: 3.4rem;
          height: 2.4rem;
        }
      }
    }
  }
  .jonathan-milos-Rxy {
    font-weight: 400;
    font-family: Amiri, 'Source Sans Pro';
    white-space: nowrap;
    width: 14.5rem;
    height: 4.3rem;
    position: absolute;
    text-align: center;
    font-size: 2.4rem;
    left: 9.9rem;
    top: 34.9rem;
    line-height: 1.76;
    color: #000000;
  }
  .data-architect-jim {
    color: #000000;
    font-family: Amiri, 'Source Sans Pro';
    width: 8.6rem;
    height: 2.7rem;
    position: absolute;
    top: 38.4rem;
    font-size: 1.5rem;
    left: 12.85rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.76;
    white-space: nowrap;
  }
  .connection-EvR {
    font-size: 1.5rem;
    line-height: 1.2675;
    width: 6.8rem;
    position: absolute;
    top: 47.1rem;
    color: #000000;
    font-family: Acme, 'Source Sans Pro';
    white-space: nowrap;
    height: 2rem;
    left: 5.2rem;
    font-weight: 400;
  }
  .try-premium-A3P {
    width: 7.7rem;
    height: 2rem;
    position: absolute;
    font-weight: 400;
    white-space: nowrap;
    left: 5.2rem;
    top: 52.7rem;
    font-size: 1.5rem;
    line-height: 1.2675;
    color: #000000;
    font-family: Acme, 'Source Sans Pro';
  }
  .frame-fkq {
    padding: 2rem 0rem 1.6rem 0rem;
    width: 63rem;
    position: absolute;
    left: 36.3rem;
    top: 34.2rem;
    border: solid 0.2rem #000000;
    box-sizing: border-box;
    height: 41rem;
    border-radius: 3rem;

    .auto-group-cdc9-Bz5 {
      margin: 0rem 36rem 0.5rem 2.5rem;
      width: calc(100% - 38.5rem);
      display: flex;
      align-items: center;

      .ellipse-L6H {
        margin-right: 0.5rem;
        width: 4.5rem;
        height: 4.5rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #000000;
        border-radius: 2.25rem;
        flex-shrink: 0;
      }
      .pt-mencari-cinta-sejati-Tgh {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.76;
        color: #000000;
        font-family: Amiri, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.3rem;
      }
    }
    .wallpaperflare-1-PKT {
      height: 27.7rem;
      object-fit: cover;
      vertical-align: top;
      margin-bottom: 1.4rem;
      width: 63rem;
    }
    .group-19-829 {
      margin: 0rem 4.142rem 0rem 6.5rem;
      width: calc(100% - 10.6418rem);
      display: flex;
      align-items: center;

      .icon-heart-FcZ {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 10.8rem 0rem 0rem;
        width: 3.1rem;
        height: 2.8rem;
      }
      .group-17-a93 {
        width: 3.2rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 13.7rem 0rem 0rem;
      }
      .icon-repost-W2h {
        margin: 0rem 13.9rem 0.1rem 0rem;
        width: 4.3rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .icon-share-213 {
        flex-shrink: 0;
        margin-bottom: 0.11rem;
        width: 3.3582rem;
        height: 3.19rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .frame-KVw {
    box-sizing: border-box;
    position: absolute;
    border-radius: 3rem;
    padding: 2rem 0rem 2.251rem 0rem;
    width: 63rem;
    height: 41rem;
    left: 36.3rem;
    top: 80.1rem;
    border: solid 0.2rem #000000;

    .auto-group-y2eh-qUH {
      display: flex;
      align-items: flex-end;
      margin: 0rem 34.5rem 0.4rem 2.5rem;
      width: calc(100% - 37rem);

      .ellipse-B2M {
        height: 4.5rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #000000;
        border-radius: 2.25rem;
        flex-shrink: 0;
        margin: 0rem 0.5rem 0.1rem 0rem;
        width: 4.5rem;
      }
      .pt-barokah-jaya-jaya-jaya-GpV {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.76;
        color: #000000;
        font-family: Amiri, 'Source Sans Pro';
      }
    }
    .wallpaperflare-3-QA1 {
      margin-bottom: 0rem;
      width: 63rem;
      height: 27.7rem;
      object-fit: cover;
      vertical-align: top;
    }
    .auto-group-srj7-ji5 {
      margin: 0rem 2.866rem 0rem 3rem;
      width: calc(100% - 5.8656rem);
      display: flex;
      align-items: flex-end;

      .union-fbj {
        height: 3.9793rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 13.421rem 0.07rem 0rem;
        width: 3.9793rem;
      }
      .vector-Cbf {
        margin: 0rem 15.8rem 0.049rem 0rem;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .union-ipu {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 13.7316rem;
        width: 3.5684rem;
        height: 2.8489rem;
        object-fit: contain;
      }
      .vector-GLd {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.2145rem;
        width: 3.4344rem;
        height: 3.4344rem;
      }
    }
  }
  .wallpaperflare-2-PRF {
    vertical-align: top;
    width: 28.2rem;
    height: 9.4rem;
    position: absolute;
    left: 3rem;
    top: 19.9rem;
    object-fit: cover;
  }
  .vector-jED {
    top: 22.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 12rem;
    height: 12rem;
    position: absolute;
    left: 11.1rem;
  }
  .line-1-5J5 {
    width: 21.1rem;
    height: 0.1rem;
    position: absolute;
    left: 6.6rem;
    top: 44.7rem;
    background-color: #000000;
  }
  .line-3-CtV {
    left: 6.6rem;
    top: 72.9rem;
    background-color: #000000;
    width: 21.1rem;
    height: 0.1rem;
    position: absolute;
  }
  .line-2-kQD {
    width: 21.1rem;
    height: 0.1rem;
    position: absolute;
    left: 6.6rem;
    top: 51.3rem;
    background-color: #000000;
  }
  .component-6-variant2-6U5 {
    box-sizing: border-box;
    height: 13.2rem;
    position: absolute;
    top: 0;
    display: flex;
    padding: 1.4rem 1.7rem 0.6rem 5.3rem;
    width: 144rem;
    left: 0;
    align-items: center;
    background-color: #4682a9;

    .auto-group-kddp-CGD {
      margin: 1.4rem 5.8rem 0rem 0rem;
      width: 6.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-ynl5-wDo {
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:3ca1b12fd5d3de42211f78bb83137f2f2c7657e1');
        flex-shrink: 0;
        margin-bottom: 0.5rem;

        .image-15-hTs {
          width: 6.5rem;
          height: 6.4rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-mxts-2FF {
        margin: 0 0.2rem;
        width: calc(100% - 0.4rem);
        height: 2.5rem;
        position: relative;
        flex-shrink: 0;

        .profile-N4D {
          color: #000000;
          position: absolute;
          left: 0;
          top: 0;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 6.1rem;
          height: 2.5rem;
          white-space: nowrap;
        }
        .profile-V8q {
          position: absolute;
          left: 0;
          text-align: center;
          font-size: 2rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 6.1rem;
          height: 2.5rem;
          top: 0;
          font-weight: 400;
          color: #000000;
        }
      }
    }
    .component-3-component-2-variant2-bSm {
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin: 2.9rem 27.3rem 2.7rem 0rem;
      box-sizing: border-box;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;
      height: calc(100% - 5.6rem);
      background-color: #ffffff;

      .frame-68d {
        width: 2.2295rem;
        height: 2.8565rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .auto-group-prff-Dyw {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .icon-taskbar-Bvm {
        margin-bottom: 1.1625rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .icon-home-Kn5 {
          width: 6.9rem;
          height: 6.0375rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3.9rem 0.9rem 0rem;
        }
        .icon-bell-dnm {
          margin: 0rem 4.2rem 0.038rem 0rem;
          width: 6.9rem;
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icon-briefcase-AGu {
          width: 6.9086rem;
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.691rem 0.438rem 0rem;
        }
        .icon-people-H6d {
          margin: 0rem 6.309rem 0.038rem 0rem;
          width: 6.8914rem;
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icon-chat-Qh3 {
          width: 6.9rem;
          height: 6.0375rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .component-4-AAR {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin-left: 0.35rem;

        .home-hw3 {
          font-weight: 400;
          line-height: 1.2125;
          flex-shrink: 0;
          margin-right: 1.9rem;
          text-align: center;
          font-size: 2rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .notifications-e5b {
          margin-right: 2.8rem;
          text-align: center;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .jobs-ZyF {
          margin: 0.1rem 2.85rem 0rem 0rem;
          line-height: 1.2125;
          white-space: nowrap;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
        }
        .my-network-gny {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          line-height: 1.2125;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          margin-right: 1.3rem;
        }
        .messaging-REm {
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          color: #000000;
          margin-top: 0.2rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          line-height: 1.2125;
        }
      }
    }
  }
  .rectangle-220-LsX {
    width: 144rem;
    height: 102.4rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6000000238);
  }
  .rectangle-221-tPF {
    background-color: #ffffff;
    border-radius: 2rem;
    width: 75.4rem;
    height: 52.2rem;
    position: absolute;
    left: 34.3rem;
    top: 14.1rem;
  }
  .send-post-RPB {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 14.4rem;
    position: absolute;
    top: 15.9rem;
    font-weight: 400;
    line-height: 1.2125;
    white-space: nowrap;
    height: 3.7rem;
    left: 37rem;
    font-size: 3rem;
  }
  .dewi-rizki-s-8oP {
    height: 2.5rem;
    position: absolute;
    top: 31.9rem;
    font-family: Inter, 'Source Sans Pro';
    width: 12.1rem;
    left: 45.9rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
  }
  .line-5-rjP {
    position: absolute;
    left: 34.3rem;
    top: 21.4rem;
    background-color: #000000;
    width: 75.4rem;
    height: 0.1rem;
  }
  .line-6-16V {
    width: 75.4rem;
    height: 0.1rem;
    position: absolute;
    left: 34.3rem;
    top: 59.4rem;
    background-color: #000000;
  }
  .rectangle-222-9iV {
    width: 66.9rem;
    left: 38.5rem;
    border: solid 0.2rem #000000;
    box-sizing: border-box;
    border-radius: 1.2rem;
    height: 3.4rem;
    position: absolute;
    top: 24.9rem;
    background-color: #ffffff;
  }
  .type-a-name-fwj {
    font-family: Inter, 'Source Sans Pro';
    height: 1.4rem;
    position: absolute;
    left: 39.5rem;
    top: 25.9rem;
    font-size: 1.1rem;
    line-height: 1.2125;
    color: #757575;
    width: 6.7rem;
    font-weight: 400;
    white-space: nowrap;
  }
  .rectangle-nWZ {
    width: 4.2rem;
    height: 4.2rem;
    position: absolute;
    left: 40.3rem;
    top: 30.9rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 2rem;
  }
  .damar-if7 {
    height: 2.5rem;
    left: 45.9rem;
    font-size: 2rem;
    font-weight: 400;
    white-space: nowrap;
    font-family: Inter, 'Source Sans Pro';
    width: 6.2rem;
    position: absolute;
    top: 37.9rem;
    line-height: 1.2125;
    color: #000000;
  }
  .rectangle-224-3Bb {
    width: 2.8rem;
    height: 2.8rem;
    top: 31.7rem;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    left: 100.2rem;
    border: solid 0.1rem #000000;
    background-color: #ffffff;
    border-radius: 0.7rem;
  }
  .rectangle-227-9kR {
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 0.7rem;
    width: 2.8rem;
    border: solid 0.1rem #000000;
    position: absolute;
    left: 100.2rem;
    top: 43.7rem;
    height: 2.8rem;
    cursor: pointer;
  }
  .rectangle-226-fim {
    cursor: pointer;
    box-sizing: border-box;
    background-color: #1034f1;
    left: 41.9rem;
    top: 61.3rem;
    border: solid 0.1rem #000000;
    border-radius: 1.3rem;
    width: 60.2rem;
    height: 3.2rem;
    position: absolute;
  }
  .rafif-P8y {
    font-family: Inter, 'Source Sans Pro';
    height: 2.5rem;
    position: absolute;
    font-size: 2rem;
    font-weight: 400;
    color: #000000;
    white-space: nowrap;
    width: 4.4rem;
    left: 45.9rem;
    top: 43.9rem;
    line-height: 1.2125;
  }
  .rectangle-ud7 {
    vertical-align: top;
    border-radius: 2rem;
    width: 4.2rem;
    height: 4.2rem;
    position: absolute;
    left: 40.3rem;
    top: 36.9rem;
    object-fit: cover;
  }
  .send-eKo {
    top: 62rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 3.4rem;
    height: 1.7rem;
    position: absolute;
    left: 70.2rem;
    font-size: 1.4rem;
  }
  .rectangle-AJ9 {
    width: 4.2rem;
    height: 4.2rem;
    position: absolute;
    left: 40.3rem;
    top: 42.9rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 2rem;
  }
  .group-20-h3B {
    width: 3.4288rem;
    height: 3.4288rem;
    cursor: pointer;
    position: absolute;
    left: 99.9rem;
    top: 37.4rem;
    object-fit: contain;
    vertical-align: top;
  }
  .followed-hashtags-buF {
    left: 5.2rem;
    line-height: 1.2675;
    white-space: nowrap;
    color: #000000;
    font-family: Acme, 'Source Sans Pro';
    width: 11.4rem;
    height: 2rem;
    position: absolute;
    top: 68.9rem;
    font-size: 1.5rem;
    font-weight: 400;
  }
}
