
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-comment-sent-like-followed-1-Yjo {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .component-6-variant2-fJd {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.4rem 1.7rem 0.6rem 5.3rem;
    width: 100%;
    height: 13.2rem;
    display: flex;
    align-items: center;
    background-color: #4682a9;

    .auto-group-lluk-ZQ1 {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.4rem 5.8rem 0rem 0rem;
      width: 6.5rem;

      .auto-group-tsem-gDj {
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:3ca1b12fd5d3de42211f78bb83137f2f2c7657e1');
        flex-shrink: 0;
        margin-bottom: 0.5rem;

        .image-15-Rh7 {
          vertical-align: top;
          width: 6.5rem;
          height: 6.4rem;
          object-fit: cover;
        }
      }
      .auto-group-vdtr-8rR {
        margin: 0 0.2rem;
        width: calc(100% - 0.4rem);
        height: 2.5rem;
        position: relative;
        flex-shrink: 0;

        .profile-UQV {
          color: #000000;
          white-space: nowrap;
          height: 2.5rem;
          left: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 6.1rem;
          position: absolute;
          top: 0;
          text-align: center;
        }
        .profile-P1f {
          width: 6.1rem;
          position: absolute;
          left: 0;
          font-weight: 400;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          height: 2.5rem;
          top: 0;
          text-align: center;
          font-size: 2rem;
          line-height: 1.2125;
          white-space: nowrap;
        }
      }
    }
    .component-3-component-2-variant2-sxR {
      margin: 2.9rem 27.3rem 2.7rem 0rem;
      box-sizing: border-box;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;
      height: calc(100% - 5.6rem);
      background-color: #ffffff;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .frame-n3o {
        object-fit: contain;
        vertical-align: top;
        width: 2.2295rem;
        height: 2.8565rem;
      }
    }
    .auto-group-pa2y-uPK {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .icon-taskbar-4X7 {
        margin-bottom: 1.1625rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .icon-home-CtD {
          flex-shrink: 0;
          margin: 0rem 3.9rem 0.9rem 0rem;
          width: 6.9rem;
          height: 6.0375rem;
          object-fit: contain;
          vertical-align: top;
        }
        .icon-bell-und {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.2rem 0.038rem 0rem;
          width: 6.9rem;
          height: 6.9rem;
        }
        .icon-briefcase-did {
          margin: 0rem 2.691rem 0.438rem 0rem;
          width: 6.9086rem;
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icon-people-xW1 {
          width: 6.8914rem;
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 6.309rem 0.038rem 0rem;
        }
        .icon-chat-66R {
          height: 6.0375rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 6.9rem;
        }
      }
      .component-4-Dwj {
        margin-left: 0.35rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .home-NJq {
          margin-right: 1.9rem;
          text-align: center;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
        }
        .notifications-tny {
          flex-shrink: 0;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          margin-right: 2.8rem;
          line-height: 1.2125;
          white-space: nowrap;
        }
        .jobs-E69 {
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.1rem 2.85rem 0rem 0rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          white-space: nowrap;
        }
        .my-network-x29 {
          line-height: 1.2125;
          white-space: nowrap;
          margin-right: 1.3rem;
          text-align: center;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
        }
        .messaging-5cZ {
          color: #000000;
          flex-shrink: 0;
          line-height: 1.2125;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-top: 0.2rem;
        }
      }
    }
  }
  .auto-group-crch-oHf {
    padding-top: 6.7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-bfpt-wPs {
      height: 86.6rem;
      display: flex;
      column-gap: 5.1rem;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 6.2rem 8.1rem 3rem;
      width: calc(100% - 9.2rem);

      .auto-group-baym-T7K {
        width: 28.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-gx37-n9b {
          border-radius: 1.5rem;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #d9d9d9;

          .auto-group-p4m3-KQR {
            width: 100%;
            height: 14.7rem;
            position: relative;
            flex-shrink: 0;

            .wallpaperflare-2-sRw {
              object-fit: cover;
              vertical-align: top;
              width: 28.2rem;
              height: 9.4rem;
              position: absolute;
              left: 0;
              top: 0;
            }
            .vector-bsj {
              vertical-align: top;
              width: 12rem;
              height: 12rem;
              position: absolute;
              left: 8.1rem;
              top: 2.7rem;
              object-fit: contain;
            }
          }
          .auto-group-ty1k-Y2H {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0.3rem 3.5rem 2.2rem 2.2rem;
            width: 100%;

            .auto-group-rddw-rof {
              margin: 0rem 3.3rem 3.6rem 4.7rem;
              width: calc(100% - 8rem);
              height: 6.2rem;
              position: relative;
              flex-shrink: 0;

              .jonathan-milos-C6q {
                position: absolute;
                left: 0;
                top: 0;
                font-weight: 400;
                color: #000000;
                width: 14.5rem;
                height: 4.3rem;
                text-align: center;
                font-size: 2.4rem;
                line-height: 1.76;
                font-family: Amiri, 'Source Sans Pro';
                white-space: nowrap;
              }
              .data-architect-W7X {
                top: 3.5rem;
                font-weight: 400;
                line-height: 1.76;
                color: #000000;
                white-space: nowrap;
                height: 2.7rem;
                position: absolute;
                left: 2.95rem;
                font-family: Amiri, 'Source Sans Pro';
                width: 8.6rem;
                text-align: center;
                font-size: 1.5rem;
              }
            }
            .line-1-Qyb {
              background-color: #000000;
              flex-shrink: 0;
              margin: 0rem 0rem 2.3rem 1.4rem;
              width: 21.1rem;
              height: 0.1rem;
            }
            .connection-LcM {
              flex-shrink: 0;
              margin: 0rem 15.7rem 2.2rem 0rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2675;
              color: #000000;
              font-family: Acme, 'Source Sans Pro';
              white-space: nowrap;
            }
            .line-2-4YM {
              width: 21.1rem;
              height: 0.1rem;
              background-color: #000000;
              flex-shrink: 0;
              margin: 0rem 0rem 1.3rem 1.4rem;
            }
            .try-premium-bYH {
              font-weight: 400;
              line-height: 1.2675;
              color: #000000;
              font-family: Acme, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 14.8rem;
              font-size: 1.5rem;
            }
          }
        }
        .auto-group-g9g1-uos {
          display: flex;
          flex-direction: column;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.2rem 3.5rem 2.1rem 2.2rem;
          width: 100%;

          .group-qSd {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2675;
            color: #000000;
            font-family: Acme, 'Source Sans Pro';
          }
          .events-Azh {
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2675;
            color: #000000;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
          }
          .followed-hashtags-79F {
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2675;
            color: #000000;
          }
          .line-3-qL9 {
            width: 21.1rem;
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
            margin: 0rem 0rem 1.5rem 1.4rem;
          }
          .discover-more-yBT {
            font-size: 1.5rem;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            font-weight: 400;
            line-height: 1.2675;
            color: #000000;
            flex-shrink: 0;
            width: 100%;
          }
        }
      }
      .auto-group-wojs-Hhw {
        width: 63.3rem;
        height: 100%;
        flex-shrink: 0;

        .frame-3-Saq {
          margin-bottom: 5.6rem;
          width: 100%;
          align-items: center;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          padding: 0.6rem 1.3rem 0.8rem 0.7rem;
          overflow: hidden;
          position: relative;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;

          .auto-group-ipuf-Mxh {
            margin-bottom: 1.7rem;
            width: 100%;
            height: 3.6rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .vector-hmf {
              margin-right: 1.1rem;
              width: 3.6rem;
              height: 3.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-fwgh-r8m {
              position: relative;
              flex-shrink: 0;
              margin: 0.1rem 0;
              width: 56.6rem;
              height: calc(100% - 0.2rem);

              .start-a-post-Bgq {
                font-family: Inter, 'Source Sans Pro';
                width: 6.2rem;
                left: 0.9rem;
                font-size: 1.1rem;
                line-height: 1.2125;
                color: #757575;
                height: 1.4rem;
                position: absolute;
                top: 0.9rem;
                font-weight: 400;
                white-space: nowrap;
              }
              .rectangle-29-6J1 {
                left: 0;
                top: 0;
                border: solid 0.1rem #000000;
                box-sizing: border-box;
                border-radius: 1.5rem;
                width: 56.6rem;
                height: 3.4rem;
                position: absolute;
              }
            }
          }
          .auto-group-gg85-cXF {
            margin: 0rem 3.1rem 0rem 5.5rem;
            width: calc(100% - 8.6rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icon-media-image-Jus {
              margin-right: 0.2rem;
              width: 1.6rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .media-2qs {
              font-weight: 400;
              line-height: 1.2125;
              color: #757575;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 17.3rem;
              font-size: 1.1rem;
            }
            .events-xjX {
              width: 1.7rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.3rem 0.2rem 0rem;
            }
            .events-5p9 {
              line-height: 1.2125;
              color: #757575;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 16.2rem;
              font-size: 1.1rem;
              font-weight: 400;
            }
            .article-RND {
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.2175rem;
              width: 2.1825rem;
              height: 2rem;
              object-fit: contain;
            }
            .write-article-AKo {
              flex-shrink: 0;
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #757575;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .auto-group-4ee1-5xZ {
          border-radius: 3rem;
          box-sizing: border-box;
          padding-top: 2rem;
          width: 63rem;
          border: solid 0.2rem #000000;

          .auto-group-gqwh-S2R {
            width: calc(100% - 38.5rem);
            display: flex;
            align-items: center;
            margin: 0rem 36rem 0.5rem 2.5rem;

            .ellipse-y2M {
              width: 4.5rem;
              height: 4.5rem;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              background-color: #000000;
              border-radius: 2.25rem;
              flex-shrink: 0;
              margin-right: 0.5rem;
            }
            .pt-mencari-cinta-sejati-hDF {
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.3rem;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.76;
              color: #000000;
              font-family: Amiri, 'Source Sans Pro';
            }
          }
          .wallpaperflare-1-2FX {
            object-fit: cover;
            vertical-align: top;
            width: 63rem;
            height: 27.7rem;
          }
          .auto-group-jbyz-AMj {
            flex-direction: column;
            box-sizing: border-box;
            padding: 1.4rem 0rem 2.5rem 0rem;
            width: 100%;
            height: 37.6rem;
            align-items: center;
            display: flex;

            .group-19-6FP {
              width: calc(100% - 10.6418rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 4.142rem 1.4rem 6.5rem;

              .icon-heart-RYZ {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.1rem 10.8rem 0rem 0rem;
                width: 3.1rem;
                height: 2.8rem;
                cursor: pointer;
              }
              .group-17-XrV {
                margin: 0.1rem 13.7rem 0rem 0rem;
                width: 3.2rem;
                height: 3.2rem;
                cursor: pointer;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .icon-repost-Tk9 {
                height: 3rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 13.9rem 0.1rem 0rem;
                width: 4.3rem;
              }
              .icon-share-Bw3 {
                height: 3.19rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.11rem;
                width: 3.3582rem;
              }
            }
            .line-4-85b {
              margin: 0rem 0rem 1.4rem 0rem;
              width: calc(100% - 0rem);
              height: 0.2rem;
              background-color: #000000;
              flex-shrink: 0;
            }
            .auto-group-t7r7-fLR {
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 2.5rem 6.7rem 1.8rem;
              width: calc(100% - 4.3rem);
              height: 4.5rem;
              display: flex;

              .vector-C5T {
                margin-right: 1.1rem;
                width: 4.5rem;
                height: 4.5rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .auto-group-dpkx-wYq {
                margin: 0.2rem 0;
                height: calc(100% - 0.4rem);
                display: flex;
                align-items: center;
                border: solid 0.1rem #000000;
                border-radius: 2.7rem;
                box-sizing: border-box;
                padding: 0.8rem 0.864rem 0.964rem 1rem;
                background-color: #ffffff;
                flex-shrink: 0;

                .add-a-comment-fjj {
                  color: #757575;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin: 0rem 34rem 0.136rem 0rem;
                  font-size: 1.8rem;
                  font-weight: 400;
                  line-height: 1.2125;
                }
                .icon-send-Pvd {
                  margin-top: 0.1rem;
                  width: 2.236rem;
                  height: 2.236rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
            .auto-group-yvnz-5oT {
              height: 7.2rem;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              margin: 0rem 2.3rem 1.8rem 1.8rem;
              width: calc(100% - 4.1rem);

              .vector-Qqj {
                margin-right: 1rem;
                width: 4.5rem;
                height: 4.5rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .auto-group-bybj-A4D {
                padding: 0.8rem 0.6rem 0.9rem 0.5rem;
                height: 100%;
                display: flex;
                align-items: center;
                background-color: #ececec;
                border-radius: 0.8rem;
                flex-shrink: 0;
                box-sizing: border-box;

                .auto-group-95uf-tW1 {
                  height: 100%;
                  position: relative;
                  flex-shrink: 0;
                  margin-right: 43rem;
                  width: 7.9rem;

                  .jonathan-milos-2s7 {
                    font-size: 1.3rem;
                    color: #000000;
                    font-family: Acme, 'Source Sans Pro';
                    white-space: nowrap;
                    width: 7.8rem;
                    height: 1.7rem;
                    left: 0.1rem;
                    top: 0;
                    position: absolute;
                    font-weight: 400;
                    line-height: 1.2675;
                  }
                  .data-architect-wUH {
                    top: 1.6rem;
                    font-weight: 400;
                    height: 1.3rem;
                    position: absolute;
                    left: 0.1rem;
                    font-size: 0.7rem;
                    line-height: 1.76;
                    color: rgba(82, 82, 82, 0.6000000238);
                    font-family: Amiri, 'Source Sans Pro';
                    white-space: nowrap;
                    width: 4.1rem;
                  }
                  .like-SR3 {
                    position: absolute;
                    font-family: Amiri, 'Source Sans Pro';
                    top: 4.2rem;
                    font-size: 0.7rem;
                    font-weight: 400;
                    line-height: 1.76;
                    color: rgba(82, 82, 82, 0.6000000238);
                    width: 1.2rem;
                    height: 1.3rem;
                    left: 0.1rem;
                    white-space: nowrap;
                  }
                  .reply-kwX {
                    left: 2.6rem;
                    font-size: 0.7rem;
                    line-height: 1.76;
                    color: rgba(82, 82, 82, 0.6000000238);
                    white-space: nowrap;
                    width: 1.6rem;
                    height: 1.3rem;
                    font-weight: 400;
                    font-family: Amiri, 'Source Sans Pro';
                    position: absolute;
                    top: 4.2rem;
                  }
                  .item--t29 {
                    font-size: 0.7rem;
                    font-weight: 400;
                    line-height: 1.76;
                    color: rgba(82, 82, 82, 0.6000000238);
                    font-family: Amiri, 'Source Sans Pro';
                    width: 0.2rem;
                    left: 1.9rem;
                    top: 4rem;
                    white-space: nowrap;
                    height: 1.3rem;
                    position: absolute;
                  }
                  .nice-CoX {
                    line-height: 1.76;
                    color: #000000;
                    font-family: Amiri, 'Source Sans Pro';
                    white-space: nowrap;
                    position: absolute;
                    font-weight: 400;
                    left: 0;
                    top: 2.3rem;
                    font-size: 1.3rem;
                    width: 2.4rem;
                    height: 2.3rem;
                  }
                }
                .now-X57 {
                  font-weight: 400;
                  line-height: 1.76;
                  color: #000000;
                  font-family: Amiri, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 3.6rem;
                  font-size: 0.7rem;
                }
              }
            }
            .auto-group-ct9x-ddw {
              width: calc(100% - 4.1rem);
              height: 7.2rem;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              margin: 0rem 2.3rem 0rem 1.8rem;

              .vector-A85 {
                margin-right: 1rem;
                width: 4.5rem;
                height: 4.5rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .auto-group-2ldk-Whj {
                height: 100%;
                display: flex;
                align-items: center;
                background-color: #ececec;
                border-radius: 0.8rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 0.8rem 1rem 0.9rem 0.5rem;

                .auto-group-9s1t-FQR {
                  margin-right: 44.8rem;
                  width: 6.3rem;
                  height: 100%;
                  position: relative;
                  flex-shrink: 0;

                  .joseph-felix-C4m {
                    width: 6.2rem;
                    position: absolute;
                    top: 0;
                    font-size: 1.3rem;
                    color: #000000;
                    height: 1.7rem;
                    left: 0.1rem;
                    font-weight: 400;
                    line-height: 1.2675;
                    font-family: Acme, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .ceo-of-pt-sern-7Bj {
                    height: 1.3rem;
                    top: 1.6rem;
                    font-size: 0.7rem;
                    font-weight: 400;
                    width: 5.2rem;
                    left: 0.1rem;
                    line-height: 1.76;
                    color: rgba(82, 82, 82, 0.6000000238);
                    font-family: Amiri, 'Source Sans Pro';
                    white-space: nowrap;
                    position: absolute;
                  }
                  .like-pM3 {
                    color: rgba(82, 82, 82, 0.6000000238);
                    font-family: Amiri, 'Source Sans Pro';
                    width: 1.2rem;
                    top: 4.2rem;
                    font-size: 0.7rem;
                    line-height: 1.76;
                    white-space: nowrap;
                    height: 1.3rem;
                    position: absolute;
                    left: 0.1rem;
                    font-weight: 400;
                  }
                  .reply-Y29 {
                    font-size: 0.7rem;
                    font-weight: 400;
                    font-family: Amiri, 'Source Sans Pro';
                    width: 1.6rem;
                    position: absolute;
                    top: 4.2rem;
                    color: rgba(82, 82, 82, 0.6000000238);
                    white-space: nowrap;
                    height: 1.3rem;
                    left: 2.6rem;
                    line-height: 1.76;
                  }
                  .item--GD3 {
                    white-space: nowrap;
                    width: 0.2rem;
                    position: absolute;
                    line-height: 1.76;
                    font-family: Amiri, 'Source Sans Pro';
                    font-weight: 400;
                    color: rgba(82, 82, 82, 0.6000000238);
                    height: 1.3rem;
                    left: 1.9rem;
                    top: 4rem;
                    font-size: 0.7rem;
                  }
                  .nice-one-Bau {
                    height: 2.3rem;
                    position: absolute;
                    top: 2.3rem;
                    line-height: 1.76;
                    color: #000000;
                    font-family: Amiri, 'Source Sans Pro';
                    white-space: nowrap;
                    width: 4.7rem;
                    left: 0;
                    font-size: 1.3rem;
                    font-weight: 400;
                  }
                }
                .d-iKw {
                  flex-shrink: 0;
                  margin-bottom: 3.6rem;
                  font-size: 0.7rem;
                  font-weight: 400;
                  line-height: 1.76;
                  color: #000000;
                  font-family: Amiri, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
      .frame-4-REM {
        box-sizing: border-box;
        padding-bottom: 4.1rem;
        width: 33.1rem;
        overflow: hidden;
        position: relative;
        background-color: #213555;
        flex-shrink: 0;

        .auto-group-dflh-ABw {
          margin-bottom: 1.4rem;
          width: 100%;
          height: 11.2rem;
          position: relative;

          .vector-Vzu {
            height: 5.6rem;
            position: absolute;
            left: 1.4rem;
            top: 1.5rem;
            object-fit: contain;
            vertical-align: top;
            width: 5.6rem;
          }
          .richard-alya-Sv9 {
            font-size: 1.3rem;
            line-height: 1.2675;
            color: #ffffff;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            width: 6.6rem;
            height: 1.7rem;
            position: absolute;
            left: 7.7rem;
            top: 2.4rem;
            font-weight: 400;
          }
          .co-founder-at-kawan-media-xdb {
            width: 13rem;
            left: 7.7rem;
            line-height: 1.76;
            color: rgba(255, 255, 255, 0.6000000238);
            font-family: Amiri, 'Source Sans Pro';
            height: 2rem;
            position: absolute;
            top: 4rem;
            font-size: 1.1rem;
            font-weight: 400;
            white-space: nowrap;
          }
          .rectangle-30-riy {
            width: 8.2rem;
            height: 2.3rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            position: absolute;
            left: 7.7rem;
            top: 6rem;
            background-color: #d9d9d9;
            border-radius: 1.5rem;
          }
          .follow-ZtH {
            height: 2.4rem;
            position: absolute;
            top: 5.8rem;
            color: #000000;
            width: 3.4rem;
            left: 10rem;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.81;
            font-family: Arya, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rectangle-218-Tim {
            top: 0;
            background-color: rgba(81, 81, 81, 0.75);
            width: 33.1rem;
            height: 11.2rem;
            position: absolute;
            left: 0;
          }
          .followed-oXj {
            white-space: nowrap;
            height: 2.5rem;
            position: absolute;
            top: 4.7rem;
            text-align: center;
            font-size: 2rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            width: 8.9rem;
            left: 11.4rem;
            font-weight: 800;
            line-height: 1.2125;
          }
        }
        .auto-group-dxqb-i8u {
          margin: 0rem 17.2rem 0rem 1.4rem;
          width: calc(100% - 18.6rem);
          display: flex;
          align-items: flex-end;

          .vector-Sah {
            height: 5.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.7rem 0.8rem 0rem;
            width: 5.6rem;
          }
          .auto-group-mw6r-BHP {
            width: 8.2rem;
            height: 5.5rem;
            position: relative;
            flex-shrink: 0;

            .joseph-felix-7gq {
              width: 6.2rem;
              left: 0;
              white-space: nowrap;
              line-height: 1.2675;
              color: #ffffff;
              font-family: Acme, 'Source Sans Pro';
              height: 1.7rem;
              position: absolute;
              top: 0;
              font-size: 1.3rem;
              font-weight: 400;
            }
            .ceo-of-pt-sern-EmT {
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 1.76;
              white-space: nowrap;
              position: absolute;
              height: 2rem;
              left: 0;
              top: 1.6rem;
              color: rgba(255, 255, 255, 0.6000000238);
              font-family: Amiri, 'Source Sans Pro';
              width: 8.2rem;
            }
            .rectangle-31-LpV {
              position: absolute;
              left: 0;
              background-color: #d9d9d9;
              width: 8.2rem;
              cursor: pointer;
              top: 3.2rem;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              border-radius: 1.5rem;
              height: 2.3rem;
            }
            .follow-Eus {
              font-family: Arya, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
              top: 3.1rem;
              font-size: 1.3rem;
              font-weight: 400;
              color: #000000;
              width: 3.4rem;
              height: 2.4rem;
              left: 2.1rem;
              line-height: 1.81;
            }
          }
        }
      }
    }
    .auto-group-ricv-9G9 {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .followed-hashtags-6hB {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2675;
        color: #000000;
        font-family: Acme, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 66.5rem;
      }
      .union-dh7 {
        margin: 1.4rem 13.732rem 0rem 0rem;
        width: 3.5684rem;
        height: 2.8489rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-ZKs {
        flex-shrink: 0;
        margin-top: 0.6rem;
        width: 3.4344rem;
        height: 3.4344rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
}
