
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-like-followed-3-UTo {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-iliq-Pam {
    margin-bottom: 1.5rem;
    width: 100%;
    height: 78.6rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-28-hbT {
      left: 3rem;
      top: 19.9rem;
      background-color: #d9d9d9;
      border-radius: 1.5rem;
      width: 28.2rem;
      height: 37rem;
      position: absolute;
    }
    .rectangle-27-1s3 {
      top: 59.3rem;
      background-color: #d9d9d9;
      border-radius: 1.5rem;
      width: 28.2rem;
      height: 19.3rem;
      position: absolute;
      left: 3rem;
    }
    .group-x1b {
      font-family: Acme, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      top: 62.5rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2675;
      color: #000000;
      width: 3.8rem;
      height: 2rem;
      left: 5.2rem;
    }
    .events-r6y {
      line-height: 1.2675;
      font-family: Acme, 'Source Sans Pro';
      white-space: nowrap;
      left: 5.2rem;
      font-size: 1.5rem;
      font-weight: 400;
      top: 65.8rem;
      color: #000000;
      width: 4.1rem;
      height: 2rem;
      position: absolute;
    }
    .followed-hashtags-NLD {
      font-size: 1.5rem;
      font-weight: 400;
      font-family: Acme, 'Source Sans Pro';
      white-space: nowrap;
      width: 11.4rem;
      left: 5.2rem;
      top: 68.9rem;
      line-height: 1.2675;
      color: #000000;
      height: 2rem;
      position: absolute;
    }
    .discover-more-V9w {
      font-weight: 400;
      line-height: 1.2675;
      white-space: nowrap;
      width: 8.6rem;
      height: 2rem;
      top: 74.5rem;
      font-size: 1.5rem;
      font-family: Acme, 'Source Sans Pro';
      position: absolute;
      left: 12.85rem;
      text-align: center;
      color: #000000;
    }
    .frame-3-CKF {
      padding: 0.6rem 1.3rem 0.8rem 0.7rem;
      flex-direction: column;
      position: absolute;
      left: 36.3rem;
      top: 19.9rem;
      overflow: hidden;
      align-items: center;
      box-sizing: border-box;
      width: 63.3rem;
      height: 8.7rem;
      display: flex;
      border: solid 0.1rem #000000;
      background-color: #ffffff;

      .auto-group-ipgd-h17 {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 1.7rem;
        width: 100%;
        height: 3.6rem;

        .vector-34y {
          margin-right: 1.1rem;
          width: 3.6rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-hxnq-aah {
          margin: 0.1rem 0;
          width: 56.6rem;
          height: calc(100% - 0.2rem);
          position: relative;
          flex-shrink: 0;

          .start-a-post-uss {
            line-height: 1.2125;
            color: #757575;
            white-space: nowrap;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            width: 6.2rem;
            height: 1.4rem;
            position: absolute;
            left: 0.9rem;
            top: 0.9rem;
            font-size: 1.1rem;
          }
          .rectangle-29-cGV {
            border-radius: 1.5rem;
            width: 56.6rem;
            height: 3.4rem;
            position: absolute;
            left: 0;
            top: 0;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
          }
        }
      }
      .auto-group-btxp-iaR {
        width: calc(100% - 8.6rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 3.1rem 0rem 5.5rem;

        .icon-media-image-2r1 {
          height: 1.6rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.2rem;
          width: 1.6rem;
        }
        .media-ASR {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 17.3rem;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #757575;
          font-family: Inter, 'Source Sans Pro';
        }
        .events-u97 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.3rem 0.2rem 0rem;
          width: 1.7rem;
          height: 1.8rem;
        }
        .events-RNM {
          margin-right: 16.2rem;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #757575;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .article-kvR {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.2175rem;
          width: 2.1825rem;
          height: 2rem;
        }
        .write-article-hqf {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #757575;
        }
      }
    }
    .frame-4-cxd {
      height: 23.1rem;
      position: absolute;
      top: 19.9rem;
      overflow: hidden;
      display: flex;
      box-sizing: border-box;
      padding-bottom: 0.1rem;
      width: 33.1rem;
      background-color: #213555;
      left: 104.7rem;
      align-items: center;
      flex-direction: column;

      .auto-group-wadk-Y5b {
        margin-bottom: 0.6rem;
        width: 100%;
        height: 11.2rem;
        position: relative;
        flex-shrink: 0;

        .vector-Ujw {
          object-fit: contain;
          vertical-align: top;
          width: 5.6rem;
          height: 5.6rem;
          position: absolute;
          left: 1.4rem;
          top: 1.5rem;
        }
        .co-founder-at-kawan-media-Cvq {
          height: 2rem;
          position: absolute;
          top: 4rem;
          font-weight: 400;
          line-height: 1.76;
          font-family: Amiri, 'Source Sans Pro';
          width: 13rem;
          font-size: 1.1rem;
          color: rgba(255, 255, 255, 0.6000000238);
          white-space: nowrap;
          left: 7.7rem;
        }
        .richard-alya-6WR {
          width: 6.6rem;
          position: absolute;
          left: 7.7rem;
          font-weight: 400;
          white-space: nowrap;
          height: 1.7rem;
          top: 2.4rem;
          font-size: 1.3rem;
          line-height: 1.2675;
          color: #ffffff;
          font-family: Acme, 'Source Sans Pro';
        }
        .rectangle-30-BGy {
          width: 8.2rem;
          height: 2.3rem;
          top: 6rem;
          box-sizing: border-box;
          position: absolute;
          left: 7.7rem;
          border: solid 0.1rem #000000;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
        }
        .follow-gjX {
          width: 3.4rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.81;
          color: #000000;
          font-family: Arya, 'Source Sans Pro';
          height: 2.4rem;
          position: absolute;
          left: 10rem;
          top: 5.8rem;
          white-space: nowrap;
        }
        .rectangle-215-bLh {
          left: 0;
          top: 0;
          background-color: rgba(81, 81, 81, 0.75);
          width: 33.1rem;
          height: 11.2rem;
          position: absolute;
        }
        .followed-jho {
          left: 11.4rem;
          top: 4.7rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 800;
          color: #ffffff;
          width: 8.9rem;
          height: 2.5rem;
          position: absolute;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-cf4h-2wo {
        flex-shrink: 0;
        width: 100%;
        height: 11.2rem;
        position: relative;

        .vector-Nkm {
          position: absolute;
          left: 1.4rem;
          top: 0.8rem;
          object-fit: contain;
          vertical-align: top;
          width: 5.6rem;
          height: 5.6rem;
        }
        .joseph-felix-iZj {
          top: 1.7rem;
          color: #ffffff;
          font-family: Acme, 'Source Sans Pro';
          white-space: nowrap;
          width: 6.2rem;
          height: 1.7rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.2675;
          position: absolute;
          left: 7.7rem;
        }
        .ceo-of-pt-sern-Ryw {
          position: absolute;
          font-size: 1.1rem;
          font-weight: 400;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
          width: 8.2rem;
          height: 2rem;
          left: 7.7rem;
          top: 3.3rem;
          line-height: 1.76;
          color: rgba(255, 255, 255, 0.6000000238);
        }
        .rectangle-31-Y2y {
          width: 8.2rem;
          height: 2.3rem;
          left: 7.7rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          position: absolute;
          top: 4.9rem;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
        }
        .follow-TQq {
          width: 3.4rem;
          top: 4.8rem;
          font-size: 1.3rem;
          font-weight: 400;
          font-family: Arya, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.4rem;
          position: absolute;
          left: 9.8rem;
          line-height: 1.81;
          color: #000000;
        }
        .rectangle-214-aEZ {
          width: 33.1rem;
          height: 11.2rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(81, 81, 81, 0.75);
        }
        .followed-vJR {
          font-weight: 800;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          width: 8.9rem;
          left: 11.4rem;
          top: 4.7rem;
          text-align: center;
          font-size: 2rem;
          color: #ffffff;
          white-space: nowrap;
          height: 2.5rem;
          position: absolute;
        }
      }
    }
    .jonathan-milos-qgH {
      height: 4.3rem;
      position: absolute;
      font-size: 2.4rem;
      color: #000000;
      line-height: 1.76;
      font-family: Amiri, 'Source Sans Pro';
      white-space: nowrap;
      width: 14.5rem;
      left: 9.9rem;
      top: 34.9rem;
      text-align: center;
      font-weight: 400;
    }
    .data-architect-koF {
      left: 12.85rem;
      top: 38.4rem;
      text-align: center;
      color: #000000;
      font-family: Amiri, 'Source Sans Pro';
      height: 2.7rem;
      position: absolute;
      font-weight: 400;
      line-height: 1.76;
      white-space: nowrap;
      width: 8.6rem;
      font-size: 1.5rem;
    }
    .connection-5Kj {
      font-size: 1.5rem;
      color: #000000;
      white-space: nowrap;
      top: 47.1rem;
      font-weight: 400;
      line-height: 1.2675;
      font-family: Acme, 'Source Sans Pro';
      width: 6.8rem;
      height: 2rem;
      position: absolute;
      left: 5.2rem;
    }
    .try-premium-bYy {
      left: 5.2rem;
      font-size: 1.5rem;
      line-height: 1.2675;
      color: #000000;
      white-space: nowrap;
      position: absolute;
      height: 2rem;
      top: 52.7rem;
      font-weight: 400;
      font-family: Acme, 'Source Sans Pro';
      width: 7.7rem;
    }
    .frame-KUy {
      padding: 2rem 0rem 1.6rem 0rem;
      position: absolute;
      border-radius: 3rem;
      border: solid 0.2rem #000000;
      box-sizing: border-box;
      width: 63rem;
      height: 41rem;
      left: 36.3rem;
      top: 34.2rem;

      .auto-group-rzkm-Rnu {
        margin: 0rem 36rem 0.5rem 2.5rem;
        width: calc(100% - 38.5rem);
        display: flex;
        align-items: center;

        .ellipse-kqB {
          flex-shrink: 0;
          margin-right: 0.5rem;
          width: 4.5rem;
          height: 4.5rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background-color: #000000;
          border-radius: 2.25rem;
        }
        .pt-mencari-cinta-sejati-HaD {
          line-height: 1.76;
          color: #000000;
          font-family: Amiri, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.3rem;
          font-size: 2rem;
          font-weight: 400;
        }
      }
      .wallpaperflare-1-pKF {
        margin-bottom: 1.4rem;
        width: 63rem;
        height: 27.7rem;
        object-fit: cover;
        vertical-align: top;
      }
      .auto-group-wlpd-9cR {
        margin-left: 3.1rem;
        width: 55.7582rem;
        height: 3.3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .wallpaperflare-2-rFw {
      width: 28.2rem;
      height: 9.4rem;
      position: absolute;
      left: 3rem;
      top: 19.9rem;
      object-fit: cover;
      vertical-align: top;
    }
    .vector-ybT {
      position: absolute;
      left: 11.1rem;
      top: 22.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 12rem;
      height: 12rem;
    }
    .line-1-7Sm {
      width: 21.1rem;
      height: 0.1rem;
      position: absolute;
      left: 6.6rem;
      top: 44.7rem;
      background-color: #000000;
    }
    .line-3-3rD {
      height: 0.1rem;
      position: absolute;
      left: 6.6rem;
      top: 72.9rem;
      background-color: #000000;
      width: 21.1rem;
    }
    .line-2-xyB {
      position: absolute;
      left: 6.6rem;
      top: 51.3rem;
      background-color: #000000;
      width: 21.1rem;
      height: 0.1rem;
    }
    .component-6-variant2-75P {
      padding: 1.4rem 1.7rem 0.6rem 5.3rem;
      width: 144rem;
      display: flex;
      left: 0;
      top: 0;
      align-items: center;
      background-color: #4682a9;
      box-sizing: border-box;
      height: 13.2rem;
      position: absolute;

      .auto-group-k7u1-Q4V {
        margin: 1.4rem 5.8rem 0rem 0rem;
        width: 6.5rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-xfkk-iqs {
          background-position: center;
          background-image: url('REPLACE_IMAGE:3ca1b12fd5d3de42211f78bb83137f2f2c7657e1');
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          width: 100%;
          background-size: 100% 100%;
          background-repeat: no-repeat;

          .image-15-5Ad {
            object-fit: cover;
            vertical-align: top;
            width: 6.5rem;
            height: 6.4rem;
          }
        }
        .auto-group-yqi1-PSD {
          width: calc(100% - 0.4rem);
          height: 2.5rem;
          position: relative;
          flex-shrink: 0;
          margin: 0 0.2rem;

          .profile-XYR {
            font-weight: 400;
            line-height: 1.2125;
            width: 6.1rem;
            height: 2.5rem;
            position: absolute;
            left: 0;
            top: 0;
            text-align: center;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2rem;
          }
          .profile-qp1 {
            position: absolute;
            top: 0;
            font-weight: 400;
            line-height: 1.2125;
            width: 6.1rem;
            height: 2.5rem;
            left: 0;
            text-align: center;
            font-size: 2rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .component-3-component-2-variant2-kRB {
        flex-shrink: 0;
        margin: 2.9rem 27.3rem 2.7rem 0rem;
        box-sizing: border-box;
        padding: 1.341rem 1.571rem 1.403rem 40.4rem;
        height: calc(100% - 5.6rem);
        background-color: #ffffff;
        border-radius: 0.5rem;

        .frame-FMw {
          width: 2.2295rem;
          height: 2.8565rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-98e1-yYq {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;

        .icon-taskbar-jY1 {
          align-items: flex-end;
          flex-shrink: 0;
          margin-bottom: 1.1625rem;
          display: flex;

          .icon-home-UEh {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 3.9rem 0.9rem 0rem;
            width: 6.9rem;
            height: 6.0375rem;
          }
          .icon-bell-bKK {
            width: 6.9rem;
            height: 6.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.2rem 0.038rem 0rem;
          }
          .icon-briefcase-JzR {
            margin: 0rem 2.691rem 0.438rem 0rem;
            width: 6.9086rem;
            height: 6.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .icon-people-2vR {
            flex-shrink: 0;
            margin: 0rem 6.309rem 0.038rem 0rem;
            width: 6.8914rem;
            height: 6.9rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
          }
          .icon-chat-A13 {
            flex-shrink: 0;
            width: 6.9rem;
            height: 6.0375rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .component-4-txd {
          margin-left: 0.35rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .home-SDT {
            font-size: 2rem;
            font-weight: 400;
            flex-shrink: 0;
            white-space: nowrap;
            margin-right: 1.9rem;
            text-align: center;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .notifications-xhb {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 2.8rem;
            text-align: center;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-size: 2rem;
          }
          .jobs-gtV {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 2.85rem 0rem 0rem;
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
          }
          .my-network-1A5 {
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.3rem;
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
          }
          .messaging-YQu {
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            white-space: nowrap;
            margin-top: 0.2rem;
            text-align: center;
            font-size: 2rem;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
    }
    .frame-91-fkR {
      width: 14.5rem;
      height: 24.7rem;
      position: absolute;
      left: 57.5rem;
      top: 0;
      overflow: hidden;
    }
  }
  .frame-Qxu {
    box-sizing: border-box;
    padding: 2rem 0rem 2.251rem 0rem;
    display: flex;
    flex-shrink: 0;
    border: solid 0.2rem #000000;
    border-radius: 3rem;
    margin: 0rem 44.7rem 0rem 36.3rem;
    width: calc(100% - 81rem);
    height: 41rem;
    flex-direction: column;

    .auto-group-yhch-iyb {
      margin: 0rem 34.5rem 0.4rem 2.5rem;
      width: calc(100% - 37rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .ellipse-ra1 {
        height: 4.5rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #000000;
        border-radius: 2.25rem;
        flex-shrink: 0;
        margin: 0rem 0.5rem 0.1rem 0rem;
        width: 4.5rem;
      }
      .pt-barokah-jaya-jaya-jaya-NYM {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.76;
        color: #000000;
        font-family: Amiri, 'Source Sans Pro';
      }
    }
    .wallpaperflare-3-had {
      margin-bottom: 0rem;
      width: 63rem;
      height: 27.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-xriu-2so {
      margin: 0rem 2.866rem 0rem 3rem;
      width: calc(100% - 5.8656rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .union-xFf {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 13.421rem 0.07rem 0rem;
        width: 3.9793rem;
        height: 3.9793rem;
        object-fit: contain;
      }
      .vector-UUu {
        width: 3.2rem;
        height: 3.2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 15.8rem 0.049rem 0rem;
      }
      .union-c5K {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 13.7316rem;
        width: 3.5684rem;
        height: 2.8489rem;
      }
      .vector-x9B {
        margin-bottom: 0.2145rem;
        width: 3.4344rem;
        height: 3.4344rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
