
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.page-home-comment-followed-3-BWd {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .component-6-variant2-79P {
    padding: 1.4rem 1.7rem 0.6rem 5.3rem;
    width: 100%;
    height: 13.2rem;
    display: flex;
    align-items: center;
    background-color: #4682a9;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-ygtx-1Vf {
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.4rem 5.8rem 0rem 0rem;
      width: 6.5rem;
      align-items: center;
      display: flex;

      .auto-group-yzuk-w8R {
        margin-bottom: 0.5rem;
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:3ca1b12fd5d3de42211f78bb83137f2f2c7657e1');
        flex-shrink: 0;

        .image-15-t3f {
          width: 6.5rem;
          height: 6.4rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-ektv-neq {
        margin: 0 0.2rem;
        width: calc(100% - 0.4rem);
        height: 2.5rem;
        position: relative;
        flex-shrink: 0;

        .profile-vm3 {
          text-align: center;
          line-height: 1.2125;
          height: 2.5rem;
          left: 0;
          top: 0;
          font-size: 2rem;
          font-weight: 400;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 6.1rem;
          position: absolute;
        }
        .profile-qND {
          width: 6.1rem;
          left: 0;
          font-weight: 400;
          white-space: nowrap;
          font-family: Inter, 'Source Sans Pro';
          height: 2.5rem;
          position: absolute;
          top: 0;
          text-align: center;
          font-size: 2rem;
          line-height: 1.2125;
          color: #000000;
        }
      }
    }
    .component-3-component-2-variant2-Y1j {
      height: calc(100% - 5.6rem);
      background-color: #ffffff;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin: 2.9rem 27.3rem 2.7rem 0rem;
      box-sizing: border-box;
      padding: 1.341rem 1.571rem 1.403rem 40.4rem;

      .frame-RLR {
        height: 2.8565rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.2295rem;
      }
    }
    .auto-group-1tnu-9XK {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .icon-taskbar-Jf7 {
        margin-bottom: 1.1625rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .icon-home-eiy {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3.9rem 0.9rem 0rem;
          width: 6.9rem;
          height: 6.0375rem;
          object-fit: contain;
        }
        .icon-bell-kn1 {
          width: 6.9rem;
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 4.2rem 0.038rem 0rem;
        }
        .icon-briefcase-H1F {
          width: 6.9086rem;
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.691rem 0.438rem 0rem;
        }
        .icon-people-zwF {
          margin: 0rem 6.309rem 0.038rem 0rem;
          width: 6.8914rem;
          height: 6.9rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .icon-chat-j89 {
          flex-shrink: 0;
          width: 6.9rem;
          height: 6.0375rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .component-4-fnV {
        align-items: flex-start;
        flex-shrink: 0;
        margin-left: 0.35rem;
        display: flex;

        .home-p9b {
          text-align: center;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.9rem;
          font-size: 2rem;
          font-weight: 400;
          color: #000000;
        }
        .notifications-9Bs {
          white-space: nowrap;
          text-align: center;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          margin-right: 2.8rem;
          font-size: 2rem;
          color: #000000;
          flex-shrink: 0;
        }
        .jobs-gSh {
          text-align: center;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 2.85rem 0rem 0rem;
          font-size: 2rem;
          line-height: 1.2125;
          color: #000000;
        }
        .my-network-bpZ {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.3rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .messaging-XiD {
          margin-top: 0.2rem;
          text-align: center;
          line-height: 1.2125;
          color: #000000;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
  .auto-group-abp9-FeD {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 6.7rem;
    width: 100%;
    display: flex;

    .auto-group-hxsd-zbo {
      margin: 0rem 6.2rem 18.3rem 3rem;
      width: calc(100% - 9.2rem);
      height: 76.4rem;
      display: flex;
      column-gap: 5.1rem;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-wjjo-uim {
        width: 28.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-mfim-Syb {
          display: flex;
          flex-direction: column;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          width: 100%;
          align-items: center;

          .auto-group-gmg1-apu {
            width: 100%;
            height: 14.7rem;
            position: relative;
            flex-shrink: 0;

            .wallpaperflare-2-8rR {
              vertical-align: top;
              border-radius: 1.5rem 1.5rem 0 0;
              width: 28.2rem;
              height: 9.4rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
            }
            .vector-Fw3 {
              object-fit: contain;
              vertical-align: top;
              width: 12rem;
              height: 12rem;
              position: absolute;
              left: 8.1rem;
              top: 2.7rem;
            }
          }
          .auto-group-wpk5-PnM {
            box-sizing: border-box;
            padding: 0.3rem 3.5rem 2.2rem 2.2rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-m7ks-KR7 {
              position: relative;
              flex-shrink: 0;
              margin: 0rem 3.3rem 3.6rem 4.7rem;
              width: calc(100% - 8rem);
              height: 6.2rem;

              .jonathan-milos-quF {
                left: 0;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.76;
                font-family: Amiri, 'Source Sans Pro';
                white-space: nowrap;
                height: 4.3rem;
                position: absolute;
                text-align: center;
                color: #000000;
                width: 14.5rem;
                top: 0;
              }
              .data-architect-kmK {
                height: 2.7rem;
                left: 2.95rem;
                top: 3.5rem;
                text-align: center;
                color: #000000;
                font-family: Amiri, 'Source Sans Pro';
                white-space: nowrap;
                width: 8.6rem;
                position: absolute;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.76;
              }
            }
            .line-1-GDs {
              width: 21.1rem;
              height: 0.1rem;
              background-color: #000000;
              flex-shrink: 0;
              margin: 0rem 0rem 2.3rem 1.4rem;
            }
            .connection-zff {
              font-family: Acme, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 15.7rem 2.2rem 0rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2675;
              color: #000000;
            }
            .line-2-HPs {
              flex-shrink: 0;
              margin: 0rem 0rem 1.3rem 1.4rem;
              width: 21.1rem;
              height: 0.1rem;
              background-color: #000000;
            }
            .try-premium-PSu {
              margin-right: 14.8rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2675;
              color: #000000;
              font-family: Acme, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-tdgr-TxZ {
          padding: 3.2rem 3.5rem 2.1rem 2.2rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          background-color: #d9d9d9;
          border-radius: 1.5rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .group-myF {
            color: #000000;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2675;
          }
          .events-KE5 {
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2675;
            color: #000000;
          }
          .followed-hashtags-FdX {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2675;
            color: #000000;
            font-family: Acme, 'Source Sans Pro';
          }
          .line-3-ndT {
            margin: 0rem 0rem 1.5rem 1.4rem;
            width: 21.1rem;
            height: 0.1rem;
            background-color: #000000;
            flex-shrink: 0;
          }
          .discover-more-vjf {
            text-align: center;
            font-weight: 400;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            width: 100%;
            font-size: 1.5rem;
            line-height: 1.2675;
            color: #000000;
          }
        }
      }
      .auto-group-q5c9-F1F {
        height: 100%;
        flex-shrink: 0;
        width: 63.3rem;

        .frame-3-bqo {
          background-color: #ffffff;
          margin-bottom: 5.6rem;
          box-sizing: border-box;
          padding: 0.6rem 1.3rem 0.8rem 0.7rem;
          overflow: hidden;
          align-items: center;
          flex-direction: column;
          width: 100%;
          position: relative;
          display: flex;
          border: solid 0.1rem #000000;
          border-radius: 2rem;

          .auto-group-dsyj-XDf {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 1.7rem;
            width: 100%;
            height: 3.6rem;

            .vector-fKs {
              margin-right: 1.1rem;
              width: 3.6rem;
              height: 3.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-7p8h-bzD {
              height: calc(100% - 0.2rem);
              position: relative;
              flex-shrink: 0;
              margin: 0.1rem 0;
              width: 56.6rem;

              .start-a-post-Y8m {
                width: 6.2rem;
                top: 0.9rem;
                font-size: 1.1rem;
                line-height: 1.2125;
                color: #757575;
                white-space: nowrap;
                height: 1.4rem;
                position: absolute;
                left: 0.9rem;
                font-weight: 400;
                font-family: Inter, 'Source Sans Pro';
              }
              .rectangle-29-SE9 {
                width: 56.6rem;
                height: 3.4rem;
                position: absolute;
                left: 0;
                top: 0;
                border: solid 0.1rem #000000;
                box-sizing: border-box;
                border-radius: 1.5rem;
              }
            }
          }
          .auto-group-xh8y-kkd {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 3.1rem 0rem 5.5rem;
            width: calc(100% - 8.6rem);

            .icon-media-image-StM {
              margin-right: 0.2rem;
              width: 1.6rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .media-aUm {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 17.3rem;
              font-size: 1.1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #757575;
            }
            .events-WdK {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.3rem 0.2rem 0rem;
              width: 1.7rem;
              height: 1.8rem;
              object-fit: contain;
            }
            .events-eDj {
              font-weight: 400;
              line-height: 1.2125;
              color: #757575;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 16.2rem;
              font-size: 1.1rem;
            }
            .article-b8y {
              margin-right: 0.2175rem;
              width: 2.1825rem;
              height: 2rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .write-article-wCq {
              font-weight: 400;
              line-height: 1.2125;
              color: #757575;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.1rem;
            }
          }
        }
        .auto-group-jclv-rKo {
          width: 63rem;
          height: 62.1rem;
          position: relative;

          .vector-yfK {
            position: absolute;
            left: 1.8rem;
            top: 52.6rem;
            object-fit: contain;
            vertical-align: top;
            width: 4.5rem;
            height: 4.5rem;
          }
          .rectangle-vaZ {
            left: 0;
            top: 0;
            border: solid 0.2rem #000000;
            box-sizing: border-box;
            border-radius: 3rem;
            width: 63rem;
            height: 62.1rem;
            position: absolute;
          }
          .line-4-fHF {
            top: 40.8rem;
            background-color: #000000;
            width: 63rem;
            height: 0.2rem;
            position: absolute;
            left: 0;
          }
          .ellipse-Cny {
            position: absolute;
            top: 2rem;
            box-sizing: border-box;
            background-color: #000000;
            border-radius: 2.25rem;
            width: 4.5rem;
            left: 2.5rem;
            border: solid 0.1rem #000000;
            height: 4.5rem;
          }
          .pt-mencari-cinta-sejati-imK {
            font-size: 2rem;
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
            width: 19.5rem;
            height: 3.6rem;
            position: absolute;
            line-height: 1.76;
            color: #000000;
            left: 7.5rem;
            top: 2.6rem;
            font-weight: 400;
          }
          .wallpaperflare-1-Rfj {
            left: 0;
            top: 7rem;
            object-fit: cover;
            vertical-align: top;
            width: 63rem;
            height: 27.7rem;
            position: absolute;
          }
          .vector-mUh {
            width: 4.5rem;
            height: 4.5rem;
            position: absolute;
            left: 1.8rem;
            top: 42.4rem;
            object-fit: contain;
            vertical-align: top;
          }
          .group-19-72m {
            display: flex;
            align-items: center;
            width: 52.3582rem;
            height: 3.3rem;
            position: absolute;
            left: 6.5rem;
            top: 36.1rem;

            .icon-heart-dmo {
              height: 2.8rem;
              cursor: pointer;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.1rem 10.8rem 0rem 0rem;
              width: 3.1rem;
            }
            .group-17-xJH {
              flex-shrink: 0;
              margin: 0.1rem 13.7rem 0rem 0rem;
              width: 3.2rem;
              height: 3.2rem;
              cursor: pointer;
              object-fit: contain;
              vertical-align: top;
            }
            .icon-repost-gVB {
              width: 4.3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 13.9rem 0.1rem 0rem;
            }
            .icon-share-1XT {
              margin-bottom: 0.11rem;
              width: 3.3582rem;
              height: 3.19rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .rectangle-215-jyF {
            top: 42.6rem;
            box-sizing: border-box;
            border-radius: 2.7rem;
            width: 53.1rem;
            cursor: pointer;
            position: absolute;
            left: 7.4rem;
            border: solid 0.1rem #000000;
            background-color: #ffffff;
            height: 4.1rem;
          }
          .icon-send-FAu {
            width: 2.236rem;
            height: 2.236rem;
            position: absolute;
            left: 57.2rem;
            top: 43.5rem;
            object-fit: contain;
            vertical-align: top;
          }
          .add-a-comment-NmK {
            left: 8.4rem;
            font-family: Inter, 'Source Sans Pro';
            width: 15rem;
            position: absolute;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #757575;
            white-space: nowrap;
            height: 2.2rem;
            top: 43.4rem;
          }
          .rectangle-216-gn1 {
            width: 53.4rem;
            height: 7.2rem;
            position: absolute;
            left: 7.3rem;
            top: 52.6rem;
            background-color: #ececec;
            border-radius: 0.8rem;
          }
          .joseph-felix-p7X {
            width: 6.2rem;
            position: absolute;
            left: 7.9rem;
            font-weight: 400;
            white-space: nowrap;
            font-family: Acme, 'Source Sans Pro';
            height: 1.7rem;
            top: 53.4rem;
            font-size: 1.3rem;
            line-height: 1.2675;
            color: #000000;
          }
          .ceo-of-pt-sern-Ka5 {
            left: 7.9rem;
            line-height: 1.76;
            color: rgba(82, 82, 82, 0.6000000238);
            font-family: Amiri, 'Source Sans Pro';
            width: 5.2rem;
            height: 1.3rem;
            position: absolute;
            top: 55rem;
            font-size: 0.7rem;
            font-weight: 400;
            white-space: nowrap;
          }
          .d-2jP {
            width: 0.8rem;
            height: 1.3rem;
            top: 53.7rem;
            font-size: 0.7rem;
            line-height: 1.76;
            font-family: Amiri, 'Source Sans Pro';
            position: absolute;
            left: 58.9rem;
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
          }
          .like-Yhj {
            height: 1.3rem;
            font-weight: 400;
            color: rgba(82, 82, 82, 0.6000000238);
            font-family: Amiri, 'Source Sans Pro';
            width: 1.2rem;
            position: absolute;
            left: 7.9rem;
            top: 57.6rem;
            font-size: 0.7rem;
            line-height: 1.76;
            white-space: nowrap;
          }
          .reply-fnM {
            width: 1.6rem;
            height: 1.3rem;
            position: absolute;
            font-weight: 400;
            white-space: nowrap;
            left: 10.4rem;
            top: 57.6rem;
            font-size: 0.7rem;
            line-height: 1.76;
            color: rgba(82, 82, 82, 0.6000000238);
            font-family: Amiri, 'Source Sans Pro';
          }
          .item--nMB {
            line-height: 1.76;
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
            width: 0.2rem;
            height: 1.3rem;
            position: absolute;
            top: 57.4rem;
            left: 9.7rem;
            font-size: 0.7rem;
            font-weight: 400;
            color: rgba(82, 82, 82, 0.6000000238);
          }
          .nice-one-tf7 {
            position: absolute;
            left: 7.8rem;
            font-size: 1.3rem;
            line-height: 1.76;
            color: #000000;
            width: 4.7rem;
            height: 2.3rem;
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
            top: 55.7rem;
            font-weight: 400;
          }
        }
      }
      .frame-4-1Dw {
        flex-shrink: 0;
        width: 33.1rem;
        overflow: hidden;
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #213555;

        .auto-group-o1sj-9L9 {
          margin-bottom: 0.7rem;
          width: 100%;
          height: 11.2rem;
          position: relative;
          flex-shrink: 0;

          .vector-4xu {
            height: 5.6rem;
            position: absolute;
            left: 1.4rem;
            top: 1.5rem;
            object-fit: contain;
            vertical-align: top;
            width: 5.6rem;
          }
          .richard-alya-CpD {
            position: absolute;
            top: 2.4rem;
            font-size: 1.3rem;
            font-family: Acme, 'Source Sans Pro';
            white-space: nowrap;
            width: 6.6rem;
            height: 1.7rem;
            left: 7.7rem;
            font-weight: 400;
            line-height: 1.2675;
            color: #ffffff;
          }
          .co-founder-at-kawan-media-K89 {
            font-weight: 400;
            font-family: Amiri, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            height: 2rem;
            left: 7.7rem;
            top: 4rem;
            font-size: 1.1rem;
            line-height: 1.76;
            color: rgba(255, 255, 255, 0.6000000238);
            width: 13rem;
          }
          .rectangle-30-pah {
            top: 6rem;
            border: solid 0.1rem #000000;
            background-color: #d9d9d9;
            width: 8.2rem;
            height: 2.3rem;
            position: absolute;
            left: 7.7rem;
            box-sizing: border-box;
            border-radius: 1.5rem;
          }
          .follow-LZ3 {
            height: 2.4rem;
            font-size: 1.3rem;
            font-family: Arya, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 400;
            line-height: 1.81;
            color: #000000;
            width: 3.4rem;
            position: absolute;
            left: 10rem;
            top: 5.8rem;
          }
          .rectangle-217-Fg1 {
            left: 0;
            top: 0;
            background-color: rgba(81, 81, 81, 0.75);
            width: 33.1rem;
            height: 11.2rem;
            position: absolute;
          }
          .followed-zNh {
            left: 11.4rem;
            color: #ffffff;
            white-space: nowrap;
            text-align: center;
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.2125;
            width: 8.9rem;
            height: 2.5rem;
            position: absolute;
            top: 4.7rem;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .auto-group-qucr-J8V {
          width: 100%;
          height: 11.2rem;
          position: relative;
          flex-shrink: 0;

          .vector-F3j {
            height: 5.6rem;
            position: absolute;
            left: 1.4rem;
            top: 0.7rem;
            object-fit: contain;
            vertical-align: top;
            width: 5.6rem;
          }
          .joseph-felix-z1K {
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.2675;
            font-family: Acme, 'Source Sans Pro';
            width: 6.2rem;
            position: absolute;
            left: 7.7rem;
            top: 1.6rem;
            color: #ffffff;
            white-space: nowrap;
            height: 1.7rem;
          }
          .ceo-of-pt-sern-Vim {
            width: 8.2rem;
            height: 2rem;
            left: 7.7rem;
            top: 3.2rem;
            font-size: 1.1rem;
            color: rgba(255, 255, 255, 0.6000000238);
            white-space: nowrap;
            position: absolute;
            font-weight: 400;
            line-height: 1.76;
            font-family: Amiri, 'Source Sans Pro';
          }
          .rectangle-31-CdB {
            height: 2.3rem;
            position: absolute;
            left: 7.7rem;
            top: 4.8rem;
            border: solid 0.1rem #000000;
            width: 8.2rem;
            box-sizing: border-box;
            background-color: #d9d9d9;
            border-radius: 1.5rem;
          }
          .follow-KSu {
            position: absolute;
            line-height: 1.81;
            white-space: nowrap;
            top: 4.7rem;
            font-size: 1.3rem;
            font-weight: 400;
            color: #000000;
            font-family: Arya, 'Source Sans Pro';
            width: 3.4rem;
            height: 2.4rem;
            left: 9.8rem;
          }
          .rectangle-214-dyP {
            width: 33.1rem;
            height: 11.2rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(81, 81, 81, 0.75);
          }
          .followed-Bzu {
            width: 8.9rem;
            height: 2.5rem;
            left: 11.4rem;
            top: 4.7rem;
            color: #ffffff;
            white-space: nowrap;
            position: absolute;
            text-align: center;
            font-size: 2rem;
            font-weight: 800;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
    }
    .auto-group-9tkf-JJq {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .followed-hashtags-rbF {
        line-height: 1.2675;
        color: #000000;
        font-family: Acme, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 66.5rem;
        font-size: 1.5rem;
        font-weight: 400;
      }
      .union-zBf {
        margin: 1.4rem 13.732rem 0rem 0rem;
        width: 3.5684rem;
        height: 2.8489rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-v5K {
        flex-shrink: 0;
        margin-top: 0.6rem;
        width: 3.4344rem;
        height: 3.4344rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
}
