
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 43.2rem;
}.th-44-pd3 {
  height: 7.5rem;
  position: relative;
  background-size: 132.064% 189.157%;
  background-position: -6.6172rem -3.3434rem;
  background-image: url('REPLACE_IMAGE:c0fc40f5e4ec4e1382742a04930ccde29df791b3');
  width: 43.2rem;
}
