
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 7.1rem;
}.th-41-Hvd {
  vertical-align: top;
  width: 100%;
  height: 5.9rem;
  object-fit: cover;
}
