
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.post-NVb {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #4682a9;
}
.post-NVb .auto-group-czzy-8Ds {
  width: 11.2rem;
  height: 102.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.post-NVb .auto-group-l8td-4NR {
  box-sizing: border-box;
  padding: 3.6rem 4.8rem 0rem 1.8rem;
  height: 102.4rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf {
  margin-top: 1.4rem;
  width: 121rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .auto-group-2t4m-7rV {
  margin: 0rem 1.85rem 6rem 0rem;
  width: calc(100% - 1.85rem);
  height: 4.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .auto-group-2t4m-7rV .auto-group-qsmb-ERK {
  margin-right: 88.35rem;
  width: 20.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2800000509;
  color: #000000;
  font-family: Aoboshi One, 'Source Sans Pro';
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-jKs.png');
  flex-shrink: 0;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .auto-group-2t4m-7rV .welcome-dilla-7ED {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2800000509;
  color: #ffffff;
  font-family: Aoboshi One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR {
  width: 113.5rem;
  height: 88.4rem;
  position: relative;
  overflow: hidden;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .rectangle-8f7 {
  width: 83.5rem;
  height: 72.3rem;
  position: absolute;
  left: 13rem;
  top: 8rem;
  border: solid 0.2rem #000000;
  box-sizing: border-box;
  border-radius: 3rem;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .line-4-Svh {
  width: 83.5rem;
  height: 0.2rem;
  position: absolute;
  left: 13rem;
  top: 48.7974rem;
  background-color: #000000;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .ellipse-aX7 {
  width: 5.9rem;
  height: 4.5rem;
  position: absolute;
  left: 16.3rem;
  top: 10rem;
  object-fit: contain;
  vertical-align: top;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .pt-mencari-cinta-sejati-Ji1 {
  width: 19.5rem;
  height: 3.6rem;
  position: absolute;
  left: 22.9rem;
  top: 10.6rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .wallpaperflare-1-zqj {
  width: 83.5rem;
  height: 27.7rem;
  position: absolute;
  left: 13rem;
  top: 15rem;
  object-fit: cover;
  vertical-align: top;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .vector-KND {
  width: 6rem;
  height: 4.5rem;
  position: absolute;
  left: 15.4rem;
  top: 50.4rem;
  object-fit: contain;
  vertical-align: top;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .vector-Fmf {
  width: 6rem;
  height: 4.5rem;
  position: absolute;
  left: 15.4rem;
  top: 61.6rem;
  object-fit: contain;
  vertical-align: top;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .rectangle-216-Pss {
  width: 70.7rem;
  height: 7.2rem;
  position: absolute;
  left: 22.7rem;
  top: 61.6rem;
  background-color: #ececec;
  border-radius: 0.8rem;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .jonathan-milos-ifF {
  width: 7.8rem;
  height: 1.7rem;
  position: absolute;
  left: 23.5rem;
  top: 62.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .likes-zMs {
  width: 6.6rem;
  height: 2.6rem;
  position: absolute;
  left: 25.3rem;
  top: 51.1rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .data-architect-GKP {
  width: 4.1rem;
  height: 1.3rem;
  position: absolute;
  left: 23.5rem;
  top: 64rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .now-Mrd {
  width: 1.4rem;
  height: 1.3rem;
  position: absolute;
  left: 90.8rem;
  top: 62.7rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .like-4W9 {
  width: 1.2rem;
  height: 1.3rem;
  position: absolute;
  left: 23.5rem;
  top: 66.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .reply-Nmj {
  width: 1.6rem;
  height: 1.3rem;
  position: absolute;
  left: 26.8rem;
  top: 66.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .item--VbT {
  width: 0.2rem;
  height: 1.3rem;
  position: absolute;
  left: 25.9rem;
  top: 66.4rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .nice-1Ju {
  width: 2.4rem;
  height: 2.3rem;
  position: absolute;
  left: 23.3rem;
  top: 64.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .vector-KqP {
  width: 6rem;
  height: 4.5rem;
  position: absolute;
  left: 17.3rem;
  top: 50.4rem;
  object-fit: contain;
  vertical-align: top;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .vector-sc1 {
  width: 6rem;
  height: 4.5rem;
  position: absolute;
  left: 15.6rem;
  top: 71.1rem;
  object-fit: contain;
  vertical-align: top;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .rectangle-217-oVf {
  width: 70.7rem;
  height: 7.2rem;
  position: absolute;
  left: 22.7rem;
  top: 70.6rem;
  background-color: #ececec;
  border-radius: 0.8rem;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .joseph-felix-7WM {
  width: 6.2rem;
  height: 1.7rem;
  position: absolute;
  left: 23.5rem;
  top: 71.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2675;
  color: #000000;
  font-family: Acme, 'Source Sans Pro';
  white-space: nowrap;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .ceo-of-pt-sern-Rmw {
  width: 5.2rem;
  height: 1.3rem;
  position: absolute;
  left: 23.5rem;
  top: 73rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .d-Le1 {
  width: 0.8rem;
  height: 1.3rem;
  position: absolute;
  left: 91.1rem;
  top: 71.7rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .like-4a1 {
  width: 1.2rem;
  height: 1.3rem;
  position: absolute;
  left: 23.5rem;
  top: 75.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .reply-P6V {
  width: 1.6rem;
  height: 1.3rem;
  position: absolute;
  left: 26.8rem;
  top: 75.6rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .item--VQR {
  width: 0.2rem;
  height: 1.3rem;
  position: absolute;
  left: 25.9rem;
  top: 75.4rem;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 1.76;
  color: rgba(82, 82, 82, 0.6000000238);
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .nice-one-ZQH {
  width: 4.7rem;
  height: 2.3rem;
  position: absolute;
  left: 23.3rem;
  top: 73.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.76;
  color: #000000;
  font-family: Amiri, 'Source Sans Pro';
  white-space: nowrap;
}
.post-NVb .auto-group-l8td-4NR .auto-group-ayfo-abf .frame-88-peR .you-delete-this-page-UGM {
  width: 31.1rem;
  height: 2.3rem;
  position: absolute;
  left: 40.15rem;
  top: 44.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 800;
  line-height: 0.746666654;
  color: #ff0000;
  font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
  white-space: nowrap;
}
.post-NVb .auto-group-l8td-4NR .vector-M5F {
  width: 5.7rem;
  height: 5.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
